<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Locais de Instalações</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Configurações</a></li>
              <li class="breadcrumb-item"><a href="#">Operações</a></li>
              <li class="breadcrumb-item active">Locais de Instalações</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="content">
        <div class="row">

          <div class="col-lg-12 col-12">
            <div class="modall modal-info fadee" data-backdrop="static">
              <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
                <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title"> Filtro de Dados</h4>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                    <div class="row">


                      <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                          <!--<label style="color: #fff;">Entrada</label>-->
                          <select name="perPage" (change)="getPageFilterData($event)"
                            [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
                            <option value="1">Entrada</option>
                            <option value="5" selected>5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                          </select>
                        </div>
                        <!-- /.input group -->
                      </div>

                      <div class="col-md-4 col-xs-3">
                        <div class="form-group">
                          <input type="text" name="search" [(ngModel)]="this.http.filters.search"
                            placeholder="Pesquisar..." class="form-control" (keyup)="getPageFilterData($event)">
                          <i class="fa fa-search"
                            style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                        </div>
                        <!-- /.input group -->
                      </div>

                      <div class="col-md-2">
                        <div class="form-group">
                          <select name="orderBy" (change)="getPageFilterData($event)"
                            [(ngModel)]="this.http.filters.orderBy" class="form-control">
                            <option [ngValue]="null">Ordernar</option>
                            <option value="local_instalacaos.moradia_numero">Número</option>
                            <option value="local_instalacaos.predio_nome">Predio</option>
                            <option value="ruas.predio_nome">Ruas</option>
                            <option value="bairros.predio_nome">Bairros</option>
                            <option value="distritos.predio_nome">Comunas</option>
                            <option value="municipios.predio_nome">Municípios</option>
                            <option value="provincias.predio_nome">Províncias</option>
                            <option value="local_instalacaos.is_active">Estado</option>
                            <option value="users.predio_nome">Utilizador</option>
                          </select>

                        </div>
                        <!-- /.input group -->
                      </div>


                      <div class="col-md-1">
                        <!-- <div class="form-group">
                          <div class="input-group">
                            <button type="button" class="btn btn-info btn-flatt mr-1 btn-smm" type="button"><i
                                class="fa fa-search"></i>
                              Filtrar</button>
                          </div>
                        </div> -->
                      </div>

                      <div class="col-md-1 col-xs-3">
                        <div class="form-group" style="float: right;">
                          <div class="input-group">
                            <div class="btn-group">

                              <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle dropdown-icon btn-flat"
                                  data-toggle="dropdown" aria-expanded="false" [disabled]="disabledButton"> <i
                                    class="fa fa-download"></i> Exportação
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start" style="left: 40px;">
                                  <!-- <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsPDF();"><i
                                      class="fa fa-file-pdf-o"></i>
                                    PDF</a> -->
                                  <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsXLSX();"><i
                                      class="fa fa-file-excel-o"></i> Excel</a>
                                </div>
                              </div>
                              <!-- <button type="button" class="btn btn-info btn-flat" (click)="imprimirPDF()"
                                [disabled]="disabledButton"><i class="icon-printer"></i> Imprimir</button> -->

                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>


                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-12 col-12">
            <div class="modall modal-info fadee" data-backdrop="static">
              <div class="modal-dialog" style="max-width: 100%;">
                <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                  <!-- Modal Header -->
                  <app-loading></app-loading>
                  <div class="modal-header">
                    <h4 class="modal-title">Lista de Locais de Instalações</h4>

                    <div class="card-tools">
                      <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-toggle="modal"
                        data-target="#modalCreateOrEditLocalInstalacao"
                        (click)="initLocalInstalacao(); getConfiguracaos()"><i class="fa fa-plus"></i>
                        Registar</button>
                    </div>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                    <!-- /.card-body -->
                    <div class="table-responsivee">


                      <ngx-loading [show]="loading"></ngx-loading>

                      <table *ngIf="items.length > 0;else emptyList"
                        class="table table-hover table-bordered table-stripedd text-center m-0 exportAsXLSXCliente">
                        <tbody>
                          <tr style="color: #fff; background: #0099FF;">
                            <th>Alocação</th>
                            <th>CIL</th>
                            <th>Rua</th>
                            <th>Quarteirão</th>
                            <th>Bairro</th>
                            <th>Comuna</th>
                            <th>Município</th>
                            <th>Geolocalização</th>
                            <th>Ligação</th>
                            <th>Tipo de Ligação</th>
                            <th width="150px">Estado</th>
                            <th>Data de Criação</th>
                            <th>Utilizador</th>

                            <th width="150px">Operações</th>
                          </tr>

                          <tr
                            *ngFor="let item of items | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                            <td>
                              {{ ((item.is_predio) ? 'Prédio ' + item.predio_nome + ', ' + item.predio_andar + 'ºAndar -
                              Porta ' : 'Residência ') + item.moradia_numero }}
                            </td>
                            <td>{{ (item.cil != null) ? item.cil : '------' }}</td>
                            <td>{{ item.rua }}</td>
                            <td *ngIf="item.quarteirao != null;else dataEmpty">{{ item.quarteirao }}</td>
                            <td>{{ item.bairro }}</td>
                            <td *ngIf="item.distrito != null;else dataEmpty">{{ item.distrito }}</td>
                            <td>{{ item.municipio }}</td>
                            <td>
                              <span *ngIf="item.latitude != null && item.longitude != null;else dataEmpty">{{ '[' +
                                item.latitude + '] [' + item.longitude + ']' }}</span>
                            </td>
                            <td>{{ item.objecto_ligacao }}</td>
                            <td>{{ item.tipo_objecto_ligacao }}</td>
                            <td>
                              <span class="btn bg-danger btn-block btn-flat status-label"
                                *ngIf="!item.is_active">Desactivo</span>
                              <span class="btn bg-success btn-block btn-flat status-label"
                                *ngIf="item.is_active">Activo</span>
                            </td>

                            <td>{{ item.created_at | date: 'dd-MM-yyyy HH:mm' }}</td>
                            <td>{{ item.user }}</td>

                            <td>
                              <div class="btn-group btn-block">
                                <button type="button" class="btn btn-info  btn-flat btn-sm"
                                  data-toggle="dropdown">Opções</button>
                                <button type="button" class="btn btn-info btn-flat dropdown-toggle"
                                  data-toggle="dropdown" aria-expanded="false">
                                  <span class="caret"></span>
                                  <span class="sr-only">Menu Serviços</span>
                                </button>
                                <div class="dropdown-menu" role="menu" x-placement="bottom-start">

                                  <a href="javascript:void(0)" class="dropdown-item btn-sm"
                                    (click)="setDataLocalInstalacao(item); setDataToEditLocalInstalacao()"
                                    data-toggle="modal" data-target="#modalCreateOrEditLocalInstalacao">
                                    <i class="fa fa-edit"></i> Editar
                                  </a>

                                  <a href="javascript:void(0)" class="dropdown-item btn-sm"
                                    (click)="setDataLocalInstalacao(item)" data-toggle="modal"
                                    data-target="#modalSubLocalInstalacao">
                                    <i class="fa fa-edit"></i> Ligações
                                  </a>

                                  <div class="divider"></div>

                                  <a href="javascript:void(0)" class="dropdown-item btn-sm"
                                    (click)="setDataLocalInstalacao(item); getHistoricoById(item.id)"
                                    data-toggle="modal" data-target="#modalHistoricoLocalInstalacao">
                                    <i class="fa fa-edit"></i> Histórico
                                  </a>



                                  <!--      <a href="javascript:void(0)" class="dropdown-item btn-sm"
                                    data-widget="chat-pane-toggle" (click)="getLocalInstalacaosByLocalInstalacao(item.id)"
                                    title="LocalInstalacaos" data-toggle="modal" data-target="#modalLocalInstalacaosByLocalInstalacao">
                                    <i class="fa fa-credit-card"></i> Locais de Instalações
                                  </a>
 -->
                                  <a href="javascript:void(0)" class="dropdown-item btn-sm"
                                    (click)="updateStateLocalInstalacao(item)">
                                    <span class="label-danger" style="border-radius: 6px; padding: 2px 6px;"
                                      *ngIf="item.is_active"><i class="fa fa-refresh"></i> Desactivar</span>
                                    <span class="label-success" style="border-radius: 6px; padding: 2px 6px;"
                                      *ngIf="!item.is_active"><i class="fa fa-refresh"></i> Activar</span>
                                  </a>

                                </div>
                              </div>
                            </td>

                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="modal-footer">
                    <div class="row" style="width: 100%;">
                      <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                          {{this.http.filters.pagination.perPage}} de
                          {{this.http.filters.pagination.total}} Registos
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-7">
                        <div class="pull-right">
                          <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior"
                            maxSize="6" nextLabel="Proximo" directionLinks="true" responsive="true">
                          </pagination-controls>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </section>
  </div>


  <div class="modal modal-info fade in" id="modalSubLocalInstalacao" data-backdrop="static">
    <div class="modal-dialog modal-lg " style="max-width: 1500px;">
      <div class="modal-content">

        <div class="modal-header">
          <div class="card-tools">
            <button type="button" class="btn btn-primary btn-smm" data-toggle="modal" data-target="#newRotaRunModal"
              style="margin-right: 10px">
              <i class="fa fa-plus"></i> Criar Ligação</button>
          </div>
          <h4 class="modal-title"><i class="nav-icon fa fa-home"></i> Ligações</h4>

          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <app-loading></app-loading>

          <div class="col-md-12 row" style="padding: 0px; margin: 0px;">
            <!--
            <h3 class="col-md-10 text-left" style="padding: 15px 10px;background: #0099FF; color: #ffffff;">Ligação
              Inicial:
              {{ rota_header.descricao }} | {{ rota_header.data_inicio | date: 'dd-MM-yyyy' }} -
              {{ rota_header.data_fim | date: 'dd-MM-yyyy' }}
            </h3>
            -->
          </div>
          <hr>

          <!--
          <table *ngIf="ligacao_local_instalacaos.length > 0;else emptyList" class="table table-hover table-bordered">
            <thead>
              <tr style="color: #fff; background: #0099FF;">
                <th>Alocação</th>
                <th>Rua</th>
                <th>Bairro</th>
                <th>Comuna</th>
                <th>Município</th>
                <th>Geolocalização</th>
                <th width="150px">Estado</th>
                <th>Utilizador</th>
              </tr>
            </thead>

            <tr
              *ngFor="let item of items | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">

            </tr>


            <tbody>
              <tr *ngFor="let item of ligacao_local_instalacaos index as i">

                <td>
                  {{ ((item.is_predio) ? 'Prédio ' + item.predio_nome + ', ' + item.predio_andar + 'ºAndar - Porta ' : 'Residência ') + item.moradia_numero }}
                </td>
                <td>{{ item.rua }}</td>
                <td>{{ item.bairro }}</td>
                <td *ngIf="item.distrito != null;else dataEmpty">{{ item.distrito }}</td>
                <td>{{ item.municipio }}</td>
                <td>
                  <span
                    *ngIf="item.latitude != null && item.longitude != null;else dataEmpty">{{ '[' + item.latitude + '] [' + item.longitude + ']' }}</span>
                </td>
                <td>
                  <span class="btn bg-danger btn-block btn-flat status-label"
                    *ngIf="item.is_active == false">Desactivo</span>
                  <span class="btn bg-success btn-block btn-flat status-label"
                    *ngIf="item.is_active == true">Activo</span>
                </td>
                <td>{{ item.user }}</td>

                <td>
                  <div class="btn-group btn-block">
                    <button type="button" class="btn btn-info  btn-flat btn-sm" data-toggle="dropdown">Opções</button>
                    <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown"
                      aria-expanded="false">
                      <span class="caret"></span>
                      <span class="sr-only">Menu Serviços</span>
                    </button>
                    <div class="dropdown-menu" role="menu" x-placement="bottom-start">

                      <a href="javascript:void(0)" class="dropdown-item btn-sm" (click)="setDataLocalInstalacao(item)"
                        data-toggle="modal" data-target="#modalCreateOrEditLocalInstalacao">
                        <i class="fa fa-edit"></i> Editar
                      </a>

                      <a href="javascript:void(0)" class="dropdown-item btn-sm"
                        (click)="updateStateLocalInstalacao(item)">
                        <span class="label-danger" style="border-radius: 6px; padding: 2px 6px;"
                          *ngIf="item.is_active"><i class="fa fa-refresh"></i> Desactivar</span>
                        <span class="label-success" style="border-radius: 6px; padding: 2px 6px;"
                          *ngIf="!item.is_active"><i class="fa fa-refresh"></i> Activar</span>
                      </a>

                      <a href="javascript:void(0)" class="dropdown-item btn-sm"
                        (click)="updateStateLocalInstalacao(item)">
                        <span class="label-danger" style="border-radius: 6px; padding: 2px 6px;"
                          *ngIf="item.is_active"><i class="fa fa-refresh"></i> Desassociar</span>
                        <span class="label-success" style="border-radius: 6px; padding: 2px 6px;"
                          *ngIf="!item.is_active"><i class="fa fa-refresh"></i> Associar</span>
                      </a>

                    </div>
                  </div>
                </td>



                <td>{{ item.id }}</td>
                <td>{{ item.rota_header }}</td>
                <td>{{ item.cliente }}</td>
                <td>{{ item.cliente_telefone }}</td>
                <td>{{ item.cliente_morada }}</td>
                <td>{{ item.conta_id }}</td>
                <td>{{ item.numero_serie }}</td>
                <td>
                  <span class="btn bg-danger btn-block btn-flat status-label"
                    *ngIf="item.estado_rota_slug =='CANCELADA'">{{ item.estado_rota }}</span>
                  <span class="btn bg-yellow btn-block btn-flat status-label"
                    *ngIf="item.estado_rota_slug =='PENDENTE'">{{ item.estado_rota }}</span>
                  <span class="btn bg-success btn-block btn-flat status-label"
                    *ngIf="item.estado_rota_slug =='REALIZADA'">{{ item.estado_rota }}</span>
                </td>
                <td>
                  <input *ngIf="item.estado_rota_slug =='PENDENTE'" type="number" placeholder="Leitura"
                    [(ngModel)]="item.leitura" class="form-control">

                  <span *ngIf="item.estado_rota_slug =='REALIZADA' || item.estado_rota_slug =='CANCELADA'">
                    {{ item.leitura }}
                  </span>

                </td>
                <td>
                  <input *ngIf="item.estado_rota_slug =='PENDENTE'" type="date" placeholder="Data da Leitura"
                    [(ngModel)]="item.data_leitura" class="form-control">

                  <span *ngIf="item.estado_rota_slug =='REALIZADA' || item.estado_rota_slug =='CANCELADA'">
                    {{ item.data_leitura | date: 'dd-MM-yyyy' }}
                  </span>

                </td>
              </tr>
            </tbody>
          </table>
-->

          <table *ngIf="ligacao_local_instalacaos.length > 0;else emptyList"
            class="table table-hover table-bordered table-striped text-center">
            <thead>
              <tr style="color: #fff; background: #0099FF;">
                <th>Ponto Inicial</th>
                <th>Ponto Final</th>
                <th>Comprimento</th>
                <th>Diâmetro Nominal</th>
                <th>Profundidade</th>
                <th width="150px">CIL</th>
                <th width="150">#</th>
                <th><i class="fa fa-check"></i></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of ligacao_local_instalacaos">
                <td>{{ item.ponto_a_tipo_objecto }} - {{ item.ponto_a }}</td>
                <td>
                  <span *ngIf="item.local_instalacao_id == null">{{ item.ponto_b_tipo_objecto }} -
                    {{ item.ponto_b }}</span>
                  <span *ngIf="item.local_instalacao_id != null">{{ ((item.is_predio) ? 'Prédio ' + item.predio_nome +
                    ', ' + item.predio_andar + 'ºAndar - Porta ' : 'Residência ') + item.moradia_numero }}</span>
                </td>
                <td>{{ item.comprimento }}</td>
                <td>{{ item.diamentro }}</td>
                <td>{{ item.profundidade }}</td>
                <td>
                  <div>
                    <i style="padding: 3px; border-radius: 5px;" *ngIf="item.local_instalacao_id != null"
                      class="fa fa-check alert-success"></i>
                    <i style="padding: 3px 5px; border-radius: 5px;" *ngIf="item.local_instalacao_id == null"
                      class="fa fa-close alert-danger"></i>
                  </div>
                </td>
                <td>

                  <button class="btn btn-blockk btn-primary btn-sm" (click)="setLigacaoRamal(item);">Selecionar</button>

                </td>
                <td class="text-center">

                  <i style="padding: 3px; border-radius: 5px;" *ngIf="local_instalacao.ligacao_ramal_id == item.id"
                    class="fa fa-check alert-success"></i>
                </td>
              </tr>
            </tbody>
          </table>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
        </div>

      </div>
    </div>
  </div>


  <div class="modal modal-info fade in" id="modalHistoricoLocalInstalacao" data-backdrop="static">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title"><i class="nav-icon fa fa-home"></i> Histórico
          </h4>

          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <app-loading></app-loading>


          <h3 class="col-md-12 text-left" style="padding: 15px 10px;background: #0099FF; color: #ffffff;">
            {{ ((local_instalacao.cil) ? '[' + local_instalacao.cil + '] ': '') + ((local_instalacao.is_predio || local_instalacao.predio_nome != null) ? 'Prédio ' + local_instalacao.predio_nome + ', ' +
            local_instalacao.predio_andar + 'ºAndar - Porta ' : 'Residência ') + local_instalacao.moradia_numero }}
          </h3>

          <hr>

          <table *ngIf="historico_local_instalacaos.length > 0;else emptyList"
            class="table table-hover table-bordered table-striped text-center">
            <thead>
              <tr style="color: #fff; background: #0099FF;">
                <th>Data</th>
                <th>Operação</th>
                <th>Utilizador</th>
                <th width="150">#</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of historico_local_instalacaos">
                <td>{{ item.created_at | date: 'dd-MM-yyyy HH:mm' }}</td>
                <td>{{ item.operacao }}</td>
                <td>{{ item.user }}</td>
                <td>
                  <button class="btn btn-blockk btn-primary btn-sm" data-toggle="modal"
                    (click)="getDetalheHistorico(item)" data-target="#modalHistoricoDetalhe">Detalhe</button>
                </td>
              </tr>
            </tbody>
          </table>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
        </div>

      </div>
    </div>
  </div>


  <div class="modal modal-info fade in" id="modalHistoricoDetalhe" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="width: 1500px;">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title"><i class="nav-icon fa fa-home"></i> Histórico de {{ detalhe_historico.operacao }}</h4>

          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <app-loading></app-loading>

          <h3 class="col-md-12 text-left" style="padding: 15px 10px;background: #0099FF; color: #ffffff;">
            {{ detalhe_historico.alocacao }}
          </h3>

          <div class="col-sm-12 row">

            <div class="col-sm-12 row">
              <div class="col-sm-4"></div>
              <h4 class="col-sm-4 text-center" style="padding: 10px; color: #0099FF;">
                Histórico
                <hr>
              </h4>
              <h4 class="col-sm-4 text-center" style="padding: 10px; color: #0099FF;">
                Actualização
                <hr>
              </h4>
            </div>
            <div class="col-sm-12" *ngFor="let item of detalheProps">
              <div class="col-sm-12 row" [innerHTML]="item" style="border-bottom: 1px solid rgba(0,0,0,.1); "></div>
            </div>

          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
        </div>

      </div>
    </div>
  </div>


  <app-create-or-edit-local-instalacao [local_instalacao]="{
    id: this.local_instalacao.id,
    abastecimento_cil_id: this.local_instalacao.abastecimento_cil_id,
    acesso_camiao_flag: this.local_instalacao.acesso_camiao_flag,
    anexo_flag: this.local_instalacao.anexo_flag,
    anexo_quantidade: this.local_instalacao.anexo_quantidade,
    bairro_id: this.local_instalacao.bairro_id,
    caixa_contador_flag: this.local_instalacao.caixa_contador_flag,
    campo_jardim_id: this.local_instalacao.campo_jardim_id,
    cil: this.local_instalacao.cil,
    distrito_id: this.local_instalacao.distrito_id,
    estado_caixa_contador_id: this.local_instalacao.estado_caixa_contador_id,
    fossa_capacidade: this.local_instalacao.fossa_capacidade,
    fossa_flag: this.local_instalacao.fossa_flag,
    instalacao_sanitaria_qtd: this.local_instalacao.instalacao_sanitaria_qtd,
    is_predio: this.local_instalacao.is_predio,
    jardim_flag: this.local_instalacao.jardim_flag,
    latitude: this.local_instalacao.latitude,
    longitude: this.local_instalacao.longitude,
    moradia_numero: this.local_instalacao.moradia_numero,
    municipio_id: this.local_instalacao.municipio_id,
    objecto_ligacao_id: this.local_instalacao.objecto_ligacao_id,
    piscina_capacidade: this.local_instalacao.piscina_capacidade,
    piscina_flag: this.local_instalacao.piscina_flag,
    poco_alternativo_flag: this.local_instalacao.poco_alternativo_flag,
    predio_andar: this.local_instalacao.predio_andar,
    predio_id: this.local_instalacao.predio_id,
    predio_nome: this.local_instalacao.predio_nome,
    provincia_id: this.local_instalacao.provincia_id,
    quarteirao_id: this.local_instalacao.quarteirao_id,
    reservatorio_capacidade: this.local_instalacao.reservatorio_capacidade,
    reservatorio_flag: this.local_instalacao.reservatorio_flag,
    rua_id: this.local_instalacao.rua_id,
    user: this.local_instalacao.user

  }" [addRows]="addRows" [municipios]="this.municipios" [distritos]="this.distritos" [bairros]="this.bairros"
    [ruas]="this.ruas">
  </app-create-or-edit-local-instalacao>


  <ng-template #emptyList>
    <div align="center">
      <h2>Sem resultados</h2>
      <span></span>
    </div>
  </ng-template>

  <ng-template #dataEmpty>------</ng-template>

  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>


