<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><i class="fa fa-file-pdf-o"></i> Movimentos de Caixa</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Reporting & BI</a></li>
              <li class="breadcrumb-item">Agência </li>
              <li class="breadcrumb-item active">Movimentos de Caixa</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

      <div class="row">

        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title"> Filtro de Dados</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <!-- /.card-body -->
                  <form [formGroup]="simpleForm" (submit)="onSubmit();">
                    <div class="row">
                      <div class="col-md-2 col-xs-3">
                        <div class="form-group">
                          <label>Data de Inicial</label>
                          <div class="input-group">


                            <input type="date" [ngClass]="{ 'is-invalid': submitted && f.data1.errors, 'is-valid': f.data1.touched && !f.data1.errors }" formControlName="data1" autocomplete="data1" class="form-control"
                    placeholder="">

                            <div *ngIf="submitted && f['data1'].errors" class="invalid-feedback">
                              <div *ngIf="f['data1'].errors.required">Data Inicial é obrigatório</div>
                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>

                      <div class="col-md-2 col-xs-3">
                        <div class="form-group">
                          <label>Data de Final</label>
                          <div class="input-group">



                            <input type="date" formControlName="data2" autocomplete="data2" required class="form-control"
                            [ngClass]="{ 'is-invalid': f.data2.touched &&  f.data2.errors, 'is-valid': f.data2.touched && !f.data2.errors }">


                            <div *ngIf=" f.data2.errors" class="invalid-feedback">
                              <div *ngIf="f.data2.errors">Data Final deve ser igual ou superior a Data Inicial </div>
                            </div>

                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>

                      <div class="col-md-2 col-xs-3">
                        <div class="form-group">
                          <label>Operador</label>
                          <select class="form-control" required autofocus  formControlName="operador" [ngClass]="{ 'is-invalid': submitted && f.operador.errors, 'is-valid': f.operador.touched && !f.operador.errors }" (change)="getoperadores()">
                            <option [value]="null">operador</option>
                            <option value="T"> Todos</option>
                            <option *ngFor="let operadore of operadores"  [value]="operadore.id"> {{operadore.nome}} </option>
                          </select>
                          <div *ngIf="submitted && f['operador'].errors" class="invalid-feedback">
                            <div *ngIf="f['operador'].errors.required">O campo operador é obrigatório</div>
                          </div>
                        </div>
                      </div>


                      <div class="col-md-2 col-xs-3">
                        <div class="form-group">
                          <label>Agência</label>
                          <div class="input-group">
                            <select class="form-control" formControlName="loja" placeholder="Filiais" autocomplete="loja" required
                              [ngClass]="{ 'is-invalid': submitted && f.loja.errors, 'is-valid': f.loja.touched && !f.loja.errors }">
                              <option value="null">{{loadingLojas}}</option>
                              <option value="T"> Todas</option>
                              <option *ngFor="let loja of lojas" [value]="loja.id">{{loja.nome}}</option>
                            </select>
                            <div *ngIf="submitted && f['loja'].errors" class="invalid-feedback">
                              <div *ngIf="f['loja'].errors.required">Agência é obrigatório</div>
                            </div>

                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>

                     <!-- <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                          <label>Dia</label>
                          <div class="input-group">
                            <select class="form-control" formControlName="dia" placeholder="Filiais" autocomplete="dia" required (change)="changeProduto()"
                              [ngClass]="{ 'is-invalid': submitted && f.dia.errors, 'is-valid': f.dia.touched && !f.dia.errors }">
                              <option value="null">Dia</option>
                              <option value="T"> Todos</option>
                            </select>
                            <div *ngIf="submitted && f['produto'].errors" class="invalid-feedback">
                              <div *ngIf="f['dia'].errors.required">Produto é obrigatório</div>
                            </div>
                          </div>
                           /.input group
                        </div>
                      </div> -->

                      <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                          <label style="color: #fff;">s</label>
                          <div class="input-group">
                            <button type="button" class="btn btn-info btn-flat  mr-1 btn-smm" type="submit" [disabled]="simpleForm.pristine || simpleForm.invalid" data-style="expand-left"><i class="fa fa-search"></i>
                              Filtrar</button>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>

                      <div class="col-md-2 col-xs-3">
                        <div class="form-group">
                          <label style="color: #fff;">s</label>
                          <div class="input-group">
                            <div class="btn-group">

                              <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle dropdown-icon btn-flat" data-toggle="dropdown"
                                  aria-expanded="false" [disabled]="disabledButton"> <i class="fa fa-download"></i> Exportação
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start" style="left: 40px;">
                                  <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsPDF();"><i class="fa fa-file-pdf-o"></i> PDF</a>
                                  <a class="dropdown-item" href="javascript:void(0)" (click)="setTrue();"><i class="fa fa-file-excel-o"></i> Excel</a>
                                </div>
                              </div>
                              <button type="button" class="btn btn-info btn-flat" (click)="imprimirPDF()" [disabled]="disabledButton"><i class="icon-printer"></i> Imprimir</button>

                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>



                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">MOVIMENTOS DE CAIXA</h4>
                  <div class="card-tools">
                  </div>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <!-- /.card-body -->
                  <div class="table-responsive" >
                    <ngx-loading [show]="loading"></ngx-loading>

                    <table class="table table-hover table-bordered table-stripedd text-center m-0 exportAsXLSXCliente">
                      <tbody>
                        <tr  style="color: #fff; background: #17a2b8;">
                          <th>Agência</th>
                          <th>Operador</th>
                          <th>Estado</th>
                          <th>Data/hora Abertura</th>
                          <th>Data/hora Fecho</th>
                          <th style="background: #8a8484;">Valor Abertura</th>
                          <th style="background: #8a8484;">Total Vendas</th>
                          <th style="background: #8a8484;">Valor Fecho</th>
                          <!--
                          <th>Valor Depositado</th>
                          <th>Data Deposito</th>
                          <th>Conta Bancaria</th>
                          <th>Referencia Bancaria</th>
                          -->
                        </tr>

                        <tr *ngFor="let caixa of movimentos ">
                          <td >{{ caixa.loja }}</td>
                          <td >{{ caixa.operador}}</td>
                          <td>
                            <span *ngIf="caixa.is_active ==1">Aberto</span>
                            <span *ngIf="caixa.is_active ==0">Fechado</span>
                          </td>
                          <td >{{ caixa.data_abertura }} {{ caixa.hora_abertura}}</td>
                          <td >{{ caixa.data_fecho }} {{ caixa.hora_fecho}}</td>
                          <td >{{ configService.numberFormat(caixa.valor_abertura) }}</td>
                          <td >{{ configService.numberFormat(caixa.valor_vendas) }}</td>
                          <td >{{ configService.numberFormat(caixa.valor_fecho) }}</td>
                          <!--
                          <td >{{ configService.numberFormat(caixa.valor_deposito) }}</td>
                          <td >{{ caixa.data_deposito | date: 'dd-MM-yyyy' }}</td>
                          <td >{{ caixa.banco }}({{caixa.numero_conta}})</td>
                          <td >{{ caixa.referencia_banco }}</td>
                          -->
                        </tr>
                      </tbody>
                        <tr style="background: #eeeeeea8;">
                          <th colspan="5" class="text-right"><b>TOTAL</b></th>
                          <th class="text-right"><b>{{ this.configService.numberFormat(this.totais.valor_abertura)}}</b></th>
                          <th class="text-right"><b>{{ this.configService.numberFormat(this.totais.valor_vendas)}}</b></th>
                          <th class="text-right"><b>{{ this.configService.numberFormat(this.totais.valor_fecho)}}</b></th>
                        </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- /.content -->
  </div>
  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>
