<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><i class="fa fa-file-pdf-o"></i> Relatórios de Extracção de Clientes, Contas e Contratos</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Operações</a></li>
              <li class="breadcrumb-item"><a href="#">Reporting & BI</a></li>
              <li class="breadcrumb-item active"> Relatórios de Extracção de Clientes, Contas e Contratos</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

      <div class="row">

        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title"> Filtro de Dados</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <div class="row">

                     <div class="col-md-1 col-xs-3">
                      <label>Entrada</label>
                      <div class="input-group mb.">
                        <select name="perPage" (change)="getPageFilterData($event.target.value)"
                        [(ngModel)]="this.filters.pagination.perPage" class="form-control">
                          <option value="5" selected>Entrada</option>
                          <option value="5">5</option>
                          <option value="10">10</option>
                          <option value="15">15</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-1 col-xs-3">
                      <label>Tipo Facturação</label>
                      <div class="input-group mb-3">
                        <select name="tipofacturacao" [(ngModel)]="this.filter.tipo_facturacao" class="form-control">
                          <option [ngValue]="null">Tipo Facturação</option>
                          <option value="T">Todos</option>
                          <option value="{{item.id}}" *ngFor="let item of tipofacturacao">
                            {{ item.descricao}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-1 col-xs-3">
                      <label>Tipo Cliente</label>
                      <div class="input-group mb-3">
                        <select name="tipo_cliente" [(ngModel)]="this.filter.tipo_cliente" class="form-control">
                          <option [ngValue]="null">Tipo Cliente</option>
                          <option value="T">Todos</option>
                          <option value="{{item.id}}" *ngFor="let item of tipoclientes">
                            {{ item.tipoClienteDesc}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-2 col-xs-3">
                      <label>Tipo Identificação</label>
                      <div class="input-group mb-3">
                        <select name="tipo_identificacao" [(ngModel)]="this.filter.tipo_identificacao" class="form-control">
                          <option [ngValue]="null">Tipo Identificação</option>
                          <option value="T">Todos</option>
                          <option value="{{item.id}}" *ngFor="let item of tipoidentidades">
                            {{ item.nome}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-1 col-xs-3">
                      <label>Gênero</label>
                      <div class="input-group mb-3">
                        <select name="genero" [(ngModel)]="this.filter.genero" class="form-control">
                          <option [ngValue]="null">Gênero</option>
                          <option value="T">Todos</option>
                          <option value="{{item.id}}" *ngFor="let item of generos">
                            {{ item.nome}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-1 col-xs-3">
                      <label>Tipo Contrato</label>
                      <div class="input-group mb-3">
                        <select name="tipo_contrato" [(ngModel)]="this.filter.tipo_contrato" class="form-control">
                          <option [ngValue]="null">Tipo Contrato</option>
                          <option value="T">Todos</option>
                          <option value="{{item.id}}" *ngFor="let item of tipocontrato">
                            {{ item.descricao}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-1 col-xs-3">
                      <label>Estado Contrato</label>
                      <div class="input-group mb-3">
                        <select name="tipo_contrato" [(ngModel)]="this.filter.estado_contrato" class="form-control">
                          <option [ngValue]="null">Estado Contrato</option>
                          <option value="T">Todos</option>
                          <option value="{{item.id}}" *ngFor="let item of estadocontrato">
                            {{ item.nome}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-1 col-xs-3">
                      <label>Objecto Contrato</label>
                      <div class="input-group mb-3">
                        <select name="tipo_contrato" [(ngModel)]="this.filter.objecto_contrato" class="form-control">
                          <option [ngValue]="null">Objecto Contrato</option>
                          <option value="T">Todos</option>
                          <option value="{{item.id}}" *ngFor="let item of objectocontrato">
                            {{ item.nome}}</option>
                        </select>
                      </div>
                    </div>


                     <div class=" col-md-1 col-xs-3">
                      <label style="color: white;">D</label>
                      <div class="  form-group">
                        <div class="input-group">
                          <div class="btn-group">

                             <button type="button" [disabled]="(this.filter.tipo_facturacao != null && this.filter.tipo_contrato != null && this.filter.tipo_cliente != null && this.filter.estado_contrato != null && this.filter.objecto_contrato != null && this.filter.tipo_identificacao != null? false : true && this.filter.tipo_cliente != null && this.filter.tipo_identidade != null? false : true)" class="btn btn-primary btn-flat mr-1 btn-smm" type="button"
                              (click)=" listaextraccao_cliente()"><i class="fa fa-search"></i> Filtrar</button>
                            <div class="btn-group">
                              <button type="button" class="btn btn-info dropdown-toggle dropdown-icon btn-flat"
                                data-toggle="dropdown" aria-expanded="false"> <i class="fa fa-download"></i>
                                Exportação
                              </button>
                              <div class="dropdown-menu" x-placement="bottom-start" style="left: 40px;">
                             <!--    <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsPDF();"><i
                                    class="fa fa-file-pdf-o"></i>
                                  PDF</a> -->
                                <a class="dropdown-item" href="javascript:void(0)" (click)="setTrue();"><i
                                    class="fa fa-file-excel-o"></i> Excel</a>
                              </div>
                            </div>
                            <button type="button" class="btn btn-info btn-flat" (click)="imprimirPDF()"><i class="icon-printer"></i>
                              Imprimir</button>
                          </div>
                        </div>
                      </div>
                    </div>


                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title"> Relatórios de Extracção de Clientes, Contas e Contratos</h4> 
                  <div class="card-tools">
                  </div>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <!-- /.card-body -->
                  <div class="table-responsive">
                    <ngx-loading [show]="loading"></ngx-loading>

                    <table class="table table-hover table-bordered table-stripedd text-center m-0 exportAsXLSXExtraccaoCliente">
                      <tbody>
                        <tr style="color: #fff; background: #0099FF;">
                          <th width="20">ID</th>
                          <th>Conta</th>
                          <th>Agência</th>
                          <th>Tipo Facturação</th>
                          <th>Cliente</th>
                          <th>Tipo Cliente</th>
                          <th>Nº Cliente</th>
                          <th>Tipo Identificação</th>
                          <th>Genero</th>

                          <th>Telefone</th>
                          <th>Email</th>
                          <th>Município</th>
                          <th>Morada</th>

                          <th>Tipo Contrato</th>
                          <th>Estado Contrato</th>

                          <th>Objecto Contrato</th>
                          <th width="130">Data Inicio</th>
                          <th width="130">Data Fim</th>
                          <th>Nível Sensibilidade</th>
                          <th>Classe Tarifário</th>
                          <th>Tipo Medição</th>
                        </tr>
                        <tr *ngFor="let item of items | paginate: { itemsPerPage: this.filters.pagination.perPage, currentPage: this.filters.pagination.page, totalItems: this.filters.pagination.total };">
                          <td>{{ item.cliente_id }}</td>
                          <td>{{ item.numero_conta }}</td>
                          <td>{{ item.agencia }}</td>
                          <td>{{ item.tipo_facturacao }}</td>
                          <td>{{ item.cliente_nome }}</td>
                          <td>{{ item.tipo_cliente }}</td>

                          <td>{{ item.numero_cliente }}</td>
                          <td>{{ item.tipo_identificacao }}</td>

<!--                           <td>{{ item.genero == null ? '------' : item.genero }}</td> -->
                          <td>{{ item.genero }}</td>
                          <td>{{ item.telefone }}</td>
                          <td>{{ item.email }}</td>
                          <td>{{ item.municipio }}</td>
                          <td>{{ item.morada }}</td>

                          <td>{{ item.tipo_contrato }}</td>
                          <td>{{ item.estado_contrato }}</td>

                          <td>{{ item.objecto_contracto }}</td>
                          <td>{{ item.data_inicio | date: 'dd-MM-yyyy' }}</td>
                          <td>{{ item.data_fim | date: 'dd-MM-yyyy' }}</td>

                          <td>{{ item.nivel_sensibilidade }}</td>
                          <td>{{ item.classe_tarifario }}</td>
                          <td>{{ item.tipo_medicao }}</td>
                        </tr>
                      </tbody>
                    </table>


                  </div>
                </div>

                <div class="modal-footer">
                  <div class="row" style="width: 100%;">
                    <div class="col-sm-12 col-md-5">
                      <div class="dataTables_info">Mostrando de {{this.filters.pagination.page}} a
                        {{this.filters.pagination.perPage}} de
                        {{this.filters.pagination.total}} Clientes
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                      <div class="pull-right">
                        <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior"
                          maxSize="6" nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- /.content -->
  </div>


  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>
