<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Stock Movimento</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Inventarios</a></li>
              <li class="breadcrumb-item">Gestão de Stock</li>
              <li class="breadcrumb-item active">Stock Movimento</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <img id='itf' />
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <!-- /.card-header -->
            <div class="card-body" style="padding: 13px 10px 4px 10px;">
              <div class="row">
                <div class="col-2">
                  <select (change)="mostrarResultados()" #mostrarResultado class="form-control">
                    <option value="5">Mostrar Resultados</option>
                    <option value="5">5 - resultados</option>
                    <option value="10">10 - resultados</option>
                  </select>
                  <small>Mostrar resultados</small>
                </div>
                <div class="col-md-5">
                  <input type="text" value="" #search
                    placeholder="Pesquisar..." class="form-control"
                    (keyup)="searchStockMovimento($event)">
                  <i class="fa fa-search"
                    style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                  <small>Pesquisar </small>
                </div>
                <div class="col-2">
                  <input type="date" class="form-control" #searchData placeholder="Número">
                  <small>Data da facturação</small>
                </div>
                <div class="col-2">
                  <select (change)="searchStockMovimento($event)" #orderBy class="form-control">
                    <option value="stoke_movimentos.created_at">Ordernar por</option> 
                    <option value="stoke_movimentos.created_at">Data Facturação</option> 
                  </select>
                  <small>Ordernação</small>
                </div>
                <div class="col-1">
                  <button type="button" class="btn btn-block btn-info  "><i class="fa fa-search"></i>
                    Filtrar</button>
                </div>
              </div>
            </div>
          </div>


          <div class="card">
            <app-loading></app-loading>
            <div class="card-header">
              <h3 class="card-title">Stock Movimento</h3>
               
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsivee p-0">
              <table class="table table-hover table-bordered table-striped text-center">
                <tbody>
                  <tr>

                    <th>Tipo Doc.</th>
                    <th>Documento</th>
                    <th>Artigo</th>
                    <th>Quantidade</th>
                    <th>Movimento</th>
                    <th>Armazem</th>
                    <th>Data</th>   
                    <th>Acção</th>
                  </tr>
                  <tr *ngFor="let movimento of movimentos">


                    <td>{{ movimento.tipo_doc }}</td>
                    <td>{{ movimento.documento }}</td>
                    <td>{{ movimento.produto }}</td>
                    <td>{{ movimento.quantidade }}</td> 
                    <td>
                      <span class="btn btn-block" *ngIf="movimento.movimento =='S'">SAIDA</span>
                      <span class="btn btn-block" *ngIf="movimento.movimento =='E'">ENTRADA</span>
                    </td>
                    <td><span class="btn btn-block" *ngIf="movimento.armazem ==null">--------</span> {{ movimento.armazem }} </td>
                    <td>{{ movimento.created_at | date: 'dd-MM-yyyy' }} </td>
                     

                    <td> </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer clearfix">
              <div class="row">
                <div class="col-sm-12 col-md-5">
                  <div class="dataTables_info">Mostrando de {{pagination.page}} a {{pagination.perPage}} de
                    {{pagination.total}} Facturações
                  </div>
                </div>
                <div class="col-sm-12 col-md-7">
                  <div class="dataTables_paginate paging_simple_numbers">
                    <ul class="pagination" style="float: right;">
                      <li class="page-item"><a href="javascricpt:void(0)" class="page-link">Anterior</a></li>
                      <div *ngFor="let page of pages">
                        <li class="page-item active" *ngIf="(page == pagination.page)"><a href="javascricpt:void(0)"
                            (click)="refreshPaginate(page)" title="{{ page }}" class="page-link">{{ page }}</a></li>

                        <li class="page-item " *ngIf="(page != pagination.page)"><a href="javascricpt:void(0)"
                            (click)="refreshPaginate(page)" title="{{ page }}" class="page-link">{{ page }}</a></li>
                      </div>
                      <li class="page-item"><a href="javascricpt:void(0)" class="page-link">Próximo</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->

  </div>
  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>