<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Contrato</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Contrato</a></li>
              <li class="breadcrumb-item active">Contrato</li>
              <li class="breadcrumb-item active">Registar Contrato</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="content">
        <div class="row">

          <div class="panel box box-success" *ngIf="conta.id != null && !contrato_validated">
            <div class="box-header with-border">
              <h4 class="box-title col-md-12">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed row"
                  aria-expanded="false" (click)="detalheContratoCollapse">
                  <h4 class="col-md-12" style="padding: 10px; color: #02507C;">Detalhes do Processo de Contratação</h4>
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="box-body">
                <div *ngIf="!(facturacao.cliente.id);else detalhe_content"></div>
              </div>
            </div>
          </div>

          <div *ngIf="contrato_validated" class="card card card-widget">
            <h4 class="box-title col-md-12" style="padding: 10px; color: #02507C;"> Detalhes do Processo de Contratação
            </h4>
            <div *ngIf="!contrato_validated;else detalhe_content"></div>

            <hr>

            <div class="col-md-12 row" style="padding: 10px 5px; margin: 0px;">
              <hr>
              <div class="col-md-6 text-left">
                <button *ngIf="facturacao.processado" class="btn btn-primary mr-1 btn-sm"
                  (click)="imprimirContrato(this.dataContratoSaved.contrato.id)">
                  <i class="fa fa-print"></i> Imprimir Contrato
                </button>

                <button *ngIf="!facturacao.processado" class="btn btn-danger mr-1 btn-sm" type="submit"
                  data-style="expand-left" (click)="showCheckServicos()">
                  <i class="fa fa-arrow-left"></i> Retroceder
                </button>
              </div>

              <div class="col-md-6 text-right">
                <button *ngIf="!facturacao.processado" class="btn btn-success mr-1 btn-sm" type="submit"
                  data-style="expand-left" (click)="saveContrato()">
                  <i class="fa fa-save"></i> Finalizar
                </button>

                <button *ngIf="facturacao.processado" class="btn btn-primary mr-1 btn-sm" type="submit"
                  data-style="expand-left" (click)="reloadFacturacao()">
                  <i class="fa fa-plus"></i> Novo Contrato
                </button>

                <!--
                <button *ngIf="facturacao.processado" class="btn btn-primary mr-1 btn-sm" type="submit"
                  data-style="expand-left"
                  (click)="this.configService.imprimirFactura(facturacao.facturaGerada,'Original')">
                  <i class="fa fa-check"></i>
                  Lista de Contratos
                </button>
                -->
              </div>
            </div>
          </div>




          <div class="col-md-12" *ngIf="!contrato_validated">

            <aw-wizard navBarLocation="top">
              <aw-wizard-step>
                <ng-template awWizardStepTitle>
                  <span class="aw-color">
                    Cliente
                  </span>
                </ng-template>
                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-10">
                    <!-- /.card -->
                    <div class="card card card-widget">
                      <app-loading></app-loading>
                      <div class="card-header">
                        <div class="user-block">
                          <div class="row">

                            <div class="col-md-12 col-sm-12">
                              <input type="text" value="" [(ngModel)]="searchCliente"
                                placeholder="Escolher cliente por nome ou Contribuinte" class="form-control"
                                (keyup)="getCliente($event)">
                              <i class="fa fa-search"
                                style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                            </div>
                            <!-- <div class="col-md-2 col-sm-2">
                              <button type="button" class="btn btn-outline-danger btn-smd" data-toggle="modal"
                                data-target="#telefoneClienteModal"> Cliente por
                                número de serviço</button>
                            </div> -->
                          </div>


                        </div>
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body p-0" *ngIf="items_servicos">
                        <h3 class="card-title" style="background: #0099FF;
                            color: #fff;
                            padding: 18px 15px;">Lista de Clientes</h3>
                        <div style="overflow: auto; height: 486px;">
                          <table class="table table-hover table-bordered table-striped text-center">
                            <thead>
                              <tr>
                                <th class="col-md-83">#</th>
                                <th class="col-md-83">Nome</th>
                                <th class="col-md-23"> Tipo de Cliente</th>
                                <th class="col-md-23"> Tipo de Identidade</th>
                                <th class="col-md-23"> Número de Identidade</th>
                                <th class="col-md-23">Telefone </th>
                                <th class="col-md-23">Morada </th>
                                <th width="150" *ngIf="http.canActivateRouterLink('conta_cliente')">Acção</th>
                                <th><i class="fa fa-check"></i></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let cliente of clientes; index as i">
                                <td>{{ (i+1) }}</td>
                                <td>{{ cliente.nome }}</td>
                                <td>{{ cliente.tipo_cliente }}</td>
                                <td>{{ cliente.tipo_identidade }}</td>
                                <td>{{ cliente.numero_identificacao }}</td>
                                <td>{{ cliente.telefone }}</td>
                                <td>{{ cliente.morada }}</td>
                                <td>
                                  <button class="btn btn-blockk btn-primary btn-sm" data-toggle="modal"
                                    data-target="#contaClienteModal" (click)="selectedCliente(cliente); "
                                    *ngIf="http.canActivateRouterLink('conta_cliente')">Selecionar</button>
                                </td>
                                <td style="background: #28a745; color: #fff" *ngIf="facturacao.cliente.id==cliente.id">
                                  <i class="fa fa-check"></i>
                                </td>
                                <td *ngIf="facturacao.cliente.id !=cliente.id"></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                  </div>
                </div>

                <div class="row" *ngIf="facturacao.cliente.id !=null">
                  <div class="col text-center">
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" (click)="revertValidateDadosContrato()" class="btn btn-default" awNextStep>
                        Próximo <i class="fa fa-arrow-right"></i></button>
                    </div>
                  </div>
                </div>


                <!-- The Modal -->
                <div class="modal modal-info fade in" id="contaClienteModal" data-backdrop="static">
                  <div class="modal-dialog">
                    <div class="modal-content">

                      <!-- Modal Header -->
                      <div class="modal-header">
                        <h4 class="modal-title">Contas</h4>
                        <button type="button" class="close" data-dismiss="modal"
                          (click)="cancelarConta()">&times;</button>
                      </div>

                      <!-- Modal body -->
                      <div class="modal-body">
                        <app-alert></app-alert>
                        <app-loading></app-loading>

                        <h3 style="padding: 15px 10px; background: #0099FF; color: #fff;">Cliente: {{
                          facturacao.cliente.nome }}</h3>
                        <hr>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Conta</label>
                              <select class="form-control" [(ngModel)]="conta.id" name="conta_id">
                                <option selected [value]="null">Contas</option>
                                <option *ngFor="let item of contas_clientes" [value]="item.id"> {{item.numero_conta }}
                                </option>
                              </select>
                            </div>
                          </div>

                        </div>

                        <div class="alert alert-success alert-dismissible" *ngIf="activeButtom.cliente"
                          style="border: 0;border-radius: 0; margin: 8px;">
                          <h5><i class="icon fa fa-check"></i> Conta confirmada!</h5>
                        </div>

                      </div>

                      <!-- Modal footer -->
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"
                          (click)="cancelarConta()">Cancelar</button>
                        <button type="button" (click)="confirmarConta();" class="btn btn-outline-primary btn-sm"
                          *ngIf="!activeButtom.cliente">Confirmar</button>
                        <button type="button" class="btn btn-success" awNextStep *ngIf="activeButtom.cliente"
                          (click)="selectedClienteComConta(0)" data-dismiss="modal"> Continuar <i
                            class="fa fa-arrow-right"></i></button>
                      </div>

                    </div>
                  </div>
                </div>

              </aw-wizard-step>

              <aw-wizard-step>
                <ng-template awWizardStepTitle>
                  <span class="aw-color">
                    Contrato
                  </span>
                </ng-template>
                <div class="row">
                  <div class="col-md-12">
                    <!-- /.card -->
                    <div class="card card card-widget">
                      <div class="card-header">
                        <div class="user-block row">

                          <div class="col-md-12">
                            <app-loading></app-loading>
                            <app-alert></app-alert>
  
                          </div>

                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Tipos de Medições</label>

                              <select class="form-control" [(ngModel)]="contrato.tipo_medicao_id"
                                (click)="getDetailTipoMedicao(); resetTarifario()" name="tipo_medicao_id">
                                <option value="null">Tipo de Medição</option>
                                <option value="{{ item.id }}" *ngFor="let item of tipo_medicaos">
                                  {{ item.nome }}
                                </option>
                              </select>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Tipos de Utilizações</label>

                              <select class="form-control" (click)="validateTipoContrato"
                                [(ngModel)]="contrato.tipo_contracto_id" name="tipo_contracto_id">
                                <option value="null">Tipo de Utilização</option>
                                <option value="{{ item.id }}" *ngFor="let item of tipo_contratos">
                                  {{ item.descricao }}
                                </option>
                              </select>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Tipologias de Clientes</label>

                              <select class="form-control" [(ngModel)]="contrato.tipologia_cliente_id"
                                name="tipologia_cliente_id">
                                <option value="null">Tipologia de Cliente</option>
                                <optgroup label="{{ item.descricao }}" *ngFor="let item of tipologia_clientes">
                                  <option value="{{ item_child.id }}" *ngFor="let item_child of item.childs">
                                    {{ item_child.descricao }}
                                  </option>
                                </optgroup>
                              </select>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Objectos de Contratos</label>
                              <select class="form-control" [(ngModel)]="contrato.objecto_contrato_id"
                                name="objecto_contrato_id">
                                <option value="null">Objecto de Contrato</option>
                                <option value="{{ item.id }}" *ngFor="let item of objecto_contratos">
                                  {{ item.nome }}
                                </option>
                              </select>
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Níveis de Sensibilidade</label>
                              <select class="form-control" [(ngModel)]="contrato.nivel_sensibilidade_id"
                                name="nivel_sensibilidade_id">
                                <option value="null">Nível de Sensibilidade</option>
                                <option value="{{ item.id }}" *ngFor="let item of niveis_sensibilidade">
                                  {{ item.descricao }}
                                </option>
                              </select>
                            </div>
                          </div>

                          <div class="col-md-6" *ngIf="facturacao.cliente.tipo_cliente_slug == 'DOMESTICO'">
                            <div class="form-group">
                              <label>Número de Habitantes</label>
                              <input class="form-control" required autofocus id="numero_habitantes" type="number"
                                [(ngModel)]="contrato.numero_habitantes" placeholder="Número de Habitantes"
                                autocomplete="given-name" />
                            </div>
                          </div>

                          <div class="col-md-3" *ngIf="facturacao.cliente.tipo_cliente_slug != 'DOMESTICO'">
                            <div class="form-group">
                              <label>Número de Utilizadores</label>
                              <input class="form-control" required autofocus id="numero_utilizadores" type="number"
                                [(ngModel)]="contrato.numero_utilizadores" placeholder="Número de Utilizadores"
                                autocomplete="given-name" />
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Morada do contrato</label>
                              <input class="form-control" id="morada_contrato" type="text"
                                [(ngModel)]="contrato.morada_contrato" placeholder="ex: Pedro de Castro Vandune Loy"
                                autocomplete="given-name" />

                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Data de Ínicio</label>

                              <input type="date" [(ngModel)]="contrato.data_inicio" placeholder="" class="form-control">
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Data prevista de Fim</label>
                              <input type="date" [(ngModel)]="contrato.data_fim" placeholder="" class="form-control"
                                [disabled]="contrato.vitalicio">
                            </div>
                          </div>


                          <div class="col-md-12 row">
                            <hr />
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Categorias</label>
                                <select class="form-control" #serie (change)="classeTarifarioBytarifario()"
                                  [(ngModel)]="tarifario.id" name="tarifario_id">
                                  <option value="null">Categoria</option>
                                  <option value="{{ item.id }}" *ngFor="let item of series">{{ item.descricao }}
                                  </option>
                                </select>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Classes de Tarifários</label>
                                <select class="form-control" [(ngModel)]="tarifario.classe_tarifario_id"
                                  name="classe_tarifario_id"
                                  (change)="openModal();changeClasseTarifario($event.target.value)"
                                  [disabled]="!classe_tarifarios">
                                  <option value="null">Classe de Tarifário</option>
                                  <option [value]="item.id" *ngFor="let item of classe_tarifarios"> {{ item.descricao }}
                                  </option>
                                </select>
                              </div>
                            </div>

                            <div class="card-body p-0">
                              <div class="alert alert-warning alert-dismissible"
                                *ngIf="(tarifario.classe_tarifario_id ==null)"
                                style="border: 0;border-radius: 0; margin: 8px;">
                                <h5><i class="icon fa fa-info"></i> Nenhum tarifário selecionado! </h5>
                              </div>
                              <div class="alert alert-success alert-dismissible"
                                *ngIf="(tarifario.classe_tarifario_id != null)"
                                style="border: 0;border-radius: 0; margin: 8px;">
                                <h5><i class="icon fa fa-check"></i> Tarifário selecionado!</h5>
                              </div>
                            </div>

                            <!--
                            <div class="card card-default">

                              <div class="card-body">

                                <app-loading></app-loading>
                                <app-alert></app-alert>

                                <div style="min-height:  80px; min-height:  auto; overflow: auto;" *ngIf="tarifario.classe_tarifario_id">
                                  <table class="table table-hover table-bordered table-striped"
                                    *ngIf="facturacao.servicos.length > 0;else emptyList">
                                    <tbody>
                                      <tr style="background: #0099FF; color: #ffffff">
                                        <th width="100" class="text-center">
                                          <span *ngIf="!showCheckServicos_flag">Facturado</span>
                                          <input *ngIf="showCheckServicos_flag" type="checkbox"
                                            (click)="checkAllServicos()" [(ngModel)]="checkAllServicos_flag" />
                                        </th>
                                        <th>Serviço</th>
                                        <th>Tipo</th>
                                        <th class="text-center">Incidência</th>
                                        <th>Imposto</th>
                                        <th>Valor</th>
                                        <th>Operações</th>
                                      </tr>
                                      <tr *ngFor="let item of facturacao.servicos; index as i">
                                        <td class="text-center">
                                          <i *ngIf="item.facturado" style="padding: 3px; border-radius: 5px;"
                                            class="fa fa-check alert-success"></i>

                                          <i *ngIf="!showCheckServicos_flag && !item.facturado || !(item.servico_valor > 0)"
                                            style="padding: 3px 5px; border-radius: 5px;"
                                            class="fa fa-close alert-danger"></i>

                                          <input
                                            *ngIf="showCheckServicos_flag && !item.facturado && item.servico_valor > 0"
                                            type="checkbox" [(ngModel)]="item.facturar" />
                                        </td>
                                        <td>{{ item.servico }}</td>
                                        <td>{{ item.tipo_produto }}</td>
                                        <td class="text-center">
                                          <span *ngIf="item.incidencia;else dataEmpty">{{ item.incidencia }}</span>
                                        </td>
                                        <td>{{ item.imposto + ' (' + configService.numberFormat(item.imposto_valor) +
                                          ')' }}
                                        </td>
                                        <td class="text-right">{{ configService.numberFormat(item.servico_valor) }} AOA
                                        </td>
                                        <td class="text-center">

                                          <div *ngIf="!showCheckServicos_flag;else dataEmpty">

                                            <i *ngIf="!item.is_editable" style="margin: 0px 22px"></i>

                                            <i *ngIf="item.is_editable"
                                              style="padding: 5px 11px; margin: 0px 3px; border-radius: 5px;"
                                              (click)="getServicosToEdit(item.servico_id)"
                                              class="fa fa-edit btn btn-primary"></i>

                                            <i style="padding: 5px 13px; margin: 0px 3px; border-radius: 5px;"
                                              (click)="deleteRow(item)" class="fa fa-trash btn btn-danger"></i>
                                          </div>

                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>

                                <div class="col-md-12 row"
                                  style="padding: 0px; margin: 0px; padding: 10px; background: #0099FF; color: #fff;"
                                  *ngIf="tarifario.classe_tarifario_id != null">

                                  <div class="col-md-4 text-left"
                                    style="padding: 10px; background: #0099FF; color: #fff;">
                                    <span>Classe Tarifário</span>
                                    <h4>{{ classe_tarifario.descricao }}</h4>
                                  </div>

                                  <div class="col-md-4 text-center"
                                    style="padding: 10px; background: #0099FF; color: #fff;">
                                    <span>Mínimo - Máximo | Consumos</span>
                                    <h4>{{ (classe_tarifario.consumo_minimo != null) ? classe_tarifario.consumo_minimo :
                                      '0' }}
                                      - {{ (classe_tarifario.consumo_maximo != null) ? classe_tarifario.consumo_maximo :
                                      '0' }}
                                      (m³)</h4>
                                  </div>

                                  <div class="col-md-4 text-right"
                                    style="padding: 10px; background: #0099FF; color: #fff;">
                                    <span>Fixa Mensal - Variável | Tarifas</span>
                                    <h4>{{ (classe_tarifario.tarifa_fixa_mensal != null) ?
                                      classe_tarifario.tarifa_fixa_mensal :
                                      '0' }} - {{ (classe_tarifario.tarifa_variavel != null) ?
                                      classe_tarifario.tarifa_variavel
                                      : '0' }}</h4>
                                  </div>
                                </div>

                              </div>


                              <div class="col-md-12 row" style="padding: 10px 0px; margin: 0px;"
                                *ngIf="facturacao.servicos.length != 0">

                                <hr>
                                <div class="col-md-6">

                                  <button *ngIf="!showCheckServicos_flag" class="btn btn-primary mr-1 btn-sm"
                                    (click)="imprimirFacturaServicos()">
                                    <i class="fa fa-print"></i>
                                    Imprimir Factura
                                  </button>

                                </div>

                                <div class="col-md-6 text-right">

                                  <button *ngIf="showCheckServicos_flag" class="btn btn-danger mr-1 btn-sm"
                                    type="submit" data-style="expand-left" (click)="showCheckServicos()">
                                    <i class="fa fa-money"></i>
                                    Cancelar</button>

                                  <button *ngIf="showCheckServicos_flag" class="btn btn-success mr-1 btn-sm"
                                    type="submit" data-style="expand-left" (click)="facturarServicos()">
                                    <i class="fa fa-check"></i>
                                    Confirmar Facturação
                                  </button>

                                  <button *ngIf="!showCheckServicos_flag" class="btn btn-primary mr-1 btn-sm"
                                    type="submit" data-style="expand-left" (click)="showCheckServicos()">
                                    <i class="fa fa-money"></i>
                                    Facturar Serviços</button>
                                </div>
                              </div>
                            </div>
-->

                          </div>


                        </div>
                      </div>

                    </div>

                  </div>

                  <!--
                  <div class="col-md-6">

                    <div class="col-md-12 row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Categorias</label>
                          <select class="form-control" #serie (change)="classeTarifarioBytarifario()"
                            [(ngModel)]="tarifario.id" name="tarifario_id">
                            <option value="null">Categoria</option>
                            <option value="{{ item.id }}" *ngFor="let item of series">
                              {{ item.descricao }}
                            </option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">

                          <label>Classes de Tarifários</label>
                          <select class="form-control" [(ngModel)]="tarifario.classe_tarifario_id"
                            name="classe_tarifario_id" (change)="openModal();" [disabled]="!classe_tarifarios">
                            <option value="null">Classe de Tarifário</option>
                            <option value="{{ item.id }}" *ngFor="let item of classe_tarifarios">
                              {{ item.descricao }}
                            </option>
                          </select>
                        </div>
                      </div>

                      <div class="card-body p-0">
                        <div class="alert alert-warning alert-dismissible" *ngIf="(tarifario.id ==null)"
                          style="border: 0;border-radius: 0; margin: 8px;">
                          <h5><i class="icon fa fa-info"></i> Nenhum tarifário selecionado! </h5>
                        </div>
                        <div class="alert alert-success alert-dismissible" *ngIf="(tarifario.id != null)"
                          style="border: 0;border-radius: 0; margin: 8px;">
                          <h5><i class="icon fa fa-check"></i> Tarifário selecionado!</h5>
                        </div>

                        <div class="alert alert-warning alert-dismissible" *ngIf="sem_produto_show"
                          style="border: 0;border-radius: 0; margin: 8px;">
                          <h5><i class="icon fa fa-info"></i> Classe tarifário sem serviços! </h5>
                        </div>

                      </div>

                    </div>

                    <div class="card card-default">

                      <div class="card-header">
                        <div class="col-md-12 row" style="padding: 0px; margin: 0px;" *ngIf="conta.id != null">
                          <h2 class="col-md-5">Serviços</h2>
                          <div class="col-md-7 text-right">

                            <button *ngIf="!showCheckServicos_flag && tarifario.classe_tarifario_id" class="btn btn-primary mr-1 btn-sm" type="submit" data-style="expand-left" (click)="getServicosToAdd()">
                              <i class="fa fa-plus"></i>
                            </button>

                          </div>
                        </div>
                      </div>


                      <div class="card-body">

                        <app-loading></app-loading>
                        <app-alert></app-alert>

                        <div style="height:  407px; overflow: auto;">
                          <table class="table table-hover table-bordered table-striped"
                            *ngIf="facturacao.servicos.length > 0;else emptyList">
                            <tbody>
                              <tr style="background: #0099FF; color: #ffffff">
                                <th width="100" class="text-center">
                                  <span *ngIf="!showCheckServicos_flag">Facturado</span>
                                  <input *ngIf="showCheckServicos_flag" type="checkbox" (click)="checkAllServicos()"
                                    [(ngModel)]="checkAllServicos_flag" />
                                </th>
                                <th>Serviço</th>
                                <th>Tipo</th>
                                <th class="text-center">Incidência</th>
                                <th>Imposto</th>
                                <th>Valor</th>
                                <th>Operações</th>
                              </tr>
                              <tr *ngFor="let item of facturacao.servicos; index as i">
                                <td class="text-center">
                                  <i *ngIf="item.facturado" style="padding: 3px; border-radius: 5px;"
                                    class="fa fa-check alert-success"></i>

                                  <i *ngIf="!showCheckServicos_flag && !item.facturado || !(item.servico_valor > 0)"
                                    style="padding: 3px 5px; border-radius: 5px;" class="fa fa-close alert-danger"></i>

                                  <input *ngIf="showCheckServicos_flag && !item.facturado && item.servico_valor > 0"
                                    type="checkbox" [(ngModel)]="item.facturar" />
                                </td>
                                <td>{{ item.servico }}</td>
                                <td>{{ item.tipo_produto }}</td>
                                <td class="text-center">
                                  <span *ngIf="item.incidencia;else dataEmpty">{{ item.incidencia }}</span>
                                </td>
                                <td>{{ item.imposto + ' (' + configService.numberFormat(item.imposto_valor) + ')' }}
                                </td>
                                <td class="text-right">{{ configService.numberFormat(item.servico_valor) }} AOA</td>
                                <td class="text-center">

                                  <div *ngIf="!showCheckServicos_flag;else dataEmpty">

                                    <i *ngIf="!item.is_editable" style="margin: 0px 22px"></i>

                                    <i *ngIf="item.is_editable"
                                      style="padding: 5px 11px; margin: 0px 3px; border-radius: 5px;"
                                      (click)="getServicosToEdit(item.servico_id)"
                                      class="fa fa-edit btn btn-primary"></i>

                                    <i style="padding: 5px 13px; margin: 0px 3px; border-radius: 5px;"
                                      (click)="deleteRow(item)" class="fa fa-trash btn btn-danger"></i>
                                  </div>

                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>

                        <div class="col-md-12 row"
                          style="padding: 0px; margin: 0px; padding: 10px; background: #0099FF; color: #fff;"
                          *ngIf="tarifario.classe_tarifario_id != null">

                          <div class="col-md-4 text-left" style="padding: 10px; background: #0099FF; color: #fff;">
                            <span>Classe Tarifário</span>
                            <h4>{{ classe_tarifario.descricao }}</h4>
                          </div>

                          <div class="col-md-4 text-center" style="padding: 10px; background: #0099FF; color: #fff;">
                            <span>Mínimo - Máximo | Consumos</span>
                            <h4>{{ (classe_tarifario.consumo_minimo != null) ? classe_tarifario.consumo_minimo : '0' }}
                              - {{ (classe_tarifario.consumo_maximo != null) ? classe_tarifario.consumo_maximo : '0' }}
                              (m³)</h4>
                          </div>

                          <div class="col-md-4 text-right" style="padding: 10px; background: #0099FF; color: #fff;">
                            <span>Fixa Mensal - Variável | Tarifas</span>
                            <h4>{{ (classe_tarifario.tarifa_fixa_mensal != null) ? classe_tarifario.tarifa_fixa_mensal :
                              '0' }} - {{ (classe_tarifario.tarifa_variavel != null) ? classe_tarifario.tarifa_variavel
                              : '0' }}</h4>
                          </div>
                        </div>


                        <div class="col-md-12 row"
                          style="padding: 0px; margin: 0px; padding: 10px; background: #0099FF; color: #fff;"
                          *ngIf="conta.id != null">
                          <hr>
                          <div class="col-md-4 text-left" style="padding: 10px; background: #0099FF; color: #fff;">
                            <span>Total sem Impostos</span>
                            <h3>
                              {{ configService.numberFormat(facturacao.total_sem_imposto) }} AOA</h3>
                          </div>

                          <div class="col-md-4 text-center" style="padding: 10px; background: #0099FF; color: #fff;">
                            <span>Total de Impostos</span>
                            <h3>
                              {{ configService.numberFormat(facturacao.valor_total_imposto) }} AOA</h3>
                          </div>

                          <div class="col-md-4 text-right" style="padding: 10px; background: #0099FF; color: #fff;">
                            <span>Total com Impostos</span>
                            <h3>{{ configService.numberFormat(facturacao.total_com_imposto) }} AOA</h3>
                          </div>
                        </div>

                      </div>


                      <div class="col-md-12 row" style="padding: 10px 0px; margin: 0px;"
                        *ngIf="facturacao.servicos.length != 0">

                        <hr>
                        <div class="col-md-6">

                          <button *ngIf="!showCheckServicos_flag" class="btn btn-primary mr-1 btn-sm" (click)="imprimirFacturaServicos()">
                            <i class="fa fa-print"></i>
                            Imprimir Factura
                          </button>

                        </div>

                        <div class="col-md-6 text-right">

                          <button *ngIf="showCheckServicos_flag" class="btn btn-danger mr-1 btn-sm" type="submit"
                            data-style="expand-left" (click)="showCheckServicos()">
                            <i class="fa fa-money"></i>
                            Cancelar</button>

                          <button *ngIf="showCheckServicos_flag" class="btn btn-success mr-1 btn-sm" type="submit" data-style="expand-left" (click)="facturarServicos()">
                            <i class="fa fa-check"></i>
                            Confirmar Facturação
                          </button>

                          <button *ngIf="!showCheckServicos_flag" class="btn btn-primary mr-1 btn-sm" type="submit"
                            data-style="expand-left" (click)="showCheckServicos()">
                            <i class="fa fa-money"></i>
                            Facturar Serviços</button>
                        </div>

                      </div>

                    </div>


                  </div>
                -->
                </div>

                <hr>
                <div class="row">
                  <div class="col text-center">
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-primary" (click)="revertValidateDadosContrato()"
                        awPreviousStep><i class="fa fa-arrow-left"></i>
                        Anterior</button>

                      <button type="button" class="btn btn-success" (click)="validateDadosContrato()">
                        Validar <i class="fa fa-refresh"></i></button>

                      <button type="button" class="btn btn-primary" (click)="getContratoDetails()"
                        *ngIf="tarifario.classe_tarifario_id !=null && dados_validated" awNextStep>
                        Próximo <i class="fa fa-arrow-right"></i></button>
                    </div>
                  </div>
                </div>
              </aw-wizard-step>
              <aw-wizard-step>
                <ng-template awWizardStepTitle>
                  <span class="aw-color">
                    CIL
                  </span>
                </ng-template>

                <div class="col-md-12">
                  <app-alert></app-alert>
                </div>

                <hr>

                <section class="content">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-12">
                        <!-- Main content -->
                        <div class="invoice p-3 mb-3">
                          <app-loading></app-loading>
                          <!-- title row -->
                          <!-- info row --><br>


                          <!-- Table row -->
                          <!--  <div class="row">
                              <div class="col-12 table-responsive">
                                <table class="table text-center table-striped ">
                                  <thead>
                                    <tr>
                                      <th>#</th>
                                      <th>Qtd</th>
                                      <th>Nome</th>
                                      <th>Valor</th>
                                      <th>Desconto</th>
                                      <th>Imposto</th>
                                      <th>Subtotal</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let servico of facturacao.servicos; index as i">
                                      <td>{{(i+1)}}</td>
                                      <td>{{ servico.quantidade }}</td>
                                      <td>{{ servico.nome }}</td>
                                      <td>{{ configService.numberFormat(servico.valor) }}</td>
                                      <td>{{ configService.numberFormat(servico.desconto) }}</td>
                                      <td>{{ configService.numberFormat(servico.valorImposto) }}</td>
                                      <td>{{ configService.numberFormat(servico.total) }}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>

                            </div> -->

                          <div class="col-md-12 row">

                            <div class="col-md-3">
                              <div class="form-group">
                                <label>CIL/Residência/Prédio</label>&nbsp;&nbsp;
                                <label class="switch-toggle-sm">
                                  <input type="checkbox" [(ngModel)]="local_consumo.cil_flag">
                                  <span class="slider-toggle-sm round"></span>
                                </label>
                                <div *ngIf="local_consumo.cil_flag" class="input-group">
                                  <input type="text" placeholder="CIL/Residência/Prédio" [(ngModel)]="local_consumo.cil"
                                    class="form-control" (keyup)="getLocalInstalacaosByCILAndMoradia()">
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-flat"
                                      style="background-color: #0099FF; color: #ffffff; margin: 3.5px;"><i
                                        class="fa fa-search"></i></button>
                                  </span>
                                </div>

                                <div class="autocomplete-container" *ngIf="view_local_consumo_cil">
                                  <ul>
                                    <li *ngFor="let item of local_consumos">
                                      <a href="javascript:void(0)" (click)="setLocalConsumo(item)">
                                        {{ ((item.cil != null) ? '[' + item.cil + '] ' : '[0000-000-000] ') +
                                        ((item.is_predio) ? 'Prédio ' + item.predio_nome + ', ' + item.predio_andar +
                                        'ºAndar - Porta ' : 'Residência ') + item.moradia_numero }}
                                      </a>
                                    </li>
                                  </ul>
                                </div>

                              </div>
                            </div>
                          </div>

                          <div *ngIf="!local_consumo.cil_flag" class="col-md-12 row">
                            <hr>

                            <div class="col-md-3">
                              <div class="form-group">
                                <label>Província</label>

                                <select [(ngModel)]="local_consumo.provincia_id" class="form-control"
                                  (change)="selectBoxMunicipiosByProvincia(i.id)">
                                  <option [value]="null">Província</option>
                                  <option *ngFor="let i of provincias" [value]="i.id">
                                    {{i.abreviatura}} - {{i.nome}}
                                  </option>
                                </select>
                              </div>
                            </div>

                            <div class="col-md-3">
                              <div class="form-group">
                                <label>Município</label>


                                <select [(ngModel)]="local_consumo.municipio_id" class="form-control"
                                  (change)="selectBoxDistritosByMunicipio()" [disabled]="!municipios">
                                  <option [value]="null">Município</option>
                                  <option *ngFor="let i of municipios" [value]="i.id">
                                    {{i.nome}}
                                  </option>
                                </select>
                              </div>
                            </div>

                            <div class="col-md-3" *ngIf="distritos">
                              <div class="form-group">
                                <label>Distrito/Comuna</label>
                                <select *ngIf="local_consumo.has_distrito == true"
                                  [(ngModel)]="local_consumo.distrito_id" class="form-control" required
                                  (change)="selectBoxBairrosByMunicipio()">
                                  <option [value]="null">Distrito/Comuna</option>
                                  <option *ngFor="let i of distritos" [value]="i.id">
                                    {{i.nome}}
                                  </option>
                                </select>
                              </div>
                            </div>

                            <div class="col-md-3">
                              <div class="form-group">
                                <label>Bairro</label>
                                <select [(ngModel)]="local_consumo.bairro_id" class="form-control" required
                                  (change)="selectBoxQuarteiraosByBairro()" [disabled]="!bairros">
                                  <option [value]="null">Bairro</option>
                                  <option *ngFor="let i of bairros" [value]="i.id">
                                    {{i.nome}}
                                  </option>
                                </select>
                              </div>
                            </div>

                            <div class="col-md-3" *ngIf="quarteiraos">
                              <div class="form-group">
                                <label for="morada">Quarteirão</label>
                                <select *ngIf="local_consumo.has_quarteirao" [(ngModel)]="local_consumo.quarteirao_id"
                                  class="form-control" required (change)="selectBoxRuasByQuarteirao()">
                                  <option [value]="null">Quarteirão</option>
                                  <option *ngFor="let i of quarteiraos" [value]="i.id">
                                    {{i.nome}}
                                  </option>
                                </select>
                              </div>
                            </div>

                            <div class="col-md-3">
                              <div class="form-group">
                                <label>Rua</label>
                                <select [(ngModel)]="local_consumo.rua_id" class="form-control"
                                  (change)="getSelectBoxResidenciasByRua()">
                                  <option [value]="null">Rua</option>
                                  <option *ngFor="let i of ruas" [value]="i.id">
                                    {{i.nome}}
                                  </option>
                                </select>
                              </div>
                            </div>

                            <div class="col-md-3">
                              <div class="form-group">
                                <label>Residência/Prédio</label>
                                <div class="input-group">
                                  <input type="text" placeholder="Residência/Prédio" [(ngModel)]="local_consumo.nome"
                                    [disabled]="!local_consumos" class="form-control" (keyup)="getResidencia()">
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-flat"
                                      style="background-color: #0099FF; color: #ffffff; margin: 3.5px;">
                                      <i class="fa fa-search"></i></button>
                                  </span>
                                </div>

                                <div class="autocomplete-container" *ngIf="view_local_consumo">
                                  <ul>
                                    <li *ngFor="let item of local_consumos">
                                      <a href="javascript:void(0)" (click)="setLocalConsumo(item)">
                                        {{ ((item.cil != null) ? '[' + item.cil + '] ' : '[0000-000-000] ') +
                                        ((item.is_predio) ? 'Prédio ' + item.predio_nome + ', ' + item.predio_andar +
                                        'ºAndar - Porta ' : 'Residência ') + item.moradia_numero }}
                                      </a>
                                    </li>
                                  </ul>
                                </div>

                              </div>
                            </div>

                          </div>

                          <hr>

                          <div *ngIf="local_consumo.id" class="col-md-12 row">
                            <div class="col-md-3">
                              <div class="form-group">
                                <label>Tipos de Abastecimentos</label>
                                <select class="form-control" [(ngModel)]="contrato.abastecimento_cil_id"
                                  (click)="getDetailAbastecimentoCIL()" name="abastecimento_cil_id">
                                  <option [value]="null">Tipo de Abastecimento</option>
                                  <option value="{{ item.id }}" *ngFor="let item of abastecimento_cils">
                                    {{ item.nome }}
                                  </option>
                                </select>
                              </div>
                            </div>


                            <div class="col-md-3">
                              <div class="form-group">
                                <label>Instalações Sanitárias(Qtd)</label>
                                <input class="form-control" required autofocus id="instalacao_sanitaria_qtd" type="text"
                                  [(ngModel)]="contrato.instalacao_sanitaria_qtd" placeholder=""
                                  autocomplete="given-name" />
                              </div>
                            </div>

                            <div class="col-md-3">
                            </div>

                            <div class="col-md-12" *ngIf="contrato.tipo_mensagem_id">
                              <div class="form-group">
                                <label>{{ mensagem_title }}</label>
                                <input *ngIf="contrato.tipo_mensagem_slug == 'INDIVIDUAL'" class="form-control" required
                                  autofocus id="mensagem" type="text" [(ngModel)]="contrato.mensagem"
                                  placeholder="Mensagem" autocomplete="given-name" />

                                <h3 style="padding: 15px 10px; background: #dee2e6; color: black; font-weight: 100;"
                                  *ngIf="contrato.tipo_mensagem_slug == 'GERAL' || contrato.tipo_mensagem_slug == 'TIPO_CLIENTE'">
                                  {{ contrato.mensagem }}</h3>
                              </div>
                            </div>

                            <div class="col-md-3 row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Reservatório</label>&nbsp;&nbsp;
                                  <label class="switch-toggle-sm">
                                    <input type="checkbox" [(ngModel)]="contrato.reservatorio_flag">
                                    <span class="slider-toggle-sm round"></span>
                                  </label>
                                  <input *ngIf="contrato.reservatorio_flag" class="form-control" required autofocus
                                    id="reservatorio_capacidade" type="text"
                                    [(ngModel)]="contrato.reservatorio_capacidade" placeholder="Capacitdade(m³)"
                                    autocomplete="given-name" />

                                </div>
                              </div>

                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Piscina</label>&nbsp;&nbsp;
                                  <label class="switch-toggle-sm">
                                    <input type="checkbox" [(ngModel)]="contrato.piscina_flag">
                                    <span class="slider-toggle-sm round"></span>
                                  </label>
                                  <input *ngIf="contrato.piscina_flag" class="form-control" required autofocus
                                    id="piscina_capacidade" type="text" [(ngModel)]="contrato.piscina_capacidade"
                                    placeholder="Capacitdade(m³)" autocomplete="given-name" />

                                </div>
                              </div>
                            </div>


                            <div class="col-md-3 row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Fossa</label>&nbsp;&nbsp;
                                  <label class="switch-toggle-sm">
                                    <input type="checkbox" [(ngModel)]="contrato.fossa_flag">
                                    <span class="slider-toggle-sm round"></span>
                                  </label>
                                  <input *ngIf="contrato.fossa_flag" class="form-control" required autofocus
                                    id="fossa_capacidade" type="text" [(ngModel)]="contrato.fossa_capacidade"
                                    placeholder="Capacitdade(m³)" autocomplete="given-name" />

                                </div>
                              </div>

                              <div *ngIf="contrato.fossa_flag" class="col-md-6">
                                <div class="form-group">
                                  <label>Acesso de Camião</label>
                                  <br>

                                  <label class="switch-toggle">
                                    <input type="checkbox" [(ngModel)]="contrato.acesso_camiao_flag" checked>
                                    <span class="slider-toggle round"></span>
                                  </label>
                                </div>
                              </div>
                            </div>

                            <div class="col-md-3 row">

                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Anexo</label>&nbsp;&nbsp;
                                  <label class="switch-toggle-sm">
                                    <input type="checkbox" [(ngModel)]="contrato.anexo_flag">
                                    <span class="slider-toggle-sm round"></span>
                                  </label>
                                  <input *ngIf="contrato.anexo_flag" class="form-control" required autofocus
                                    id="anexo_quantidade" type="text" [(ngModel)]="contrato.anexo_quantidade"
                                    placeholder="Quantidade" autocomplete="given-name" />

                                </div>
                              </div>

                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Poço Alternativo</label>
                                  <br>

                                  <label class="switch-toggle">
                                    <input type="checkbox" [(ngModel)]="contrato.poco_alternativo_flag" checked>
                                    <span class="slider-toggle round"></span>
                                  </label>
                                </div>
                              </div>
                            </div>

                            <div class="col-md-3 row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Caixa para Contador</label>
                                  <br>
                                  <label class="switch-toggle">
                                    <input type="checkbox" [(ngModel)]="contrato.caixa_contador_flag" checked>
                                    <span class="slider-toggle round"></span>
                                  </label>
                                </div>
                              </div>

                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Jardins</label>&nbsp;&nbsp;
                                  <label class="switch-toggle-sm">
                                    <input type="checkbox" [(ngModel)]="contrato.jardim_flag">
                                    <span class="slider-toggle-sm round"></span>
                                  </label>

                                  <select *ngIf="contrato.jardim_flag" class="form-control"
                                    (click)="getDetailCampoJardim()" [(ngModel)]="contrato.campo_jardim_id"
                                    name="campo_jardim_id">
                                    <option [value]="null">Jardim</option>
                                    <option value="{{ item.id }}" *ngFor="let item of campo_jardims">
                                      {{ item.nome }}
                                    </option>
                                  </select>
                                </div>
                              </div>

                            </div>

                          </div>


                        </div>
                        <!-- /.invoice -->
                      </div><!-- /.col -->
                    </div><!-- /.row -->
                  </div><!-- /.container-fluid -->
                  <div>
                  </div>
                </section>
                <div class="row">
                  <div class="col text-center">
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" (click)="revertValidateDadosContrato()" class="btn btn-default"
                        awPreviousStep><i class="fa fa-arrow-left"></i>Anterior</button>
                      <button class="btn btn-success" (click)="validateProcess()"> Validar<i
                          class="fa fa-refresh"></i></button>

                      <!--
                          <button class="btn btn-success" (click)="saveContrato()" *ngIf="isFinalizar"> Finalizar <i
                          class="fa fa-save"></i></button>-->
                    </div>
                  </div>
                </div>

              </aw-wizard-step>
            </aw-wizard>
          </div>
          <!-- fim -->


        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>


  <!-- The Modal -->
  <div bsModal #modalAppendServico="bs-modal" class="modal modal-info fade in" id="myModals" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="width: 1200px;">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{{ servico_modal_title }}</h4>
          <button type="button" class="close" (click)="closeModal()" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">

          <div class="row">

            <h3 *ngIf="contrato.tipo_medicao" style="padding: 15px 10px; background: #0099FF; color: #fff;">Tipo de
              Medição:
              {{ contrato.tipo_medicao }}</h3>
            <hr>

            <!--
            <div class="col-md-12 row"
              style="padding: 0px; margin: 0px; padding: 10px; background: #0099FF; color: #fff;"
              *ngIf="tarifario.classe_tarifario_id != null">

              <div class="col-md-4 text-left" style="padding: 10px; background: #0099FF; color: #fff;">
                <span>Classe Tarifário</span>
                <h4>{{ classe_tarifario.descricao }}</h4>
              </div>

              <div class="col-md-4 text-center" style="padding: 10px; background: #0099FF; color: #fff;">
                <span>Mínimo - Máximo | Consumos</span>
                <h4>{{ (classe_tarifario.consumo_minimo != null) ? classe_tarifario.consumo_minimo : '0' }}
                  - {{ (classe_tarifario.consumo_maximo != null) ? classe_tarifario.consumo_maximo : '0' }}
                  (m³)</h4>
              </div>

              <div class="col-md-4 text-right" style="padding: 10px; background: #0099FF; color: #fff;">
                <span>Fixa Mensal - Variável | Tarifas</span>
                <h4>{{ (classe_tarifario.tarifa_fixa_mensal != null) ? classe_tarifario.tarifa_fixa_mensal :
                  '0' }} - {{ (classe_tarifario.tarifa_variavel != null) ? classe_tarifario.tarifa_variavel
                  : '0' }}</h4>
              </div>
            </div>

            -->


            <div *ngIf="edit_servico_flag && facturacao.servicos.length > 0" class="col-md-12 row"
              style="padding: 0px; margin: 0px; padding: 10px; background: #0099FF; color: #fff;">

              <div class="col-md-4 text-left">
                <span>Serviço</span>
                <h4>{{ servico.servico }}</h4>
              </div>

              <div class="col-md-4 text-center">
                <span>Tipo</span>
                <h4>{{ servico.tipo_produto }}</h4>
              </div>

              <div class="col-md-4 text-right">
                <span>Imposto</span>
                <h4>{{ servico.imposto + ' (' + configService.numberFormat(servico.imposto_valor) + ')' }}</h4>
              </div>
            </div>

            <br>

            <div *ngIf="!edit_servico_flag" class="col-md-12">
              <br>

              <div class="form-group">
                <label>Serviços</label>
                <select class="form-control" [(ngModel)]="servico.servico_id" name="servico_id">
                  <option value="null">Serviço</option>
                  <option value="{{ item.id }}" *ngFor="let item of servicos">
                    {{ item.nome }}
                  </option>
                </select>
              </div>
            </div>

            <div *ngIf="edit_servico_flag" class="col-md-12">

              <br>

              <div class="form-group">
                <label>Valor</label>

                <input class="form-control" required autofocus type="number" [(ngModel)]="servico.servico_valor_load"
                  autocomplete="given-name" />

              </div>
            </div>

          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm" (click)="closeModal()"
            data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-outline-primary btn-sm" data-dismiss="modal"
            (click)="appendServico()">Associar</button>
        </div>

      </div>
    </div>
  </div>

  <!-- The Modal -->

  <!-- The Modal -->
  <div class="modal modal-info fade in" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Quantidade do serviço</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">

            <div class="col-md-12" *ngIf="produto_selecionado==0">
              <div class="form-group">
                <label class="control-label"><i class="fa fa-edit"></i> Preço</label>
                <input type="number" name="preco" [(ngModel)]="preco" class="form-control"
                  placeholder="Define um preço para este artigo/serviço">
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label for="exampleInputEmail1"><i class="fa fa-sort-numeric-asc"></i> Quantidade</label>
                <input type="number" class="form-control" id="exampleQunatidade" placeholder="Quantidade" maxlength="3"
                  [(ngModel)]="quantidade">
              </div>
            </div>

            <div class="col-md-6" *ngIf="http.canActivateRouterLink('atribuir_desconto')">
              <div class="form-group">
                <label for="exampleInputEmail1"><i class="fa fa-sort-numeric-asc"></i> Desconto</label>
                <input type="number" class="form-control" id="exampleDesconto" maxlength="3" placeholder="Desconto"
                  [(ngModel)]="desconto">
              </div>
            </div>
            <!--
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label"><i class="fa fa-edit"></i> Descrição</label>
                <input type="text" name="descricao" class="form-control" id="exampleInputPassword1" placeholder="Descrição"
                  #descricao>
              </div>
            </div>-->

          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-outline-primary btn-sm" data-dismiss="modal"
            (click)="getAddProduto()">Adicionar</button>
        </div>

      </div>
    </div>
  </div>

  <br><br><br>


  <ng-template #detalhe_content>

    <div class="col-sm-12 row">

      <div class="col-sm-3 row" style="margin: 0;">
        <h4 class="col-sm-12 text-center" style="padding: 10px; color: #0099FF;">
          Cliente
          <hr>
        </h4>
        <div class="col-sm-6 text-right">Nome</div>
        <div class="col-sm-6"><strong>{{ facturacao.cliente.nome }}</strong></div>

        <div class="col-sm-6 text-right">ID</div>
        <div class="col-sm-6"><strong>{{ facturacao.cliente.id }}</strong></div>

        <div class="col-sm-6 text-right">Conta</div>
        <div class="col-sm-6"><strong>{{ conta.id }}</strong></div>

        <div *ngIf="facturacao.cliente.genero" class="col-sm-6 text-right">Género</div>
        <div *ngIf="facturacao.cliente.genero" class="col-sm-6">
          <strong>{{ facturacao.cliente.genero }}</strong>
        </div>

        <div class="col-sm-6 text-right">Telefone</div>
        <div class="col-sm-6"><strong>{{ facturacao.cliente.telefone }}</strong></div>

        <div *ngIf="facturacao.cliente.email" class="col-sm-6 text-right">Email</div>
        <div *ngIf="facturacao.cliente.email" class="col-sm-6">
          <strong>{{ facturacao.cliente.email }}</strong>
        </div>

        <div *ngIf="facturacao.cliente.tipo_identidade" class="col-sm-6 text-right">Tipo de Identidade
        </div>
        <div *ngIf="facturacao.cliente.tipo_identidade" class="col-sm-6">
          <strong>{{ facturacao.cliente.tipo_identidade }}</strong>
        </div>

        <div class="col-sm-6 text-right">Número da Identidade</div>
        <div class="col-sm-6"><strong>{{ facturacao.cliente.numero_identificacao }}</strong></div>

        <div *ngIf="facturacao.cliente.direccao" class="col-sm-6 text-right">Direcção</div>
        <div *ngIf="facturacao.cliente.direccao" class="col-sm-6">
          <strong>{{ facturacao.cliente.direccao }}</strong>
        </div>

        <div *ngIf="facturacao.cliente.gestor_cliente" class="col-sm-6 text-right">Gestor de Cliente</div>
        <div *ngIf="facturacao.cliente.gestor_cliente" class="col-sm-6">
          <strong>{{ facturacao.cliente.gestor_cliente }}</strong>
        </div>

      </div>

      <div *ngIf="tarifario.classe_tarifario_id" class="col-sm-3 row" style="margin: 0;">

        <h4 class="col-sm-12 text-center" style="padding: 10px; color: #0099FF;">
          Tarifário
          <hr>
        </h4>

        <div *ngIf="classe_tarifario.descricao" class="col-sm-6 text-right">Classe Tarifário</div>
        <div *ngIf="classe_tarifario.descricao" class="col-sm-6">
          <strong>{{ classe_tarifario.descricao }}</strong>
        </div>

        <div *ngIf="classe_tarifario.tarifa_fixa_mensal" class="col-sm-6 text-right">Tarifa Fixa Mensal</div>
        <div *ngIf="classe_tarifario.tarifa_fixa_mensal" class="col-sm-6">
          <strong>{{ classe_tarifario.tarifa_fixa_mensal }}</strong>
        </div>

        <div *ngIf="classe_tarifario.tarifa_variavel" class="col-sm-6 text-right">Tarifa Variável</div>
        <div *ngIf="classe_tarifario.tarifa_variavel" class="col-sm-6">
          <strong>{{ classe_tarifario.tarifa_variavel }}</strong>
        </div>

        <div *ngIf="classe_tarifario.consumo_minimo" class="col-sm-6 text-right">Consumo Mínimo</div>
        <div *ngIf="classe_tarifario.consumo_minimo" class="col-sm-6">
          <strong>{{ classe_tarifario.consumo_minimo }}</strong>
        </div>

        <div *ngIf="classe_tarifario.consumo_maximo" class="col-sm-6 text-right">Consumo Máximo</div>
        <div *ngIf="classe_tarifario.consumo_maximo" class="col-sm-6">
          <strong>{{ classe_tarifario.consumo_maximo }}</strong>
        </div>


      </div>

      <div class="col-sm-3 row" style="margin: 0;">

        <h4 class="col-sm-12 text-center" style="padding: 10px; color: #0099FF;">
          Contrato
          <hr>
        </h4>

        <div class="col-sm-6 text-right">Tarifa</div>
        <div class="col-sm-6"><strong>{{ facturacao.cliente.tipo_cliente }}</strong></div>

        <div *ngIf="contrato.tipo_medicao" class="col-sm-6 text-right">Tipo de Medição</div>
        <div *ngIf="contrato.tipo_medicao" class="col-sm-6"><strong>{{ contrato.tipo_medicao }}</strong>
        </div>

        <div *ngIf="contrato.tipo_contrato" class="col-sm-6 text-right">Tipo de Utilização</div>
        <div *ngIf="contrato.tipo_contrato" class="col-sm-6"><strong>{{ contrato.tipo_contrato }}</strong>
        </div>

        <div *ngIf="contrato.tipo_facturacao" class="col-sm-6 text-right">Tipo de Facturação</div>
        <div *ngIf="contrato.tipo_facturacao" class="col-sm-6">
          <strong>{{ contrato.tipo_facturacao }}</strong>
        </div>

        <div *ngIf="contrato.ciclo_facturacao_dia_facturacao" class="col-sm-6 text-right">Ciclo de
          Facturação</div>
        <div *ngIf="contrato.ciclo_facturacao_dia_facturacao" class="col-sm-6">
          <strong>{{ contrato.ciclo_facturacao_dia_facturacao + "-" +
            contrato.ciclo_facturacao_dia_ultima_leitura + "/" + contrato.ciclo_facturacao_mes + "/" +
            contrato.ciclo_facturacao_ano }}</strong>
        </div>

        <div *ngIf="contrato.tipologia_cliente" class="col-sm-6 text-right">Tipologias de Clientes</div>
        <div *ngIf="contrato.tipologia_cliente" class="col-sm-6">
          <strong>{{ contrato.tipologia_cliente }}</strong>
        </div>

        <div *ngIf="contrato.tipologia_cliente_juro_mora" class="col-sm-6 text-right">• Juros</div>
        <div *ngIf="contrato.tipologia_cliente_juro_mora" class="col-sm-6">
          <strong>{{ contrato.tipologia_cliente_juro_mora }}% de juros</strong>
        </div>

        <div *ngIf="contrato.sujeito_corte" class="col-sm-6 text-right">• Sujeito a corte</div>
        <div *ngIf="contrato.sujeito_corte" class="col-sm-6">
          <strong>{{ (contrato.sujeito_corte == 1) ? 'Sim' : 'Não' }}</strong>
        </div>

        <div *ngIf="contrato.tipologia_cliente_caucao" class="col-sm-6 text-right">• Caucao</div>
        <div *ngIf="contrato.tipologia_cliente_caucao" class="col-sm-6">
          <strong>{{ contrato.tipologia_cliente_caucao }}</strong>
        </div>

        <div *ngIf="contrato.media_consumo" class="col-sm-6 text-right">Média de Consumo</div>
        <div *ngIf="contrato.media_consumo" class="col-sm-6"><strong>{{ contrato.media_consumo }}</strong>
        </div>

        <div *ngIf="contrato.objecto_contrato" class="col-sm-6 text-right">Objecto de contrato</div>
        <div *ngIf="contrato.objecto_contrato" class="col-sm-6">
          <strong>{{ contrato.objecto_contrato }}</strong>
        </div>

        <div *ngIf="contrato.nivel_sensibilidade" class="col-sm-6 text-right">Nível de Sensibilidade</div>
        <div *ngIf="contrato.nivel_sensibilidade" class="col-sm-6">
          <strong>{{ contrato.nivel_sensibilidade }}</strong>
        </div>

        <div *ngIf="contrato.classe_tarifario_consumo_maximo" class="col-sm-6 text-right">• Consumo Máximo
        </div>
        <div *ngIf="contrato.classe_tarifario_consumo_maximo" class="col-sm-6">
          <strong>{{ contrato.classe_tarifario_consumo_maximo }}</strong>
        </div>

        <div *ngIf="contrato.numero_habitantes" class="col-sm-6 text-right">Número de Habitantes</div>
        <div *ngIf="contrato.numero_habitantes" class="col-sm-6"><strong>{{ contrato.numero_habitantes }}
            habitantes</strong></div>

        <div *ngIf="contrato.numero_utilizadores" class="col-sm-6 text-right">Número de Utilizadores</div>
        <div *ngIf="contrato.numero_utilizadores" class="col-sm-6"><strong>{{ contrato.numero_utilizadores
            }}
            utilizadores</strong></div>

        <div *ngIf="contrato.data_inicio" class="col-sm-6 text-right">Data de Ínicio</div>
        <div *ngIf="contrato.data_inicio" class="col-sm-6"><strong>{{ contrato.data_inicio }}</strong>
        </div>

        <div *ngIf="!contrato.data_fim" class="col-sm-6 text-right">Data prevista de Fim</div>
        <div *ngIf="!contrato.data_fim" class="col-sm-6"><strong>{{ contrato.data_fim }}</strong></div>


        <div *ngIf="contrato.motivo_recisao" class="col-sm-6 text-right">Motivo de Denúncia/Recisão</div>
        <div *ngIf="contrato.motivo_recisao" class="col-sm-6">
          <strong>{{ contrato.motivo_recisao }}</strong>
        </div>

        <div class="col-sm-6 text-right">Morada de Correspondência</div>
        <div class="col-sm-6">
          <strong>{{ (contrato.morada_correspondencia_flag == 1) ? 'Sim' : 'Não' }}</strong>
        </div>


      </div>



      <div class="col-sm-3 row" style="margin: 0;">

        <h4 class="col-sm-12 text-center" style="padding: 10px; color: #0099FF;">
          CIL
          <hr>
        </h4>

        <div *ngIf="contrato.tipo_local_consumo" class="col-sm-6 text-right">Tipo de CIL</div>
        <div *ngIf="contrato.tipo_local_consumo" class="col-sm-6">
          <strong>{{ contrato.tipo_local_consumo }}</strong>
        </div>

        <div *ngIf="contrato.abastecimento_cil" class="col-sm-6 text-right">Tipo de Abastecimento</div>
        <div *ngIf="contrato.abastecimento_cil" class="col-sm-6">
          <strong>{{ contrato.abastecimento_cil }}</strong>
        </div>

        <div *ngIf="contrato.calibre" class="col-sm-6 text-right">Caliibre</div>
        <div *ngIf="contrato.calibre" class="col-sm-6"><strong>{{ contrato.calibre }}</strong></div>

        <div class="col-sm-6 text-right">Instalações Sanitárias(Qtde)</div>
        <div class="col-sm-6"><strong>{{ contrato.tipo_medicao }}</strong></div>

        <div class="col-sm-6 text-right">Reservatório</div>
        <div class="col-sm-6"><strong>{{ (contrato.reservatorio_flag == 1) ? 'Sim' : 'Não' }}</strong>
        </div>

        <div *ngIf="contrato.reservatorio_flag" class="col-sm-6 text-right">Capacidade do Reservatório
        </div>
        <div *ngIf="contrato.reservatorio_flag" class="col-sm-6">
          <strong>{{ contrato.reservatorio_capacidade }} m³</strong>
        </div>

        <div class="col-sm-6 text-right">Piscina</div>
        <div class="col-sm-6"><strong>{{ (contrato.piscina_flag == 1) ? 'Sim' : 'Não' }}</strong></div>

        <div *ngIf="contrato.piscina_flag" class="col-sm-6 text-right">Capacidade da Piscina</div>
        <div *ngIf="contrato.piscina_flag" class="col-sm-6"><strong>{{ contrato.piscina_capacidade }}
            m³</strong></div>

        <div class="col-sm-6 text-right">Fossa</div>
        <div class="col-sm-6"><strong>{{ (contrato.fossa_flag == 1) ? 'Sim' : 'Não' }}</strong></div>

        <div *ngIf="contrato.fossa_flag" class="col-sm-6 text-right">Capacidade da Fossa</div>
        <div *ngIf="contrato.fossa_flag" class="col-sm-6"><strong>{{ contrato.fossa_capacidade }}
            m³</strong></div>

        <div class="col-sm-6 text-right">Acesso de Camião</div>
        <div class="col-sm-6"><strong>{{ (contrato.acesso_camiao_flag == 1) ? 'Sim' : 'Não' }}</strong>
        </div>

        <div class="col-sm-6 text-right">Poço Alternativo</div>
        <div class="col-sm-6"><strong>{{ (contrato.poco_alternativo_flag == 1) ? 'Sim' : 'Não' }}</strong>
        </div>

        <div class="col-sm-6 text-right">Anexos</div>
        <div class="col-sm-6"><strong>{{ (contrato.anexo_flag == 1) ? 'Sim' : 'Não' }}</strong></div>

        <div *ngIf="contrato.anexo_flag" class="col-sm-6 text-right">Quantidade de Anexos</div>
        <div *ngIf="contrato.anexo_flag" class="col-sm-6"><strong>{{ contrato.anexo_quantidade }}
            m³</strong></div>

        <div class="col-sm-6 text-right">Campo para Jardim</div>
        <div class="col-sm-6"><strong>{{ (contrato.jardim_flag == 1) ? 'Sim' : 'Não' }}</strong></div>

        <div *ngIf="contrato.jardim_flag" class="col-sm-6 text-right">Campo para Jardim</div>
        <div *ngIf="contrato.jardim_flag" class="col-sm-6"><strong>{{ contrato.campo_jardim }} m³</strong>
        </div>

      </div>

    </div>

  </ng-template>


  <ng-template #dataEmpty>------</ng-template>

  <ng-template #emptyList>
    <div align="center">
      <h2>Sem resultados</h2>
      <span></span>
    </div>
  </ng-template>

  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>