<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Contratos</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active">Listar Contratos</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-edit"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Temporários</span>
              <span class="info-box-number">{{ dashboard.countTemporario }}</span>

              <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
              </div>
              <span class="progress-description">
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-edit"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Activos</span>
              <span class="info-box-number">{{ dashboard.countAtivo }}</span>

              <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
              </div>
              <span class="progress-description">
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>

        <div class="col-md-2 col-sm-6 col-xs-12">
          <div class="info-box" style="background-color: #01ff70!important; color: white;">
            <span class="info-box-icon"><i class="fa fa-edit"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Contratos</span>
              <span class="info-box-number">{{ dashboard.countContrato }}</span>

              <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
              </div>
              <span class="progress-description">

              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>

        <!-- /.col -->
        <div class="col-md-2 col-sm-6 col-xs-12">
          <div class="info-box bg-yellow">
            <span class="info-box-icon"><i class="fa fa-edit"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Inactivos</span>
              <span class="info-box-number">{{ dashboard.countInativo }}</span>

              <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
              </div>
              <span class="progress-description">
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-2 col-sm-6 col-xs-12">
          <div class="info-box bg-red">
            <span class="info-box-icon"><i class="fa fa-edit"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Cancelados</span>
              <span class="info-box-number">{{ dashboard.countCancelado }}</span>

              <div class="progress">
                <div class="progress-bar" style="width: 50%"></div>
              </div>
              <span class="progress-description">
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>

      <br>
      <div class="row">

        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;margin-top:0">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title"> Filtro de Dados</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <div class="row">

                    <div class="col-md-1 col-xs-3">
                      <div class="form-group">
                        <select
                          name="perPage"
                          (change)="getPageFilterData($event)"
                          [(ngModel)]="this.http.filters.pagination.perPage"
                          class="form-control">
                          <option value="1">Entrada</option>
                          <option value="5" selected>5</option>
                          <option value="10">10</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                        </select>
                      </div>
                      <!-- /.input group -->
                    </div>

                    <div class="col-md-4 col-xs-3">
                      <div class="form-group">
                        <input type="text" name="search" [(ngModel)]="this.http.filters.search"
                          placeholder="Pesquisar..." class="form-control" (keyup)="getPageFilterData($event)">
                        <i class="fa fa-search"
                          style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                      </div>
                      <!-- /.input group -->
                    </div>

                    <div class="col-md-1 col-xs-3">
                      <div class="form-group">
                        <select name="orderBy" (change)="getPageFilterData($event)"
                          [(ngModel)]="this.http.filters.orderBy" class="form-control">
                          <option [ngValue]="null">Ordernar</option>
                          <option value="nome">Nome do cliente</option>
                          <option value="created_at">Data</option>
                          <option value="morada">Morada</option>
                          <option value="telefone">Telefone</option>
                        </select>
                      </div>
                      <!-- /.input group -->
                    </div>

                    <div class="col-md-1 col-xs-2">
                      <div class="form-group">
                        <div class="input-group">
                          <button type="button" class="btn btn-info btn-flatt mr-1 btn-smm" type="button"><i
                              class="fa fa-search"></i>
                            Filtrar</button>
                        </div>
                        <!-- /.input group -->
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;margin:0">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <div class="modal-header">
                  <h4 class="modal-title">LISTA DE CONTRATOS</h4>
                  <div class="card-tools">

                    <button class="btn btn-outline-primary btn-sm btn-flat" type="button" (click)="listarContratos()"><i
                        class="icon-refresh"></i> Recarregar Dados</button>

                    <div class="form-group" style="float: right;">
                      <div class="input-group">
                        <div class="btn-group">

                          <div class="btn-group">
                            <button type="button" class="btn btn-info dropdown-toggle dropdown-icon btn-sm btn-flat"
                              data-toggle="dropdown" aria-expanded="false" [disabled]="disabledButton"> <i
                                class="fa fa-download"></i> Exportação
                            </button>
                            <div class="dropdown-menu" x-placement="bottom-start" style="left: 40px;">
                              <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsXLSX();"><i
                                  class="fa fa-file-excel-o"></i> Excel</a>
                            </div>
                          </div>
                          <button type="button" class="btn btn-info btn-flat btn-sm" (click)="imprimirPDF()"
                            [disabled]="disabledButton"><i class="icon-printer"></i> Imprimir</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-body">
                  <div class="table-responsivee">
                    <ngx-loading [show]="loadingListarFacturacao"></ngx-loading>

                    <table *ngIf="contratos.length > 0;else emptyList"
                      class="table table-hover table-bordered table-striped text-center exportAsXLSX">
                      <tbody>
                        <tr style="color: #fff; background: #0099FF;">
                          <th>ID</th>
                          <th>Cliente</th>
                          <th>CIL</th>
                          <th>Morada</th>
                          <th>Objecto</th>
                          <th>Tipo Medição</th>
                          <th>Tarifário</th>
                          <th>Contador</th>
                          <th>Estado</th>
                          <th style="width: 150px;">Operações</th>

                        </tr>
                        <tr
                          *ngFor="let contrato of contratos | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                          <td>{{ contrato.contrato_id }}</td>
                          <td>{{ contrato.cliente_nome }}</td>
                          <td>{{ contrato.cil }}</td>
                          <td>
                            <span *ngIf="contrato.is_predio">{{'Prédio ' + contrato.predio_nome + ', ' + contrato.predio_andar + 'ºAndar - Porta '}}</span>
                            <span *ngIf="!contrato.is_predio">{{contrato.moradia_numero ? 'Residência ' + contrato.moradia_numero : '' }}</span>
                          </td>
                          <td>{{ contrato.objecto_nome }}</td>
                          <td>{{ contrato.tipo_medicao }}</td>
                          <td>{{ contrato.tarifario_descricao }}</td>
                          <td>{{ contrato.numero_serie }}</td>
                          <td>
                            <span *ngIf="contrato.slug_estado_contrato == null">------</span>
                            <span class="btn bg-danger btn-block btn-flat status-label"
                              *ngIf="contrato.slug_estado_contrato =='RESCINDIDO'">{{ contrato.nome_estado_contrato
                              }}</span>
                              <span class="btn bg-info btn-block btn-flat status-label"
                              *ngIf="contrato.slug_estado_contrato =='PRE_RESCISAO'">{{ contrato.nome_estado_contrato
                              }}</span>
                            <span class="btn bg-aqua btn-block btn-flat status-label"
                              *ngIf="contrato.slug_estado_contrato =='SUSPENSO'">{{ contrato.nome_estado_contrato
                              }}</span>
                            <span class="btn bg-yellow btn-block btn-flat status-label"
                              *ngIf="contrato.slug_estado_contrato =='MOTIVOS_TECNICOS' && contrato.slug_estado_contrato =='FALTA_PAGAMENTO' && contrato.slug_estado_contrato =='PEDIDO_CLIENTE'">
                              {{ contrato.slug_estado_contrato }}
                            </span>
                            <span class="btn bg-success btn-block btn-flat status-label"
                              *ngIf="contrato.slug_estado_contrato =='ACTIVO'">{{ contrato.nome_estado_contrato
                              }}</span>
                          </td>
                          <td>

                            <div class="btn-group btn-block">
                              <button type="button" class="btn btn-info  btn-flat btn-sm"
                                data-toggle="dropdown">Opções</button>
                              <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Menu Serviços</span>
                              </button>
                              <div class="dropdown-menu" role="menu" x-placement="bottom-start">

                                <a *ngIf="contrato.slug_estado_contrato == 'ACTIVO'" href="javascript:void(0)"
                                  data-toggle="modal" data-target="#rescindirContratoModal"
                                  (click)="findByIdContrato(contrato.contrato_id); getMotivosRescisao(); getEstadosRescisao()"
                                  class="dropdown-item btn-sm"><i class="fa fa-close"></i>
                                  Denunciar/Rescindir</a>

                                <a href="javascript:void(0)" data-toggle="modal" (click)="imprimirContrato(contrato.contrato_id);"
                                  class="dropdown-item btn-sm" title="Imprimir Contrato"><i class="fa fa-print"></i>
                                  Imprimir Contrato</a>


                                <a href="javascript:void(0)" *ngIf="contrato.slug_estado_contrato =='RESCINDIDO'"
                                  (click)="imprimirPDFRescisao(contrato.contrato_id);" class="dropdown-item btn-sm"
                                  title="Imprimir Rescisão">
                                  <i class="fa fa-print"></i>Imprimir Rescisão</a>

                              </div>
                            </div>

                          </td>

                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="row" style="width: 100%;">
                    <div class="col-sm-12 col-md-5">
                      <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                        {{this.http.filters.pagination.perPage}} de
                        {{this.http.filters.pagination.total}} Registos
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                      <div class="pull-right">
                        <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior"
                          maxSize="6" nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <div class="modal modal-info fade in" id="rescindirContratoModal" data-backdrop="static">
      <div class="modal-dialog modal-lg " style="max-width: 1200px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa icon fa-credit-card"></i> Denúncia/Rescisão de Contrato
              {{ contrato.id }} - ({{ contrato.tipo_medicao }}) </h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <app-alert></app-alert>
            <ngx-loading [show]="loadingRescisao"></ngx-loading>
            <section class="content">
              <div class="content">
                <div class="row">
                  <div class="col-md-12">

                    <div class="card">

                      <div class="panel box box-success">
                        <div class="box-header with-border">
                          <h4 class="box-title col-md-12">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                              class="collapsed row" aria-expanded="true">
                              <h4 class="col-md-12" style="padding: 10px; color: #02507C;">
                                Detalhes do Contrato</h4>
                            </a>
                          </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" aria-expanded="true"
                          style="height: 0px;">
                          <div class="box-body">

                            <div class="col-sm-12 row">

                              <div class="col-sm-4 row" style="margin: 0;">
                                <h4 class="col-sm-12 text-center" style="padding: 10px; color: #0099FF;">
                                  Cliente
                                  <hr>
                                </h4>
                                <div class="col-sm-6 text-right">Nome</div>
                                <div class="col-sm-6"><strong>{{ contrato.cliente_nome }}</strong></div>

                                <div class="col-sm-6 text-right">Conta</div>
                                <div class="col-sm-6"><strong>{{ contrato.numero_conta }}</strong></div>

                                <div *ngIf="contrato.genero" class="col-sm-6 text-right">Género</div>
                                <div *ngIf="contrato.genero" class="col-sm-6">
                                  <strong>{{ contrato.genero }}</strong>
                                </div>

                                <div class="col-sm-6 text-right">Telefone</div>
                                <div class="col-sm-6"><strong>{{ contrato.telefone }}</strong></div>

                                <div *ngIf="contrato.cliente_email" class="col-sm-6 text-right">Email</div>
                                <div *ngIf="contrato.cliente_email" class="col-sm-6">
                                  <strong>{{ contrato.cliente_email }}</strong>
                                </div>

                                <div *ngIf="contrato.tipo_identidade" class="col-sm-6 text-right">Tipo de Identidade
                                </div>
                                <div *ngIf="cliente.tipo_identidade" class="col-sm-6">
                                  <strong>{{ contrato.tipo_identidade }}</strong>
                                </div>

                                <div class="col-sm-6 text-right">Número da Identidade</div>
                                <div class="col-sm-6"><strong>{{ contrato.numero_identificacao }}</strong> </div>

                                <div class="col-sm-6 text-right">Tipo de Cliente</div>
                                <div class="col-sm-6"><strong>{{ contrato.tipo_cliente }}</strong></div>

                                <div *ngIf="contrato.direccao" class="col-sm-6 text-right">Direcção</div>
                                <div *ngIf="contrato.direccao" class="col-sm-6">
                                  <strong>{{ contrato.direccao }}</strong>
                                </div>

                                <div *ngIf="contrato.gestor_cliente" class="col-sm-6 text-right">Gestor de Cliente
                                </div>
                                <div *ngIf="contrato.gestor_cliente" class="col-sm-6">
                                  <strong>{{ cliente.gestor_cliente }}</strong>
                                </div>

                              </div>

                              <div class="col-sm-4 row" style="margin: 0;">

                                <h4 class="col-sm-12 text-center" style="padding: 10px; color: #0099FF;">
                                  Contrato
                                  <hr>
                                </h4>

                                <div *ngIf="contrato.id" class="col-sm-6 text-right">Contrato</div>
                                <div *ngIf="contrato.id" class="col-sm-6">
                                  <strong>{{ contrato.id }}</strong>
                                </div>
                                <div *ngIf="contrato.tipo_medicao" class="col-sm-6 text-right">Tipo de Medição</div>
                                <div *ngIf="contrato.tipo_medicao" class="col-sm-6">
                                  <strong>{{ contrato.tipo_medicao }}</strong>
                                </div>

                                <div *ngIf="contrato.numero_serie" class="col-sm-6 text-right">Contador</div>
                                <div *ngIf="contrato.numero_serie" class="col-sm-6">
                                  <strong>{{ contrato.numero_serie }}</strong>
                                </div>

                                <div *ngIf="contrato.tipo_contrato" class="col-sm-6 text-right">Tipo de Contrato</div>
                                <div *ngIf="contrato.tipo_contrato" class="col-sm-6">
                                  <strong>{{ contrato.tipo_contrato }}</strong>
                                </div>

                                <div *ngIf="contrato.tipo_facturacao" class="col-sm-6 text-right">Tipo de Facturação
                                </div>
                                <div *ngIf="contrato.tipo_facturacao" class="col-sm-6">
                                  <strong>{{ contrato.tipo_facturacao }}</strong>
                                </div>

                                <div *ngIf="contrato.ciclo_facturacao_dia_facturacao" class="col-sm-6 text-right">Ciclo
                                  de
                                  Facturação</div>
                                <div *ngIf="contrato.ciclo_facturacao_dia_facturacao" class="col-sm-6">
                                  <strong>{{ contrato.ciclo_facturacao_dia_facturacao + "-" +
                                    contrato.ciclo_facturacao_dia_ultima_leitura + "/" + contrato.ciclo_facturacao_mes +
                                    "/" + contrato.ciclo_facturacao_ano }}</strong>
                                </div>

                                <div *ngIf="contrato.tipologia_cliente" class="col-sm-6 text-right">Tipologias de
                                  Clientes</div>
                                <div *ngIf="contrato.tipologia_cliente" class="col-sm-6">
                                  <strong>{{ contrato.tipologia_cliente }}</strong>
                                </div>

                                <div *ngIf="contrato.tipologia_cliente_juro_mora" class="col-sm-6 text-right">• Juros
                                </div>
                                <div *ngIf="contrato.tipologia_cliente_juro_mora" class="col-sm-6">
                                  <strong>{{ contrato.tipologia_cliente_juro_mora }}% de juros</strong>
                                </div>

                                <div *ngIf="contrato.sujeito_corte" class="col-sm-6 text-right">• Sujeito a corte</div>
                                <div *ngIf="contrato.sujeito_corte" class="col-sm-6">
                                  <strong>{{ (contrato.sujeito_corte == 1) ? 'Sim' : 'Não' }}</strong>
                                </div>

                                <div *ngIf="contrato.tipologia_cliente_caucao" class="col-sm-6 text-right">• Caucao
                                </div>
                                <div *ngIf="contrato.tipologia_cliente_caucao" class="col-sm-6">
                                  <strong>{{ contrato.tipologia_cliente_caucao }}</strong>
                                </div>

                                <div *ngIf="contrato.media_consumo" class="col-sm-6 text-right">Média de Consumo</div>
                                <div *ngIf="contrato.media_consumo" class="col-sm-6">
                                  <strong>{{ contrato.media_consumo }}</strong>
                                </div>

                                <div *ngIf="contrato.objecto_contrato" class="col-sm-6 text-right">Objecto de contrato
                                </div>
                                <div *ngIf="contrato.objecto_contrato" class="col-sm-6">
                                  <strong>{{ contrato.objecto_contrato }}</strong>
                                </div>

                                <div *ngIf="contrato.nivel_sensibilidade" class="col-sm-6 text-right">Nível de
                                  Sensibilidade</div>
                                <div *ngIf="contrato.nivel_sensibilidade" class="col-sm-6">
                                  <strong>{{ contrato.nivel_sensibilidade }}</strong>
                                </div>

                                <div *ngIf="contrato.classe_tarifario_consumo_maximo" class="col-sm-6 text-right">•
                                  Consumo Máximo
                                </div>
                                <div *ngIf="contrato.classe_tarifario_consumo_maximo" class="col-sm-6">
                                  <strong>{{ contrato.classe_tarifario_consumo_maximo }}</strong>
                                </div>

                                <div *ngIf="contrato.numero_habitantes" class="col-sm-6 text-right">Número de Habitantes
                                </div>
                                <div *ngIf="contrato.numero_habitantes" class="col-sm-6">
                                  <strong>{{ contrato.numero_habitantes }}
                                    habitantes</strong>
                                </div>

                                <div *ngIf="contrato.data_inicio" class="col-sm-6 text-right">Data Ínicio</div>
                                <div *ngIf="contrato.data_inicio" class="col-sm-6">
                                  <strong>{{ contrato.data_inicio | date: 'dd-MM-yyyy' }}</strong>
                                </div>

                                <div *ngIf="!contrato.vitalicio" class="col-sm-6 text-right">Data Fim</div>
                                <div *ngIf="!contrato.vitalicio" class="col-sm-6">
                                  <strong>{{ contrato.data_fim | date: 'dd-MM-yyyy' }}</strong>
                                </div>

                                <div class="col-sm-6 text-right">Morada de Correspondência</div>
                                <div class="col-sm-6">
                                  <strong>{{ (contrato.morada_correspondencia_flag == 1) ? 'Sim' : 'Não' }}</strong>
                                </div>

                                <div *ngIf="contrato.motivo_recisao" class="col-sm-6 text-right">Motivo de
                                  Denúncia/Recisão</div>
                                <div *ngIf="contrato.motivo_recisao" class="col-sm-6">
                                  <strong>{{ contrato.motivo_recisao }}</strong>
                                </div>

                              </div>

                              <div class="col-sm-3 row" style="margin: 0;">

                                <h4 class="col-sm-12 text-center" style="padding: 10px; color: #0099FF;">
                                  CIL
                                  <hr>
                                </h4>

                                <div *ngIf="contrato.tipo_local_consumo" class="col-sm-6 text-right">Tipo de CIL</div>
                                <div *ngIf="contrato.tipo_local_consumo" class="col-sm-6">
                                  <strong>{{ contrato.tipo_local_consumo }}</strong>
                                </div>

                                <div *ngIf="contrato.abastecimento_cil" class="col-sm-6 text-right">Tipo de Local de
                                  Consumo</div>
                                <div *ngIf="contrato.abastecimento_cil" class="col-sm-6">
                                  <strong>{{ contrato.abastecimento_cil }}</strong>
                                </div>

                                <div *ngIf="contrato.calibre" class="col-sm-6 text-right">Caliibre</div>
                                <div *ngIf="contrato.calibre" class="col-sm-6"><strong>{{ contrato.calibre }}</strong>
                                </div>

                                <div class="col-sm-6 text-right">Instalações Sanitárias</div>
                                <div class="col-sm-6"><strong>{{ contrato.instalacao_sanitaria_qtd }}</strong></div>

                                <div class="col-sm-6 text-right">Reservatório</div>
                                <div class="col-sm-6">
                                  <strong>{{ (contrato.reservatorio_flag == 1) ? 'Sim' : 'Não' }}</strong>
                                </div>

                                <div *ngIf="contrato.reservatorio_flag" class="col-sm-6 text-right">Capacidade do
                                  Reservatório
                                </div>
                                <div *ngIf="contrato.reservatorio_flag" class="col-sm-6">
                                  <strong>{{ contrato.reservatorio_capacidade }} m³</strong>
                                </div>

                                <div class="col-sm-6 text-right">Piscina</div>
                                <div class="col-sm-6">
                                  <strong>{{ (contrato.piscina_flag == 1) ? 'Sim' : 'Não' }}</strong>
                                </div>

                                <div *ngIf="contrato.piscina_flag" class="col-sm-6 text-right">Capacidade da Piscina
                                </div>
                                <div *ngIf="contrato.piscina_flag" class="col-sm-6">
                                  <strong>{{ contrato.piscina_capacidade }}
                                    m³</strong>
                                </div>

                                <div class="col-sm-6 text-right">Fossa</div>
                                <div class="col-sm-6"><strong>{{ (contrato.fossa_flag == 1) ? 'Sim' : 'Não' }}</strong>
                                </div>

                                <div *ngIf="contrato.fossa_flag" class="col-sm-6 text-right">Capacidade da Fossa</div>
                                <div *ngIf="contrato.fossa_flag" class="col-sm-6">
                                  <strong>{{ contrato.fossa_capacidade }}
                                    m³</strong>
                                </div>

                                <div class="col-sm-6 text-right">Acesso de Camião</div>
                                <div class="col-sm-6">
                                  <strong>{{ (contrato.acesso_camiao_flag == 1) ? 'Sim' : 'Não' }}</strong>
                                </div>

                                <div class="col-sm-6 text-right">Poço Alternativo</div>
                                <div class="col-sm-6">
                                  <strong>{{ (contrato.poco_alternativo_flag == 1) ? 'Sim' : 'Não' }}</strong>
                                </div>

                                <div class="col-sm-6 text-right">Anexos</div>
                                <div class="col-sm-6"><strong>{{ (contrato.anexo_flag == 1) ? 'Sim' : 'Não' }}</strong>
                                </div>

                                <div *ngIf="contrato.anexo_flag" class="col-sm-6 text-right">Quantidade de Anexos da
                                  Fossa</div>
                                <div *ngIf="contrato.anexo_flag" class="col-sm-6">
                                  <strong>{{ contrato.anexo_quantidade }}
                                    m³</strong>
                                </div>

                                <div class="col-sm-6 text-right">Campo para Jardim</div>
                                <div class="col-sm-6"><strong>{{ (contrato.jardim_flag == 1) ? 'Sim' : 'Não' }}</strong>
                                </div>

                                <div *ngIf="contrato.jardim_flag" class="col-sm-6 text-right">Campo para Jardim</div>
                                <div *ngIf="contrato.jardim_flag" class="col-sm-6"><strong>{{ contrato.campo_jardim }}
                                    m³</strong>
                                </div>

                                <div class="col-sm-6">M. Correspondência</div>
                                <div class="col-sm-6">
                                  <strong>{{ (contrato.morada_correspondencia_flag == 1) ? 'Sim' : 'Não' }}</strong>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="col-md-12 row">

                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Data de rescisão</label>
                            <input type="date" [(ngModel)]="contrato.data_rescisao" placeholder="" class="form-control">
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Motivos de Denúncia/Rescisão</label>

                            <select class="form-control" [(ngModel)]="contrato.motivo_recisao_id"
                              name="motivo_recisao_id">
                              <option value="null">Motivo de Denúncia/Rescisão</option>
                              <option value="{{ item.id }}" *ngFor="let item of motivo_rescisaos">
                                {{ item.nome }}
                              </option>
                            </select>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Estado de Rescisão</label>

                            <select class="form-control" [(ngModel)]="contrato.estado_rescisao_id"
                              name="estado_rescisao_id">
                              <option value="null">Estados de Rescisão</option>
                              <option value="{{ item.id }}" *ngFor="let item of estado_rescisaos">
                                {{ item.nome }}
                              </option>
                            </select>
                          </div>
                        </div>

                        <!--
                        <div class="col-md-12 row" *ngIf="contrato.morada_correspondencia_flag">
                          <br />
                          <h5 class="col-md-12" style="padding: 10px; background: #0099FF; color: #fff;">Morada de
                            Correspondência</h5>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="morada">Província</label>
                              <select [(ngModel)]="local_instalacaoprovincia_id" class="form-control" required
                                (change)="selectBoxMunicipiosByProvincia()" [disabled]="!provincias">
                                <option [value]="null">Província</option>
                                <option *ngFor="let i of provincias" [value]="i.id">
                                  {{i.abreviatura}} - {{i.nome}}
                                </option>
                              </select>
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="morada">Município</label>
                              <select [(ngModel)]="local_instalacaomunicipio_id" class="form-control" required
                                (change)="selectBoxDistritosByMunicipio()" [disabled]="!municipios">
                                <option [value]="null">Município</option>
                                <option *ngFor="let i of municipios" [value]="i.id">
                                  {{i.nome}}
                                </option>
                              </select>
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="morada">Comunas</label>
                              <div *ngIf="!distritos">
                                <i style="padding: 3px 5px; border-radius: 5px;" class="fa fa-close alert-danger"></i>
                              </div>
                              <select *ngIf="local_instalacaohas_distrito == true" [(ngModel)]="local_instalacaodistrito_id"
                                class="form-control" required (change)="selectBoxBairrosByMunicipio()"
                                [disabled]="!distritos">
                                <option [value]="null">Comuna</option>
                                <option *ngFor="let i of distritos" [value]="i.id">
                                  {{i.nome}}
                                </option>
                              </select>
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="morada">Bairro</label>
                              <select [(ngModel)]="local_instalacaobairro_id" class="form-control" required
                                (change)="selectBoxQuarteiraosByBairro()" [disabled]="!bairros">
                                <option [value]="null">Bairro</option>
                                <option *ngFor="let i of bairros" [value]="i.id">
                                  {{i.nome}}
                                </option>
                              </select>
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="morada">Quarteirão</label>
                              <div *ngIf="!quarteiraos">
                                <i style="padding: 3px 5px; border-radius: 5px;" class="fa fa-close alert-danger"></i>
                              </div>
                              <select *ngIf="local_instalacaohas_quarteirao" [(ngModel)]="local_instalacaoquarteirao_id"
                                class="form-control" required (change)="selectBoxRuasByQuarteirao()">
                                <option [value]="null">Quarteirão</option>
                                <option *ngFor="let i of quarteiraos" [value]="i.id">
                                  {{i.nome}}
                                </option>
                              </select>
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="morada">Rua</label>
                              <select [(ngModel)]="local_instalacaorua_id" class="form-control" required
                                (change)="selectBoxRuasByBairro()" [disabled]="!bairros">
                                <option [value]="null">Rua</option>
                                <option *ngFor="let i of ruas" [value]="i.id">
                                  {{i.nome}}
                                </option>
                              </select>
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="morada">
                                <input type="checkbox" name="exemplo" id="radio" [(ngModel)]="predio_flag" checked
                                  (click)="setPredioValue()" [disabled]="!local_instalacaorua_id"> Prédio</label>

                              <div *ngIf="!predio_flag">
                                <i style="padding: 3px 5px; border-radius: 5px;" class="fa fa-close alert-danger"></i>
                              </div>
                              <input class="form-control" required autofocus id="predio_nome" type="text"
                                [(ngModel)]="local_instalacaopredio_nome" placeholder="Nome do Prédio"
                                autocomplete="given-name" *ngIf="predio_flag" />
                            </div>
                          </div>

                          <div class="col-md-3 row">

                            <div *ngIf="predio_flag" class="col-md-6">
                              <div class="form-group">
                                <label for="morada">Andar</label>
                                <input class="form-control" required autofocus id="predio_andar" type="text"
                                  [(ngModel)]="local_instalacaopredio_andar" placeholder="Andar" autocomplete="given-name"
                                  [disabled]="!local_instalacaopredio_nome" />
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="morada">{{ moradia_title }}</label>
                                <input class="form-control" required autofocus id="numero" type="text"
                                  [(ngModel)]="local_instalacaonumero" placeholder="{{ moradia_title }}"
                                  autocomplete="given-name" [disabled]="!local_instalacaorua_id" />
                              </div>
                            </div>
                          </div>

                        </div>
-->

                        <div class="col-md-12 row"
                          *ngIf="contrato.contador_id && contrato.tipo_medicao_slug != 'ESTIMATIVA';else dataContadorEmpty">
                          <br />
                          <h5 class="col-md-12" style="padding: 10px; background: #0099FF; color: #fff;">Leitura</h5>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label>Leitura</label>
                              <input class="form-control" required autofocus id="leitura" type="number"
                                [(ngModel)]="contador.leitura" placeholder="Leitura" autocomplete="given-name" />
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label>Data da Leitura</label>

                              <input type="date" [(ngModel)]="contador.data_leitura" placeholder="" class="form-control"
                                [disabled]="!contador.leitura">
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label>Origem da Leitura</label>
                              <input class="form-control" required autofocus id="leitura_origem" type="text"
                                [(ngModel)]="contador.leitura_origem" placeholder="Origem da Leitura"
                                [disabled]="!contador.leitura" autocomplete="given-name" />
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
            <button class="btn btn-primary mr-1 btn-sm" type="submit" data-style="expand-left"
              (click)="saveRescisaoContrato()">
              <i class="fa fa-save"></i>
              Registar</button>
          </div>


        </div>
      </div>
    </div>


    <div class="modal modal-info fade in" id="localConsumoModal" data-backdrop="static">
      <div class="modal-dialog modal-lg " style="max-width: 1700px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <div class="card-tools">

            </div>
            <h4 class="modal-title"><i class="fa icon fa-credit-card"></i> Locais de Consumo</h4>

            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <app-loading></app-loading>
            <section class="content">
              <div class="content">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card">

                    </div>


                    <div class="card">


                      <table *ngIf="local_consumos.length > 0;else emptyList"
                        class="table table-hover table-bordered table-stripedd text-center">
                        <tbody>
                          <tr style="color: #fff; background: #0099FF;">
                            <th>Contador</th>
                            <th>Conta</th>
                            <th>Tipo</th>
                            <th>Alocação</th>
                            <th>Rua</th>
                            <th>Bairro</th>
                            <th>Comuna</th>
                            <th>Município</th>
                            <th>Geolocalização</th>

                            <th width="150px">Operações</th>
                          </tr>

                          <tr *ngFor="let item of local_consumos">
                            <td>{{ item.numero_serie }}</td>
                            <td>{{ item.conta_id }}</td>
                            <td>{{ item.tipo_local_consumo }}</td>
                            <td>
                              {{ ((item.is_predio) ? 'Prédio ' + item.predio_nome + ', ' + item.predio_andar + 'ºAndar -
                              Porta ' : 'Residência ') + item.moradia_numero }}
                            </td>
                            <td>{{ item.rua }}</td>
                            <td>{{ item.bairro }}</td>
                            <td *ngIf="item.distrito != null;else dataEmpty">{{ item.distrito }}</td>
                            <td>{{ item.municipio }}</td>
                            <td>
                              <span *ngIf="item.latitude != null && item.longitude != null;else dataEmpty">{{ '[' +
                                item.latitude + '] [' + item.longitude + ']' }}</span>
                            </td>

                            <td>
                              <div class="btn-group btn-block">
                                <button type="button" class="btn btn-info  btn-flat btn-sm"
                                  data-toggle="dropdown">Opções</button>
                                <button type="button" class="btn btn-info btn-flat dropdown-toggle"
                                  data-toggle="dropdown" aria-expanded="false">
                                  <span class="caret"></span>
                                  <span class="sr-only">Menu Serviços</span>
                                </button>
                                <div class="dropdown-menu" role="menu" x-placement="bottom-start">
                                  <a href="javascript:void(0)" *ngIf="item.contadorID != null"
                                    (click)="viewContador(item.contadorID)" class="dropdown-item btn-sm"
                                    data-toggle="modal" data-target="#viewContadorModal">
                                    Ver Contador
                                  </a>
                                  <li class="divider" *ngIf="item.contadorID != null"></li>
                                  <a href="javascript:void(0)" class="dropdown-item btn-sm">
                                    Alterar Contador
                                  </a>
                                  <li class="divider"></li>
                                  <a href="javascript:void(0)" class="dropdown-item btn-sm">
                                    <i class=" fa fa-map-marker"></i>
                                    Abrir Mapa
                                  </a>

                                  <li class="divider"></li>
                                  <a href="javascript:void(0)" class="dropdown-item btn-sm">
                                    Abrir Ordem de Serviço
                                  </a>

                                  <li class="divider"></li>
                                  <a href="javascript:void(0)" class="dropdown-item btn-sm">
                                    Abrir Reclamação
                                  </a>

                                  <li class="divider" *ngIf="item.contadorID != null"></li>
                                  <a href="javascript:void(0)" class="dropdown-item btn-sm"
                                    *ngIf="item.contadorID != null"
                                    (click)="contratosByLocalConsumo(item.localInstalacaoID) ; getInfoLocal(item.municipio, item.distritoComuna, item.bairro, item.rua, item.residenciaNome, item.residenciaNumero)"
                                    data-toggle="modal" data-target="#contratolocalConsumoModal">
                                    Contratos
                                  </a>

                                </div>
                              </div>
                            </td>

                          </tr>
                        </tbody>
                      </table>

                      <!-- /.card-body -->
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
          </div>


        </div>
      </div>
    </div>

    <div class="modal modal-info fade in" id="editContratoModal" data-backdrop="static">
      <div class="modal-dialog modal-lg " style="max-width: 1000px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa icon fa-pencil"></i> Editar Contrato</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <div class="modal-body">
            <app-loading></app-loading>
            <app-alert></app-alert>
            <h3 style="padding: 15px 10px;background: #0099FF; color: #ffffff;">Cliente: {{ contrato.cliente }}</h3>
            <hr>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Preçario Fixo</label>
                  <input type="text" name="contrato.precario_fixo" [(ngModel)]="contrato.precario_fixo"
                    class="form-control" placeholder="">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Comissão</label>
                  <input type="text" name="contrato.precario_comissao" [(ngModel)]="contrato.precario_comissao"
                    class="form-control" placeholder="">
                </div>
              </div>

            </div>



          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-outline-primary btn-sm" (click)="updateContrato()">Actualizar</button>
          </div>


        </div>
      </div>
    </div>


    <div class="modal modal-info fade in" id="changeEstadoContratoModal" data-backdrop="static">
      <div class="modal-dialog modal-lg " style="max-width: 1000px;">
        <div class="modal-content">

          <div class="modal-header">
            <h4 class="modal-title"><i class="fa icon fa-exchange"></i> Alteração do Estado do Contrato</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <div class="modal-body">
            <app-loading></app-loading>
            <app-alert></app-alert>
            <h3 style="padding: 15px 10px;background: #0099FF; color: #ffffff;">Cliente: {{ contrato.cliente }}</h3>
            <hr>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Preçário Fixo</label>
                  <input type="text" name="contrato.precario_fixo" [(ngModel)]="contrato.precario_fixo" readonly
                    class="form-control" placeholder="">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Comissão</label>
                  <input type="text" name="contrato.precario_comissao" [(ngModel)]="contrato.precario_comissao" readonly
                    class="form-control" placeholder="">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Tipo de Preçário</label>
                  <input type="text" name="contrato.tipo_precario" [(ngModel)]="contrato.tipo_precario" readonly
                    class="form-control" placeholder="">
                </div>
              </div>

              <!-- <div class="col-md-6">
                <div class="form-group">
                  <label>Estado Actual</label>
                  <input type="text" [(ngModel)]="estadoActual" readonly class="form-control" placeholder="">
                </div>
              </div> -->

              <div class="col-md-12">

                <!-- <label>Novo Estado</label>
                <div class="form-group">
                  <select class="form-control" [(ngModel)]="contrato.estado_contrato_id" name="estado_contrato_id">
                    <option selected [ngValue]="null"> {{ carregando.estado }}</option>
                    <option *ngFor="let estado of estadosContrato" [value]="estado.id"> {{estado.nome}} </option>


                  </select>
                </div>
              </div> -->

              </div>

            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
              <button type="submit" class="btn btn-outline-primary btn-sm"
                (click)="updateContrato()">Actualizar</button>
            </div>

          </div>
        </div>
      </div>


      <div class="modal modal-info fade in" id="locaisConsumoModal" data-backdrop="static">
        <div class="modal-dialog modal-lg " style="max-width: 1700px;">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <div class="card-tools">

              </div>
              <h4 class="modal-title"><i class="fa icon fa-home"></i> Locais de Consumo</h4>

              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <app-loading></app-loading>
              <section class="content">
                <div class="content">
                  <div class="row">
                    <div class="col-md-12">

                      <div class="card">

                        <table *ngIf="local_consumos.length > 0;else emptyList"
                          class="table table-hover table-bordered table-stripedd text-center m-0 exportAsXLSXCliente">
                          <tbody>
                            <tr style="color: #fff; background: #0099FF;">
                              <th>Contador</th>
                              <th>Conta</th>
                              <th>Tipo</th>
                              <th>Alocação</th>
                              <th>Rua</th>
                              <th>Bairro</th>
                              <th>Comuna</th>
                              <th>Município</th>
                              <th>Geolocalização</th>

                              <th width="150px">Operações</th>
                            </tr>

                            <tr *ngFor="let item of local_consumos">
                              <td>{{ item.numero_serie }}</td>
                              <td>{{ item.conta_id }}</td>
                              <td>{{ item.tipo_local_consumo }}</td>
                              <td>
                                {{ ((item.is_predio) ? 'Prédio ' + item.predio_nome + ', ' + item.predio_andar + 'ºAndar
                                - Porta ' : 'Residência ') + item.moradia_numero }}
                              </td>
                              <td>{{ item.rua }}</td>
                              <td>{{ item.bairro }}</td>
                              <td *ngIf="item.distrito != null;else dataEmpty">{{ item.distrito }}</td>
                              <td>{{ item.municipio }}</td>
                              <td>
                                <span *ngIf="item.latitude != null && item.longitude != null;else dataEmpty">{{ '[' +
                                  item.latitude + '] [' + item.longitude + ']' }}</span>
                              </td>

                              <td>
                                <div class="btn-group btn-block">
                                  <button type="button" class="btn btn-info  btn-flat btn-sm"
                                    data-toggle="dropdown">Opções</button>
                                  <button type="button" class="btn btn-info btn-flat dropdown-toggle"
                                    data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Menu Serviços</span>
                                  </button>
                                  <div class="dropdown-menu" role="menu" x-placement="bottom-start">


                                  </div>
                                </div>
                              </td>

                            </tr>
                          </tbody>
                        </table>

                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-danger btn-sm"
                            data-dismiss="modal">Fechar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>



      <div class="modal modal-info fade in" id="aproveContratoModal" data-backdrop="static">
        <div class="modal-dialog modal-lg ">
          <div class="modal-content">

            <div class="modal-header">
              <h4 class="modal-title"><i class="fa icon fa-check"></i> Aprovação de Contrato</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
              <app-loading></app-loading>
              <app-alert></app-alert>
              <h3 style="padding: 15px 10px;background: #0099FF; color: #ffffff;">Cliente: {{ contrato.cliente }}</h3>
              <hr>

              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Contrato</label>
                    <input type="text" name="contrato.id" [(ngModel)]="contrato.id" readonly class="form-control"
                      placeholder="">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Preçário Fixo</label>
                    <input type="text" name="contrato.precario_fixo" [(ngModel)]="contrato.precario_fixo" readonly
                      class="form-control" placeholder="">
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Comissão</label>
                    <input type="text" name="contrato.precario_comissao" [(ngModel)]="contrato.precario_comissao"
                      readonly class="form-control" placeholder="">
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Tipo de Preçário</label>
                    <input type="text" name="contrato.tipo_precario" [(ngModel)]="contrato.tipo_precario" readonly
                      class="form-control" placeholder="">
                  </div>
                </div>

                <div class="col-md-12 text-center">
                  <hr>
                  <h4 *ngIf="contrato.info_source=='UNIG'">Tem a certeza que pretende aprovar este contrato?</h4>
                  <h4 *ngIf="contrato.info_source=='BPM'">Este contrato deve ser aprovado no IBM BAW (BPM) </h4>
                </div>

              </div>

            </div>

            <div class="modal-footer" *ngIf="contrato.info_source=='UNIG'">
              <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
              <button type="submit" class="btn btn-danger btn-sm" (click)="aproveContrato(false)"
                *ngIf="aprove_slug == null || aprove_slug == 'REJEITADO'">Rejeitar</button>
              <button type="submit" class="btn btn-success btn-sm" (click)="aproveContrato(true)"
                *ngIf="aprove_slug == null || aprove_slug == 'APROVADO'">Aprovar</button>
            </div>

          </div>
        </div>
      </div>

    </div>

    <ng-template #dataEmpty>------</ng-template>


    <ng-template #detalhe_content>

      <div class="col-sm-12 row">

        <div class="col-sm-3 row" style="margin: 0;">
          <h4 class="col-sm-12 text-center" style="padding: 10px; color: #0099FF;">
            Cliente
            <hr>
          </h4>
          <div class="col-sm-6 text-right">Nome</div>
          <div class="col-sm-6"><strong>{{ facturacao.cliente.nome }}</strong></div>

          <div class="col-sm-6 text-right">Conta</div>
          <div class="col-sm-6"><strong>{{ conta.numero_conta }}</strong></div>

          <div *ngIf="facturacao.cliente.genero" class="col-sm-6 text-right">Género</div>
          <div *ngIf="facturacao.cliente.genero" class="col-sm-6">
            <strong>{{ facturacao.cliente.genero }}</strong>
          </div>

          <div class="col-sm-6 text-right">Telefone</div>
          <div class="col-sm-6"><strong>{{ facturacao.cliente.telefone }}</strong></div>

          <div *ngIf="facturacao.cliente.email" class="col-sm-6 text-right">Email</div>
          <div *ngIf="facturacao.cliente.email" class="col-sm-6">
            <strong>{{ facturacao.cliente.email }}</strong>
          </div>

          <div *ngIf="facturacao.cliente.tipo_identidade" class="col-sm-6 text-right">Tipo de Identidade
          </div>
          <div *ngIf="facturacao.cliente.tipo_identidade" class="col-sm-6">
            <strong>{{ facturacao.cliente.tipo_identidade }}</strong>
          </div>

          <div class="col-sm-6 text-right">Número da Identidade</div>
          <div class="col-sm-6"><strong>{{ facturacao.cliente.numero_identificacao }}</strong></div>

          <div *ngIf="facturacao.cliente.direccao" class="col-sm-6 text-right">Direcção</div>
          <div *ngIf="facturacao.cliente.direccao" class="col-sm-6">
            <strong>{{ facturacao.cliente.direccao }}</strong>
          </div>

          <div *ngIf="facturacao.cliente.gestor_cliente" class="col-sm-6 text-right">Gestor de Cliente</div>
          <div *ngIf="facturacao.cliente.gestor_cliente" class="col-sm-6">
            <strong>{{ facturacao.cliente.gestor_cliente }}</strong>
          </div>

        </div>

        <div class="col-sm-3 row" style="margin: 0;">

          <h4 class="col-sm-12 text-center" style="padding: 10px; color: #0099FF;">
            Tarifário
            <hr>
          </h4>

          <div *ngIf="classe_tarifario.descricao" class="col-sm-6 text-right">Classe Tarifário</div>
          <div *ngIf="classe_tarifario.descricao" class="col-sm-6">
            <strong>{{ classe_tarifario.descricao }}</strong>
          </div>

          <div *ngIf="classe_tarifario.tarifa_fixa_mensal" class="col-sm-6 text-right">Tarifa Fixa Mensal</div>
          <div *ngIf="classe_tarifario.tarifa_fixa_mensal" class="col-sm-6">
            <strong>{{ classe_tarifario.tarifa_fixa_mensal }}</strong>
          </div>

          <div *ngIf="classe_tarifario.tarifa_variavel" class="col-sm-6 text-right">Tarifa Variável</div>
          <div *ngIf="classe_tarifario.tarifa_variavel" class="col-sm-6">
            <strong>{{ classe_tarifario.tarifa_variavel }}</strong>
          </div>

          <div class="col-sm-6 text-right">Consumo Mínimo</div>
          <div class="col-sm-6"></div>

          <div *ngIf="classe_tarifario.consumo_maximo" class="col-sm-6 text-right">Consumo Máximo</div>
          <div *ngIf="classe_tarifario.consumo_maximo" class="col-sm-6">
            <strong>{{ classe_tarifario.consumo_maximo }}</strong>
          </div>

          <div class="col-sm-6 text-right"> <strong>Serviços</strong></div>
          <div class="col-sm-12 row" *ngFor="let item of facturacao.servicos">
            <div *ngIf="classe_tarifario.consumo_maximo" class="col-sm-6 text-right">{{ item.servico }}</div>
            <div *ngIf="classe_tarifario.consumo_maximo" class="col-sm-6 text-left">{{ item.imposto + ' (' +
              configService.numberFormat(item.imposto_valor) + ') - ' + configService.numberFormat(item.servico_valor)
              }} AOA</div>
          </div>


        </div>

        <div class="col-sm-3 row" style="margin: 0;">

          <h4 class="col-sm-12 text-center" style="padding: 10px; color: #0099FF;">
            Contrato
            <hr>
          </h4>

          <div class="col-sm-6 text-right">Tarifa</div>
          <div class="col-sm-6"><strong>{{ facturacao.cliente.tipo_cliente }}</strong></div>

          <div *ngIf="contrato.tipo_medicao" class="col-sm-6 text-right">Tipo de Medição</div>
          <div *ngIf="contrato.tipo_medicao" class="col-sm-6"><strong>{{ contrato.tipo_medicao }}</strong>
          </div>

          <div *ngIf="contrato.tipo_contrato" class="col-sm-6 text-right">Tipo de Utilização</div>
          <div *ngIf="contrato.tipo_contrato" class="col-sm-6"><strong>{{ contrato.tipo_contrato }}</strong>
          </div>

          <div *ngIf="contrato.tipo_facturacao" class="col-sm-6 text-right">Tipo de Facturação</div>
          <div *ngIf="contrato.tipo_facturacao" class="col-sm-6">
            <strong>{{ contrato.tipo_facturacao }}</strong>
          </div>

          <div *ngIf="contrato.ciclo_facturacao_dia_facturacao" class="col-sm-6 text-right">Ciclo de
            Facturação</div>
          <div *ngIf="contrato.ciclo_facturacao_dia_facturacao" class="col-sm-6">
            <strong>{{ contrato.ciclo_facturacao_dia_facturacao + "-" +
              contrato.ciclo_facturacao_dia_ultima_leitura + "/" + contrato.ciclo_facturacao_mes + "/" +
              contrato.ciclo_facturacao_ano }}</strong>
          </div>

          <div *ngIf="contrato.tipologia_cliente" class="col-sm-6 text-right">Tipologias de Clientes</div>
          <div *ngIf="contrato.tipologia_cliente" class="col-sm-6">
            <strong>{{ contrato.tipologia_cliente }}</strong>
          </div>

          <div *ngIf="contrato.tipologia_cliente_juro_mora" class="col-sm-6 text-right">• Juros</div>
          <div *ngIf="contrato.tipologia_cliente_juro_mora" class="col-sm-6">
            <strong>{{ contrato.tipologia_cliente_juro_mora }}% de juros</strong>
          </div>

          <div *ngIf="contrato.sujeito_corte" class="col-sm-6 text-right">• Sujeito a corte</div>
          <div *ngIf="contrato.sujeito_corte" class="col-sm-6">
            <strong>{{ (contrato.sujeito_corte == 1) ? 'Sim' : 'Não' }}</strong>
          </div>

          <div *ngIf="contrato.tipologia_cliente_caucao" class="col-sm-6 text-right">• Caucao</div>
          <div *ngIf="contrato.tipologia_cliente_caucao" class="col-sm-6">
            <strong>{{ contrato.tipologia_cliente_caucao }}</strong>
          </div>

          <div *ngIf="contrato.media_consumo" class="col-sm-6 text-right">Média de Consumo</div>
          <div *ngIf="contrato.media_consumo" class="col-sm-6"><strong>{{ contrato.media_consumo }}</strong>
          </div>

          <div *ngIf="contrato.objecto_contrato" class="col-sm-6 text-right">Objecto de contrato</div>
          <div *ngIf="contrato.objecto_contrato" class="col-sm-6">
            <strong>{{ contrato.objecto_contrato }}</strong>
          </div>

          <div *ngIf="contrato.nivel_sensibilidade" class="col-sm-6 text-right">Nível de Sensibilidade</div>
          <div *ngIf="contrato.nivel_sensibilidade" class="col-sm-6">
            <strong>{{ contrato.nivel_sensibilidade }}</strong>
          </div>

          <div *ngIf="contrato.classe_tarifario_consumo_maximo" class="col-sm-6 text-right">• Consumo Máximo
          </div>
          <div *ngIf="contrato.classe_tarifario_consumo_maximo" class="col-sm-6">
            <strong>{{ contrato.classe_tarifario_consumo_maximo }}</strong>
          </div>

          <div *ngIf="contrato.numero_habitantes" class="col-sm-6 text-right">Número de Habitantes</div>
          <div *ngIf="contrato.numero_habitantes" class="col-sm-6"><strong>{{ contrato.numero_habitantes }}
              habitantes</strong></div>

          <div *ngIf="contrato.numero_utilizadores" class="col-sm-6 text-right">Número de Utilizadores</div>
          <div *ngIf="contrato.numero_utilizadores" class="col-sm-6"><strong>{{ contrato.numero_utilizadores
              }}
              utilizadores</strong></div>

          <div *ngIf="contrato.data_inicio" class="col-sm-6 text-right">Data de Ínicio</div>
          <div *ngIf="contrato.data_inicio" class="col-sm-6"><strong>{{ contrato.data_inicio }}</strong>
          </div>

          <div *ngIf="!contrato.data_fim" class="col-sm-6 text-right">Data prevista de Fim</div>
          <div *ngIf="!contrato.data_fim" class="col-sm-6"><strong>{{ contrato.data_fim }}</strong></div>

          <div class="col-sm-6 text-right">Morada de Correspondência</div>
          <div class="col-sm-6">
            <strong>{{ (contrato.morada_correspondencia_flag == 1) ? 'Sim' : 'Não' }}</strong>
          </div>

          <div *ngIf="contrato.motivo_recisao" class="col-sm-6 text-right">Motivo de Denúncia/Recisão</div>
          <div *ngIf="contrato.motivo_recisao" class="col-sm-6">
            <strong>{{ contrato.motivo_recisao }}</strong>
          </div>


        </div>



        <div class="col-sm-3 row" style="margin: 0;">

          <h4 class="col-sm-12 text-center" style="padding: 10px; color: #0099FF;">
            CIL
            <hr>
          </h4>

          <div *ngIf="contrato.tipo_local_consumo" class="col-sm-6 text-right">Tipo de CIL</div>
          <div *ngIf="contrato.tipo_local_consumo" class="col-sm-6">
            <strong>{{ contrato.tipo_local_consumo }}</strong>
          </div>

          <div *ngIf="contrato.abastecimento_cil" class="col-sm-6 text-right">Tipo de Abastecimento</div>
          <div *ngIf="contrato.abastecimento_cil" class="col-sm-6">
            <strong>{{ contrato.abastecimento_cil }}</strong>
          </div>

          <div *ngIf="contrato.calibre" class="col-sm-6 text-right">Caliibre</div>
          <div *ngIf="contrato.calibre" class="col-sm-6"><strong>{{ contrato.calibre }}</strong></div>

          <div class="col-sm-6 text-right">Instalações Sanitárias(Qtde)</div>
          <div class="col-sm-6"><strong>{{ contrato.tipo_medicao }}</strong></div>

          <div class="col-sm-6 text-right">Reservatório</div>
          <div class="col-sm-6"><strong>{{ (contrato.reservatorio_flag == 1) ? 'Sim' : 'Não' }}</strong>
          </div>

          <div *ngIf="contrato.reservatorio_flag" class="col-sm-6 text-right">Capacidade do Reservatório
          </div>
          <div *ngIf="contrato.reservatorio_flag" class="col-sm-6">
            <strong>{{ contrato.reservatorio_capacidade }} m³</strong>
          </div>

          <div class="col-sm-6 text-right">Piscina</div>
          <div class="col-sm-6"><strong>{{ (contrato.piscina_flag == 1) ? 'Sim' : 'Não' }}</strong></div>

          <div *ngIf="contrato.piscina_flag" class="col-sm-6 text-right">Capacidade da Piscina</div>
          <div *ngIf="contrato.piscina_flag" class="col-sm-6"><strong>{{ contrato.piscina_capacidade }}
              m³</strong></div>

          <div class="col-sm-6 text-right">Fossa</div>
          <div class="col-sm-6"><strong>{{ (contrato.fossa_flag == 1) ? 'Sim' : 'Não' }}</strong></div>

          <div *ngIf="contrato.fossa_flag" class="col-sm-6 text-right">Capacidade da Fossa</div>
          <div *ngIf="contrato.fossa_flag" class="col-sm-6"><strong>{{ contrato.fossa_capacidade }}
              m³</strong></div>

          <div class="col-sm-6 text-right">Acesso de Camião</div>
          <div class="col-sm-6"><strong>{{ (contrato.acesso_camiao_flag == 1) ? 'Sim' : 'Não' }}</strong>
          </div>

          <div class="col-sm-6 text-right">Poço Alternativo</div>
          <div class="col-sm-6"><strong>{{ (contrato.poco_alternativo_flag == 1) ? 'Sim' : 'Não' }}</strong>
          </div>

          <div class="col-sm-6 text-right">Anexos</div>
          <div class="col-sm-6"><strong>{{ (contrato.anexo_flag == 1) ? 'Sim' : 'Não' }}</strong></div>

          <div *ngIf="contrato.anexo_flag" class="col-sm-6 text-right">Quantidade de Anexos</div>
          <div *ngIf="contrato.anexo_flag" class="col-sm-6"><strong>{{ contrato.anexo_quantidade }}
              m³</strong></div>

          <div class="col-sm-6 text-right">Campo para Jardim</div>
          <div class="col-sm-6"><strong>{{ (contrato.jardim_flag == 1) ? 'Sim' : 'Não' }}</strong></div>

          <div *ngIf="contrato.jardim_flag" class="col-sm-6 text-right">Campo para Jardim</div>
          <div *ngIf="contrato.jardim_flag" class="col-sm-6"><strong>{{ contrato.campo_jardim }} m³</strong>
          </div>

          <div class="col-sm-6">Morada de Correspondência</div>
          <div class="col-sm-6">
            <strong>{{ (contrato.morada_correspondencia_flag == 1) ? 'Sim' : 'Não' }}</strong>
          </div>

        </div>

      </div>

    </ng-template>

    <ng-template #dataContadorEmpty>

      <div class="col-md-12 alert alert-warning alert-dismissible" style="border: 0;border-radius: 0; margin: 8px;">
        <h5><i class="icon fa fa-info"></i> {{ 'Contrato ' + (contrato.id == undefined? '': contrato.id) + ' está sem um contador associado!' }} </h5>
      </div>
    </ng-template>
    <!-- <ng-template #comissaoEmpty>0%</ng-template> -->

    <app-setingsnavbar></app-setingsnavbar>
    <app-footernavbar></app-footernavbar>
  </div>
