

<div class="modal fade" id="{{modalExportalContaCorrent}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" style="max-width: 1700px;">
    <div class="modal-content">
      <div class="modal-header">
        <div class="card-tools">

        </div>
        <h4 class="modal-title"><i class="fa fa-file-excel-o"></i> Exportar Conta Corrente</h4>
        

        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <app-loading></app-loading>

        <div class="card-body p-0" style="height: 490px;overflow: auto;">
          <div class="table-responsive vh-100">
            <table class="table table-hover table-bordered table-striped text-center exportAsXLSXContaCorrent">
              <tbody>
                <tr>
                  <th>Conta</th>
                  <th>NUMERO</th> 
                  <th>ESTADO</th>
                  <th>TIPO</th>
                  <th>DATA</th>
                  <th>VALOR</th>
                </tr>
        
                  <tr *ngFor="let conta_correntes of contaCorrenteDados">
                      <td>{{conta_correntes.contas}}</td>
                      <td>{{conta_correntes.numero}}</td>
                      <td>{{conta_correntes.estado==1?"Pago":"A pagamento"}}</td>
                      <td>{{conta_correntes.tipo}}</td>
                      <td>{{conta_correntes.data}}</td>
                      <td>{{conta_correntes.valor}}</td>
                  </tr>
         
      
                <tr> 
           
                    <tr>
                    <td id="total"><span style="float: left;">Total</span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{SomaTotal}}</td>
                  </tr>
         
               
              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->
        </div>
       
  
    
      

 
 </div>

 <div class="modal-footer">
   <button type="button" (click)="exportAsXLSX();" class="btn btn-primary " style="width: 300px;"><i
       class="fa fa-download"></i>Exportar</button>
       <button type="button" class="btn btn-danger btn-sm">Fechar</button>
 </div>
  </div>
  </div>
  </div>
      <!-- Modal footer -->
      