 



<!--

<ul class="meal-list">
  <li *ngFor="let fact of asyncMeals | async | paginate: { id: 'server', itemsPerPage: 2, currentPage: p, totalItems: total }">
      {{ fact.nome }} - {{ fact.factura_sigla }}
  </li>
</ul>
 

<div class="has-text-centered">
  <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
  <pagination-controls (pageChange)="getPage($event)" id="server" previousLabel="Anterior" nextLabel="Proximo" responsive="true"></pagination-controls>
</div> 

-->

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-2">
    <select name="perPage" (change)="getPageFilterData($event)"  [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
      <option value="1">Entrada</option>
      <option value="5" selected>5</option> 
      <option value="10">10</option>
      <option value="25">25</option>
    </select>
  </div>
  <div class="col-md-8">
      <input type="text" name="search" [(ngModel)]="this.http.filters.search" placeholder="Pesquisar..."class="form-control" (keyup)="getPageFilterData($event)">
  </div>
  <div class="col-md-2">
    <select name="orderBy" (change)="getPageFilterData($event)" [(ngModel)]="this.http.filters.orderBy" class="form-control"> 
      <option value="facturas.created_at">Ordernar por</option>
      <option value="clientes.nome">Nome do cliente</option>
      <option value="facturas.created_at">Data Facturação</option>
      <option value="facturas.factura_sigla">Factura Sigla</option>
      <option value="facturas.total">Total Facturado</option>
      <option value="facturas.pago">Pagamento</option>
      <option value="facturas.status">Status</option>
      <option value="series.nome">Serie</option>
      <option value="documentos.nome">Documento</option>
    </select>
  </div>
</div>
<ul class="meal-list">
  <li *ngFor="let fact of facturas | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }">
    {{ fact.nome }} - {{ fact.factura_sigla }}
  </li>
</ul>
<div class="has-text-centered">
  <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior" maxSize="6" nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
</div>

 