<div class="modal modal-info fade in" id="CDMA_DISP_LIST" data-backdrop="static">
  <div class="modal-dialog modal-lg " style="max-width: 1700px;">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <div class="card-tools">
          <button type="button" class="btn btn-primary btn-smm" data-toggle="modal" (click)="listarFilial()"
            data-target="#CDMA_DISP_INSERT" style="margin-right: 10px"> <i class="fa fa-plus"></i> Novo</button>
        </div>
       

        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <app-loading></app-loading>
        <section class="content">
          <div class="content">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <!-- /.card-header -->
                  <div class="card-body" style="padding: 13px 10px 4px 10px;">
                    <div class="row">
                      <div class="col-1">
                        <select name="perPage" (change)="getPageFilterData($event)"
                          [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
                          <option value="1">Entrada</option>
                          <option value="5" selected>5</option>
                          <option value="10">10</option>
                          <option value="25">25</option>
                        </select>
                        <small>Entradas</small>
                      </div>
                      <div class="col-md-5">
                        <input type="text" name="search" [(ngModel)]="this.http.filters.search" placeholder="Pesquisar..."
                          class="form-control" (keyup)="getPageFilterData($event)">
                        <i class="fa fa-search"
                          style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                        <small>Pesquisar por..</small>
                      </div>
                      
                      <div class="col-2">
                        <select (change)="getPageFilterData($event)" [(ngModel)]="this.http.filters.orderBy" class="form-control">
                            <option [ngValue]="null">Ordernar</option>
                          <option value="cdma_equipamentos.created_at">Data</option>
                          <option value="cdma_equipamentos.Num_Serie">Número de série</option>
                          
                         
                        </select>
                        <small>Ordernação</small>
                      </div>
    
                      <div class="col-1">
                        <button type="button" class="btn btn-blockk btn-info" (click)="getPageFilterData($event)"><i
                            class="fa fa-search"></i> Filtrar</button>
                      </div>
                    </div>
    
                  </div>
                </div>
    
    
                <div class="card">
                  
                  <div class="card-header">
                    <h3 class="card-title">DISPOSITIVOS CDMA</h3>
                    
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body table-responsive">
                    <table class="table table-hover table-bordered table-striped text-center">
                      <tbody>
                        <tr>
                          <th>#</th>
                          <th>Número de série</th>
                          <th>A_Key</th>
                          <th>MINCode</th>
                          
                          <th>Filial</th>
                          <th>Acção</th>
                        </tr>
                        <tr
                          *ngFor="let itemsCDMA of itemsCDMAs | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                          <td>{{ i + 1 }}</td>
                          <td>{{ itemsCDMA.Num_Serie }}</td>
                          <td>{{ itemsCDMA.A_Key }}</td>
                          <td>{{ itemsCDMA.MINCode }}</td>
                         
                          <td> {{itemsCDMA.filialNome}} </td>
                          <td>
                            <div class="btn-group">
                              <button type="button" data-widget="chat-pane-toggle" data-toggle="modal"
                              data-target="#CDMA_DISP_UPDATE" class="btn btn-info btn-flat" title="Editar"
                                (click)="refresh(itemsCDMA.id, itemsCDMA.Num_Serie, itemsCDMA.A_Key, itemsCDMA.MINCode, itemsCDMA.AgenciaFilialID); listarFilial()"><i class="fa fa-edit"></i></button>
    
                                <!--
                              <button type="button" class="btn btn-flat btn-danger"><i class="fa fa-trash-o"></i></button>
                            -->
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="card-footer clearfix">
                    <div class="row">
                      <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                          {{this.http.filters.pagination.perPage}} de
                          {{this.http.filters.pagination.total}} Registos
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-7">
                        <div class="pull-right">
                          <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior" maxSize="6"
                            nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
      </div>


    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal modal-info fade" id="CDMA_DISP_INSERT" data-backdrop="static">
  <div class="modal-dialog modal-lg" style="max-width: 935px;">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-credit-card"></i> NOVO DIPOSITIVO CDMA</h4>
        <button type="button"  class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <app-loading></app-loading>
      <form (submit)="register($event)">
        <div class="modal-body">
          <app-alert></app-alert>
          <div class="col-md-12">
            <div class="card card-default">
              <div class="card-header">
                <h3 class="card-title">DADOS DO FORMULÁRIO</h3>

                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body" style="padding: 9px;"><br>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label"><i class="fa fa-edit"></i> Nº Série</label>
                      <input type="text" class="form-control" placeholder="número de série" [(ngModel)]="cdma.Num_Serie"
                        name="Num_Serie">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label"><i class="fa fa-edit"></i> A_Key</label>
                      <input type="text" class="form-control" placeholder="A_Key" [(ngModel)]="cdma.A_Key"
                        name="A_Key">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label"><i class="fa fa-edit"></i> MINCode</label>
                      <input type="text" class="form-control" placeholder="MINCode" [(ngModel)]="cdma.MINCode"
                        name="MINCode">
                    </div>
                  </div>

                  

                  <div class="col-md-6">
                    <label>Filial</label>
                    <div class="form-group ">
                      <select class="form-control" name="AgenciaFilialID" [(ngModel)]="cdma.AgenciaFilialID">
                        <option [value]="null"> {{ carregando.filial  }}</option>
                        <option value="{{ filial.id }}" *ngFor="let filial of filiais"> {{ filial.nome }}</option>
                      </select>
                      <span class="input-group-btn">
                      </span>
                    </div>
                  </div>

                </div>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm"  data-dismiss="modal"> Fechar</button>
          <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
        </div>
      </form>

    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal modal-info fade" id="CDMA_DISP_UPDATE" data-backdrop="static">
  <div class="modal-dialog modal-lg" style="max-width: 935px;">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-credit-card"></i> EDITAR DIPOSITIVO CDMA</h4>
        <button type="button" (click)="closeForm()" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <app-loading></app-loading>
      <form (submit)="editar($event)">
        <div class="modal-body">
          <app-alert></app-alert>
          <div class="col-md-12">
            <div class="card card-default">
              <div class="card-header">
                <h3 class="card-title">DADOS DO FORMULÁRIO</h3>

                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body" style="padding: 9px;"><br>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label"><i class="fa fa-edit"></i> Nº Série</label>
                      <input type="text" class="form-control" placeholder="número de série" [(ngModel)]="cdma.Num_Serie"
                        name="Num_Serie">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label"><i class="fa fa-edit"></i> A_Key</label>
                      <input type="text" class="form-control" placeholder="A_Key" [(ngModel)]="cdma.A_Key"
                        name="A_Key">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label"><i class="fa fa-edit"></i> MINCode</label>
                      <input type="text" class="form-control" placeholder="MINCode" [(ngModel)]="cdma.MINCode"
                        name="MINCode">
                    </div>
                  </div>

                  

                  <div class="col-md-6">
                    <label>Filial</label>
                    <div class="form-group ">
                      <select class="form-control" name="AgenciaFilialID" [(ngModel)]="cdma.AgenciaFilialID">
                        <option [value]="null"> {{ carregando.filial  }}</option>
                        <option value="{{ filial.id }}" *ngFor="let filial of filiais"> {{ filial.nome }}</option>
                      </select>
                      <span class="input-group-btn">
                      </span>
                    </div>
                  </div>

                </div>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm" (click)="closeForm()" data-dismiss="modal"> Fechar</button>
          <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
        </div>
      </form>

    </div>
  </div>
</div>
