<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Listar Parceria</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">CRM</a></li>
              <li class="breadcrumb-item">Interconexão</li>
              <li class="breadcrumb-item active">Listar Parceria</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body" style="padding: 13px 10px 4px 10px;">
                <div class="row">
                  <div class="col-1">
                    <select name="perPage" (change)="getPageFilterData($event)" [(ngModel)]="this.http.filters.pagination.perPage"
                      class="form-control">
                      <option value="1">Entrada</option>
                      <option value="5" selected>5</option>
                      <option value="10">10</option>
                      <option value="25">25</option>
                    </select>
                    <small>Entradas</small>
                  </div>
                  <div class="col-md-5">
                    <input type="text" name="search" [(ngModel)]="this.http.filters.search" placeholder="Pesquisar..."
                      class="form-control" (keyup)="getPageFilterData($event)">
                    <i class="fa fa-search" style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                    <small>Pesquisar por nome do cliente.</small>
                  </div>
                  <div class="col-2">
                    <select name="orderBy" (change)="getPageFilterData($event)" [(ngModel)]="this.http.filters.orderBy"
                      class="form-control">
                      <option [value]="null">Ordernar</option>
                      <option value="clientes.nome">Nome do cliente</option> 
                    </select>
                    <small>Ordernação</small>
                  </div>
                  <div class="col-1">
                    <button type="button" class="btn btn-blockk btn-info" (click)="getPageFilterData($event)"><i
                        class="fa fa-search"></i> Filtrar</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Clientes - Listar Parceria</h3>
         
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <ngx-loading [show]="loading"></ngx-loading>
                <table class="table table-hover table-bordered table-striped text-center">
                  <tbody>
                    <tr>
                      <th>ID</th>
                      <th>Nome Cliente</th>
                      <th>Código Interconexão</th>
                      <th>Trunk IN</th>
                      <th>Trunk OUT</th>
                      <th>Moeda</th>
                      <th>Estado</th>
                    </tr>
                  </tbody>
                  <tbody>   
                    <tr
                      *ngFor="let parceria of parcerias | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                      <td>{{parceria.id}}</td>
                      <td>{{parceria.nome}}</td>
                      <td>{{parceria.codigo_interconexao}}</td>
                      <td>{{parceria.trunk_in}}</td>
                      <td>{{parceria.trunk_out}}</td>
                      <td>{{parceria.moeda}}</td>
                      <td>
                        <span class="btn bg-warning btn-block btn-flat status-label"
                         *ngIf="parceria.estado ==0">Inactivo</span>
                        <span class="btn bg-success btn-block btn-flat status-label"
                         *ngIf="parceria.estado ==1">Activo</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <div class="row">
                  <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                      {{this.http.filters.pagination.perPage}} de
                      {{this.http.filters.pagination.total}} Parcerias
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-7">
                    <div class="pull-right">
                      <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior" maxSize="6"
                        nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                    </div>
              
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
    </section>

 

    <app-setingsnavbar></app-setingsnavbar>
    <app-footernavbar></app-footernavbar>
  </div>