<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>

  <div class="content-wrapper" style="min-height: 768px;">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><i class="fa fa-calendar"></i> Agendamentos</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Configuração</a></li>
              <li class="breadcrumb-item">Rotas</li>
              <li class="breadcrumb-item active">Agendamentos</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <section class="content">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="box-roteiros">
            <full-calendar
              #fullcalendar
              [editable]="true"
              [buttonText]="options.buttonText"
              [events]="options.events"
              [header]="options.header"
              [plugins]="options.plugins"
            >
            </full-calendar>
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="modall modal-info fadee" data-backdrop="static">
              <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
                <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title"> Filtro de Dados</h4>
                  </div>
                  <!-- Modal body -->

                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-4 col-xs-3">
                        <div class="form-group">
                          <input type="text" name="search" placeholder="Pesquisar..." class="form-control">
                          <i class="fa fa-search" style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="modall modal-info fadee" data-backdrop="static">
                <div class="modal-dialog" style="max-width: 100%;">
                  <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                    <app-loading></app-loading>
                    <div class="modal-header">
                      <h4 class="modal-title">Lista dos agendamentos</h4>
                    </div>

                    <div class="modal-body">
                      <div class="table-responsivee">
                        <ngx-loading [show]="loading"></ngx-loading>
                        <table *ngIf="agendamentos.length > 0;else emptyList" class="table table-hover table-bordered table-stripedd text-center m-0 exportAsXLSXCliente">
                          <tbody>
                            <tr style="color: #fff; background: #0099FF;">
                              <th>#</th>
                              <th>Data do Agendamento</th>
                              <th>Estado</th>
                              <th>Rota</th>
                              <th width="150px">Acções</th>
                            </tr>

                            <tr
                              *ngFor="let evento of agendamentos | paginate: { itemsPerPage: this.filtroServicos.pagination.perPage, currentPage: this.filtroServicos.pagination.page, totalItems: this.filtroServicos.pagination.total, id: 'agendamentos_list' }; index as i">

                              <td>{{ i + 1 }}</td>
                              <td>{{ evento.data_realizar | date: 'dd-MM-yyyy' }}</td>
                              <td><span class="badge badge-{{evento.foi_realizada ? 'success' : 'info'}}">{{evento.foi_realizada ? 'Realizado' : 'Por Realizar'}}</span></td>
                              <td>{{ evento.agendamento.descricao }}</td>

                              <td>
                                <div class="btn-group btn-block">
                                    <button type="button" class="btn btn-info btn-flat btn-sm btn-block" data-toggle="dropdown">Opções</button>
                                    <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                      <span class="caret"></span>
                                      <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu" role="menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(67px, 38px, 0px);">
                                      <a
                                        href="javascript:void(0)"
                                        class="dropdown-item btn-sm"
                                        (click)="_set_agendamento( evento )"
                                        data-toggle="tooltip"
                                        data-widget="chat-pane-toggle"
                                        title="Editar"
                                        data-toggle="modal"
                                        data-target="#ModalDetailsAgendamento"
                                        >
                                        <i class="fa fa-eyes"></i> ver detalhes
                                      </a>
                                    </div>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <div class="card-footer clearfix">
                      <div class="row">
                        <div class="col-sm-12 col-md-5">
                          <div class="dataTables_info">Mostrando de {{this.filtroServicos.pagination.page}} a
                            {{this.filtroServicos.pagination.perPage}} de
                            {{this.filtroServicos.pagination.total}} Registos
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                          <div class="pull-right">
                            <pagination-controls (pageChange)="getPageFilterDataServicos($event)" id="agendamentos_list"
                              previousLabel="Anterior" maxSize="6" nextLabel="Proximo" directionLinks="true"
                              responsive="true"></pagination-controls>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>


</div>

<app-setingsnavbar></app-setingsnavbar>
<app-footernavbar></app-footernavbar>

<ng-template #emptyList>
  <div align="center"> <h2>Sem resultados</h2><span></span></div>
</ng-template>

<!--
<div class="modal modal-info fade in" id="ModalDetailsAgendamento" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title"><i class="fa fa-user nav-icon"></i> Detalhes do Agendamento - {{ evento.roteiro.nome_leitor }}</h4>
          <button class="close" (click)="onReset()" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body" style="padding: 2rem;">
        <ngx-loading [show]="loading"></ngx-loading>
        <app-loading></app-loading>

        <div class="row">
          <div class="col-md-6 col-sm-12">

            <h5 class="modal-title">Leior</h5>
            <p class="mb-2"> {{ evento.roteiro.nome_leitor }} </p>

            <h5 class="modal-title">Alocação</h5>
            <p class="mb-2">{{ ((evento.roteiro.is_predio) ? 'Prédio ' + evento.roteiro.predio_nome + ', ' + evento.roteiro.predio_andar + 'ºAndar - Porta ' : 'Residência ') + evento.roteiro.moradia_numero }} </p>

            <h5 class="modal-title">CIL</h5>
            <p class="mb-2"> {{ evento.roteiro.cil }} </p>
          </div>
          <div class="col-md-6 col-sm-12">
            <h5 class="modal-title">Estado</h5>
            <p class="mb-2"> <span class="badge badge-{{evento.foi_realizada ? 'success' : 'info'}}">{{evento.foi_realizada ? 'Realizado' : 'Por Realizar'}}</span> </p>

            <h5 class="modal-title">Rota</h5>
            <p class="mb-2"> {{ evento.roteiro.nome_rota }} </p>

            <h5 class="modal-title">Data do agendamento</h5>
            <p class="mb-2"> {{ evento.data_realizar | date: 'dd-MM-yyyy' }} </p>
          </div>
        </div>


      </div>

      <div class="modal-footer">
        <button (click)="onReset()" class="btn btn-outline-danger btn-sm mr-1" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

-->
