<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><i class="fa icon fa-minus-circle"></i> Saída de Stock</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Logística</a></li>
              <li class="breadcrumb-item"><a href="#">Inventários</a></li> 
              <li class="breadcrumb-item active">Saída de Stock</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <br>
      <div class="row">
        <div class="col-md-12">

          <!-- The Modal -->
          <div class="modall modal-info fade in" 
            data-backdrop="static" style="display: block; opacity: 1;">
            <div class="modal-dialog modal-lg" style="max-width: 1455px;">
              <div class="modal-content" style="box-shadow: 0 0 0rem
                rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title"><i class="fa fa-shopping nav-icon"></i>
                    Registar Saída de Material em Stock</h4>
                  <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                </div>

                <!-- Modal body -->
                <form [formGroup]="simpleForm" (submit)="onSubmit();">
                  <div class="modal-body">
                    <app-alert></app-alert>
                    <ngx-loading [show]="loading"></ngx-loading>


                    <div class="row col-md-12">

                      <div class="col-md-3">
                        <div class="form-group has-warning">
                          <label class="col-form-label" for="armazem_id">
                            Armazem</label>
                          <div class="input-group mb-3">
                            <select formControlName="armazem_id" (change)="getMaterialByArmazem()"
                              class="form-control" required autofocus
                              [ngClass]="{ 'is-invalid': submitted &&
                              f.armazem_id.errors, 'is-valid':
                              f.armazem_id.touched && !f.armazem_id.errors }">
                              <option [value]="null">Seleciona o armazem</option>
                              <option value="{{ armazem.id }}" *ngFor="let
                                armazem of armazens">{{ armazem.nome }}
                              </option>
                            </select>
                            <div *ngIf="submitted && f['armazem_id'].errors"
                              class="invalid-feedback">
                              <div *ngIf="f['armazem_id'].errors.required">O
                                campo armazem é obrigatório</div>
                            </div>
                          </div>
                        </div>
                      </div>
 



                      <div class="col-md-3">
                        <div class="form-group has-warning">
                          <label class="col-form-label" for="artigo_id"> Material</label>
                          <div class="input-group mb-3">
                            <select formControlName="artigo_id" (change)=getQtdProduto()
                              class="form-control" autofocus
                              [ngClass]="{ 'is-invalid': submitted &&
                              f.artigo_id.errors, 'is-valid':
                              f.artigo_id.touched && !f.artigo_id.errors }">
                              <option [value]="null">Seleciona o Material</option>
                              <option *ngFor="let artigo of artigos"
                                value="{{artigo.id}}"> {{artigo.descricao}} </option>
                            </select>
                            <div *ngIf="submitted && f['artigo_id'].errors"
                              class="invalid-feedback">
                              <div *ngIf="f['artigo_id'].errors.required">O
                                campo artigo é obrigatório</div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-2">
                        <div class="form-group has-warning">
                          <label class="col-form-label">Quantidade em Stock</label>
                          <input class="form-control" readonly autofocus
                            id="qtd_stock" type="number"
                            formControlName="qtd_stock"
                            placeholder="Quatidade de Material em Stock"
                            autocomplete="given-name" [ngClass]="{ 'is-invalid':
                            submitted && f.qtd_stock.errors, 'is-valid':
                            f.qtd_stock.touched && !f.qtd_stock.errors }"
                            />
                         
                        </div>
                      </div>

                      <div class="col-md-2">
                        <div class="form-group has-warning">
                          <label class="col-form-label">Quantidade (a sair)</label>
                          <input class="form-control" autofocus
                            id="qtd_recebida" type="number"
                            formControlName="qtd_recebida"
                            placeholder="Quatidade de Material"
                            autocomplete="given-name" [ngClass]="{ 'is-invalid':
                            submitted && f.qtd_recebida.errors, 'is-valid':
                            f.qtd_recebida.touched && !f.qtd_recebida.errors }"
                            />
                          <div *ngIf="submitted && f['qtd_recebida'].errors"
                            class="invalid-feedback">
                            <div *ngIf="f['qtd_recebida'].errors.required">O
                              campo Quatidade é obrigatório</div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-1">
                        <div class="form-group mx-0" style="margin:0">
                          <label class="col-form-label" style="color: white;">Adicionar</label>
                          <button class="btn btn-info btn-block"
                            (click)="adicionarArtigos();" type="button"
                            [disabled]="(artigos.length> 0 &&
                            this.simpleForm.getRawValue().qtd_recebida >= 1 ?
                            false: true)" data-style="expand-left"><i class="fa
                              fa-plus"></i> Adicionar</button>
                        </div>
                      </div>


                    </div>

                    <hr>
                    <div class="row col-md-12">
                      <table class="table table-hover table-bordered
                        table-striped text-center">
                        <tbody>
                          <tr>
                            <th width="100">#</th>
                            <th>Material</th>
                            <th>Quantidade</th>
                            <th>Quantidade em Stock</th>
                            <th style="width: 10%;">Acção</th>
                          </tr>
                          <tr *ngFor="let produt of artigosSelecionados; index
                            as i">
                            <td>{{i+1}}</td>
                            <td>{{ produt.nome_artigo }}</td>
                            <td>{{ produt.quantidade }}</td>
                            <td>{{ produt.qtd_stock }}</td>
                            <td>
                              <div class="btn-group">
                                <button class="btn btn-default" id="remove"
                                  (click)="deleteRow(produt)">Exluir</button>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer" style="background: #f4f6f8;">
                    <button class="btn btn-primary mr-1 btn-smm" type="button"
                      [disabled]="(artigosSelecionados.length> 0 ? false: true)"
                      type="submit"
                      [disabled]="simpleForm.pristine || simpleForm.invalid"
                      data-style="expand-left"><i class="fa fa-shopping-cart"></i>
                      Registar</button>
                  </div>
                </form>
              </div>

            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>