#img-side {

    /* BE WATER - EPAS - Lunda Norte */
/*     background-image: url('~/assets/dist/img/epasln.png'); */


    /* BE WATER - EPAS - Namibe */
     background-image: url('~/assets/dist/img/epas_namibe.png');

    /* VISTA WATER - EPAS - Lunda Sul */
/*    background-image: url('~/assets/dist/img/epasls.jpg');*/

    background-repeat: no-repeat;
    /*object-fit: cover;*/
    background-size: cover;
    background-position: center;

}


.main-icon {
    width: 100%;
}

.hidden-menu{
  visibility: hidden;
  display: none;
}
