<aside class="main-sidebar elevation-4 sidebar-dark-info" style="min-height: 768px;">
  <!-- Brand Logo -->

  <div class="main-icon" align="center" style="background: #ffffff;">
    <a routerLink="/dashboard" class="brand-link">
      <!-- BE WATER - EPASLN -->
      <img *ngIf="app_environment == 'epasln-qas.unig-erp.com:3349' || app_environment == 'epasln.unig-erp.com:3348'" src="assets/dist/img/epasln.png" alt="UNIG EPASLN" style="height: 47px;" />

      <!-- BE WATER - EPASNamibe -->
      <img *ngIf="app_environment == 'epasn-qas.unig-erp.com:3355' || app_environment == 'epasn.unig-erp.com:3201' || app_environment == 'epasn.unig-erp.com:3347' || app_environment == 'localhost:3333'" src="assets/dist/img/epas_namibe.png" alt="UNIG EPASLN" style="height: 47px;" />

      <!-- VISTA WATER - EPASLS -->
      <img *ngIf="app_environment == 'epasls-qas.unig-erp.com:3352' || app_environment == 'epasls.unig-erp.com:3349'" src="assets/dist/img/epasls.jpg" alt="UNIG EPASLS" style="height: 47px;" />

    </a>
  </div>

  <!-- Sidebar -->
  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="info" align="center">
        <span style="color: #ffffff;">MENUS</span>
      </div>
    </div>

    <nav class="mt-2">
      <ul class="nav nav-child-indent nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fa fa-home"></i>
            <p>Página Inicial</p>
          </a>
        </li>
        <!--CRM-->
        <li *ngIf="canActivateRouterLink('crm')" class="nav-item has-treeview" routerLinkActive="menu-open">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-sitemap"></i>
            <p>Gestão de Clientes<i class="right fa fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li *ngIf="canActivateRouterLink('listar_clientes')" class="nav-item">
              <a routerLink="/clientes" routerLinkActive="active" class="nav-link"> <i class="fa icon-user nav-icon"></i> Clientes</a>
            </li>
            <li *ngIf="canActivateRouterLink('listar_clientes')" class="nav-item">
              <a routerLink="/contaCorrente" routerLinkActive="active" class="nav-link"> <i class="fa fa-cc nav-icon"></i> Conta Corrente</a>
            </li>

            <li *ngIf="canActivateRouterLink('contrato')" class="nav-item has-treeview" routerLinkActive="menu-open">
              <a href="#" class="nav-link">
                <i class="nav-icon fa fa-edit"></i>
                <p>Contratos<i class="right fa fa-angle-left"></i></p>
              </a>
              <ul class="nav nav-treeview">

                <li *ngIf="canActivateRouterLink('registar_contrato')" class="nav-item">
                  <a routerLink="/contrato" routerLinkActive="active" class="nav-link">
                    <i class="nav-icon fa fa-edit"></i>
                    <p>Novo Registo</p>
                  </a>
                </li>

                <li class="nav-item" *ngIf="canActivateRouterLink('listar_contratos')">
                  <a routerLink="/ListarContrato" routerLinkActive="active" class="nav-link">
                    <i class="nav-icon fa fa-list"></i>
                    <p>Listagem</p>
                  </a>
                </li>
              </ul>
            </li>

            <li *ngIf="canActivateRouterLink('listar_orcamentos')" class="nav-item has-treeview" routerLinkActive="menu-open">
              <a href="#" class="nav-link">
                <i class="fa fa-money nav-icon"></i>
                <p>Orçamento<i class="right fa fa-angle-left"></i></p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="/orcamento" routerLinkActive="active" class="nav-link"><i class="fa fa-plus nav-icon"></i> Registar Orçamento</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/listarOrcamento" routerLinkActive="active" class="nav-link"><i class="fa fa-file-archive-o nav-icon"></i> Listar Orçamento</a>
                </li>
              </ul>
            </li>

          </ul>
        </li>
        <!--END CRM-->


        <li *ngIf="canActivateRouterLink('logistica')" class="nav-item has-treeview" routerLinkActive="menu-open">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-th-large"></i>
            <p>Logística<i class="right fa fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">

            <li class="nav-item" *ngIf="canActivateRouterLink('entrada_stock')">
              <a routerLink="/entradaStock" routerLinkActive="active" class="nav-link">
                <i class="fa fa-suitcase nav-icon"></i>
                <p>Entrada de Sctock</p>
              </a>
            </li>

            <li class="nav-item" *ngIf="canActivateRouterLink('saida_stock')">
              <a routerLink="/saidaStock" routerLinkActive="active" class="nav-link">
                <i class="fa fa-suitcase nav-icon"></i>
                <p>Saída de Sctock</p>
              </a>
            </li>

            <li class="nav-item" *ngIf="canActivateRouterLink('transferencia_stock')">
              <a routerLink="/transferenciaStock" routerLinkActive="active" class="nav-link">
                <i class="fa fa-suitcase nav-icon"></i>
                <p>Transferência</p>
              </a>
            </li>

            <li class="nav-item" *ngIf="canActivateRouterLink('stock_existente')">
              <a routerLink="/stock_existente" routerLinkActive="active" class="nav-link">
                <i class="fa fa-list nav-icon"></i>
                <p>Stock Existente</p>
              </a>
            </li>

            <li class="nav-item" *ngIf="canActivateRouterLink('movimentacao_stock')">
              <a routerLink="/movimentacao_stock" routerLinkActive="active" class="nav-link">
                <i class="fa fa-list nav-icon"></i>
                <p>Movimentação de Stock</p>
              </a>
            </li>

          </ul>
        </li>

        <li *ngIf="canActivateRouterLink('vendas')" class="nav-item has-treeview" routerLinkActive="menu-open">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-money"></i>
            <p>Facturação<i class="right fa fa-angle-left"></i></p>
          </a>

          <ul class="nav nav-treeview">
            <li *ngIf="canActivateRouterLink('registar_facturacao')" class="nav-item">
              <a routerLink="/facturacao" routerLinkActive="active" class="nav-link">
                <i class="fa fa-plus-circle nav-icon"></i>
                <p>Registar Facturação</p>
              </a>
            </li>
            <li class="nav-item" *ngIf="canActivateRouterLink('listar_facturacao')">
              <a routerLink="/listarFacturacao" routerLinkActive="active" class="nav-link">
                <i class="fa fa-file-archive-o nav-icon"></i>
                <p>Listar Facturação</p>
              </a>
            </li>
            <li class="nav-item has-treeview" routerLinkActive="menu-open" *ngIf="canActivateRouterLink('gerar_recibos')">
              <a href="javascript:void(0)" class="nav-link">
                <i class="fa fa-book nav-icon"></i>
                <p>Recibos <i class="right fa fa-angle-left"></i></p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="/vendas/recibo/gera-recibo" routerLinkActive="active" class="nav-link" *ngIf="canActivateRouterLink('gerar_recibos')">
                    <i class="fa fa-plus nav-icon"></i>
                    <p>Gerar Recibo</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="/listarRecibos" routerLinkActive="active" class="nav-link" *ngIf="canActivateRouterLink('listar_recibos')">
                    <i class="fa fa-search nav-icon"></i>
                    <p>Consultar Recibo</p>
                  </a>
                </li>
              </ul>
            </li>
            <!--<li class="nav-item" *ngIf="canActivateRouterLink('charge_facturacao')">
              <a routerLink="/vendas/facturacao/charge" routerLinkActive="active" class="nav-link">
                <i class="fa fa-balance-scale nav-icon"></i>
                <p>Listar Pré-Facturacão</p>
              </a>
            </li>
            <li class="nav-item has-treeview" routerLinkActive="menu-open" *ngIf="canActivateRouterLink('facturacao_automatica')">
              <a href="javascript:void(0)" class="nav-link">
                <i class="fa fa-tags nav-icon"></i>
                <p>Facturação Automatica <i class="right fa fa-angle-left"></i></p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="/vendas/facturacao/facturacao-automatica//facturacao-pre" routerLinkActive="active" class="nav-link">
                    <i class="fa fa-plus nav-icon"></i>
                    <p>Pré-Facturação</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="/vendas/facturacao/facturacao-automatica//facturacao-final" routerLinkActive="active" class="nav-link">
                    <i class="fa fa-plus nav-icon"></i>
                    <p>Facturação Final</p>
                  </a>
                </li>
                -->
                <!--  <li class="nav-item"><a routerLink="/facturacao-automatica/loop" routerLinkActive="active"
                    class="nav-link"><i class="fa fa-dot-circle-o nav-icon"></i>
                    <p>Ciclo de facturação</p>
                  </a></li>
                  <li class="nav-item">
                    <a routerLink="/confEstadoCicloFacturacao" routerLinkActive="active" class="nav-link"><i
                        class="fa fa-dot-circle-o nav-icon"></i>
                      Estado Ciclo Facturação</a>
                  </li>
                  </a></li>
              </ul>
            </li>-->

            <!--<li class="nav-item"><a routerLink="/leitura-contador" routerLinkActive="active"
                                class="nav-link">  <i class="fa  fa-clock-o nav-icon"></i> Leitura Contador</a></li>-->

            <!--<li *ngIf="canActivateRouterLink('gerar_recibos')" class="nav-item"><a routerLink="/vendas/recibo/gera-recibo" routerLinkActive="active"
                class="nav-link">
                <i class="fa fa-tasks nav-icon"></i>
                Gerar Recibo</a></li>-->

            <!--<li class="nav-item has-treeview" routerLinkActive="menu-open">
                <a href="#" class="nav-link"><i class="nav-icon fa fa-money"></i>
                  <p>Relatorio de Vendas<i class="right fa fa-angle-left"></i></p>
                </a>
                <ul class="nav nav-treeview">
                  <li *ngIf="canActivateRouterLink('registar_facturacao')" class="nav-item"><a routerLink="/facturacao"
                      routerLinkActive="active" class="nav-link"><i class="fa fa-navicon nav-icon"></i>
                      <p>Diario de Vendas</p>
                    </a></li>
                </ul>
              </li>-->
          </ul>
        </li>

         <li class="nav-item" *ngIf="canActivateRouterLink('relatorios')" class="nav-item has-treeview" routerLinkActive="menu-open">
          <a routerLink="/reporting_e_bi" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fa fa-line-chart "></i>
            <p>Reporting & BI</p>
          </a>
        </li>

        <!--ROTAS-->
        <li *ngIf="canActivateRouterLink('rotas')" class="nav-item has-treeview hidden-menu" routerLinkActive="menu-open">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-map-marker"></i>
            <p>Roteiros<i class="right fa fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li *ngIf="canActivateRouterLink('listar_rotas')" class="nav-item">
              <a routerLink="/MapaRotas" routerLinkActive="active" class="nav-link"><i class="fa fa-map-marker nav-icon"></i> Mapa</a>
            </li>

            <li *ngIf="canActivateRouterLink('listar_rotas')" class="nav-item">
              <a routerLink="/Rotas" routerLinkActive="active" class="nav-link"><i class="fa fa-map-marker nav-icon"></i> Rotas</a>
            </li>

            <li *ngIf="canActivateRouterLink('leituras')" class="nav-item">
              <a routerLink="/rotas/leituras" routerLinkActive="active" class="nav-link"><i class="fa fa-map-marker nav-icon"></i> Leituras</a>
            </li>

            <li *ngIf="canActivateRouterLink('listar_rotas')" class="nav-item">
              <a routerLink="/rotas/agendamentos" routerLinkActive="active" class="nav-link"><i class="fa fa-calendar nav-icon"></i> Agendamentos</a>
            </li>

            <li class="nav-item">
              <a routerLink="/NaoLeitura" routerLinkActive="active" class="nav-link"><i class="fa fa-map-marker nav-icon"></i> Não Leituras</a>
            </li>

            <li class="nav-item">
              <a routerLink="/Ocorrencia" routerLinkActive="active" class="nav-link"><i class="fa fa-map-marker nav-icon"></i> Ocorrências</a>
            </li>
          </ul>
        </li>
        <!--END ROTAS-->

        <li *ngIf="canActivateRouterLink('operacoes')" class="nav-item has-treeview" routerLinkActive="active menu-open">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-cog"></i>
            <p>Operações<i class="right fa fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">

            <li class="nav-item has-treeview" routerLinkActive="menu-open">
              <a href="#" class="nav-link">
                <i class="fa fa-calculator nav-icon"></i>
                <p>Caixa <i class="right fa fa-angle-left"></i></p>
              </a>
              <ul class="nav nav-treeview">
                <li *ngIf="canActivateRouterLink('abrir_caixa')" class="nav-item">
                  <a routerLink="#" data-toggle="modal" data-target="#aberutaCaixaModal" routerLinkActive="active" class="nav-link"><i class="fa fa-plus-circle nav-icon"></i> Abertura de Caixa</a>
                </li>
                <li *ngIf="canActivateRouterLink('fechar_caixa')" class="nav-item">
                  <a routerLink="#" data-toggle="modal" data-target="#fechoCaixaModal" routerLinkActive="active" class="nav-link" (click)="this.configService.getCaixas();"> <i class="fa fa-key nav-icon"></i> Fechar de Caixa </a>
                </li>
                <li *ngIf="canActivateRouterLink('deposito_caixa')" class="nav-item">
                  <a routerLink="#" data-toggle="modal" data-target="#depositoCaixaModal" routerLinkActive="active" class="nav-link" (click)="this.configService.listarBancos();"> <i class="fa fa-money nav-icon"></i> Deposito de Caixa </a>
                </li>

                <li *ngIf="canActivateRouterLink('listar_depositos')" class="nav-item">
                  <a routerLink="/Depositos" routerLinkActive="active" class="nav-link"><i class="fa fa-list nav-icon"></i> Listar Depósitos</a>
                </li>

                <li *ngIf="canActivateRouterLink('movimento_caixa')" class="nav-item">
                  <a routerLink="/caixa/movimento" routerLinkActive="active" class="nav-link"><i class="fa fa-tasks nav-icon"></i> Movimentos de Caixa</a>
                </li>
              </ul>
            </li>
            <li *ngIf="canActivateRouterLink('listar_pedidos')" class="nav-item">
              <a routerLink="/listarPedidos" routerLinkActive="active" class="nav-link">
                <i class="fa icon-list nav-icon"></i>
                <p>Ordens de serviços</p>
              </a>
            </li>

            <li class="nav-item">
              <a routerLink="/LocalInstalacao" routerLinkActive="active" class="nav-link"><i class="fa fa-map-marker nav-icon"></i> Locais de Instalação</a>
            </li>
            <li class="nav-item">
              <a routerLink="/LocalConsumo" routerLinkActive="active" class="nav-link"><i class="fa fa-map-marker nav-icon"></i> Locais de Consumo</a>
            </li>

            <li class="nav-item">
              <a routerLink="/listarProdutos" *ngIf="canActivateRouterLink('listar_produtos')" routerLinkActive="active" class="nav-link"> <i class="fa fa-list nav-icon"></i> Listar Produtos/Serviços</a>
            </li>

            <li class="nav-item has-treeview" routerLinkActive="menu-open">
              <a href="#" class="nav-link">
                <i class="nav-icon fa fa-calculator"></i>
                <p>Gestão de Contadores<i class="right fa fa-angle-left"></i></p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item" *ngIf="canActivateRouterLink('listar_contadores')">
                  <a routerLink="/Contadores" routerLinkActive="active" class="nav-link">
                    <i class="fa icon-list nav-icon"></i>
                    <p>Contadores</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item has-treeview" routerLinkActive="menu-open" *ngIf="canActivateRouterLink('gestao_ramal')">
              <a href="#" class="nav-link">
                <i class="nav-icon fa fa-building-o"></i>
                <p>Gestão de Ramais<i class="right fa fa-angle-left"></i></p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="/TipoObjecto" routerLinkActive="active" class="nav-link">
                    <i class="fa fa-building-o nav-icon"></i>
                    <p>Tipos de objectos</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="/novaLigacao" routerLinkActive="active" class="nav-link">
                    <i class="fa fa-edit nav-icon"></i>
                    <p>Nova Ligação</p>
                  </a>
                </li>

                <li class="nav-item">
                  <a routerLink="/LigacaoRamal" routerLinkActive="active" class="nav-link">
                    <i class="fa fa-list nav-icon"></i>
                    <p>Ligação Ramal</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="/ObjectoLigacaoRamal" routerLinkActive="active" class="nav-link">
                    <i class="fa fa-building-o nav-icon"></i>
                    <p>Objecto do Ramal</p>
                  </a>
                </li>
              </ul>
            </li>

            <li class="nav-item has-treeview" *ngIf="canActivateRouterLink('gestao_tarifario')" routerLinkActive="menu-open">
              <a href="#" class="nav-link">
                <i class="nav-icon fa fa-file-text-o"></i>
                <p>Gestão de Tarifários<i class="right fa fa-angle-left"></i></p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="/Tarifario" routerLinkActive="active" class="nav-link">
                    <i class="fa fa-file-text-o nav-icon"></i>
                    <p>Tarifários</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="/ClasseTarifario" routerLinkActive="active" class="nav-link">
                    <i class="fa fa-file-text-o nav-icon"></i>
                    <p>Classes de Tarifários</p>
                  </a>
                </li>

                <li class="nav-item">
                  <a routerLink="/ProdutoClasseTarifario" routerLinkActive="active" class="nav-link">
                    <i class="fa fa-file-text-o nav-icon"></i>
                    <p>Produto Classe Tarifário</p>
                  </a>
                </li>

                <li class="nav-item">
                  <a routerLink="/ConfEstadoTarifario" routerLinkActive="active" class="nav-link"><i class="fa fa-file-text-o nav-icon"></i> Estados de Tarifários </a>
                </li>
              </ul>
            </li>

            <li class="nav-item has-treeview" routerLinkActive="menu-open" *ngIf="canActivateRouterLink('inventario_rede')">
              <a href="#" class="nav-link">
                <i class="nav-icon fa fa-cogs"></i>
                <p>Inventário de Rede<i class="right fa fa-angle-left"></i></p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="/Dispositivos" routerLinkActive="active" class="nav-link">
                    <i class="fa icon-list nav-icon"></i>
                    <p>Dispositivos</p>
                  </a>
                </li>

                <li class="nav-item">
                  <a routerLink="/InvRedeNumeracao" routerLinkActive="active" class="nav-link">
                    <i class="fa icon-list nav-icon"></i>
                    <p>Numeração</p>
                  </a>
                </li>
              </ul>
            </li>

            <li class="nav-item" *ngIf="canActivateRouterLink('listar_plano_preco')">
              <a routerLink="/planoPrecos" routerLinkActive="active" class="nav-link">
                <i class="fa fa-calculator nav-icon"></i>
                <p>Plano de Preços</p>
              </a>
            </li>
            <li class="nav-item" *ngIf="canActivateRouterLink('gestao_numeros')">
              <a routerLink="#" routerLinkActive="active" class="nav-link">
                <i class="fa fa-building-o nav-icon"></i>
                <p>Gestão de Números</p>
                <p></p>
              </a>
            </li>
          </ul>
        </li>

        <!-- START =================================== CONFIGURAÇÕES ========================================-->

        <li *ngIf="canActivateRouterLink('configuracoes')" class="nav-item has-treeview" routerLinkActive="active menu-open">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-cogs"></i>
            <p>Configurações<i class="right fa fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/Configuracao" routerLinkActive="active" class="nav-link"> <i class="fa fa-gear nav-icon"></i> Sistema</a>
            </li>

            <li class="nav-item">
              <a routerLink="/ContextoConfiguracao" routerLinkActive="active" class="nav-link"> <i class="fa fa-gear nav-icon"></i> Contexto de Configurações</a>
            </li>

            <li class="nav-item has-treeview" routerLinkActive="menu-open">
              <a href="#" class="nav-link">
                <i class="fa fa-unlock-alt nav-icon"></i>
                <p>Controle Acesso<i class="right fa fa-angle-left"></i></p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="/utilizadores" routerLinkActive="active" class="nav-link"><i class="fa icon-users nav-icon"></i> Utilizadores</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/permissions" routerLinkActive="active" class="nav-link"><i class="fa fa-lock nav-icon"></i> Permissions</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/roles" routerLinkActive="active" class="nav-link"><i class="fa fa-file-archive-o nav-icon"></i> Roles</a>
                </li>
              </ul>
            </li>

            <li class="nav-item has-treeview" routerLinkActive="menu-open" *ngIf="canActivateRouterLink('facturacao_automatica')">
              <a href="javascript:void(0)" class="nav-link">
                <i class="fa fa-tags nav-icon"></i>
                <p>Ciclo Facturação<i class="right fa fa-angle-left"></i></p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="/facturacao-automatica/loop" routerLinkActive="active" class="nav-link">
                    <i class="fa fa-dot-circle-o nav-icon"></i>
                    <p>Planeamento</p>
                  </a>
                </li>
                <li class="nav-item" *ngIf="canActivateRouterLink('configurar_estado_ciclo_faturacao')">
                  <a routerLink="/confEstadoCicloFacturacao" routerLinkActive="active" class="nav-link">
                    <i class="fa fa-plus nav-icon"></i>
                    <p>Estado Ciclo Facturação</p>
                  </a>
                </li>

                <li class="nav-item" *ngIf="canActivateRouterLink('configurar_tipo_facturacao')">
                  <a routerLink="/confTipofacturacao" routerLinkActive="active" class="nav-link"> <i class="fa fa-usd nav-icon"></i> Tipos de Facturações</a>
                </li>
              </ul>
            </li>

            <li class="nav-item has-treeview" routerLinkActive="menu-open">
              <a href="#" class="nav-link">
                <i class="fa fa-users nav-icon"></i>
                <p>Clientes<i class="right fa fa-angle-left"></i></p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="/lista-de-generos" routerLinkActive="active" class="nav-link"> <i class="fa icon-users nav-icon"></i> Gênero </a>
                </li>

                <li class="nav-item">
                  <a routerLink="/lista-dos-tipos-de-identificacoes" routerLinkActive="active" class="nav-link"> <i class="fa icon-users nav-icon"></i> Tipos de identificações </a>
                </li>

                <li class="nav-item">
                  <a routerLink="/gestores-de-contas" routerLinkActive="active" class="nav-link"> <i class="fa icon-users nav-icon"></i> Gestores de contas </a>
                </li>

                <li class="nav-item">
                  <a routerLink="/tipos-de-clientes" routerLinkActive="active" class="nav-link"> <i class="fa icon-users nav-icon"></i> Tipos de clientes </a>
                </li>

                <li class="nav-item">
                  <a routerLink="/ConfDireccao" *ngIf="canActivateRouterLink('configurar_direccao')" routerLinkActive="active" class="nav-link">
                    <i class="nav-icon fa fa-cogs"></i>
                    <p>Direcção</p>
                  </a>
                </li>
              </ul>
            </li>

            <li *ngIf="canActivateRouterLink('configurar_contador')" class="nav-item has-treeview" routerLinkActive="menu-open">
              <a href="#" class="nav-link">
                <i class="fa fa-calculator nav-icon"></i>
                <p>Contadores<i class="right fa fa-angle-left"></i></p>
              </a>

              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="/ConfTipoContador" routerLinkActive="active" class="nav-link"><i class="fa fa-calculator nav-icon"></i> Tipo Contador</a>
                </li>

                <li class="nav-item">
                  <a routerLink="/ConfTipoRegisto" routerLinkActive="active" class="nav-link"><i class="fa fa-calculator nav-icon"></i> Tipo Registo</a>
                </li>

                <li class="nav-item">
                  <a routerLink="/ConfEstadoContador" routerLinkActive="active" class="nav-link"><i class="fa fa-calculator nav-icon"></i> Estado Contador</a>
                </li>

                <li class="nav-item">
                  <a routerLink="/ConfMarca" routerLinkActive="active" class="nav-link"><i class="fa fa-bars nav-icon"></i> Marca</a>
                </li>

                <li class="nav-item">
                  <a routerLink="/ConfModelo" routerLinkActive="active" class="nav-link"><i class="fa fa-bars nav-icon"></i> Modelo</a>
                </li>

                <li class="nav-item">
                  <a routerLink="/ConfFabricante" routerLinkActive="active" class="nav-link"><i class="fa fa-wrench nav-icon"></i> Fabricante</a>
                </li>

                <li class="nav-item">
                  <a routerLink="/ConfClassePrecisao" routerLinkActive="active" class="nav-link"><i class="fa fa-sort-amount-desc nav-icon"></i> Classe Precisão</a>
                </li>

                <li class="nav-item">
                  <a routerLink="/ConfMedicao" routerLinkActive="active" class="nav-link"><i class="fa fa-bars nav-icon"></i> Medição</a>
                </li>

                <li class="nav-item">
                  <a routerLink="/ConfCalibre" routerLinkActive="active" class="nav-link"><i class="fa fa-bars nav-icon"></i> Calibre</a>
                </li>

                <li class="nav-item">
                  <a routerLink="/ConfCaudal" routerLinkActive="active" class="nav-link"><i class="fa fa-shower nav-icon"></i> Caudal</a>
                </li>
              </ul>
            </li>

            <li class="nav-item has-treeview" routerLinkActive="menu-open">
              <a href="#" class="nav-link">
                <i class="nav-icon fa fa-edit"></i>
                <p>Contratos<i class="right fa fa-angle-left"></i></p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item" *ngIf="canActivateRouterLink('configurar_tipologia_cliente')">
                  <a routerLink="/confTipologiaCliente" routerLinkActive="active" class="nav-link"> <i class="fa fa-users nav-icon"></i> Tipologia de Clientes</a>
                </li>

                <li class="nav-item" *ngIf="canActivateRouterLink('configurar_nivel_sensibilidade')">
                  <a routerLink="/confNivelSensibilidade" routerLinkActive="active" class="nav-link"> <i class="fa fa-thermometer-half nav-icon"></i> Nível de Sensibilidade</a>
                </li>

                <li class="nav-item" *ngIf="canActivateRouterLink('configurar_tipo_contrato')">
                  <a routerLink="/ConfTipoContrato" routerLinkActive="active" class="nav-link"> <i class="fa fa-file-text-o nav-icon"></i> Tipo de Contrato </a>
                </li>

                <li class="nav-item" *ngIf="canActivateRouterLink('configurar_objecto_contrato')">
                  <a routerLink="/confObjectoContrato" routerLinkActive="active" class="nav-link"> <i class="fa fa-sticky-note-o nav-icon"></i> Objecto de Contrato </a>
                </li>

                <li class="nav-item" *ngIf="canActivateRouterLink('configurar_motivo_denuncia')">
                  <a routerLink="/confMotivoDenuncia" routerLinkActive="active" class="nav-link"> <i class="fa fa-exclamation-triangle nav-icon"></i> Motivos de Denúncia/Rescisão de Contrato </a>
                </li>

                <li class="nav-item" *ngIf="canActivateRouterLink('configurar_meses_media_consumo')">
                  <a routerLink="/confMesesConsumo" routerLinkActive="active" class="nav-link"> <i class="fa fa-calendar nav-icon"></i> Meses de Média de Consumo </a>
                </li>

                <li class="nav-item" *ngIf="canActivateRouterLink('configurar_estado_contrato')">
                  <a routerLink="/confEstadoContrato" routerLinkActive="active" class="nav-link"> <i class="fa fa-hourglass-half nav-icon"></i> Estados de Contratos </a>
                </li>

                <li class="nav-item" *ngIf="canActivateRouterLink('configurar_tipo_medicao')">
                  <a routerLink="/confTipoMedicao" routerLinkActive="active" class="nav-link"> <i class="fa fa-align-left nav-icon"></i> Tipo de Medição </a>
                </li>

                <li class="nav-item" *ngIf="canActivateRouterLink('configurar_tipo_mensagem')">
                  <a routerLink="/confTipoMensagem" routerLinkActive="active" class="nav-link"> <i class="fa fa-envelope-o nav-icon"></i> Tipo de Mensagem </a>
                </li>

                <li class="nav-item" *ngIf="canActivateRouterLink('configurar_tipo_juro')">
                  <a routerLink="/confTipojuro" routerLinkActive="active" class="nav-link"> <i class="fa fa-money nav-icon"></i> Tipo de Juros </a>
                </li>
              </ul>
            </li>

            <li class="nav-item has-treeview" routerLinkActive="menu-open">
              <a href="#" class="nav-link">
                <i class="nav-icon fa fa-th-large"></i>
                <p>Logística<i class="right fa fa-angle-left"></i></p>
              </a>
              <ul class="nav nav-treeview">


                <li class="nav-item has-treeview" routerLinkActive="menu-open">
                  <a href="#" class="nav-link" routerLinkActive="active">
                    <i class="nav-icon fa fa-sun-o"></i>
                    <p>Material<i class="right fa fa-angle-left"></i></p>
                  </a>
                  <ul class="nav nav-treeview">
                    <li *ngIf="canActivateRouterLink('listar_stock_produtos')" class="nav-item">
                      <a routerLink="/stockProdutos" routerLinkActive="active" class="nav-link"><i class="fa fa-cube nav-icon"></i> Material</a>
                    </li>

                    <li *ngIf="canActivateRouterLink('listar_stock_categoria_produto')" class="nav-item">
                      <a routerLink="/stockCategoriaProdutos" routerLinkActive="active" class="nav-link"><i class="fa fa-list nav-icon"></i> Categorias Material</a>
                    </li>
                  </ul>
                </li>

                <li *ngIf="canActivateRouterLink('listar_stock_armazem')" class="nav-item">
                  <a routerLink="/stockArmazem" routerLinkActive="active" class="nav-link"><i class="fa fa-list nav-icon"></i> Armazéns</a>
                </li>




                    <li *ngIf="canActivateRouterLink('listar_stock_tipo_movimento')" class="nav-item">
                      <a routerLink="/stockTipoMovimentos" routerLinkActive="active" class="nav-link"><i class="fa fa-list nav-icon"></i> Tipo Movimentos</a>
                    </li>


              </ul>
            </li>

            <li class="nav-item has-treeview" routerLinkActive="menu-open">
              <a href="#" class="nav-link">
                <i class="nav-icon fa fa-cogs"></i>
                <p>Ordens de Serviço<i class="right fa fa-angle-left"></i></p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item" *ngIf="canActivateRouterLink('estado_pedidos')">
                  <a routerLink="/estadosPedido" routerLinkActive="active" class="nav-link">
                    <i class="fa icon-list nav-icon"></i>
                    <p>Estados</p>
                  </a>
                </li>

                <li class="nav-item">
                  <a routerLink="/confTipoOrdemServico" *ngIf="canActivateRouterLink('configurar_tipo_ordem_servico')" routerLinkActive="active" class="nav-link">
                    <i class="fa icon-list nav-icon"></i>
                    <p>Tipos de Ordem</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item has-treeview" routerLinkActive="menu-open">
              <a href="#" class="nav-link">
                <i class="fa fa-map-marker nav-icon"></i>
                <p>Roteiros<i class="right fa fa-angle-left"></i></p>
              </a>

              <ul class="nav nav-treeview">
                <li class="nav-item" *ngIf="canActivateRouterLink('configurar_tipo_nao_leitura')">
                  <a routerLink="/ConfTipoNaoLeitura" routerLinkActive="active" class="nav-link"> <i class="fa fa-gears nav-icon"></i> Tipos de Não Leituras</a>
                </li>

                <li class="nav-item">
                  <a routerLink="/ConfTipoNaoLeitura" routerLinkActive="active" class="nav-link"> <i class="fa fa-gears nav-icon"></i> Tipos de Não Leituras</a>
                </li>

                <li class="nav-item" *ngIf="canActivateRouterLink('configurar_tipo_ocorrencia')">
                  <a routerLink="/ConfTipoOcorrencia" routerLinkActive="active" class="nav-link"> <i class="fa fa-gears nav-icon"></i> Tipos de Ocorrências</a>
                </li>

                <li class="nav-item" *ngIf="canActivateRouterLink('configurar_tipo_ocorrencia')">
                  <a routerLink="/rotas/periodicidade" routerLinkActive="active" class="nav-link"> <i class="fa fa-calendar nav-icon"></i> Periodicidades</a>
                </li>

              </ul>
            </li>

            <li class="nav-item has-treeview" routerLinkActive="menu-open">
              <a href="#" class="nav-link">
                <i class="fa fa-cogs nav-icon"></i>
                <p>Produtos/Serviços<i class="right fa fa-angle-left"></i></p>
              </a>

              <ul class="nav nav-treeview">
                <li class="nav-item" *ngIf="canActivateRouterLink('configurar_tipo_produto')">
                  <a routerLink="/confTipoProduto" routerLinkActive="active" class="nav-link"> <i class="fa fa-shopping-basket nav-icon"></i> Tipo de Produtos/Serviços </a>
                </li>

                <li class="nav-item">
                  <a routerLink="/tipos-de-classificacoes" routerLinkActive="active" class="nav-link"> <i class="fa fa-star-half-o nav-icon"></i> Tipos de Classificações </a>
                </li>
              </ul>
            </li>

            <li *ngIf="canActivateRouterLink('configurar_objecto_tecnico')" class="nav-item has-treeview" routerLinkActive="menu-open">
              <a href="#" class="nav-link">
                <i class="fa fa-map-marker nav-icon"></i>
                <p>Objectos Técnicos<i class="right fa fa-angle-left"></i></p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item has-treeview" routerLinkActive="menu-open">
                  <a href="#" class="nav-link">
                    <i class="fa fa-map-marker nav-icon"></i>
                    <p>Estrutura de Moradas<i class="right fa fa-angle-left"></i></p>
                  </a>

                  <ul class="nav nav-treeview">
                    <li class="nav-item">
                      <a routerLink="/ConfProvincia" routerLinkActive="active" class="nav-link"> <i class="fa fa-map-marker nav-icon"></i> Províncias </a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="/ConfMunicipio" routerLinkActive="active" class="nav-link"> <i class="fa fa-map-marker nav-icon"></i> Municípios </a>
                    </li>
                    <li *ngIf="distrito_view" class="nav-item">
                      <a routerLink="/ConfDistrito" routerLinkActive="active" class="nav-link"> <i class="fa fa-map-marker nav-icon"></i> Comunas </a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="/ConfBairro" routerLinkActive="active" class="nav-link"> <i class="fa fa-map-marker nav-icon"></i> Bairros </a>
                    </li>
                    <li *ngIf="quarteirao_view" class="nav-item">
                      <a routerLink="/ConfQuarteirao" routerLinkActive="active" class="nav-link"> <i class="fa fa-map-marker nav-icon"></i> Quarteirões </a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="/ConfRua" routerLinkActive="active" class="nav-link"> <i class="fa fa-map-marker nav-icon"></i> Ruas </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item" *ngIf="canActivateRouterLink('configurar_tipo_ramal')">
                  <a routerLink="/ConfTipoRamal" routerLinkActive="active" class="nav-link"> <i class="fa fa-building-o nav-icon"></i> Tipos de Ramais </a>
                </li>

                <li class="nav-item" *ngIf="canActivateRouterLink('configurar_tipo_ligacao')">
                  <a routerLink="/confTipoligacao" routerLinkActive="active" class="nav-link"> <i class="fa fa-retweet nav-icon"></i> Tipos de Ligações </a>
                </li>
              </ul>
            </li>

            <li class="nav-item has-treeview" routerLinkActive="menu-open">
              <a href="javascript:void(0)" class="nav-link">
                <i class="fa fa-university nav-icon"></i>
                <p>Institucional<i class="right fa fa-angle-left"></i></p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item" *ngIf="canActivateRouterLink('configurar_empresa')">
                  <a routerLink="/empresa" routerLinkActive="active" class="nav-link"><i class="fa fa-university nav-icon"></i> Empresa</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/ConfBancos" routerLinkActive="active" class="nav-link"> <i class="fa fa-euro nav-icon"></i> Bancos</a>
                </li>
                <li class="nav-item" *ngIf="canActivateRouterLink('configurar_loja')">
                  <a routerLink="/ConfLojas" routerLinkActive="active" class="nav-link"> <i class="fa fa-home nav-icon"></i> Agências</a>
                </li>
              </ul>
            </li>

            <li class="nav-item" *ngIf="canActivateRouterLink('configurar_estado_conta')">
              <a routerLink="/confEstadoconta" routerLinkActive="active" class="nav-link"> <i class="fa fa-cc nav-icon"></i> Estados de Contas</a>
            </li>

            <li class="nav-item" *ngIf="canActivateRouterLink('listar_series')">
              <a routerLink="/ConfSeries" routerLinkActive="active" class="nav-link"> <i class="fa fa-sort-numeric-asc nav-icon"></i> Séries</a>
            </li>

<!--             <li class="nav-item" *ngIf="canActivateRouterLink('configurar_loja')">
              <a routerLink="/ConfLojas" routerLinkActive="active" class="nav-link"> <i class="fa fa-home nav-icon"></i> Agências</a>
            </li> -->

<!--
            <li class="nav-item">
              <a routerLink="/ConfContaBancaria" routerLinkActive="active" class="nav-link"> <i class="fa fa-money nav-icon"></i> Contas Bancárias</a>
            </li>

            <li class="nav-item">
              <a routerLink="/ConfDadosFacturacao" routerLinkActive="active" class="nav-link"> <i class="fa fa-money nav-icon"></i> Dados Facturação</a>
            </li>

-->
<!--             <li class="nav-item" *ngIf="canActivateRouterLink('configurar_empresa')">
              <a routerLink="/empresa" routerLinkActive="active" class="nav-link"><i class="fa fa-university nav-icon"></i> Configurar Empresa</a>
            </li> -->

            <li class="nav-item">
              <a routerLink="/Caucao" routerLinkActive="active" class="nav-link">
                <i class="nav-icon fa fa-cogs"></i>
                <p>Caução</p>
              </a>
            </li>

            <!--                             </ul>
                        </li> -->

            <li class="nav-item" *ngIf="canActivateRouterLink('listar_provincias')">
              <a routerLink="#" routerLinkActive="active" class="nav-link">
                <i class="fa fa-map-marker nav-icon"></i>
                Provincias
              </a>
            </li>

            <li class="nav-item" *ngIf="canActivateRouterLink('listar_municipios')">
              <a routerLink="#" routerLinkActive="active" class="nav-link">
                <i class="fa fa-map-marker nav-icon"></i>
                Municipios
              </a>
            </li>
          </ul>
        </li>

        <!-- END =================================== CONFIGURAÇÕES ========================================-->

        <!--CRM-->
        <li class="nav-item has-treeview" routerLinkActive="menu-open">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-desktop"></i>
            <p>Suporte UNIG<i class="right fa fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/apoio_videos/Abertura do Caixa.mp4" target="_blinck" class="nav-link"> <i class="fa fa-file-video-o nav-icon"></i> Abertura do Caixa</a>
            </li>
            <li class="nav-item">
              <a href="/apoio_videos/Criação de um Cliente Novo.mp4" target="_blinck" class="nav-link"> <i class="fa fa-file-video-o nav-icon"></i> Criação de um Cliente Novo</a>
            </li>
            <li class="nav-item">
              <a href="/apoio_videos/Criação de uma Conta de Cliente.mp4" target="_blinck" class="nav-link"> <i class="fa fa-file-video-o nav-icon"></i> Criação de uma Conta de Cliente</a>
            </li>
            <li class="nav-item">
              <a href="/apoio_videos/Editar Informação Cliente.mp4" target="_blinck" class="nav-link"> <i class="fa fa-file-video-o nav-icon"></i> Editar Informação Cliente</a>
            </li>
            <li class="nav-item">
              <a href="/apoio_videos/Factura - Emitir 2Via.mp4" target="_blinck" class="nav-link"> <i class="fa fa-file-video-o nav-icon"></i> Factura - Emitir 2ªVia</a>
            </li>
            <li class="nav-item">
              <a href="/apoio_videos/Facturação - com contrato.mp4" target="_blinck" class="nav-link"> <i class="fa fa-file-video-o nav-icon"></i> Facturação - com Contrato</a>
            </li>
            <li class="nav-item">
              <a href="/apoio_videos/Recibo - Pagamento Parcial.mp4" target="_blinck" class="nav-link"> <i class="fa fa-file-video-o nav-icon"></i> Recibo - Pagamento Parcial</a>
            </li>
            <li class="nav-item">
              <a href="/apoio_videos/Utilizadores - Inserir Novo.mp4" target="_blinck" class="nav-link"> <i class="fa fa-file-video-o nav-icon"></i> Utilizadores - Inserir Novo</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

<app-moeda [moedas]="configService.moedas"></app-moeda>
<app-banco [bancos]="configService.bancos"></app-banco>

<app-abertura [aberutaCaixaModal]=""></app-abertura>
<app-fecho [fechoCaixaModal]="" [caixas]="configService.caixas"></app-fecho>

<app-deposito-caixa [depositoCaixaModal]=""></app-deposito-caixa>

<app-documento [documentos]="documentos"></app-documento>

<app-utilizador-alterar-password></app-utilizador-alterar-password>
