<!-- The Modal gerar recibo-->
<div class="modal modal-info fade" id="gerarReciboParcialModal" data-backdrop="static" style="">
	<div class="modal-dialog nota-credito-modal-lg" style="max-width: 75%;">
		<div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title"><i class="fa fa-money"></i> Pagamento</h4>
				<button type="button" id="closeModal" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
			</div>
			<form [formGroup]="gerarReciboParcialForm" (submit)="onSubmit();">
				<!-- Modal body  -->
				<div class="modal-body" *ngIf="loadingDataFactura"> 
					<ngx-loading [show]="loadingDataFactura"></ngx-loading> 
					<h4 style="text-align: center;">Carregando...</h4>
				</div>
				<div class="modal-body" *ngIf="!loadingDataFactura">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12" style="padding: 15px; background: #ebeced;">
							<h3>Cliente: {{ factura==null?'':factura.cliente.nome }}</h3> 
						</div>  
					</div>
					<hr>
					<app-alert></app-alert>
					<ngx-loading [show]="loading"></ngx-loading> 
					<div class="row" > 
						<div class="col-md-6 col-sm-12 col-xs-12" style="background: #f8f9fa;">
							<h5 class="p-10" style="padding: 15px;">Detalhes Factura</h5>
							<div style="overflow-y: auto; height: 454px;">  
								<table class="table table-hover table-bordered table-striped table-valign-middle" *ngIf="factura!=null">
									<tbody> 
										<tr><th>Contrato N.º </th> <td class="text-right">{{ (factura.contrato_id||'') }} </td></tr>
										<tr><th>Tarifa</th> <td class="text-right">{{ (factura.contrato==null?'': factura.contrato.tarifa.descricao) }} </td></tr>
										<tr><th>Nº Factura</th> <td class="text-right">{{ (factura.factura_sigla ==null ? factura.numero : factura.factura_sigla ) }} </td></tr>
										<tr><th>Total</th><td class="text-right">{{configService.numberFormat(factura.total)}}</td></tr>
										<tr><th>Valor Aberto</th><td class="text-right">{{configService.numberFormat((factura.valor_aberto == null && factura.pago==0 ? factura.total : factura.valor_aberto))}}</td></tr>
										<tr><th>Data Emissão</th><td class="text-right">{{factura.created_at | date:'dd-MM-yyyy'}}</td> </tr>
									</tbody>
								</table>
								<h5 class="p-10" style="padding: 15px;">Item da factura</h5>
								<table class="table table-hover table-bordered table-striped table-valign-middle" *ngIf="factura!=null">
									<thead>
										<tr>
											<th style="width: 8px;">ID</th>
											<th>Descriacao</th>
											<th>Qtd</th>
											<th>Un.</th>
											<th>Imposto</th>
											<th>Total</th> 
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let line of factura.lines">
											<td style="padding-left: 68px;"> {{ line.produto.id }}</td>
											<td>{{ line.produto.nome }}</td>
											<td>{{ line.quantidade }}</td>
											<td>{{ line.produto.incidencia==null?'':line.produto.incidencia.abreviacao }}</td>
											<td>{{ line.imposto.valor }}</td>
											<td>{{configService.numberFormat(line.total)}}</td> 
										</tr>
									</tbody>
								</table>
							</div>

						</div>

						<div class="col-md-6 col-xs-12" style="background: #f4f4f5;">
							<div class="row">

								<div class="col-md-4">
									<div class="form-group">
										<label class="col-form-label">Serie</label>
										<select class="form-control" formControlName="serie_id"
											placeholder="Serie" autocomplete="serie_id" (change)="selecionarFactura();">
											<option value="null"> Selecionar serie </option>
											<option value="{{ serie.id }}" *ngFor="let serie of series"> Serie: {{ serie.nome }} - {{ serie.documento }} </option>
										</select>
									</div>
								</div>

								<div class="col-md-4">
									<label class="col-form-label">Forma de pagamento</label>
									<div class="form-group">

										<select class="form-control" formControlName="forma_pagamento_id"
											placeholder="Serie" autocomplete="forma pagamento"
											(change)="handleChangeFormaPagamento()"
											[ngClass]="{ 'is-invalid': submitted && f.forma_pagamento_id.errors, 'is-valid': f.forma_pagamento_id.touched && !f.forma_pagamento_id.errors }">
											<option value="null">{{ carregando.forma_pagamento }} </option>
											<option value="{{ forma.id }}"
												*ngFor="let forma of formasPagamentos">
												{{ forma.designacao }}</option>
										</select>

										<div *ngIf="submitted && f['forma_pagamento_id'].errors"
											class="invalid-feedback">
											<div *ngIf="f['forma_pagamento_id'].errors.required">forma de
												pagamento é
												obrigatório</div>
										</div>
									</div>

								</div>

								<div class="col-md-4">
									<label class="col-form-label" for="">Valor de Entrada</label>
									<div class="input-group">
										<input class="form-control" id="numero" type="number"
											(keyup)="totalApagar();calcularTroco();"
											formControlName="valor_recebido" placeholder="Valor de Entrada"
											autocomplete="valor_recebido"
											[ngClass]="{ 'is-invalid': submitted && f.valor_recebido.errors, 'is-valid': f.valor_recebido.touched && !f.valor_recebido.errors }" />
										<span class="input-group-append">
											<button type="button" title="Adicionar Item"
												(click)="addLinhaPagamentos()"
												class="btn btn-info btn-flat">Adicionar</button>
										</span>
										<div *ngIf="submitted && f['valor_recebido'].errors"
											class="invalid-feedback">
											<div *ngIf="f['valor_recebido'].errors.required">Valor de Entrada é
												obrigatório</div>
										</div>
									</div>
								</div>


								<div class="col-md-4">
									<div class="form-group">
										<label class="col-form-label">Nº conta da bancaria</label>
										<select class="form-control" formControlName="banco_id"
											placeholder="Serie" autocomplete="Nº conta da bancaria"
											[ngClass]="{ 'is-invalid': submitted && f.banco_id.errors, 'is-valid': f.banco_id.touched && !f.banco_id.errors }">
											<option value="null">Selecione a Nº conta da bancaria</option>
											<option value="{{ banco.id }}"
												*ngFor="let banco of configService.bancos">
												{{ banco.abreviatura }} - {{ banco.numero_conta }}
											</option>
										</select>
										<div *ngIf="submitted && f['banco_id'].errors" class="invalid-feedback">
											<div *ngIf="f['banco_id'].errors.required">Nº conta da bancaria é
												obrigatório</div>
										</div>
									</div>
								</div>


								<div class="col-md-4">
									<div class="form-group">
										<label class="col-form-label" for="">Refêrencia</label>
										<input class="form-control" type="text" formControlName="referencia"
											placeholder="Refêrencia" autocomplete="Refêrencia"
											[ngClass]="{ 'is-invalid': submitted && f.referencia.errors, 'is-valid': f.referencia.touched && !f.referencia.errors }" />
										<div *ngIf="submitted && f['referencia'].errors"
											class="invalid-feedback">
											<div *ngIf="f['referencia'].errors.required">Refêrencia é
												obrigatório</div>
										</div>
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label class="col-form-label" for="">Data de Pagamento</label>
										<input class="form-control" id="data_pagamento" type="date"
											formControlName="data_pagamento" placeholder="Data de Pagamento"
											autocomplete="data_pagamento"
											[ngClass]="{ 'is-invalid': submitted && f.data_pagamento.errors, 'is-valid': f.data_pagamento.touched && !f.data_pagamento.errors }" />
										<div *ngIf="submitted && f['data_pagamento'].errors"
											class="invalid-feedback">
											<div *ngIf="f['data_pagamento'].errors.required">Data de Pagamento é
												obrigatório</div>
										</div>
									</div>
								</div>


								<div class="col-md-4">
									<div class="form-group">
										<label class="col-form-label" for="">Troco</label>
										<input class="form-control" id="troco" type="number"
											formControlName="troco" disabled placeholder="Troco"
											autocomplete="troco"
											[ngClass]="{ 'is-invalid': submitted && f.troco.errors, 'is-valid': f.troco.touched && !f.troco.errors }" />
										<div *ngIf="submitted && f['troco'].errors" class="invalid-feedback">
											<div *ngIf="f['troco'].errors.required">Troco é obrigatório</div>
										</div>
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label class="col-form-label" for="">Total Valor de Entrada</label>
										<input class="form-control" id="numero" type="number" disabled
											formControlName="total_valor_recebido"
											placeholder="Total Valor de Entrada"
											autocomplete="total_valor_recebido"
											[ngClass]="{ 'is-invalid': submitted && f.total_valor_recebido.errors, 'is-valid': f.total_valor_recebido.touched && !f.total_valor_recebido.errors }" />
										<div *ngIf="submitted && f['total_valor_recebido'].errors"
											class="invalid-feedback">
											<div *ngIf="f['total_valor_recebido'].errors.required">Total Valor
												de Entrada é obrigatório</div>
										</div>
									</div>
								</div>

								<!--<div class="col-md-2">
									<div class="form-group">
										<label class="col-form-label" for="">Total Facturas Selecionada</label>
										<input class="form-control" id="total_pago" type="number"
											formControlName="total_pago" placeholder="Total a Pagar"
											autocomplete="total_pago" required disabled
											[ngClass]="{ 'is-invalid': submitted && f.total_pago.errors, 'is-valid': f.total_pago.touched && !f.total_pago.errors }" />
										<div *ngIf="submitted && f['total_pago'].errors"
											class="invalid-feedback">
											<div *ngIf="f['total_pago'].errors.required">Total a Pagar é
												obrigatório
											</div>
										</div>
									</div>
								</div>-->

								<div class="col-md-4">
									<div class="form-group">
										<label class="col-form-label" for="">Total Saldado</label>
										<input class="form-control" id="total_saldado" type="number"
											formControlName="total_saldado" placeholder="Total Saldado"
											autocomplete="total_saldado" required disabled
											[ngClass]="{ 'is-invalid': submitted && f.total_saldado.errors, 'is-valid': f.total_saldado.touched && !f.total_saldado.errors }" />
										<div *ngIf="submitted && f['total_saldado'].errors"
											class="invalid-feedback">
											<div *ngIf="f['total_saldado'].errors.required">Total a Pagar é
												obrigatório
											</div>
										</div>
									</div>
								</div>



								<div class="col-md-12" >
									<h5 style="padding: 10px;background: #0099FF;color: #fff;"><i class="fa fa-money"></i> Forma de Pagamento Selecionada</h5>
									<table class="table text-center table-striped table-bordered">
										<tbody>
											<tr>
												<th>Nº</th>
												<th>Meio Pagamento</th>
												<th>V. Entrada</th>
												<th>Banco</th>
												<th>Referência Bancaria</th>
												<th>Data Pagamento</th>
												<th>Excluir Item</th>
											</tr>
											<tr *ngFor="let linha of linha_pagamentos; index as i">
												<td>{{(i+1)}}</td>
												<td>{{linha.designacao}}</td>
												<td>{{configService.numberFormat(linha.valor_entrada)}}</td>
												<td>{{linha.banco_nome}}</td>
												<td>{{linha.referencia_banco}}</td>
												<td>{{linha.data_pagament}}</td>
												<td>
													<div class="btn-group">
														<button type="button" class="btn  btn-info" id="remove"
															(click)="deleteRowFormaPagamento(linha)">Exluir</button>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>

							</div>
						</div>

						<!--<div class="col-md-5" style="background: #f8f9fa;">
						 <i class="fa fa-book" style="font-size: 179px; margin: 38px 209px; color: #17a2b836;"></i>
				</div>-->

					</div>
				</div>
				<!-- Modal footer -->
				<div class="modal-footer" style="display: block;" *ngIf="!loadingDataFactura">
					<button class="btn btn-danger btn-sm " type="reset" data-dismiss="modal"
						(click)="onReset(); createForm()">Cancelar</button>
					<!--<button class="btn btn-danger btn-sm" type="reset" [disabled]="gerarReciboParcialForm.pristine && !submitted"
				(click)="onReset()" *ngIf="!loadingDataFactura">Limpar</button>-->
					<button class="btn btn-success btn-sm mr-1" type="submit" [disabled]="gerarReciboParcialForm.valid" >Validar</button>
					<button class="btn btn-primary mr-1 btn-sm" type="submit" data-style="expand-left" ><i class="fa fa-save"></i> Finalizar</button>

					<!--<button class="btn bg-gradient-secondary mr-1 btn-sm" type="button" (click)="btnImprimirRecibo()"
				[disabled]="printer_recibo" data-style="expand-left" *ngIf="!loadingDataFactura"><i
					class="fa fa-print"></i> Imprimir</button>-->
				</div>
			</form>
		</div>
	</div>
</div>