<div class="modal fade" id="{{modalVisualFlateRate}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" style="max-width: 1700px;">
    <div class="modal-content">
      <div class="modal-header">
        <div class="card-tools">

        </div>
        <h4 class="modal-title"><i class="fa icon fa-credit-card"></i> Visualizar Flat Rate</h4>

        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <app-loading></app-loading>
        <h3 style="padding: 15px 10px; background: #0099FF; color: #fff;">Flat Rate </h3>
        <hr>
        <table class="table table-hover table-bordered">
          <thead>
            <tr style="background: #0099FF; color: #ffffff;">
              <th>#</th>
              <th>Valor</th>
              <th>Origem</th>
              <th>Capacidade</th>
        

              <th width="150px">Operações</th>
              <!--
                    <th style="width: 150px">Estado</th>
                    <th style="width: 142px;">Operações</th>
                  -->
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of flateRate ">
            
            <tr  *ngFor="let items of item">
              <th>{{items.id}}</th>
              <td>{{items.valor}}</td>
              <td>{{items.origem}}</td>
              <td>{{items.capacidade}}</td>
         
               
           
              <td>

                <div class="btn-group btn-block">
                  <button type="button" class="btn btn-info  btn-flat btn-sm" data-toggle="dropdown">Opções</button>
                  <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown"
                    aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Menu Serviços</span>
                  </button>
                  <div class="dropdown-menu" role="menu" x-placement="bottom-start">
                    <a href="javascript:void(0)"  data-toggle="modal"  data-target="#modalUpdateFlateRate" (click)="getID(items.id, items.valor, items.origem, items.capacidade)"
                      class="dropdown-item btn-sm" title="Imprimir"><i class="fa fa-print"></i> Actualizar Fat Rate
                    </a>

                  </div>
                </div>
              </td>

            </tr>
          </ng-container>
          </tbody>
     
        </table>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<app-update-fate-rate [modalUpdateFlateRate]="" [flateRate]='{servico_id:servico_id,valor:flatRateValor, origem:flatRateOrigem, capacidade:flatRateCapacidade}' ></app-update-fate-rate>