<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Leitura de Contador</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Vendas</a></li>
              <li class="breadcrumb-item">Facturação</li>
              <li class="breadcrumb-item active">Leitura Contador</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


    <!-- The Modal gerar recibo-->
    <div class="modall modal-info fadee" id="gerarReciboModal" data-backdrop="static">
      <div class="modal-dialog nota-credito-modal-lg" style="max-width: 95%;">
        <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-plus-circle"></i> Pesquisar Cliente</h4>
          </div>
          <!-- Modal body  -->
          <app-loading></app-loading>
          <div class="modal-body">
            <div class="row">
              <div class="col-1">
                <select name="perPage" (change)="getPageFilterData($event)"
                  [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
                  <option value="1">Entrada</option>
                  <option value="5" selected>5</option>
                  <option value="10">10</option>
                  <option value="25">25</option>
                </select>
              </div>
              <div class="col-md-5 col-sm-6 col-xs-6">
                <div class="form-groupp">
                  <div class="input-group">
                    <input type="text" placeholder="Digite o nome ou a identificação do cliente" type="text"
                      name="search" [(ngModel)]="this.http.filters.search" class="form-control"
                      (keyup)="getPageFilterData($event)">
                    <div class="input-group-append">
                      <div class="input-group-text" style="background-color: transparent;"><i class="fa fa-search"></i>
                      </div>
                    </div>
                  </div>
                  <!-- /.input group -->
                </div>
              </div>
              <div class="col-md-1 col-sm-1 col-xs-1">
                <button type="button" class="btn btn-info"> Pesquisar</button>
              </div>
            </div>
            <hr>

            <ngx-loading [show]="loading"></ngx-loading>
            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <h5 class="p-10" style="padding: 17px; background: #f8f9fa;">Lista de Leitura de Contadores</h5>
                <div>
                  <table class="table table-hover table-bordered table-striped table-valign-middle text-centerr">
                    <tbody>
                      <tr class="text-center">
                        <th>#</th>
                        <th>Cliente</th>
                        <th>Conta</th>
                        <th>Nº Conta</th>
                        <th>Serviço</th>
                        <th>Última Leitura</th>
                        <th>Acção</th>
                        <th>Estado</th>
                      </tr>
                    </tbody>
                    <tbody>
                      <tr
                        *ngFor="let charge of charges | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                        <td>{{(i+1)}}</td>
                        <td>{{charge.cliente }}</td>
                        <td>{{charge.conta }}</td>
                        <td class="text-center">{{charge.conta_id }}</td>
                        <td class="text-center">{{charge.chaveServico }}</td>
                        <td style="width: 250px; background: rgba(40, 167, 69, 0.22);" class="text-center">
                          {{ configService.numberFormat(charge.valor) }}</td>
                        <td style="width: 230px;"><button class="btn btn-info btn-sm" *ngIf="charge.is_facturado == 0"
                            (click)="setCharge(charge)" data-toggle="modal" data-target="#myChargeUpdateModal">Registar Leitura </button></td>
                        <td>
                          <span class="btn bg-warning btn-block btn-flat" *ngIf="charge.is_facturado ==0">Não
                            Facturado</span>
                          <span class="btn bg-success btn-block btn-flat"
                            *ngIf="charge.is_facturado ==1">Facturado</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                      {{this.http.filters.pagination.perPage}} de
                      {{this.http.filters.pagination.total}} Facturações
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-7">
                    <div class="pull-right">
                      <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior" maxSize="6"
                        nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                    </div>

                  </div>
                </div>
              </div>


            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="modal modal-info fade in" id="myChargeUpdateModal" data-backdrop="static">
      <div class="modal-dialog modal-lg" style="max-width: 1085px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Registar Leitura de Contador</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <ngx-loading [show]="loadingCharge"></ngx-loading>
          <!-- Modal body -->
          <div class="modal-body">
            <app-alert></app-alert>
            <div class="row">

              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"> Última Leitura</label>
                  <input type="text" name="valor_new" [(ngModel)]="charge.valor_old" class="form-control" disabled>
                </div>
              </div>

              <div class="col-md-8">
                <div class="form-group">
                  <label class="control-label"> Nova Leitura</label>
                  <input type="number" name="valor_new" [(ngModel)]="charge.valor_new" class="form-control"
                    placeholder="Introduz o novo valor de leitura">
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label"> Observação</label>
                  <textarea name="valor_new" [(ngModel)]="charge.observacao" class="form-control"
                    placeholder="Escreve aqui uma Observação sobre a leitura de contador"></textarea>
                </div>
              </div>


            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="updateValorCharge()">Salvar</button>
          </div>

        </div>
      </div>
    </div>

  </div>

  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>