<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><i class="fa fa-shopping"></i> Compra</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Operações</a></li>
              <li class="breadcrumb-item active">Compra</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">



          <div class="card">
            <app-loading></app-loading>
            <div class="card-header">
              <h3 class="card-title">
                <div class="row">
                  <div class="col-md-5"><i class="fa fa-tag"></i> Lista de Compras</div>

                  <div class="col-md-5">
                    <input type="text" value="" #search placeholder="Pesquisar..."  class="form-control" (keyup)="searchCompras()">
                    <i class="fa fa-search"
                      style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                  </div>
                  <div class="col-1">
                    <select class="form-control" (change)="mostrarResultados()" #mostrarResultado>
                      <option value="5">Mostrar</option>
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="10">15</option>
                    </select>
                  </div>
                </div>

              </h3>
              <div class="card-tools" style="margin-top: 9px;">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-compra"><i
                    class="fa fa-plus"></i> Registar</button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover table-bordered table-striped text-center">
                <tbody>
                  <tr>
                    <th>#</th>
                    <th>Fornecedor</th>
                    <th>Data da Ordem</th>
                    <th>Quantidade de Produto</th>
                    <th>V.Total</th> 
                    <th>Acção</th>
                  </tr>

                  <tr *ngFor="let compra of compras; index as i">
                    <td>{{(i+1)}}</td>
                    <td>{{ compra.nome }}</td>
                    <td>{{compra.dataCompra | date: 'dd-MM-yyyy'}} </td>
                    <td>{{ compra.totalProdutos }}</td>
                    <td>{{ compra.total }}</td>
                    <td>Acção</td>
                  </tr>

                </tbody>
              </table>
            </div>
             
            <div class="card-footer clearfix">
              <div class="row">
                <div class="col-sm-12 col-md-5">
                  <div class="dataTables_info">Mostrando de {{pagination.page}} a {{pagination.perPage}} de
                    {{pagination.total}} Compras
                  </div>
                </div>
                <div class="col-sm-12 col-md-7">
                  <div class="dataTables_paginate paging_simple_numbers">
                    <ul class="pagination" style="float: right;">
                      <li class="page-item"><a href="javascricpt:void(0)" class="page-link">Anterior</a></li>
                      <div *ngFor="let page of pages">
                        <li class="page-item active" *ngIf="(page == pagination.page)"><a href="javascricpt:void(0)"
                            (click)="refreshPaginate(page)" title="{{ page }}" class="page-link">{{ page }}</a></li>

                        <li class="page-item " *ngIf="(page != pagination.page)"><a href="javascricpt:void(0)"
                            (click)="refreshPaginate(page)" title="{{ page }}" class="page-link">{{ page }}</a></li>
                      </div>
                      <li class="page-item"><a href="javascricpt:void(0)" class="page-link">Próximo</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->

    <!-- The Modal -->
    
    <div class="modal modal-info fade in" id="modal-compra" aria-modal="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Registo de Compra</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <app-loading></app-loading>
            <app-alert></app-alert>
            <div class="row"
              style="background: #f8f9fa;padding: 16px 10px 2px 10px;margin: 18px 0;border: 1px solid #c2c7d0; border-radius: 3px;">

              <div class="col-md-4">
                <div class="form-group">
                  <label for="nome"><i class="fa icon-users" aria-hidden="true"></i> Fornecedor</label>
                  <select class="form-control" name="fornecedor_id"   placeholder="Fornecedor"
                    [(ngModel)]="compra.fornecedor_id"  >
                    <option selected [value]="null">Selecionar fornecedor</option>
                    <option value="{{ fornecedor.id }}" *ngFor="let fornecedor of fornecedores">{{ fornecedor.nome }}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="nome"><i class="fa fa-calendar" aria-hidden="true"></i> Data Compra</label>
                  <input type="date"  [(ngModel)]="compra.dataCompra" name="dataCompra" class="form-control"> </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="nome"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Produto</label>
                  <select class="form-control" name="produto_id" placeholder="Produto"[(ngModel)]="compra.produto_id">
                    <option selected [value]="null">Selecionar produto</option>
                    <option value="{{ produto.id }}" *ngFor="let produto of produtos">{{ produto.nome }}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label ><i class="fa fa-money" aria-hidden="true"></i> Preço</label>
                  <input type="number" value="{{ compra.preco }}"  [(ngModel)]="compra.preco" name="preco" class="form-control" id="nome"
                    placeholder="Preço">
                </div>
              </div>
              <div class="col-md-1">
                <div class="form-group">
                  <label for="nome"> Add</label>
                  <button type="button" class="btn btn-block btn-primary btn-smm" (click)="addProdut()"><i class="fa fa-plus"></i></button>
                </div>
              </div>
            </div>
            <h3 class="card-title">Produtos Selecionados</h3>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <table class="table table-hover table-striped table-bordered text-center">
                  <tbody>
                    <tr>
                      <th style="width: 92px;">#</th>
                      <th>Produto</th>
                      <th style="width: 192px;">Preço</th>
                      <th style="width: 192px;">Acção</th>
                    </tr>
                    <tr *ngFor="let produto of compra.produtos; index as i">
                      <td>{{(i+1)}}</td>
                      <td>{{produto.nome}}</td>
                      <td> {{ configService.numberFormat(produto.valor) }} AOA</td>
                      <td>
                        <div class="btn-group">
                          <button class="btn btn-sm" id="remove" (click)="deleteRow(produto.id)">Exluir</button>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th style="font-size: 20px;" class="text-right" colspan="3">Total: </th>
                      <td style="width: 192px;     font-size: 20px;">{{ configService.numberFormat(compra.total) }} AOA</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="register()">Finalizar</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>



  </div>
  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>