<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Enviar Facturas por Email</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Listagem</a></li>
              <li class="breadcrumb-item active">Bill Run Header</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body" style="padding: 13px 10px 4px 10px;">
                <div class="row">
                  <div class="col-1">
                    <select name="perPage" (change)="getPageFilterData($event)"
                      [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
                      <option value="1">Entrada</option>
                      <option value="5" selected>5</option>
                      <option value="10">10</option>
                      <option value="25">25</option>
                    </select>
                    <small>Entradas</small>
                  </div>
                  <div class="col-md-5">
                    <input type="text" name="search" [(ngModel)]="this.http.filters.search" placeholder="Pesquisar..."
                      class="form-control" (keyup)="getPageFilterData($event)">
                    <i class="fa fa-search"
                      style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                    <small>Pesquisar por Ano, Mês, Série, Tecnologia</small>
                  </div>

                  <div class="col-2">
                    <select (change)="getPageFilterData($event)" [(ngModel)]="this.http.filters.orderBy"
                      class="form-control">
                      <option [ngValue]="null">Ordernar</option>
                      <option value="bill_run_headers.created_at">Data Registo</option>
                      <option value="bill_run_headers.ano">Ano</option>
                      <option value="bill_run_headers.mes">Mês</option>
                      <option value="series.nome">Série</option>
                      <option value="tecnologias.nome">Tecnologia</option>

                    </select>
                    <small>Ordernação</small>
                  </div>

                  <div class="col-1">
                    <button type="button" class="btn btn-blockk btn-info" (click)="getPageFilterData($event)"><i
                        class="fa fa-search"></i> Filtrar</button>
                  </div>
                </div>

              </div>
            </div>


            <div class="card">
              <app-loading></app-loading>
              <div class="card-header">
                <h3 class="card-title">Listagem Bill Run Header</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-default btn-tooll btn-sm" data-toggle="modal"
                  data-target="#consultarFacturaModal"><i class="fa fa-envelope"></i> Enviar Factura por email</button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive">
                <table class="table table-hover table-bordered table-striped text-center">
                  <tbody>
                    <tr>
                      <th>#</th>
                      <th>Ano</th>
                      <th>Mês</th>
                      <th>Série</th>
                      <th>Tecnologia</th>
                     
                      <th>Operação</th>

                    </tr>
                    <tr
                      *ngFor="let item of items | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                      <td>{{ i + 1 }}</td>
                      <td>{{ item.ano }}</td>
                      <td>{{ item.mes }}</td>
                      <td>{{ item.serie }}</td>
                      <td>{{ item.tecnologia }}</td>
                      

                      <td>
                        
                        <button type="button" class="btn btn-info  btn-flat btn-sm"
                        (click)="enviarFactura(item.id)"><i class="fa fa-envelope"></i> Enviar</button>
                        
                      </td>

                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer clearfix">
                <div class="row">
                  <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                      {{this.http.filters.pagination.perPage}} de
                      {{this.http.filters.pagination.total}} Registos
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-7">
                    <div class="pull-right">
                      <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior" maxSize="6"
                        nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->

    <div class="modal modal-info fade" id="consultarFacturaModal" data-backdrop="static">
      <div class="modal-dialog nota-credito-modal-lg" style="max-width: 65%;">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-envelope"></i> Enviar Factura por email</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="close()">&times;</button>
          </div>
          <!-- Modal body  -->
          <app-loading></app-loading>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6"> 
                <div class="form-groupp">
                  <div class="input-group">
                    <input type="text" placeholder="Digite o nome ou a identificação do cliente" [(ngModel)]="search"
                      class="form-control" (keyup)="getCliente()">
                    <div class="input-group-append">
                      <div class="input-group-text" style="background-color: transparent;"><i class="fa fa-search"></i>
                      </div>
                    </div>
                  </div>
    
                  <div class="autocomplete-container" *ngIf="view_client">
                    <ul>
                      <li *ngFor="let cliente of clientes">
                        <a href="javascript:void(0)" (click)="setCliente(cliente)">Nome: {{ cliente.nome }} Email: {{ cliente.email }}</a>
                      </li>
                    </ul>
                  </div>
                  <!-- /.input group -->
                </div>
              </div>
              <div class="col-1">
                <button type="button" class="btn btn-info"> Pesquisar</button>
              </div>
            </div>
            <hr>
            <app-alert></app-alert>
            <div class="row" *ngIf="facturas.length !=0">
              <div class="col-md-12">
                <h4>Facturas Pós-Pago</h4>
              </div>
              <div class="col-md-12" style="overflow-y: auto;height: 260px;">
                <table class="table table-hover table-bordered table-striped text-center">
                  <tbody>
                    <tr>
                      <th>#</th>
                      <th>Serie</th>
                      <th>Doc.</th>
                      <th>Nº recibo</th>
                      <th>R. Sigla</th>
                      <th>Total</th>
                      <th>Estado</th>
                      <th>Data</th>
                      <th style="width: 160px;">Acção</th>
                    </tr>
                    <tr *ngFor="let factura of facturas; index as i">
                      <td>{{i+1}}</td>
                      <td>{{ factura.serie }}</td>
                      <td>{{ factura.sigla }} - {{ factura.documento }}</td>
    
                      <td>{{ factura.numero }}</td>
                      <td>{{ factura.factura_sigla }}</td>
    
    
                      <td>
                        {{ configService.numberFormat(factura.total) }}
                      </td>
                      <td>
                        <span class="btn bg-danger btn-block btn-flat" *ngIf="factura.status =='A'">Anulada</span>
                        <span class="btn bg-info btn-block btn-flat" *ngIf="factura.status =='N'">Normal</span>
                      </td>
                      <td>{{ factura.created_at | date: 'dd-MM-yyyy H:m'}} </td>
    
                      <td>
    
                        <div class="btn-group">
                          <button type="button" class="btn btn-info btn-flat btn-sm" data-toggle="dropdown">Opções</button>
                          <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false">
                            <span class="caret"></span>
                          </button>
                          <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                            style="position: absolute; will-change: transform; top: 0px; left: -58px; transform: translate3d(67px, 38px, 0px);">
    
                            <a  href="javascript:void(0)" class="dropdown-item btn-sm"
                              (click)="btnEnviarFactura(factura.factura_id)" data-toggle="tooltip" data-widget="chat-pane-toggle"
                              title="Enviar Factura" > <i class="fa fa-envelope"></i> Enviar
                            </a>
    
                            <a href="javascript:void(0)" class="dropdown-item btn-sm" (click)="btnImprimirFactura(factura.factura_id)"
                              data-toggle="tooltip" data-widget="chat-pane-toggle" title="Imprimir"> <i
                                class="fa fa-print"></i> Imprimir
                            </a>
    
                          </div>
                        </div>
                      </td>
    
                    </tr>
                  </tbody>
                </table>
              </div>
    
            </div>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button class="btn btn-default btn-sm " type="button" data-dismiss="modal" (click)="close()"> Fechar</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>
