<div class="modal modal-info fade in" id="modalCreateOrEditMunicipio" data-backdrop="static"
  [ngStyle]="{'display': municipioModal ? 'block' : 'none', 'opacity': 1}">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content">
      <!-- Modal Header -->
      <form [formGroup]="simpleFormMunicipio" (submit)="onSubmit();">
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa fa-map-marker nav-icon"></i> {{ title }}</h4>
          <button class="close" type="reset" (click)="onReset()" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body" style="padding: 2rem;">
          <ngx-loading [show]="loading"></ngx-loading>
          <app-loading></app-loading>
          <div class="row">

            <div class="col-md-6">
              <div class="form-group has-warning">
                <label class="col-form-label" for="provincia_id">Província {{ provincia_id }}</label>
                <div class="input-group mb-3">

                  <select formControlName="provincia_id" class="form-control" required
                    [ngClass]="{ 'is-invalid': submitted && f.provincia_id.errors, 'is-valid': f.provincia_id.touched && !f.provincia_id.errors }">
                    <option [value]="null">Província</option>
                    <option *ngFor="let i of provincias" [value]="i.id">
                      {{i.abreviatura}} - {{i.nome}}
                    </option>
                  </select>
                  <div *ngIf="submitted && f['provincia_id'].errors" class="invalid-feedback">
                    <div *ngIf="f['provincia_id'].errors.required">O campo Províncias é obrigatório</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group has-warning">
                <label class="col-form-label">Nome</label>
                <input class="form-control" required autofocus id="nome" type="text" formControlName="nome"
                  placeholder="Nome" autocomplete="given-name"
                  [ngClass]="{ 'is-invalid': submitted && f.nome.errors, 'is-valid': f.nome.touched && !f.nome.errors }" />
                <div *ngIf="submitted && f['nome'].errors" class="invalid-feedback">
                  <div *ngIf="f['nome'].errors.required">O campo Nome é obrigatório</div>
                </div>
              </div>
            </div>


          </div>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="btn btn-danger btn-sm" type="reset" [disabled]="simpleFormMunicipio.pristine && !submitted"
            (click)="onReset()">Limpar</button>
          <button class="btn btn-success btn-sm mr-1" type="submit"
            [disabled]="simpleFormMunicipio.valid">Validar</button>
          <button class="btn btn-primary mr-1 btn-sm" type="submit" data-style="expand-left"><i class="fa fa-save"></i>
            Registar</button>
        </div>
      </form>
    </div>
  </div>
</div>