<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><i class="fa icon fa-home"></i> Agências</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Configurações</a></li>
              <li class="breadcrumb-item active">Agências</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <!-- /.card-header -->
            <div class="card-body" style="padding: 13px 10px 4px 10px;">
              <div class="row">
                <div class="col-1">
                  <select name="perPage" (change)="getPageFilterData($event)"
                    [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
                    <option value="1">Entrada</option>
                    <option value="5" selected>5</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                  </select>
                  <small>Entradas</small>
                </div>
                <div class="col-md-5">
                  <input type="text" name="search" [(ngModel)]="this.http.filters.search" placeholder="Pesquisar..."
                    class="form-control" (keyup)="getPageFilterData($event)">
                  <i class="fa fa-search"
                    style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                  <small>Pesquisar </small>
                </div>
                <div class="col-1">
                  <select name="orderBy" (change)="getPageFilterData($event)" [(ngModel)]="this.http.filters.orderBy"
                    class="form-control">
                    <option [value]="null">Ordernar</option>
                    <option value="agencias.nome">Nome</option>
                    <option value="provincias.nome">Provincia</option>
                    <option value="municipios.nome">Municipio</option>
                  </select>
                  <small>Ordernação</small>
                </div>
                <div class="col-1">
                  <button type="button" class="btn btn-blockk btn-info" (click)="getPageFilterData($event)"><i
                      class="fa fa-search"></i> Pesquisar</button>
                </div>
              </div>
            </div>
          </div>


          <div class="card">
            <app-loading></app-loading>
            <div class="card-header">
              <h4 class="modal-title"> Listagem de Agências</h4>
              <div class="card-tools">

                <button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#registarOrEditModal"
                  (click)="titleModal('Registar Agência'); createForm(); getSeriesNotInAgencias(); getSeriesRecibosNotInAgencias(); getTipologiaServicos();"><i
                    class="fa fa-plus-circle"></i>
                  Registar</button>
                <button class="btn btn-outline-primary btn-sm" type="button" (click)="listarAgencias()"><i
                    class="icon-refresh"></i> Recarregar Dados</button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsivee p-00">
              <table *ngIf="agencias.length > 0;else emptyList"
                class="table table-hover table-bordered table-striped text-center">
                <tbody>
                  <tr style="color: #fff; background: #0099FF;">
                    <th>#</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th>Endereço</th>
                    <th>Municipio</th>
                    <th>Série</th>
                    <th>Documento</th>
                    <th>Estado</th>
                    <th style="width: 160px;">Acção</th>
                  </tr>
                  <tr
                    *ngFor="let item of agencias | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                    <td>{{i+1}}</td>
                    <td>{{ item.nome }}</td>
                    <td>{{ item.telefone }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.endereco }}</td>
                    <td>{{ item.municipio }}</td>
                    <td>{{ item.serie }}</td>
                    <td>{{ item.documento }}</td>
                    <td>
                      <span class="btn bg-success btn-block btn-flat status-label" *ngIf="item.is_active">Activo</span>
                      <span class="btn bg-danger btn-block btn-flat status-label"
                        *ngIf="!item.is_active">Inactivo</span>
                    </td>

                    <td>
                      <div class="btn-group">
                        <button type="button" class="btn btn-info btn-flat btn-sm"
                          data-toggle="dropdown">Opções</button>
                        <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown"
                          aria-expanded="false">
                          <span class="caret"></span>
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                          style="position: absolute; will-change: transform; top: 0px; left: -58px; transform: translate3d(67px, 38px, 0px);">


                          <a href="javascript:void(0)" class="dropdown-item btn-sm" title="Editar" data-toggle="modal"
                            data-target="#registarOrEditModal"
                            (click)="titleModal('Editar Agência');editar(item);getSeriesNotInAgencias();getTipologiaServicos();"><i
                              class="fa fa-edit"></i> Editar</a>
                          <!--                           <a href="javascript:void(0)" class="dropdown-item btn-sm" title="Eliminar"><i
                              class="fa fa-trash-o"></i> Eliminar</a> -->

                          <a href="javascript:void(0)" class="dropdown-item btn-sm" title="adicionar Gerente"
                            data-toggle="modal" data-target="#adicionarGerente" (click)="getUsers(item.id)"><i
                              class="fa fa-edit"></i> Gerente</a>

                          <a href="javascript:void(0)" class="dropdown-item btn-sm" title="Forma de Pagamentos"
                            data-toggle="modal" data-target="#listarFormaPagamentoAgencia"
                            (click)="setAgencia(item);listarFormaPagamentos(item.id)"><i class="fa fa-money"></i> Forma
                            de
                            Pagamentos</a>

                          <a href="javascript:void(0)" class="dropdown-item btn-sm" title="Bancos" data-toggle="modal"
                            data-target="#AgenciaBancos" (click)="setAgencia(item);getBancosAssociados(item.id)"><i
                              class="fa fa-money"></i>
                            Bancos</a>



                          <li class="dropdown-divider"></li>
                          <a href="javascript:void(0)" class="dropdown-item btn-sm"
                            title="Visualizar detalhes da Agência"><i class="fa fa-clone"></i> Visualizar</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer clearfix">
              <div class="row">
                <div class="col-sm-12 col-md-5">
                  <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                    {{this.http.filters.pagination.perPage}} de
                    {{this.http.filters.pagination.total}} Agências
                  </div>
                </div>
                <div class="col-sm-12 col-md-7">
                  <div class="pull-right">
                    <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior" maxSize="6"
                      nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                  </div>

                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->

    <!-- The Modal -->
    <div class="modal modal-info fade in" id="registarOrEditModal">
      <div class="modal-dialog modal-lg " style="max-width: 1090px;">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">{{ title_modal }}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <form [formGroup]="simpleForm" (submit)="onSubmit();">
            <!-- Modal body -->
            <div class="modal-body">
              <app-loading></app-loading>
              <app-alert></app-alert>
              <div class="row">

                <div class="col-md-12 row">

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-form-label">{{ copiar_agencia_title }}</label>&nbsp;&nbsp;
                      <label class="switch-toggle-sm">
                        <input type="checkbox" formControlName="copiar_agencia" (click)="changeTipologiaServicoMode()">
                        <span class="slider-toggle-sm round"></span>
                      </label>
                      <select *ngIf="simpleForm.value.copiar_agencia" class="form-control"
                        formControlName="tipologia_servico_id" autocomplete="tipologia_servico_id"
                        (click)="getAgenciasByTipologiaServico()">
                        <option value="null">Tipologia de Serviço</option>
                        <option *ngFor="let item of tipologia_servicos" [value]="item.id"> {{item.nome}} </option>
                      </select>
                    </div>
                  </div>

                  <div *ngIf="simpleForm.value.copiar_agencia" class="col-md-4">
                    <div class="form-group">
                      <label class="col-form-label">Agências</label>

                      <select *ngIf="simpleForm.value.copiar_agencia" class="form-control" formControlName="agencia_id"
                        autocomplete="agencia_id" [disabled]="!simpleForm.value.tipologia_servico_id">
                        <option value="null">Agência</option>
                        <option *ngFor="let item of agencias_tipologia_servico" [value]="item.id"> {{ item.nome }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-form-label">Nome</label>
                      <input class="form-control" type="text" formControlName="nome" placeholder="Nome"
                        autocomplete="given-name" required autofocus
                        [ngClass]="{ 'is-invalid': submitted && f.nome.errors, 'is-valid': f.nome.touched && !f.nome.errors }" />
                      <div *ngIf="submitted && f['nome'].errors" class="invalid-feedback">
                        <div *ngIf="f['nome'].errors.required">O campo nome é obrigatório</div>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="!simpleForm.value.copiar_agencia" class="col-md-4">
                    <div class="form-group">
                      <label class="col-form-label" for="telefone">Número</label>
                      <input class="form-control" id="numero" type="text" formControlName="numero" placeholder="Número"
                        autocomplete="numero" />
                    </div>
                  </div>

                </div>

                <div *ngIf="!simpleForm.value.copiar_agencia" class="col-md-12 row">

                  <div class="col-md-4" *ngIf="title_modal !='Editar Agência'">
                    <div class="form-group">
                      <label class="col-form-label">Séries de Factura</label>
                      <select class="form-control" formControlName="serie_id" placeholder="Série" autocomplete="Série"
                        required
                        [ngClass]="{ 'is-invalid': submitted && f.serie_id.errors, 'is-valid': f.serie_id.touched && !f.serie_id.errors }">
                        <option value="null">Série de Factura</option>
                        <option *ngFor="let seriesNotInAgencia of seriesNotInAgencias" [value]="seriesNotInAgencia.id">
                          {{seriesNotInAgencia.nome}}
                        </option>
                      </select>
                      <div *ngIf="submitted && f['serie_id'].errors" class="invalid-feedback">
                        <div *ngIf="f['serie_id'].errors.required">Série de Factura é obrigatório</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4" *ngIf="title_modal !='Editar Agencia'">
                    <div class="form-group">
                      <label class="col-form-label">Séries de Recibo</label>
                      <select class="form-control" formControlName="serie_id_recibo" placeholder="Série"
                        autocomplete="Série" required
                        [ngClass]="{ 'is-invalid': submitted && f.serie_id_recibo.errors, 'is-valid': f.serie_id_recibo.touched && !f.serie_id_recibo.errors }">
                        <option value="null">Série de Recibo</option>
                        <option *ngFor="let seriesRecibosNotInAgencia of seriesRecibosNotInAgencias"
                          [value]="seriesRecibosNotInAgencia.id">
                          {{seriesRecibosNotInAgencia.nome}}
                        </option>
                      </select>
                      <div *ngIf="submitted && f['serie_id_recibo'].errors" class="invalid-feedback">
                        <div *ngIf="f['serie_id_recibo'].errors.required">Série de Recibo é obrigatório</div>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-form-label" for="telefone">Telefone</label>
                      <input class="form-control" id="telefone" type="tel" formControlName="telefone"
                        placeholder="Telefone" autocomplete="telefone" required
                        [ngClass]="{ 'is-invalid': submitted && f.telefone.errors, 'is-valid': f.telefone.touched && !f.telefone.errors }" />
                      <div *ngIf="submitted && f['telefone'].errors" class="invalid-feedback">
                        <div *ngIf="f['telefone'].errors.required">Telefone é obrigatório</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-form-label" for="email">Email</label>
                      <input class="form-control" id="email" type="email" formControlName="email" placeholder="Email"
                        autocomplete="email" />
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-form-label">Provincia</label>
                      <select class="form-control" formControlName="provincia_id" placeholder="Provincia"
                        autocomplete="provincia_id" (change)="selectBoxMunicipiosByProvincia()">
                        <option value="null">Provincia</option>
                        <option *ngFor="let provincia of provincias" [value]="provincia.id"> {{provincia.nome}}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-form-label">Municipio</label>
                      <select class="form-control" formControlName="municipio_id" placeholder="Municipio"
                        autocomplete="municipio_id"
                        [ngClass]="{ 'is-invalid': submitted && f.municipio_id.errors, 'is-valid': f.municipio_id.touched && !f.municipio_id.errors }">
                        <option value="null">{{ loading.municipio }}</option>
                        <option *ngFor="let municipio of municipios" [value]="municipio.id"> {{municipio.nome}}</option>
                      </select>
                      <div *ngIf="submitted && f['municipio_id'].errors" class="invalid-feedback">
                        <div *ngIf="f['municipio_id'].errors.required">Municipio é obrigatório</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="col-form-label" for="email">Endereço</label>
                      <input class="form-control" type="text" formControlName="endereco" placeholder="Endereço"
                        autocomplete="endereco" />

                    </div>
                  </div>

                </div>

              </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button class="btn btn-danger btn-sm" type="reset" [disabled]="simpleForm.pristine && !submitted"
                (click)="onReset()">Limpar</button>
              <button class="btn btn-success btn-sm mr-1" type="submit" [disabled]="simpleForm.valid">Validar</button>
              <button class="btn btn-primary mr-1 btn-sm" type="submit"
                [disabled]="simpleForm.pristine || simpleForm.invalid" data-style="expand-left"><i
                  class="fa fa-save"></i> {{ title_modal }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>




    <div class="modal modal-info fade in" id="adicionarGerente">
      <div class="modal-dialog modal-lg " style="max-width: 990px;">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Gerente</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <app-loading></app-loading>
            <app-alert></app-alert>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="col-form-label">Utilizadores</label>
                  <select class="form-control" name="user_chefe_id" placeholder="user chefe"
                    [(ngModel)]="gerente.user_chefe_id">
                    <option value="null">{{ loading.user }}</option>
                    <option *ngFor="let user of users" [value]="user.id"> {{user.nome}} </option>
                  </select>
                </div>
              </div>

            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button class="btn btn-danger btn-sm" type="reset">Fechar</button>
            <button class="btn btn-primary mr-1 btn-sm" type="submit" data-style="expand-left" (click)="addGerente()"><i
                class="fa fa-save"></i> Adicionar</button>
          </div>
        </div>
      </div>
    </div>


    <div class="modal modal-info fade in" id="listarFormaPagamentoAgencia">
      <div class="modal-dialog modal-lg " style="max-width: 1100px;">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                data-target="#adicionarFormaPagamentoAgencia" (click)="getFormaPagamentos();">Adicionar</button> Lista
              de
              Forma Pagamento da Agência {{agencia.nome}}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <app-loading></app-loading>
            <app-alert></app-alert>
            <div class="row">
              <div class="col-md-12">
                <table class="table table-hover table-bordered table-striped text-center">
                  <tbody>
                    <tr style="color: #fff; background: #0099FF;">
                      <th>Nº Ordem</th>
                      <th><i class="fa fa-money"></i></th>
                      <th>Designação</th>
                      <th>Descrição</th>
                      <th>Estado de Activação</th>
                      <th>Data Criação</th>
                      <th>Data Actualização</th>
                      <th>Acção</th>
                    </tr>
                    <tr *ngFor="let forma of formas; index as i">
                      <td>{{ (i+1) }}</td>
                      <td><i class="fa fa-euro"></i></td>
                      <td>{{forma.designacao}}</td>
                      <td>{{forma.descricao}}</td>
                      <td>
                        <span class="btn bg-warning btn-sm " *ngIf="forma.is_active == 0">NÂO</span>
                        <span class="btn bg-success btn-sm" *ngIf="forma.is_active== 1">SIM</span>
                      </td>
                      <td>{{forma.created_at | date: 'dd-MM-yyyy'}}</td>
                      <td>{{forma.updated_at | date: 'dd-MM-yyyy'}}</td>
                      <td>
                        <button class="btn bg-success btn-sm btn-blockk" *ngIf="forma.is_active == 0"
                          (click)="activacaoFormaPagamentoAgencia(1,forma.id)"><i class="fa fa-thumbs-o-up"></i>
                          Desbloquear</button>
                        <button class="btn bg-warning btn-sm btn-blockk" *ngIf="forma.is_active== 1"
                          (click)="activacaoFormaPagamentoAgencia(0,forma.id)"><i class="fa fa-thumbs-o-down"></i>
                          Bloquear</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer"> <button class="btn btn-danger btn-sm" type="button"
              data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>


    <div class="modal modal-info fade in" id="adicionarFormaPagamentoAgencia">
      <div class="modal-dialog modal-lg " style="max-width: 990px;">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-money"></i> Adicionar Forma Pagamento na Agência</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <app-loading></app-loading>
            <app-alert></app-alert>
            <div class="row">
              <div class="col-md-12">

                <div class="form-group row">
                  <label class="col-sm-8 col-form-label">Formas de Pagamento</label>
                  <label class="col-sm-4 col-form-label">Activação</label>
                  <div class="col-sm-8">
                    <select class="form-control" [(ngModel)]="forma_pagamento_id" name="forma_pagamento_id">
                      <option selected [value]="null">Forma de Pagamento</option>
                      <option value="{{ forma.id }}" *ngFor="let forma of formasPagamentos"> {{ forma.designacao }}
                      </option>
                    </select>
                  </div>

                  <div class="col-sm-4">
                    <select class="form-control" [(ngModel)]="is_active" name="is_active">
                      <option selected [value]="null">Estado de activação</option>
                      <option value="1"> Sim </option>
                      <option value="0"> Não </option>
                    </select>
                  </div>
                </div>

              </div>

            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Fechar</button>
            <button class="btn btn-primary mr-1 btn-sm" type="submit" data-style="expand-left"
              (click)="addFormaPagamentoAgencia()"><i class="fa fa-save"></i> Salvar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal modal-info fade in" id="AgenciaBancos">
      <div class="modal-dialog modal-lg " style="max-width: 1100px;">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                data-target="#adicionarbancosAgencia" (click)="getBancos();">Adicionar</button> Agência {{agencia.nome}}
            </h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <app-loading></app-loading>
            <app-alert></app-alert>
            <div class="row">
              <div class="col-md-12">
                <table class="table table-hover table-bordered table-striped text-center">
                  <tbody>
                    <tr style="color: #fff; background: #0099FF;">
                      <th>#</th>
                      <th>Banco</th>
                      <th>Nº Conta</th>
                      <th>IBAN</th>
                    </tr>
                    <tr *ngFor="let item of bancosAssociados; index as i">
                      <td>{{ (i+1) }}</td>
                      <td>{{item.banco}}</td>
                      <td>{{item.numero_conta}}</td>
                      <td>{{item.iban}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer"> <button class="btn btn-danger btn-sm" type="button"
              data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- The Modal -->
    <div class="modal modal-info fade" id="adicionarbancosAgencia" data-backdrop="static">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <div class="col-md-6">
              <b>Agência:</b> {{agencia.nome}}<br>
            </div>

            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <app-loading></app-loading>
          <form (submit)="adicionarBancos($event)">
            <div class="modal-body">
              <app-alert></app-alert>
              <div class="col-md-12">
                <div class="card card-default">

                  <!-- /.card-header -->
                  <div class="card-body" style="padding: 9px;"><br>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Banco</label>
                          <select class="form-control" name="banco_id" [(ngModel)]="loja_bancos.banco_id">
                            <option [value]="null"> Selecione o Banco</option>
                            <option *ngFor="let banco of bancos" [value]="banco.id"> {{banco.abreviatura}} -
                              {{banco.iban}}
                            </option>
                          </select>
                        </div>
                      </div>

                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"> Fechar</button>
              <button type="submit" (click)="clearFormInputs();" class="btn btn-primary btn-sm">Salvar</button>
            </div>
          </form>

        </div>
      </div>
    </div>

  </div>


  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>