<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Entidade Cativadoras</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Listagem</a></li>
              <li class="breadcrumb-item active">Entidade Cativadoras</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body" style="padding: 13px 10px 4px 10px;">
                <div class="row">
                  <div class="col-1">
                    <select name="perPage" (change)="getPageFilterData($event)"
                      [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
                      <option value="1">Entrada</option>
                      <option value="5" selected>5</option>
                      <option value="10">10</option>
                      <option value="25">25</option>
                    </select>
                    <small>Entradas</small>
                  </div>
                  <div class="col-md-5">
                    <input type="text" name="search" [(ngModel)]="this.http.filters.search" placeholder="Pesquisar..."
                      class="form-control" (keyup)="getPageFilterData($event)">
                    <i class="fa fa-search"
                      style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                    <small>Pesquisar</small>
                  </div>

                  <div class="col-2">
                    <select (change)="getPageFilterData($event)" [(ngModel)]="this.http.filters.orderBy"
                      class="form-control">
                      <option [ngValue]="null">Ordernar</option>
                      <option value="entidade_cativadoras.created_at">Data Registo</option>
                      <option value="clientes.nome">Nome Entidade</option>

                    </select>
                    <small>Ordernação</small>
                  </div>

                  <div class="col-1">
                    <button type="button" class="btn btn-blockk btn-info" (click)="getPageFilterData($event)"><i
                        class="fa fa-search"></i> Filtrar</button>
                  </div>
                </div>

              </div>
            </div>


            <div class="card">
              <app-loading></app-loading>
              <div class="card-header">
                <h3 class="card-title">Listagem de Entidade Cativadoras</h3>
                <div class="card-tools">

                  <button class="btn btn-outline-primary btn-sm" type="button" (click)="listarEntidadeCativadoras()"><i
                      class="icon-refresh"></i>
                    Recarregar Dados</button>

                  <button target="__blink" *ngIf="http.canActivateRouterLink('gerar_recibos')" type="button"
                    class="btn btn-primary btn-tooll btn-sm" data-toggle="modal" data-target="#addEntidadeCativadoraModal">
                    <i class="fa fa-plus-circle"></i> Registar Entidade</button>

                    <button target="__blink" *ngIf="http.canActivateRouterLink('gerar_recibos')" type="button"
                      class="btn btn-info btn-tooll btn-sm" data-toggle="modal" data-target="#addTipoEntidadeCativadoraModal">
                      <i class="fa fa-plus-circle"></i> Registar Tipo Entidade</button>


                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsivee">
                <table class="table table-hover table-bordered table-striped text-center">
                  <tbody>
                    <tr>
                      <th>#</th>
                      <th>Tipo Entidade</th>
                      <th>Nome Entidade</th>
                      <!--
                      <th>Valor</th>
                      -->
                      <th>Estado</th>
                      <th>Data</th>
                      <th>Operações</th>

                    </tr>
                    <tr
                      *ngFor="let item of items | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                      <td>{{ i + 1 }}</td>
                      <td>Cativadora a {{ item.tipo }}%</td>
                      <td>{{ item.cliente_id == null ? item.nome : item.clienteNome}}</td>
                      <!--
                      <td>{{ configService.numberFormat(item.valor)  }}</td>
                      -->
                      <td>
                        <span class="btn bg-warning btn-block btn-flat status-label"
                         *ngIf="item.estado ==0">Inactivo</span>
                        <span class="btn bg-success btn-block btn-flat status-label"
                         *ngIf="item.estado ==1">Activo</span>
                      </td>
                      <td> {{item.created_at | date: 'dd-MM-yyyy'}} </td>

                      <td>
                        <div class="btn-group btn-block">
                          <button type="button" class="btn btn-info  btn-flat btn-sm"
                            data-toggle="dropdown">Opções</button>
                          <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Menu</span>
                          </button>
                          <div class="dropdown-menu" role="menu" x-placement="bottom-start">
                            <!--<a href="javascript:void(0)"
                              *ngIf="item.siglaEstadoPedido!='FN' && item.siglaEstadoPedido!='RJ'" data-toggle="modal"
                              data-target="#editEstadoModal"
                              (click)="getDadosModal(); getCliente(item.clienteNome, item.created_at); getEstadoPedido(item.id);"
                              class="dropdown-item btn-sm"><i class="fa fa-pencil"></i> Actualizar</a> -->
                          </div>
                        </div>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer clearfix">
                <div class="row">
                  <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                      {{this.http.filters.pagination.perPage}} de
                      {{this.http.filters.pagination.total}} Entidade Cativadoras
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-7">
                    <div class="pull-right">
                      <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior" maxSize="6"
                        nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
      </div>
    </section>



    <div class="modal modal-info fade in" id="addEntidadeCativadoraModal">
      <div class="modal-dialog modal-lg" style="max-width: 1292px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Registar Entidade Cativadoras</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <app-alert></app-alert>

            <div class="row">
              
            </div>

            <div class="row">

              <div class="col-md-3">
                <div class="form-group">
                  <label>Tipo Entidade</label>
                  <select class="form-control" id="activo" name="tipo_id" size="1" placeholder="tipo" [(ngModel)]="entidade.tipo_id">
                    <option [value]="null">Tipo Entidade Cativadora</option>
                    <option value="{{ tipo.id }}" *ngFor="let tipo of tipos">Cativadora a {{ tipo.nome }}%</option>
                  </select>
                </div>
              </div>

              <!--

              <div class=" col-md-4">
                <div class="form-group">
                  <label class="control-label">Nome</label>
                  <input type="text" name="nome" [(ngModel)]="entidade.nome" class="form-control"
                    placeholder="Nome da entidade cativadoras">
                </div>
              </div>
            -->

              <div class="col-md-4"> 
                <div class="form-groupp">
                  <label>Nome</label>
                  <div class="input-group">
                    <input type="text" placeholder="Nome da entidade cativadoras" [(ngModel)]="entidade.nome"
                      class="form-control" (keyup)="getClientes()">
                    <div class="input-group-append">
                      <div class="input-group-text" style="background-color: transparent;"><i class="fa fa-search"></i>
                      </div>
                    </div>
                  </div>
    
                  <div class="autocomplete-container" *ngIf="view_cliente">
                    <ul>
                      <li *ngFor="let cliente of clientes">
                        <a href="javascript:void(0)" (click)="setCliente(cliente)">Nome: {{ cliente.nome }} Telefone: {{ cliente.telefone }}</a>
                      </li>
                    </ul>
                  </div>
                  <!-- /.input group -->
                </div>
              </div>
<!--
              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label"> Valor</label>
                  <input type="number" name="valor" [(ngModel)]="entidade.valor" class="form-control"
                    placeholder="valor">
                </div>
              </div>
            -->

              <div class="col-md-2">
                <div class="form-group">
                  <label>Activo</label>
                  <select class="form-control" id="activo" name="estado" size="1" placeholder="estado"
                    [(ngModel)]="entidade.estado" name="activo">
                    <option [value]="null">Estado</option>
                    <option value="1">SIM</option>
                    <option value="0">NÃO</option>
                  </select>
                </div>
              </div>

            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Fechar</button>
            <button type="button" class="btn btn-primary btn-sm" (click)="register();">Registar</button>
          </div>

        </div>
      </div>
    </div>




<div class="modal modal-info fade in" id="addTipoEntidadeCativadoraModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Registar Tipo Entidade Cativadoras</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <app-alert></app-alert>
 
        <div class="row"> 

          <div class=" col-md-12">
            <div class="form-group">
              <label class="control-label">Valor</label>
              <input type="number" name="nome" [(ngModel)]="entidade.nome" class="form-control"
                placeholder="Valor da entidade cativadoras, Ex: 50 ou 100">
            </div>
          </div> 

        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="registerTipoEntidade();">Registar</button>
      </div>

    </div>
  </div>
</div>


  </div>

  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>