<!-- The Modal -->
<div class="modal modal-info fade" id="newModal" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="max-width: 935px;">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-file-text-o"></i> {{tarifario.id ? 'Actualizar' : 'Novo'}}</h4>
                <button (click)="_cleanForm()" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <app-loading></app-loading>
            <form (submit)="register($event)">
                <div class="modal-body">
                    <app-alert></app-alert>
                    <div class="col-md-12">
                        <div class="card card-default">
                            <!-- /.card-header -->
                            <div class="card-body" style="padding: 9px;">
                                <br />
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label class="control-label">Descrição</label>
                                            <input type="text" class="form-control" placeholder="Descrição"
                                                [(ngModel)]="tarifario.descricao" name="descricao" />
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label for="tipo_cliente_id" class="control-label">Tipo de cliente</label>
                                            <select id="tipo_cliente_id" name="tipo_cliente_id" class="form-control"
                                                [(ngModel)]="tarifario.tipo_cliente_id">
                                                <option [value]="null">Selecione</option>
                                                <option [value]="tipo.id" *ngFor="let tipo of tipos_clientes">
                                                    {{ tipo.tipoClienteDesc}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label for="tipo_contrato_id" class="control-label">Tipo de contrato</label>
                                            <select id="tipo_contrato_id" name="tipo_contrato_id" class="form-control"
                                                [(ngModel)]="tarifario.tipo_contrato_id">
                                                <option [value]="null">Selecione</option>
                                                <option [value]="tipo.id" *ngFor="let tipo of contratos">
                                                    {{ tipo.descricao}}</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button (click)="_cleanForm()" type="button" class="btn btn-outline-danger btn-sm"
                        data-dismiss="modal">Fechar</button>
                    <!--
                    <button (click)="_submitForm()" type="button" class="btn btn-primary btn-sm">Registar</button>
                -->
                </div>
            </form>
        </div>
    </div>
</div>