input[type=radio],input[type=checkbox] {
    opacity: 0;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
 
input[type=radio] + span:before,input[type=checkbox] + span:before {
    content: " ";
    background-color: #fff;
    display: inline-block;
    margin-right: 15px;
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    visibility: visible;
    box-shadow: 0 0 0px 1px #999;
}
 
input[type=radio]:checked + span:before , input[type=checkbox]:checked + span:before {
    background-color: #148ea1;
    content: " ";
}

input[type=checkbox] + span:before {
    background-color: #fff; 
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px; 
}
 
.table td, .table th {
    padding: 8px 10px 5px;
    font-size: 14px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.card-title {
    font-size: 17px; 
}



.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background-color: #00c0ef !important;
}

.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 125px;
    width: 125px;
    text-align: center;
    font-size: 55px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
}

.info-box-content {
    padding: 30px 10px;
    margin-left: 9px;
}

.info-box {
    padding: 0;
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}

.bg-red, .bg-yellow, .bg-aqua, .bg-blue, .bg-light-blue, .bg-green, .bg-navy, .bg-teal, .bg-olive, .bg-lime, .bg-orange, .bg-fuchsia, .bg-purple, .bg-maroon, .bg-black, .bg-red-active, .bg-yellow-active, .bg-aqua-active, .bg-blue-active, .bg-light-blue-active, .bg-green-active, .bg-navy-active, .bg-teal-active, .bg-olive-active, .bg-lime-active, .bg-orange-active, .bg-fuchsia-active, .bg-purple-active, .bg-maroon-active, .bg-black-active, .callout.callout-danger, .callout.callout-warning, .callout.callout-info, .callout.callout-success, .alert-success, .alert-danger, .alert-error, .alert-warning, .alert-info, .label-danger, .label-info, .label-warning, .label-primary, .label-success, .modal-primary .modal-body, .modal-primary .modal-header, .modal-primary .modal-footer, .modal-warning .modal-body, .modal-warning .modal-header, .modal-warning .modal-footer, .modal-info .modal-body, .modal-info .modal-header, .modal-info .modal-footer, .modal-success .modal-body, .modal-success .modal-header, .modal-success .modal-footer, .modal-danger .modal-body, .modal-danger .modal-header, .modal-danger .modal-footer {
   
}

.info-box-number { 
    font-size: 20px;
}
.vh-100 {
    min-height: 100vh !important;
}

