<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Conta Corrente</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">CRM</a></li>
              <li class="breadcrumb-item active">Conta Corrente</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="content">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-7">
              <div class="card">
                <app-loading></app-loading>
                <div class="card-header">
                  <h3 class="card-title">
                    <div class="row">
                      <div class="col-md-12">
                        <input type="text" value="" [(ngModel)]="conta_corrente.search" name="search" #search
                          placeholder="Pesquisar..." class="form-control" (keyup)="pesquisarCliente($event)">
                        <i class="fa fa-search"
                          style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                      </div>
                       <!-- 
                      <div class="col-1">
                        <button type="button" class="btn btn-inf"><i class="fa fa-search"></i></button>
                      </div>-->

                    </div>
                  </h3>
                  <div class="card-tools">
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body" style="padding:10px;">
                  <div class="row">
                    <div class="col-md-12">
                      <table class="table table-hover table-bordered table-striped text-center" style="margin: 0;">
                        <tbody>
                          <tr style="color: white; background: #17a2b8;">
                            <th><i class="fa fa-check"></i></th>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>Contribuinte</th>
                            <th>Opção</th>
                          </tr>
                          <tr *ngFor="let cliente of clientes; index as i">
                            <td>
                             <button class="btn btn-info" name="clienteRadio" value="{{ cliente.id }}"
                             (click)="refreshClienteId(cliente.id); adiantamentos()" id="radio">Ver Conta</button>
                              <span></span>
                            </td>
                            <td style="background: rgba(23, 162, 184, 0.04)">{{ cliente.nome }}</td>
                            <td style="background: #ffc1071a;">{{ cliente.telefone }}</td>
                            <td>{{ cliente.contribuente }}</td>

                            <td>
                             
                                <div class="form-group" style="height:25px;">
                                  <select class="form-control" style="height:41px;" name="pago"
                                    [(ngModel)]="selectBox.pago" (change)="changeSelectValue()">
                                    <option selected [ngValue]="null">Todas</option>
                                    <option value="false">Não Pagas</option>
                                    <option value="1">Pagas</option>
                                  </select>
                                </div>
                             
                             </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-sm-6 col-12">
              <div class="info-box bg-info" style="background-color: #1f2d3d!important">
                <span class="info-box-icon"><i class="fa fa-money"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">{{ conta_corrente.cliente.nome }}</span>
                  <div class="progress">
                    <div class="progress-bar" style="width: 70%"></div>
                  </div>
                  <span class="info-box-number">Conta Corrente</span>
                </div>
                <!-- /.info-box-content -->
              </div>

            </div>
          </div>

          <div class="row" *ngIf="conta_corrente.cliente.id">
            <div class="col-md-7">
              <div class="card">
                <div class="card-header border-transparent">
                  <h3 class="card-title">Lista de contas</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0" style="height: 490px;overflow: auto;">
                  <div class="table-responsive vh-100">
                    <table class="table table-hover table-bordered table-striped text-center">
                      <tbody>
                        <tr>
                          <th>#</th>
                         <!-- <th>Documento</th> --> 
                          <th>Número</th> 
                          <th>Data</th>
                          <th>Saldado?</th>
                          <th>Total</th>
                          <th>Valor em Aberto</th>
                          <th>Acção</th>
                        </tr>
                        <tr *ngFor="let facturas_recibo of contas.facturas_recibo; index as i">
                          <td>{{(i+1)}}</td>
                          <!-- <td>Factura Recibo</td> --> 
                          <td>{{ facturas_recibo.factura_sigla }}</td> 
                          <td>{{ facturas_recibo.created_at | date: 'dd-MM-yyyy' }}</td>
                          <td style="padding: 0;">
                            <span style="border-radius: 0;border: 0" class="btn bg-warning btn-block"
                              *ngIf="facturas_recibo.pago ==0">Não Saldado</span>
                              <span style="border-radius: 0;border: 0" class="btn bg-success btn-block"
                              *ngIf="facturas_recibo.pago == 1">Saldado</span>
                          </td>
                          <td style="background: #17a2b83b;">{{ configService.numberFormat(facturas_recibo.total) }} AOA
                          </td>
                          <td style="background: #17a2b83b;">{{ configService.numberFormat(facturas_recibo.valor_aberto) }} AOA</td> 
                          <td> <div class="btn-group">
                            <button type="button" class="btn btn-info btn-flat btn-sm"
                              data-toggle="dropdown ">Opções</button>
                            <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown"
                              aria-expanded="false">
                              <span class="caret"></span>
                              <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                              style="position: absolute; will-change: transform; top: 0px; left: -58px; transform: translate3d(67px, 38px, 0px);">
                                <a href="javascript:void(0)" class="dropdown-item btn-sm" title="Visualizar detalhes da factura"
                                  (click)="btnImprimirFactura(facturas_recibo.id)"><i class="fa fa-clone"></i>  Visualizar</a>
                                  <li class="divider"></li>
                              <a href="javascript:void(0)" class="dropdown-item btn-sm" title="Imprimir"
                                (click)="btnImprimirFactura(facturas_recibo.id)" *ngIf="http.canActivateRouterLink('imprimir_factura')"><i class="fa fa-print"></i>  Imprimir</a>
                            </div>
                          </div></td>
                        </tr>  
                        <tr *ngFor="let factura of contas.facturas; index as i">
                          <td>{{(i+1)}}</td>
                           <!-- <td>Factura</td>--> 
                          <td>{{factura.factura_sigla }}</td>
                          <td>{{ factura.created_at | date: 'dd-MM-yyyy' }}</td>
                          <td style="padding: 0;">
                            <span style="border-radius: 0;border: 0" class="btn bg-warning btn-block"
                              *ngIf="factura.pago ==0">Não Saldado</span>
                              <span style="border-radius: 0;border: 0" class="btn bg-success btn-block"
                              *ngIf="factura.pago ==1">Saldado</span>
                          </td>
                          <td style="background: #17a2b83b;">{{ configService.numberFormat(factura.total) }} AOA</td>
                          <td style="background: #17a2b83b;">{{ configService.numberFormat(factura.valor_aberto) }} AOA</td> 
                          <td> 
                          
                      <div class="btn-group">
                          <button type="button" class="btn btn-info btn-flat btn-sm"
                            data-toggle="dropdown ">Opções</button>
                          <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                            style="position: absolute; will-change: transform; top: 0px; left: -58px; transform: translate3d(67px, 38px, 0px);">
  
                         <!--   <a href="javascript:void(0)" class="dropdown-item btn-sm" title="Aplicar nota de crédito"
                              *ngIf="(factura.status =='N' && factura.pago ==0 && factura.sigla =='FT') && http.canActivateRouterLink('nota_credito_factura')"
                              data-widget="chat-pane-toggle" data-toggle="modal" data-target="#notaCredidtoModal"
                              (click)="refreshFacturaNotaCredito(factura.id);" ><i class="fa fa-credit-card" ></i>  Nota
                              de crédito</a>
   
                            <a href="javascript:void(0)" class="dropdown-item btn-sm" title="Anular Factura"
                              *ngIf="(factura.status !='A' && factura.pago ==0 && factura.sigla =='FT') && factura.mes == mes && http.canActivateRouterLink('anular_factura')" data-widget="chat-pane-toggle"
                              data-toggle="modal" data-target="#anularModal"
                              (click)="refreshFacturaAnual(factura)"><i class="fa fa-adn"></i>  Anular
                              Factura</a>--> 
  
                              <a href="javascript:void(0)" class="dropdown-item btn-sm" title="A cobrança de juro permite cobrar as facturas cuja data já foi vencida"
                                (click)="btnImprimirFactura(factura.id)" *ngIf="(factura.status =='N' && factura.pago == 0 && factura.sigla =='FT' && factura.data_vencimento < factura.created_at) && !http.canActivateRouterLink('cobranca_juro_factura')"><i class="fa fa-euro"></i> Cobrança de Juros</a>
  
                               <!-- <a href="javascript:void(0)" class="dropdown-item btn-sm" title="Pagamento Parcelar de factura"
                                (click)="dataFactura(factura)"  *ngIf="(factura.status =='N' && factura.pago == 0 && factura.sigla =='FT' && factura.valor_aberto != 0) && !http.canActivateRouterLink('pagamento_parcelar_factura')"><i class="fa fa-money"></i> Pagamento Parcelar</a>--> 
  
                              <a href="javascript:void(0)" class="dropdown-item btn-sm" title="Visualizar detalhes da factura"
                                (click)="btnImprimirFactura(factura.id)"><i class="fa fa-clone"></i>  Visualizar</a>
                                <li class="divider"></li>
                            <a href="javascript:void(0)" class="dropdown-item btn-sm" title="Imprimir"
                              (click)="btnImprimirFactura(factura.id)" *ngIf="http.canActivateRouterLink('imprimir_factura')"><i class="fa fa-print"></i>  Imprimir</a>
                          </div>
                        </div>
                        </td>
                        </tr>
                        <tr> 
                        <tr *ngFor="let recibo of contas.recibos; index as i"> 
                          <td>{{(i+1)}}</td>
                          <!-- <td>Recibo</td>--> 
                          <td>{{ recibo.recibo_sigla }}</td>
                          <td>{{ recibo.created_at | date: 'dd-MM-yyyy' }}</td>
                          <td style="padding: 0;">
                            <span style="border-radius: 0;border: 0" class="btn bg-success btn-block">Saldado</span>
                          </td>
                          <td style="background: #17a2b83b;">{{ configService.numberFormat(recibo.total) }} AOA</td>
                          <td> ------- </td>
                          <td> ------- </td>
                        </tr> 
                        <tr *ngFor="let notaCredito of contas.notaCreditos; index as i">
                          <td>{{(i+1)}}</td>
                          <!-- <td>Nota de Crédito</td>--> 
                          <td>{{ notaCredito.factura_sigla }}</td> 
                          <td>{{ notaCredito.created_at | date: 'dd-MM-yyyy' }}</td>
                          <td> ------- </td>
                          <td style="background: #17a2b83b;">{{ configService.numberFormat(notaCredito.total) }} AOA</td>
                          <td style="background: #17a2b83b;">{{ configService.numberFormat(notaCredito.valor_aberto)}} AOA</td>
                          <td> ------- </td>
                        </tr> 
                      </tbody>
                    </table>
                  </div>
                  <!-- /.table-responsive -->
                </div>
                <!-- /.card-body -->
              </div>
            </div>
            <div class="col-md-5">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title"><i class="fa fa-source"></i> Painel Estatística</h3>
                </div>
                <app-loading></app-loading>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12"> 
                      <div class="chart">
                        <!-- Sales Chart Canvas -->
                        <canvas id="myChart" width="300" height="164"></canvas>
                      </div>
                      <!-- /.chart-responsive -->
                    </div>
                    <!-- /.col -->
                    </div>
                    <div class="row">
                    <div class="row ml-5">
                    <div class="" style="float:left;text-align: right;">
                      <h6 class="">Facturas Recibo</h6>
                      <h6 class="">Facturas</h6>
                      <h6 class="">Recibos</h6>
                      <h6 class="">Notas de Crédito</h6>
                      <!--<h6 class="">Adiantamentos</h6>-->
                      <h6 class="">Facturas em Aberto</h6>
                    </div>
                    <div class="ml-4" style="float:left;" *ngIf="contas.length !=[]">
                      <h6 class="" >{{ contas.facturas_recibo.length }}</h6>
                      <h6 class="" >{{contas.facturas.length }}</h6>
                      <h6 class="" >{{contas.recibos.length  }}</h6>
                      <h6 class="" >{{contas.notaCreditos.length }}</h6>
                      <!--<h6 class="" >{{numeroAdiantamentos}}</h6>-->
                      <h6 class="" >{{factura_aberto}}</h6>
                    </div>
                    </div>

                    <div class="row ml-5 mt-4">
                      <div class="" style="float:left;text-align: right;">
                        <!--<h6 class="mt-2">Adiantamento</h6>-->
                        <h6 class="mt-4">Total em Aberto</h6>
                      </div>
                      <div class="ml-4" style="float:left;" >
                        <!--<h6 class="" > <span style="background-color:rgb(198, 224, 180);border-radius: 0;border: 0" class="btn btn-block">{{configService.numberFormat(totalAdiantamento)}}</span></h6>-->
                        <h6 class="" ><span style="border-radius: 0;border: 0" class="btn bg-warning btn-block">{{configService.numberFormat(totalAberto)}} </span></h6>
                        
                      </div>
                      </div>


                  </div>
                    <!-- /.col -->
                  <!-- /.row -->
                </div>
                <!-- ./card-body -->

                <!-- /.card-footer -->
              </div>
            </div>


            <div class="col-md-12">
              <div class="card card-infod">
                <div class="card-header">
               
               
                  
                    <div class="form-group">
                    <div class="input-group">
                      <div class="btn-group">
                        <div class="btn-group">
                          <button type="button" class="btn btn-info dropdown-toggle dropdown-icon btn-flat"
                            data-toggle="dropdown" aria-expanded="false"> <i class="fa fa-download"></i>
                            Exportação
                          </button>
                          <div class="dropdown-menu" x-placement="bottom-start" style="left: 40px;">
                           <!--  <a class="dropdown-item" href="javascript:void(0)" (click)="ExportarContaCorrente(conta_corrente.cliente.id)"><i
                                class="fa fa-file-pdf-o"></i>
                              PDF</a>-->
                            <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#modalExportalContaCorrent" ><i
                                class="fa fa-file-excel-o" ></i> Excel</a>
                          </div>
                        </div>

                        <button type="button" class="btn btn-info btn-flat" (click)="ImprimirContaCorrente(conta_corrente.cliente.id)"
                         ><i class="icon-printer"></i>
                          Imprimir</button>
                        
                        <!--<button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#modalClienteCreateOrEdit"
                                (click)="setDataCliente(undefined);getProvincias();iniCliente();listarTipoClientes();listarTipoIdentidades();listarDireccao() "><i
                                  class="fa fa-plus"></i> Registar</button>-->
                  
                      </div>
                    </div>
                    </div>
                  
                
             
                  <h3 class="card-title text-right"><b> Total Conta:</b>
                    {{ configService.numberFormat((somaFactura - somaNotacredito) - somaRecibo) }} AOA</h3>
                  <div class="card-tools">
                  </div>
                </div>
                <!-- /.card-header -->
              </div>
            </div>
          </div>
          <div class="row" *ngIf="!conta_corrente.cliente.id">
            <div class="col-md-12"><br>
              <div class="alert alert-info alert-dismissible">
                <h5><i class="icon fa fa-info"></i> Info!</h5>
                Pesquisa um cliente para saber a sua conta corrente.
              </div>
            </div>
          </div>




        <!--<app-visao-geral></app-visao-geral>-->






        </div>         
      </div>


         <!-- The Modal -->
    <div class="modal modal-info fade in" id="anularModal">
        <div class="modal-dialog modal-lg " style="max-width: 994px;">
          <div class="modal-content">
  
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Anular Factura</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="alert alert-info alert-dismissible" style="border-radius: 0; font-size: 12px;margin:0">
              <h5><i class="icon fa fa-info"></i> Informação!</h5>
              O processo de anulação de uma factura consiste em especificar o motivo e a descriação da anulação, alterar o estado de uma factura para Anulado.
            </div>
            <form (submit)="anularFactura($event)">
              <!-- Modal body -->
              <div class="modal-body">
                <app-loading></app-loading>
                <app-alert></app-alert>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="nome"> Nº Factura</label> 
                      <input type="text" value="{{ factura.factura_sigla }}" class="form-control" placeholder="" disabled>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <label for="nome"> Cliente</label> 
                      <input type="text" value="{{ factura.cliente_nome }}" class="form-control" placeholder="" disabled>
                    </div>
                  </div>
                  <div class="col-md-12"> 
                    <div class="form-group">
                    <div class="row">
                    <label  class="col-sm-12 control-label">Motivo</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" id="inputPassword3" placeholder="Escreve aqui uma breve descrição sobre motivo da anulação">
                    </div>
  </div>
                  </div>
                  </div>
                </div>
              </div>
  
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-outline-primary btn-sm">
                   <i class="fa fa-adn"></i> Anular
                </button>
              </div>
            </form>
  
  
          </div>
        </div>
      </div>
 <!-- The Modal -->
 <div class="modal modal-info fade" id="notaCredidtoModal">
    <div class="modal-dialog nota-credito-modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa fa-credit-card"></i> Registar nota de crédito</h4>
          <button type="button" (click)="closeModal()" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <app-loading></app-loading>
        <div class="modal-body">
          <app-alert></app-alert>
          <div *ngIf="btnClickBoleon==true">
            <div class="row">
              <div class="col-md-12">


                <div class="card card-default">
                  <div class="card-header">
                    <h3 class="card-title">Dados da factura</h3>

                    <!-- /.card-tools -->
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body" style="padding: 9px;">
                    <table class="table table-hover table-bordered table-striped text-center">
                      <tbody>
                        <tr>
                          <th>Cliente</th>
                          <th>Serie</th>
                          <th>Número</th>
                          <th>Doc.</th>
                          <th>Nº Factura</th>
                          <th>Status</th>
                          <th>Data</th>
                          <th>Pago?</th>
                          <th>Total Imposto</th>
                          <th>Total</th>
                        </tr>
                        <tr>
                          <td>{{ dadosFacturaId.cliente.nome }}</td>
                          <td>{{ dadosFacturaId.factura.serie }}</td>
                          <td>{{ dadosFacturaId.factura.numero }}</td>
                          <td>{{ dadosFacturaId.factura.sigla }} - {{ dadosFacturaId.factura.documento }}</td>
                          <td>{{ dadosFacturaId.factura.factura_id }}</td>

                          <td>
                            <span class="btn bg-danger btn-block"
                              *ngIf="dadosFacturaId.factura.status =='A'">Anulado</span>
                            <span class="btn bg-info btn-block"
                              *ngIf="dadosFacturaId.factura.status =='N'">Normal</span>
                          </td>
                          <td>{{  dadosFacturaId.factura.created_at | date: 'dd-MM-yyyy' }} </td>
                          <td>
                            <span class="btn bg-warning btn-block" *ngIf=" dadosFacturaId.factura.pago ==0">Não
                              Pago</span>
                            <span class="btn bg-success btn-block"
                              *ngIf=" dadosFacturaId.factura.pago ==1">Pago</span>
                          </td>
                          <td>
                            <span
                              class="btn bg-default btn-block">{{  dadosFacturaId.factura.totalComImposto }}</span>
                          </td>
                          <td>
                            <span class="btn bg-default btn-block">{{  dadosFacturaId.factura.total }}</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
              <div class="col-md-6">
                <div class="card card-default">
                  <div class="card-header">
                    <h3 class="card-title">Produtos da Factura</h3>

                    <!-- /.card-tools -->
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body" style="padding: 9px;">
                    <div style="height: 250px; overflow: auto;">
                      <table class="table table-hover table-bordered table-striped text-center">
                        <tbody>
                          <tr>
                            <th width="100">#</th>
                            <th width="368">Produto</th>
                            <th width="125">Qtd</th>
                            <th width="137">Valor</th>
                            <th width="130">Total</th>
                            <th style="width: 16%;">Acção</th>
                          </tr>
                          <tr *ngFor="let produt of  dadosFacturaId.produtos; index as i">
                            <td>{{i+1}}</td>
                            <td>{{ produt.nome }}</td>
                            <td>{{ produt.quantidade }}</td>
                            <td>{{ produt.valor }}</td>
                            <td>{{ (produt.total) }}</td>
                            <td>
                              <div class="btn-group">
                                <button type="button" class="btn btn-primary"
                                  title="adicionar produto na nota de crédito"
                                  (click)="btnAddProdutosNotaCredito(produt.produto_id)"><i
                                    class="fa fa-plus"></i></button>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>

              <div class="col-md-6">
                <div class="card card-default">
                  <div class="card-header">
                    <h3 class="card-title">Serie nota de crédito</h3>
                    <!-- /.card-tools -->
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body" style="padding: 9px;">
                    <div class="col-md-12">
                      <div class="form-group">
                        <select class="form-control" #serie (change)="refreshSerieId()">
                          <option value="" selected *ngIf="!(serieId >= 0)">Selecionar serie - documento</option>
                          <option value="{{ serie.id }}" *ngFor="let serie of series">
                            Serie: {{ serie.nome }} - {{ serie.documento }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card card-default">
                  <div class="card-header">
                    <h3 class="card-title">Produtos selecionados para nota de crédito</h3>
                    <!-- /.card-tools -->
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body" style="padding: 9px;">
                    <table class="table table-hover table-bordered table-striped text-center">
                      <tbody>
                        <tr>
                          <th width="100">#</th>
                          <th width="368">Produto</th>
                          <th width="125">Qtd</th>
                          <th width="137">Valor</th>
                          <th width="130">Total</th>
                          <th style="width: 16%;">Acção</th>
                        </tr>
                        <tr *ngFor="let produt of  produtosNotaCredito; index as i">
                          <td>{{i+1}}</td>
                          <td>{{ produt.nome }}</td>
                          <td>{{ produt.quantidade }}</td>
                          <td>{{ produt.valor }}</td>
                          <td>{{ (produt.total) }}</td>
                          <td>
                            <div class="btn-group">
                              <button class="btn" id="remove" (click)="deleteRow(produt.produto_id)">Exluir</button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <p class="lead">Observação</p>
                    <textarea class="form-control" #observacao rows="3"
                      placeholder="Escreve aqui uma observação"></textarea>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"
            (click)="closeModal()">{{ (btnClickBoleon==true? 'Cancelar' :'Fechar') }}</button>
          <button (click)="finalizarNotaCredito()" *ngIf="btnClickBoleon==true" type="button"
            class="btn btn-outline-primary btn-sm">Registar nota de
            crédito</button>
        </div>


      </div>
    </div>
  </div>


  
  <div class="modal fade" id="modalExportalContaCorrent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 1700px;">
      <div class="modal-content">
        <div class="modal-header">
          <div class="card-tools">
  
          </div>
          <h4 class="modal-title"><i class="fa fa-file-excel-o"></i> Exportar Conta Corrente</h4>
          
  
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <app-loading></app-loading>
  
          <div class="card-body p-0" style="height: 490px;overflow: auto;">
            <div class="table-responsive vh-100">
              <table class="table table-hover table-bordered table-striped text-center exportAsXLSXContaCorrent">
                <tbody>

                  <tr>

                      
                    <h4 class="card-title"> {{ (clienteContribuinte == '999999999' || clienteContribuinte == null || clienteContribuinte == 0 ? 'Consumidor Final' : clienteContribuinte)}} - {{ clienteNome }}</h4>

                  </tr>
                  
                  <tr>
                   
                    <th>Nº Conta</th>
                    <th>Conta</th>
                    <th>Factura Número</th> 
                    <th>Estado</th>
                    <th>Tipo</th>
                    <th>Data</th>
                    <th>Total</th>
                    <th>Valor em Aberto</th>
                    
                  </tr>
                  
                  <tr *ngFor="let facturas of contas.facturas; index as i">
                   
                    <td>{{ facturas.contaNumero}} 
                    <td>{{facturas.contaDescricao }}</td>
                    <td>{{ facturas.factura_sigla }}</td>
                    <td>{{ facturas.pago == 0 ? 'Não Saldado' : 'Saldado' }}</td> 
                    <td>{{ facturas.documentoDesc }}</td>
                    <td>{{ facturas.created_at == null? facturas.data_origem : facturas.data_format }}</td>
                    <td>{{ configService.numberFormat(facturas.total) }}</td>
                    <td>{{ configService.numberFormat(facturas.valor_aberto) }} </td>
                  </tr> 
              </tbody>
                  <tr style="background: #eeeeeea8;"> 
                    <th colspan="6" class="text-right"><b>TOTAL</b></th>
                    <th> {{ configService.numberFormat(somaFactura)}} </th>
                    <th> {{ configService.numberFormat(totalAberto)}} </th>
                  </tr> 

              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
         
    
      
        
  
   
   </div>
  
   <div class="modal-footer">
     <button type="button" (click)="exportAsXLSX();" class="btn btn-primary " style="width: 300px;"><i
         class="fa fa-download"></i>Exportar</button>
         <button type="button" class="close" data-dismiss="modal" class="btn btn-danger btn-sm">Fechar</button>
   </div>
    </div>
    </div>
    </div>


      
    </section>







    




    <!-- /.content -->
  </div>


  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>

<!--
<app-modalexportarcontacorrenteexel [modalExportalContaCorrent]="" [clienteid]= "contas"></app-modalexportarcontacorrenteexel>
-->