<!--The content below is only a placeholder and can be replaced.-->

<!--<nav>
    <a routerLink="/dashboard" >Dashboard</a>
  </nav>-->
<router-outlet></router-outlet>
<footer class="main-footer">
  {{ currentYear }} &copy; <a href="https://itgest.co.ao/" target="__blank"><strong>Itgest</strong></a>. Todos os direitos
  reservados.

  <!-- BEWATER - EPAS LUNDA NORTE -->
  <div *ngIf="app_environment == 'epasln-qas.unig-erp.com:3349' || app_environment == 'epasln.unig-erp.com:3348'" class="float-right d-none d-sm-inline-block">
    <b>
      <a href="http://unig-erp.com/" target="__blank">UNIG</a> - <a href="http://epasln-qas.unig-erp.com/"
        target="__blank">{{  currentUser==null ?  currentUser : currentUser.user.empresa.companyName }}</a> Versão</b> {{ app_version }}
  </div>


  <!-- VISTA WATER - EPAS Namibe -->
  <div *ngIf="app_environment == 'epasn-qas.unig-erp.com:3355' || app_environment == 'epasn.unig-erp.com:3201' || app_environment == 'epasn.unig-erp.com:3347' || app_environment == 'localhost:3333'"
    class="float-right d-none d-sm-inline-block">
    <b>
      <a href="http://unig-erp.com/" target="__blank">UNIG</a> - <a href="http://epasn-qas.unig-erp.com/"
        target="__blank">{{  currentUser==null ?  currentUser : currentUser.user.empresa.companyName }}</a> Versão</b> {{ app_version }}
  </div>


  <!-- VISTAWATER - EPAS LUNDA SUL -->
  <div *ngIf="app_environment == 'epasls-qas.unig-erp.com:3352' || app_environment == 'epasls.unig-erp.com:3349'" class="float-right d-none d-sm-inline-block">
    <b>
      <a href="http://unig-erp.com/" target="__blank">UNIG</a> - <a href="http://epasls-qas.unig-erp.com/"
        target="__blank">{{  currentUser==null ?  currentUser : currentUser.user.empresa.companyName }}</a> Versão</b> {{ app_version }}
  </div>


</footer>
