input[type=radio],input[type=checkbox] {
    opacity: 0;
    margin-right: -12px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-top: 0px;
}
 
input[type=radio] + span:before,input[type=checkbox] + span:before {
    content: " ";
    background-color: #fff;
    display: inline-block;
    margin-right: 15px;
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    visibility: visible;
    box-shadow: 0 0 0px 1px #999;
}
 
input[type=radio]:checked + span:before , input[type=checkbox]:checked + span:before {
    background-color: #148ea1;
    content: " ";
}

input[type=checkbox] + span:before {
    background-color: #fff; 
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px; 
}
 

.permission td, .permission th {
    padding: 3px 4px 2px;
    font-size: 14px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
