<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Roles</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Configurações</a></li>
              <li class="breadcrumb-item" routerLinkActive="active">Controle Acesso</li>
              <li class="breadcrumb-item" routerLinkActive="active">Roles</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="content">
        <div class="container-fluid">

          <div class="row">
            <div class="col-md-12">
              <div class="col-lg-12 col-12">
                <div class="modall modal-info fadee" data-backdrop="static">
                  <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
                    <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                      <!-- Modal Header -->
                      <div class="modal-header">
                        <h4 class="modal-title"> Filtro de Dados</h4>
                      </div>
                      <!-- Modal body -->
                      <div class="modal-body">
                        <div class="row">
      
      
                          <div class="col-md-1 col-xs-3">
                            <div class="form-group">
                              <!--<label style="color: #fff;">Entrada</label>-->
                              <select (change)="mostrarResultados()" #mostrarResultado class="form-control">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="10">15</option>
                              </select>
                            </div>
                            <!-- /.input group -->
                          </div>
      
                          <div class="col-md-4 col-xs-3">
                            <div class="form-group"> 
                              <input type="text" value="" #search placeholder="Pesquisar..." class="form-control"
                        (keyup)="pesquisar($event)">
                              <i class="fa fa-search"
                                style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                            </div>
                            <!-- /.input group -->
                          </div>

                          
      
                          <div class="col-md-1 col-xs-3">
                            <div class="form-group"> 
                              <select (change)="pesquisar($event)" #orderBy class="form-control">
                                <option value="created_at">Ordernar por</option>
                                <option value="name">nome</option>
                                <option value="created_at">Data</option>
                              </select>
                            </div>
                            <!-- /.input group -->
                          </div>
  
  
                          <div class="col-md-1 col-xs-2">
                            <div class="form-group"> 
                              <div class="input-group">
                                <button type="button" class="btn btn-info btn-flatt mr-1 btn-smm" type="button"><i
                                    class="fa fa-search"></i>
                                  Filtrar</button>
                              </div>
                              <!-- /.input group -->
                            </div>
                          </div>
  
  
                          <div class="col-md-2 col-xs-3 ml-2">
                            <div class="form-group" style="float: right;"> 
                              <div class="input-group">
                                <div class="btn-group">
      
                                  <div class="btn-group">
                                    <button type="button" class="btn btn-info dropdown-toggle dropdown-icon btn-flat"
                                      data-toggle="dropdown" aria-expanded="false" [disabled]="disabledButton"> <i
                                        class="fa fa-download"></i> Exportação
                                    </button>
                                    <div class="dropdown-menu" x-placement="bottom-start" style="left: 40px;">
                                      <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsPDF();"><i
                                          class="fa fa-file-pdf-o"></i>
                                        PDF</a>
                                      <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsXLSX();"><i
                                          class="fa fa-file-excel-o"></i> Excel</a>
                                    </div>
                                  </div>
                                  <button type="button" class="btn btn-info btn-flat" (click)="imprimirPDF()" [disabled]="disabledButton"><i
                                      class="icon-printer"></i> Imprimir</button>
                                      <button type="button" class="btn btn-primary btn-flat"
                                      (click)="ini();" data-toggle="modal" data-target="#registarModal" ><i
                                          class="fa fa-plus"></i> Registar</button> 
                                </div>
                              </div>
                              <!-- /.input group -->
                            </div>
                          </div>
      
      
                        </div> 
                      </div>
      
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-lg-12 col-12">
                <div class="modall modal-info fadee" data-backdrop="static">
                  <div class="modal-dialog" style="max-width: 100%;">
                    <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                      <!-- Modal Header -->
                      <div class="modal-header">
                        <h4 class="modal-title">LISTAGEM DE ROLES</h4>
                      
                      </div>
                      <!-- Modal body -->
                      <div class="modal-body">
                        <!-- /.card-body --> 
                        <div class="table-responsivee">
      
      
                          <ngx-loading [show]="loading"></ngx-loading>
      
                          <table class="table table-hover table-bordered table-stripedd text-center m-0 exportAsXLSXCliente">
                            <thead>
                              <tr style="color: #fff; background: #0099FF;">
                                <th>#</th>
                                <th>Slug</th>
                                <th>Nome</th>
                                <th style="width: 403px;">Descrição</th>
                                <th>Status</th>
                                <th>Data Criação</th>
                                <th>Data Update</th>
                                <th>Acção</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of items">
                                <td>{{ item.id }}</td>
                                <td>{{ item.slug }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{item.description}}</td>
                                <td>---</td>
                                <td>{{ item.created_at | date: 'dd-MM-yyyy | H:mm' }}</td>
                                <td>{{ item.updated_at | date: 'dd-MM-yyyy | H:mm' }}</td>
                                <td>
                                  <div class="btn-group">
                                    <button type="button" class="btn btn-info btn-flat" data-toggle="dropdown"
                                      aria-expanded="false">Acção</button>
                                    <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                      <span class="caret"></span>
                                      <span class="sr-only">Toggle Dropdown</span>
                                    </button>
        
                                    
        
                                    
                                    <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                                      style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(67px, 37px, 0px);"> 
                                      <a class="dropdown-item" href="#" data-toggle="modal"  data-target="#painelPermissionsModal" (click)="rolePermissions(item.id)"><i class="fa fa-lock"></i> Permissões</a>
                                      <a class="dropdown-item" href="#" (click)="refresh(item.id,item.name,item.slug,item.description)" data-toggle="modal"
                                        data-target="#editarModal"><i class="fa icon-note"></i> Editar</a>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="card-footer clearfix">
                        <div class="row">
                          <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info">Mostrando de {{pagination.page}} a {{pagination.perPage}} de
                              {{pagination.total}} Roles
                            </div>
                          </div>
                          <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers">
                              <ul class="pagination" style="float: right;">
                                <li class="page-item"><a href="javascricpt:void(0)" class="page-link">Anterior</a></li>
                                <div *ngFor="let page of pages">
                                  <li class="page-item active" *ngIf="(page == pagination.page)"><a href="javascricpt:void(0)"
                                      (click)="refreshPaginate(page)" title="{{ page }}" class="page-link">{{ page }}</a></li>
      
                                  <li class="page-item " *ngIf="(page != pagination.page)"><a href="javascricpt:void(0)"
                                      (click)="refreshPaginate(page)" title="{{ page }}" class="page-link">{{ page }}</a></li>
                                </div>
                                <li class="page-item"><a href="javascricpt:void(0)" class="page-link">Próximo</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
    </section>
    <!-- /.content -->
  </div>

  <!-- The Modal -->
  <div class="modal modal-info fade in" id="registarModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa icon-layers"></i> Registar Role </h4>
          <button type="button"  class="close" data-dismiss="modal">&times;</button>
        </div>
        <form (submit)="register($event)">
          <!-- Modal body -->
          <div class="modal-body">
            <app-alert></app-alert>
            <app-loading></app-loading>
            <div class="row">
              <div class="col-md-12">
                <div class="card card-default">
                  <div class="card-header">
                    <h3 class="card-title"> Dados</h3>
                    <!-- /.card-tools -->
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body" style="padding: 9px;">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="nome">Slug</label>
                          <input type="text" id="slug" name="slug" [(ngModel)]="role.slug" class="form-control" placeholder="Nome">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="nome">Nome</label>
                          <input type="text" [(ngModel)]="role.name" name="name" class="form-control" id="nome"
                            placeholder="Nome">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="telefone">Descrição</label>
                          <textarea class="form-control" name="description" [(ngModel)]="role.description" placeholder="escreve aqui sobre esse role"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-outline-primary btn-sm">Registar</button>
          </div>
        </form>


      </div>
    </div>
  </div>

  <!-- The Modal -->
  <div class="modal modal-info fade in" id="editarModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa icon-note"></i> Editar role </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form (submit)="editar($event)">
          <!-- Modal body -->
          <div class="modal-body">
            <app-alert></app-alert>
            <app-loading></app-loading>
            <div class="row">
              <div class="col-md-12">
                <div class="card card-default">
                  <div class="card-header">
                    <h3 class="card-title"> Dados</h3>
                    <!-- /.card-tools -->
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body" style="padding: 9px;">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="nome">Slug</label>
                          <input type="text" id="slug" name="slug" [(ngModel)]="role.slug" class="form-control" placeholder="Nome">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="nome">Nome</label>
                          <input type="text" id="name" name="name" [(ngModel)]="role.name" class="form-control"
                            placeholder="Nome">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="telefone">Descrição</label>
                          <textarea class="form-control" id="descricao" name="description" [(ngModel)]="role.description"
                            placeholder="escreve aqui sobre esse role"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-outline-primary btn-sm">Registar</button>
          </div>
        </form>


      </div>
    </div>
  </div>

  <!-- The Modal Permissions roles-->
  <div class="modal modal-info fade in" id="painelPermissionsModal">
    <div class="modal-dialog modal-lg" style="max-width: 60%;">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa fa-lock"></i> Painel de Permissões </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body" style="overflow-y: auto;height: 630px;">
          <app-alert></app-alert>
          <app-loading></app-loading>

          <div class="card-body">
            <table class="table permission table-hover table-bordered table-striped text-centerr">
              
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Slug</th>
                      <th>Nome</th>
                      <th>Descrição</th> 
                      <th>Acção</th>
                    </tr>
                  </thead> 
                <tbody>
                <tr *ngFor="let permission of permissions; index as i">
                  <td>{{(i+1)}}</td> 
                  <td>{{ permission.slug }}</td>
                  <td>{{ permission.name }}</td>
                  <td>{{ permission.description}}</td>
                  <td>
                    <span>
                      <input type="checkbox" name="exemplo" id="radio" *ngIf="permission.isActivo==true" checked
                        (click)="adicionarPermissionRole(role_id, permission.id)">
                        <input type="checkbox" name="exemplo" id="radio" *ngIf="permission.isActivo==false"
                          (click)="adicionarPermissionRole(role_id, permission.id)">
                      <span></span>
                    </span> 
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
           
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>



  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>