<!-- The Modal -->
<div class="modal modal-info fade in" id="{{modalContaBancariaCreateOrEdit}}" data-backdrop="static">
  <div class="modal-dialog modal-lg " style="max-width: 1350px;">
    <div class="modal-content">
      <!-- Modal Header -->
      <form [formGroup]="simpleFormContaBancaria" (submit)="onSubmit();">
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa fa-calculator nav-icon"></i> {{ title }}</h4>
          <button class="close" type="reset" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body" style="padding: 2rem;">
          <ngx-loading [show]="loading"></ngx-loading>
          <app-loading></app-loading>

          <div class="row">

             <div class="col-md-6">
              <div class="form-group">
                <label class="col-form-label" for="provincia_id"> Província</label>
                <select class="form-control" formControlName="provincia_id" name="provincia_id" required autofocus (click)="selectBoxMunicipiosByProvincia()" [(ngModel)]="id_municipio"
                [ngClass]="{ 'is-invalid': submitted && f.provincia_id.errors, 'is-valid': f.provincia_id.touched && !f.provincia_id.errors }">
                  <option value="null" selected>Selecione a Província</option>
                  <option value="{{ item.id }}" *ngFor="let item of provincias">
                    {{ item.nome }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="col-form-label" for="municipio_id"> Município</label>
                <select formControlName="municipio_id" class="form-control" required autofocus
                  [ngClass]="{ 'is-invalid': submitted && f.municipio_id.errors, 'is-valid': f.municipio_id.touched && !f.municipio_id.errors }"
                  name="municipio_id">
                  <option [value]="null" selected>Selecione o Município</option>
                  <option value="{{ item.id }}" *ngFor="let item of municipios">
                    {{ item.nome }}
                  </option>
                </select>
                <div *ngIf="submitted && f['municipio_id'].errors" class="invalid-feedback">
                  <div *ngIf="f['municipio_id'].errors.required">O campo Município é obrigatório</div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="col-form-label" for="banco"> Banco</label>
                <select formControlName="banco_id" class="form-control" required autofocus
                  [ngClass]="{ 'is-invalid': submitted && f.banco_id.errors, 'is-valid': f.banco_id.touched && !f.banco_id.errors }"
                  name="banco_id">
                  <option [value]="null" selected>Selecione o Banco</option>
                  <option value="{{ item.id }}" *ngFor="let item of bancos">
                    {{ item.nome }}
                  </option>
                </select>
                <div *ngIf="submitted && f['banco_id'].errors" class="invalid-feedback">
                  <div *ngIf="f['banco_id'].errors.required">O campo Banco é obrigatório</div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="col-form-label" for="iban"> IBAN</label>
                <input class="form-control" required autofocus id="iban" type="number" formControlName="iban"
                  placeholder="IBAN"
                  [ngClass]="{ 'is-invalid': submitted && f.iban.errors, 'is-valid': f.iban.touched && !f.iban.errors }" />
                <div *ngIf="submitted && f['iban'].errors" class="invalid-feedback">
                  <div *ngIf="f['iban'].errors.required">O campo IBAN é obrigatório</div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="btn btn-danger btn-sm" type="reset" [disabled]="simpleFormContaBancaria.pristine && !submitted"
            (click)="onReset()">Limpar</button>
          <button class="btn btn-success btn-sm mr-1" type="submit"
            [disabled]="simpleFormContaBancaria.valid">Validar</button>
          <button class="btn btn-primary mr-1 btn-sm" type="submit"
            [disabled]="simpleFormContaBancaria.pristine || simpleFormContaBancaria.invalid" data-style="expand-left"><i
              class="fa fa-save"></i> Registar</button>
        </div>
      </form>
    </div>
  </div>
</div>