<div *ngIf="show">
  <div class="alert {{ class }} alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h5><i class="icon fa fa-ban"></i> {{message}}</h5>
    
  </div>
</div>