<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Artigo</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Artigo</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="card card-primary card-outline">
                <div class="card-header">
                  <h3 class="card-title">Registo de Artigo</h3>

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                  </div>
                  <!-- /.card-tools -->
                </div>
                <form (submit)="register($event)">
                  <!-- /.card-header -->
                  <div class="card-body" style="display: block;">
                    <div class="form-group">
                      <label for="nome">Nome</label>
                      <input type="text" #nome ngModel name="nome" class="form-control" id="nome" placeholder="Ex. Feijão">
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="telefone"><label for="telefone"><i class="fa fa-money"></i>Quantidade</label>Valor</label>
                          <input type="number" #valor ngModel name="valor" class="form-control" id="valor" placeholder="Ex. 4.000">
                        </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                            <label for="telefone"><i class="fa fa-pie-chart"></i>Quantidade</label>
                            <input type="number" #quantidade ngModel name="quantidate" class="form-control" id="quantidade"
                              placeholder="Ex. 2.000">
                          </div>
                        </div>
                      <div class="col-md-6">
                          <div class="form-group has-warning">
                              <label class="control-label" for="barcode"><i class="fa fa-barcode"></i> Código de Barra</label>
                              <input type="text" class="form-control" id="barcode" placeholder="">
                            </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer clearfix">
                    <a href="javascript:void(0)" class="btn btn-sm btn-danger float-left">Limpar</a>
                    <button type="submit" class="btn btn-sm btn-success float-right">Submeter</button>
                  </div>
                </form>
                <!-- /.card-footer -->
              </div>
              <!-- /.card -->
            </div>
            <div class="col-md-6">
                <div class="col-md-12 col-sm-12 col-12">
                    <div class="info-box bg-warning-gradient">
                      <span class="info-box-icon"><i class="fa fa-calendar"></i></span>
        
                      <div class="info-box-content">
                        <span class="info-box-text">Atigos</span>
                        <span class="info-box-number">41,410</span>
        
                        <div class="progress">
                          <div class="progress-bar" style="width: 70%"></div>
                        </div>
                        <span class="progress-description">
                          70% de artigos em 30 Dias
                        </span>
                      </div>
                      <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                  </div>
            </div>
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
    </section>
    <!-- /.content -->
  </div>
  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>
