<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Facturação</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Venda</a></li>
              <li class="breadcrumb-item active">Facturação</li>
              <li class="breadcrumb-item active">Registar Facturação</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <app-alert></app-alert>
          </div>

          <div class="col-md-3"></div>
          <div class="col-md-2" *ngIf="facturacao.success_facturacao">
            <br><br><br><br><br>
            <a href="javascript:void(0)" class="btn btn-info btn-block btn-lg" (click)="reloadFacturacao()"><i
                class="fa fa-plus"></i> Nova Factura</a>
            <br><br>
          </div>
          <div class="col-md-2" *ngIf="facturacao.success_facturacao">
            <br><br><br><br><br>
            <a href="javascript:void(0)" class="btn btn-default btn-block btn-lg"
              (click)="this.configService.imprimirFactura(facturacao.facturaGerada,'Original')"><i
                class="fa fa-print"></i> Imprimir Factura</a>
            <br><br>
          </div>

          <div class="col-md-12" *ngIf="!facturacao.success_facturacao">
            <aw-wizard navBarLocation="top">
              <aw-wizard-step stepTitle="Escolher Cliente">
                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-10">
                    <!-- /.card -->
                    <div class="card card card-widget">
                      <app-loading></app-loading>
                      <div class="card-header">
                        <div class="user-block">
                          <div class="row">
                            <div class="col-md-9 col-sm-9">
                              <input type="text" value="" [(ngModel)]="searchCliente"
                                placeholder="Escolher cliente por nome ou Contribuinte" class="form-control"
                                (keyup)="getCliente($event)">
                              <i class="fa fa-search"
                                style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                            </div>
                            <div class="col-md-2 col-sm-2">
                              <button type="button" class="btn btn-outline-danger btn-smd" data-toggle="modal"
                                data-target="#telefoneClienteModal"> Cliente por
                                número de serviço</button>
                            </div>
                          </div>


                        </div>
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body p-0" *ngIf="items_produtos">
                        <h3 class="card-title" style="background: #0099FF;
                            color: #fff;
                            padding: 18px 15px;">Lista de Clientes</h3>
                        <div style="overflow: auto; height: 486px;">
                          <table class="table table-hover table-bordered table-stripedd text-center m-0">
                            <thead>
                              <tr>
                                <th class="col-md-83">#</th>
                                <th class="col-md-83">Nome</th>
                                <th class="col-md-23"> Tipo de Cliente</th>
                                <th class="col-md-23"> Tipo de Identidade</th>
                                <th class="col-md-23"> Número de Identidade</th>
                                <th class="col-md-23">Telefone </th>
                                <th class="col-md-23">Morada </th>
                                <th width="150" *ngIf="http.canActivateRouterLink('conta_cliente')">Acção</th>
                                <th><i class="fa fa-check"></i></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let cliente of clientes; index as i">
                                <td>{{ (i+1) }}</td>
                                <td>{{ cliente.nome }}</td>
                                <td>{{ cliente.tipo_cliente }}</td>
                                <td>{{ cliente.tipo_identidade }}</td>
                                <td>{{ cliente.numero_identificacao }}</td>
                                <td>{{ cliente.telefone }}</td>
                                <td>{{ cliente.morada }}</td>

                                <!--
                                <td>
                                  <button class="btn btn-block btn-secondary btn-sm"
                                    (click)="selectedCliente(cliente.id); selectedClienteSemConta(1) "
                                    *ngIf="http.canActivateRouterLink('conta_cliente')" awNextStep><i
                                      class="fa icon-user"></i> Sem Conta</button>
                                </td>
                                -->
                                <td>
                                  <button class="btn btn-blockk btn-primary btn-sm" data-toggle="modal"
                                    data-target="#contaClienteModal" (click)="selectedCliente(cliente.id); "
                                    *ngIf="http.canActivateRouterLink('conta_cliente')">Selecionar</button>
                                </td>
                                <td style="background: #28a745; color: #fff" *ngIf="facturacao.cliente.id==cliente.id">
                                  <i class="fa fa-check"></i>
                                </td>
                                <td *ngIf="facturacao.cliente.id !=cliente.id"></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                  </div>
                </div>

                <div class="row" *ngIf="facturacao.cliente.id !=null">
                  <div class="col text-center">
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-default" awNextStep> Próximo <i
                          class="fa fa-arrow-right"></i></button>
                    </div>
                  </div>
                </div>

                <!-- The Modal -->
                <div class="modal modal-info fade in" id="contaClienteModal" data-backdrop="static">
                  <div class="modal-dialog modal-lg" style="max-width: 1000px">
                    <div class="modal-content">

                      <!-- Modal Header -->
                      <div class="modal-header">
                        <h4 class="modal-title">Escolher conta/contrato</h4>
                        <button type="button" class="close" data-dismiss="modal"
                          (click)="cancelarConta()">&times;</button>
                      </div>

                      <!-- Modal body -->
                      <div class="modal-body">
                        <app-alert></app-alert>
                        <app-loading></app-loading>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Conta</label>
                              <select (change)="getContaContrato()" class="form-control"
                                [(ngModel)]="this.facturacao.cliente.conta_id" name="conta_id">
                                <option selected [value]="null">Selecione a conta</option>
                                <option *ngFor="let conta_cliente of contas_clientes" [value]="conta_cliente.id">
                                  {{conta_cliente.contaDescricao }} - {{conta_cliente.numero_conta}}
                                </option>
                              </select>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Contrato</label>
                              <select class="form-control" [(ngModel)]="this.facturacao.cliente.contrato_id"
                                name="contrato_id" (change)="contaServicoSeleciona($event.target.value)">
                                <option selected [value]="null">Selecione o contrato</option>
                                <option *ngFor="let contrato_conta_cliente of contratos_conta_cliente"
                                  [value]="contrato_conta_cliente.id"> {{contrato_conta_cliente.id }}
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>

                        <div class="row" *ngIf="this.contrato">
                          <div class="col-md-12">
                            <label class="modal-title" for="morada_do_contrato">Morada do contrato</label>
                            <p>{{this.contrato.morada_contrato ? this.contrato.morada_contrato : 'Sem Morada do
                              contrato'}}</p>
                          </div>
                        </div>
                      </div>

                      <!-- Modal footer -->
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"
                          (click)="cancelarConta()">Cancelar</button>
                        <button type="button" (click)="confirmarConta();" class="btn btn-outline-primary btn-sm"
                          *ngIf="!activeButtom.cliente">Confirmar</button>
                        <button type="button" class="btn btn-default" awNextStep *ngIf="activeButtom.cliente"
                          (click)="selectedClienteComConta(0)" data-dismiss="modal">
                          Continuar <i class="fa fa-arrow-right"></i>
                        </button>
                      </div>

                    </div>
                  </div>
                </div>

                <!-- The Modal -->
                <div class="modal modal-info fade in" id="telefoneClienteModal" data-backdrop="static">
                  <div class="modal-dialog modal-lg" style="max-width: 1000px">
                    <div class="modal-content">

                      <!-- Modal Header -->
                      <div class="modal-header">
                        <h4 class="modal-title">Pesquisar Cliente por Número serviço</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>

                      <!-- Modal body -->
                      <div class="modal-body">
                        <app-alert></app-alert>
                        <app-loading></app-loading>
                        <div class="row">
                          <div class="col-md-8">
                            <div class="form-group">
                              <label>Número de serviço:</label>

                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fa fa-search"></i></span>
                                </div>
                                <input type="text" [(ngModel)]="numero_telefone" class="form-control"
                                  placeholder="Digite o número de serviço do cliente">
                              </div>
                              <!-- /.input group -->
                            </div>
                          </div>

                        </div>
                      </div>

                      <!-- Modal footer -->
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger btn-sm"
                          data-dismiss="modal">Cancelar</button>
                        <button type="button" (click)="numeroTelefone();" class="btn btn-outline-primary btn-sm"
                          data-dismiss="modal"><i class="fa fa-search"></i> Pesquisar</button>
                      </div>

                    </div>
                  </div>
                </div>
              </aw-wizard-step>

              <aw-wizard-step stepTitle="Procurar Produto">

                <!-- info row --><br>
                <div class="row invoice-info section2">
                  <div class="col-sm-4 invoice-col">
                    <b>EMPRESA</b>
                    <address>
                      <strong>{{currentUser.user.empresa.companyName | titlecase}}</strong><br>
                      {{currentUser.user.empresa.addressDetail}}, {{currentUser.user.empresa.pronvice}}<br>
                      {{currentUser.user.empresa.city}}<br>
                      Telefone: {{currentUser.user.empresa.telefone}}<br>
                      Email: {{currentUser.user.empresa.email}}
                    </address>
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-4 invoice-col">
                    <b>CLIENTE</b>
                    <address>
                      <strong>Nome:</strong> {{facturacao.cliente.nome}}<br>

                      Morada: {{facturacao.cliente.morada}}<br>
                      Telefone: {{facturacao.cliente.telefone}}<br>
                      NIF: {{facturacao.cliente.contribuinte}}<br>
                    </address>

                  </div>
                  <!-- /.col -->
                  <div class="col-sm-4 invoice-col">

                    <address *ngIf="contrato != null">
                      <strong>Tarifário:</strong> {{contrato.tarifario_descricao}}<br>
                      <b>Conta & Contrato</b><br>
                      <strong>Conta:</strong> {{ contrato.contaDescricao}}<br>
                      <strong>Contrato :</strong> {{ contrato.id }}
                      <br>
                    </address>

                  </div>

                </div>
                <!-- /.row -->


                <div class="row">
                  <div class="col-md-6">
                    <!-- /.card -->
                    <div class="card card card-widget">
                      <div class="card-header">
                        <div class="user-block">
                          <div class="col-md-12">
                            Selecionar Serie
                            <select class="form-control" #serie (change)="selectedSerie()"
                              [(ngModel)]="facturacao.serie.id" name="serie_id">
                              <option value="{{ serie.id }}" *ngFor="let serie of series"
                                [selected]="serie.sigla=='FT'">Serie: {{ serie.nome }} - {{ serie.documento }}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body p-0">
                        <div class="alert alert-info alert-dismissible" *ngIf="(facturacao.serie.id ==null)"
                          style="border: 0;border-radius: 0; margin: 8px;">
                          <h5><i class="icon fa fa-info"></i> Nenhuma serie selecionada! </h5>
                        </div>
                        <div class="alert alert-success alert-dismissible" *ngIf="(facturacao.serie.id != null)"
                          style="border: 0;border-radius: 0; margin: 8px;">
                          <h5><i class="icon fa fa-check"></i> Foi selecionada uma serie!</h5>
                        </div>
                      </div>
                      <!-- /.card-body -->
                    </div>

                    <div class="card card card-widget">
                      <div class="card-header">
                        <div class="user-block">
                          <div class="col-md-12">
                            <input type="text" value="" #search placeholder="Nome do produto" class="form-control"
                              (keyup)="getProduto($event.target.value)">
                            <i class="fa fa-search"
                              style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                          </div>
                        </div>
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body p-0" *ngIf="items_produtos" style="height: 276px;overflow: auto;">
                        <app-loading></app-loading>
                        <table class="table table-striped text-center">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Serviço</th>
                              <th>Tipo</th>
                              <th class="text-center">Incidência</th>
                              <th>Imposto</th>
                              <th>Valor</th>
                              <th style="width: 12%;">Acção</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of items_produtos; index as i">
                              <td>{{i+1}}</td>
                              <td>{{ item.servico }}</td>
                              <td>{{ item.tipo_produto }}</td>
                              <td class="text-center"><span *ngIf="item.incidencia;else dataEmpty">{{ item.incidencia
                                  }}</span></td>
                              <td>{{ item.imposto + ' (' + configService.numberFormat(item.imposto_valor) + ')' }}</td>
                              <td class="text-right">{{ configService.numberFormat(item.servico_valor) }} AOA</td>
                              <td>
                                <button *ngIf="item.servico_id" class="btn btn-primary mr-1 btn-sm" type="submit"
                                  data-style="expand-left" data-toggle="modal" data-target="#myModal"
                                  (click)="refreshProdutoId(item)">
                                  <i class="fa fa-plus"></i>
                                </button>
                              </td>

                            </tr>

                          </tbody>
                        </table>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                  </div>

                  <div class="col-md-6">
                    <div class="card card-default">

                      <div class="card-header">
                        <h3 class="card-title">Produtos selecionados</h3>

                        <!-- /.card-tools -->
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body">

                        <div style="height:  407px; overflow: auto;">
                          <table class="table table-hover table-bordered table-striped text-center">
                            <tbody>
                              <tr>
                                <th width="100">#</th>
                                <th width="368">Produto</th>
                                <th width="125">Qtd</th>
                                <th width="137">Valor</th>
                                <th>Desconto</th>
                                <th>Imposto</th>
                                <th width="130">Total</th>
                                <th width="130">Moeda</th>
                                <th style="width: 16%;">Acção</th>
                              </tr>
                              <tr *ngFor="let produt of facturacao.produto; index as i">
                                <td>{{i+1}}</td>
                                <td>{{ produt.nome }}</td>
                                <td>{{ produt.quantidade }}</td>
                                <td>{{ configService.numberFormat(produt.valor) }} AOA</td>
                                <td>{{ configService.numberFormat(produt.desconto) }} AOA</td>
                                <td>{{ configService.numberFormat(produt.valorImposto) }} AOA</td>
                                <td>{{ configService.numberFormat(produt.total) }} AOA</td>
                                <td>AOA</td>
                                <td>
                                  <div class="btn-group">
                                    <button class="btn" id="remove" (click)="deleteRow(produt)">Excluir</button>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="table-responsive">
                          <table class="table">
                            <tbody>
                              <tr>
                                <th width="150" style="background: #f2f2f2;">Total:</th>
                                <td>{{ configService.numberFormat(facturacao.total) }} AOA</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                  </div>
                </div>

                <hr>
                <div class="row">
                  <div class="col text-center">
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-default" awPreviousStep><i class="fa fa-arrow-left"></i>
                        Anterior</button>
                      <button type="button" class="btn btn-default"
                        *ngIf="facturacao.produto.length > 0 && facturacao.total !=0" awNextStep> Próximo <i
                          class="fa fa-arrow-right"></i></button>
                    </div>
                  </div>
                </div>
              </aw-wizard-step>

              <aw-wizard-step stepTitle="Finalizar">
                <hr>
                <form (submit)="facturar($event)">
                  <section class="content">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-12">
                          <!-- Main content -->
                          <div class="invoice p-3 mb-3">
                            <app-loading></app-loading>
                            <!-- title row -->

                            <!-- info row --><br>
                            <div class="row invoice-info">
                              <div class="col-sm-4 invoice-col">
                                <b>EMPRESA</b>
                                <address>
                                  <strong>{{currentUser.user.empresa.companyName | titlecase}}</strong><br>
                                  {{currentUser.user.empresa.addressDetail}}, {{currentUser.user.empresa.pronvice}}<br>
                                  {{currentUser.user.empresa.city}}<br>
                                  Telefone: {{currentUser.user.empresa.telefone}}<br>
                                  Email: {{currentUser.user.empresa.email}}
                                </address>
                              </div>
                              <!-- /.col -->
                              <div class="col-sm-4 invoice-col">
                                <b>CLIENTE</b>
                                <address>
                                  <strong>Nome:</strong> {{facturacao.cliente.nome}}<br>

                                  Morada: {{facturacao.cliente.morada}}<br>
                                  Telefone: {{facturacao.cliente.telefone}}<br>
                                  NIF: {{facturacao.cliente.contribuinte}}<br>
                                </address>

                              </div>
                              <!-- /.col -->
                              <div class="col-sm-4 invoice-col">
                                <address *ngIf="contrato != null">
                                  <strong>Tarifário:</strong> {{contrato.tarifario_descricao}}<br>
                                  <b>Conta & Contrato</b><br>
                                  <strong>Conta:</strong> {{ contrato.contaDescricao}}<br>
                                  <strong>Contrato :</strong> {{ contrato.id }}
                                  <br>
                                </address>
                              </div>
                              <!-- /.col -->
                            </div>
                            <!-- /.row -->

                            <!-- Table row -->
                            <div class="row">
                              <div class="col-12 table-responsive">
                                <table class="table text-center table-striped ">
                                  <thead>
                                    <tr>
                                      <th>#</th>
                                      <th>Qtd</th>
                                      <th>Nome</th>
                                      <th>Valor</th>
                                      <th>Desconto</th>
                                      <th>Imposto</th>
                                      <th>Subtotal</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let produto of facturacao.produto; index as i">
                                      <td>{{(i+1)}}</td>
                                      <td>{{ produto.quantidade }}</td>
                                      <td>{{ produto.nome }}</td>
                                      <td>{{ configService.numberFormat(produto.valor) }}</td>
                                      <td>{{ configService.numberFormat(produto.desconto) }}</td>
                                      <td>{{ configService.numberFormat(produto.valorImposto) }}</td>
                                      <td>{{ configService.numberFormat(produto.total) }}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                              <!-- /.col -->
                            </div>
                            <!-- /.row -->

                            <div class="row">
                              <!-- /.col -->
                              <div class="col-9">
                                <div class="table-responsive">
                                  <table class="table text-center table-striped">
                                    <tbody>
                                      <tr style="background:#fff; width: 212px;" *ngIf="facturacao.serie.sigla !='FR'">
                                        <th>Data de Vencimento</th>
                                        <td colspan="3">
                                          <input type="date" name="data_vencimento"
                                            [(ngModel)]="facturacao.data_vencimento" class="form-control" required>
                                        </td>
                                      </tr>
                                      <!--
                                      <tr style="background:#fff;width: 212px;" *ngIf="facturacao.serie.sigla !='FR'">
                                        <th>Selecione a moeda</th>
                                        <td colspan="3">
                                          <select class="form-control" [(ngModel)]="facturacao.moeda" name="moeda">
                                            <option value="{{ moeda.id }}" *ngFor="let moeda of configService.moedas" [selected]="moeda.codigo_iso==1">
                                              {{ moeda.nome }} ({{ moeda.codigo_iso }})
                                            </option>
                                          </select>
                                        </td>
                                      </tr>
                                      -->
                                      <tr style="background:#fff" *ngIf="facturacao.serie.sigla !='FR'">
                                        <!--
                                                  <th>Conta Bancaria</th>
                                        <td class="text-left" colspan="6"> Seleccione as contas bancarias na lista
                                          abaixo <br /><br />
                                          <div class="row">
                                            <div class="col-md-6" *ngFor="let banco of configService.bancos"
                                              style="background: #eee; padding: 15px 10px 10px 10px;border: 1px solid #dee2e6;">
                                              <div class="row">
                                                <div class="col-md-9">

                                                  <b>Banco:</b> {{ banco.abreviatura }}<br />
                                                  <b>Conta:</b> {{ banco.numero_conta }}<br />
                                                  <b>IBAN:</b> {{ banco.iban }}

                                                </div>
                                                <div class="col-md-1"><input type="checkbox" name="banco_id"
                                                    (click)="updateBancList(banco)"> </div>
                                              </div>
                                            </div>
                                          </div>
                                        </td>
                                        -->
                                      </tr>
                                      <tr *ngIf="facturacao.serie.sigla=='FR'">
                                        <th>Forma Pagamento</th>
                                        <th>Quantia paga</th>
                                        <th>Quantia a Pagar</th>
                                        <th>Referência Bancaria</th>
                                        <th>Data Pagamento</th>
                                        <th><i class="fa fa-check"></i></th>
                                      </tr>
                                      <tr *ngIf="facturacao.serie.sigla=='FR'">
                                        <td width="211">
                                          <select class="form-control"
                                            [(ngModel)]="facturacao.pagamento.forma_pagamento_id"
                                            (change)="isPagamento(); listMovimentoAdiantamentoCliente();"
                                            name="forma_pagamento_id">
                                            <option selected [value]="null">F. Pagamento</option>
                                            <option value="{{ forma.id }}" *ngFor="let forma of formasPagamentos">
                                              {{ forma.designacao }}</option>
                                          </select>
                                        </td>
                                        <td>
                                          <input type="number" class="form-control"
                                            [(ngModel)]="facturacao.pagamento.valor_recebido" name="valor_recebido"
                                            [disabled]="disabledPagamentoAdiantamento" placeholder="Valor Entrada"
                                            [value]="facturacao.total">
                                        </td>

                                        <td width="290">
                                          <div class="form-control noselect"
                                            style="background: #f8f9fa; border: 1px solid #0099FF;">
                                            {{ configService.numberFormat(facturacao.total) }}
                                          </div>
                                        </td>
                                        <td>
                                          <input type="text" class="form-control"
                                            [(ngModel)]="facturacao.pagamento.referencia" name="referencia"
                                            placeholder="Referência bancaria" [disabled]="disabledPagamento">
                                        </td>
                                        <td>
                                          <input type="date" class="form-control"
                                            [(ngModel)]="facturacao.pagamento.data_pagamento" name="data_pagamento"
                                            [disabled]="disabledPagamento">
                                        </td>
                                        <td>
                                          <button class="btn btn-success" type="button" title="Adicionar Item"
                                            (click)="addLinhaPagamentos()"><i class="fa fa-plus"></i> Adicionar</button>
                                        </td>
                                      </tr>
                                      <tr
                                        *ngIf="(adiantamento=='Adiantamento' || adiantamento=='adiantamento') && facturacao.pagamento.forma_pagamento_id !=null">
                                        <td colspan="2">
                                          <h5 style="padding: 10px;background: #0099FF;color: #fff;"><i
                                              class="fa fa-money"></i> Adiantamentos</h5>
                                          <table *ngIf="facturacao.serie.sigla=='FR'"
                                            class="table text-center table-striped table-bordered">
                                            <tbody>
                                              <tr>
                                                <th><i class="fa fa-check"></i></th>
                                                <th>Valor</th>
                                              </tr>
                                              <tr *ngFor="let a of listMovimento; index as i">
                                                <td><input type="checkbox" name="ad" (click)="setAdianta(a)"
                                                    style="opacity: 1;"></td>
                                                <td>{{configService.numberFormat(a.valor)}}</td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                      <tr>
                                        <th>Observação</th>
                                        <th colspan="6"><textarea class="form-control" #observacao rows="1"
                                            placeholder="Escreve aqui uma observação"></textarea></th>

                                      <tr>
                                        <th>Leitura</th>
                                        <th colspan="6"><input type="number" class="form-control" #leitura rows="1"
                                            placeholder="Escreve aqui a leitura"></th>

                                      <tr>
                                      <tr>
                                        <th colspan="7"> </th>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <h5 style="padding: 10px;background: #0099FF;color: #fff;"><i class="fa fa-money"></i>
                                    Pagamentos</h5>
                                  <table *ngIf="facturacao.serie.sigla=='FR'"
                                    class="table text-center table-striped table-bordered">
                                    <tbody>
                                      <tr>
                                        <th>Meio Pagamento</th>
                                        <th>Quantia paga</th>
                                        <th>Referência Bancaria</th>
                                        <th>Data Pagamento</th>
                                        <th>Excluir Item</th>
                                      </tr>
                                      <tr *ngFor="let linha of facturacao.pagamento.linha_pagamentos; index as i">
                                        <td>{{linha.designacao}}</td>
                                        <td>{{configService.numberFormat(linha.valor_entrada)}}</td>
                                        <td>{{linha.referencia_banco}}</td>
                                        <td>{{linha.data_pagament}}</td>
                                        <td>
                                          <div class="btn-group">
                                            <button type="button" class="btn  btn-info" id="remove"
                                              (click)="deleteRowFormaPagamento(linha)">Exluir</button>
                                          </div>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <div class="col-3">

                                <div class="table-responsive">
                                  <table class="table">
                                    <tbody>
                                      <tr>
                                        <th colspan="2">Factura</th>
                                      </tr>
                                      <!--
                                      <tr>
                                        <td colspan="2">Data de emissão ___/___/____</td>
                                      </tr>
                                      -->
                                      <tr>
                                        <th style="width:50%">Subtotal:</th>
                                        <td>{{configService.numberFormat(facturacao.totalSemImposto)}}</td>
                                      </tr>
                                      <tr>
                                        <th>Imposto</th>
                                        <td>{{configService.numberFormat(facturacao.totalComImposto)}}</td>
                                      </tr>
                                      <tr>
                                        <th>Total:</th>
                                        <td>{{ configService.numberFormat(facturacao.total) }}</td>
                                      </tr>

                                      <!--
                                      <tr>
                                        <th>Quantia paga:</th>
                                        <td>{{ configService.numberFormat(facturacao.pagamento.total_valor_recebido) }}
                                        </td>
                                      </tr>

                                      <tr>
                                        <th>Troco:</th>
                                        <td>{{ configService.numberFormat(facturacao.pagamento.troco) }}</td>
                                      </tr>
                                      -->

                                      <tr *ngIf="facturacao.pagamento.troco > 0" style="background: rgba(0,0,0,.075);">
                                        <th>Desejas fazer Adiantamento com troco?</th>
                                        <td>
                                          <select class="form-control" [disabled]="true"
                                            [(ngModel)]="facturacao.pagamento.is_adiantamento" name="is_adiantamento">
                                            <option value="1">Não</option>
                                            <option value="0">Sim</option>
                                          </select>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <!-- /.col -->
                            </div>

                          </div>
                          <!-- /.invoice -->
                        </div><!-- /.col -->
                      </div><!-- /.row -->
                    </div><!-- /.container-fluid -->
                    <div>
                    </div>
                  </section>
                  <div class="row">
                    <div class="col text-center">
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-default" awPreviousStep *ngIf="isFinalizar"><i
                            class="fa fa-arrow-left"></i>
                          Anterior</button>
                        <button class="btn btn-success" *ngIf="isFinalizar"> Finalizar <i
                            class="fa fa-save"></i></button>
                      </div>
                    </div>
                  </div>
                </form>
              </aw-wizard-step>

            </aw-wizard>
          </div>



        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- The Modal -->
  <div class="modal modal-info fade in" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Quantidade do produto</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">

            <div class="col-md-12" *ngIf="produto_selecionado==null">
              <div class="form-group">
                <label class="control-label"><i class="fa fa-edit"></i> Preço</label>
                <input type="number" name="preco" [(ngModel)]="preco" class="form-control"
                  placeholder="Define um preço para este artigo/serviço">
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label for="exampleInputEmail1"><i class="fa fa-sort-numeric-asc"></i> Quantidade</label>
                <input type="number" class="form-control" id="exampleQunatidade" placeholder="Quantidade" maxlength="3"
                  [(ngModel)]="quantidade">
              </div>
            </div>

            <div class="col-md-6" *ngIf="http.canActivateRouterLink('atribuir_desconto')">
              <div class="form-group">
                <label for="exampleInputEmail1"><i class="fa fa-sort-numeric-asc"></i> Desconto %</label>
                <input type="number" class="form-control" id="exampleDesconto" maxlength="3" placeholder="Desconto"
                  [(ngModel)]="desconto">
              </div>
            </div>

          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-outline-primary btn-sm" data-dismiss="modal"
            (click)="getAddProduto()">Adicionar</button>
        </div>

      </div>
    </div>
  </div>



  <br><br><br>

  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>