<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Enviar Relatórios Diário</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Listagem</a></li>
              <li class="breadcrumb-item active">Tipos de Utilizadores</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body" style="padding: 13px 10px 4px 10px;">
                <div class="row">
                  <div class="col-1">
                    <select name="perPage" (change)="getPageFilterData($event)"
                      [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
                      <option value="1">Entrada</option>
                      <option value="5" selected>5</option>
                      <option value="10">10</option>
                      <option value="25">25</option>
                    </select>
                    <small>Entradas</small>
                  </div>
                  <div class="col-md-5">
                    <input type="text" name="search" [(ngModel)]="this.http.filters.search" placeholder="Pesquisar..."
                      class="form-control" (keyup)="getPageFilterData($event)">
                    <i class="fa fa-search"
                      style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                    <small>Pesquisar por Slug, Nome, Descrição</small>
                  </div>

                  <div class="col-2">
                    <select (change)="getPageFilterData($event)" [(ngModel)]="this.http.filters.orderBy"
                      class="form-control">
                      <option [ngValue]="null">Ordernar</option>
                      <option value="slug">Slug</option>
                      <option value="name">Nome</option>
                      <option value="description">Descrição</option>

                    </select>
                    <small>Ordernação</small>
                  </div>

                  <div class="col-1">
                    <button type="button" class="btn btn-blockk btn-info" (click)="getPageFilterData($event)"><i
                        class="fa fa-search"></i> Filtrar</button>
                  </div>
                </div>

              </div>
            </div>


            <div class="card">
              <app-loading></app-loading>
              <div class="card-header">
                <h3 class="card-title">Listagem Tipo de Utilizadores</h3>
                <div class="card-tools">

                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive">
                <table class="table table-hover table-bordered table-striped text-center">
                  <tbody>
                    <tr>
                      <th>#</th>
                      <th>Slug</th>
                      <th>Nome</th>
                      <th>Descrição</th>                    
                      <th>Operação</th>

                    </tr>
                    <tr
                      *ngFor="let item of items | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                      <td>{{ i + 1 }}</td>
                      <td>{{ item.slug }}</td>
                      <td>{{ item.name }}</td>
                      <td>{{ item.description }}</td>
                      <td>
                        
                        <button type="button" class="btn btn-info  btn-flat btn-sm"
                        (click)="enviarFactura(item.id)"><i class="fa fa-envelope"></i> Enviar</button>
                        
                      </td>

                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer clearfix">
                <div class="row">
                  <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                      {{this.http.filters.pagination.perPage}} de
                      {{this.http.filters.pagination.total}} Registos
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-7">
                    <div class="pull-right">
                      <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior" maxSize="6"
                        nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->

  </div>

  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>
