<div class="modal modal-info fade in" id="circuito_empresarial_crm" data-backdrop="static">
  <div class="modal-dialog modal-lg " style="max-width: 1000px;">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa icon fa-credit-card"></i> Novo pedido</h4>
        <button type="button" class="close" (click)="hideBotton()" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <app-loading></app-loading>
        <app-alert></app-alert>
        <h3 style="padding: 15px 10px; background: #0099FF; color: #ffffff;">Cliente: {{ cliente.nome }}</h3>
        <hr>

        <div class="row">

          <div class="col-md-6">
            <div class="form-group">
              <label>Tarifário</label>
              <select class="form-control" name="tarifario" [(ngModel)]="pedido.tarifario">
                <option selected [ngValue]="null">Selecione</option>
                <option value="{{ tarifa.id }}" *ngFor="let tarifa of selectForms.tarifarios"> {{ tarifa.descricao }} </option>
              </select>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label>Telefone</label>
              <input type="text" name="telefone" [(ngModel)]="pedido.telefone" class="form-control"
                placeholder="Telefone">
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label>Data Pedido</label>
              <input type="date" name="dataPedido" [(ngModel)]="pedido.dataPedido" class="form-control"
                placeholder="Data Pedido">
            </div>
          </div>

          <div class="col-md-6" >
            <div class="form-group">
              <label>Capacidade</label>
              <input type="text" name="dataPedido" [(ngModel)]="pedido.capacidade" class="form-control"
                placeholder="Capacidade">
            </div>
          </div>

          <div class="col-md-6" >
            <div class="form-group">
              <label>Origem</label>
              <input type="text" name="dataPedido" [(ngModel)]="pedido.origem" class="form-control"
                placeholder="Origem">
            </div>
          </div>

          <div class="col-md-6" >
            <div class="form-group">
              <label>Destino</label>
              <input type="text" name="dataPedido" [(ngModel)]="pedido.destino" class="form-control"
                placeholder="Destino">
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label for="morada"><i class="fa fa-home" aria-hidden="true"></i> Observacao</label>
              <textarea [(ngModel)]="pedido.observacao" name="observacao" value="" class="form-control"
                placeholder="Observação"></textarea>
            </div>
          </div>

        </div>



      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="hideBotton()" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-outline-primary btn-sm" (click)="registerPedido()">Registar</button>
      </div>


    </div>
  </div>
</div>