<!-- The Modal -->
<div class="modal modal-info fade in" id="{{modalClienteCreateOrEdit}}" data-backdrop="static">
    <div class="modal-dialog modal-lg " style="max-width: 1350px;">
        <div class="modal-content">
            <!-- Modal Header -->
            <form [formGroup]="simpleFormCliente" (submit)="onSubmit();">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa icon-users nav-icon"></i> {{ title }}</h4>
                    <button id="closeModalCliente" class="close" type="button" (click)="onReset()" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" style="padding: 2rem;">
                    <ngx-loading [show]="loadingModal"></ngx-loading>


                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Provincia</label>
                                <select
                                    class="form-control"
                                    required
                                    formControlName="provincia_id"
                                    (change)="selectBoxMunicipiosByProvincia()"
                                    [ngClass]="{ 'is-invalid': submitted && f.provincia_id.errors, 'is-valid': f.provincia_id.touched && !f.provincia_id.errors }"
                                >
                                    <option [value]="null">Província</option>
                                    <option *ngFor="let item of selectForms.provincias" [value]="item.id"> {{item.nome}}</option>
                                </select>
                                <div *ngIf="submitted && f['provincia_id'].errors" class="invalid-feedback">
                                    <div *ngIf="f['provincia_id'].errors.required">O campo provincia é obrigatório</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Município</label>
                                <select class="form-control"
                                        required
                                        formControlName="municipio_id"
                                        [ngClass]="{ 'is-invalid': submitted && f.municipio_id.errors, 'is-valid': f.municipio_id.touched && !f.municipio_id.errors }"
                                    >
                                    <option [value]="null">Município</option>
                                    <option *ngFor="let item of selectForms.municipios" [value]="item.id">{{item.nome}}</option>
                                </select>
                                <div *ngIf="submitted && f['municipio_id'].errors" class="invalid-feedback">
                                    <div *ngIf="f['municipio_id'].errors.required">O campo município é obrigatório</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="morada"> Morada</label>
                                <input type="text"
                                    formControlName="morada"
                                    class="form-control"
                                    required
                                    placeholder="Morada"
                                    [ngClass]="{ 'is-invalid': submitted && f.morada.errors, 'is-valid': f.morada.touched && !f.morada.errors }"
                                    (change)="$event.target.value = $event.target.value.toUpperCase()"
                                >
                                <div *ngIf="submitted && f['morada'].errors" class="invalid-feedback">
                                <div *ngIf="f['morada'].errors.required">O campo morada é obrigatório</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="btn btn-danger btn-sm" type="reset" [disabled]="simpleFormCliente.pristine && !submitted" (click)="onReset()">Limpar</button>
                    <button class="btn btn-success btn-sm mr-1" type="submit" [disabled]="simpleFormCliente.valid">Validar</button>
                    <button class="btn btn-primary mr-1 btn-sm" type="submit" [disabled]="simpleFormCliente.pristine || simpleFormCliente.invalid" data-style="expand-left">
                        <i class="fa fa-save"></i> Registar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
