<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Pré-Facturacão</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Vendas</a></li>
              <li class="breadcrumb-item">Facturação</li>
              <li class="breadcrumb-item active">Charge</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <section class="content"> 
    <div class="modall modal-info fadee" id="myModa" data-backdrop="static">
      <div class="modal-dialog nota-credito-modal-lg" style="max-width: 100%;">
        <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-plus-circle"></i> Pesquisar Cliente</h4>
          </div>
          <!-- Modal body  -->
          <app-loading></app-loading>
          <div class="modal-body" >
            <div class="row"  style="max-width: 90%">
              <div class="col-1"> 
                <label style="color: white;">SPACE</label>
                <select name="perPage" (change)="getPageFilterData($event)"
                  [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
                  <option value="1">Entrada</option>
                  <option value="5" selected>5</option>
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="{{this.http.filters.pagination.total}}">Todos</option>
                </select>
              </div>
              <div class="col-md-2 col-sm-6 col-xs-6">
                <label style="color: white;">SPACE</label>
                <div class="form-groupp">
                  <div class="input-group">
                    <input type="text" placeholder="Digite o nome do cliente" type="text"
                      name="search" [(ngModel)]="this.http.filters.search" class="form-control"
                      (keyup)="getPageFilterData($event)"> 
                  </div>
                  <!-- /.input group -->
                </div>
              </div>

              <!--<div class="col-md-1 col-xs-3">
                <label>Local Consumo</label>
                <div class="input-group mb-3"> 
                <input type="text" [(ngModel)]="this.filter.chaveServico" class="form-control" placeholder="chave serviço" (keyup)="getPageFilterData($event)">
                </div>
              </div> -->

               

              <div class="col-md-2 col-xs-3">
                <label>Gestor Conta</label>
                <div class="input-group mb-3">
                  <select name="gestor"  [(ngModel)]="this.filter.gestor" class="form-control" (change)="getPageFilterData($event)">
                    <option [ngValue]="null">Gestor</option>
                    <option Value="T">Todos</option>
                    <option value="{{direccao.gestor_conta}}" *ngFor="let direccao of gestores">
                      {{ direccao.gestor_conta}}</option>
                  </select>
                </div>
              </div> 

              <div class="col-md-1 col-xs-2">
                <label >Ano</label>
                <div class="input-group mb-3">
                  <select class="form-control" [(ngModel)]="this.filter.ano" name="ano" >
                    <option value="null">Ano</option>
                    <option value="{{ n }}" *ngFor="let n of anos">{{ n }}</option>
                  </select>
                </div>
              </div> 

              <div class="col-md-1 col-xs-2">
                <label >Mês</label>
                <div class="input-group mb-3">
                  <select class="form-control" [(ngModel)]="this.filter.mes" name="mes">
                    <option value="null">Mês</option>
                    <option value="{{ n.numero }}" *ngFor="let n of meses">{{ n.nome }}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-1 col-xs-2">
                <label >Facturação</label>
                <div class="input-group mb-3">
                  <select class="form-control" [(ngModel)]="this.filter.is_facturado" name="is_facturado" (change)="getPageFilterData($event)">
                    <option value="null">Facturação</option> 
                    <option value="T">Todos</option> 
                    <option value="1"> Facturado</option> 
                    <option value="0">Não Facturado</option> 
                  </select>
                </div>
              </div> 
                  <!-- /.input group -->
              <div class=" col-md-1 col-xs-3 col-sm-4">
                <label style="color: white;">D</label>
                <div class="  form-group">
                  <div class="input-group">
                    <div class="btn-group">
                      <button type="button"
                      class="btn btn-primary btn-flat mr-1 btn-smm" type="button"
                       (click)="getPageFilterData($event)"><i class="fa fa-search"></i> Filtrar</button>
                      <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle dropdown-icon btn-flat"
                          data-toggle="dropdown" aria-expanded="false"
                          > <i class="fa fa-download"></i>
                          Exportação
                        </button>
                        <div class="dropdown-menu" x-placement="bottom-start" style="left: 40px;">
                         <!-- <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsPDF();"><i
                              class="fa fa-file-pdf-o"></i>
                            PDF</a>-->
                          <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsXLSX();"><i
                              class="fa fa-file-excel-o"></i> Excel</a>
                        </div>
                        <button  class="btn btn-primary btn-flat" data-target="#registarModal" data-toggle="modal" type="button"><i  class="fa fa-plus"></i> Local Consumo</button>
                      </div>
                     <!-- <button type="button" class="btn btn-info btn-flat" (click)="imprimirPDF()"><i class="icon-printer"></i>
                        Imprimir</button>-->
                      <!--<button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#modalClienteCreateOrEdit"
                              (click)="setDataCliente(undefined);getProvincias();iniCliente();listarTipoClientes();listarTipoIdentidades();listarDireccao() "><i
                                class="fa fa-plus"></i> Registar</button>-->
                    </div>
                  </div>
                  <!-- /.input group -->
                </div>
              </div>
            </div>
            <hr>
            
            
            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <h5 class="p-10" style="padding: 17px; background: #f8f9fa;">LISTAR CHARGE DE FATURAÇÃO</h5>
          
                <div>
                  <table class="table table-hover table-bordered table-stripedd text-center m-0 table-valign-middle exportAsXLSXCliente">
                    <ngx-loading [show]="loading"></ngx-loading>
                    <tbody>
                      <tr class="text-center" style="color: #fff; background: #0099FF;">
                        <th>#</th>
                        <th>Cliente</th> 
                        <th>Gestor</th>
                        <th>Nº Conta</th>
                        <th>Serviço</th>
                        <th>InvoiceText</th>
                        <th>Valor Actual</th>
                        <th>Periodo</th>
                        <th>Roteiro</th>
                        <th>Tipo</th>                        
                        <th>Estado</th> 
                        <th>Acção</th>
                      </tr>
                    </tbody>
                    <tbody>
                      <tr
                        *ngFor="let charge of charges | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                        <td>{{ charge.id }}</td>
                        <td>{{charge.cliente }}</td> 
                       <td class="text-center">{{charge.gestor_conta }}</td>
                        <td class="text-center">{{charge.conta_id }}</td>
                        <td class="text-center">{{charge.chaveServico }}</td>
                        <td style="width: 250px;" class="text-center"> {{ charge.invoiceText }}</td>

                        <td style="width: 250px; background: rgba(40, 167, 69, 0.22);" class="text-center">
                          {{ configService.numberFormat(charge.valor) }}</td>
                          <td class="text-center">{{charge.periodo }}</td>
                          <td class="text-center" width="90">{{charge.rota }}</td> 
                          <td class="text-center" width="90">{{charge.facturacao }}</td> 
                        <td width="90"> 
                          <span class="btn bg-warning btn-block btn-flat" *ngIf="charge.is_facturado ==0">Não
                            Facturado</span>
                            <span class="btn bg-success btn-block btn-flat"
                            *ngIf="charge.is_facturado ==1">Facturado</span>
                            <span class="btn bg-danger btn-block btn-flat"
                            *ngIf="charge.is_facturado == 2">Anulado</span>
                        </td> 
                        
                        <td width="90"> 
                          <div class="btn-group btn-block">
                            <button type="button" class="btn btn-info btn-flat btn-sm btn-block"
                              data-toggle="dropdown">Opções</button>
                            <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown"
                              aria-expanded="false">
                              <span class="caret"></span>
                              <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                              style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(67px, 38px, 0px);">

                              <a href="javascript:void(0)" class="dropdown-item btn-sm" 
                                data-toggle="tooltip" data-widget="chat-pane-toggle" title="Editar" *ngIf="charge.is_facturado == 0"
                                (click)="setCharge(charge)" data-toggle="modal"
                                data-target="#myChargeUpdateModal"> <i class="fa fa-edit"></i> Ajustar Valor
                              </a>

                              <a href="javascript:void(0)" class="dropdown-item btn-sm" 
                                data-toggle="tooltip" data-widget="chat-pane-toggle" title="Editar" *ngIf="charge.is_facturado == 0"
                                (click)="setCharge(charge)" data-toggle="modal"
                                data-target="#anularModal"> <i class="fa fa-adn"></i> Anular
                              </a>

                            </div>
                          </div>
                        </td>

                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                      {{this.http.filters.pagination.perPage}} de
                      {{this.http.filters.pagination.total}} Facturações
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-7">
                    <div class="pull-right">
                      <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior" maxSize="6"
                        nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                    </div>

                  </div>
                </div>
              </div>


            </div>
          </div>

        </div>
      </div>
    </div>
    </section>

    


    <div class="modal modal-info fade in" id="myChargeUpdateModal" data-backdrop="static">
      <div class="modal-dialog modal-lg" style="max-width: 1085px;">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Ajuste de Valores</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="reset()">&times;</button>
          </div>
          <ngx-loading [show]="loadingCharge"></ngx-loading>
          <!-- Modal body -->
          <div class="modal-body">
            <app-alert></app-alert>
            <div class="row">
              <div class="col-md-2">
                <div class="form-group">
                  <label for="nome"> #Charge</label> 
                  <input type="text" value="{{ charge.charge_id }}" class="form-control" placeholder="Cliente" disabled>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="nome"> Cliente</label> 
                  <input type="text" value="{{ charge.nome }}" class="form-control" placeholder="Cliente" disabled>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="nome"> Serviço</label> 
                  <input type="text" value="{{ charge.chaveServico }}" class="form-control" placeholder="Serviço" disabled>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="nome"> InvoiceText</label> 
                  <input type="text" value="{{ charge.invoiceText }}" class="form-control" placeholder="InvoiceText" disabled>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label"> Valor Actual</label>
                  <input type="text" name="valor_new" [(ngModel)]="charge.valor_old" class="form-control" disabled>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label"> Valor Novo</label>
                  <input type="number" name="valor_new" [(ngModel)]="charge.valor_new" class="form-control"
                    placeholder="Define um novo valor">
                </div>
              </div>

              <div class="col-md-12" style="padding: 20px; background: #e7e9ec;">
                <div class="form-group">
                  <label class="control-label"> Observação</label> 
                    <textarea name="valor_new" [(ngModel)]="charge.observacao" class="form-control"
                    placeholder="Escreve aqui uma Observação sobre a actualização do valor da change"></textarea>
                </div>
              </div>
     
    
            </div>
          </div>
    
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal" (click)="reset()">Fechar</button>
            <button type="button" class="btn btn-outline-primary btn-sm"
              (click)="updateValorCharge()">Salvar</button>
          </div>
    
        </div>
      </div>
    </div>


    <div class="modal modal-info fade in" id="anularModal">
      <div class="modal-dialog modal-lg " style="max-width: 994px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Anular Charge de Facturação</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="reset()">&times;</button>
          </div> 

          <form (submit)="anularCharge()">
            <!-- Modal body -->
            <div class="modal-body" *ngIf="this.charge.charge_id ==null">
              <h4 class="text-danger">Registo Anulado com sucesso</h4>
            </div>
            <div class="modal-body" *ngIf="this.charge.charge_id !=null">
              <ngx-loading [show]="loadingCharge"></ngx-loading>
              <app-alert></app-alert>
              <div class="row"> 
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="nome"> #Charge</label> 
                    <input type="text" value="{{ charge.charge_id }}" class="form-control" placeholder="Cliente" disabled>
                  </div>
                </div>
                <div class="col-md-10">
                  <div class="form-group">
                    <label for="nome"> Cliente</label> 
                    <input type="text" value="{{ charge.nome }}" class="form-control" placeholder="Cliente" disabled>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="nome"> Serviço</label> 
                    <input type="text" value="{{ charge.chaveServico }}" class="form-control" placeholder="Serviço" disabled>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <label for="nome"> InvoiceText</label> 
                    <input type="text" value="{{ charge.invoiceText }}" class="form-control" placeholder="InvoiceText" disabled>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label"> Valor Actual</label>
                    <input type="text" name="valor_new" [(ngModel)]="charge.valor_old" class="form-control" disabled>
                  </div>
                </div>
                <div class="col-md-12"> 
                  <div class="form-group">
                  <div class="row">
                  <label  class="col-sm-12 control-label">Motivo</label>
                  <div class="col-sm-12"> 
                    <textarea name="observacao" [(ngModel)]="charge.observacao" class="form-control" placeholder="Escreve aqui uma breve descrição sobre motivo da anulação"></textarea>
                  </div>
                </div>
                </div>
                </div>
              </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal" (click)="reset()">Fechar</button>
              <button type="submit" class="btn btn-outline-primary btn-sm" *ngIf="this.charge.charge_id !=null"> <i class="fa fa-adn"></i> Anular </button>
            </div>
          </form> 

        </div>
      </div>
    </div>



    <div class="modal modal-info fade in" id="registarModal">
      <div class="modal-dialog modal-lg " style="max-width: 1181px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Registar Charge - FlatRate</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="reset()">&times;</button>
          </div> 

          <form (submit)="registarChargeFlatRate()">
            <!-- Modal body --> 
            <div class="modal-body" >
              <ngx-loading [show]="loadingCharge"></ngx-loading>
              <app-alert></app-alert>
              <div class="row">

                <div class="col-md-2 col-xs-2">
                  <label >Periodo</label>
                  <div class="input-group mb-3">
                    <select class="form-control" [(ngModel)]="this.charge.mes" name="mes">
                      <option value="null">Mês</option>
                      <option value="{{ n.numero }}" *ngFor="let n of meses">{{ n.nome }}</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-2 col-xs-2">
                  <label style="color: white;">Ano</label>
                  <div class="input-group mb-3">
                    <select class="form-control" [(ngModel)]="this.charge.ano" name="ano" >
                      <option value="null">Ano</option>
                      <option value="{{ n }}" *ngFor="let n of anos">{{ n }}</option>
                    </select>
                  </div>
                </div> 
  
                
                <div class="col-md-4 col-xs-3">
                  <div class="form-group">
                    <label>Cliente</label>
                    <div class="input-group">
                      <input type="text" (keyup)="getCliente()" autocomplete="off" class="form-control" name="nome" [(ngModel)]="charge.nome" placeholder="Digite o nome ou a identificação do cliente" >
                       <div class="autocomplete-container" *ngIf="view_client">
                        <ul>
                          <li *ngFor="let cliente of clientes">
                            <a href="javascript:void(0)" (click)="setCliente(cliente)">{{cliente.nome}}</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!-- /.input group -->
                  </div>
                </div>


                <div class="col-md-4 col-xs-3">
                  <div class="form-group">
                    <label>Conta</label>
                    <div class="input-group">
                      <select class="form-control" name="conta_id" [(ngModel)]="charge.conta_id"   (change)="getServicosConta()" >
                        <option value="null">{{ this.loadingData.conta }}</option> 
                        <option *ngFor="let conta of contas" [value]="conta.id"> {{conta.contaDescricao }} -
                          {{conta.id }} </option>
                      </select> 
                    </div>
                    <!-- /.input group -->
                  </div>
                </div>

                <div class="col-md-4 col-xs-3">
                  <div class="form-group">
                    <label>Serviço</label>
                    <div class="input-group">

                      <select class="form-control" name="servico_id" [(ngModel)]="charge.servico_id" (change)="getFlatrateServico()">
                        <option value="null">{{ this.loadingData.servico }}</option> 
                        <option *ngFor="let servico of servicos" [value]="servico.id"> {{servico.chaveServico }} </option>
                      </select> 

                    </div>
                    <!-- /.input group -->
                  </div>
                </div>

                <div class="col-md-4 col-xs-3">
                  <div class="form-group">
                    <label>Flat Rate</label>
                    <div class="input-group">

                      <select class="form-control" name="flatrate_id" [(ngModel)]="charge.flatrate_id" (change)="setFlatrate($event)">
                        <option value="null">{{ this.loadingData.flatrate }}</option> 
                        <option *ngFor="let flatrate of flatrates" [value]="flatrate.id"> 
                          {{'('+flatrate.capacidade+') '+flatrate.artigo+' - '+flatrate.valor}}
                          </option>
                      </select> 

                    </div>
                    <!-- /.input group -->
                  </div>
                </div>

                <div class="col-md-4 col-xs-3">
                  <div class="form-group">
                    <label>Artigo</label>
                    <div class="input-group">
                      <input type="text"  class="form-control" name="invoiceText" [(ngModel)]="charge.invoiceText" disabled placeholder="Artigo" >
                    </div>
                    <!-- /.input group -->
                  </div>
                </div>
                <div class="col-md-2 col-xs-3">
                  <div class="form-group">
                    <label>Capacidade</label>
                    <div class="input-group">
                      <input type="text"  class="form-control" name="capacidade" [(ngModel)]="charge.capacidade" disabled placeholder="capacidade" >
                    </div>
                    <!-- /.input group -->
                  </div>
                </div>
                <div class="col-md-2 col-xs-3">
                  <div class="form-group">
                    <label>Valor</label>
                    <div class="input-group">
                      <input type="text"  class="form-control" name="valor_new" [(ngModel)]="charge.valor_new" disabled placeholder="valor" >
                    </div>
                    <!-- /.input group -->
                  </div>
                </div>

                <div class="col-md-8 col-xs-3">
                  <div class="form-group">
                    <label>Origem - Destino</label>
                    <div class="input-group">
                      <input type="text"  class="form-control" name="origem_destino" [(ngModel)]="charge.origem_destino" disabled placeholder="origem - destino" >
                    </div>
                    <!-- /.input group -->
                  </div>
                </div>

                


              </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal" (click)="reset()">Fechar</button>
              <button type="submit" class="btn btn-outline-primary btn-sm"> <i class="fa fa-adn"></i> Registar </button>
            </div>
          </form> 

        </div>
      </div>
    </div>



  </div>

  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>