input[type=radio],input[type=checkbox] {
    opacity: 1; 
    margin-left: -49px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}
 
input[type=radio] + span:before,input[type=checkbox] + span:before {
    content: " ";
    background-color: #fff;
    display: inline-block;
    margin-right: 15px;
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    visibility: visible;
    box-shadow: 0 0 0px 1px #999;
}
 
input[type=radio]:checked + span:before , input[type=checkbox]:checked + span:before {
    background-color: #148ea1;
}

input[type=checkbox] + span:before {
    background-color: #fff; 
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px; 
}
 


.autocomplete-container {
    position: absolute;
    width: 97.4%;
    z-index: 1;
    background: #fff;
    height: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    box-sizing: border-box;
}

.autocomplete-container ul {
    padding: 0;
    margin: 0;
    max-height: 494px;
    overflow-y: auto;
}

.autocomplete-container ul li {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}


.autocomplete-container ul li a {
    padding: 14px 15px;
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: rgba(0,0,0,.87);
    font-size: 15px;
    text-transform: uppercase;
}

.autocomplete-container ul li a:hover {
    background: #f4f4f5;
}

 