<!-- The Modal -->
<div class="modal modal-info fade in" id="{{modalContadorCreateOrEdit}}" data-backdrop="static">
  <div class="modal-dialog modal-lg " style="max-width: 1350px;">
    <div class="modal-content">
      <!-- Modal Header -->
      <form [formGroup]="simpleFormContador" (submit)="onSubmit();">
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-calculator nav-icon"></i> {{ title }}</h4>
        <button  class="close" type="reset" data-dismiss="modal">&times;</button>
      </div>

        <!-- Modal body -->
        <div class="modal-body" style="padding: 2rem;">
          <ngx-loading [show]="loading"></ngx-loading>
          <app-loading></app-loading>

          <div class="row">

            <div class="col-md-4">
              <div class="form-group">
                <label class="col-form-label" for="contador"> Descrição</label>
                <input class="form-control" id="contador" type="text" formControlName="contador" placeholder="Descrição"/>
              </div>
            </div>

             <div class="col-md-4">
              <div class="form-group">
                <label class="col-form-label" for="estado_contador_id"> Estado de Contador</label>
                <select formControlName="estado_contador_id" class="form-control" required autofocus
                [ngClass]="{ 'is-invalid': submitted && f.estado_contador_id.errors, 'is-valid': f.estado_contador_id.touched && !f.estado_contador_id.errors }" name="estado_contador">
                  <option [value]="null" selected>Selecione o Estado</option>
                  <option value="{{ item.id }}" *ngFor="let item of estado_contadores">
                    {{ item.descricao }}
                  </option>
                </select>
                <div *ngIf="submitted && f['estado_contador_id'].errors" class="invalid-feedback">
                  <div *ngIf="f['estado_contador_id'].errors.required">O campo Estado de Contador é obrigatório</div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="col-form-label" for="modelo"> Tipo de Contador</label>
                <select class="form-control" formControlName="tipo_contador_id" name="tipo_contador" required autofocus>
                  <option value="null" selected>Selecione o Tipo de Contador</option>
                  <option value="{{ item.id }}" *ngFor="let item of tipo_contadores">
                    {{ item.descricao }}
                  </option>
                </select>
                <div *ngIf="submitted && f['tipo_contador_id'].errors" class="invalid-feedback">
                  <div *ngIf="f['tipo_contador_id'].errors.required">O campo Tipo de Contador é obrigatório</div>
                </div>
              </div>
            </div>

             <div class="col-md-4">
              <div class="form-group">
                <label class="col-form-label" for="modelo"> Marca</label>
                <select formControlName="marca_id" class="form-control" required autofocus (click)="ModelosbyMarca()" [(ngModel)]="modelo_id"
                [ngClass]="{ 'is-invalid': submitted && f.marca_id.errors, 'is-valid': f.marca_id.touched && !f.marca_id.errors }" name="marca">
                  <option [value]="null" selected>Selecione a Marca</option>
                  <option value="{{ item.id }}" *ngFor="let item of marcas">
                    {{ item.descricao }}
                  </option>
                </select>
                <div *ngIf="submitted && f['marca_id'].errors" class="invalid-feedback">
                  <div *ngIf="f['marca_id'].errors.required">O campo Marca é obrigatório</div>
                </div>
              </div>
            </div>

             <div class="col-md-4">
              <div class="form-group">
                <label class="col-form-label" for="modelo"> Modelo</label>
                <select class="form-control" formControlName="modelo_id" required autofocus
                [ngClass]="{ 'is-invalid': submitted && f.modelo_id.errors, 'is-valid': f.modelo_id.touched && !f.modelo_id.errors }" name="modelo">
                  <option [value]="null" selected>Selecione o Modelo</option>
                  <option value="{{ item.id }}" *ngFor="let item of modelos">
                    {{ item.descricao }}
                  </option>
                </select>
                <div *ngIf="submitted && f['modelo_id'].errors" class="invalid-feedback">
                  <div *ngIf="f['modelo_id'].errors.required">O campo Modelo é obrigatório</div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="col-form-label" for="modelo"> Fabricante</label>
                <select class="form-control" formControlName="fabricante_id" name="fabricante">
                  <option [value]="null" selected>Selecione o Fabricante</option>
                  <option value="{{ item.id }}" *ngFor="let item of fabricantes">
                    {{ item.descricao }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="modelo"> Ano de Fabrico</label>
                <select class="form-control" formControlName="ano_fabrico" name="ano_fabrico">
                  <option [value]="null" selected>Ano de Fabrico</option>
                  <option value="{{ n }}" *ngFor="let n of anos_fabrico">
                    {{ n }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="modelo"> Armazém</label>
                <select class="form-control" formControlName="armazem_id" name="armazem">
                  <option value="null" selected>Selecione o Armazém</option>
                  <option value="{{ item.id }}" *ngFor="let item of armazem">
                    {{ item.nome }}
                  </option>
                </select>
              </div>
            </div>

             <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="modelo"> Medição</label>
                <select class="form-control" formControlName="medicao_id" required autofocus
                [ngClass]="{ 'is-invalid': submitted && f.medicao_id.errors, 'is-valid': f.medicao_id.touched && !f.medicao_id.errors }" name="medicao">
                  <option [value]="null" selected>Selecione a Medição</option>
                  <option value="{{ item.id }}" *ngFor="let item of medicao">
                    {{ item.descricao }}
                  </option>
                </select>
                <div *ngIf="submitted && f['medicao_id'].errors" class="invalid-feedback">
                  <div *ngIf="f['medicao_id'].errors.required">O campo Medição é obrigatório</div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="modelo"> Classe de Precisão (R)</label>
                <select class="form-control" formControlName="id_classe_precisao" required autofocus name="classe_precisao">
                  <option [value]="null" selected>Selecione Classe de Precisão</option>
                  <option value="{{ item.id }}" *ngFor="let item of classes">
                    {{ item.descricao }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="modelo"> Caudal (Q3)</label>
                <select class="form-control" formControlName="caudal_id" required autofocus name="caudal">
                  <option [value]="null" selected>Selecione o Caudal</option>
                  <option value="{{ item.id }}" *ngFor="let item of caudal">
                    {{ item.descricao }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="modelo"> Calibre (DN)</label>
                <select class="form-control" formControlName="calibre_id" name="calibre">
                  <option [value]="null" selected>Selecione o Calibre</option>
                  <option value="{{ item.id }}" *ngFor="let item of calibre">
                    {{ item.descricao }}
                  </option>
                </select>
              </div>
            </div>

<!--             <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="calibre"> Calibre</label>
                <input class="form-control" id="calibre" type="text" formControlName="calibre" placeholder="Calibre"
                  autocomplete="given-name"/>
              </div>
            </div> -->

            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="numero_serie"> Nº de Contador</label>
                <input class="form-control" required autofocus id="numero_serie" type="number" formControlName="numero_serie" placeholder="Nº de Contador"
                  [ngClass]="{ 'is-invalid': submitted && f.numero_serie.errors, 'is-valid': f.numero_serie.touched && !f.numero_serie.errors }" />
                <div *ngIf="submitted && f['numero_serie'].errors" class="invalid-feedback">
                  <div *ngIf="f['numero_serie'].errors.required">O campo Nº de Contador é obrigatório</div>
                </div>
              </div>
            </div>

<!--             <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="digitos"> Nº de Digítos</label>
                <input class="form-control" id="digitos" type="number" formControlName="digitos" maxlength="10" placeholder="Nº de Digítos"
                  autocomplete="given-name"/>
               </div>
            </div> -->

            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="modelo"> Nº de Digítos</label>
                <select class="form-control" formControlName="digitos" id="digitos">
                  <option [value]="null" selected>Selecione o Nº de Digítos</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="modelo"> Ano de Instalação</label>
                <select class="form-control" formControlName="ano_instalacao" name="anos_instalacao">
                  <option [value]="null" selected>Ano de Instalação</option>
                  <option value="{{ n }}" *ngFor="let n of anos_instalacao">
                    {{ n }}
                  </option>
                </select>
              </div>
            </div>

<!--             <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="ano_fabrico"> Ano de Fabrico</label>
                <input class="form-control" id="ano_fabrico" type="number" formControlName="ano_fabrico" placeholder="Ano de Fabrico"
                  autocomplete="given-name"/>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="validade"> Ano de Instalação</label>
                <input class="form-control" id="validade" type="number" formControlName="validade" placeholder="Ano de Instalação"
                  autocomplete="given-name"/>
              </div>
            </div> -->

            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="validade"> Contador ID</label>
                <input class="form-control" id="contador_id" type="number" formControlName="contador_ID" placeholder="Contador ID"
                  autocomplete="given-name"/>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="validade"> Última Verificação</label>
                <input class="form-control" id="validade" type="date" formControlName="ultima_verificacao"
                  autocomplete="given-name"/>
              </div>
            </div>


            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="ultima_leitura"> Última Leitura</label>
                <input class="form-control" required autofocus id="ultima_leitura" type="number" formControlName="ultima_leitura" maxLength="6" placeholder="Última Leitura"
                  autocomplete="given-name"
                  [ngClass]="{ 'is-invalid': submitted && f.ultima_leitura.errors, 'is-valid': f.ultima_leitura.touched && !f.ultima_leitura.errors }" />
                <div *ngIf="submitted && f['ultima_leitura'].errors" class="invalid-feedback">
                   <div *ngIf="f['ultima_leitura'].errors.required">O campo Última Leitura é obrigatório e só pode conter até 6 dígitos</div>
                </div>

              </div>
            </div>



            <div class="col-md-3 mb-3" style="padding: 9px 18px;">
              <div class="form-group has-warning">

                <br>
                <div class="col-md-12">
                  <label class="form-check-label" for="exampleCheck1" style="font-weight: bold;">Selo</label>
                  <input type="checkbox" style="margin-left: -17%; margin-top: 4%;" formControlName="selo" (change)="setSelo()"
                    class="form-check-input"  name="selo">
                </div>
              </div>
            </div>



<!--             <div class="col-md-12">
              <div class="form-group">
                <label for="observacao"><i class="fa fa-edit" aria-hidden="true"></i> Observação</label>
                <textarea formControlName="observacao" name="observacao" value="" class="form-control"
                  placeholder="Observação"></textarea>
              </div>
            </div> -->

          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="btn btn-danger btn-sm" type="reset" [disabled]="simpleFormContador.pristine && !submitted" (click)="onReset()">Limpar</button>
          <button class="btn btn-success btn-sm mr-1" type="submit"  [disabled]="simpleFormContador.valid">Validar</button>
          <button class="btn btn-primary mr-1 btn-sm" type="submit" [disabled]="simpleFormContador.pristine || simpleFormContador.invalid" data-style="expand-left"><i class="fa fa-save"></i> Registar</button>
        </div>
      </form>
    </div>
  </div>
</div>
