<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><i class="fa icon fa-calculator"></i> Plano de Preços</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Operações</a></li>
              <li class="breadcrumb-item active">Plano de preços</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <section class="content">
 <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Lista de plano de preços</h3>

                <div class="card-tools">
                  <div class="input-group input-group-smm" style="width: 480px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Pesquisar">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                      <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#modalNew"><i class="fa fa-plus-circle"></i> Novo</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive">
                <br>
                <table class="table table-hover table-bordered table-striped text-center">
                  <tbody>
                    <tr>
                      <th>Nº Ordem</th>
                      <th>Descrição</th>
                      <th>Rate Table</th>
                      <th>Imposto</th>
                      <th>Estado</th>
                      <th>Acção</th>
                    </tr> 
                    <tr *ngFor="let planoPreco of planoPrecos; index as i">
                      <td>{{ (i+1) }}</td>
                      <td>{{ planoPreco.precoDescricao }}</td>
                      <td>{{ planoPreco.rateTableCod }}</td>
                      <td>{{ planoPreco.imposto_id }}</td>
                      <td>{{ planoPreco.estado }}</td>
                      <td></td>
                    </tr> 
                  </tbody>
                </table>

              </div>
              <div class="card-footer clearfix"> <br><br>
              </div>
              <!-- /.card-body -->
            </div>
            
            
            <!-- /.card -->
          </div>
        </div>
        <!-- The Modal -->
        <div class="modal modal-info fade modal-p" id="modalNew">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-cog"></i> Configurar Plano de Preços</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <!-- Modal body -->
              <div class="modal-body">
                <app-alert></app-alert>
                <app-loading></app-loading>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Descrição do plano de preços</label>
                      <input type="text" name="precoDescricao" [(ngModel)]="plano_preco.precoDescricao" class="form-control"
                        placeholder="Escreve aqui sobre o seu plano de preços">
                    </div>
                  </div>
                  
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Imposto</label>
                      <select class="form-control" name="imposto_id" placeholder="Activo" [(ngModel)]="plano_preco.imposto_id"
                        name="imposto_id">
                        <option selected [value]="null">imposto</option>
                        <option *ngFor="let i of impostos" [value]="i.id"> {{i.descricao}} </option>
                      </select>
                    </div>
                  </div>
                  

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Estado</label>
                      <select class="form-control" id="activo" name="estado"  placeholder="Activo"
                        [(ngModel)]="plano_preco.estado" name="estado">
                        <option selected [value]="null">Activo ?</option>
                        <option value="1">SIM</option>
                        <option value="0">NÃO</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"> Fechar</button>
                <button type="submit" class="btn btn-primary btn-sm" (click)="registerPlanoPreco()">Salvar</button>
              </div>
            </div>
          </div>
        </div>
        </section>
  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>


</div>