<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><i class="fa icon icon-users"></i> Clientes</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Cliente</a></li>
              <li class="breadcrumb-item active">Unificados</li>
           

            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <!-- /.card-header -->
            <div class="card-body" style="padding: 13px 10px 4px 10px;">
              <div class="row">
                <div class="col-1">
                  <select name="perPage" (change)="getPageFilterData($event)"
                    [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
                    <option value="1">Entrada</option>
                    <option value="5" selected>5</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                  </select>
                  <small>Entradas</small>
                </div>
                <div class="col-md-5">
                  <input type="text" name="search" [(ngModel)]="this.http.filters.search"   placeholder="Pesquisar..."
                    class="form-control" (keyup)="getPageFilterData($event)">
                  <i class="fa fa-search"
                    style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                  <small>Pesquisar por nome do cliente</small>
                </div>
            
              </div>
            </div>
          </div>


          <div class="card">
            <app-loading></app-loading>
        
            <div class="card-header">
           
              <h3 class="card-title"><i class="fa icon icon-users"></i> Lista de Clientes</h3>
              <button class="btn btn-primary button_unficar_massa" (click)="unificarMassa()">Unificar em Massa</button>
            </div>
          
            <!-- /.card-header -->
            <div class="card-body table-responsivee p-">
              <table class="table table-hover table-bordered table-striped text-center">
                <tbody>
                  <tr>
                    <th>id_cliente_manter</th>
                    <th>nome_cliente_manter</th>
                    <th>nome_cliente_unificar</th>
                    <th>Unificar</th>
                    <th>Estado</th>
                    <th>Unificado por</th>

                    
                  </tr>
                  <tr
                  *ngFor="let item of items ">
                    <td width="10">{{ item.id_manter_cliente }}</td>
                  
                      <th>{{item.nome_cliente_manter}}</th>
                      <th>{{item.nome_cliente_unificar}}</th>
                      <td width="400" ><button type="button" class="btn btn-primary" 
                        data-toggle="modal" data-target="#editarModal" [disabled]="item.unificado!=null" (click)="listContas(item.id_manter_cliente, item.id_unificar_cliente,item.nome_cliente_manter, item.nome_cliente_unificar); getClienteUnifcados(item.id_unificar_cliente)">Unificar Clientes</button></td>
                      <th *ngIf="item.unificado===null">Pendente</th>
                      <th width="200" *ngIf="item.unificado!=null"[ngClass]="{'active': item.unificado!=null}">unificados</th>
                      <th width="200">{{item.nome}}</th>
                  



                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer clearfix">
              <div class="row">
                <div class="col-sm-12 col-md-5">
                  <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                    {{this.http.filters.pagination.perPage}} de
                    {{this.http.filters.pagination.total}} Clientes
                  </div>
                </div>
                <div class="col-sm-12 col-md-7">
                  <div class="pull-right">
                    <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior" maxSize="6"
                      nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->

    <div class="modal modal-info fade in" id="editarModal" data-backdrop="static">
      <div class="modal-dialog modal-lg " style="max-width: 1100px;">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa icon icon-note"></i> Unificar Clientes
            </h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
     
        <div class="col-md-12">
          
            <div class="card">
                <app-loading></app-loading>
                <div class="card-header">
                  <h3 class="card-title"><i class="fa icon icon-users"></i> Conta Cliente Manter</h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-danger" (click)= "deleteUnificado()" data-dismiss="modal">Eliminar unificacao</button>
                    <button type="button" class="btn btn-primary" (click)="FinalizarUnificao()" data-dismiss="modal">Unificar Clientes</button>

                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsivee p-">
                  <table class="table table-hover table-bordered table-striped text-center">
                    <tbody>
                      <tr>
                        <th>id_cliente_manter</th>
                        <th>Nome cliente Manter</th>
                        <th>tipo Serviço</th>
                        <th>Estado</th>
                        
                      </tr>
                      <tr
                      *ngFor="let item of items_contas ">
                        <td width="10">{{ item.cliente_id  }}</td>
                        <td width="400" style="background: rgba(23, 162, 184, 0.04)">{{ item.contaDescricao }}</td>
                        <td width="400" style="background: rgba(23, 162, 184, 0.04)">{{ item.tipoServico}}</td>
                        <th width="200"></th>
    
    
    
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="card-footer clearfix">
                  <div class="row">
                    <div class="col-sm-12 col-md-5">
                      <div class="dataTables_info">
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                      <div class="pull-right">
                        <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior" maxSize="6"
                          nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>

        </div>


        
        <div class="col-md-12">
          
            <div class="card">
                <app-loading></app-loading>
                <div class="card-header">
                  <h3 class="card-title"><i class="fa icon icon-users"></i> Conta Cliente Unificar</h3>
                  <div class="card-tools">
                   
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsivee p-">
                  <table class="table table-hover table-bordered table-striped text-center">
                    <tbody>
                      <tr>
                        <th>id cliente Unificar</th>
                        <th>Cliente A Unificar</th>
    
                        
                      </tr>
                      <tr
                      *ngFor="let item of items_two ">
                        <td width="10">{{ item.cliente_id  }}</td>
                        <td width="400" style="background: rgba(23, 162, 184, 0.04)">{{ item.contaDescricao}}</td>
                      
                      
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="card-footer clearfix">
                  <div class="row">
                    <div class="col-sm-12 col-md-5">
                      <div class="dataTables_info">
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                      <div class="pull-right">
                        <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior" maxSize="6"
                          nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>

        </div>


        </div>
      </div>
    </div>
    <!-- The Modal -->
    <!-- The Modal -->
   


  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>