<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">SAFT-AO</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">SAFT</a></li>
              <li class="breadcrumb-item active">AO</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content0 -->
    <section class="content">
      <div class="container-fluid">
        <div class="card card-danger">
          <div class="card-body" style="padding: 9px 14px;">
            <div class="row">
              <div class="col-2"></div>

            </div>
            <div class="row">

              <div class="col-10">
                SAFT-AO | AGT V1.0
              </div>

              <div class="col-2">
                <button type="button" data-widget="chat-pane-toggle" class="btn btn-primary float-right"
                  data-toggle="modal" data-target="#saftModal" style="float:right;margin-right: 5px;">
                  <i class="fa fa-file-text-o"></i> Gerar SAFT
                </button>
              </div>
              
            </div>
          </div>
          <!-- /.card-body -->
        </div>

        <!-- /.row -->
      </div><!-- /.container-fluid -->

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <!-- /.card-header -->
            <div class="card-body" style="padding: 13px 10px 4px 10px;">
              <div class="row">
                <div class="col-1">
                  <select name="perPage" (change)="getPageFilterData($event)" [(ngModel)]="this.http.filters.pagination.perPage"
                    class="form-control">
                    <option value="1">Entrada</option>
                    <option value="5" selected>5</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                  </select> 
                </div>
                <div class="col-md-5">
                  <input type="text" name="search" [(ngModel)]="this.http.filters.search" placeholder="Pesquisar..."
                    class="form-control" (keyup)="getPageFilterData($event)">
                  <i class="fa fa-search" style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i> 
                </div>  
              </div>
              <br>
            </div>
          </div>

          <div class="card">
            <!-- /.card-header -->
            <div class="card-header">
              <h3 class="card-title"><i class="fa fa-book"></i> Safts</h3> 
              <div class="card-tools"> 
                <button class="btn btn-outline-primary btn-sm" type="button" (click)="listarSafts()"><i class="icon-refresh"></i> Recarregar Dados</button> 
              </div>
            </div>
            <div class="card-body table-responsive">
              <ngx-loading [show]="loading"></ngx-loading>
              <table class="table table-hover table-bordered table-striped text-center">
                <tbody>
                  <tr>
                    <th>#</th>
                    <th>Arquivo</th>
                    <th>Periodo mensal</th>
                    <th>Ano</th>
                    <th>Estado</th>
                    <th>Data de Emissão</th>  
                    <th>Acção</th>
                  </tr>
                  <tr
                    *ngFor="let item of safts | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                    <td>{{ item.id }}</td>
                    <td>{{ item.nome_saft }}</td>
                    <td>{{ mesPorExtenso(item.ano,item.mes_de) }} até {{ mesPorExtenso(item.ano,item.mes_para) }}</td>
                    <td>{{ item.ano }}</td> 

                    <td>
                      <span class="btn bg-warning btn-block btn-flat" *ngIf="item.estado ==0">EM CURSO</span>
                      <span class="btn bg-success btn-block btn-flat" *ngIf="item.estado == 1">SIM</span>
                    </td>   
                    <td>
                      {{item.created_at | date: 'dd-MM-yyyy'}}
                    </td>
                    <td>
                      <div class="btn-group">  
                        <button  (click)="downloadSaftXml(item)" class="btn btn-flatt btn-info" *ngIf="item.estado == 1">Download</button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer clearfix">
              <div class="row">
                <div class="col-sm-12 col-md-5">
                  <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                    {{this.http.filters.pagination.perPage}} de
                    {{this.http.filters.pagination.total}} safts
                  </div>
                </div>
                <div class="col-sm-12 col-md-7">
                  <div class="pull-right">
                    <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior" maxSize="6"
                      nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </section>
    <!-- /.content -->


    <div class="modal fade" id="saftModal">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"><i class="icon fa fa-book"></i> <b> GERAR DOCUMENTO SAFT-AO</b></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <app-loading></app-loading>
            <app-alert></app-alert>

            <div class="row" style="padding:20px;background: #0099FF;border-radius: 3px;">
              <div class="col-1 text-center" style="padding: 8px 0 0;background: #0099FF;"><label>De:</label></div>
              <div class="col-3">
                <select class="form-control" [(ngModel)]="data.de" name="de">
                  <option selected [value]="null">Mês</option>
                  <option value="01">Janeiro</option>
                  <option value="02">Fevereiro</option>
                  <option value="03">Março</option>
                  <option value="04">Abril</option>
                  <option value="05">Maio</option>
                  <option value="06">Junho</option>
                  <option value="07">Julho</option>
                  <option value="08">Agosto</option>
                  <option value="09">Setembro</option>
                  <option value="10">Outubro</option>
                  <option value="11">Novembro</option>
                  <option value="12">Dezembro</option>
                </select>
              </div>
              <div class="col-1 text-center" style="padding: 8px 0 0;background: #0099FF;"><label>Até:</label></div>
              <div class="col-3">
                <select class="form-control" [(ngModel)]="data.para" name="para">
                  <option selected [value]="null">Mês</option>
                  <option value="01">Janeiro</option>
                  <option value="02">Fevereiro</option>
                  <option value="03">Março</option>
                  <option value="04">Abril</option>
                  <option value="05">Maio</option>
                  <option value="06">Junho</option>
                  <option value="07">Julho</option>
                  <option value="08">Agosto</option>
                  <option value="09">Setembro</option>
                  <option value="10">Outubro</option>
                  <option value="11">Novembro</option>
                  <option value="12">Dezembro</option>
                </select>
              </div>
              <div class="col-2">
                <select class="form-control" [(ngModel)]="data.ano" name="para">
                  <option selected [value]="null">Ano</option>
                  <option value="{{ n }}" *ngFor="let n of anos">{{ n }}</option>
                </select>
              </div>
            </div>
            <br>
            <div class="modal-body" *ngIf="message==200" style="height: 400px; overflow-y: auto">
              <pre style="overflow: hidden;">
                  {{ saft }}
                </pre>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-smm" data-dismiss="modal"> Fechar</button>
            <button type="button" (click)="btnSaft()" class="btn btn-blockk btn-info"> Gerar Arquivo Saft</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>



  </div>
  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>