<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Pagamento</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Operações</a></li> 
              <li class="breadcrumb-item active">Pagamento</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <!-- /.card-header -->
            <div class="card-body" style="padding: 13px 10px 4px 10px;">
              <div class="row">
                <div class="col-md-2">
                  <select (change)="mostrarResultados()" #mostrarResultado class="form-control">
                    <option value="5">Mostrar Resultados</option>
                    <option value="5">5 - resultados</option>
                    <option value="10">10 - resultados</option>
                  </select>
                  <small>Mostrar resultados</small>
                </div>
                <div class="col-md-5">
                  <input type="text" value="" #search
                    placeholder="Pesquisar..." class="form-control"
                    (keyup)="searchFormaPagamentos($event)">
                  <i class="fa fa-search"
                    style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                  <small>Pesquisar por designação</small>
                </div>
                <div class="col-md-2">
                  <input type="date" class="form-control" #searchData placeholder="Número">
                  <small>Data</small>
                </div>
                <div class="col-md-2">
                  <select (change)="searchFormaPagamentos($event)" #orderBy class="form-control">
                    <option value="created_at">Ordernar por</option>
                    <option value="nome">Designação</option>
                    <option value="created_at">Data Facturação</option> 
                  </select>
                  <small>Ordernação</small>
                </div>
                <div class="col-md-1">
                  <button type="button" class="btn btn-block btn-info  "><i class="fa fa-search"></i>
                    Filtrar</button>
                </div>
              </div>
            </div>
          </div>


          <div class="card">
            <app-loading></app-loading>
            <div class="card-header">
              <h3 class="card-title">Forma de Pagamentos</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-primary  " data-toggle="modal"
                  data-target="#registarModal" *ngIf="http.canActivateRouterLink('registar_formaPagamento')"><i class="fa fa-plus"></i> Registar</button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsivee p-0">
              <table class="table table-hover table-bordered table-striped text-center">
                <tbody>
                  <tr>

                    <th>Nº Ordem</th>
                    <th><i class="fa fa-money"></i></th>
                    <th>Designação</th>
                    <th>Descrição</th>
                    <th>Data Criação</th>
                    <th>Data Actualização</th>
                    <th>Acção</th>
                  </tr>
                  <tr *ngFor="let forma of formas; index as i"> 
                    <td>{{ (i+1) }}</td>
                    <td><i class="fa fa-euro"></i></td>
                    <td>{{forma.designacao}}</td>
                    <td>{{forma.descricao}}</td>
                    <td>{{forma.created_at | date: 'dd-MM-yyyy'}}</td>
                    <td>{{forma.updated_at | date: 'dd-MM-yyyy'}}</td>
                    <td>----</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer clearfix">
              <div class="row">
                <div class="col-sm-12 col-md-5">
                  <div class="dataTables_info">Mostrando de {{pagination.page}} a {{pagination.perPage}} de
                    {{pagination.total}} Facturações
                  </div>
                </div>
                <div class="col-sm-12 col-md-7">
                  <div class="dataTables_paginate paging_simple_numbers">
                    <ul class="pagination" style="float: right;">
                      <li class="page-item"><a href="javascricpt:void(0)" class="page-link">Anterior</a></li>
                      <div *ngFor="let page of pages">
                        <li class="page-item active" *ngIf="(page == pagination.page)"><a href="javascricpt:void(0)"
                            (click)="refreshPaginate(page)" title="{{ page }}" class="page-link">{{ page }}</a></li>

                        <li class="page-item " *ngIf="(page != pagination.page)"><a href="javascricpt:void(0)"
                            (click)="refreshPaginate(page)" title="{{ page }}" class="page-link">{{ page }}</a></li>
                      </div>
                      <li class="page-item"><a href="javascricpt:void(0)" class="page-link">Próximo</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->

    <!-- The Modal -->
    <div class="modal modal-info fade" id="registarModal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-edit"></i> Nova Forma de Pagamento</h4>
            <button type="button" (click)="closeModal()" class="close" data-dismiss="modal">&times;</button>
          </div>
    
          <!-- Modal body -->
          <app-loading></app-loading>
          <form (submit)="register($event)">
            <div class="modal-body">
              <app-alert></app-alert>
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <label class="control-label"> Designação</label>
                    <input type="text" name="nome" [(ngModel)]="forma_pagamento.designacao" class="form-control"
                      placeholder="Infome a forma de pagamento">
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="form-group">
                    <label class="control-label"> Descrição</label>
                    <input type="text" name="descricao" [(ngModel)]="forma_pagamento.descricao" class="form-control"
                      placeholder="Descrição">
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"> Fechar</button>
              <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
            </div>
          </form>
    
        </div>
      </div>
    </div>

 
  </div>
  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>