<!-- The Modal -->
<div class class="modal modal-info fade" id="ModalCreatOrEditTipoCliente" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="max-width: 935px;">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fa fa-file-text-o"></i> {{tipo_cliente.id ? 'Actualizar tipo de cliente' : 'Novo tipo de cliente'}}
                </h4>
                <button (click)="_cleanForm()" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <app-loading></app-loading>
            <div class="modal-body">
                <app-alert></app-alert>
                <div class="col-md-12">
                    <div class="card card-default">
                        <div class="card-body" style="padding: 9px;">
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="tipoClienteDesc" class="control-label"><i class="fa fa-edit"></i> Descrição</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            placeholder="Descrição do tipo do cliente" 
                                            [(ngModel)]="tipo_cliente.tipoClienteDesc" 
                                            name="tipoClienteDesc" 
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button (click)="_cleanForm()" type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
                <button (click)="_submitForm()" type="button" class="btn btn-primary btn-sm">Salvar</button>
            </div>
        </div>
    </div>
</div>
