<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><i class="fa icon icon-user"></i> Perfil</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">

            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <ngx-loading [show]="loading"></ngx-loading>
    <section >
      <div class=" panel panel-default  text-center ml-4 mr-4 " style="max-width: 100% !important; max-height: 100% !important; color: #000000 !important; ">
        
        <div class="row">
          <div class="card testimonial-card bg-white border-right col-md-3">

            <div class="">
            
              <!-- Avatar -->
              <div  class=" mt-5 avatar mx-auto ">
                <img src="assets/dist/img/user_image.png" width="220" class="border border-dark mb-2 rounded-circle"
                  alt="imagem de perfil">
              </div>
              <!-- Content -->
              <div  *ngIf="item !=null" class="card-body">
                <!-- Name -->
                <h4 class="card-title" style="font-weight: bold;">{{item.username}}</h4>
              </div>
            
            </div>
            <!-- Card -->
          </div>
          <div class="card testimonial-card bg-white col-md-9 ml-auto">

            <div class="card-body mb-5 ">
                
                <div class="container  mt-5 mb-5">
  
                  <div class="row text-center">
                    <div class="col-6 col-sm-4"  *ngIf="item !=null">
                      <span class="text-info" ><i class="fa fa-user"></i> Nome </span> 
                      <h5 style="font-weight: bold;" >{{item.nome}}</h5> 
                    </div>
                    <div class="col-6 col-sm-4" *ngIf="item !=null">
                      <span class="text-info"><i class="fa fa-envelope nav-icon"></i> Email </span>
                      <h5 style="font-weight: bold;">{{item.email}}</h5>
                    </div>
                    <div class="col-6 col-sm-4" *ngIf="item !=null">
                      <span class="text-info"><i class="fa fa-phone nav-icon"></i> Telefone</span>
                      <h5 style="font-weight: bold;">{{item.telefone}}</h5>
                    </div>
                  
                    <!-- Force next columns to break to new line at md breakpoint and up -->
                  </div>
                  <hr>
                  <div class="container">
                  <div class="row">
                   
                    <div class="col-6 col-sm-4" *ngIf="item !=null">
                      <span class="text-info"><i class="fa fa-home"></i> Morada</span>
                      <h5 style="font-weight: bold;">{{item.morada}}</h5>
                    </div>
              
                  </div>
                    
                  </div>
                  <hr>


                </div>
            </div>

          </div>
     
                    <!-- /.box-body -->
                
            <!-- /.box-body -->
        
          <!-- /.box -->
        </div>
        <div class="row mt-2">  
        <div class="card mb-3" style="max-width:40rem;">
          <div class="card-header bg-info"><h4>Operações</h4></div>
          <div class="card-body">
            <div class="info-box bg-warning">
              <span class="info-box-icon text-white"><i class="fa fa-files-o"></i></span>
              <div *ngIf="item !=null" class="info-box-content">
                <span class="info-box-text">Facturas</span>
                <span class="info-box-number">{{item.__meta__.facturas_count}}</span>
              </div>
            </div>

            <div class="info-box bg-green">
              <span class="info-box-icon text-white"><i class="fa fa-ticket"></i></span>
              <div *ngIf="item !=null" class="info-box-content">
                <span class="info-box-text">Recibos</span>
                <span class="info-box-number">{{item.__meta__.recibos_count}}</span>
              </div>
            </div>

            <div class="info-box bg-danger">
              <span class="info-box-icon text-white"><i class="fa fa-money"></i></span>
              <div  *ngIf="item !=null" class="info-box-content">
                <span class="info-box-text">Caixa</span>
                <span class="info-box-number">{{item.__meta__.caixa_count}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="card ml-2 mb-3" style="max-width: 50rem;">
          <div class="card-header bg-info"><h4>Redifinir Password</h4></div>
          <div class="card-body">
            <form [formGroup]="simpleForm" novalidate (ngSubmit)="onSubmit()" class="needs-validation">
              <div class="modal-body">
                <!-- /.card-body -->
                
                  <div class="col-md-12">
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <label for="old_password" class="col-form-label float-left"> Senha  Actual</label>
                        <input class="form-control" id="old_password" type="password"
                          formControlName="old_password" placeholder="Senha Actual"
                          autocomplete="old_password-proprio" required autofocus
                          [ngClass]="{ 'is-invalid': submitted && f.old_password.errors, 'is-valid': f.old_password.touched && !f.old_password.errors }" />
                        <div *ngIf="submitted && f['old_password'].errors" class="invalid-feedback">
                          <div *ngIf="f['old_password'].errors.required">{{formErrors.old_password.required}}
                          </div>
                        </div>
                      </div>
                      
                      <div class="form-group col-md-12">
                        <label class="col-form-label float-left" for="password"> Nova Senha</label>
                        <input class="form-control" id="password" type="password" formControlName="password"
                          placeholder="Nova Senha" autocomplete="new-password" required
                          [ngClass]="{ 'is-invalid': submitted && f.password.errors, 'is-valid': f.password.touched && !f.password.errors }" />
                        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                          <div *ngIf="f['password'].errors.required">Password is required</div>
                          <div *ngIf="f['password'].errors.minlength">{{formErrors.password.minLength}}</div>
                          <div *ngIf="f['password'].errors.pattern">{{formErrors.password.pattern}}</div>
                        </div>
                      </div>
                   
                      
                      <div class="form-group col-md-12">
                        <label class="col-form-label float-left" for="password_confirmation"> Confirmar  Senha</label>
                        <input class="form-control" id="password_confirmation" type="password"
                          formControlName="password_confirmation" placeholder="Confirmar Senha"
                          autocomplete="new-password" required
                          [ngClass]="{ 'is-invalid': submitted && simpleForm.errors, 'is-valid': f.password_confirmation.touched && !simpleForm.errors }" />
                        <div *ngIf="submitted && simpleForm.errors" class="invalid-feedback">
                          <div *ngIf="simpleForm.errors['passwordMismatch']">As senhas não correspondem </div>
                        </div>
                      </div>
                    </div>
                  </div>
                

              </div>

              <!-- Modal footer -->
              <div class="modal-footer">
                <div class="form-group">
                  <button class="btn btn-primary mr-1" data-style="expand-left" type="submit"
                    [disabled]="simpleForm.pristine || simpleForm.invalid">Submeter
                  </button>
                  <button class="btn btn-success mr-1" type="submit"
                    [disabled]="simpleForm.valid">Validar</button>
                  <button class="btn btn-danger" type="reset" [disabled]="simpleForm.pristine && !submitted"
                    (click)="onReset()">Limpar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      
    
    </div>
    
    </section>
   
    <!-- /.content -->

  </div>
  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>

</div>