.modal-dialog.modal-lg{
  max-width: 70%
}

.modal-content{
 /*height: 130vh;*/
}

.box-roteiros{
  box-shadow: 0px 4px 16px rgb(68 68 68 / 21%);
  min-height: 100vh;
  padding: 15px;
}

i.search{
  float: right;
  margin: -33px 10px 0 0px;
  font-size: 22px;
  color: #777;
}
