
<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>

  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><i class="fa icon icon-users"></i> Novos Roteiros/Agendamentos - {{ rota_header.descricao }}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Rotas</a></li>
              <li class="breadcrumb-item active">Clientes</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <section class="content">

      <div class="row">
        <div class="col-md-1 col-sm-12">
          <div class="form-group">
            <label>Município</label>
            <select class="form-control" [disabled]="!municipios" >
              <option [value]="municipio.id" selected>{{municipio.nome}}</option>
            </select>
          </div>
        </div>

        <div class="col-md-2 col-sm-12" *ngIf="municipio.has_distrito">
          <div class="form-group">
            <label>Comunas</label>
            <select class="form-control" (change)="_changeDistrito($event.target.value)">
              <option [value]="null">Comuna</option>
              <option *ngFor="let distrito of distritos" [value]="distrito.id">{{distrito.nome}}</option>
            </select>
          </div>
        </div>

        <div class="col-md-2 col-sm-12">
          <div class="form-group">
            <label>Bairro</label>
            <select class="form-control" (change)="_changeBairro($event.target.value)" [disabled]="!bairros.length">
              <option [value]="null">Selecionar Bairro</option>
              <option *ngFor="let bairro of bairros" [value]="bairro.id">{{bairro.nome}}</option>
            </select>
          </div>
        </div>

        <div class="col-md-2 col-sm-12">
          <div class="form-group">
            <label>Quarteirão</label>
            <select class="form-control" (change)="_changeQuarteirao($event.target.value)" [disabled]="!quarteiroes.length" >
              <option [value]="null">Selecionar Quarteirão</option>
              <option *ngFor="let quarteirao of quarteiroes" [value]="quarteirao.id">{{quarteirao.nome}}</option>
            </select>
          </div>
        </div>

        <div class="col-md-2 col-sm-12">
          <div class="form-group">
            <label>Rua</label>
            <select class="form-control" (change)="_changeRua($event.target.value)" [disabled]="!ruas.length" >
              <option [value]="null">Rua</option>
              <option *ngFor="let rua of ruas" [value]="rua.id">{{rua.nome}}</option>
            </select>
          </div>
        </div>

        <div class="col-md-3 col-sm-12 float-right">
          <p class="text-center">
            <img src="./assets/map/orange-dot.png" alt=""><span>Locais selecionados</span>
          </p>

          <p class="text-center">
            <img src="./assets/map/blue-dot.png" alt=""><span>Locais não selecionados</span>
          </p>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-3 col-sm-12">
          <div class="box-roteiros">
            <h4 class="modal-title text-center"><i class="fa fa-home"></i> Lista dos locais de consumos</h4>
            <div class="row">
              <div class="col-md-12">
                <input
                  class="form-control"
                  type="text"
                  name="search"
                  id="search-text"
                  aria-describedby="search-text"
                  [(ngModel)]="searchText"
                  placeholder="Pesquisar..."
                  autofocus
                />
                <i class="fa fa-search search"></i>
                <br>

                <button type="button" class="btn btn-success btn-sm float-right mb-3" (click)="_addMultiples()" *ngIf="check_all">
                  <i class="fa fa-plus"></i> Adicionar varios
                </button>

                <div style="position: absolute; height: 70vh; overflow: auto; ">

                  <table class="table table-striped">
                    <thead>
                      <th><input type="checkbox" (change)="_checkAll($event)" /></th>
                      <th class="">#</th>
                      <th class="text-left">CIL - Alocação</th>
                      <th class="text-right">Acção</th>
                    </thead>

                    <tbody>
                      <tr *ngFor="let local of locais; index as i">
                        <td><input [(ngModel)]="local.checkbox" type="checkbox" /></td>
                        <td>{{ i+1 }}</td>
                        <td class="text-left">{{ local.cil }} - {{ ((local.is_predio) ? 'Prédio ' + local.predio_nome + ', ' + local.predio_andar + 'ºAndar - Porta ' : 'Residência ') + local.moradia_numero }}</td>
                        <td class="text-right">
                          <button type="button" class="btn btn-info btn-sm" (click)="_addNewRota(local)">
                            <i class="fa fa-plus"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>

              </div>

                <!--
                <div class="card-footer">
                  <div class="row" style="width: 100%;">
                    <div class="col-sm-12 col-md-5">
                      Mostrando {{this.pagination.page}} de {{this.pagination.total}}
                    </div>
                    <div class="col-sm-12 col-md-7">
                      <div class="float-right">
                        <pagination-controls
                          (pageChange)="getPageFilterData($event)"
                          previousLabel="Anterior"
                          maxSize="6"
                          nextLabel="Proximo"
                          directionLinks="true"
                          responsive="true"
                          id="locais_de_consumo_list"
                        >
                        </pagination-controls>
                      </div>
                    </div>
                  </div>
                </div>

                -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <div class="box-roteiros">
            <agm-map style="height: 100%" [latitude]="-15.19611" [longitude]="12.15222" [zoom]="10"
              [disableDefaultUI]="false">
              <agm-marker-cluster
                imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
                <agm-marker
                  *ngFor="let local of locais | appFilterRoteiro: searchText"
                  [latitude]="local.latitude"
                  [longitude]="local.longitude"
                  iconUrl="./assets/map/orange-dot.png"
                  (markerClick)="_addNewRota(local)"
                >
                </agm-marker>
              </agm-marker-cluster>
            </agm-map>
          </div>
        </div>

        <div class="col-md-3 col-sm-12">
          <div class="box-roteiros">
            <h4 class="modal-title text-center"><i class="fa fa-home"></i> Locais de consumos adicionados</h4>

            <br>
            <table class="table table-striped">
              <thead>
                <th class="text-left">Acção</th>
                <th class="text-left">CIL - Alocação</th>
              </thead>
              <tbody>
                <tr *ngFor="let local of novos_locais">
                  <td class="text-left">
                    <button type="button" class="btn btn-danger btn-sm" (click)="_removeRota(local)">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                  <td class="text-left">{{ local.cil }} - {{ ((local.is_predio) ? 'Prédio ' + local.predio_nome + ', ' + local.predio_andar + 'ºAndar - Porta ' : 'Residência ') + local.moradia_numero }}</td>
                </tr>
              </tbody>
            </table>

            <div class="modal-footer" *ngIf="novos_locais">
              <a routerLink="/Rotas" routerLinkActive="active" class="btn btn-outline-danger btn-sm"> Cancelar</a>

              <button
                type="button"
                class="btn btn-primary btn-flat btn-sm"
                data-toggle="modal"
                data-toggle="modal"
                data-target="#ModalCreatOrEditPeriodicidade">
                <i class="fa fa-arrow-right"></i> Continuar
              </button>
            </div>
          </div>
        </div>

      </div>
    </section>

  </div>

  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>

<div class="modal modal-info fade in" id="ModalCreatOrEditPeriodicidade" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title"><i class="fa fa-user nav-icon"></i> Adiconar periodicidade nos novos roteiros</h4>
          <button class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="padding: 2rem;">
        <ngx-loading [show]="loading"></ngx-loading>
        <app-loading></app-loading>

        <div class="row justify-content-md-center">
          <div class="col-md-3 col-sm-12">
            <div class="form-group">
              <label for="leitura">Dia do mês</label>
              <select class="form-control" [(ngModel)]="new_periodo.dia_mes"  >
                <option *ngFor="let dia of dias" [value]="dia">{{ dia }}</option>
              </select>
            </div>
          </div>

          <div class="col-md-3 col-sm-12">
            <div class="form-group">
              <label for="periodicidade_roteiro_id">Periodicidade</label>
              <select class="form-control" [(ngModel)]="new_periodo.periodicidade_roteiro_id"  >
                <option *ngFor="let periodicidade of periodicidades" [value]="periodicidade.id">{{ periodicidade.descricao }}</option>
              </select>
            </div>
          </div>
        </div>

        <table class="table table-hover table-bordered">
          <thead>
            <tr style="color: #fff; background: #0099FF;">
              <th>#</th>
              <th>Rota</th>
              <th>Alocação</th>
              <th>CIL</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let local of novos_locais index as i">
              <td>{{ i + 1 }}</td>
              <td>{{ rota_header.descricao }}</td>
              <td class="text-left">{{ local.cil }} - {{ ((local.is_predio) ? 'Prédio ' + local.predio_nome + ', ' + local.predio_andar + 'ºAndar - Porta ' : 'Residência ') + local.moradia_numero }}</td>
              <td>{{ local.cil }}</td>
            </tr>
          </tbody>
        </table>

      </div>

      <div class="modal-footer">
        <button class="btn btn-outline-danger btn-sm mr-1" data-dismiss="modal" id="closeModal">Fechar</button>
        <button [disabled]="!new_periodo.periodicidade_roteiro_id || !new_periodo.dia_mes" (click)="_save(rota_header.id)" class="ml-2 btn-sm btn btn-success"><i class="fa fa-save mr-1"></i> Registar </button>
        <button [disabled]="!new_periodo.periodicidade_roteiro_id || !new_periodo.dia_mes" (click)="_saveAndContinue(rota_header.id)" class="ml-2 btn-sm btn btn-success"><i class="fa fa-save mr-1"></i> Registar e continuar </button>
      </div>
    </div>
  </div>
</div>
