<div class="modal modal-info fade in" id="{{modal}}"  data-backdrop="static">
  <div class="modal-dialog modal-lg " style="max-width: 1150px;">
    <div class="modal-content">
      <!-- Modal Header -->
      <form [formGroup]="simpleFormtipoMovimentos" (submit)="onSubmit();">
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa icon-edit nav-icon"></i> {{ title }}</h4>
          <button class="close" type="reset" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body" style="padding: 2rem;">
          <ngx-loading [show]="loading"></ngx-loading>
          
         <!--  <div class="card-header">
            <h3 class="card-title"><i class="fa icon icon-user"></i> Dados pessoais</h3>
           
          </div> -->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group has-warning">
                <label class="col-form-label">Descrição</label>
                <input class="form-control" required autofocus id="descricao" type="text" formControlName="descricao"
                  placeholder="descricao" autocomplete="given-name"
                  [ngClass]="{ 'is-invalid': submitted && f.descricao.errors, 'is-valid': f.descricao.touched && !f.descricao.errors }" />
                  <div *ngIf="submitted && f['descricao'].errors" class="invalid-feedback">
                  <div *ngIf="f['descricao'].errors.required">O campo descricao é obrigatório</div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group has-warning">
                <label class="col-form-label">Slug</label>
                <input class="form-control" required autofocus id="slug" type="text" formControlName="slug"
                  placeholder="slug" autocomplete="given-name"
                  [ngClass]="{ 'is-invalid': submitted && f.slug.errors, 'is-valid': f.slug.touched && !f.slug.errors }" />
                  <div *ngIf="submitted && f['slug'].errors" class="invalid-feedback">
                  <div *ngIf="f['slug'].errors.required">O campo slug é obrigatório</div>
                </div>
              </div>
            </div>


           
          </div>

        </div>


       

        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="btn btn-danger btn-sm" type="reset" [disabled]="simpleFormtipoMovimentos.pristine && !submitted"
            (click)="onReset()">Limpar</button>
          <button class="btn btn-success btn-sm mr-1" type="submit"
            [disabled]="simpleFormtipoMovimentos.valid">Validar</button>
          <button class="btn btn-primary mr-1 btn-sm" type="submit"
            [disabled]="simpleFormtipoMovimentos.pristine || simpleFormtipoMovimentos.invalid" data-style="expand-left"><i
              class="fa fa-save"></i>
            Registar</button>
        </div>
      </form>
    </div>
  </div>
</div>
