
.login-view {
    background-color: white;
    position: absolute;
    height: 100%;

}

.unig-img-view {
    background-color: white;
}

.login-component {
    padding: 0;
    margin: 0;
    padding: auto;
    margin: auto;
    /* -webkit-box-pack: center; */
    justify-content: unset;
}

.login-text {
    font-size: 22px;
    color: #B9B9B9;
}


.footer {
  height: 50px;
  background: none;
}


#img-side {
    background-image: url('~/assets/dist/img/bw_landing.png');
    background-repeat: no-repeat;
    /*object-fit: cover;*/
    background-size: cover;
    background-position: center;
    min-height: 100vh

}

.logo {
    text-align: center;
    width: 25%;
    margin: 100px 0px;
}

.form-style {
    margin: 0px 32%;
}

 .form-style input {
     margin-top: 25px;
 }

.login-btn {
   /*  border-top-left-radius: 50px; */

   margin: 30px 0px;
   border-radius: 32px;

}

.form-control {
    padding: 5px 12px;
    font-size: 20px;}

.input-group-text {
    padding: 13px 18px;
    font-size: 18px;
}

.footer {
    -webkit-box-flex: 0;
    flex: 0 0 50px;
}

.footer {
    margin-top: 21.0%;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    padding: 15px 1rem;
    color: #23282c;
    background: #f0f3f5;
    border-top: 1px solid #c8ced3;
}

 .main-footer {
    margin-left: 0;
}

.main{
    height: 100%;
}

