<body>


  <!-- <aside _ngcontent-hpt-c7="" class="main-sidebar elevation-4 " style="min-height: 768px;" style="border: 1px solid red">

    <div _ngcontent-hpt-c7="" class="sidebar">



    </div>
  </aside> -->




  <div class="app-body">
    <div class="login-view" style="width: 100%;">

      <div class="row" style="height: -webkit-fill-available;">
        <div class="col-md-6 mx-auto align-items-center">

          <div class="login-component" align="center">
            <app-loading></app-loading>

            <!-- BE WATER - Lunda Norte -->
            <img *ngIf="app_environment == 'epasln-qas.unig-erp.com:3349' || app_environment == 'epasln.unig-erp.com:3348'" class="logo" src="assets/dist/img/epasln.png">

            <!-- BE WATER - EPAS Namibe -->
            <img *ngIf="app_environment == 'epasn-qas.unig-erp.com:3355' || app_environment == 'epasn.unig-erp.com:3201' || app_environment == 'epasn.unig-erp.com:3347' || app_environment == 'localhost:3333'" class="logo" src="assets/dist/img/epas_namibe.png">

            <!-- VISTA WATER - Lunda Sul -->
            <img *ngIf="app_environment == 'epasls-qas.unig-erp.com:3352' || app_environment == 'epasls.unig-erp.com:3349'" class="logo" src="assets/dist/img/epasls.jpg">


            <form class="form-style" [formGroup]="loginForm" (ngSubmit)="autenticate()"><br>
              <p class="text-muted"></p>
              <div class="col-12">
                <app-alert></app-alert>
              </div>
              <div class="input-group mb-3">
                <!-- <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div> -->
                <input type="text" class="form-control" placeholder="Username" autocomplete="username" required
                  type="text" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">Introduzir Nome de Utilizador</div>
                </div>
              </div>
              <div class="input-group mb-4">
                <!-- <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div> -->
                <input type="password" class="form-control" placeholder="Senha" autocomplete="current-password" required
                  formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Introduzir a password</div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <button class="btn btn-lg btn-primary btn-block login-btn" data-style="expand-left">Entrar</button>
                </div>

              </div>
              <div class="col-12 login-text" align="left">
                <input type="checkbox">&nbsp;<span>Lembrar-me</span>
              </div>
              <div class="col-12 login-text" align="left">
                <span>Esqueceu-se da palavra-passe</span>
              </div>
            </form>

          </div>

          <div class="col-12 login-text" style="margin-top: 150px" align="center">
            2019-2020 <a href="http://unig-erp.com/" target="_blank">UNIG</a>&copy; | Todos os Direitos Reservados
          </div>
        </div>



        <div id="img-side" class="col-md-6 m-account-w bg--img">

        </div>


      </div>

    </div>
  </div>

  <app-float-link></app-float-link>


</body>
