<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Tipos de Pedidos</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Configurar</a></li>
              <li class="breadcrumb-item active">Tipos de Pedidos</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="col-lg-12 col-12">
              <div class="modall modal-info fadee" data-backdrop="static">
                <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
                  <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title"> Filtro de Dados</h4>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                      <div class="row">
    
    
                        <div class="col-md-1 col-xs-3">
                          <div class="form-group">
                            <!--<label style="color: #fff;">Entrada</label>-->
                            <select name="perPage" (change)="getPageFilterData($event)"
                              [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
                              <option value="1">Entrada</option>
                              <option value="5" selected>5</option>
                              <option value="10">10</option>
                              <option value="25">25</option>
                            </select>
                          </div>
                          <!-- /.input group -->
                        </div>
    
                        <div class="col-md-4 col-xs-3">
                          <div class="form-group"> 
                            <input type="text" name="search" [(ngModel)]="this.http.filters.search"
                              placeholder="Pesquisar..." class="form-control" (keyup)="getPageFilterData($event)">
                            <i class="fa fa-search"
                              style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                          </div>
                          <!-- /.input group -->
                        </div>
    
                        <div class="col-md-1 col-xs-3">
                          <div class="form-group"> 
                            <select name="orderBy" (change)="getPageFilterData($event)" [(ngModel)]="this.http.filters.orderBy" class="form-control">
                              <option [ngValue]="null">Ordernar</option>
                              <option value="created_at">Data</option>
                              <option value="slug">Slug</option>
                              <option value="descricao">Descrição</option>
                            </select>
                          </div>
                          <!-- /.input group -->
                        </div>


                        <div class="col-md-1 col-xs-2">
                          <div class="form-group"> 
                            <div class="input-group">
                              <button type="button" class="btn btn-info btn-flatt mr-1 btn-smm" type="button"><i
                                  class="fa fa-search"></i>
                                Filtrar</button>
                            </div>
                            <!-- /.input group -->
                          </div>
                        </div>


                        <div class="col-md-2 col-xs-3 ml-2">
                          <div class="form-group" style="float: right;"> 
                            <div class="input-group">
                              <div class="btn-group">
    
                                <div class="btn-group">
                                  <button type="button" class="btn btn-info dropdown-toggle dropdown-icon btn-flat"
                                    data-toggle="dropdown" aria-expanded="false" [disabled]="disabledButton"> <i
                                      class="fa fa-download"></i> Exportação
                                  </button>
                                  <div class="dropdown-menu" x-placement="bottom-start" style="left: 40px;">
                                    <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsPDF();"><i
                                        class="fa fa-file-pdf-o"></i>
                                      PDF</a>
                                    <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsXLSX();"><i
                                        class="fa fa-file-excel-o"></i> Excel</a>
                                  </div>
                                </div>
                                <button type="button" class="btn btn-info btn-flat" (click)="imprimirPDF()" [disabled]="disabledButton"><i
                                    class="icon-printer"></i> Imprimir</button>
                                    <button *ngIf="http.canActivateRouterLink('register_tipos_pedido')" type="button" class="btn btn-primary btn-flat"
                                    data-toggle="modal" data-target="#newModal" (click)="ini()"><i
                                        class="fa fa-plus"></i> Registar</button> 
                              </div>
                            </div>
                            <!-- /.input group -->
                          </div>
                        </div>
    
    
                      </div> 
                    </div>
    
                  </div>
                </div>
              </div>
            </div>


            <div class="col-lg-12 col-12">
              <div class="modall modal-info fadee" data-backdrop="static">
                <div class="modal-dialog" style="max-width: 100%;">
                  <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">LISTAGEM DE TIPOS</h4>
                    
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                      <!-- /.card-body --> 
                      <div class="table-responsivee">
    
    
                        <ngx-loading [show]="loading"></ngx-loading>
    
                        <table class="table table-hover table-bordered table-stripedd text-center m-0 exportAsXLSXCliente">
                          <tbody>
                            <tr style="color: #fff; background: #0099FF;">
                              <th>#</th>
                              <th>Slug</th>
                              <th>Descrição</th>
                              <th>Rota</th>
                              <th>Data Registo</th>
                              <th>Acção</th>
                            </tr>
                            <tr
                              *ngFor="let item of items | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                              <td>{{ i + 1 }}</td>
                              <td>{{ item.slug }}</td>
                              <td>{{ item.descricao }}</td>
                              <td>{{ item.rota_crm_inicial }}</td>
                             
                              <td>
                                {{item.created_at | date: 'dd-MM-yyyy'}}
                              </td>
                              <td>
                                <div class="btn-group">
                                  <button  type="button"  data-widget="chat-pane-toggle" data-toggle="modal"
                                    data-target="#editarModal" class="btn btn-info btn-flat"
                                    (click)="refresh(item.id, item.slug, item.descricao, item.rota_crm_inicial)"><i class="fa fa-edit"></i></button>
                                    <!--
                                  <button type="button" class="btn btn-flat btn-danger"><i class="fa fa-trash-o"></i></button>
                                -->
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <div class="row" style="width: 100%;">
                        <div class="col-sm-12 col-md-5">
                          <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                            {{this.http.filters.pagination.perPage}} de
                            {{this.http.filters.pagination.total}} Tipos de Pedidos
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                          <div class="pull-right">
                            <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior"
                              maxSize="6" nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                          </div>
                        </div>
                      </div>
                    </div>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->



    <!-- The Modal -->
    <div class="modal modal-info fade" id="newModal" data-backdrop="static">
      <div class="modal-dialog modal-lg" style="max-width: 935px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-credit-card"></i> Novo Tipo</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <app-loading></app-loading>
          <form (submit)="register($event)">
            <div class="modal-body">
              <app-alert></app-alert>
              <div class="col-md-12">
                <div class="card card-default">
                  <div class="card-header">
                    <h3 class="card-title">Dados</h3>

                    <!-- /.card-tools -->
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body" style="padding: 9px;"><br>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label"><i class="fa fa-edit"></i> Slug</label>
                          <input type="text" class="form-control" placeholder="Slug" [(ngModel)]="tipoPedido.slug"
                            name="Slug">
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label"><i class="fa fa-edit"></i> Descrição</label>
                          <input type="text" class="form-control" placeholder="Descrição" [(ngModel)]="tipoPedido.descricao"
                            name="descricao">
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="control-label"><i class="fa fa-edit"></i> Rota Fomulário Pedido CRM</label>
                          <input type="text" class="form-control" placeholder="Rota" [(ngModel)]="tipoPedido.rota_crm_inicial"
                            name="rota_crm_inicial">
                        </div>
                      </div>

                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"> Fechar</button>
              <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
            </div>
          </form>

        </div>
      </div>
    </div>


    <!-- The Modal -->
    <div class="modal modal-info fade" id="editarModal" data-backdrop="static">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-edit"></i> Editar</h4>
            <button type="button"  class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <app-loading></app-loading>
          <form (submit)="editar($event)">
            <div class="modal-body">
              <app-alert></app-alert>
              <div class="col-md-12">
                <div class="card card-default">
                  <div class="card-header">
                    <h3 class="card-title">Dados</h3>

                    <!-- /.card-tools -->
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body" style="padding: 9px;"><br>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label"><i class="fa fa-edit"></i> Slug</label>
                          <input type="text" name="slug" [(ngModel)]="tipoPedido.slug" class="form-control"
                            placeholder="Slug">
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label"><i class="fa-editl"></i> Descrição</label>
                          <input type="text" name="descricao" [(ngModel)]="tipoPedido.descricao" class="form-control"
                            placeholder="Descrição">
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="control-label"><i class="fa-editl"></i> Rota CRM Inicial</label>
                          <input type="text" name="rota_crm_inicial" [(ngModel)]="tipoPedido.rota_crm_inicial" class="form-control"
                            placeholder="Rota">
                        </div>
                      </div>
 
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"> Fechar</button>
              <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>
