<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Operações</a></li> 
              <li class="breadcrumb-item">Reporting & BI </li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="row">

        <!--<div class="col-lg-12 col-12">

          <div class="card">
            <app-loading></app-loading>
            <div class="card-footerr" style="padding: 16px;">
              <div class="row">

                <div class="col-sm-2 col-6">
                  <div class="description-block border-right text-right" style="padding-right: 14px;">

                    <h5 class="description-header" style="font-size: 21px;"><i class="fa fa-shopping-cart"
                        style="font-size: 44px;padding: 0 20px;"></i> Facturação</h5>
                    <span class="description-text" style="font-size: 12px;text-transform: none;">Facturação ao longo do
                      tempo</span>
                  </div>
                  <!-- /.description-block --
                </div>

                <div class="col-sm-2 col-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-success"><i class="fa fa-caret-up"></i> c/IVA
                      {{ configService.numberFormat(dash.facturaSumTotalComImpostoHoje)}} AOA</span>
                    <h5 class="description-header">
                      {{ configService.numberFormat(dash.facturaSumTotalSemImpostoHoje)}} AOA</h5>
                    <span class="description-text">Hoje</span>
                  </div>
                  <!-- /.description-block --
                </div>
                <!-- /.col --
                <div class="col-sm-2 col-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-warning"><i class="fa fa-caret-left"></i> c/IVA
                      {{ configService.numberFormat(dash.facturaSumTotalComImpostoOntem)}} AOA</span>
                    <h5 class="description-header">
                      {{ configService.numberFormat(dash.facturaSumTotalSemImpostoOntem)}} AOA</h5>
                    <span class="description-text">Ontem</span>
                  </div>
                  <!-- /.description-block --
                </div>
                <!-- /.col --
                <div class="col-sm-2 col-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-success"><i class="fa fa-caret-up"></i> c/IVA
                      {{ configService.numberFormat(dash.facturaSumTotalComImpostoMes)}} AOA</span>
                    <h5 class="description-header">
                      {{ configService.numberFormat(dash.facturaSumTotalSemImpostoMes)}} AOA</h5>
                    <span class="description-text">Mês</span>
                  </div>
                  <!-- /.description-block --
                </div>
                <!-- /.col --
                <div class="col-sm-2 col-6">
                  <div class="description-block">
                    <span class="description-percentage text-danger"><i class="fa fa-caret-down"></i> c/IVA
                      {{ configService.numberFormat(dash.facturaSumTotalComImpostoMesAnterior)}} AOA</span>
                    <h5 class="description-header">
                      {{ configService.numberFormat(dash.facturaSumTotalSemImpostoMesAnterior)}} AOA</h5>
                    <span class="description-text">Mês Anterior</span>
                  </div>
                  <!-- /.description-block --
                </div>
                <div class="col-sm-2 col-6">
                  <div class="description-block">
                    <span class="description-percentage text-danger"><i class="fa fa-caret-down"></i> c/IVA
                      {{ configService.numberFormat(dash.facturaSumTotalComImpostoGeral)}} AOA</span>
                    <h5 class="description-header">
                      {{ configService.numberFormat(dash.facturaSumTotalSemImpostoGeral)}} AOA</h5>
                    <span class="description-text">Geral</span>
                  </div>
                  <!-- /.description-block --
                </div>
              </div>
              <!-- /.row --
            </div>
            <!-- /.card-footer --
          </div>

        </div>

        <div class="col-md-6">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header --
                <div class="modal-header">
                  <h4 class="modal-title"> Relatório - Facturação Realizadas</h4>
                </div>
                <!-- Modal body --
                <div class="modal-body p-0">
                  <!-- /.card-body --
                  <br>
                  <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped text-center m-0">
                      <thead>
                        <tr>
                          <th>Order ID</th>
                          <th>Item</th>
                          <th>Status</th>
                          <th>Popularity</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><a href="pages/examples/invoice.html">OR9842</a></td>
                          <td>Call of Duty IV</td>
                          <td><span class="badge badge-success">Shipped</span></td>
                          <td>
                            <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div>
                          </td>
                        </tr>
                        <tr>
                          <td><a href="pages/examples/invoice.html">OR1848</a></td>
                          <td>Samsung Smart TV</td>
                          <td><span class="badge badge-warning">Pending</span></td>
                          <td>
                            <div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div>
                          </td>
                        </tr>
                        <tr>
                          <td><a href="pages/examples/invoice.html">OR7429</a></td>
                          <td>iPhone 6 Plus</td>
                          <td><span class="badge badge-danger">Delivered</span></td>
                          <td>
                            <div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div>
                          </td>
                        </tr>
                        <tr>
                          <td><a href="pages/examples/invoice.html">OR7429</a></td>
                          <td>Samsung Smart TV</td>
                          <td><span class="badge badge-info">Processing</span></td>
                          <td>
                            <div class="sparkbar" data-color="#00c0ef" data-height="20">90,80,-90,70,-61,83,63</div>
                          </td>
                        </tr>
                        <tr>
                          <td><a href="pages/examples/invoice.html">OR1848</a></td>
                          <td>Samsung Smart TV</td>
                          <td><span class="badge badge-warning">Pending</span></td>
                          <td>
                            <div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div>
                          </td>
                        </tr>
                        <tr>
                          <td><a href="pages/examples/invoice.html">OR7429</a></td>
                          <td>iPhone 6 Plus</td>
                          <td><span class="badge badge-danger">Delivered</span></td>
                          <td>
                            <div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header --
                <div class="modal-header">
                  <h4 class="modal-title"> Relatório - Conta Corrente</h4>
                </div>
                <!-- Modal body --
                <div class="modal-body p-0">
                  <!-- /.card-body --
                  <br>
                  <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped text-center m-0">
                      <thead>
                        <tr>
                          <th>Order ID</th>
                          <th>Item</th>
                          <th>Status</th>
                          <th>Popularity</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><a href="pages/examples/invoice.html">OR9842</a></td>
                          <td>Call of Duty IV</td>
                          <td><span class="badge badge-success">Shipped</span></td>
                          <td>
                            <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div>
                          </td>
                        </tr>
                        <tr>
                          <td><a href="pages/examples/invoice.html">OR1848</a></td>
                          <td>Samsung Smart TV</td>
                          <td><span class="badge badge-warning">Pending</span></td>
                          <td>
                            <div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div>
                          </td>
                        </tr>
                        <tr>
                          <td><a href="pages/examples/invoice.html">OR7429</a></td>
                          <td>iPhone 6 Plus</td>
                          <td><span class="badge badge-danger">Delivered</span></td>
                          <td>
                            <div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div>
                          </td>
                        </tr>
                        <tr>
                          <td><a href="pages/examples/invoice.html">OR7429</a></td>
                          <td>Samsung Smart TV</td>
                          <td><span class="badge badge-info">Processing</span></td>
                          <td>
                            <div class="sparkbar" data-color="#00c0ef" data-height="20">90,80,-90,70,-61,83,63</div>
                          </td>
                        </tr>
                        <tr>
                          <td><a href="pages/examples/invoice.html">OR1848</a></td>
                          <td>Samsung Smart TV</td>
                          <td><span class="badge badge-warning">Pending</span></td>
                          <td>
                            <div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div>
                          </td>
                        </tr>
                        <tr>
                          <td><a href="pages/examples/invoice.html">OR7429</a></td>
                          <td>iPhone 6 Plus</td>
                          <td><span class="badge badge-danger">Delivered</span></td>
                          <td>
                            <div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>


        <div class="col-md-6">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header --
                <div class="modal-header">
                  <h4 class="modal-title"> Password</h4>
                </div>
                <!-- Modal body --
                <div class="modal-body">
                  <!-- /.card-body --
                  <div class="chart">
                    <!-- Sales Chart Canvas --
                    <canvas id="myChart" width="300" height="120"></canvas>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>-->

      </div>
    </section>
    <!-- /.content -->
  </div>
  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>