<div class="modal modal-info fade in" id="modalCreateOrEditProvincia" data-backdrop="static"
  [ngStyle]="{'display': provinciaModal ? 'block' : 'none', 'opacity': 1}">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <form [formGroup]="simpleFormProvincia" (submit)="onSubmit();">
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa fa-map-marker nav-icon"></i> {{ title }}</h4>
          <button class="close" type="reset" (click)="onReset()" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body" style="padding: 2rem;">
          <ngx-loading [show]="loading"></ngx-loading>
          <app-loading></app-loading>
          <div class="row">


            <div class="col-md-6">
              <div class="form-group has-warning">
                <label class="col-form-label">Nome</label>
                <input class="form-control" required autofocus id="nome" type="text" formControlName="nome"
                  placeholder="Nome" autocomplete="given-name"
                  [ngClass]="{ 'is-invalid': submitted && f.nome.errors, 'is-valid': f.nome.touched && !f.nome.errors }" />
                <div *ngIf="submitted && f['nome'].errors" class="invalid-feedback">
                  <div *ngIf="f['nome'].errors.required">O campo Nome é obrigatório</div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group has-warning">
                <label class="col-form-label">Abreviatura</label>
                <input class="form-control" required autofocus id="abreviatura" type="text" formControlName="abreviatura"
                  placeholder="Abreviatura" autocomplete="given-name"
                  [ngClass]="{ 'is-invalid': submitted && f.abreviatura.errors, 'is-valid': f.abreviatura.touched && !f.abreviatura.errors }" />
                <div *ngIf="submitted && f['abreviatura'].errors" class="invalid-feedback">
                  <div *ngIf="f['abreviatura'].errors.required">O campo Abreviatura é obrigatório</div>
                </div>
              </div>
            </div>


          </div>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="btn btn-danger btn-sm" type="reset" [disabled]="simpleFormProvincia.pristine && !submitted"
            (click)="onReset()">Limpar</button>
          <button class="btn btn-success btn-sm mr-1" type="submit"
            [disabled]="simpleFormProvincia.valid">Validar</button>
          <button class="btn btn-primary mr-1 btn-sm" type="submit" data-style="expand-left"><i class="fa fa-save"></i>
            Registar</button>
        </div>
      </form>
    </div>
  </div>
</div>