<div class="modal modal-info fade in" id="perfilModal" data-backdrop="static">
  <div class="modal-dialog modal-lg animated fadeIn" style="max-width: 1200px;">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa icon-user"></i> Perfil do Utilizador</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="    border-bottom: 1px solid #f1f1f1;">

        <div class="row">
          <div class="col-sm-6">
            <img class="profile-user-img img-fluid img-circle" style="border-radius: 4%;margin: 0 20px; width: 188px;" src="assets/dist/img/user_image.png" alt="Photo"> 
          </div>
          <!-- /.col -->
          <div class="col-sm-6"> 
          </div>
          <!-- /.col -->
        </div>

      </div>
      <!-- Modal body -->
      <form [formGroup]="simpleForm" novalidate (ngSubmit)="onSubmit()" class="needs-validation">
        <div class="modal-body">
          <app-loading></app-loading>
          <!-- /.card-body --> 
          <div class="row" style="background: #e9ecef; padding: 0px 14px; border-radius: 2px; border: 1px solid #dee2e6;">
            <div class="col-md-12">
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="old_password" class="col-form-label"><i class="fa fa-asterisk"></i> Senha Actual</label>
                  <input class="form-control" id="old_password" type="password" formControlName="old_password"
                    placeholder="Senha Actual" autocomplete="old_password-proprio" required autofocus
                    [ngClass]="{ 'is-invalid': submitted && f.old_password.errors, 'is-valid': f.old_password.touched && !f.old_password.errors }" />
                  <div *ngIf="submitted && f['old_password'].errors" class="invalid-feedback">
                    <div *ngIf="f['old_password'].errors.required">{{formErrors.old_password.required}}</div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label class="col-form-label" for="password"><i class="fa fa-asterisk"></i> Nova Senha</label>
                  <input class="form-control" id="password" type="password" formControlName="password" placeholder="Nova Senha"
                    autocomplete="new-password" required
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors, 'is-valid': f.password.touched && !f.password.errors }" />
                  <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                    <div *ngIf="f['password'].errors.required">Password is required</div>
                    <div *ngIf="f['password'].errors.minlength">{{formErrors.password.minLength}}</div>
                    <div *ngIf="f['password'].errors.pattern">{{formErrors.password.pattern}}</div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label class="col-form-label" for="password_confirmation"><i class="fa fa-asterisk"></i> Confirmar Senha</label>
                  <input class="form-control" id="password_confirmation" type="password" formControlName="password_confirmation"
                    placeholder="Confirmar Senha" autocomplete="new-password" required
                    [ngClass]="{ 'is-invalid': submitted && simpleForm.errors, 'is-valid': f.password_confirmation.touched && !simpleForm.errors }" />
                  <div *ngIf="submitted && simpleForm.errors" class="invalid-feedback">
                    <div *ngIf="simpleForm.errors['passwordMismatch']">As senhas não correspondem </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <div class="form-group">
            <button class="btn btn-primary mr-1" data-style="expand-left" type="submit"
              [disabled]="simpleForm.pristine || simpleForm.invalid">Submeter
            </button>
            <button class="btn btn-success mr-1" type="submit" [disabled]="simpleForm.valid">Validar</button>
            <button class="btn btn-danger" type="reset" [disabled]="simpleForm.pristine && !submitted"
              (click)="onReset()">Limpar
            </button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>