<div class="modal modal-info fade in" id="{{modal}}"  data-backdrop="static">
  <div class="modal-dialog modal-lg " style="max-width: 1150px;">
    <div class="modal-content">
      <!-- Modal Header -->
      <form [formGroup]="simpleFormSerie" (submit)="onSubmit();">
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa fa fa-sort-numeric-asc nav-icon"></i> {{ title }}</h4>
          <button class="close" type="reset" (click)="onReset()" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body" style="padding: 2rem;">
          <ngx-loading [show]="loading"></ngx-loading>
          <app-loading></app-loading>
          <div class="row">

            <div class="col-md-8">
              <div class="form-group has-warning">
                <label class="col-form-label">Nome</label>
                <input class="form-control" required autofocus id="nome" type="text" formControlName="nome"
                  placeholder="nome" autocomplete="given-name"
                  [ngClass]="{ 'is-invalid': submitted && f.nome.errors, 'is-valid': f.nome.touched && !f.nome.errors }" />
                <div *ngIf="submitted && f['nome'].errors" class="invalid-feedback">
                  <div *ngIf="f['nome'].errors.required">O campo nome é obrigatório</div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group has-warning">
                <label class="col-form-label" for="proximo_numero">Número Sequencial</label>
                <input class="form-control" required autofocus id="proximo_numero" type="text" formControlName="proximo_numero"
                  placeholder="proximo_numero" autocomplete="given-name" 
                  [ngClass]="{ 'is-invalid': submitted && f.proximo_numero.errors, 'is-valid': f.proximo_numero.touched && !f.proximo_numero.errors }" />
                <div *ngIf="submitted && f['proximo_numero'].errors" class="invalid-feedback">
                  <div *ngIf="f['proximo_numero'].errors.required">O campo proximo_numero é obrigatório</div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group has-warning">
                <label class="col-form-label" for="documento_id"> Documento</label>
                <div class="input-group mb-3">
                  <select formControlName="documento_id" class="form-control" required autofocus
                    [ngClass]="{ 'is-invalid': submitted && f.documento_id.errors, 'is-valid': f.documento_id.touched && !f.documento_id.errors }">
                    <option [value]="null">Seleciona o documento</option>
                    <option value="{{ item.id }}" *ngFor="let item of documentos">{{ item.nome }} -
                      {{ item.sigla }}
                    </option>
                  </select>
                  <div *ngIf="submitted && f['documento_id'].errors" class="invalid-feedback">
                    <div *ngIf="f['documento_id'].errors.required">O campo documento é obrigatório</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="valor">Movimenta?</label>
                <select formControlName="movimento" class="form-control" required autofocus
                    [ngClass]="{ 'is-invalid': submitted && f.movimento.errors, 'is-valid': f.movimento.touched && !f.movimento.errors }">
                    <option [value]="null">Estado</option>
                    <option value="N">NÃO</option>
                    <option value="S">SIM</option>
                  </select>
                <div *ngIf="submitted && f['movimento'].errors" class="invalid-feedback">
                  <div *ngIf="f['movimento'].errors.required">O campo valor é obrigatório</div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group has-warning">
                <label class="col-form-label" for="tipo_movimento"> Tipo movimento</label>
                <div class="input-group mb-3">
                  <select formControlName="tipo_movimento" class="form-control" required autofocus
                    [ngClass]="{ 'is-invalid': submitted && f.tipo_movimento.errors, 'is-valid': f.tipo_movimento.touched && !f.tipo_movimento.errors }">
                    <option [value]="null">Estado</option>
                    <option value="E">ENTRADA</option>
                    <option value="S">SAIDA</option>
                  </select>
                  <div *ngIf="submitted && f['tipo_movimento'].errors" class="invalid-feedback">
                    <div *ngIf="f['tipo_movimento'].errors.required">O campo Estado é obrigatório</div>
                  </div>
                </div>
              </div>
            </div>

            

            <div class="col-md-2">
              <div class="form-group has-warning">
                <label class="col-form-label" for="activo"> activo</label>
                <div class="input-group mb-3">
                  <select formControlName="activo" class="form-control" required autofocus
                    [ngClass]="{ 'is-invalid': submitted && f.activo.errors, 'is-valid': f.activo.touched && !f.activo.errors }">
                    <option [value]="null">Estado</option>
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                  </select>
                  <div *ngIf="submitted && f['activo'].errors" class="invalid-feedback">
                    <div *ngIf="f['activo'].errors.required">O campo Estado é obrigatório</div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="btn btn-danger btn-sm" type="reset" [disabled]="simpleFormSerie.pristine && !submitted"
            (click)="onReset()">Limpar</button>
          <button class="btn btn-success btn-sm mr-1" type="submit"
            [disabled]="simpleFormSerie.valid">Validar</button>
          <button class="btn btn-primary mr-1 btn-sm" type="submit"
            [disabled]="simpleFormSerie.pristine || simpleFormSerie.invalid" data-style="expand-left"><i
              class="fa fa-save"></i>
            Registar</button>
        </div>
      </form>
    </div>
  </div>
</div>