<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Stock Movimento {{ (this.artigo_id == null || this.artigo_id == 0 ? '' : (movimentos.length > 0 ? " - ARTIGO: "+movimentos[0].produto: '')) }} </h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Logística</a></li>
              <li class="breadcrumb-item">Inventários</li>
              <li class="breadcrumb-item">Gestão de Stock</li>
              <li class="breadcrumb-item active">Stock Movimento</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

      <div class="row">

        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
              <div class="modal-content" style="box-shadow: 0 0 0rem
                rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title"> Filtro de Dados</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <div class="row">


                    <div class="col-md-1 col-xs-3">
                      <div class="form-group">
                        <!--<label style="color: #fff;">Entrada</label>-->
                        <select name="perPage"
                          [(ngModel)]="this.filters.pagination.perPage"
                          class="form-control">
                          <option value="5" selected>Entrada</option>
                          <option value="5">5</option>
                          <option value="10">10</option>
                          <option value="15">15</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                        </select>
                      </div>
                      <!-- /.input group -->
                    </div> 

                    <div class="col-md-3 col-xs-3">
                      <div class="form-group">
                        <input type="text" name="search"
                          [(ngModel)]="this.filters.search"
                          placeholder="Pesquisar" class="form-control"
                          (keyup)="getPageFilterData($event)">
                        <i class="fa fa-search"
                          style="float: right;margin:-30px 10px 0 0px;
                          font-size: 22px; color: #777;"></i>
                      </div>
                      <!-- /.input group -->
                    </div>

                    <div class="col-md-2" *ngIf="this.artigo_id == 0">
                      <div class="form-group has-warning"> 
                        <div class="input-group mb-3"> 
                          <ng-select [items]="armazens"  autofocus style="padding: 0;" 
                            [loading]="loadings.armazem" 
                            notFoundText="Carregando..." 
                            notFoundText="Nenhum resultado encontrado" 
                            bindLabel="nome" 
                            bindValue="id" 
                            class="form-control"  
                            [multiple]="false"  [(ngModel)]="armazem_id"
                            placeholder="Armazens"   >
                          </ng-select>
                          
                        </div>

                       
                      </div>
                    </div>

                    <div class="col-md-2" *ngIf="this.artigo_id == 0">
                      <div class="form-group has-warning">  
                        <ng-select [items]="artigos"  autofocus style="padding: 0;" 
                      notFoundText="Carregando..." 
                      [loading]="loadings.artigo"
                      notFoundText="Nenhum resultado encontrado" 
                      bindLabel="descricao" 
                      bindValue="id" 
                      class="form-control"  
                      [multiple]="false" 
                      [searchable]="true"
                      placeholder="Material" 
                      [(ngModel)]="artigoId" 
                      > </ng-select>
                     
                     
                      </div>
                    </div>

                    <div class="col-md-1 col-xs-1">
                      <div class="form-group">
                        <input type="date" name="data"
                          [(ngModel)]="this.data"
                          placeholder="Pesquisar" class="form-control"
                          (keyup)="getPageFilterData($event)">
                        <i class="fa fa-calendar"
                          style="float: right;margin:-30px 10px 0 0px;
                          font-size: 22px; color: #777;"></i>
                      </div>
                      <!-- /.input group -->
                    </div>

                     <div class="col-md-1 col-xs-3">
                      <div class="form-group">
                        <select name="orderBy"
                          [(ngModel)]="this.filters.orderBy"
                          class="form-control">
                          <option [ngValue]="null">Ordernar</option>
                          <option value="stk_produtos.descricao">Nome do Material</option>
                          <option value="stk_movimentos.created_at">Data</option>
                          <option value="stk_tipo_movimentos.descricao">Movimentação</option>
                        </select>
                      </div>
                      <!-- /.input group -->
                    </div>


                    <div class="col-md-1 col-xs-3">
                      <div class="form-group">
                        <div class="input-group">
                          <div class="btn-group">
                            <button type="button" class="btn btn-primary
                              btn-flat mr-1 btn-smm" type="button"
                              (click)="getPageFilterData($event)"><i class="fa
                                fa-search"></i> Filtrar</button>
                            <div class="btn-group">
                              <button type="button" class="btn btn-info
                                dropdown-toggle dropdown-icon btn-flat"
                                data-toggle="dropdown" aria-expanded="false"
                                [disabled]="(movimentos.length> 0 ? false : true)">
                                <i class="fa fa-download"></i>
                                Exportação
                              </button>
                              <div class="dropdown-menu"
                                x-placement="bottom-start" style="left: 40px;">
                                <a class="dropdown-item"
                                  href="javascript:void(0)"
                                  ><i
                                    class="fa fa-file-pdf-o"></i>
                                  PDF</a>
                                <a class="dropdown-item"
                                  href="javascript:void(0)"
                                 ><i
                                    class="fa fa-file-excel-o"></i> Excel</a>
                              </div>
                            </div>
                           <!--  <button type="button" class="btn btn-info btn-flat"
                              (click)="imprimirPDF()"
                              [disabled]="(movimentos.length> 0 ? false : true)"><i
                                class="icon-printer"></i>
                              Imprimir</button>  -->
                          </div>
                        </div>
                        <!-- /.input group -->
                      </div>
                    </div>


                  </div> 
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;">
              <div class="modal-content" style="box-shadow: 0 0 0rem
                rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">LISTA STOCK MOVIMENTOS  {{ (this.artigo_id == null || this.artigo_id == 0 ? '' : (movimentos.length > 0 ? " - ARTIGO: "+movimentos[0].produto: '')) }} </h4>
                  <div class="card-tools"> 
                  <a routerLink="/stock/movimentacao" type="button" class="btn btn-primary btn-tooll btn-sm btn-flat" *ngIf="this.artigo_id != 0"  ><i class="fa fa-arrow-left"></i> Voltar Movimentação de Stock</a>       
                  <button class="btn btn-outline-primary btn-sm btn-flat" type="button" (click)="listarStockMovimentos()"><i class="icon-refresh"></i> Recarregar Dados</button>
  
              </div>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <!-- /.card-body -->
                  <div class="table-responsivee">


                    <ngx-loading [show]="loading"></ngx-loading>
                    <table class="table table-hover table-bordered table-striped
                      text-center exportAsXLSX">
                      <tbody>
                        <tr>
                          <th>#</th>
                          <th>Nome do Material</th>                          
                          <th>Entrada</th>
                          <th>Saída</th> 
                          <th>Valor</th>
                          <!-- <th>Total</th>  -->
                          <th>Movimentação</th>
                          <th>Armazem</th>
                          <th>Data</th>
                          <th style="width: 150px;" *ngIf="this.artigo_id == null || this.artigo_id == 0">Acção</th>
                        </tr>
                        <tr *ngFor="let movimento of movimentos | paginate: { itemsPerPage: this.filters.pagination.perPage, currentPage: this.filters.pagination.page, totalItems: this.filters.pagination.total }; index as i">
                          <td style="width: 68px;">{{ i+1 }}</td>
                          <td style="width: 538px;">{{ movimento.produto }}</td> 

                          <td style="background: #E1F5FE; width: 120px;">{{ (movimento.movimento =='E'? movimento.quantidade: '0') }}</td>
                          <td style="background: #E1F5FE; width: 120px;">{{ (movimento.movimento =='S'? movimento.quantidade: '0') }}</td> 
                          <td style="background: #E1F5FE; width: 120px;">{{ configService.numberFormat(movimento.valor) }}</td>
                         <!--  <td style="background: #E1F5FE; width: 120px;">{{ configService.numberFormat(movimento.total) }}</td> -->  
                          <td style="width: 231px;">
                            <span class="btn btn-block" >{{ movimento.documento }}</span> 
                          </td>

                          <td><span class="btn btn-block"
                              *ngIf="movimento.armazem ==null">--------</span>
                            {{ movimento.armazem }} </td>
                          <td style="width: 175px;">{{ movimento.created_at | date: 'dd-MM-yyyy' }}
                          </td>
                          <td *ngIf="this.artigo_id == null || this.artigo_id == 0">

                            <div class="btn-group btn-block">
                              <button type="button" class="btn btn-info btn-flat btn-sm btn-block"
                                data-toggle="dropdown">Opções</button>
                              <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Menu</span>
                              </button>
                              <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(67px, 38px, 0px);">
 
                              <a routerLink="#" (click)="goToPageLink(movimento)" class="dropdown-item btn-sm" title="Ver Movimentação do Artigo"><i class="fa fa-object-group"></i> Movimentação do Artigo</a> 

                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>



                  </div>
                </div>
                <div class="modal-footer">
                  <div class="row" style="width: 100%;">
                    <div class="col-sm-12 col-md-5">
                      <div class="dataTables_info">Mostrando de
                        {{this.filters.pagination.page}} a
                        {{this.filters.pagination.perPage}} de
                        {{this.filters.pagination.total}} Registos
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                      <div class="pull-right">
                        <pagination-controls (pageChange)="getPageFilterData($event)"
                          previousLabel="Anterior" maxSize="6" nextLabel="Proximo" directionLinks="true"
                          responsive="true"></pagination-controls>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </section>


  </div>
  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>
