<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><i class="fa fa-file-pdf-o"></i> Relatórios Clientes</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Operações</a></li>
              <li class="breadcrumb-item"><a href="#">Reporting & BI</a></li>
              <li class="breadcrumb-item active">Relatórios Clientes</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

      <div class="row">

        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title"> Filtro de Dados</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <div class="row">


                    <!--  <div class="col-md-1 col-xs-3">
                      <div class="form-group">
                        
                       <select name="perPage" class="form-control">
                          <option value="5" selected>Entrada</option>
                          <option value="5">5</option>
                          <option value="10">10</option>
                          <option value="15">15</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                        </select>
                      </div>
                       /.input group 
                    </div>-->

                    <div class="col-md-1 col-xs-3">
                      <label>Direcção</label>
                      <div class="input-group mb-3">
                        <select name="direccao" [(ngModel)]="this.filter.direccao" class="form-control">
                          <option [ngValue]="null">Direcção</option>
                          <option value="T">Todas</option>
                          <option value="{{direccao.id}}" *ngFor="let direccao of direccoes">
                            {{ direccao.designacao}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-1 col-xs-3">
                      <label>Gênero</label>
                      <div class="input-group mb-3">
                        <select name="genero" [(ngModel)]="this.filter.genero" class="form-control">
                          <option [ngValue]="null">Genero</option>
                          <option value="T">Todos</option>
                          <option value="{{item.id}}" *ngFor="let item of generos">
                            {{ item.nome}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-2 col-xs-3">
                      <label>Tipo Cliente</label>
                      <div class="input-group mb-3">
                        <select name="tipo_cliente" [(ngModel)]="this.filter.tipo_cliente" class="form-control">
                          <option [ngValue]="null">Tipo Cliente</option>
                          <option value="T">Todos</option>
                          <option value="{{item.id}}" *ngFor="let item of tipoclientes">
                            {{ item.tipoClienteDesc}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-2 col-xs-3">
                      <label>Tipo Identificação</label>
                      <div class="input-group mb-3">
                        <select name="tipo_identidade" [(ngModel)]="this.filter.tipo_identidade" class="form-control">
                          <option [ngValue]="null">Tipo Identificação</option>
                          <option value="T">Todos</option>
                          <option value="{{item.id}}" *ngFor="let item of tipoidentidades">
                            {{ item.nome}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-1 col-xs-3">
                      <label>Gestor</label>
                      <div class="input-group mb-3">
                        <select name="gestor" [(ngModel)]="this.filter.gestor_conta" class="form-control">
                          <option [ngValue]="null">Gestor</option>
                          <option value="T">Todos</option>
                          <option value="{{item.id}}" *ngFor="let item of gestores">
                            {{ item.nome}}</option>
                        </select>
                      </div>
                    </div>


                    <div class="col-md-1 col-xs-3">
                      <label>Email</label>
                      <div class="input-group mb-3">
                        <select name="email" [(ngModel)]="this.filter.email" class="form-control">
                          <option [ngValue]="null">Email</option>
                          <option value="T">Tudo</option>
                          <option value="C">Com</option>
                          <option value="S">Sem</option>
                        </select>
                      </div>
                    </div>

                    <!--                     <div class="col-md-1 col-xs-3">
                      <label>Contribuinte</label>
                      <div class="input-group mb-3">
                        <select name="contribuinte" [(ngModel)]="this.filter.contribuente" class="form-control">
                          <option [ngValue]="null">Contribuinte</option>
                          <option value="T">Tudo</option>
                          <option value="C">Com</option>
                          <option value="S">Sem</option>
                        </select>
                      </div>
                    </div> -->

                    <!-- <div class="col-md-1 col-xs-3">
                      <div class="form-group">
                        <select name="orderBy" [(ngModel)]="this.http.filters.orderBy" class="form-control">
                          <option [ngValue]="null">Ordernar</option>
                          <option value="nome">Nome do cliente</option>
                          <option value="created_at">Data</option>
                          <option value="contribuente">Contribuinte</option>
                          <option value="morada">Morada</option>
                          <option value="telefone">Telefone</option>
                        </select>
                      </div>
                       /.input group 
                    </div>-->


                    <div class=" col-md-1 col-xs-3">
                      <label style="color: white;">D</label>
                      <div class="  form-group">
                        <div class="input-group">
                          <div class="btn-group">
                            <button type="button"
                              [disabled]="(this.filter.gestor_conta != null && this.filter.direccao != null && this.filter.email != null && this.filter.tipo_cliente != null && this.filter.tipo_identidade != null? false : true)"
                              class="btn btn-primary btn-flat mr-1 btn-smm" type="button" (click)=" listClientes()"><i
                                class="fa fa-search"></i> Filtrar</button>
                            <!--                             <button type="button" [disabled]="(this.filter.gestor != null && this.filter.email != null && this.filter.contribuente != null && this.filter.direccao != 
                            null && this.filter.tipo_cliente != null && this.filter.tipo_identidade != null? false : true)"
                             class="btn btn-primary btn-flat mr-1 btn-smm" type="button"
                              (click)=" listClientes()"><i class="fa fa-search"></i> Filtrar</button> -->
                            <div class="btn-group">
                              <button type="button" class="btn btn-info dropdown-toggle dropdown-icon btn-flat"
                                data-toggle="dropdown" aria-expanded="false"
                                [disabled]="(items.length > 0 ? false : true)"> <i class="fa fa-download"></i>
                                Exportação
                              </button>
                              <!--  <button type="button" class="btn btn-info dropdown-toggle dropdown-icon btn-flat"
                                data-toggle="dropdown" aria-expanded="false"
                                [disabled]="(items.length > 0 ? false : true)"> <i class="fa fa-download"></i>
                                Exportação
                              </button> -->
                              <div class="dropdown-menu" x-placement="bottom-start" style="left: 40px;">
                                <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsPDF();"><i
                                    class="fa fa-file-pdf-o"></i>
                                  PDF</a>
                                <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsXLSX();"><i
                                    class="fa fa-file-excel-o"></i> Excel</a>
                              </div>
                            </div>
                            <!--                             <button type="button" class="btn btn-info btn-flat" (click)="imprimirPDF()"
                              [disabled]="(items.length > 0 ? false : true)"><i class="icon-printer"></i>
                              Imprimir</button> -->
                            <button type="button" class="btn btn-info btn-flat" (click)="imprimirPDF()"
                              [disabled]="disableButton"><i class="icon-printer"></i>
                              Imprimir</button>
                            <!--                             <button type="button" class="btn btn-info btn-flat" (click)="imprimirPDF()"
                              [disabled]="(items.length > 0 ? false : true)"><i class="icon-printer"></i>
                              Imprimir</button> -->

                            <!--<button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#modalClienteCreateOrEdit"
                                    (click)="setDataCliente(undefined);getProvincias();iniCliente();listarTipoClientes();listarTipoIdentidades();listarDireccao() "><i
                                      class="fa fa-plus"></i> Registar</button>-->
                          </div>
                        </div>
                        <!-- /.input group -->
                      </div>
                    </div>


                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title"> RELATÓRIOS CLIENTES</h4>
                  <div class="card-tools">
                  </div>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <!-- /.card-body -->
                  <div class="table-responsive">
                    <ngx-loading [show]="loading"></ngx-loading>

                    <table class="table table-hover table-bordered table-stripedd text-center m-0 exportAsXLSXCliente">
                      <tbody>
                        <tr style="color: #fff; background: #0099FF;">
                          <th width="20">#</th>
                          <th width="300">Nome</th>
                          <th width="100">Genero</th>
                          <th width="100">Identificação</th>
                          <th width="150">Tipo Identidade</th>
                          <th width="150">Tipo Cliente</th>
                          <th width="150">Email</th>
                          <th width="100">Telefone</th>
                          <th width="200">Gestor</th>
                          <th width="100">Direcção</th>
                        </tr>

                        <tr *ngFor="let item of items">
                          <td>{{ item.id }}</td>
                          <td>{{ item.nome }}</td>
                          <td><span>{{ item.genero == null ? '------' : item.genero }}</span></td>
                          <td><span class="btn btn-block btn-flat">{{ item.numero_identificacao == null ? '------' :
                              item.numero_identificacao }}</span></td>
                          <td>{{ item.tipo_identidade == null ? '------' : item.tipo_identidade }}</td>
                          <td>{{ item.tipo_cliente == null ? '------' : item.tipo_cliente }}</td>
                          <td>{{ item.email == null ? '------' : item.email }}</td>
                          <td>{{ item.telefone == null ? '------' : item.telefone }}</td>
                          <td>{{ item.gestor_conta == null ? '------' : item.gestor_conta }}</td>
                          <td>{{ item.direccao == null ? '------' : item.direccao }}</td>
                        </tr>
                      </tbody>
                    </table>


                  </div>
                </div>
                <!--
                <div class="modal-footer">
                  <div class="row" style="width: 100%;">
                    <div class="col-sm-12 col-md-5">
                      <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                        {{this.http.filters.pagination.perPage}} de
                        {{this.http.filters.pagination.total}} Clientes
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                      <div class="pull-right">
                        <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior"
                          maxSize="6" nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                      </div>
                    </div>
                  </div>
                </div>-->

              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- /.content -->
  </div>


  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>