<div class="modal modal-info fade in" id="{{modal}}"  data-backdrop="static">
  <div class="modal-dialog modal-lg " style="max-width: 1150px;">
    <div class="modal-content">
      <!-- Modal Header -->
      <form [formGroup]="simpleFormtarifario" (submit)="onSubmit();">
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa fa-building-o nav-icon"></i> {{ title }}</h4>
          <button class="close" type="reset" (click)="onReset()" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body" style="padding: 2rem;">
          <ngx-loading [show]="loading"></ngx-loading>
          <app-loading></app-loading>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group has-warning">
                <label class="col-form-label">Descrição</label>
                <input class="form-control" required autofocus id="descricao" type="text" formControlName="descricao"
                  placeholder="Descrição" autocomplete="given-name"
                  [ngClass]="{ 'is-invalid': submitted && f.descricao.errors, 'is-valid': f.descricao.touched && !f.descricao.errors }" />
                <div *ngIf="submitted && f['descricao'].errors" class="invalid-feedback">
                  <div *ngIf="f['descricao'].errors.required">O campo Observação é obrigatório</div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group has-warning">
                <label class="col-form-label">Condições</label>
                <input class="form-control" required autofocus id="condicoes" type="text" formControlName="condicoes"
                  placeholder="Condições" autocomplete="given-name"
                  [ngClass]="{ 'is-invalid': submitted && f.condicoes.errors, 'is-valid': f.condicoes.touched && !f.condicoes.errors }" />
                <div *ngIf="submitted && f['condicoes'].errors" class="invalid-feedback">
                  <div *ngIf="f['condicoes'].errors.required">O campo Condições é obrigatório</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group has-warning">
                <label class="col-form-label">Crédito</label>
                <input class="form-control" required autofocus id="credMensalInDefault" type="text" formControlName="credMensalInDefault"
                  placeholder="Crédito" autocomplete="given-name"
                  [ngClass]="{ 'is-invalid': submitted && f.credMensalInDefault.errors, 'is-valid': f.credMensalInDefault.touched && !f.credMensalInDefault.errors }" />
                <div *ngIf="submitted && f['credMensalInDefault'].errors" class="invalid-feedback">
                  <div *ngIf="f['credMensalInDefault'].errors.required">O campo Crédito é obrigatório</div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group has-warning">
                <label class="col-form-label" for="imposto_id">Placo Preço</label>
                <div class="input-group mb-3">

                  <select formControlName="plano_preco_id" class="form-control" required autofocus
                    [ngClass]="{ 'is-invalid': submitted && f.plano_preco_id.errors, 'is-valid': f.plano_preco_id.touched && !f.plano_preco_id.errors }">
                    <option [value]="null">Plano Preço</option>
                    <option *ngFor="let i of planoprecos" [value]="i.id">
                      {{i.precoDescricao}} - {{i.valor}}
                    </option>
                  </select>
                  <div *ngIf="submitted && f['plano_preco_id'].errors" class="invalid-feedback">
                    <div *ngIf="f['plano_preco_id'].errors.required">O campo Plano é obrigatório</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-md-6">
              <div class="form-group has-warning">
                <label class="col-form-label" for="tecnologia_id">Tecnologia</label>
                <div class="input-group mb-3">

                  <select formControlName="tecnologia_id" class="form-control" required autofocus
                    [ngClass]="{ 'is-invalid': submitted && f.tecnologia_id.errors, 'is-valid': f.tecnologia_id.touched && !f.plano_preco_id.errors }">
                    <option [value]="null">Tecnologia</option>
                    <option *ngFor="let i of tecnologias" [value]="i.id">
                      {{i.nome}} - {{i.valor}}
                    </option>
                  </select>
                  <div *ngIf="submitted && f['tecnologia_id'].errors" class="invalid-feedback">
                    <div *ngIf="f['tecnologia_id'].errors.required">O campo Tecnologia é obrigatório</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group has-warning">
                <label class="col-form-label" for="imposto_id">Estado</label>
                <div class="input-group mb-3">
                  <select formControlName="estado" class="form-control" required autofocus
                    [ngClass]="{ 'is-invalid': submitted && f.estado.errors, 'is-valid': f.estado.touched && !f.estado.errors }">
                    <option selected [value]="null">Seleciona o estado</option>
                    <option value="1">Activo</option>
                    <option value="0">Desactivado</option>
                  </select>
                  <div *ngIf="submitted && f['estado'].errors" class="invalid-feedback">
                    <div *ngIf="f['estado'].errors.required">O campo Estado é obrigatório</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group has-warning">
                <label class="col-form-label">Data Estado</label>
                <input class="form-control" required autofocus id="dataEstado" type="date" formControlName="dataEstado"
                  placeholder="Data" autocomplete="given-name"
                  [ngClass]="{ 'is-invalid': submitted && f.dataEstado.errors, 'is-valid': f.dataEstado.touched && !f.dataEstado.errors }" />
                <div *ngIf="submitted && f['dataEstado'].errors" class="invalid-feedback">
                  <div *ngIf="f['dataEstado'].errors.required">O campo Data é obrigatório</div>
                </div>
              </div>
            </div>


          </div>

          
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="btn btn-danger btn-sm" type="reset" [disabled]="simpleFormtarifario.pristine && !submitted"
            (click)="onReset()">Limpar</button>
          <button class="btn btn-success btn-sm mr-1" type="submit"
            [disabled]="simpleFormtarifario.valid">Validar</button>
          <button class="btn btn-primary mr-1 btn-sm" type="submit"
            [disabled]="simpleFormtarifario.pristine || simpleFormtarifario.invalid" data-style="expand-left"><i
              class="fa fa-save"></i>
            Registar</button>
        </div>
      </form>
    </div>
  </div>
</div>