<div class="wrapper">
    <app-topnavbar></app-topnavbar>
    <app-asidenavbar></app-asidenavbar>
    <div class="content-wrapper" style="min-height: 768px;">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Tipo de Reclamações</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Configurações</a></li>
                <li class="breadcrumb-item active">Tipo de Reclamações</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <!-- /.card-header -->
                <div class="card-body" style="padding: 13px 10px 4px 10px;">
                  <div class="row">
                    <div class="col-1">
                      <select name="perPage" (change)="getPageFilterData($event)"
                        [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
                        <option value="1">Entrada</option>
                        <option value="5" selected>5</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                      </select>
                      <small>Entradas</small>
                    </div>
                    <div class="col-md-5">
                      <input type="text" name="search" [(ngModel)]="this.http.filters.search" placeholder="Pesquisar..."
                        class="form-control" (keyup)="getPageFilterData($event)">
                      <i class="fa fa-search"
                        style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                      <small>Pesquisar por Designação</small>
                    </div>
                    
                    <div class="col-2">
                      <select (change)="getPageFilterData($event)" [(ngModel)]="this.http.filters.orderBy" class="form-control">
                          <option [ngValue]="null">Ordernar</option>
                        <option value="tipo_reclamacaos.created_at">Data</option>
                        <option value="tipo_reclamacaos.designacao">Designação</option>
                       
                      </select>
                      <small>Ordernação</small>
                    </div>
  
                    <div class="col-1">
                      <button type="button" class="btn btn-blockk btn-info" (click)="getPageFilterData($event)"><i
                          class="fa fa-search"></i> Filtrar</button>
                    </div>
                  </div>
  
                </div>
              </div>
  
  
              <div class="card">
                <app-loading></app-loading>
                <div class="card-header">
                  <h3 class="card-title">Listagem de tipos de Reclamações</h3>
                  <div class="card-tools">
                    <button *ngIf="http.canActivateRouterLink('register_tipo_reclamacao')" type="button" class="btn btn-primary"
                      data-toggle="modal" data-target="#newModal" (click)="ini()"><i class="fa fa-plus"></i> Novo</button>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive">
                  <table class="table table-hover table-bordered table-striped text-center">
                    <tbody>
                      <tr>
                        <th>#</th>
                        <th>Designação</th>
                        <th>Data Registo</th>
                        <th>Acção</th>
                      </tr>
                      <tr
                        *ngFor="let item of items | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                        <td>{{ i + 1 }}</td>
                        <td>{{ item.designacao }}</td>
                       
                        <td>
                          {{item.created_at | date: 'dd-MM-yyyy'}}
                        </td>
                        <td>
                          <div class="btn-group">
                            <button type="button" data-widget="chat-pane-toggle" data-toggle="modal"
                              data-target="#editarModal" class="btn btn-info btn-flat"
                              (click)="refresh(item.id, item.designacao)"><i class="fa fa-edit"></i></button>
                              <!--
                            <button type="button" class="btn btn-flat btn-danger"><i class="fa fa-trash-o"></i></button>
                          -->
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="card-footer clearfix">
                  <div class="row">
                    <div class="col-sm-12 col-md-5">
                      <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                        {{this.http.filters.pagination.perPage}} de
                        {{this.http.filters.pagination.total}} Tipo de Reclamações
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                      <div class="pull-right">
                        <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior" maxSize="6"
                          nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /.content -->
  
  
  
      <!-- The Modal -->
      <div class="modal modal-info fade" id="newModal" data-backdrop="static">
        <div class="modal-dialog modal-lg" style="max-width: 935px;">
          <div class="modal-content">
  
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title"><i class="fa fa-credit-card"></i> Novo</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
  
            <!-- Modal body -->
            <app-loading></app-loading>
            <form (submit)="register($event)">
              <div class="modal-body">
                <app-alert></app-alert>
                <div class="col-md-12">
                  <div class="card card-default">
                    <div class="card-header">
                      <h3 class="card-title">Dados</h3>
  
                      <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" style="padding: 9px;"><br>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="control-label"><i class="fa fa-sort-numeric-asc"></i> Designação</label>
                            <input type="text" class="form-control" placeholder="Designação" [(ngModel)]="tipo_reclamacao.designacao"
                              name="designacao">
                          </div>
                        </div>
  
                      </div>
                    </div>
                    <!-- /.card-body -->
                  </div>
                </div>
              </div>
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"> Fechar</button>
                <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
              </div>
            </form>
  
          </div>
        </div>
      </div>
  
  
      <!-- The Modal -->
      <div class="modal modal-info fade" id="editarModal" data-backdrop="static">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
  
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title"><i class="fa fa-edit"></i> Editar</h4>
              <button type="button"  class="close" data-dismiss="modal">&times;</button>
            </div>
  
            <!-- Modal body -->
            <app-loading></app-loading>
            <form (submit)="editar($event)">
              <div class="modal-body">
                <app-alert></app-alert>
                <div class="col-md-12">
                  <div class="card card-default">
                    <div class="card-header">
                      <h3 class="card-title">Dados</h3>
  
                      <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" style="padding: 9px;"><br>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="control-label"><i class="fa fa-sort-numeric-asc"></i> Designação</label>
                            <input type="text" name="designacao" [(ngModel)]="tipo_reclamacao.designacao" class="form-control"
                              placeholder="Designação">
                          </div>
                        </div>
   
                      </div>
                    </div>
                    <!-- /.card-body -->
                  </div>
                </div>
              </div>
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"> Fechar</button>
                <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
              </div>
            </form>
  
          </div>
        </div>
      </div>
    </div>
  
    <app-setingsnavbar></app-setingsnavbar>
    <app-footernavbar></app-footernavbar>
  </div>

