<!--<div class="card" style="width: 100%; background: #dee2e6;" [draggable]="'true'" (dragstart)="identifyCardBeingDragged($event)"  id="list-{{listIndex}}-card-{{cardIndex}}" attr.listIndex="{{listIndex}}" attr.cardIndex="{{cardIndex}}" (dragover)="allowCardDragToBeDropped($event)" >
  <div class="card-body" >
    <h4 class="card-title" [(appContentEdit)]="card.header" [draggable]="'false'" style="font-size: 20px">  </h4>
    <h6 class="text-muted card-subtitle mb-2" [(appContentEdit)]="card.summary" [draggable]="'false'" style="font-size:17px" ></h6>
  </div>
</div>-->

<div style="background: #ffffff;border: 1px solid #0099FF;box-shadow: 0 0 1px rgba(0,0,0,.125), inset 3px 2px 6px 2px rgba(0,0,0,.2);" class="alert alert-infoo alert-dismissible" [draggable]="'true'" (dragstart)="identifyCardBeingDragged($event)"   
id="list-{{listIndex}}-card-{{cardIndex}}" attr.listIndex="{{listIndex}}" attr.cardIndex="{{cardIndex}}" (dragover)="allowCardDragToBeDropped($event)">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <h5 class="mb-2" style="font-size: 16px;"><b><span [(appContentEdit)]="card.header" [draggable]="'false'" ></span></b></h5>
    
      <small [(appContentEdit)]="card.summary" [draggable]="'false'"
      style="  text-align: justify; margin-top: 3px;"></small><br>
    
        <small class="text-muted card-subtitle" style="font-size:13px;font-weight: 600;">
        <span [(appContentEdit)]="card.data" [draggable]="'false'"> </span>
      </small>
        <small class="badge badge-infoo pull-right" style="margin: 11px -57px 0 0;font-size: 9px;">{{card.created_at}} <i class="fa fa-calendar"> </i></small>
</div>

<!--<ul class="todo-list ui-sortable" [draggable]="'true'" (dragstart)="identifyCardBeingDragged($event)"   
id="list-{{listIndex}}-card-{{cardIndex}}" attr.listIndex="{{listIndex}}" attr.cardIndex="{{cardIndex}}" (dragover)="allowCardDragToBeDropped($event)">      
  <li> 
    <h5><i class="icon fa fa-ban"></i> <span [(appContentEdit)]="card.header" [draggable]="'false'"></span></h5>
    <span class="text" [(appContentEdit)]="card.summary" [draggable]="'false'"></span>
    <span class="text" [(appContentEdit)]="card.data" [draggable]="'false'"></span>
    <small class="badge badge-info pull-right"><i class="fa fa-clock"></i> 4 hours</small> 
  </li>
</ul> -->
