<div class="wrapper">
<app-topnavbar></app-topnavbar>
<app-asidenavbar></app-asidenavbar>

  <div class="container text-center">
    <div class="card card-container">
      <app-loading></app-loading>
      <div *ngIf="this.tfa.secret">

        <h5 style="border-bottom: 1px solid #a8a8a8; padding-bottom: 5px;">Current Settings</h5>

        <img [src]="tfa.dataURL" alt="" class="img-thumbnail" style="display:block;margin:auto">

        <p>Secret Key - {{tfa.secret || tfa.tempSecret}}</p>

        <p>Auth Type - Time Based - OTP</p>

        <button class="btn btn-lg btn-danger btn-block btn-signin" (click)="disabledTfa()">Disable TFA</button>
      </div>
      <div *ngIf="!tfa.secret">

        <h5 style="border-bottom: 1px solid #a8a8a8; padding-bottom: 5px;">Configuração do TFA</h5>

        <span *ngIf="!!tfa.tempSecret">

          <p>Digitalize o código QR ou insira a chave secreta no Google Authenticator</p>

          <img [src]="tfa.dataURL" alt="" class="img-thumbnail" style="display:block;margin:auto">
          <br>
          <p>Chave Secreta - {{tfa.tempSecret}}</p>

          <!--<p>Tipo de Autenticação - Baseado em Tempo - OTP</p>-->

          <form class="form-group" (ngSubmit)="confirm()" #otpForm="ngForm">
            <input name="authcode" type="number" #iauthcode="ngModel" class="form-control" maxlength="6"
              placeholder="Enter the Auth Code" id="authcode" autocomplete="off" [(ngModel)]="authcode" required>
            <br>
            <button type="Submit" class="btn btn-lg btn-primary btn-block btn-signin"
              [disabled]="iauthcode?.errors?.required">Habilitar TFA</button>
          </form>
          <p class="text-danger" style="text-align:center;" *ngIf="errorMessage">{{errorMessage}}</p>
        </span>
      </div>
    </div>
  </div>
</div>