<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Alterar Password</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Alterar Password</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- /.col -->
            <div class="col-md-12">
              <div class="modall modal-info fadee" id="gerarReciboModal" data-backdrop="static">
                <div class="modal-dialog" style="max-width: 48%;">
                  <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title"><i class="fa fa-edit"></i> Password</h4> 
                    </div>
                    <!-- Modal body -->
                    <form [formGroup]="simpleForm" novalidate (ngSubmit)="onSubmit()" class="needs-validation">
                      <div class="modal-body">
                        <ngx-loading [show]="loading"></ngx-loading>
                        <!-- /.card-body -->
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-row">
                              <div class="form-group col-md-4">
                                <label for="old_password" class="col-form-label"> Senha  Actual</label>
                                <input class="form-control" id="old_password" type="password"
                                  formControlName="old_password" placeholder="Senha Actual"
                                  autocomplete="old_password-proprio" required autofocus
                                  [ngClass]="{ 'is-invalid': submitted && f.old_password.errors, 'is-valid': f.old_password.touched && !f.old_password.errors }" />
                                <div *ngIf="submitted && f['old_password'].errors" class="invalid-feedback">
                                  <div *ngIf="f['old_password'].errors.required">{{formErrors.old_password.required}}
                                  </div>
                                </div>
                              </div>
                              <div class="form-group col-md-4">
                                <label class="col-form-label" for="password"> Nova Senha</label>
                                <input class="form-control" id="password" type="password" formControlName="password"
                                  placeholder="Nova Senha" autocomplete="new-password" required
                                  [ngClass]="{ 'is-invalid': submitted && f.password.errors, 'is-valid': f.password.touched && !f.password.errors }" />
                                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                  <div *ngIf="f['password'].errors.required">Password is required</div>
                                  <div *ngIf="f['password'].errors.minlength">{{formErrors.password.minLength}}</div>
                                  <div *ngIf="f['password'].errors.pattern">{{formErrors.password.pattern}}</div>
                                </div>
                              </div>
                              <div class="form-group col-md-4">
                                <label class="col-form-label" for="password_confirmation"> Confirmar  Senha</label>
                                <input class="form-control" id="password_confirmation" type="password"
                                  formControlName="password_confirmation" placeholder="Confirmar Senha"
                                  autocomplete="new-password" required
                                  [ngClass]="{ 'is-invalid': submitted && simpleForm.errors, 'is-valid': f.password_confirmation.touched && !simpleForm.errors }" />
                                <div *ngIf="submitted && simpleForm.errors" class="invalid-feedback">
                                  <div *ngIf="simpleForm.errors['passwordMismatch']">As senhas não correspondem </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>

                      <!-- Modal footer -->
                      <div class="modal-footer">
                        <div class="form-group">
                          <button class="btn btn-primary mr-1" data-style="expand-left" type="submit"
                            [disabled]="simpleForm.pristine || simpleForm.invalid">Submeter
                          </button>
                          <button class="btn btn-success mr-1" type="submit"
                            [disabled]="simpleForm.valid">Validar</button>
                          <button class="btn btn-danger" type="reset" [disabled]="simpleForm.pristine && !submitted"
                            (click)="onReset()">Limpar
                          </button>
                        </div>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
            </div>





            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
    </section>
    <!-- /.content -->
  </div>




  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>