<div class="modal modal-info fade in" id="LTE_PRE_PAGO_DISP_LIST" data-backdrop="static">
  <div class="modal-dialog modal-lg " style="max-width: 1700px;">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <div class="card-tools">
          <button type="button" class="btn btn-primary btn-smm" data-toggle="modal"
            data-target="#LTE_PRE_PAGO_DISC_INSERT" style="margin-right: 10px"> <i class="fa fa-plus"></i> Novo</button>
        </div>
       

        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <app-loading></app-loading>
        <section class="content">
          <div class="content">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <!-- /.card-header -->
                  <div class="card-body" style="padding: 13px 10px 4px 10px;">
                    <div class="row">
                      <div class="col-1">
                        <select name="perPage" (change)="getPageFilterData($event)"
                          [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
                          <option value="1">Entrada</option>
                          <option value="5" selected>5</option>
                          <option value="10">10</option>
                          <option value="25">25</option>
                        </select>
                        <small>Entradas</small>
                      </div>
                      <div class="col-md-5">
                        <input type="text" name="search" [(ngModel)]="this.http.filters.search" placeholder="Pesquisar..."
                          class="form-control" (keyup)="getPageFilterData($event)">
                        <i class="fa fa-search"
                          style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                        <small>Pesquisar por..</small>
                      </div>
                      
                      <div class="col-2">
                        <select (change)="getPageFilterData($event)" [(ngModel)]="this.http.filters.orderBy" class="form-control">
                            <option [ngValue]="null">Ordernar</option>
                          <option value="created_at">Data</option>
                          <option value="numero_serie">Número de série</option>
                          <option value="modelo">Modelo</option>
                          <option value="fabricante">Fabricante</option>
                         
                        </select>
                        <small>Ordernação</small>
                      </div>
    
                      <div class="col-1">
                        <button type="button" class="btn btn-blockk btn-info" (click)="getPageFilterData($event)"><i
                            class="fa fa-search"></i> Filtrar</button>
                      </div>
                    </div>
    
                  </div>
                </div>
    
    
                <div class="card">
                  
                  <div class="card-header">
                    <h3 class="card-title">DISPOSITIVOS LTE PRÉ-PAGO</h3>
                    
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body table-responsive">
                    <table class="table table-hover table-bordered table-striped text-center">
                      <tbody>
                        <tr>
                          <th>#</th>
                          <th>Fabricante</th>
                          <th>Modelo</th>
                          <th>Numero de série</th>
                          <th>Tipo</th>
                          <th>Acção</th>
                        </tr>
                        <tr
                          *ngFor="let item of items | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                          <td>{{ i + 1 }}</td>
                          <td>{{ item.fabricante }}</td>
                          <td>{{ item.modelo }}</td>
                          <td>{{ item.numero_serie }}</td>
                         
                          <td>
                            {{item.tipo}}
                          </td>
                          <td>
                            <div class="btn-group">
                              <button type="button" data-widget="chat-pane-toggle" data-toggle="modal"
                              data-target="#editarDispositivo" class="btn btn-info btn-flat" title="Editar"
                                (click)="refresh(item.id, item.numero_serie, item.fabricante, item.modelo, item.tipo)"><i class="fa fa-edit"></i></button>
    
                                <!--
                              <button type="button" class="btn btn-flat btn-danger"><i class="fa fa-trash-o"></i></button>
                            -->
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="card-footer clearfix">
                    <div class="row">
                      <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                          {{this.http.filters.pagination.perPage}} de
                          {{this.http.filters.pagination.total}} Registos
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-7">
                        <div class="pull-right">
                          <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior" maxSize="6"
                            nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
      </div>


    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal modal-info fade" id="LTE_PRE_PAGO_DISC_INSERT" data-backdrop="static">
  <div class="modal-dialog modal-lg" style="max-width: 935px;">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-credit-card"></i> NOVO DIPOSITIVO LTE PRE-PAGO</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <app-loading></app-loading>
      <form (submit)="register($event)">
        <div class="modal-body">
          <app-alert></app-alert>
          <div class="col-md-12">
            <div class="card card-default">
              <div class="card-header">
                <h3 class="card-title">DADOS DO FORMULÁRIO</h3>

                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body" style="padding: 9px;"><br>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label"><i class="fa fa-edit"></i> Fabricante</label>
                      <input type="text" class="form-control" placeholder="Fabricante" [(ngModel)]="LTECEPS.fabricante"
                        name="fabricante">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label"><i class="fa fa-edit"></i> Modelo</label>
                      <input type="text" class="form-control" placeholder="Modelo" [(ngModel)]="LTECEPS.modelo"
                        name="modelo">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label"><i class="fa fa-edit"></i> Nº de Série</label>
                      <input type="text" class="form-control" placeholder="Número de série" [(ngModel)]="LTECEPS.numero_serie"
                        name="numero_serie">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label"><i class="fa fa-edit"></i> Tipo</label>
                      <input type="text" class="form-control" placeholder="Tipo" [(ngModel)]="LTECEPS.tipo"
                        name="tipo">
                    </div>
                  </div>

                </div>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"> Fechar</button>
          <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
        </div>
      </form>

    </div>
  </div>
</div>
