<div class="wrapper">
    <app-topnavbar></app-topnavbar>
    <app-asidenavbar></app-asidenavbar>

    <div class="content-wrapper" style="min-height: 768px;">

        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">
                            <i class="fa fa-shopping-basket"></i> Tipos de classificações
                        </h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Configuração</a></li>
                            <li class="breadcrumb-item active">Tipos de classificações</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="row">

                <div class="col-lg-12 col-12">
                    <div class="modall modal-info fadee" data-backdrop="static">
                        <div class="modal-dialog" style="max-width: 100%; margin-bottom: 0;">
                            <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0, 0, 0, 0.5);">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Filtro de Dados</h4>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-1 col-xs-3">
                                            <div class="form-group">
                                                <!--<label style="color: #fff;">Entrada</label>-->
                                                <select name="perPage" class="form-control">
                                                    <option value="5" selected>Entrada</option>
                                                    <option value="5">5</option>
                                                    <option value="10">10</option>
                                                    <option value="15">15</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select>
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                
                                        <div class="col-md-5 col-xs-3">
                                            <div class="form-group">
                                                <input type="text" name="search" placeholder="Pesquisar..." class="form-control" />
                                                <i class="fa fa-search" style="float: right; margin: -30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                                                <small>Pesquisar por Descrição, Slug</small>
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                
                                        <div class="col-md-1 col-xs-3">
                                            <div class="form-group">
                                                <select name="orderBy" class="form-control">
                                                    <option [ngValue]="null">Ordernar</option>
                                                    <option value="descricao">descricao</option>
                                                    <option value="created_at">Data</option>
                                                </select>
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                
                                        <div class="col-md-1 col-xs-3">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-primary btn-flat">
                                                            <i class="fa fa-plus"></i> Registar
                                                        </button>
                                                    </div>
                                                </div>
                                                <!-- /.input group -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-12 col-12">
                    <div class="modall modal-info fadee" data-backdrop="static">
                        <div class="modal-dialog" style="max-width: 100%;">
                            <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0, 0, 0, 0.5);">
                                <!-- Modal Header -->
                                <app-loading></app-loading>
                                <div class="modal-header">
                                    <h4 class="modal-title">Listagem de Tipos de classificações</h4>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-toggle="modal" data-target="#ModalCreatOrEditClassificacao" (click)="_initModal(classificacao)">
                                            <i class="fa fa-plus"></i> Registar
                                        </button>
                                    </div>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <!-- /.card-body -->
                                    <div class="table-responsivee">
                                        <ngx-loading [show]="loading"></ngx-loading>
                
                                        <table *ngIf="classificacoes.length > 0;else emptyList" class="table table-hover table-bordered table-stripedd text-center m-0 exportAsXLSXCliente">
                                            <tr style="color: #fff; background: #0099ff;">
                                                <th width="60">#</th>
                                                <th>Descrição</th>
                                                <th>Data de criação</th>
                                                <th width="150px">Operações</th>
                                            </tr>
                                            <tr *ngFor="let tipo of classificacoes; index as i">
                                                <td>{{ i + 1}}</td>
                                                <td>{{ tipo.descricao }}</td>
                                                <td>{{ tipo.created_at | date: 'dd-MM-yyyy HH:mm' }}</td>
                
                                                <td>
                                                    <div class="btn-group btn-block">
                                                        <button type="button" class="btn btn-info btn-flat btn-sm btn-block" data-toggle="dropdown">Opções</button>
                                                        <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                            <span class="caret"></span>
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <div class="dropdown-menu" role="menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(67px, 38px, 0px);">
                                                            <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-toggle="modal" data-target="#ModalCreatOrEditClassificacao" (click)="_initModal(tipo)">
                                                                <i class="fa fa-edit"></i> Editar
                                                            </button>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </section>
        
        
        <ng-template #emptyList>
            <div align="center">
                <h2>Sem resultados</h2><span></span>
            </div>
        </ng-template>
        
        <app-setingsnavbar></app-setingsnavbar>
        <app-footernavbar></app-footernavbar>

    </div>
</div>

<modal-tipo-classificacao [classificacao]="classificacao"></modal-tipo-classificacao>