@import url(../../../assets/dist/css/default.css); 
@import url(../../../assets/dist/css/component.css);

 body{
     zoom: 90% !important;
 }
.nav-teclado i {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 4px 21px;
    font-style: normal;
}

.nav-teclado a {
    height: 90px;
    color: #fff;
    font-weight: 600;
    text-shadow: 0px 1px 1px #333 !important;
}

.nav-teclado .icon { 
    padding-top: 10px;
}

.nav-teclado li {
    width: 96px;
}

.nav-teclado li {
    background: rgb(22, 107, 162) !important;
    margin: 2px ;
    border-radius: 3px;
    box-shadow: 1px 2px 2px #999;
}

.nav-teclado ul {
    width: 22%;
}

.container-pos {
    width: 53%;
    float: left;
}

.content-table {
    background: #fff;
    width: 100%;

    padding: 10px;
    border-radius: 0px;
    height: 359px;
    overflow-y: scroll;
    border: 1px solid #cecccc63;
}

.barcode {
    border: 1px solid #cecccc63;
    background: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 0px;
    margin-bottom: 8px;
}

.content-table .table td {
    padding: 10px 20px;
}

.nav {
    display: inline;
}

.table {
    font-size: 18px;
    text-shadow: 0 0 1px #99999969;
}

footer .table th,
footer .table td {
    padding: 10px;
    border-top: 0px solid #dee2e6;
}

.pagamento {
    padding: 0;
    background: #f9f9f9;
    border-right: 1px solid #dee2e6;
}

.pagamento .table {
    text-shadow: 0 0 0px #999;
    font-size: 17px;
}

.main,
.container>header {
    padding: 1em;
}

.content-wrapper > .content {
    padding: 20px;
}

.content-wrapper, .main-footer, .main-header {
    margin-left: 0 !important;
}

.form-control { 
    border-radius: 0; 
}

.form-group {
    margin-bottom: 0px;
}
 
.m2 ul li a, .m2 ul li {
    margin: 4px;
}