<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <!--<app-asidenavbar></app-asidenavbar>-->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">PDV - Ponto Venda</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Venda</a></li>
              <li class="breadcrumb-item">Facturação</li>
              <li class="breadcrumb-item active">PDV - Ponto Venda</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-4 col-sm-5 col-xs-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;margin-top:0">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-2 col-xs-3">
                      <div class="form-group">
                        <select name="perPage" class="form-control">
                          <option value="1">Serie</option>
                          <option value="5">5</option>
                          <option value="10">10</option>
                          <option value="25">25</option>
                        </select>
                      </div>
                      <!-- /.input group -->
                    </div>

                    <div class="col-md-9 col-xs-8">
                      <div class="form-group">
                        <input type="text" name="search" placeholder="Pesquisar cliente" class="form-control">
                        <i class="fa fa-search"
                          style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                      </div>
                      <!-- /.input group -->
                    </div>

                    <div class="col-md-1 col-xs-2">
                      <div class="form-group">
                        <div class="input-group">
                          <button type="button" class="btn btn-info btn-flatt mr-1 btn-smm" type="button"><i
                              class="fa fa-plus"></i></button>
                        </div>
                        <!-- /.input group -->
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;margin-top:0">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title"> Produtos</h4>
                </div>
                <div class="modal-body">
                  <div class="row">

                    <div class="col-md-12 col-xs-12">
                      <div class="form-group">
                        <input type="text" name="search"
                          placeholder="Procure o produto pelo código, nome ou código de barras" class="form-control">
                        <i class="fa fa-search"
                          style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                      </div>
                      <!-- /.input group -->
                    </div>

                    <div class="col-md-12 col-xs-12">
                      <br>
                      <div style="height: 518px; overflow-y: auto;">
                        <table class="table table-hover table-bordered table-striped text-center">
                          <thead>
                            <tr>

                              <th>#</th>
                              <th>Tipo</th>
                              <th>Nome</th>
                              <th>Valor</th>
                              <th style="width: 12%;">Acção</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let produto of produts; index as i">
                              <td>{{i+1}}</td>
                              <td>{{ (produto.tipo=='S' ?'Serviço':'Artigo') }}</td>
                              <td>{{ produto.nome }}</td>
                              <td>{{ configService.numberFormat(produto.valor) }}</td>
                              <th><button class="btn btn-block btn-outline-primary btn-sm" *ngIf="produto.id"
                                  title="Adicionar Item" data-toggle="modal" data-target="#myModal"
                                  (click)="refreshProdutoId(produto)">
                                  <i class="fa fa-plus"></i></button>
                              </th>
                            </tr>

                          </tbody>
                        </table>
                      </div>
                    </div>



                  </div>
                </div>
              </div>
            </div>
          </div> 

        </div> 

        <div class="col-md-5 col-sm-5 col-xs-12">
           

          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;margin-top:0">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title"> Produtos selecionados</h4>
                </div>
                <div class="modal-body">
                  <div class="row"> 
          
                    <div class="col-md-12 col-xs-12">
                      <br>
                      <div style="height: 347px;overflow: auto;">
                        <table class="table table-hover table-bordered table-striped text-center">
                          <tbody>
                            <tr>
                              <th width="100">#</th>
                              <th width="368">Produto</th>
                              <th width="125">Qtd</th>
                              <th width="137">Valor</th>
                              <th>Desconto</th>
                              <th width="130">Total</th>
                              <th width="130">Moeda</th>
                              <th style="width: 16%;">Acção</th>
                            </tr>
                            <tr *ngFor="let produt of facturacao.produtos; index as i">
                              <td>{{i+1}}</td>
                              <td>{{ produt.nome }}</td>
                              <td>{{ produt.quantidade }}</td>
                              <td>{{ configService.numberFormat(produt.valor) }} AOA</td>
                              <td>{{ configService.numberFormat(produt.desconto) }} AOA</td>
                              <td>{{ configService.numberFormat(produt.total) }} AOA</td>
                              <td>AOA</td>
                              <td>
                                <div class="btn-group">
                                  <button class="btn" id="remove" (click)="deleteRow(produt)">Exluir</button>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
          
          
          
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;margin-top:0">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title"> Pagamento</h4>
                </div>
                <div class="modal-body">
                  <div class="row"> 
                    <div class="col-md-12 col-xs-12"> 
                      <div style="height: 183px; overflow: auto;">
                        <table class="table table-hover table-bordered table-striped text-center">
                          <tbody>
                            <tr>
                              <th width="100">#</th>
                              <th width="368">Produto</th>
                              <th width="125">Qtd</th>
                              <th width="137">Valor</th>
                              <th>Desconto</th>
                              <th width="130">Total</th>
                              <th width="130">Moeda</th>
                              <th style="width: 16%;">Acção</th>
                            </tr>
                            <tr *ngFor="let produt of facturacao.produtos; index as i">
                              <td>{{i+1}}</td>
                              <td>{{ produt.nome }}</td>
                              <td>{{ produt.quantidade }}</td>
                              <td>{{ configService.numberFormat(produt.valor) }} AOA</td>
                              <td>{{ configService.numberFormat(produt.desconto) }} AOA</td>
                              <td>{{ configService.numberFormat(produt.total) }} AOA</td>
                              <td>AOA</td>
                              <td>
                                <div class="btn-group">
                                  <button class="btn" id="remove" (click)="deleteRow(produt)">Exluir</button>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
          
          
          
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-md-3 col-sm-2 col-xs-12">
          <nav id="menu" class="nav nav-teclado">
            <ul style="width: 50%;float: left; margin-bottom: 27px;">
              <li (click)="tecladoClick($event)"><a href="javascript:void(0)"><span class="icon"><i>1</i></span></a></li>
              <li (click)="tecladoClick($event)"><a href="javascript:void(0)"><span class="icon"><i>2</i></span></a></li>
              <li (click)="tecladoClick($event)"><a href="javascript:void(0)"><span class="icon"><i>3</i></span></a></li>
              <li (click)="tecladoClick($event)"><a href="javascript:void(0)"><span class="icon"><i>4</i></span></a></li>
              <li (click)="tecladoClick($event)"><a href="javascript:void(0)"><span class="icon"><i>5</i></span></a></li>
              <li (click)="tecladoClick($event)"><a href="javascript:void(0)"><span class="icon"><i>6</i></span></a></li>
              <li (click)="tecladoClick($event)"><a href="javascript:void(0)"><span class="icon"><i>7</i></span></a></li>
              <li (click)="tecladoClick($event)"><a href="javascript:void(0)"><span class="icon"><i>8</i></span></a></li>
              <li (click)="tecladoClick($event)"><a href="javascript:void(0)"><span class="icon"><i>9</i></span></a></li>
              <li (click)="tecladoClick($event)"><a href="javascript:void(0)"><span class="icon"><i style="padding:10px 10px"
                      class="fa fa-asterisk"></i></span></a></li>
              <li (click)="tecladoClick($event)"><a href="javascript:void(0)"><span class="icon"><i>0</i></span></a></li>
              <li (click)="tecladoClick($event)"><a href="javascript:void(0)"><span class="icon"><i>#</i></span></a></li>
              <li><a href="javascript:void(0)"><button type="submit"
                    style="background: transparent; border: 0; color: #fff;margin-top: 8px;border-radius: 71px;"><span
                      class="icon"><i class="fa fa-search" style="padding:10px 10px"></i></span></button></a></li>
              <li><a href="javascript:void(0)"><span class="icon"><i class="fa fa-long-arrow-left"
                      style="padding: 10px;"></i></span></a>
              </li>
              <li><a href="javascript:void(0)" style="background: #408426 !important;"><span class="icon"><i
                      class="fa fa-shopping-cart" style="padding:10px 10px"></i></span></a></li>
            </ul>
          </nav>

          <nav id="menu" class="nav m2">
            <ul style="width: 70%;float: left;position: absolute;margin: 0px 299px;">
              <li>
                <a href="#">
                  <span class="icon">
                    <i aria-hidden="true" class="fa fa-euro"></i>
                  </span>
                  <span>Pagamento</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon">
                    <i aria-hidden="true" class="fa fa-print"></i>
                  </span>
                  <span>Print Factura</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon">
                    <i aria-hidden="true" class="fa fa-scissors"></i>
                  </span>
                  <span>Desconto</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon">
                    <i aria-hidden="true" class="fa fa-tags"></i>
                  </span>
                  <span>Caixa</span>
                </a>
              </li>
              <li>
                <a routerLink="#">
                  <span class="icon">
                    <i aria-hidden="true" class="fa fa-eraser"></i>
                  </span>
                  <span>Anular</span>
                </a>
              </li>
              <li>
                <a routerLink="/dashboard">
                  <span class="icon">
                    <i aria-hidden="true" class="fa fa-chevron-left"></i>
                  </span>
                  <span>Voltar</span>
                </a>
              </li>
            </ul>
          </nav>
           
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;margin-top:0">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header --> 
                <div class="modal-body">
                  <div class="row"> 
                    <div class="col-md-12 col-xs-12"> 
                      <div style="height: 246px; overflow-y: auto;">
                        
                      </div>
                    </div>  
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
 

      </div>
    </section>
  </div>
</div>