<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Permissions</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Configurações</a></li>
              <li class="breadcrumb-item" routerLinkActive="active">Controle Acesso</li>
              <li class="breadcrumb-item" routerLinkActive="active">Permissions</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="content">
        <div class="container-fluid">

          <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body" style="padding: 13px 10px 4px 10px;">
                      <div class="row">
                        <div class="col-1">
                          <select name="perPage" (change)="getPageFilterData($event)"
                            [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
                            <option value="1">Entrada</option>
                            <option value="5" selected>5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                          </select>
                          <small>Entradas</small>
                        </div>
                        <div class="col-md-5">
                          <input type="text" name="search" [(ngModel)]="this.http.filters.search" placeholder="Pesquisar..."
                            class="form-control" (keyup)="getPageFilterData($event)">
                          <i class="fa fa-search"
                            style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                          <small>Pesquisar por Slug, Nome, Descrição</small>
                        </div>
                        
                        <div class="col-2">
                          <select (change)="getPageFilterData($event)" [(ngModel)]="this.http.filters.orderBy" class="form-control">
                              <option [ngValue]="null">Ordernar por</option>
                              <option value="permissions.slug">Slug</option>
                              <option value="permissions.name">Nome</option>
                              <option value="permissions.created_at">Data Registo</option>
                           
                          </select>
                          <small>Ordernação</small>
                        </div>
      
                        <div class="col-1">
                          <button type="button" class="btn btn-blockk btn-info" (click)="getPageFilterData($event)"><i
                              class="fa fa-search"></i> Filtrar</button>
                        </div>
                      </div>
      
                    </div>
                  </div>


              <div class="card">
                <app-loading></app-loading>
                <div class="card-header">
                  <h3 class="card-title">Listagem de Permissões </h3>
                  <div class="card-tools">
                    <button type="button" (click)="carregarOptions();iniPermission()" class="btn btn-primary" data-toggle="modal" data-target="#registarModal"><i
                        class="fa fa-plus"></i> Registar</button>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="example1" class="table table-bordered table-striped text-center">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Slug</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Data Criação</th>
                        <th>Data Update</th>
                        <th>Acção</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of items | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                        <td>{{ i + 1 }}</td>
                        <td>{{ item.slug }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{item.description}}</td>
                        <td>{{ item.created_at | date: 'dd-MM-yyyy | H:mm' }}</td>
                        <td>{{ item.updated_at | date: 'dd-MM-yyyy | H:mm' }}</td>
                        <td>
                          <div class="btn-group">
                            <button type="button" class="btn btn-info btn-flat" data-toggle="dropdown"
                              aria-expanded="false">Acção</button>
                            <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown"
                              aria-expanded="false">
                              <span class="caret"></span>
                              <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                              style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(67px, 37px, 0px);">
                              <a class="dropdown-item" href="#"><i class="fa icon-eyes"></i> Visualizar</a>
                              <a class="dropdown-item" href="#" (click)="refresh(item.id)" data-toggle="modal"
                                data-target="#editarModal"><i class="fa icon-note"></i> Editar</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="card-footer clearfix">
                    <div class="row">
                      <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                          {{this.http.filters.pagination.perPage}} de
                          {{this.http.filters.pagination.total}} Permissões
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-7">
                        <div class="pull-right">
                          <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior" maxSize="6"
                            nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- /.card-body -->
              </div>
            </div>
          </div>

          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
    </section>
    <!-- /.content -->
  </div>

  <!-- The Modal -->
  <div class="modal modal-info fade in" id="registarModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa icon-layers"></i> Registar Permission </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form (submit)="register($event)">
          <!-- Modal body -->
          <div class="modal-body">
            <app-alert></app-alert>
            <app-loading></app-loading>
            <div class="row">
              <div class="col-md-12">
                <div class="card card-default">
                  <div class="card-header">
                    <h3 class="card-title"> Dados</h3>
                    <!-- /.card-tools -->
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body" style="padding: 9px;">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                              <label for="nome">Slug</label>
                              <input type="text" name="slug" [(ngModel)]="permissions.slug" class="form-control"
                                placeholder="Ex:listar_pedidos">
                            </div>
                          </div>

                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="nome">Nome</label>
                          <input type="text" name="name" [(ngModel)]="permissions.name" class="form-control"
                            placeholder="Nome">
                        </div>
                      </div>
                      
                      <div class="col-md-12">
                        <div class="form-group" >
                          <label for="telefone">Descrição</label>
                          <textarea class="form-control" [(ngModel)]="permissions.description" name="description" placeholder="escreve aqui sobre esse Permission"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-outline-primary btn-sm">Registar</button>
          </div>
        </form>


      </div>
    </div>
  </div>

  <!-- The Modal -->
  <div class="modal modal-info fade in" id="editarModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa icon-note"></i> Editar Permission </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form (submit)="editar($event)">
          <!-- Modal body -->
          <div class="modal-body">
            <app-alert></app-alert>
            <app-loading></app-loading>
            <div class="row">
              <div class="col-md-12">
                <div class="card card-default">
                  <div class="card-header">
                    <h3 class="card-title"> Dados</h3>
                    <!-- /.card-tools -->
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body" style="padding: 9px;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                              <label for="nome">Slug</label>
                              <input type="text"  name="slug" [(ngModel)]="permissions.slug" class="form-control"
                                placeholder="Ex: listar_pedidos">
                            </div>
                          </div>

                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="nome">Nome</label>
                          <input type="text"  name="name" [(ngModel)]="permissions.name" class="form-control"
                            placeholder="Nome">
                        </div>
                      </div>
                     
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="telefone">Descrição</label>
                          <textarea class="form-control" id="description" name="description" [(ngModel)]="permissions.description"
                            placeholder="escreve aqui sobre esse permissions"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-outline-primary btn-sm">Registar</button>
          </div>
        </form>


      </div>
    </div>
  </div>
  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>