<div class="modal modal-info fade in" id="modalCreateOrEditDistrito" data-backdrop="static"
  [ngStyle]="{'display': distritoModal ? 'block' : 'none', 'opacity': 1}">
  <div class="modal-dialog" style="max-width: 1500px;">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-map-marker nav-icon"></i> {{ title }}</h4>
        <button class="close" type="reset" (click)="onReset()" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="padding: 2rem;">
        <ngx-loading [show]="loading"></ngx-loading>
        <app-loading></app-loading>


        <div class="row">
          <!-- /.col -->
          <div class="col-12">

            <div class="alert alert-success alert-dismissible" *ngIf="distritoRowValid == true"
              style="border: 0;border-radius: 0; margin: 8px;">
              <h5><i class="icon fa fa-check"></i>Comuna adicionado a lista</h5>
            </div>
            <div class="alert alert-danger alert-dismissible"
              *ngIf="distritoRowValid == false && distritosArray.length > 0 && addRows == true"
              style="border: 0;border-radius: 0; margin: 8px;">
              <h5><i class="icon fa fa-ban"></i>Comuna já existente na lista</h5>
            </div>

            <div class="col-md-12 row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="morada">Província</label>
                  <select [(ngModel)]="distrito.provincia_id" class="form-control" required
                    (change)="selectBoxMunicipiosByProvincia()" [disabled]="!provincias">
                    <option [value]="null">Província</option>
                    <option *ngFor="let i of provincias" [value]="i.id">
                      {{i.abreviatura}} - {{i.nome}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="morada">Município</label>
                  <select [(ngModel)]="distrito.municipio_id" class="form-control" required
                    (change)="selectBoxDistritosByMunicipio()" [disabled]="!municipios">
                    <option [value]="null">Município</option>
                    <option *ngFor="let i of municipios" [value]="i.id">
                      {{i.nome}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="morada">Comuna</label>                  
                  <input class="form-control" required autofocus id="distrito" type="text" [(ngModel)]="distrito.nome"
                    placeholder="Comuna" autocomplete="given-name" [disabled]="!distrito.municipio_id" />
                </div>
              </div>

              <div class="col-md-6 text-right">
                <div class="form-group">
                  <br>
                  <button *ngIf="distrito.municipio_id && distrito.nome" class="btn btn-success" type="button" title="Adicionar Item" (click)="appendRowDistrito()">
                    <i class="fa fa-plus"></i> Adicionar</button>
                </div>
              </div>

            </div>

            <div class="table-responsive">
              <!-- <table class="table text-center table-stripe">
                <tbody>

                  <tr>
                    <th>Província</th>
                    <th>Município</th>
                    <th>Comuna</th>
                    <th *ngIf="addRows"><i class="fa fa-check"></i></th>
                  </tr>
                  <tr>

                    <td>

                      <select [(ngModel)]="distrito.provincia_id" class="form-control" required
                        (click)="selectBoxMunicipiosByProvincia()" [disabled]="!provincias">
                        <option [value]="null">Província</option>
                        <option *ngFor="let i of provincias" [value]="i.id">
                          {{i.abreviatura}} - {{i.nome}}
                        </option>
                      </select>

                    </td>
                    <td>
                      <select [(ngModel)]="distrito.municipio_id" class="form-control" 
                      required [disabled]="!municipios">
                        <option [value]="null">Município</option>
                        <option *ngFor="let i of municipios" [value]="i.id">
                          {{i.nome}}
                        </option>
                      </select>
                    </td>
                    <td>
                      <input class="form-control" required autofocus id="nome" type="text" [(ngModel)]="distrito.nome"
                        placeholder="Nome" autocomplete="given-name" />
                    </td>

                    <td *ngIf="addRows">
                      <button class="btn btn-success" type="button" title="Adicionar Item"
                        (click)="appendRowDistrito()"><i class="fa fa-plus"></i> Adicionar</button>
                    </td>
                  </tr>

                  <tr>
                    <th colspan="7"> </th>
                  </tr>
                </tbody>
              </table> -->

              <div class="col-md-12 row" style="padding: 0px; margin: 0px;" *ngIf="addRows">
                <h5 class="col-md-10" style="padding: 10px; background: #0099FF; color: #fff;">Comunas para
                  Processamento</h5>
                <h5 class="col-md-2 text-right" style="padding: 10px; background: #0099FF; color: #fff;">
                  {{distritosArray.length}}</h5>


              </div>

              <div *ngIf="addRows">
                <table *ngIf="distritosArray.length > 0 && addRows == true;else emptyList"
                  class="table table-hover table-bordered table-stripedd text-center m-0">
                  <tbody>
                    <tr style="color: #fff; background: #0099FF;">
                      <th>Província</th>
                      <th>Município</th>
                      <th>Comuna</th>
                      <th width="150px">#</th>
                    </tr>

                    <tr *ngFor="let item of distritosArray">
                      <td>{{ item.provincia }}</td>
                      <td>{{ item.municipio }}</td>
                      <td>{{ item.nome }}</td>

                      <td>
                        <button type="button" class="btn btn-danger" (click)="deleteRowDistritoAppended(item)">
                          <i class="fa fa-trash"></i> Remover</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>

          <!-- /.col -->
        </div>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button class="btn btn-outline-danger btn-sm mr-1" data-dismiss="modal">Fechar</button>
        <button class="btn btn-danger btn-sm" type="reset" (click)="onReset()">Limpar</button>
        <button class="btn btn-primary mr-1 btn-sm" type="submit" data-style="expand-left" (click)="save()">
          <i class="fa fa-save"></i>
          Registar</button>
      </div>
    </div>
  </div>
</div>





<ng-template #emptyList>
  <div align="center">
    <h2>Sem resultados</h2>
    <span></span>
  </div>
</ng-template>

<ng-template #dataEmpty>------</ng-template>