<div class="modal modal-info fade in" id="form_finalizar_pedido" data-backdrop="static">
  <div class="modal-dialog modal-lg " style="max-width: 800px;">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa icon fa-credit-card"></i> Dar Seguimento</h4>
        <button type="button" (click)="clearForm(); hideBotton()" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <app-loading></app-loading>
        <app-alert></app-alert>
        <h3 style="padding: 15px 10px; background: #0099FF; color: #ffffff;">Cliente: {{ cliente.cliente }} </h3>
        <hr>

        <div class="row">


          <div class="col-md-12" *ngIf="contrato.tipo_medicao_slug !='ESTIMATIVA'">
            <label>Nº Série do Contador <span class="required " style="color:red"> *
              </span></label>
            <div class="input-group">
              <input type="text" name="numero_serie" [(ngModel)]="contador.numero_serie" class="form-control"
                placeholder="Número de Série do Contador">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-flat" (click)="validateSerieContador()"
                  title="Click para validar"><i class="fa fa-search"></i></button>
              </span>
            </div>


            <label>
              <p class="{{ contadorClassMessage }}" *ngIf="contadorMessage">{{ contadorMessage }}</p>
            </label>

          </div>

          <div class="row" *ngIf="showContadorDetail">

            <div class="col-md-4" *ngIf="contrato.tipo_medicao_slug !='ESTIMATIVA'">
              <label>Marca </label>
              <div class="input-group">
                <input type="text" name="numero_serie" [(ngModel)]="contador.marca" readonly class="form-control"
                  placeholder="Modelo">

              </div>

            </div>

            <div class="col-md-4" *ngIf="contrato.tipo_medicao_slug !='ESTIMATIVA'">
              <label>Modelo </label>
              <div class="input-group">
                <input type="text" name="numero_serie" [(ngModel)]="contador.modelo" readonly class="form-control"
                  placeholder="Marca">

              </div>

            </div>

            <div class="col-md-4" *ngIf="contrato.tipo_medicao_slug !='ESTIMATIVA'">
              <label>Última leitura </label>
              <div class="form-group">
                <input type="text" name="ultima_leitura" [(ngModel)]="contador.ultima_leitura" readonly
                  class="form-control" placeholder="Última leitura">

              </div>

            </div>

          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="morada"> Observação</label>
              <textarea [(ngModel)]="pedido.observacao" name="observacao" value="" class="form-control"
                placeholder="Observação"></textarea>
            </div>
          </div>

        </div>



      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="clearForm(); hideBotton()"
          data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-outline-primary btn-sm" *ngIf="isFinalizar"
          (click)="finalizarPedido()">Finalizar</button>

      </div>

    </div>
  </div>
</div>