<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Criar Parceria</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">CRM</a></li>
              <li class="breadcrumb-item">Interconexão</li>
              <li class="breadcrumb-item active">Criar Parceria</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


    <section class="content">
      <div class="row">
        <div class="col-md-12">
            <!-- The form Criar Parceria Interconexão-->
            <div class="modall modal-info fadee" id="gerarReciboModal" data-backdrop="static">
              <div class="modal-dialog nota-credito-modal-lg" style="max-width: 100%;">
                <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-plus-circle"></i> Criar Parceria Interconexão</h4>
                  </div>
                  <form [formGroup]="formParceria" (submit)="onSubmit();">
                    <!-- Modal body  -->
                    <app-loading></app-loading>
                    <div class="modal-body">
                      <div class="row"
                        style="border-bottom: 1px solid hsl(210, 7%, 86%); margin-bottom: 9px; padding-bottom: 18px;">
                        <div class="col-md-7 col-sm-7 col-xs-7">
                          <div class="form-groupp">
                            <div class="input-group">
                              <input type="text" placeholder="Digite o nome ou a identificação do cliente" formControlName="nome"
                                class="form-control" (keyup)="getCliente()">
                              <div class="input-group-append">
                                <div class="input-group-text btn btn-info" style="background-color: transparent;"><i
                                    class="fa fa-search"></i> Pesquisar</div>
                              </div>
                            </div>
            
                            <div class="autocomplete-container" *ngIf="view_client">
                              <ul>
                                <li *ngFor="let cliente of clientes">
                                  <a href="javascript:void(0)" (click)="setCliente(cliente)">{{cliente.nome}}</a>
                                </li>
                              </ul>
                            </div>
                            <!-- /.input group -->
                          </div>
                        </div>
                      </div>
            
                      <app-alert></app-alert>
                      <ngx-loading [show]="loading"></ngx-loading>
                      <div class="row" *ngIf="view_form" style="background: #fff; padding: 10px;  border: 0px solid #33333329;">
            
                        <div class="col-md-6">
                          <label class="col-form-label" for="">Nome Servico</label>
                          <div class="form-group">
                            <input class="form-control" type="text" formControlName="chaveServico" placeholder="Nome Servico"
                              autocomplete="chaveServico"
                              [ngClass]="{ 'is-invalid': submitted && f.chaveServico.errors, 'is-valid': f.chaveServico.touched && !f.chaveServico.errors }" />
                            <div *ngIf="submitted && f['chaveServico'].errors" class="invalid-feedback">
                              <div *ngIf="f['chaveServico'].errors.required">Nome Servico é
                                obrigatório</div>
                            </div>
                          </div>
                        </div>
            
            
                        <div class="col-md-3">
                          <label class="col-form-label" for="">Origem</label>
                          <div class="form-group">
                            <input class="form-control" type="text" formControlName="origem" placeholder="Origem"
                              autocomplete="origem"
                              [ngClass]="{ 'is-invalid': submitted && f.origem.errors, 'is-valid': f.origem.touched && !f.origem.errors }" />
                            <div *ngIf="submitted && f['origem'].errors" class="invalid-feedback">
                              <div *ngIf="f['origem'].errors.required">Origem é obrigatório</div>
                            </div>
                          </div>
                        </div>
            
                        <div class="col-md-3">
                          <label class="col-form-label" for="">Destino</label>
                          <div class="form-group">
                            <input class="form-control" type="text" formControlName="destino" placeholder="Destino"
                              autocomplete="destino"
                              [ngClass]="{ 'is-invalid': submitted && f.origem.errors, 'is-valid': f.destino.touched && !f.destino.errors }" />
                            <div *ngIf="submitted && f['destino'].errors" class="invalid-feedback">
                              <div *ngIf="f['destino'].errors.required">Destino é obrigatório</div>
                            </div>
                          </div>
                        </div>
            
                        <div class="col-md-3">
                          <label class="col-form-label" for="">Código Interconexão</label>
                          <div class="form-group">
                            <input class="form-control" type="text" formControlName="codigo" placeholder="Código Interconexão"
                              autocomplete="codigo"
                              [ngClass]="{ 'is-invalid': submitted && f.codigo.errors, 'is-valid': f.codigo.touched && !f.codigo.errors }" />
                            <div *ngIf="submitted && f['codigo'].errors" class="invalid-feedback">
                              <div *ngIf="f['codigo'].errors.required">Código Interconexão é
                                obrigatório</div>
                            </div>
                          </div>
                        </div>
            
            
                        <div class="col-md-3">
                          <label class="col-form-label" for="">Trunk IN</label>
                          <div class="form-group">
                            <input class="form-control" type="text" formControlName="trunk_in" placeholder="Trunk IN"
                              autocomplete="Trunk IN"
                              [ngClass]="{ 'is-invalid': submitted && f.trunk_in.errors, 'is-valid': f.origem.touched && !f.origem.errors }" />
                            <div *ngIf="submitted && f['trunk_in'].errors" class="invalid-feedback">
                              <div *ngIf="f['trunk_in'].errors.required">Trunk IN é obrigatório</div>
                            </div>
                          </div>
                        </div>
            
                        <div class="col-md-3">
                          <label class="col-form-label" for="">Trunk OUT</label>
                          <div class="form-group">
                            <input class="form-control" type="text" formControlName="trunk_out" placeholder="Trunk OUT"
                              autocomplete="trunk_out"
                              [ngClass]="{ 'is-invalid': submitted && f.trunk_out.errors, 'is-valid': f.trunk_out.touched && !f.trunk_out.errors }" />
                            <div *ngIf="submitted && f['trunk_out'].errors" class="invalid-feedback">
                              <div *ngIf="f['trunk_out'].errors.required">Trunk OUT é obrigatório</div>
                            </div>
                          </div>
                        </div>
            
            
                        <div class="col-md-3">
                          <div class="form-group">
                            <label class="col-form-label">Tarifário</label>
                            <select class="form-control" formControlName="tarifario_id" placeholder="Tarifário"
                              autocomplete="tarifário"
                              [ngClass]="{ 'is-invalid': submitted && f.tarifario_id.errors, 'is-valid': f.tarifario_id.touched && !f.tarifario_id.errors }">
                              <option value="null"> {{ carregando.tarifario }}</option>
                              <option value="{{ tarifa.id }}" *ngFor="let tarifa of tarifariosInterconexao">
                                {{ tarifa.descricao }} </option>
                            </select>
                            <div *ngIf="submitted && f['tarifario_id'].errors" class="invalid-feedback">
                              <div *ngIf="f['tarifario_id'].errors.required">Tarifário é obrigatório</div>
                            </div>
                          </div>
                        </div>
            
                        <div class="col-md-3">
                          <div class="form-group">
                            <label class="col-form-label">Moeda</label>
                            <select class="form-control" formControlName="moeda_id" placeholder="Moeda" autocomplete="moeda_id"
                              required
                              [ngClass]="{ 'is-invalid': submitted && f.moeda_id.errors, 'is-valid': f.moeda_id.touched && !f.moeda_id.errors }">
                              <option selected value="null">Moedas</option>
                              <option *ngFor="let m of configService.moedas" [value]="m.id"> {{m.nome}} </option>
                            </select>
                            <div *ngIf="submitted && f['moeda_id'].errors" class="invalid-feedback">
                              <div *ngIf="f['moeda_id'].errors.required">Moeda é obrigatório</div>
                            </div>
                          </div>
                        </div>
            
                        <div class="col-md-3">
                          <div class="form-group">
                            <label class="col-form-label">Imposto</label>
                            <select class="form-control" formControlName="imposto_id" placeholder="Imposto"
                              autocomplete="imposto_id" required
                              [ngClass]="{ 'is-invalid': submitted && f.imposto_id.errors, 'is-valid': f.imposto_id.touched && !f.imposto_id.errors }">
                              <option selected value="null">Imposto</option>
                              <option *ngFor="let i of imponstos" [value]="i.id">
                                {{i.descricao}} - {{i.valor}}
                              </option>
                            </select>
                            <div *ngIf="submitted && f['imposto_id'].errors" class="invalid-feedback">
                              <div *ngIf="f['imposto_id'].errors.required">Imposto é obrigatório</div>
                            </div>
                          </div>
                        </div>
            
                        <div class="col-md-2">
                          <div class="form-group">
                            <label class="col-form-label">Estado</label>
                            <select class="form-control" formControlName="estado" placeholder="estado" autocomplete="estado"
                              required
                              [ngClass]="{ 'is-invalid': submitted && f.estado.errors, 'is-valid': f.estado.touched && !f.estado.errors }">
                              <option selected [value]="null">Estado</option>
                              <option value="1">Activo</option>
                              <option value="0">Inactivo</option>
                            </select>
                            <div *ngIf="submitted && f['estado'].errors" class="invalid-feedback">
                              <div *ngIf="f['estado'].errors.required">Estado é obrigatório</div>
                            </div>
                          </div>
                        </div>
            
            
                      </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer" style="display: block;" *ngIf="view_form">
                      <button class="btn btn-danger btn-sm " type="reset" data-dismiss="modal"
                        (click)="onReset(); createForm()">Cancelar</button>
            
                      <button class="btn btn-success btn-sm mr-1" type="submit" [disabled]="formParceria.valid">Validar</button>
            
                      <button class="btn btn-primary mr-1 btn-sm" type="submit"
                        [disabled]="formParceria.pristine || formParceria.invalid" data-style="expand-left"><i
                          class="fa fa-save"></i> Finalizar</button>
            
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>
    

    <app-setingsnavbar></app-setingsnavbar>
    <app-footernavbar></app-footernavbar>
  </div>