<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Relatório Serviços Contratados</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Operações</a></li>
              <li class="breadcrumb-item">Relatórios </li>
              <li class="breadcrumb-item">Financeira </li>
              <li class="breadcrumb-item active">Relatório Serviços Contratados</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="row">

        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title"> Filtro de Dados</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <!-- /.card-body -->
                  <form [formGroup]="simpleForm" (submit)="onSubmit();">
                    <div class="row">


                      <div class="col-md-2 col-xs-3">
                        <div class="form-group">
                          <label>Cliente</label>
                          <div class="input-group">
                            <input type="text" placeholder="Digite o nome ou a identificação do cliente"
                              class="form-control" formControlName="cliente" autocomplete="conta" required
                              [ngClass]="{ 'is-invalid': submitted && f.cliente.errors, 'is-valid': f.conta.touched && !f.conta.errors }"
                              (keyup)="getCliente()">
                            <div *ngIf="submitted && f['cliente'].errors" class="invalid-feedback">
                              <div *ngIf="f['cliente'].errors.required">cliente é obrigatório</div>
                            </div>
                            <div class="autocomplete-container" *ngIf="view_client">
                              <ul>
                                <li *ngFor="let cliente of clientes">
                                  <a href="javascript:void(0)" (click)="setCliente(cliente)">{{cliente.nome}}</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>


                      <div class="col-md-2 col-xs-3">
                        <div class="form-group">
                          <label>Conta</label>
                          <div class="input-group">
                            <select class="form-control" formControlName="conta" autocomplete="conta" required
                              (change)="getServicosConta()"
                              [ngClass]="{ 'is-invalid': submitted && f.conta.errors, 'is-valid': f.conta.touched && !f.conta.errors }">
                              <option value="null">{{ this.loadingData.conta }}</option>
                              <option value="T"> Todas</option>
                              <option *ngFor="let conta of contas" [value]="conta.id"> {{conta.contaDescricao }} -
                                {{conta.id }} </option>
                            </select>
                            <div *ngIf="submitted && f['conta'].errors" class="invalid-feedback">
                              <div *ngIf="f['conta'].errors.required">conta é obrigatório</div>
                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>

                      <div class="col-md-2 col-xs-3">
                        <div class="form-group">
                          <label>Serviço</label>
                          <div class="input-group">

                            <select class="form-control" formControlName="servico" autocomplete="servico" required
                              [ngClass]="{ 'is-invalid': submitted && f.servico.errors, 'is-valid': f.servico.touched && !f.servico.errors }">
                              <option value="null">{{ this.loadingData.servico }}</option>
                              <option value="T"> Todos</option>
                              <option *ngFor="let servico of servicos" [value]="servico.id"> {{servico.chaveServico }} -
                                {{servico.descricao }} </option>
                            </select>
                            <div *ngIf="submitted && f['servico'].errors" class="invalid-feedback">
                              <div *ngIf="f['servico'].errors.required">Serviço é obrigatório</div>
                            </div>

                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>

                      <div class="col-md-2 col-xs-3">
                        <div class="form-group">
                          <label>Produto</label>
                          <div class="input-group">
                            <select class="form-control" formControlName="produto" placeholder="Filiais"
                              autocomplete="produto" required (change)="changeProduto()"
                              [ngClass]="{ 'is-invalid': submitted && f.produto.errors, 'is-valid': f.produto.touched && !f.produto.errors }">
                              <option value="null">{{ this.loadingData.produto }}</option>
                              <option value="T"> Todos</option>
                              <option *ngFor="let produto of produtos" [value]="produto.id">{{produto.nome}}</option>
                            </select>
                            <div *ngIf="submitted && f['produto'].errors" class="invalid-feedback">
                              <div *ngIf="f['produto'].errors.required">Produto é obrigatório</div>
                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>



                      <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                          <label>Estado</label>
                          <div class="input-group">
                            <select class="form-control" formControlName="estado" placeholder="Filiais"
                              autocomplete="estado" required
                              [ngClass]="{ 'is-invalid': submitted && f.estado.errors, 'is-valid': f.estado.touched && !f.estado.errors }">
                              <option value="null">{{ this.loadingData.estado }}</option>
                              <option value="T"> Todos</option>
                              <option *ngFor="let estado of estadosServicos" [value]="estado.id"> {{estado.nome}}
                              </option>
                            </select>
                            <div *ngIf="submitted && f['estado'].errors" class="invalid-feedback">
                              <div *ngIf="f['estado'].errors.required">estado é obrigatório</div>
                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>

                      <div class="col-md-1 col-xs-2">
                        <div class="form-group">
                          <label style="color: #fff;">s</label>
                          <div class="input-group">
                            <button type="button" class="btn btn-info btn-flatt mr-1 btn-smm" type="submit"
                              [disabled]="simpleForm.pristine || simpleForm.invalid" data-style="expand-left"><i
                                class="fa fa-search"></i>
                              Filtrar</button>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>

                      <div class="col-md-2 col-xs-3">
                        <div class="form-group" style="float: right;">
                          <label style="color: #fff;">s</label>
                          <div class="input-group">
                            <div class="btn-group">

                              <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle dropdown-icon btn-flat"
                                  data-toggle="dropdown" aria-expanded="false" [disabled]="disabledButton"> <i
                                    class="fa fa-download"></i> Exportação
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start" style="left: 40px;">
                                  <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsPDF();"><i
                                      class="fa fa-file-pdf-o"></i> PDF</a>
                                  <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsXLSX();"><i
                                      class="fa fa-file-excel-o"></i> Excel</a>
                                </div>
                              </div>
                              <button type="button" class="btn btn-info btn-flat" (click)="imprimirPDF()"
                                [disabled]="disabledButton"><i class="icon-printer"></i> Imprimir</button>

                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>



                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title"> Serviços Contratados</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <!-- /.card-body -->
                  <br>
                  <div class="table-responsive">


                    <ngx-loading [show]="loading"></ngx-loading>
                    <table class="table table-hover table-bordered table-stripedd text-center m-0">
                      <tr>
                        <td colspan="5" style="border: 0; color:#fff;"> Serviços Contratados </td>
                      </tr>

                      <tr style="color: #fff; background: #0099FF;">
                        <th style="width: 190px;">NÚMERO CONTA</th>
                        <th style="width: 366px;">CHAVE SERVIÇO</th>
                        <th style="width: 366px;">NÚMERO SERVIÇO</th>
                        <th style="width: 190px;">ESTADO SERVIÇO</th>
                        <th style="width: 190px;">DATA ESTADO</th>
                        <th>PRODUTO</th>
                        <th style="width: 230px;">MENSALIDADE</th>
                      </tr>

                      <tbody>
                        <tr *ngFor="let cobranca of cobrancas">
                          <td>{{  cobranca.conta }}</td>
                          <td>{{  cobranca.nome_servico }}</td>
                          <td>{{  cobranca.numero_servico }}</td> 
                          <td>{{  cobranca.nome_estado_servicos }}</td>
                          <td>{{ cobranca.data_servico | date: 'dd-MM-yyyy' }}</td>
                          <td>{{ cobranca.produto }}</td>
                          <td class="text-right">{{ this.configService.numberFormat(cobranca.mensalidade) }}</td>
                        </tr>
                      </tbody>
                    </table>

                    <div style="height: 0px; overflow: auto;">
                      <table class="table table-hover table-bordered table-stripedd text-center m-0 tableExportAsXLSX">
                        <tr>
                          <td colspan="5" style="border: 0; color:#fff;"> Serviços Contratados </td>
                        </tr>

                        <tr style="color: #fff; background: #0099FF;">
                          <th style="width: 190px;">NÚMERO CONTA</th>
                          <th style="width: 366px;">CHAVE SERVIÇO</th>
                          <th style="width: 366px;">NÚMERO SERVIÇO</th>
                          <th style="width: 190px;">ESTADO SERVIÇO</th>
                          <th style="width: 190px;">DATA ESTADO</th>
                          <th>PRODUTO</th>
                          <th style="width: 230px;">MENSALIDADE</th>
                        </tr>
  
                        <tbody>
                          <tr *ngFor="let cobranca of cobrancas">
                            <td>{{  cobranca.conta }}</td>
                            <td>{{  cobranca.nome_servico }}</td>
                            <td>{{  cobranca.numero_servico }}</td> 
                            <td>{{  cobranca.nome_estado_servicos }}</td>
                            <td>{{ cobranca.data_servico | date: 'dd-MM-yyyy' }}</td>
                            <td>{{ cobranca.produto }}</td>
                            <td class="text-right">{{ (cobranca.mensalidade) }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- /.content -->
  </div>

  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>