<div class="modal modal-info fade in" id="{{modal}}"  data-backdrop="static">
  <div class="modal-dialog modal-lg " style="max-width: 1150px;">
    <div class="modal-content">
      <!-- Modal Header -->
      <form [formGroup]="simpleFormutilizador" (submit)="onSubmit();">
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa icon-user nav-icon"></i> {{ title }}</h4>
          <button class="close" type="reset" (click)="onReset()" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body" style="padding: 2rem;">
          <ngx-loading [show]="loading"></ngx-loading>
          
          <div class="card-header">
            <h3 class="card-title"><i class="fa icon icon-user"></i> Dados pessoais</h3>
            <!-- /.card-tools -->
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group has-warning">
                <label class="col-form-label">Nome</label>
                <input class="form-control" required autofocus id="nome" type="text" formControlName="nome"
                  placeholder="Nome" autocomplete="given-name"
                  [ngClass]="{ 'is-invalid': submitted && f.nome.errors, 'is-valid': f.nome.touched && !f.nome.errors }" />
                  <div *ngIf="submitted && f['nome'].errors" class="invalid-feedback">
                  <div *ngIf="f['nome'].errors.required">O campo Nome é obrigatório</div>
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group has-warning">
                <label class="col-form-label">Telefone</label>
                <input class="form-control" required autofocus id="telefone" type="text" formControlName="telefone"
                  placeholder="Ex. 926 000 111" autocomplete="given-name"
                  [ngClass]="{ 'is-invalid': submitted && f.telefone.errors, 'is-valid': f.telefone.touched && !f.telefone.errors }" />
                  <div *ngIf="submitted && f['telefone'].errors" class="invalid-feedback">
                  <div *ngIf="f['telefone'].errors.required">O campo Telefone é obrigatório</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group has-warning">
                <label class="col-form-label">Email</label>
                <input class="form-control" autofocus id="email" type="email" formControlName="email"
                  placeholder="Email" autocomplete="given-name"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors, 'is-valid': f.email.touched && !f.email.errors }" />
                 <!--  <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                  <div *ngIf="f['email'].errors.required">O campo Email é obrigatório</div>
                </div> -->
              </div>
            </div>
          </div>

          

          <div class="row">
            <div class="col-md-6">
              <div class="form-group has-warning">
                <label class="col-form-label">Morada</label>
                <input class="form-control" autofocus id="morada" type="text" formControlName="morada"
                  placeholder="Ex. Kicolo - Cacuaco, Luanda" autocomplete="given-name"
                  [ngClass]="{ 'is-invalid': submitted && f.morada.errors, 'is-valid': f.morada.touched && !f.morada.errors }" />
                  <div *ngIf="submitted && f['morada'].errors" class="invalid-feedback">
                  <div *ngIf="f['morada'].errors.required">O campo Morada é obrigatório</div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group has-warning">
                <label class="col-form-label" for="empresa_id">Empresa</label>
                <div class="input-group mb-3">
                  <select formControlName="empresa_id" class="form-control" required autofocus
                    [ngClass]="{ 'is-invalid': submitted && f.empresa_id.errors, 'is-valid': f.empresa_id.touched && !f.empresa_id.errors }">
                    <option selected [value]="null">Seleciona a Empresa</option>
                    <option *ngFor="let empresa of empresas" [value]="empresa.id"> {{empresa.companyName}}
                    </option>
                  </select>
                  <div *ngIf="submitted && f['empresa_id'].errors" class="invalid-feedback">
                    <div *ngIf="f['empresa_id'].errors.required">O campo Empresa é obrigatório</div>
                  </div>
                </div>
              </div>
            </div>

             
            
              <div class="col-md-3">
                <div class="form-group has-warning">
                  <label class="col-form-label" for="loja_id">Loja</label>
                  <div class="input-group mb-6">
                    <select formControlName="loja_id" class="form-control"  autofocus
                      [ngClass]="{ 'is-invalid': submitted && f.loja_id.errors, 'is-valid': f.loja_id.touched && !f.loja_id.errors }">
                      <option selected [value]="null">Seleciona a loja</option>
                      <option *ngFor="let loja of lojas" [value]="loja.id"> {{loja.nome }} - {{ loja.numero}}
                      </option>
                    </select>
                   <!--  <div *ngIf="submitted && f['loja_id'].errors" class="invalid-feedback">
                      <div *ngIf="f['loja_id'].errors.required">O campo Loja é obrigatório</div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>

          
          <div class="card-header">
            <h3 class="card-title"><i class="fa fa-lock"></i> Dados da Conta</h3>
            <!-- /.card-tools -->
          </div>
          <div class="row" *ngIf="ver">

            <div class="col-md-4">
              <div class="form-group has-warning">
                <label class="col-form-label">Username</label>
                <input class="form-control" required autofocus id="username" type="text" formControlName="username"
                  placeholder="username" autocomplete="given-name"
                  [ngClass]="{ 'is-invalid': submitted && f.username.errors, 'is-valid': f.username.touched && !f.username.errors }" />
                  <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                  <div *ngIf="f['username'].errors.required">O campo Username é obrigatório</div>
                </div>
              </div>
            </div>

            
 
            <div class="col-md-4">
              <div class="form-group has-warning">
                <label class="col-form-label">Password</label>
                <input class="form-control" required autofocus id="password" type="password" formControlName="password"
                  placeholder="Password" autocomplete="given-name"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors, 'is-valid': f.password.touched && !f.password.errors }" />
                  <div *ngIf="submitted && f['password'].errors" class="invalid-feedback"> 
                  <div *ngIf="f['password'].errors.required">Password é obrigatório</div>
                  <div *ngIf="f['password'].errors.minlength">{{formErrors.password.minLength}}</div>
                  <div *ngIf="f['password'].errors.pattern">{{formErrors.password.pattern}}</div>
                </div>
              </div>
            </div>

            <div  class="col-md-4">
              <div class="form-group has-warning">
                <label class="col-form-label">Confirmar Password</label>
                <input class="form-control" id="password_confirmation" type="password"
                    formControlName="password_confirmation" placeholder="Confirmar Senha" autocomplete="new-password"
                    required
                    [ngClass]="{ 'is-invalid': submitted && simpleFormutilizador.errors, 'is-valid': f.password_confirmation.touched && !simpleFormutilizador.errors }" />                   
                  <div *ngIf="submitted && simpleFormutilizador.errors" class="invalid-feedback">
                    <div *ngIf="simpleFormutilizador.errors['passwordMismatch']">As senhas não correspondem </div>
                  </div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group has-warning">
                <label class="col-form-label" for="role_id">Role</label>
                <div class="input-group mb-6">
                  <select formControlName="role_id" class="form-control" required autofocus
                    [ngClass]="{ 'is-invalid': submitted && f.role_id.errors, 'is-valid': f.role_id.touched && !f.role_id.errors }">
                    <option selected [value]="null">Seleciona o role</option>
                    <option *ngFor="let role of roles" [value]="role.id"> {{role.name}}</option>
                  </select>
                  <div *ngIf="submitted && f['role_id'].errors" class="invalid-feedback">
                    <div *ngIf="f['role_id'].errors.required">O campo Role é obrigatório</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group has-warning">
                <label class="col-form-label" for="status">Activação</label>
                <div class="input-group mb-6">
                  <select formControlName="status" class="form-control" required autofocus
                    [ngClass]="{ 'is-invalid': submitted && f.status.errors, 'is-valid': f.status.touched && !f.status.errors }">
                    <option value="null">Activação</option>
                    <option [value]="1"> Activo </option>
                    <option [value]="0"> Inactivo </option>
                  </select>
                  <div *ngIf="submitted && f['status'].errors" class="invalid-feedback">
                    <div *ngIf="f['status'].errors.required">O campo Activação é obrigatório</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
         
        </div>


       

        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="btn btn-danger btn-sm" type="reset" [disabled]="simpleFormutilizador.pristine && !submitted"
            (click)="onReset()">Limpar</button>
          <button class="btn btn-success btn-sm mr-1" type="submit"
            [disabled]="simpleFormutilizador.valid">Validar</button>
          <button class="btn btn-primary mr-1 btn-sm" type="submit"
            [disabled]="simpleFormutilizador.pristine || simpleFormutilizador.invalid" data-style="expand-left"><i
              class="fa fa-save"></i>
            Registar</button>
        </div>
      </form>
    </div>
  </div>
</div>
