<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Facturação Detalhada</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Reporting & BI </a></li>
              <li class="breadcrumb-item">Facturação </li>
              <li class="breadcrumb-item active">Facturação Detalhada</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="row">


        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title"> Filtro de Dados</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <!-- /.card-body -->
                  <form [formGroup]="simpleForm" (submit)="onSubmit();">
                    <div class="row">

                    <div class="col-md-2 col-xs-3">
                      <div class="form-group">
                        <label>Data Inicial</label>
                        <div class="input-group">


                          <input type="date" [ngClass]="{ 'is-invalid': submitted && f.data1.errors, 'is-valid': f.data1.touched && !f.data1.errors }" formControlName="data1" autocomplete="data1" class="form-control"
                         placeholder="">

                          <div *ngIf="submitted && f['data1'].errors" class="invalid-feedback">
                            <div *ngIf="f['data1'].errors.required">Data Inicial é obrigatório</div>
                          </div>
                        </div>
                        <!-- /.input group -->
                      </div>
                    </div>

                    <div class="col-md-2 col-xs-3">
                      <div class="form-group">
                        <label>Data Final</label>
                        <div class="input-group">



                          <input type="date" formControlName="data2" autocomplete="data2" required class="form-control"
                          [ngClass]="{ 'is-invalid': f.data2.touched &&  f.data2.errors, 'is-valid': f.data2.touched && !f.data2.errors }">


                          <div *ngIf=" f.data2.errors" class="invalid-feedback">
                            <div *ngIf="f.data2.errors">Data Final deve ser igual ou superior a Data Inicial </div>
                          </div>

                        </div>
                        <!-- /.input group -->
                      </div>
                    </div>

                      <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                          <label style="color: #fff;">s</label>
                          <div class="input-group">
                            <button type="button" class="btn btn-info btn-flat  mr-1 btn-smm" type="submit"
                              data-style="expand-left"><i class="fa fa-search"></i>
                              Filtrar</button>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>
<!--
                      <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                          <label style="color: #fff;">s</label>
                          <div class="input-group">
                            <button type="button" class="btn btn-info btn-flat  mr-1 btn-smm" type="submit"
                              [disabled]="simpleForm.pristine || simpleForm.invalid"
                              data-style="expand-left"><i class="fa fa-search"></i>
                              Filtrar</button>
                          </div>

                        </div>
                      </div> -->

                      <div class="col-md-2 col-xs-3">
                        <div class="form-group">
                          <label style="color: #fff;">s</label>
                          <div class="input-group">
                            <div class="btn-group">

                              <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle dropdown-icon btn-flat"
                                  data-toggle="dropdown" aria-expanded="false"
                                  > <i
                                    class="fa fa-download"></i> Exportação
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start" style="left: 40px;">
                                  <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsPDF();"><i
                                      class="fa fa-file-pdf-o"></i> PDF</a>
                                  <a class="dropdown-item" href="javascript:void(0)" (click)=" setTrue();"><i
                                      class="fa fa-file-excel-o"></i> Excel</a>
                                </div>
                              </div>
                              <button type="button" class="btn btn-info btn-flat" (click)="imprimirPDF()"
                               ><i class="icon-printer"></i>
                                Imprimir</button>

                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>



                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Facturação Detalhada</h4>
                  <div class="card-tools">
                  </div>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <!-- /.card-body -->
                  <div class="table-responsive">
                    <ngx-loading [show]="loading"></ngx-loading>

                    <table class="table table-hover table-bordered table-stripedd text-center m-0 tableCobranca">
                      <tbody>
                        <tr style="color: #fff; background: #17a2b8;">

                          <th>Número Cliente</th>
                          <th>Nome Cliente</th>
                          <th>Documento</th>
                          <th>Data Documento</th>
                          <th>Saldado?</th>
                          <th>Tarifário</th>
                          <th>Operador</th>
                          <th>Estado</th>
                          <th style="background: rgb(138, 132, 132);" >VALOR EM ABERTO</th>
                          <th style="background: #8a8484;">VALOR TOTAL</th>
                        </tr>

                        <tr *ngFor="let cobranca of cobrancas ">
                          <td>{{ cobranca.cliente_id }}</td>
                          <td>{{ cobranca.cliente }}</td>
                          <td>{{ cobranca.factura_sigla }}</td>
                          <td>{{ cobranca.data}}</td>
                          <td>
                              <span class="btn bg-danger btn-block btn-flat status-label"
                              *ngIf="cobranca.pago == 0">NÃO</span>
                              <span class="btn bg-success btn-block btn-flat status-label"
                              *ngIf="cobranca.pago ==1">SIM</span>
                          </td>
                          <td>{{ cobranca.descricao}}</td>
                          <td>{{ cobranca.user}}</td>
                          <td>
                            <span class="btn bg-danger btn-block btn-flat status-label"
                              *ngIf="cobranca.status == 'A'">Anulado</span>
                            <span class="btn bg-success btn-block btn-flat status-label"
                              *ngIf="cobranca.status == 'N'">Normal</span>
                          </td>
                          <td >{{ this.configService.numberFormat(cobranca.valor_aberto)}}</td>
                          <td class="text-right">{{ this.configService.numberFormat(cobranca.total)}}</td>

                        </tr>
                      </tbody>
                      <tr style="background: #eeeeeea8;">
                        <th colspan="9" class="text-right"><b>TOTAL</b></th>
                        <th class="text-right"><b>{{ this.configService.numberFormat(this.totais.totals)}}</b></th>
                        <!-- <th class="text-right"><b>{{ this.configService.numberFormat(this.totais.TotalSemImposto)}}</b>
                        </th>-->
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- /.content -->
  </div>

  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>

