<div class="wrapper">
    <app-topnavbar></app-topnavbar>
    <app-asidenavbar></app-asidenavbar>

    <div class="content-wrapper" style="min-height: 768px;">

        <div class="content-header">
            <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Gestores de contas</h1>
                </div><!-- /.col -->

                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Configurações</a></li>
                        <li class="breadcrumb-item"><a href="#">Configurações CRM</a></li>
                        <li class="breadcrumb-item active">Gestores de contas</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>

        <section class="content">
            <div class="content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="modall modal-info fadee" data-backdrop="static">
                            <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
                                <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title"> Filtro de Dados</h4>
                                    </div>
                                    <!-- Modal body -->

                                    <div class="modal-body">
                                        <div class="row">

                                            <div class="col-md-4 col-xs-3">
                                                <div class="form-group">
                                                    <input type="text" name="search" placeholder="Pesquisar..." class="form-control">
                                                    <i class="fa fa-search" style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="modall modal-info fadee" data-backdrop="static">
                            <div class="modal-dialog" style="max-width: 100%;">
                                <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                                    <app-loading></app-loading>
                                    <div class="modal-header">
                                        <h4 class="modal-title">Lista dos Gestores de contas</h4>
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-toggle="modal" data-target="#ModalCreatOrEditGestorConta" (click)="_initModal(gestor, true)">
                                                <i class="fa fa-plus"></i> Registar
                                            </button>
                                        </div>
                                    </div>

                                    <div class="modal-body">
                                        <div class="table-responsivee">
                                            <ngx-loading [show]="loading"></ngx-loading>
                                            <table *ngIf="gestores.length > 0;else emptyList" class="table table-hover table-bordered table-stripedd text-center m-0 exportAsXLSXCliente">
                                                <tbody>
                                                    <tr style="color: #fff; background: #0099FF;">
                                                        <th>#</th>
                                                        <th>Nome completo</th>
                                                        <th>Nº telefone</th>
                                                        <th>E-mail</th>
                                                        <th>Data Criação</th>
                                                        <th width="150px">Operações</th>
                                                    </tr>

                                                    <tr *ngFor="let gestor of gestores; index as i">
                                                        <td>{{ i + 1 }}</td>
                                                        <td>{{ gestor.nome }}</td>
                                                        <td>{{ gestor.telefone }}</td>
                                                        <td>{{ gestor.email }}</td>
                                                        <td>{{ gestor.created_at | date: 'dd-MM-yyyy HH:mm' }}</td>


                                                        <td>

                                                            <div class="btn-group btn-block">
                                                                <button type="button" class="btn btn-info btn-flat btn-sm btn-block" data-toggle="dropdown">Opções</button>
                                                                <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                                    <span class="caret"></span>
                                                                    <span class="sr-only">Toggle Dropdown</span>
                                                                </button>
                                                                <div class="dropdown-menu" role="menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(67px, 38px, 0px);">
                                                                    <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-toggle="modal" data-target="#ModalCreatOrEditGestorConta" (click)="_initModal(gestor, false)">
                                                                        <i class="fa fa-edit"></i> Editar
                                                                    </button>
                                                                               
                                                                </div>
                                                            </div>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <div class="row" style="width: 100%;">
                                            <div class="col-sm-12 col-md-5"></div>
                                            <div class="col-sm-12 col-md-7">
                                                <div class="pull-right">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>

    <ng-template #emptyList>
        <div align="center">
            <h2>Sem resultados</h2><span></span>
        </div>
    </ng-template>

    <ng-template #dataEmpty>------</ng-template>

    <app-setingsnavbar></app-setingsnavbar>
    <app-footernavbar></app-footernavbar>
</div>





<div class="modal modal-info fade in" id="ModalCreatOrEditGestorConta" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-user nav-icon"></i>{{is_new ? 'Registar Gestor' : 'Actualizar Gestor'}}</h4>
                <button class="close" type="reset" (click)="onReset()" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body" style="padding: 2rem;">
                <ngx-loading [show]="loading"></ngx-loading>
                <app-loading></app-loading>

                <div class="form-group">
                    <label for="nome">Nome completo</label>
                    <input 
                        [(ngModel)]="gestor.nome"
                        id="nome"
                        name="nome" 
                        placeholder="Nome completo do gestor" 
                        type="text" 
                        class="form-control"
                    >
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="telefone">Nº de telefone</label>
                            <input 
                                [(ngModel)]="gestor.telefone"
                                id="telefone"
                                name="telefone" 
                                placeholder="ex: 923000987" 
                                type="text" 
                                class="form-control"
                            >
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input 
                                [(ngModel)]="gestor.email"
                                id="email"
                                name="email" 
                                placeholder="ex: gestor@email.co.ao" 
                                type="text" 
                                class="form-control"
                            >
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="morada">Morada</label>
                    <input 
                        [(ngModel)]="gestor.morada"
                        id="morada"
                        name="morada" 
                        placeholder="ex: Pedro de castro vandune-Loy" 
                        type="text" 
                        class="form-control"
                    >
                </div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-outline-danger btn-sm mr-1" data-dismiss="modal">Fechar</button>
                <button (click)="_save()" class="ml-2 btn-sm btn btn-primary"><i class="fa fa-save mr-1"></i>{{is_new ? 'Registar' : 'Actualizar'}}</button>
            </div>
        </div>
    </div>
</div>
