<div class="modal modal-info fade in" id="circuito_empresarial_pedido" data-backdrop="static">
  <div class="modal-dialog modal-lg " style="max-width: 1700px;">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa icon fa-credit-card"></i> Dar Seguimento</h4>
        <button type="button" (click)="clearForm(); hideBotton()" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <app-loading></app-loading>
        <app-alert></app-alert>
        <h3 style="padding: 15px 10px; background: #0099FF; color: #ffffff;">Cliente: {{ cliente.clienteNome }} </h3>
        <hr>

        <div class="row">


          <div class="col-md-3">
            <label>Tarifário</label>
            <div class="form-group">
              <input type="text" name="tarifario_descricao" readonly [(ngModel)]="cliente.tarifario_descricao"
                class="form-control" placeholder="">
            </div>
          </div>

          <div class="col-md-3">

            <label>Conta</label>
            <div class="form-group">
              <select class="form-control" name="conta_id" [(ngModel)]="servico.conta_id">
                <option selected [ngValue]="null">Selecione</option>
                <option *ngFor="let clienteConta of selectForms.clienteContas" [value]="clienteConta.contaID">
                  {{ clienteConta.contaID }} - {{ clienteConta.contaDescricao }} </option>

              </select>

            </div>
          </div>

          <div class="col-md-3" *ngIf="servico.conta_id ==null">
            <div class="form-group">
              <label>Tipo Facturação</label>
              <select class="form-control" name="tipoFacturacao" placeholder="Tipo Facturação"
                [(ngModel)]="servico.tipoFacturacao">
                <option selected [ngValue]="null">Selecione</option>
                <option value="MRC">MRC</option>
                <option value="PRE-PAGO">Pré-pago</option>
                <option value="POS-PAGO">Pós-Pago</option>

              </select>
            </div>
          </div>

          <div class="col-md-3" >
            <label>Serviço</label>
            <div class="form-group">
              <input type="text" name="servico"  [(ngModel)]="servico.servico" class="form-control"
                placeholder="">
            </div>
          </div>

          <div class="col-md-4" >
            <label>Débito Binário</label>
            <div class="form-group">
              <input type="text" name="debito_binario"  [(ngModel)]="servico.debito_binario" class="form-control"
                placeholder="">
            </div>
          </div>

          <div class="col-md-4" >
            <label>Interface da DTE</label>
            <div class="form-group">
              <input type="text" name="destino"  [(ngModel)]="servico.interface_dte" class="form-control"
                placeholder="">
            </div>
          </div>

          <div class="col-md-4" >
            <label>Serviço Class</label>
            <div class="form-group">
              <input type="text" name="servico_class"  [(ngModel)]="servico.servico_class" class="form-control"
                placeholder="">
            </div>
          </div>

          <div class="col-md-4" >
            <label>Redundância</label>
            <div class="form-group">
              <input type="text" name="redundancia"  [(ngModel)]="servico.redundancia" class="form-control"
                placeholder="">
            </div>
          </div>

          <div class="col-md-4" >
            <label>Serviço OMG</label>
            <div class="form-group">
              <input type="text" name="servico_omg"  [(ngModel)]="servico.servico_omg" class="form-control"
                placeholder="">
            </div>
          </div>

          <div class="col-md-4" >
            <label>Nível Serviço</label>
            <div class="form-group">
              <input type="text" name="nivel_servico"  [(ngModel)]="servico.nivel_servico" class="form-control"
                placeholder="">
            </div>
          </div>

          <div class="col-md-4" >
            <label>CPE Sede A</label>
            <div class="form-group">
              <input type="text" name="cpe_sede_a"  [(ngModel)]="servico.cpe_sede_a" class="form-control"
                placeholder="">
            </div>
          </div>

          <div class="col-md-4" >
            <label>CPE Sede B</label>
            <div class="form-group">
              <input type="text" name="cpe_sede_b"  [(ngModel)]="servico.cpe_sede_b" class="form-control"
                placeholder="">
            </div>
          </div>

          



          <div class="col-md-4" >
            <label>Descrição do Serviço</label>
            <div class="form-group">
              <input type="text" name="descricao_servico"  [(ngModel)]="servico.descricao_servico" class="form-control"
                placeholder="">
            </div>
          </div>

          <div class="col-md-4" >
            <label>Endereço do Ponto A</label>
            <div class="form-group">
              <input type="text" name="endereco_ponto_a"  [(ngModel)]="servico.endereco_ponto_a" class="form-control"
                placeholder="">
            </div>
          </div>


          <div class="col-md-4" >
            <label>Latitude do Ponto A</label>
            <div class="form-group">
              <input type="text" name="latitude_ponto_a"  [(ngModel)]="servico.latitude_ponto_a" class="form-control"
                placeholder="">
            </div>
          </div>

          <div class="col-md-4" >
            <label>Longitude do Ponto A</label>
            <div class="form-group">
              <input type="text" name="longitude_ponto_a"  [(ngModel)]="servico.longitude_ponto_a" class="form-control"
                placeholder="">
            </div>
          </div>

          <div class="col-md-4" >
            <label>Endereço do Ponto B</label>
            <div class="form-group">
              <input type="text" name="endereco_ponto_b"  [(ngModel)]="servico.endereco_ponto_b" class="form-control"
                placeholder="">
            </div>
          </div>


          <div class="col-md-4" >
            <label>Latitude do Ponto B</label>
            <div class="form-group">
              <input type="text" name="latitude_ponto_b"  [(ngModel)]="servico.latitude_ponto_b" class="form-control"
                placeholder="">
            </div>
          </div>

          <div class="col-md-4" >
            <label>Longitude do Ponto B</label>
            <div class="form-group">
              <input type="text" name="longitude_ponto_b"  [(ngModel)]="servico.longitude_ponto_b" class="form-control"
                placeholder="">
            </div>
          </div>
          
          

        </div>






      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="clearForm(); hideBotton()"
          data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-outline-primary btn-sm" *ngIf="isFinalizar"
          (click)="finalizarPedido()">Finalizar</button>
         
      </div>

    </div>
  </div>
</div>