<div class="modal modal-info fade in" id="modalCreateOrEditRua" data-backdrop="static"
  [ngStyle]="{'display': ruaModal ? 'block' : 'none', 'opacity': 1}">
  <div class="modal-dialog" style="max-width: 1500px;">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-map-marker nav-icon"></i> {{ title }}</h4>
        <button class="close" type="reset" (click)="onReset()" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="padding: 2rem;">
        <ngx-loading [show]="loading"></ngx-loading>
        <app-loading></app-loading>


        <div class="row">
          <!-- /.col -->
          <div class="col-12">

            <div class="alert alert-success alert-dismissible" *ngIf="ruaRowValid == true"
              style="border: 0;border-radius: 0; margin: 8px;">
              <h5><i class="icon fa fa-check"></i>Rua adicionado a lista</h5>
            </div>
            <div class="alert alert-danger alert-dismissible"
              *ngIf="ruaRowValid == false && ruasArray.length > 0 && addRows == true"
              style="border: 0;border-radius: 0; margin: 8px;">
              <h5><i class="icon fa fa-ban"></i>Rua já existente na lista</h5>
            </div>

            <div class="col-md-12 row">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="morada">Província</label>
                  <select [(ngModel)]="rua.provincia_id" class="form-control" required
                    (change)="selectBoxMunicipiosByProvincia()" [disabled]="!provincias">
                    <option [value]="null">Província</option>
                    <option *ngFor="let i of provincias" [value]="i.id">
                      {{i.abreviatura}} - {{i.nome}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="morada">Município</label>
                  <select [(ngModel)]="rua.municipio_id" class="form-control" required
                    (change)="selectBoxDistritosByMunicipio()" [disabled]="!municipios">
                    <option [value]="null">Município</option>
                    <option *ngFor="let i of municipios" [value]="i.id">
                      {{i.nome}}
                    </option>
                  </select>
                </div>
              </div>

              <div *ngIf="distrito_view" class="col-md-3">
                <div class="form-group">
                  <label for="morada">Comuna</label>
                  <div *ngIf="!distritos">
                    <i style="padding: 3px 5px; border-radius: 5px;" class="fa fa-close alert-danger"></i>
                  </div>
                  <select *ngIf="rua.has_distrito == true" [(ngModel)]="rua.distrito_id" class="form-control" required
                    (change)="selectBoxBairrosByMunicipio()" [disabled]="!distritos">
                    <option [value]="null">Comuna</option>
                    <option *ngFor="let i of distritos" [value]="i.id">
                      {{i.nome}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="morada">Bairro</label>
                  <select [(ngModel)]="rua.bairro_id" class="form-control" required
                    (change)="selectBoxQuarteiraosByBairro()" [disabled]="!bairros">
                    <option [value]="null">Bairro</option>
                    <option *ngFor="let i of bairros" [value]="i.id">
                      {{i.nome}}
                    </option>
                  </select>
                </div>
              </div>

              <div *ngIf="quarteirao_view" class="col-md-3">
                <div class="form-group">
                  <label for="morada">Quarteirão</label>
                  <div *ngIf="!quarteiraos">
                    <i style="padding: 3px 5px; border-radius: 5px;" class="fa fa-close alert-danger"></i>
                  </div>
                  <select *ngIf="rua.has_quarteirao == true" [(ngModel)]="rua.quarteirao_id" class="form-control"
                    required [disabled]="!quarteiraos">
                    <option [value]="null">Quarteirão</option>
                    <option *ngFor="let i of quarteiraos" [value]="i.id">
                      {{i.nome}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="morada">Rua</label>
                  <input class="form-control" required autofocus id="moradia_numero" type="text" [(ngModel)]="rua.nome"
                    placeholder="Rua" autocomplete="given-name" [disabled]="!rua.bairro_id" />
                </div>
              </div>

              <div class="col-md-3 text-right">
                <div class="form-group">
                  <br>
                  <button *ngIf="rua.bairro_id && rua.nome" class="btn btn-success" type="button" title="Adicionar Item"
                    (click)="appendRowRua()"><i class="fa fa-plus"></i> Adicionar</button>
                </div>
              </div>

            </div>


            <div class="table-responsive">


              <div class="col-md-12 row" style="padding: 0px; margin: 0px;" *ngIf="addRows">
                <h5 class="col-md-10" style="padding: 10px; background: #0099FF; color: #fff;">Ruas para
                  Processamento</h5>
                <h5 class="col-md-2 text-right" style="padding: 10px; background: #0099FF; color: #fff;">
                  {{ruasArray.length}}</h5>

              </div>

              <div *ngIf="addRows">
                <table *ngIf="ruasArray.length > 0 && addRows == true;else emptyList"
                  class="table table-hover table-bordered table-stripedd text-center m-0">
                  <tbody>
                    <tr style="color: #fff; background: #0099FF;">
                      <th>Província</th>
                      <th>Município</th>
                      <th *ngIf="distrito_view">Comuna</th>
                      <th>Bairro</th>
                      <th *ngIf="quarteirao_view">Quarteirão</th>
                      <th>Rua</th>
                      <th width="150px">#</th>
                    </tr>

                    <tr *ngFor="let item of ruasArray">
                      <td>{{ item.provincia }}</td>
                      <td>{{ item.municipio }}</td>
                      <td *ngIf="distrito_view">
                        {{ (item.distrito != null) ? item.distrito : '------' }}
                      </td>
                      <td>{{ item.bairro }}</td>
                      <td *ngIf="quarteirao_view">
                        {{ (item.quarteirao != null) ? item.quarteirao : '------' }}
                      </td>
                      <td>{{ item.nome }}</td>

                      <td>
                        <button type="button" class="btn btn-danger" (click)="deleteRowRuaAppended(item)">
                          <i class="fa fa-trash"></i> Remover</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>

          <!-- /.col -->
        </div>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button class="btn btn-outline-danger btn-sm mr-1" data-dismiss="modal">Fechar</button>
        <button class="btn btn-danger btn-sm" type="reset" (click)="onReset()">Limpar</button>
        <button class="btn btn-primary mr-1 btn-sm" type="submit" data-style="expand-left" (click)="save()">
          <i class="fa fa-save"></i>
          Registar</button>
      </div>
    </div>
  </div>
</div>





<ng-template #emptyList>
  <div align="center">
    <h2>Sem resultados</h2>
    <span></span>
  </div>
</ng-template>

<ng-template #dataEmpty>------</ng-template>