<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Bairros</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Configurações</a></li>
              <li class="breadcrumb-item"><a href="#">Objectos Técnicos</a></li>
              <li class="breadcrumb-item active">Bairros</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="content">
        <div class="row">

          <div class="col-lg-12 col-12">
            <div class="modall modal-info fadee" data-backdrop="static">
              <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
                <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title"> Filtro de Dados</h4>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                    <div class="row">


                      <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                          <!--<label style="color: #fff;">Entrada</label>-->
                          <select name="perPage" (change)="getPageFilterData($event)"
                            [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
                            <option value="1">Entrada</option>
                            <option value="5" selected>5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                          </select>
                        </div>
                        <!-- /.input group -->
                      </div>

                      <div class="col-md-4 col-xs-3">
                        <div class="form-group">
                          <input type="text" name="search" [(ngModel)]="this.http.filters.search"
                            placeholder="Pesquisar..." class="form-control" (keyup)="getPageFilterData($event)">
                          <i class="fa fa-search"
                            style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                        </div>
                        <!-- /.input group -->
                      </div>

                      <div class="col-md-2">
                        <div class="form-group">
                          <select name="orderBy" (change)="getPageFilterData($event)"
                            [(ngModel)]="this.http.filters.orderBy" class="form-control">
                            <option [ngValue]="null">Ordernar</option>
                            <option value="bairros.nome">Nome</option>
                            <option *ngIf="distrito_view" value="distritos.nome">Comunas</option>
                            <option value="municipios.nome">Municípios</option>
                            <option value="provincias.nome">Províncias</option>
                            <option value="bairros.is_active">Estado</option>
                            <option value="users.nome">Utilizador</option>
                          </select>

                        </div>
                        <!-- /.input group -->
                      </div>


                      <div class="col-md-1">
                        <!-- <div class="form-group">
                          <div class="input-group">
                            <button type="button" class="btn btn-info btn-flatt mr-1 btn-smm" type="button"><i
                                class="fa fa-search"></i>
                              Filtrar</button>
                          </div>
                        </div> -->
                      </div>

                      <div class="col-md-1 col-xs-3">
                        <div class="form-group" style="float: right;">
                          <div class="input-group">
                            <div class="btn-group">

                              <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle dropdown-icon btn-flat"
                                  data-toggle="dropdown" aria-expanded="false" [disabled]="disabledButton"> <i
                                    class="fa fa-download"></i> Exportação
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start" style="left: 40px;">
                                  <!-- <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsPDF();"><i
                                      class="fa fa-file-pdf-o"></i>
                                    PDF</a> -->
                                  <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsXLSX();"><i
                                      class="fa fa-file-excel-o"></i> Excel</a>
                                </div>
                              </div>
                              <!-- <button type="button" class="btn btn-info btn-flat" (click)="imprimirPDF()"
                                [disabled]="disabledButton"><i class="icon-printer"></i> Imprimir</button> -->

                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>


                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-12 col-12">
            <div class="modall modal-info fadee" data-backdrop="static">
              <div class="modal-dialog" style="max-width: 100%;">
                <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                  <!-- Modal Header -->
                  <app-loading></app-loading>
                  <div class="modal-header">
                    <h4 class="modal-title">Lista de Bairros</h4>

                    <div class="card-tools">
                      <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-toggle="modal"
                        data-target="#modalCreateOrEditBairro" (click)="initBairro(); getConfiguracaos()"><i class="fa fa-plus"></i>
                        Registar</button>
                    </div>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                    <!-- /.card-body -->
                    <div class="table-responsivee">


                      <ngx-loading [show]="loading"></ngx-loading>

                      <table *ngIf="items.length > 0;else emptyList"
                        class="table table-hover table-bordered table-stripedd text-center m-0 exportAsXLSXCliente">
                        <tbody>
                          <tr style="color: #fff; background: #0099FF;">
                            <th>#</th>
                            <th>Nome</th>
                            <th *ngIf="distrito_view">Comuna</th>
                            <th>Município</th>
                            <th>Província</th>
                            <th width="150px">Estado</th>
                            <th>Utilizador</th>

                            <th width="150px">Operações</th>
                          </tr>

                          <tr
                            *ngFor="let item of items | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">

                            <td>{{i + 1}}</td>
                            <td>{{ item.nome }}</td>
                            <td *ngIf="distrito_view">
                              <span *ngIf="item.distrito != null;else dataEmpty">{{ item.distrito }}</span>
                            </td>
                            <td>{{ item.municipio }}</td>
                            <td>{{ item.provincia }}</td>
                            <td>
                              <span class="btn bg-danger btn-block btn-flat" style="border-radius: 6px;"
                                *ngIf="item.is_active == false">Desactivo</span>
                              <span class="btn bg-success btn-block btn-flat" style="border-radius: 6px;"
                                *ngIf="item.is_active == true">Activo</span>
                            </td>
                            <td>{{ item.user }}</td>

                            <td>
                              <div class="btn-group btn-block">
                                <button type="button" class="btn btn-info  btn-flat btn-sm"
                                  data-toggle="dropdown">Opções</button>
                                <button type="button" class="btn btn-info btn-flat dropdown-toggle"
                                  data-toggle="dropdown" aria-expanded="false">
                                  <span class="caret"></span>
                                  <span class="sr-only">Menu Serviços</span>
                                </button>
                                <div class="dropdown-menu" role="menu" x-placement="bottom-start">

                                  <a href="javascript:void(0)" class="dropdown-item btn-sm"
                                    (click)="setDataBairro(item)" data-toggle="modal"
                                    data-target="#modalCreateOrEditBairro">
                                    <i class="fa fa-edit"></i> Editar
                                  </a>


                                  <a href="javascript:void(0)" class="dropdown-item btn-sm"
                                    data-widget="chat-pane-toggle" (click)="getRuasByBairro(item.id)"
                                    title="Ruas" data-toggle="modal" data-target="#modalRuasByBairro">
                                    <i class="fa fa-credit-card"></i> Ruas
                                  </a>

                                  <a href="javascript:void(0)" class="dropdown-item btn-sm"
                                    (click)="updateStateBairro(item)">
                                    <span class="label-danger" style="border-radius: 6px; padding: 2px 6px;"
                                      *ngIf="item.is_active"><i class="fa fa-refresh"></i> Desactivar</span>
                                    <span class="label-success" style="border-radius: 6px; padding: 2px 6px;"
                                      *ngIf="!item.is_active"><i class="fa fa-refresh"></i> Activar</span>
                                  </a>

                                </div>
                              </div>
                            </td>

                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="modal-footer">
                    <div class="row" style="width: 100%;">
                      <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                          {{this.http.filters.pagination.perPage}} de
                          {{this.http.filters.pagination.total}} Registos
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-7">
                        <div class="pull-right">
                          <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior"
                            maxSize="6" nextLabel="Proximo" directionLinks="true" responsive="true">
                          </pagination-controls>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </section>
  </div>

  <app-create-or-edit-bairro
  [bairro]="{
    id: this.bairro.id,
    nome: this.bairro.nome,
    has_distrito: this.bairro.has_distrito,
    distrito_id: this.bairro.distrito_id,
    municipio_id: this.bairro.municipio_id,
    provincia_id: bairro.provincia_id,
    is_active: this.bairro.is_active,
    user_id: this.bairro.user_id
  }" [distrito_view]="distrito_view" [addRows]="addRows" [municipios]="this.municipios" [distritos]="this.distritos">
  </app-create-or-edit-bairro>


  <ng-template #emptyList>
    <div align="center">
      <h2>Sem resultados</h2>
      <span></span>
    </div>
  </ng-template>

  <ng-template #dataEmpty>------</ng-template>

  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>