<!--<div style="position: relative;">
  <div class="right" (click)="this.show = true" >
    
    <svg width="15" height="5">
      <circle cx="2" cy="2" r="1.5" fill="grey"></circle>
      <circle cx="7" cy="2" r="1.5" fill="grey"></circle>
      <circle cx="12" cy="2" r="1.5" fill="grey"></circle>
    </svg>
  </div>
  <div *ngIf="show">
    <div class="dropdown-menu dropdown-menu-sm show" style="position: absolute;top: 5px;left: inherit;right: 0px;padding: .15rem 0;margin: .125rem 0 0;font-size: 0.8rem;min-width: 5rem;">
      <a class="dropdown-item" href="javascript:void(0)" (click)="emitCloseEvent()">Delete</a>
    </div>
  </div>
  <div class="clearfix"></div>
</div>-->

<button type="button" class="btn btn-tool" (click)="emitCloseEvent()" title="Excluir"> <i class="fa fa-times"></i>
</button>
