<div class="sidenav-reporting">
  <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a (click)="toggleMenuSecound($event,
            {
              title: 'Agência',
              itensMenu: [
                {name: 'Movimentos de Caixa', url: '/relatorio/financeira/movimentos-de-caixa'},
                {name: 'Relatório de Lojas', url: '/relatorio/financeira/lojas'}
              ]
            })" href="javascript:void(0);" class="nav-link report-nav">

            <div class="direct-chat-msg right">
              <div class="direct-chat-text">
                <i class="fa fa-list nav-icon-report"></i> Agência
              </div>
            </div>
          </a>
        </li>






<!--    <li class="nav-item">
              <a (click)="toggleMenuSecound($event,
                  {
                      title: 'Facturação Pré-Pago',
                      itensMenu: [
                          {name: 'Diária Pré-Pago', url: '/relatorio/financeira/facturacao-diaria-pre-pago/pre-pago'},
                          {name: 'Mensal - Pré-Pago', url: '/relatorio/financeira/facturacao-detalhada-pre-pago/pre-pago'},
                          {name: 'Paga - Pré-Pago', url: '/relatorio/financeira/facturacao-paga-pre-pago/pre-pago'},
                          {name: 'Por Gestor Pré-Pago', url: '/relatorio/financeira/facturacao-Por-Gestor-pre-pago/pre-pago'},
                          {name: 'Diária Por Gestor Pré-Pago', url: '/relatorio/financeira/facturacao-diaria-por-gestor-pre-pago/pre-pago'},
                          {name: 'Por Serviço Pré-Pago', url: '/relatorio/financeira/facturacao-Por-Servico-pre-pago/pre-pago'},
                          {name: 'Diária Por Serviço Pré-Pago', url: '/relatorio/financeira/facturacao-diaria-por-servico'},
                          {name: 'Cliente - Pré-Pago', url: '/relatorio/financeira/facturacao-cliente-pre-pago/pre-pago'}

                      ]
                  })" href="javascript:void(0);" class="nav-link report-nav">

                  <div class="direct-chat-msg right">
                      <div class="direct-chat-text">
                          <i class="fa fa-list nav-icon-report"></i>
                          Facturação Pré-Pago
                      </div>
                  </div>
              </a>
          </li> -->

          <li class="nav-item">
              <a (click)="toggleMenuSecound($event,
                  {
                      title: 'Facturação',
                      itensMenu: [
                          {name: 'Facturação Detalhada', url: '/relatorio/financeira/facturacao-detalhada'}
                      ]
                  })" href="javascript:void(0);" class="nav-link report-nav">

                  <div class="direct-chat-msg right">
                      <div class="direct-chat-text">
                          <i class="fa fa-list nav-icon-report"></i>
                          Facturação
                      </div>
                  </div>
              </a>
          </li>

<!--           <li class="nav-item">
              <a (click)="toggleMenuSecound($event,
                  {
                      title: 'Facturação Pós-Pago',
                      itensMenu: [
                          {name: 'Detalhada - Pós-Pago Novo', url: '/relatorio/financeira/facturacao-detalhada'}, *
                          {name: 'Mensal - Pós-Pago', url: '/relatorio/financeira/facturacao-detalhada-pos-pago/pos-pago'},
                          {name: 'Paga - Pós-Pago', url: '/relatorio/financeira/facturacao-paga-pos-pago/pos-pago'},
                          {name: 'Recibos - Pós-Pago', url: '/relatorio/financeira/recibos'},
                          {name: 'Por Gestor Pós-Pago', url: '/relatorio/financeira/facturacao-Por-Gestor-pos-pago/pos-pago'},
                          {name: 'Por Serviço Pós-Pago', url: '/relatorio/financeira/facturacao-Por-Servico-pos-pago/pos-pago'},
                          {name: 'Cliente - Pós-Pago', url: '/relatorio/financeira/facturacao-cliente-pos-pago/pos-pago'},
                          {name: 'Pagamentos Cliente - Pós-Pago', url: '/relatorio/financeira/pagamento-cliente-pos-pago/pos-pago'}
                      ]
                  })" href="javascript:void(0);" class="nav-link report-nav">

                  <div class="direct-chat-msg right">
                      <div class="direct-chat-text">
                          <i class="fa fa-list nav-icon-report"></i>
                          Facturação Pós-Pago
                      </div>
                  </div>
              </a>
          </li> -->

          <!-- // TESTE -->
<!--
          <li class="nav-item">
              <a (click)="toggleMenuSecound($event,
                  {
                      title: 'Stock Movimento',
                      itensMenu: [
                      {name: 'Stock Movimento', url: '/relatorio/financeira/resumo-conta-corrente'}
                      ]
                  })" href="javascript:void(0);" class="nav-link report-nav">

                  <div class="direct-chat-msg right">
                      <div class="direct-chat-text">
                          <i class="fa fa-list nav-icon-report"></i>
                          Stock Movimento
                      </div>
                  </div>
              </a>
          </li> -->

          <li class="nav-item">
              <a (click)="toggleMenuSecound($event,
                  {
                      title: 'Cobranças',
                      itensMenu: [
                      {name: 'Cobrança Detalhada', url: '/relatorio/financeira/resumo-conta-corrente'}
                      ]
                  })" href="javascript:void(0);" class="nav-link report-nav">

                  <div class="direct-chat-msg right">
                      <div class="direct-chat-text">
                          <i class="fa fa-list nav-icon-report"></i>
                          Cobranças
                      </div>
                  </div>
              </a>
          </li>


<!--
            <li class="nav-item">
              <a (click)="toggleMenuSecound($event,
                  {
                      title: 'Lojas',
                      itensMenu: [
                          {name: 'Movimentos de Caixa', url: '/relatorio/financeira/movimentos-de-caixa'}, 
                          {name: 'Relatório de Lojas', url: '/relatorio/financeira/lojas'}, *
                          {name: 'Vendas Por Lojas Por Produto', url: '/relatorio/financeira/venda-Por-Lojas-Por-Produto'}

                      ]
                  })" href="javascript:void(0);" class="nav-link report-nav">

                  <div class="direct-chat-msg right">
                      <div class="direct-chat-text">
                          <i class="fa fa-list nav-icon-report"></i>
                          Lojas
                      </div>
                  </div>
              </a>
          </li> -->

          <li class="nav-item">
              <a (click)="toggleMenuSecound($event,
                  {
                      title: 'Clientes',
                      itensMenu: [
                          {name: 'Relatórios Clientes', url: '/relatorio/clientes'},
                          {name: 'Relatórios Extracção de Clientes, Contas e Contratos', url: '/relatorio/extraccao/clientes'}
                      ]
                  })" href="javascript:void(0);" class="nav-link report-nav">

                  <div class="direct-chat-msg right">
                      <div class="direct-chat-text">
                          <i class="fa fa-list nav-icon-report"></i>
                          Clientes
                      </div>
                  </div>
              </a>
          </li>

<!--         <li class="nav-item">
              <a (click)="toggleMenuSecound($event,
                  {
                      title: 'Outros',
                      itensMenu: [
                          {name: 'Imposto de Valor Acrescentado', url: '/relatorio/financeira/iva'},
                          {name: 'Relatório DVR', url: '/relatorio/financeira/parametrizacao-relatorio-dvr'},
                          {name: 'Serviços Contratados', url: '/relatorio/financeira/servicos-contradados'},
                          {name: 'Facturas Enviadas Por Email', url: '/relatorio/factura-enviada-email'}

                      ]
                  })" href="javascript:void(0);" class="nav-link report-nav">

                  <div class="direct-chat-msg right">
                      <div class="direct-chat-text">
                          <i class="fa fa-list nav-icon-report"></i>
                          Outros
                      </div>
                  </div>
              </a>
          </li> -->



      </ul>
  </nav>
</div>

<style>
  .nav-icon-report{
      font-size: 20px!important;
      margin-right: 10px!important;
  }

  .direct-chat-text{
      font-size: 20px!important;
      margin-right: 15px!important;
      padding: 15px!important;
      background: #eaebeb!important;
      border: 1px solid #eaebeb!important;
  }

  .direct-chat-text.active{
      background: #d2d2d2!important;
      border: 1px solid #d2d2d2!important;
  }

  .direct-chat-text.active:before {
      border-left-color: #d2d2d2;
  }


  .direct-chat-text:before {
      border-width: 20px;
      margin-top: -6px;
      border-left-color: #eaebeb;
  }
  a.report-nav.active{
      color: #fff!important;
      background-color: transparent;
  }

  a.report-nav{
      margin-bottom: -25px!important;
  }

  .nav-link.report-nav.active{
      color: #fff!important;
  }
</style>
