.sidenav-reporting {
    padding: .2rem;
    height: 100vh;
    width: 100%;
    background-color: #fff;
}

.nav-item>.nav-link{
    color: #c2c7d0!important;
}

.nav-sidebar>.nav-item:hover {
    color: #fff!important;
    background-color: rgba(255,255,255,.1)!important;
}