<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Nota de Crédito</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Venda</a></li>
              <li class="breadcrumb-item active">Nota de Crédito</li>
              <li class="breadcrumb-item active">Abrir Nota de Crédito</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div *ngIf="alert.show">
              <div class="alert {{ alert.class }} alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fa fa-ban"></i> Alerta!</h5>
                {{alert.message}}
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <!-- /.card -->
              <div #cardCliente class="card card card-widget">
                <div #loadding class="overlay d-none">
                  <i class="fa fa-spinner fa-spin text-danger" aria-hidden="true"></i>
                </div>
                <div class="card-header">
                  <!--<div class="user-block">
                    <div class="col-md-12">
                      <input type="text" value="" #searchCliente
                        placeholder="Escolher cliente por nome ou Contribuinte" class="form-control"
                        (keyup)="getCliente($event)">
                      <i class="fa fa-search"
                        style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                      <small><b>Escolher cliente por nome ou Contribuinte</b></small>
                    </div>
                  </div>-->
                  <div class="row">
                      <div class="col-md-9">
                        <input type="text" value="" #searchCliente placeholder="Nº número da factura" class="form-control"
                          (keyup)="getCliente($event)"> 
                      </div>
                      <div class="col-md-3">
                        <button class="btn btn-outline-primary" (click)="getCliente($event)"><i class="fa fa-search"></i>
                          Consultar</button>
                      </div>
                    </div>
                </div>
                
                <!-- /.card-header -->
                <div class="card-body p-0" *ngIf="clientes">
                  <h3 class="card-title" style="background: #0099FF;
                      color: #fff;
                      padding: 18px 15px;">Lista de Clientes</h3>
                  <table class="table table-stripedd">
                    <thead>
                      <tr>

                        <th class="col-md-6">Nome</th>
                        <th class="col-md-2"> Contribuinte</th>
                        <th class="col-md-2">Telefone </th>
                        <th class="col-md-2">Acção</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let cliente of clientes">
                        <td>{{ cliente.nome }}</td>
                        <td>{{ cliente.contribuente }}</td>
                        <td>{{ cliente.telefone }}</td>
                        <th>
                          <button class="btn btn-block btn-outline-primary btn-sm" *ngIf="cliente.id" (click)="getfacturas(cliente.id)">
                          <i class="fa fa-check"></i></button>
                      </th>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                      <div #cardProduto class="card collapsed-card">
                        <div class="card-header">
                          <h3 class="card-title">Facturas em aberto</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0" *ngIf="facturas">
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th class="col-md-8">Numero</th>
                                  <th class="col-md-2">Data</th>
                                  <th class="col-md-2">Total</th>
                                  <th class="col-md-2">Acção</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let fatura of facturas">
                                  <td>{{ fatura.numero }}</td>
                                  <td>{{ fatura.data | date: 'dd-MM-yyyy' }}</td>
                                  <td>{{ fatura.total }}</td>
                                  <th><button class="btn btn-block btn-outline-primary btn-sm" *ngIf="fatura.id" (click)="getLinhasFactura(fatura.id)">
                                      <i class="fa fa-plus"></i></button>
                                  </th>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        <!-- /.card-body -->
                      </div>
                      <!-- /.card -->
              </div>
              <div class="col-md-6">
                  <div class="card card-default">
                      <div class="card-header">
                        <h3 class="card-title">Produtos selecionados</h3>

                        <!-- /.card-tools -->
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body">
                          <table class="table table-hover table-bordered table-striped text-center">
                            <tbody>
                              <tr>
                                <th width="100">#</th>
                                <th width="368">Produto</th>
                                <th width="125">Qtd</th>
                                <th width="137">Valor</th>
                                <th width="130">Total</th>
                                <th style="width: 16%;">Acção</th>
                              </tr>
                              <tr *ngFor="let produt of linhas; index as i">
                                <td>{{i+1}}</td>
                                <td>{{ produt.nome }}</td>
                                <td>{{ produt.quantidade }}</td>
                                <td>{{ produt.valor }}</td>
                                <td>{{ (produt.total) }}</td>
                                <td>
                                  <div class="btn-group">
                                    <button class="btn" id="remove" (click)="deleteRow(produt.id)">Exluir</button>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        <br>
                        <div class="table-responsive">
                          <table class="table">
                            <tbody>
                              <tr>
                                <th width="150" style="background: #f2f2f2;">Total:</th>
                                <td>{{ totalFacturacao }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- The Modal -->
  <div class="modal modal-info fade in" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Quantidade do produto</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="form-group">
            <label for="exampleInputEmail1">Quantidade</label>
            <input type="number" class="form-control" id="exampleQunatidade" placeholder="Quantidade" #qtd>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Desconto %</label>
            <input type="number" class="form-control" id="exampleDesconto" placeholder="Desconto" #desconto>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-outline-primary btn-sm" data-dismiss="modal"
            (click)="getAddProduto()">Adicionar</button>
        </div>

      </div>
    </div>
  </div>
  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>