<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Ocorrências</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Configurações</a></li>
              <li class="breadcrumb-item active">Ocorrências</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="content">
        <div class="row">

          <div class="col-lg-12 col-12">
            <div class="modall modal-info fadee" data-backdrop="static">
              <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
                <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title"> Filtro de Dados</h4>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                    <div class="row">


                      <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                          <!--<label style="color: #fff;">Entrada</label>-->
                          <select name="perPage" (change)="getPageFilterData($event)"
                            [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
                            <option value="1">Entrada</option>
                            <option value="5" selected>5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                          </select>
                        </div>
                        <!-- /.input group -->
                      </div>

                      <div class="col-md-4 col-xs-3">
                        <div class="form-group">
                          <input type="text" name="search" [(ngModel)]="this.http.filters.search"
                            placeholder="Pesquisar..." class="form-control" (keyup)="getPageFilterData($event)">
                          <i class="fa fa-search"
                            style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                        </div>
                        <!-- /.input group -->
                      </div>

                      <div class="col-md-2">
                        <div class="form-group">
                          <select name="orderBy" (change)="getPageFilterData($event)"
                            [(ngModel)]="this.http.filters.orderBy" class="form-control">
                            <option [ngValue]="null">Ordernar</option>
                            <option value="users.nome">Utilizador</option>
                          </select>

                        </div>
                        <!-- /.input group -->
                      </div>


                      <div class="col-md-1">
                        <!-- <div class="form-group">
                          <div class="input-group">
                            <button type="button" class="btn btn-info btn-flatt mr-1 btn-smm" type="button"><i
                                class="fa fa-search"></i>
                              Filtrar</button>
                          </div>
                        </div> -->
                      </div>

                      <div class="col-md-1 col-xs-3">
                        <div class="form-group" style="float: right;">
                          <div class="input-group">
                            <div class="btn-group">

                              <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle dropdown-icon btn-flat"
                                  data-toggle="dropdown" aria-expanded="false" [disabled]="disabledButton"> <i
                                    class="fa fa-download"></i> Exportação
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start" style="left: 40px;">
                                  <!-- <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsPDF();"><i
                                      class="fa fa-file-pdf-o"></i>
                                    PDF</a> -->
                                  <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsXLSX();"><i
                                      class="fa fa-file-excel-o"></i> Excel</a>
                                </div>
                              </div>
                              <!-- <button type="button" class="btn btn-info btn-flat" (click)="imprimirPDF()"
                                [disabled]="disabledButton"><i class="icon-printer"></i> Imprimir</button> -->

                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>


                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-12 col-12">
            <div class="modall modal-info fadee" data-backdrop="static">
              <div class="modal-dialog" style="max-width: 100%;">
                <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                  <!-- Modal Header -->
                  <app-loading></app-loading>
                  <div class="modal-header">
                    <h4 class="modal-title">Lista de Ocorrências</h4>

                    <!-- <div class="card-tools">
                      <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-toggle="modal"
                        (click)="getRotasHeaderWithRunsByLeitor(); onReset()" data-target="#modalCreateOrEditOcorrencia"><i
                          class="fa fa-plus"></i> Registar</button>
                    </div> -->
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                    <!-- /.card-body -->
                    <div class="table-responsivee">


                      <ngx-loading [show]="loading"></ngx-loading>

                      <table *ngIf="items.length > 0;else emptyList"
                        class="table table-hover table-bordered table-stripedd text-center m-0 exportAsXLSXCliente">
                        <tbody>
                          <tr style="color: #fff; background: #0099FF;">
                            <th>#</th>

                            <th>Rota</th>
                            <th>Cliente</th>
                            <th>Telefone</th>
                            <th>Contador</th>
                            <th>Conta</th>
                            <th>Estado</th>
                            <th>Tipo</th>
                            <th>Motivo</th>
                            <th>Utilizador</th>
                            <th>Data Criação</th>
                            <th width="150px">Operações</th>

                          </tr>
                          <tr
                            *ngFor="let item of items | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                            <td>{{ i + 1 }}</td>

                            <td>{{ item.rota_header }}</td>
                            <td>{{ item.cliente }}</td>
                            <td>{{ item.cliente_telefone }}</td>
                            <td>{{ item.numero_serie }}</td>
                            <td>{{ item.conta_id }}</td>
                            <td>{{ item.estado_rota }}</td>
                            <td>{{ item.tipo_ocorrencia }}</td>
                            <td>{{ item.motivo }}</td>

                            <td>{{ item.user }}</td>
                            <td *ngIf="item.created_at != null;else dataEmpty">
                              {{ item.created_at | date: 'dd-MM-yyyy HH:mm' }}</td>
                            <td>

                              <div class="btn-group btn-block">
                                <button type="button" class="btn btn-info  btn-flat btn-sm"
                                  data-toggle="dropdown">Opções</button>
                                <button type="button" class="btn btn-info btn-flat dropdown-toggle"
                                  data-toggle="dropdown" aria-expanded="false">
                                  <span class="caret"></span>
                                  <span class="sr-only">Menu Serviços</span>
                                </button>
                                <div class="dropdown-menu" role="menu" x-placement="bottom-start">

                                  <a href="javascript:void(0)" class="dropdown-item btn-sm"
                                    (click)="setDataOcorrencia(item)" data-toggle="modal"
                                    data-target="#modalCreateOrEditOcorrencia">
                                    <i class="fa fa-edit"></i> Editar
                                  </a>
                                  <!-- <a href="javascript:void(0)" class="dropdown-item btn-sm"
                                    (click)="setDataOcorrencia(item)" data-toggle="modal"
                                    data-target="#modalCreateOrEditOcorrencia">
                                    <i class="fa fa-edit"></i> Eliminar
                                  </a> -->


                                </div>
                              </div>
                            </td>

                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="modal-footer">
                    <div class="row" style="width: 100%;">
                      <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                          {{this.http.filters.pagination.perPage}} de
                          {{this.http.filters.pagination.total}} Registos
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-7">
                        <div class="pull-right">
                          <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior"
                            maxSize="6" nextLabel="Proximo" directionLinks="true" responsive="true">
                          </pagination-controls>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </section>
  </div>



  <div class="modal modal-info fade in" id="modalCreateOrEditOcorrencia" data-backdrop="static">
    <div class="modal-dialog" style="max-width: 1500px;">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa fa-map-marker nav-icon"></i> {{ title }}</h4>
          <button class="close" type="reset" (click)="onReset()" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body" style="padding: 2rem;">
          <ngx-loading [show]="loading"></ngx-loading>
          <app-loading></app-loading>


          <div class="row">
            <!-- /.col -->
            <div class="col-12">

              <div *ngIf="!has_rotas_header" class="col-md-12 row" style="padding: 0px; margin: 0px;">
                <h1 class="text-left bg-warning" style="padding: 15px 10px; color: #ffffff;">
                  Não foram encontradas rotas com corridas pendentes!
                </h1>
              </div>

              <div *ngIf="has_rotas_header" class="col-md-12 row">

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="morada">Rota</label>
                    <select [(ngModel)]="ocorrencia.rota_header_id" class="form-control" required
                      (change)="selectBoxRotasRunPendentesByRotaReader(); selectBoxTiposOcorrencias()" [disabled]="!rotas_header">
                      <option [value]="null">Rota</option>
                      <option *ngFor="let i of rotas_header" [value]="i.id">
                        {{i.nome}}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="morada">Corrida</label>
                    <select [(ngModel)]="ocorrencia.rota_run_id" class="form-control" required 
                    [disabled]="!rota_runs">
                      <option [value]="null">Corrida</option>
                      <option *ngFor="let i of rota_runs" [value]="i.id">
                        {{i.cliente}} - {{i.numero_serie}}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="morada">Tipificação</label>
                    <select [(ngModel)]="ocorrencia.tipo_ocorrencia_id" class="form-control" required [disabled]="!tipos_ocorrencias">
                      <option [value]="null">Tipificação</option>
                      <option *ngFor="let i of tipos_ocorrencias" [value]="i.id">
                        {{i.nome}}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label for="morada">Motivo</label>
                    <input class="form-control" required autofocus id="motivo" type="text"
                      [(ngModel)]="ocorrencia.motivo" placeholder="Motivo" />
                  </div>
                </div>

              </div>

            </div>

            <!-- /.col -->
          </div>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="btn btn-outline-danger btn-sm mr-1" data-dismiss="modal">Fechar</button>
          <button class="btn btn-danger btn-sm" type="reset" (click)="onReset()">Limpar</button>
          <button class="btn btn-primary mr-1 btn-sm" type="submit" data-style="expand-left" (click)="saveOcorrencia()">
            <i class="fa fa-save"></i>
            Registar</button>
        </div>
      </div>
    </div>
  </div>


  <ng-template #emptyList>
    <div align="center">
      <h2>Sem resultados</h2>
      <span></span>
    </div>
  </ng-template>

  <ng-template #dataEmpty>------</ng-template>

  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>