<!-- The Modal -->
<div class="modal modal-info fade in" id="{{modal}}" data-backdrop="static">
  <div class="modal-dialog modal-lg " style="max-width: 1350px;">
    <div class="modal-content">
      <!-- Modal Header -->
      <form [formGroup]="simpleFormCliente" (submit)="onSubmit();">
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa icon-users nav-icon"></i> {{ title }}</h4>
        <button  class="close" type="reset" (click)="onReset()" data-dismiss="modal">&times;</button>
      </div>
      
        <!-- Modal body -->
        <div class="modal-body" style="padding: 2rem;"> 
          <ngx-loading [show]="loading"></ngx-loading>
          <app-loading></app-loading>
          <div class="row">   

            <div class="col-md-4">
              <div class="form-group has-warning">
                <label class="control-label"><i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
                  Nº de Identificação</label>
                <div class="input-group mb-3">
                  <input type="text" formControlName="contribuente" class="form-control" required autofocus 
                    placeholder="Nº de identificação do Cliente" [ngClass]="{ 'is-invalid': submitted && f.nome.errors, 'is-valid': f.contribuente.touched && !f.contribuente.errors }">
                  <div *ngIf="submitted && f['contribuente'].errors" class="invalid-feedback">
                    <div *ngIf="f['contribuente'].errors.required">O campo Nº identificação é obrigatório</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4"> 

              <div class="form-group has-warning">
                <label class="control-label" for="tipo_identidade_id"> Tipo Identidade</label>
                <div class="input-group mb-3">
                  <select formControlName="tipo_identidade_id" class="form-control" required autofocus 
                  [ngClass]="{ 'is-invalid': submitted && f.tipo_identidade_id.errors, 'is-valid': f.tipo_identidade_id.touched && !f.tipo_identidade_id.errors }">
                    <option [value]="null">Tipo cliente</option>
                    <option [value]="tipoIdentidade.id" *ngFor="let tipoIdentidade of selectForms.tipoIdentidades">
                      {{ tipoIdentidade.tipoIdentificacao}}</option>
                  </select>
                  <div *ngIf="submitted && f['tipo_identidade_id'].errors" class="invalid-feedback">
                    <div *ngIf="f['tipo_identidade_id'].errors.required">O campo Tipo Identidade é obrigatório</div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-4">
              <div class="form-group has-warning">
                <label class="control-label" for="tipo_cliente_id"> Tipo cliente</label>
                <div class="input-group mb-3">
                  <select formControlName="tipo_cliente_id" class="form-control" required autofocus 
                  [ngClass]="{ 'is-invalid': submitted && f.tipo_cliente_id.errors, 'is-valid': f.tipo_cliente_id.touched && !f.tipo_cliente_id.errors }">
                    <option [value]="null">Tipo cliente</option>
                    <option [value]="tipoCliente.id" *ngFor="let tipoCliente of selectForms.tipoClientes">
                      {{ tipoCliente.tipoClienteDesc}}</option>
                  </select>
                  <div *ngIf="submitted && f['tipo_cliente_id'].errors" class="invalid-feedback">
                    <div *ngIf="f['tipo_cliente_id'].errors.required">O campo Tipo cliente é obrigatório</div>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-md-8">
              <div class="form-group">
                <label class="col-form-label" for="nome">Nome</label>
                <input class="form-control" required autofocus   id="nome" type="text" formControlName="nome" placeholder="Nome do cliente"
                  autocomplete="given-name"
                  [ngClass]="{ 'is-invalid': submitted && f.nome.errors, 'is-valid': f.nome.touched && !f.nome.errors }" />
                <div *ngIf="submitted && f['nome'].errors" class="invalid-feedback">
                  <div *ngIf="f['nome'].errors.required">O campo nome é obrigatório</div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group has-warning">
                <label class="control-label" for="genero"> Gênero</label>
                <div class="input-group mb-3">
                  <select formControlName="genero"  class="form-control"  autofocus [ngClass]="{ 'is-invalid': submitted && f.genero.errors, 'is-valid': f.genero.touched && !f.genero.errors }">
                    <option selected [ngValue]="null">Selecione genero</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Feminino">Feminino</option>
                  </select>
                  <div *ngIf="submitted && f['genero'].errors" class="invalid-feedback">
                    <div *ngIf="f['genero'].errors.required">O campo Gênero é obrigatório</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label for="telefone"> Telefone</label>
                <input type="text"  formControlName="telefone" class="form-control" required autofocus  id="telefone"
                  placeholder="Nº Telefone" [ngClass]="{ 'is-invalid': submitted && f.telefone.errors, 'is-valid': f.telefone.touched && !f.telefone.errors }">
                  <div *ngIf="submitted && f['telefone'].errors" class="invalid-feedback">
                    <div *ngIf="f['telefone'].errors.required">O campo telefone é obrigatório</div>
                  </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="email"> Email</label>
                <input type="text"  formControlName="email" class="form-control" required autofocus  id="email"
                  placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors, 'is-valid': f.email.touched && !f.email.errors }">
                  <div *ngIf="submitted && f['nome'].errors" class="invalid-feedback">
                    <div *ngIf="f['email'].errors.required">O campo email é obrigatório</div>
                  </div>
              </div>
            </div> 

            <div class="col-md-4">
              <div class="form-group">
                <label for="morada"> Morada</label>
                <input type="text" formControlName="morada" class="form-control" required autofocus  placeholder="Morada" [ngClass]="{ 'is-invalid': submitted && f.morada.errors, 'is-valid': f.morada.touched && !f.morada.errors }">
                <div *ngIf="submitted && f['morada'].errors" class="invalid-feedback">
                  <div *ngIf="f['morada'].errors.required">O campo morada é obrigatório</div>
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label>Provincia</label>
                <select class="form-control" required autofocus  formControlName="province" [ngClass]="{ 'is-invalid': submitted && f.province.errors, 'is-valid': f.province.touched && !f.province.errors }">
                  <option [value]="null">Selecione o Provincia</option>
                  <option *ngFor="let provincia of selectForms.provincias" [value]="provincia.id"> {{provincia.nome}} </option>
                </select>
                <div *ngIf="submitted && f['province'].errors" class="invalid-feedback">
                  <div *ngIf="f['province'].errors.required">O campo provincia é obrigatório</div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="gestor_conta"> Gestor da Conta</label>
                <input type="text"  formControlName="gestor_conta" class="form-control" autofocus  placeholder="Gestor da Conta" 
                [ngClass]="{ 'is-invalid': submitted && f.gestor_conta.errors, 'is-valid': f.gestor_conta.touched && !f.gestor_conta.errors }">
                  <div *ngIf="submitted && f['gestor_conta'].errors" class="invalid-feedback">
                    <div *ngIf="f['gestor_conta'].errors.required">O campo gestor conta é obrigatório</div>
                  </div>
              </div>
              <div class="form-group has-warning">
                <label class="control-label" for="direccao_id"> Direcção</label>
                <div class="input-group mb-3">
                  <select formControlName="direccao_id" class="form-control" required autofocus 
                  [ngClass]="{ 'is-invalid': submitted && f.direccao_id.errors, 'is-valid': f.direccao_id.touched && !f.direccao_id.errors }">
                    <option [value]="null">selecione</option>
                    <option value="{{direccao.id}}" *ngFor="let direccao of selectForms.direccoes">
                      {{ direccao.designacao}}</option>
                  </select>
                  <div *ngIf="submitted && f['direccao_id'].errors" class="invalid-feedback">
                    <div *ngIf="f['direccao_id'].errors.required">O campo Direcção é obrigatório</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label>Observação</label>
              <textarea   formControlName="observacao" placeholder="Escreve uma Observação" class="form-control" autofocus  style="height: 124px;" ></textarea> 
                <div *ngIf="submitted && f['observacao'].errors" class="invalid-feedback">
                  <div *ngIf="f['observacao'].errors.required">O campo Observação é obrigatório</div>
                </div>
            </div> 

          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="btn btn-danger btn-sm" type="reset" [disabled]="simpleFormCliente.pristine && !submitted"
            (click)="onReset()">Limpar</button>
          <button class="btn btn-success btn-sm mr-1" type="submit"  [disabled]="simpleFormCliente.valid">Validar</button>
          <button class="btn btn-primary mr-1 btn-sm" type="submit"
            [disabled]="simpleFormCliente.pristine || simpleFormCliente.invalid" data-style="expand-left"><i
              class="fa fa-save"></i>
            Registar</button>
        </div>
      </form>
    </div>
  </div>
</div>