<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><i class="fa icon fa-building-o"></i> Leituras</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Operações</a></li>
              <li class="breadcrumb-item active">Leituras</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
      <div class="row">

        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title"> Filtro de Dados</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <div class="row">


                    <div class="col-md-1 col-xs-3">
                      <div class="form-group">
                        <!--<label style="color: #fff;">Entrada</label>-->
                        <select name="perPage" (change)="getPageFilterData($event)"
                          [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
                          <option value="1">Entrada</option>
                          <option value="5" selected>5</option>
                          <option value="10">10</option>
                          <option value="25">25</option>
                        </select>
                      </div>
                      <!-- /.input group -->
                    </div>

                    <div class="col-md-4 col-xs-3">
                      <div class="form-group">
                        <input type="text" name="search" [(ngModel)]="this.http.filters.search"
                          placeholder="Pesquisar..." class="form-control" (keyup)="getPageFilterData($event)">
                        <i class="fa fa-search"
                          style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                      </div>
                      <!-- /.input group -->
                    </div>

                    <div class="col-md-1 col-xs-3">
                      <div class="form-group">
                        <select name="orderBy" (change)="getPageFilterData($event)"
                          [(ngModel)]="this.http.filters.orderBy" class="form-control">
                          <option [ngValue]="null">Ordernar</option>
                          <option value="descricao">Descrição</option>
                          <option value="created_at">Data</option>
                          <option value="estado">Estado</option>
                          <option value="planoPrecoDescricao">Plano</option>
                        </select>
                      </div>
                      <!-- /.input group -->
                    </div>


                    <div class="col-md-1 col-xs-2">
                      <div class="form-group">
                        <div class="input-group">
                          <button type="button" class="btn btn-info btn-flatt mr-1 btn-smm" type="button"><i
                              class="fa fa-search"></i>
                            Filtrar</button>
                        </div>
                        <!-- /.input group -->
                      </div>
                    </div>

                    <div class="col-md-2 col-xs-3">
                      <div class="form-group" style="float: right;">
                        <div class="input-group">
                          <div class="btn-group">

                            <div class="btn-group">
                              <button type="button" class="btn btn-info dropdown-toggle dropdown-icon btn-flat"
                                data-toggle="dropdown" aria-expanded="false" [disabled]="disabledButton"> <i
                                  class="fa fa-download"></i> Exportação
                              </button>
                              <div class="dropdown-menu" x-placement="bottom-start" style="left: 40px;">
                                <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsPDF();"><i
                                    class="fa fa-file-pdf-o"></i>
                                  PDF</a>
                                <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsXLSX();"><i
                                    class="fa fa-file-excel-o"></i> Excel</a>
                              </div>
                            </div>
                            <button type="button" class="btn btn-info btn-flat" (click)="imprimirPDF()"
                              [disabled]="disabledButton"><i class="icon-printer"></i> Imprimir</button>

                          </div>
                        </div>
                        <!-- /.input group -->
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">


                <div class="card-header">
                  <h3 class="card-title">Listagem das leituras</h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-primary btn-flat" data-toggle="modal"
                      (click)="listarRotaRunByLeitor();" data-target="#showRotaRunModal"><i class="fa fa-plus"></i>
                      Registar</button>
                  </div>
                </div>

                <div class="modal-body">

                  <div class="table-responsivee">

                    <table class="table table-hover table-bordered table-stripedd text-center m-0 exportAsXLSXCliente"
                      *ngIf="items;else emptyList">

                      <tbody>
                        <tr style="color: #fff; background: #0099FF;">
                          <th>#</th>
                          <th>CIL</th>
                          <th>Cliente</th>
                          <th>Contador</th>

                          <th>Última Leitura</th>
                          <th>Leitura</th>
                          <th>Consumo</th>

                          <th>Data de Leitura</th>
                          <th>Leitor</th>
                          <th>Estado</th>
                          <th width="50px">Operações</th>

                        </tr>
                        <tr *ngFor="let item of items | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i"
                        [style.background-color]="item.nao_leitura ? '#ff000024': '#ffffff'" >
                          <td>{{ i + 1 }}</td>
                          <td>{{ item.cil }}</td>
                          <td>{{ item.cliente }}</td>
                          <td>{{ item.numero_serie }}</td>

                          <td>{{ (item.ultima_leitura != null) ? item.ultima_leitura : '------' }}</td>
                          <td>{{ item.nao_leitura ? 'Não leitura' : item.leitura  }}</td>
                          <td>{{ item.consumo }}</td>

                          <td>{{ item.data_leitura | date: 'dd-MM-yyyy' }}</td>
                          <td>{{ item.leitor }}</td>
                          <td>
                            <span class="badge badge-{{item.estado === 0 ? 'danger' : item.estado === 1 ? 'info' : 'success'}}">
                              {{item.estado === 0 ? 'POR REALIZAR' : item.estado === 1 ? 'REALIZADA' : 'FACTURADA'}}
                            </span>
                          </td>

                          <td>
                            <div class="btn-group btn-block">
                              <button type="button" class="btn btn-info btn-flat btn-sm btn-block"
                                data-toggle="dropdown">Opções</button>
                              <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                              </button>
                              <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(67px, 38px, 0px);">

                                <a href="javascript:void(0)" class="dropdown-item btn-sm" (click)="setDataLeitura(item)"
                                  data-toggle="tooltip" data-widget="chat-pane-toggle" title="Editar"
                                  data-toggle="modal" data-target="#modalleituraCreateOrEdit"> <i class="fa fa-edit"></i> Editar
                                </a>

                              </div>

                            </div>

                          </td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
                <div class="modal-footer">
                  <div class="row" style="width: 100%;">
                    <div class="col-sm-12 col-md-5">
                      <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                        {{this.http.filters.pagination.perPage}} de
                        {{this.http.filters.pagination.total}} Leituras
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                      <div class="pull-right">
                        <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior"
                          maxSize="6" nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>


      </div>
    </section>
    <!-- /.content -->

    <div class="modal modal-info fade in" id="showRotaRunModal" data-backdrop="static">
      <div class="modal-dialog modal-lg " style="max-width: 1500px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <div class="card-tools">
            </div>
            <h4 class="modal-title"><i class="nav-icon fa fa-home"></i> Leituras Pendentes</h4>

            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <app-loading></app-loading>

            <div class="col-md-12 row">

              <div class="col-md-4">
                <div *ngIf="has_rotas_header" class="form-group">
                  <label for="morada">Rotas</label>
                  <select [(ngModel)]="rota_header.id" class="form-control" required
                    (change)="setDataRotaHeader(); listarRotaRunByRotaHeader()">
                    <option [value]="null">Rotas</option>
                    <option *ngFor="let i of rotas_header" [value]="i.id">
                      {{i.nome}}
                    </option>
                  </select>
                </div>

                <div *ngIf="!has_rotas_header" class="col-md-12 row" style="padding: 0px; margin: 0px;">
                  <h3 class="text-left bg-warning" style="padding: 15px 10px; color: #ffffff;">
                    Não foram encontradas rotas com corridas pendentes!
                  </h3>

                </div>

              </div>

              <div class="col-sm-4">
                <b>Leitor</b>
                <address>
                  <strong>Nome:</strong> {{currentUser.user.nome}}<br>
                  Morada: {{currentUser.user.morada}}<br>
                  Telefone: {{currentUser.user.telefone}}<br>
                </address>
              </div>
            </div>

            <div class="col-md-12 row" style="padding: 0px; margin: 0px;">
              <h3 class="col-md-10 text-left" style="padding: 15px 10px;background: #0099FF; color: #ffffff;">
                <span *ngIf="rotaRuns.length > 0">
                  Rota: {{ rota_header.descricao }} | {{ rota_header.data_inicio | date: 'dd-MM-yyyy' }} -
                  {{ rota_header.data_fim | date: 'dd-MM-yyyy' }}
                </span>
              </h3>
              <div *ngIf="leituraToProcess" class="col-md-2 text-right"
                style="padding: 10px; background: #0099FF; color: #fff; margin-bottom: 8px;">
                <button type="button" class="btn btn-primary btn-flat" data-toggle="modal"
                  data-target="#addLeiturasRotaRunModal" (click)="setDataLeiturasRotaRun()">
                  <i class="fa fa-arrow-top"></i>
                  Processar Leituras</button>
              </div>
            </div>
            <hr>
            <table *ngIf="rotaRuns.length > 0;else emptyList" class="table table-hover table-bordered">
              <thead>
                <tr style="color: #fff; background: #0099FF;">
                  <th>ID</th>
                  <th>Rota</th>
                  <th>Cliente</th>
                  <th>Telefone</th>
                  <th>Morada</th>
                  <th>Conta</th>
                  <th>Contador</th>
                  <th>Leitura</th>
                  <th>Data</th>
                  <!--  <th>Operações</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of rotaRuns index as i">
                  <td>{{ item.id }}</td>
                  <td>{{ item.rota_header }}</td>
                  <td>{{ item.cliente }}</td>
                  <td>{{ item.cliente_telefone }}</td>
                  <td>{{ item.cliente_morada }}</td>
                  <td>{{ item.conta_id }}</td>
                  <td>{{ item.numero_serie }}</td>
                  <td>
                    <input *ngIf="item.estado_rota_slug =='PENDENTE'" type="number" placeholder="Leitura"
                      [(ngModel)]="item.leitura" class="form-control">

                    <span *ngIf="item.estado_rota_slug =='REALIZADA' || item.estado_rota_slug =='CANCELADA'">
                      {{ item.leitura }}
                    </span>

                  </td>
                  <td>
                    <input *ngIf="item.estado_rota_slug =='PENDENTE'" type="date" placeholder="Data da Leitura"
                      [(ngModel)]="item.data_leitura" class="form-control">

                    <span *ngIf="item.estado_rota_slug =='REALIZADA' || item.estado_rota_slug =='CANCELADA'">
                      {{ item.data_leitura | date: 'dd-MM-yyyy' }}
                    </span>

                  </td>
                </tr>
              </tbody>
            </table>

          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
          </div>

        </div>
      </div>
    </div>


    <div class="modal modal-info fade" id="addLeiturasRotaRunModal" data-backdrop="static">
      <div class="modal-dialog modal-lg" style="max-width: 1500px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-markbook"></i> Processamento de Leituras</h4>
            <button type="button" class="close" (click)="clearFormRotaRun()" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <app-loading></app-loading>

          <div class="modal-body">
            <app-alert></app-alert>
            <div class="col-md-12">
              <div class="card-body" style="padding: 9px;"><br>
                <div class="row">

                  <div class="col-md-6">
                    <!-- <h3>Mostrar dados</h3> -->
                  </div>

                  <div class="col-md-6">
                  </div>

                  <div class="table-responsive">
                    <div class="col-md-12 row" style="padding: 0px; margin: 0px;" *ngIf="addRows">
                      <h5 class="col-md-10" style="padding: 10px; background: #0099FF; color: #fff;">Leituras para
                        Processamento</h5>
                      <h5 class="col-md-2 text-right" style="padding: 10px; background: #0099FF; color: #fff;">
                        {{corridasLeiturasArray.length}}</h5>
                    </div>

                    <table *ngIf="corridasLeiturasArray.length > 0;else emptyList"
                      class="table table-hover table-bordered">
                      <thead>
                        <tr style="color: #fff; background: #0099FF;">
                          <th>Rota</th>
                          <th>Cliente</th>
                          <th>Telefone</th>
                          <th>Morada</th>
                          <th>Conta</th>
                          <th>Contador</th>
                          <th>Última Leitura</th>
                          <th>Leitura</th>
                          <th>Data</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of corridasLeiturasArray index as i">
                          <td>{{ item.rota_header }}</td>
                          <td>{{ item.cliente }}</td>
                          <td>{{ item.cliente_telefone }}</td>
                          <td>{{ item.cliente_morada }}</td>
                          <td>{{ item.conta_id }}</td>
                          <td>{{ item.numero_serie }}</td>
                          <td>{{ (item.ultima_leitura != null) ? item.ultima_leitura : '------' }}</td>
                          <td>{{ item.leitura }}</td>
                          <td>{{ item.data_leitura }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="clearFormRotaRun()"
              data-dismiss="modal"> Fechar</button>
            <button type="button" (click)="saveLeiturasRotaRun()" class="btn btn-primary btn-sm">Processar</button>
          </div>


        </div>
      </div>
    </div>



    <ng-template #emptyList>
      <div align="center">
        <h2>Sem resultados</h2>
        <span></span>
      </div>
    </ng-template>

    <ng-template #dataEmpty>------</ng-template>


    <app-setingsnavbar></app-setingsnavbar>
    <app-footernavbar></app-footernavbar>
  </div>


<div class="modal modal-info fade in" id="modalleituraCreateOrEdit" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title"><i class="fa fa-user nav-icon"></i> Actualizar leitura - {{leitura.rota_header}}</h4>
          <button class="close" (click)="onReset()" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="padding: 2rem;">
        <ngx-loading [show]="loading"></ngx-loading>
        <app-loading></app-loading>

        <div class="form-group" *ngIf="!leitura.nao_leitura">
          <label for="leitura">Valor da leitura</label>
          <input
            [(ngModel)]="leitura.leitura"
            id="leitura"
            name="leitura"
            placeholder="leitura"
            type="number"
            class="form-control"
          >
        </div>

        <div class="form-group" *ngIf="leitura.nao_leitura">
          <label for="motivo">Motivo da não leitura</label>
          <select class="form-control" [(ngModel)]="leitura.motivo"  >
            <option *ngFor="let motivo of motivos_nao_leitura_list" [value]="motivo.nome">{{ motivo.nome }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="data_leitura">Data da leitura</label>
          <input
            [(ngModel)]="leitura.data_leitura"
            id="data_leitura"
            name="data_leitura"
            placeholder="data_leitura"
            type="date"
            class="form-control"
          >
        </div>

      </div>

      <div class="modal-footer">
        <button (click)="onReset()" id="closeModalUpdateLeitura" class="btn btn-outline-danger btn-sm mr-1" data-dismiss="modal">Fechar</button>
        <button (click)="_update()" class="ml-2 btn-sm btn btn-primary"><i class="fa fa-save mr-1"></i> Actualizar</button>

        <a *ngIf="leitura.nao_leitura" href="javascript:void(0)" class="btn btn-success btn-sm ml-1" (click)="setDataLeitura(leitura)"
          data-toggle="tooltip" data-widget="chat-pane-toggle" title="Tornar com leitura?"
          data-toggle="modal" data-target="#modalCahngeLeitura"> <i class="fa fa-edit"></i> Tornar com leitura?
        </a>
      </div>
    </div>
  </div>
</div>


<div class="modal modal-info fade in" id="modalCahngeLeitura" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title"><i class="fa fa-user nav-icon"></i> Alterar não leitura para Leitura - {{leitura.rota_header}}</h4>
          <button class="close" (click)="onReset()" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="padding: 2rem;">
        <ngx-loading [show]="loading"></ngx-loading>
        <app-loading></app-loading>

        <div class="form-group" *ngIf="leitura.nao_leitura">
          <label for="leitura">Valor da leitura</label>
          <input
            [(ngModel)]="leitura.leitura"
            id="leitura"
            name="leitura"
            placeholder="leitura"
            type="number"
            class="form-control"
          >
        </div>

        <div class="form-group">
          <label for="data_leitura">Data da leitura</label>
          <input
            [(ngModel)]="leitura.data_leitura"
            id="data_leitura"
            name="data_leitura"
            placeholder="data_leitura"
            type="date"
            class="form-control"
          >
        </div>

      </div>

      <div class="modal-footer">
        <button id="closeModalNaoLeitura" (click)="onReset()" class="btn btn-outline-danger btn-sm mr-1" data-dismiss="modal">Fechar</button>
        <button (click)="_updateNaoLeituraToLeitura()" class="ml-2 btn-sm btn btn-primary"><i class="fa fa-save mr-1"></i> Alterar </button>
      </div>
    </div>
  </div>
</div>

