<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar [app_environment]="app_environment"></app-asidenavbar>
  <div class="darker">
    <div class="content-wrapper" style="min-height: 768px;">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Página Inicial</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div>
      </div>
      <!-- /.content-header -->


      <section class="content">
        <div class="content">
          <div class="container-fluid">


            <div class="row">
              <div class="col-lg-12 col-12">

                <div class="card">
                  <app-loading></app-loading>
                  <div class="card-footerr" style="padding: 16px;">
                    <div class="row">

                      <div class="col-sm-2 col-6">
                        <div class="description-block border-right text-right" style="padding-right: 14px;">

                          <h5 class="description-header" style="font-size: 21px;"><i class="fa fa-shopping-cart"
                              style="font-size: 44px;padding: 0 20px;"></i> Vendas</h5>
                          <span class="description-text" style="font-size: 12px;text-transform: none;">Minhas vendas ao
                            longo do
                            tempo</span>
                        </div>

                      </div>

                      <div class="col-sm-2 col-6">
                        <div class="description-block border-right">
                          <span class="description-percentage text-success"><i class="fa fa-caret-up"></i> c/IVA
                            {{ configService.numberFormat(dash.facturaSumTotalComImpostoHoje)}} AOA</span>
                          <h5 class="description-header">
                            {{ configService.numberFormat(dash.facturaSumTotalSemImpostoHoje)}} AOA</h5>
                          <span class="description-text">Hoje</span>
                        </div>

                      </div>

                      <div class="col-sm-2 col-6">
                        <div class="description-block border-right">
                          <span class="description-percentage text-warning"><i class="fa fa-caret-left"></i> c/IVA
                            {{ configService.numberFormat(dash.facturaSumTotalComImpostoOntem)}} AOA</span>
                          <h5 class="description-header">
                            {{ configService.numberFormat(dash.facturaSumTotalSemImpostoOntem)}} AOA</h5>
                          <span class="description-text">Ontem</span>
                        </div>

                      </div>

                      <div class="col-sm-2 col-6">
                        <div class="description-block border-right">
                          <span class="description-percentage text-success"><i class="fa fa-caret-up"></i> c/IVA
                            {{ configService.numberFormat(dash.facturaSumTotalComImpostoMes)}} AOA</span>
                          <h5 class="description-header">
                            {{ configService.numberFormat(dash.facturaSumTotalSemImpostoMes)}} AOA</h5>
                          <span class="description-text">Mês</span>
                        </div>

                      </div>

                      <div class="col-sm-2 col-6">
                        <div class="description-block">
                          <span class="description-percentage text-danger"><i class="fa fa-caret-down"></i> c/IVA
                            {{ configService.numberFormat(dash.facturaSumTotalComImpostoMesAnterior)}} AOA</span>
                          <h5 class="description-header">
                            {{ configService.numberFormat(dash.facturaSumTotalSemImpostoMesAnterior)}} AOA</h5>
                          <span class="description-text">Mês Anterior</span>
                        </div>

                      </div>
                      <div class="col-sm-2 col-6">
                        <div class="description-block">
                          <span class="description-percentage text-danger"><i class="fa fa-caret-down"></i> c/IVA
                            {{ configService.numberFormat(dash.facturaSumTotalComImpostoGeral)}} AOA</span>
                          <h5 class="description-header">
                            {{ configService.numberFormat(dash.facturaSumTotalSemImpostoGeral)}} AOA</h5>
                          <span class="description-text">Geral</span>
                        </div>

                      </div>
                    </div>

                  </div>

                </div>

              </div>


              <br>


              <div class="col-lg-3 col-6">

                <div class="small-box bg-info">
                  <div class="inner">
                    <h3>{{dash.facturaCount}}</h3>

                    <p>Facturação</p>
                  </div>
                  <div class="icon">
                    <i class="fa fa-shopping-cart"></i>
                  </div>
                  <a routerLink="/facturacao" *ngIf="http.canActivateRouterLink('registar_facturacao')"
                    class="small-box-footer">Nova Facturação <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>

              <div class="col-lg-3 col-6">

                <div class="small-box bg-success">
                  <div class="inner">
                    <h3>{{dash.clienteCount}}<sup style="font-size: 20px"></sup></h3>

                    <p>Clientes</p>
                  </div>
                  <div class="icon">
                    <i class="fa icon-users"></i>
                  </div>
                  <a routerLink="/terceiros" *ngIf="http.canActivateRouterLink('listar_clientes')"
                    class="small-box-footer">Listagem de Clientes <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>

              <div class="col-lg-3 col-6">

                <div class="small-box bg-warning">
                  <div class="inner">
                    <h3>{{dash.produtoCount}}</h3>

                    <p>Artigos e Serviços</p>
                  </div>
                  <div class="icon">
                    <i class="fa fa-bookmark"></i>
                  </div>
                  <a routerLink="/listarProdutos" *ngIf="http.canActivateRouterLink('listar_produtos')"
                    class="small-box-footer">Artigos e Serviços <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>

              <div class="col-lg-3 col-6">

                <div class="small-box bg-danger">
                  <div class="inner">
                    <h3>{{dash.documentoCount}}</h3>

                    <p>Documentos</p>
                  </div>
                  <div class="icon">
                    <i class="fa fa-book"></i>
                  </div>
                  <a routerLink="/documentos" *ngIf="http.canActivateRouterLink('listar_documentos')"
                    class="small-box-footer">Documentos <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>

              <!-- BE WATER - EPASLN -->
              <h4 *ngIf="app_environment == 'epasln-qas.unig-erp.com:3349' || app_environment == 'epasln.unig-erp.com:3348' || app_environment == 'epasls-qas.unig-erp.com:3352' || app_environment == 'epasls.unig-erp.com:3349'"
                class="unig-label">UNIG - BEWATER</h4>

              <!-- BE WATER - EPASNamibe -->
              <h4 *ngIf="app_environment == 'epasn-qas.unig-erp.com:3355' || app_environment == 'epasn.unig-erp.com:3201' || app_environment == 'epasn.unig-erp.com:3347' || app_environment == 'localhost:3333'"
                class="unig-label">UNIG - VISTA WATER</h4>

            </div>


          </div>
        </div>
      </section>
      <!-- /.content -->


    </div>
  </div>


  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>

  <app-float-link></app-float-link>

</div>
