.small-box{
    border-radius: 0;
}


.content-wrapper {

    background-image: url('~/assets/dist/img/bw_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.darker {
    background-color: rgba(0, 0, 0, .5);
}



footer {
  color: #666666;
  background-color: #ffffff;
}

