<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Configurações do Sistema</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Configurações</a></li>
              <li class="breadcrumb-item active">Configurações do Sistema</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="content">
        <div class="row">

          <div class="col-lg-12 col-12">
            <div class="modall modal-info fadee" data-backdrop="static">
              <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
                <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title"> Filtro de Dados</h4>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                    <div class="row">


                      <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                          <!--<label style="color: #fff;">Entrada</label>-->
                          <select name="perPage" (change)="getPageFilterData($event)"
                            [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
                            <option value="1">Entrada</option>
                            <option value="5" selected>5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                          </select>
                        </div>
                        <!-- /.input group -->
                      </div>

                      <div class="col-md-4 col-xs-3">
                        <div class="form-group">
                          <input type="text" name="search" [(ngModel)]="this.http.filters.search"
                            placeholder="Pesquisar..." class="form-control" (keyup)="getPageFilterData($event)">
                          <i class="fa fa-search"
                            style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                        </div>
                        <!-- /.input group -->
                      </div>

                      <div class="col-md-2">
                        <div class="form-group">
                          <select name="orderBy" (change)="getPageFilterData($event)"
                            [(ngModel)]="this.http.filters.orderBy" class="form-control">
                            <option [ngValue]="null">Ordernar</option>
                            <option value="users.nome">Utilizador</option>
                          </select>

                        </div>
                        <!-- /.input group -->
                      </div>


                      <div class="col-md-1">
                        <!-- <div class="form-group">
                          <div class="input-group">
                            <button type="button" class="btn btn-info btn-flatt mr-1 btn-smm" type="button"><i
                                class="fa fa-search"></i>
                              Filtrar</button>
                          </div>
                        </div> -->
                      </div>

                      <div class="col-md-1 col-xs-3">
                        <div class="form-group" style="float: right;">
                          <div class="input-group">
                            <div class="btn-group">

                              <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle dropdown-icon btn-flat"
                                  data-toggle="dropdown" aria-expanded="false" [disabled]="disabledButton"> <i
                                    class="fa fa-download"></i> Exportação
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start" style="left: 40px;">
                                  <!-- <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsPDF();"><i
                                      class="fa fa-file-pdf-o"></i>
                                    PDF</a> -->
                                  <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsXLSX();"><i
                                      class="fa fa-file-excel-o"></i> Excel</a>
                                </div>
                              </div>
                              <!-- <button type="button" class="btn btn-info btn-flat" (click)="imprimirPDF()"
                                [disabled]="disabledButton"><i class="icon-printer"></i> Imprimir</button> -->

                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>


                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-12 col-12">
            <div class="modall modal-info fadee" data-backdrop="static">
              <div class="modal-dialog" style="max-width: 100%;">
                <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                  <!-- Modal Header -->
                  <app-loading></app-loading>
                  <div class="modal-header">
                    <h4 class="modal-title">Lista de Configurações do Sistema</h4>

                    <div class="card-tools">
                      <!-- <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-toggle="modal"
                        data-target="#modalCreateOrEditConfiguracao"><i class="fa fa-plus"></i> Registar</button> -->
                    </div>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                    <!-- /.card-body -->
                    <div class="table-responsivee">


                      <ngx-loading [show]="loading"></ngx-loading>

                      <table *ngIf="items.length > 0;else emptyList"
                        class="table table-hover table-bordered table-stripedd text-center m-0 exportAsXLSXCliente">
                        <tbody>
                          <tr style="color: #fff; background: #0099FF;">
                            <th>#</th>

                            <th>Módulo</th>
                            <th>Slug</th>
                            <th>Valor</th>
                            <th>Padrão</th>
                            <th>Obrigatório</th>
                            <th>Activo</th>
                            <th>Switch</th>
                            <th>Contexto</th>
                            <th>Utilizador</th>
                            <th>Data Criação</th>
                            <th width="150px">Operações</th>

                          </tr>
                          <tr
                            *ngFor="let item of items | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                            <td>{{ i + 1 }}</td>

                            <td>{{ item.modulo }}</td>
                            <td>{{ item.slug }}</td>
                            <td>
                              {{ (item.contexto_configuracao_id != null) ? item.contexto_valor : (item.is_boolean) ? ((item.valor == 'true') ? 'Activado' : 'Desactivado') : item.valor }}
                            </td>
                            <td>
                              <div>
                                <i style="padding: 3px; border-radius: 5px;" *ngIf="item.default == true"
                                  class="fa fa-check alert-success"></i>
                                <i style="padding: 3px 5px; border-radius: 5px;" *ngIf="item.default == false"
                                  class="fa fa-close alert-danger"></i>
                              </div>
                            </td>
                            <td>
                              <div>
                                <i style="padding: 3px; border-radius: 5px;" *ngIf="item.required == true"
                                  class="fa fa-check alert-success"></i>
                                <i style="padding: 3px 5px; border-radius: 5px;" *ngIf="item.required == false"
                                  class="fa fa-close alert-danger"></i>
                              </div>
                            </td>
                            <td>
                              <div>
                                <i style="padding: 3px; border-radius: 5px;" *ngIf="item.is_active == true"
                                  class="fa fa-check alert-success"></i>
                                <i style="padding: 3px 5px; border-radius: 5px;" *ngIf="item.is_active == false"
                                  class="fa fa-close alert-danger"></i>
                              </div>
                            </td>
                            <td>
                              <div>
                                <i style="padding: 3px; border-radius: 5px;" *ngIf="item.is_boolean == true"
                                  class="fa fa-check alert-success"></i>
                                <i style="padding: 3px 5px; border-radius: 5px;" *ngIf="item.is_boolean == false"
                                  class="fa fa-close alert-danger"></i>
                              </div>
                            </td>
                            <td>
                              <div>
                                <i style="padding: 3px; border-radius: 5px;"
                                  *ngIf="item.contexto_configuracao_id != null" class="fa fa-check alert-success"></i>
                                <i style="padding: 3px 5px; border-radius: 5px;"
                                  *ngIf="item.contexto_configuracao_id == null" class="fa fa-close alert-danger"></i>
                              </div>
                            </td>
                            <td>{{ item.user }}</td>
                            <td>{{ item.created_at | date: 'dd-MM-yyyy HH:mm' }}</td>
                            <td>

                              <div class="btn-group btn-block">
                                <button type="button" class="btn btn-info  btn-flat btn-sm"
                                  data-toggle="dropdown">Opções</button>
                                <button type="button" class="btn btn-info btn-flat dropdown-toggle"
                                  data-toggle="dropdown" aria-expanded="false">
                                  <span class="caret"></span>
                                  <span class="sr-only">Menu Serviços</span>
                                </button>
                                <div class="dropdown-menu" role="menu" x-placement="bottom-start">

                                  <a href="javascript:void(0)" class="dropdown-item btn-sm"
                                    (click)="setDataConfiguracao(item)" data-toggle="modal"
                                    data-target="#modalCreateOrEditConfiguracao">
                                    <i class="fa fa-edit"></i> Editar
                                  </a>

                                </div>
                              </div>
                            </td>

                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="modal-footer">
                    <div class="row" style="width: 100%;">
                      <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                          {{this.http.filters.pagination.perPage}} de
                          {{this.http.filters.pagination.total}} Registos
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-7">
                        <div class="pull-right">
                          <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior"
                            maxSize="6" nextLabel="Proximo" directionLinks="true" responsive="true">
                          </pagination-controls>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </section>
  </div>



  <div class="modal modal-info fade in" id="modalCreateOrEditConfiguracao" data-backdrop="static">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa fa-map-marker nav-icon"></i> {{ title }}</h4>
          <button class="close" type="reset" (click)="onReset()" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body" style="padding: 2rem;">
          <ngx-loading [show]="loading"></ngx-loading>
          <app-loading></app-loading>


          <div class="row">
            <!-- /.col -->
            <div class="col-12">

              <div class="col-md-12 row">

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="morada">Módulo</label>
                    <input class="form-control" required autofocus id="modulo" type="text"
                      [(ngModel)]="configuracao.modulo" placeholder="Módulo" [disabled]="true" />
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="morada">Slug</label>
                    <input class="form-control" required autofocus id="slug" type="text" [(ngModel)]="configuracao.slug"
                      placeholder="Slug" [disabled]="true" />
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label for="morada">Valor</label>
                    <input class="form-control" required autofocus id="valor" type="text"
                      [(ngModel)]="configuracao.valor" placeholder="Valor" [disabled]="input_contexto" />
                  </div>
                </div>

                <div class="col-md-12 row" style="padding: 0px 18px;">

                  <div class="col-md-3">
                    <input type="checkbox" style="top: 2px;" [(ngModel)]="input_boolean" (click)="setBoolean()"
                      class="form-check-input">
                    <label class="form-check-label" for="exampleCheck2">Switch</label>
                  </div>

                    <div class="col-md-3">
                      <input type="checkbox" style="top: 2px;" [(ngModel)]="input_contexto" (click)="setContexto()"
                        class="form-check-input">
                      <label class="form-check-label" for="exampleCheck1">Contexto</label>
                    </div>

                    <div class="col-md-3">
                      <input type="checkbox" style="top: 2px;" [(ngModel)]="input_default" (click)="setDefault()"
                        class="form-check-input">
                      <label class="form-check-label" for="exampleCheck1">Padrão</label>
                    </div>
                    
                    <div class="col-md-3">
                      <input type="checkbox" style="top: 2px;" [(ngModel)]="input_required" (click)="setRequired()"
                        class="form-check-input">
                      <label class="form-check-label" for="exampleCheck2">Obrigatório</label>
                    </div>
                    
                </div>


                <div class="col-md-12" *ngIf="input_contexto">
                  <div class="form-group">
                    <label for="morada">Contexto</label>
                    <select [(ngModel)]="configuracao.contexto_configuracao_id" class="form-control" required
                      (change)="getDataContexto(configuracao.contexto_configuracao_id)" [disabled]="!contexto_configuracaos">
                      <option [value]="null">Contexto</option>
                      <option *ngFor="let i of contexto_configuracaos" [value]="i.id">
                        {{i.nome}} -> {{i.campo}}
                      </option>
                    </select>
                  </div>
                </div>


                <div class="col-md-12" *ngIf="input_contexto">
                  <div class="form-group">
                    <label for="morada">Valor Contexto</label>
                    <select [(ngModel)]="configuracao.valor" class="form-control" required
                      [disabled]="!contexto_valores">
                      <option [value]="null">Contexto</option>
                      <option *ngFor="let i of contexto_valores" [value]="i.id">
                        {{i.contexto_valor}}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-md-12" *ngIf="input_boolean">
                  <div class="form-group">
                    <label for="morada">Estado</label>
                    <select [(ngModel)]="configuracao.valor" class="form-control">
                      <option [value]="true" selected="true">Activado</option>
                      <option [value]="false">Desactivado</option>
                    </select>
                  </div>
                </div>


                <div class="col-md-12">
                  <div class="form-group">
                    <label for="morada">Descrição</label>
                    <input class="form-control" required autofocus id="descricao" type="text"
                      [(ngModel)]="configuracao.descricao" placeholder="Descrição" />
                  </div>
                </div>


              </div>

            </div>

            <!-- /.col -->
          </div>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="btn btn-outline-danger btn-sm mr-1" data-dismiss="modal">Fechar</button>
          <button class="btn btn-danger btn-sm" type="reset" (click)="onReset()">Limpar</button>
          <button class="btn btn-primary mr-1 btn-sm" type="submit" data-style="expand-left"
            (click)="saveConfiguracao()">
            <i class="fa fa-save"></i>
            Registar</button>
        </div>
      </div>
    </div>
  </div>


  <ng-template #emptyList>
    <div align="center">
      <h2>Sem resultados</h2>
      <span></span>
    </div>
  </ng-template>

  <ng-template #dataEmpty>------</ng-template>

  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>