<!--<ul class="timeline">
  <li>
    <div class="timeline-item">

      <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

      <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

      <div class="timeline-body">
        Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
        weebly ning heekya handango imeem plugg dopplr jibjab, movity
        jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
        quora plaxo ideeli hulu weebly balihoo...
      </div>
      <div class="timeline-footer">
        <a class="btn btn-primary btn-xs">Read more</a>
        <a class="btn btn-danger btn-xs">Delete</a>
      </div>
    </div>
  </li>
</ul>-->

<!--
<div class="col-md-4">
  <ul class="timeline" (dragover)="allowCardReplacement($event)" (drop)="dropCard($event)" id="list-{{listIndex}}">
    <li>
      <div class="timeline-item"> 
        <app-context-menu (contextAction)="delete()"></app-context-menu>
        <span class="time"><i class="fa fa-clock-o"></i> 12:05 </span>
        <h3 class="timeline-header" style="font-size: 22px;"><a href="javascript:void(0)" [(appContentEdit)]="list.name"></a></h3>
        <div class="timeline-body">
              <app-card-summary *ngFor="let card of this.list.cards;let i = index" [card]="card" [listIndex]="listIndex"
                [cardIndex]="i" attr.cardIndex="{{i}}"> </app-card-summary>

        </div>
        <div class="timeline-footer">
          <a class="btn btn-primary btn-xs add-new-card" (click)="addNewCard()"><i class="fa fa-plus"></i> adicionar</a> 
        </div>
      </div>
    </li>
  </ul>
</div>-->


<!--<div class="list col custom-col list-drag-component" (dragover)="allowCardReplacement($event)" (drop)="dropCard($event)"
  id="list-{{listIndex}}">
  <app-context-menu (contextAction)="delete()"></app-context-menu>
  <p class="list-name" [(appContentEdit)]="list.name"></p>

  <!-- List Card Starts ---
  <div id="list-one">
    <app-card-summary *ngFor="let card of this.list.cards;let i = index" [card]="card" [listIndex]="listIndex" [cardIndex]="i" attr.cardIndex="{{i}}"> </app-card-summary>
  </div>
  <!-- List Card Ends --
  <h6 class="text-center add-new-card" (click)="addNewCard()">Adicionar card...</h6>

</div>-->




<div class="col-md-12" style="width: 454px;">
  <div class="card" (dragover)="allowCardReplacement($event)" (drop)="dropCard($event)" id="list-{{listIndex}}">
    <div class="card-header">
      <h5 class="m-0 list-namee" ><b [(appContentEdit)]="list.name"></b></h5>
      <div class="card-tools">
        <button type="button" class="btn btn-tool " data-widget="collapse" title="Ocultar"><i class="fa fa-minus"></i>
        </button> 
        <button type="button" class="btn btn-tool" (click)="addNewCard()" title="Adicionar Item"><i class="fa fa-plus"></i>
        </button>
        <app-context-menu (contextAction)="delete()"></app-context-menu>
      </div>
    </div>
    <div class="card-body"> 
      <app-card-summary *ngFor="let card of this.list.cards;let i = index" [card]="card" [listIndex]="listIndex"
        [cardIndex]="i" attr.cardIndex="{{i}}"> </app-card-summary>  
        <button type="button" class="btn btn-block btn-default btn-sm" (click)="addNewCard()" title="Adicionar Item"><i class="fa fa-plus"></i> adicionar item</button>
    </div>
  </div>
</div>

