.col {
  background-color: #F5F5F5;
  margin: 0px;
  padding: 5px;
   
  max-width: 370px;
  
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 3px; 
    background: #fff;
    color: #444; 
    position: relative;
    margin: 10px;
}

.text-center.add-new-card:hover {
  opacity:0.9;
  color:#767676;

}

.text-center.add-new-card {
  font-size:14px;
  color:#A6A6A6;
  cursor:pointer;
  opacity:0.4;
  min-width: 230px;
}

.list-name{
  font-weight: bold;
  text-align: center;
}

.list{
  background-color: #e7e9ea;

}


 