<!-- The Modal -->
<div class="modal modal-info fade in" id="redefinirPasswordModal" data-backdrop="static">
  <div class="modal-dialog modal-lg animated fadeIn" style="max-width: 1200px;">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-lock"></i> Redefinir Password </h4>
        <button type="button" class="close" data-dismiss="modal" (click)="onReset();">&times;</button>
      </div>
      <!-- Modal body -->
      <form [formGroup]="simpleForm" novalidate (ngSubmit)="onSubmit()" class="needs-validation">
        <div class="modal-body">
          <ngx-loading [show]="loading"></ngx-loading>
          <!-- /.card-body -->
          <h2
            style="background: #e9ecef; padding: 15px 20px;font-weight: normal;font-size: 23px;border: 1px solid #dee2e6;margin-bottom: 19px;">
            Redefinir do utilizador: <span style="margin: 0 10px;">{{( user != undefined ? user.nome : "")}}</span>
          </h2>
          <div class="row">
            <div class="col-md-12">
              <div class="form-row">
                <div class="form-group col-md-7">

                  <div class="input-group">
                    <span class="input-group-prepend">
                      <button class="btn btn-success" type="button" (click)="gerarPassword()"><i class="fa fa-lock"></i>
                        Gerar Senha</button>
                    </span>
                    <input class="form-control" id="password" type="text" formControlName="password"
                      placeholder="Nova Senha" autocomplete="new-password" required
                      [ngClass]="{ 'is-invalid': submitted && f.password.errors, 'is-valid': f.password.touched && !f.password.errors }" />
                    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                      <div *ngIf="f['password'].errors.required">Password é obrigatório</div>
                      <div *ngIf="f['password'].errors.minlength">{{formErrors.password.minLength}}</div>
                      <div *ngIf="f['password'].errors.pattern">{{formErrors.password.pattern}}</div>
                    </div> 
                  </div>
                </div>
                <div class="form-group col-md-5">
                  <input class="form-control" id="password_confirmation" type="password"
                    formControlName="password_confirmation" placeholder="Confirmar Senha" autocomplete="new-password"
                    required
                    [ngClass]="{ 'is-invalid': submitted && simpleForm.errors, 'is-valid': f.password_confirmation.touched && !simpleForm.errors }" />                   
                  <div *ngIf="submitted && simpleForm.errors" class="invalid-feedback">
                    <div *ngIf="simpleForm.errors['passwordMismatch']">As senhas não correspondem </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <div class="form-group">
            <button class="btn btn-primary mr-1" data-style="expand-left" type="submit"
              [disabled]="simpleForm.pristine || simpleForm.invalid">Submeter
            </button>
            <button class="btn btn-success mr-1" type="submit" [disabled]="simpleForm.valid">Validar</button>
            <button class="btn btn-danger" type="reset" [disabled]="simpleForm.pristine && !submitted"
              (click)="onReset()">Limpar
            </button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>