<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Mapa de Roteiros</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Roteiros</a></li>
              <li class="breadcrumb-item active">Mapa de Roteiros</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="content">
        <div class="row">

          <div class="col-lg-12 col-12" style="margin-bottom: 20px;">
            <div class="modall modal-info fadee" data-backdrop="static">
              <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
                <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title"> Filtro de Dados</h4>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                    <div class="row">


                      <div class="col-md-3 col-xs-3">
                        <div class="form-group">
                          <label for="morada">Leitores</label>
                          <select [(ngModel)]="mapa.leitor_id" class="form-control" required
                            (change)="selectBoxRotaHeadersByLeitor()">
                            <option [value]="null">Todos</option>
                            <option *ngFor="let i of leitores" [value]="i.id">
                              {{i.nome}}
                            </option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-3 col-xs-3">
                        <div *ngIf="rotas_header.length > 0" class="form-group">
                          <label for="morada">Rotas</label>
                          <select [(ngModel)]="mapa.rota_header_id" class="form-control" required
                            (change)="setDataRotaHeader(); listarRotaRunByRotaHeader()">
                            <option [value]="null">Rotas</option>
                            <option *ngFor="let i of rotas_header" [value]="i.id">
                              {{i.nome}}
                            </option>
                          </select>
                        </div>
                      </div>



                      <div class="col-md-1">
                        <!-- <div class="form-group">
                          <div class="input-group">
                            <button type="button" class="btn btn-info btn-flatt mr-1 btn-smm" type="button"><i
                                class="fa fa-search"></i>
                              Filtrar</button>
                          </div>
                        </div> -->
                      </div>

                      <div class="col-md-2 col-xs-3">
                        <div class="form-group" style="float: right;">
                          <div class="input-group">
                            <div class="btn-group">

                              <button type="button" class="btn btn-info btn-flat" (click)="imprimirPDF()"
                                [disabled]="disabledButton"><i class="icon-search"></i> Filtrar</button>

                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>


                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>


          <div #mapContainer id="map"></div>
          <!-- <div class="col-lg-12 col-12">
            <div class="modall modal-info fadee" data-backdrop="static">
              <div class="modal-dialog" style="max-width: 100%;">
                <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                  <app-loading></app-loading>
                  <div class="modal-header">
                    <h4 class="modal-title">Mapa</h4>

                    <div class="card-tools">
                    </div>
                  </div>
                  <div class="modal-body">


                  </div>

                  <div class="modal-footer">

                  </div>

                </div>
              </div>
            </div>
          </div> -->


        </div>
      </div>
    </section>
  </div>


  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>
