<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><i class="fa fa-money"></i> Dados Facturação</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Configuração</a></li>
              <li class="breadcrumb-item active">Dados Facturação</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

      <div class="row">

        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title"> Filtro de Dados</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <div class="row">


                    <div class="col-md-1 col-xs-3">
                      <div class="form-group">
                        <!--<label style="color: #fff;">Entrada</label>-->
                        <select name="perPage" (change)="getPageFilterData($event)"
                          [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
                          <option value="5" selected>Entrada</option>
                          <option value="5">5</option>
                          <option value="10">10</option>
                          <option value="15">15</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                        </select>
                      </div>
                      <!-- /.input group -->
                    </div>


                    <div class="col-md-5 col-xs-3">
                      <div class="form-group">
                        <input type="text" name="search" [(ngModel)]="this.http.filters.search" class="form-control"
                          (keyup)="getPageFilterData($event)" placeholder="Pesquisar..." class="form-control">
                        <i class="fa fa-search"
                          style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                        <small>Pesquisar por Município, NIF</small>
                      </div>
                      <!-- /.input group -->
                    </div>


                    <div class="col-md-1 col-xs-3">
                      <div class="form-group">
                        <select name="orderBy" (change)="getPageFilterData($event)"
                          [(ngModel)]="this.http.filters.orderBy" class="form-control">
                          <option [ngValue]="null">Ordernar</option>
                          <option value="municipio">Município</option>
                          <option value="dadosfacturacaos.created_at">Data</option>
                        </select>
                      </div>
                      <!-- /.input group -->
                    </div>


                    <div class="col-md-1 col-xs-3">
                      <div class="form-group">
                        <div class="input-group">
                          <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-flat mr-1 btn-smm" type="button"
                              (click)="getPageFilterData($event)"><i class="fa fa-search"></i> Filtrar</button>


                          </div>
                        </div>
                        <!-- /.input group -->
                      </div>
                    </div>


                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <app-loading></app-loading>
                <div class="modal-header">
                  <h4 class="modal-title">Listagem</h4>
                  <div class="card-tools">
                    <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-toggle="modal"
                      data-target="#newModal"><i class="fa fa-plus"></i> Registar</button>
                  </div>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <!-- /.card-body -->
                  <div class="table-responsivee">


                    <ngx-loading [show]="loading"></ngx-loading>

                    <table class="table table-hover table-bordered table-stripedd text-center m-0 exportAsXLSXCliente">

                      <tr style="color: #fff; background: #0099FF;">
                        <th width="60">#</th>
                        <th width="550">Município</th>
                        <th width="550">NIF</th>
                        <th width="550">Morada</th>
                        <th width="5">Acção</th>
                      </tr>
                      <tr
                        *ngFor="let item of items | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                        <td>{{ i + 1}}</td>
                        <td>{{ item.municipio }}</td>
                        <td>{{ item.nif }}</td>
                        <td>{{ item.morada }}</td>

                        <td>
                          <div class="btn-group btn-block">
                            <button type="button" class="btn btn-info btn-flat btn-sm btn-block"
                              data-toggle="dropdown">Opções</button>
                            <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown"
                              aria-expanded="false">
                              <span class="caret"></span>
                              <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                              style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(67px, 38px, 0px);">

                              <a href="javascript:void(0)" class="dropdown-item btn-sm"
                                (click)="refresh(item.id, item.municipio_id, item.nif, item.morada)"
                                data-widget="chat-pane-toggle" data-toggle="modal" data-target="#editarModal"> <i
                                  class="fa fa-edit"></i> Editar
                              </a>

                              <li class="divider"></li>

                              <a href="javascript:void(0)" class="dropdown-item btn-sm"
                                (click)="refresh(item.id, item.municipio_id, item.nif, item.morada); getLojasAssociadas(item.id)"
                                data-widget="chat-pane-toggle" data-toggle="modal"
                                data-target="#associarlojadadosfacturacaoModal">
                                <i class="fa fa-edit"></i> Associar Lojas à Dados Facturação
                              </a>

                              <li class="divider"></li>

                              <a href="javascript:void(0)" class="dropdown-item btn-sm" (click)="refresh(item.id, item.municipio_id, item.nif, item.morada); getContasAssociadas(item.municipio_id)"
                                data-widget="chat-pane-toggle" data-toggle="modal" data-target="#contasbancariasModal">
                                <i class="fa fa-edit"></i> Contas Bancárias
                              </a>

                            </div>
                          </div>
                        </td>



                      </tr>
                    </table>


                  </div>
                </div>
                <div class="card-footer clearfix">
                  <div class="row">
                    <div class="col-sm-12 col-md-5">
                      <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                        {{this.http.filters.pagination.perPage}} de
                        {{this.http.filters.pagination.total}} Registos
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                      <div class="pull-right">
                        <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior"
                          maxSize="6" nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- /.content -->

    <!-- The Modal -->
    <div class="modal modal-info fade" id="newModal" data-backdrop="static">
      <div class="modal-dialog modal-lg" style="max-width: 1350px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-money"></i> Novo</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <app-loading></app-loading>
          <form (submit)="register($event)">
            <div class="modal-body">
              <app-alert></app-alert>
              <div class="col-md-12">
                <div class="card card-default">

                  <!-- /.card-header -->
                  <div class="card-body" style="padding: 9px;"><br>
                    <div class="row">

                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="col-form-label" for="provincia_id"> Província</label>
                          <select class="form-control" name="provincia_id" (click)="selectBoxMunicipiosByProvincia()"
                            [(ngModel)]="dadosfacturacao.provincia_id">
                            <option value="null" selected>Selecione a Província</option>
                            <option value="{{ item.id }}" *ngFor="let item of provincias">
                              {{ item.nome }}
                            </option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="col-form-label" for="municipio_id"> Município</label>
                          <select class="form-control" name="municipio_id" [(ngModel)]="dadosfacturacao.municipio_id">
                            <option [value]="null" selected>Selecione o Município</option>
                            <option value="{{ item.id }}" *ngFor="let item of municipios">
                              {{ item.nome }}
                            </option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label"><i class="fa fa-edit"></i> NIF</label>
                          <input type="text" class="form-control" placeholder="NIF" [(ngModel)]="dadosfacturacao.nif"
                            name="nif">
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label"><i class="fa fa-edit"></i> Morada</label>
                          <input type="text" class="form-control" placeholder="Morada"
                            [(ngModel)]="dadosfacturacao.morada" name="morada">
                        </div>
                      </div>

                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"> Fechar</button>
              <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
            </div>
          </form>

        </div>
      </div>
    </div>


    <!-- The Modal -->
    <div class="modal modal-info fade" id="editarModal" data-backdrop="static">
      <div class="modal-dialog modal-lg" style="max-width: 1350px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-money"></i> Editar</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <app-loading></app-loading>
          <form (submit)="editar($event)">
            <div class="modal-body">
              <app-alert></app-alert>
              <div class="col-md-12">
                <div class="card card-default">

                  <!-- /.card-header -->
                  <div class="card-body" style="padding: 9px;"><br>
                    <div class="row">

                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="col-form-label" for="municipio_id"> Município</label>
                          <select class="form-control" name="municipio_id" [(ngModel)]="dadosfacturacao.municipio_id">
                            <option [value]="null" selected>Selecione o Município</option>
                            <option value="{{ item.id }}" *ngFor="let item of Municipios">
                              {{ item.nome }}
                            </option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="control-label"><i class="fa fa-edit"></i> NIF</label>
                          <input type="text" class="form-control" placeholder="NIF" [(ngModel)]="dadosfacturacao.nif"
                            name="nif">
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="control-label"><i class="fa fa-edit"></i> Morada</label>
                          <input type="text" class="form-control" placeholder="Morada"
                            [(ngModel)]="dadosfacturacao.morada" name="morada">
                        </div>
                      </div>

                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"> Fechar</button>
              <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

  <div class="modal modal-info fade in" id="associarlojadadosfacturacaoModal" data-backdrop="static">
    <div class="modal-dialog modal-lg " style="max-width: 1100px;">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <div class="card-tools">

          </div>
          <h5 class="modal-title">
            <b>NIF:</b> {{ dadosfacturacao.nif }}<br>
            <b>Morada:</b> {{ dadosfacturacao.morada }}<br>
          </h5>

          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <app-loading></app-loading>
          <section class="content">
            <div class="content">
              <div class="row">
                <div class="col-md-12">

                  <div class="card">

                    <div class="card-header">
                      <h3 class="card-title">LOJAS ASSOCIADAS À SI</h3>
                      <div class="card-tools">
                        <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-toggle="modal"
                          data-target="#associarlojas" (click)="refresh(item.id, item.nif, item.morada);"><i
                            class="fa fa-plus"></i> Associar à uma Loja</button>
                      </div>
                    </div>


                    <!-- /.card-header -->
                    <div class="card-body table-responsiveee">
                      <table
                        class="table table-hover table-bordered table-striped text-center m-0 exportAsXLSXDisponiveis">
                        <tbody>
                          <tr style="color: #fff; background: #0099FF;">
                            <th>#</th>
                            <th>Loja </th>
                            <th>Horário </th>

                          </tr>
                          <tr *ngFor="let item of LojasAssociadas; index as i">
                            <td>{{ i + 1 }}</td>
                            <td>{{ item.loja }}</td>
                            <td>{{ item.horario }}</td>

                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
        </div>


      </div>
    </div>
  </div>




  <!-- The Modal -->
  <div class="modal modal-info fade" id="associarlojas" data-backdrop="static">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <div class="col-md-6">
            <b>NIF:</b> {{ dadosfacturacao.nif }}<br>
            <b>Morada:</b> {{ dadosfacturacao.morada }}<br>
          </div>

          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <app-loading></app-loading>
        <form (submit)="associarlojadadosfacturacao($event)">
          <div class="modal-body">
            <app-alert></app-alert>
            <div class="col-md-12">
              <div class="card card-default">

                <!-- /.card-header -->
                <div class="card-body" style="padding: 9px;"><br>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Loja</label>
                        <select class="form-control" name="estado" [(ngModel)]="dadosfacturacao_lojas.loja_id">
                          <option [value]="null"> {{ loadingLoja.loja }}</option>
                          <option *ngFor="let item of Lojas" [value]="item.id"> {{item.nome}}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label"><i class="fa fa-edit"></i> Horário</label>
                        <input type="text" class="form-control" placeholder="Horário"
                          [(ngModel)]="dadosfacturacao_lojas.horario" name="horario">
                      </div>
                    </div>

                  </div>
                </div>
                <!-- /.card-body -->
              </div>
            </div>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"> Fechar</button>
            <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
          </div>
        </form>

      </div>
    </div>
  </div>

  <div class="modal modal-info fade in" id="contasbancariasModal" data-backdrop="static">
    <div class="modal-dialog modal-lg " style="max-width: 1100px;">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <div class="card-tools">

          </div>
          <h5 class="modal-title">
            CONTAS BANCÁRIAS
          </h5>

          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <app-loading></app-loading>
          <section class="content">
            <div class="content">
              <div class="row">
                <div class="col-md-12">

                  <div class="card">

                    <div class="card-header">
                      <h3 class="card-title">CONTAS BANCÁRIAS</h3>
                      <div class="card-tools">
                        <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-toggle="modal"
                          data-target="#adicionarcontas"><i class="fa fa-plus"></i> Registar</button>
                      </div>
                    </div>


                    <!-- /.card-header -->
                    <div class="card-body table-responsiveee">
                      <table
                        class="table table-hover table-bordered table-striped text-center m-0 exportAsXLSXDisponiveis">
                        <tbody>
                          <tr style="color: #fff; background: #0099FF;">
                            <th>#</th>
                            <th>IBAN</th>
                            <th>BANCO</th>
                            <th>MUNICÍPIO</th>
                            <th width="150px">Estado</th>

                          </tr>
                          <tr *ngFor="let item of itemscontabancaria; index as i">
                            <td>{{ i + 1 }}</td>
                            <td> AO06 {{ item.iban }}</td>
                            <td>{{ item.banco }}</td>
                            <td>{{ item.municipio }}</td>
                            <td>
                              <span class="btn bg-danger btn-block btn-flat status-label"
                                *ngIf="item.is_active == false">Inactivo</span>
                              <span class="btn bg-success btn-block btn-flat status-label"
                                *ngIf="item.is_active == true">Activo</span>
                            </td>

                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
        </div>


      </div>
    </div>
  </div>




  <!-- The Modal -->
  <div class="modal modal-info fade" id="adicionarcontas" data-backdrop="static">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <div class="col-md-6">
            <!--             <b>NIF:</b> {{ dadosfacturacao.nif }}<br>
            <b>Morada:</b> {{ dadosfacturacao.morada }}<br> -->
          </div>

          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <app-loading></app-loading>
        <form (submit)="storecontasbancarias($event)">
          <div class="modal-body">
            <app-alert></app-alert>
            <div class="col-md-12">
              <div class="card card-default">

                <!-- /.card-header -->
                <div class="card-body" style="padding: 9px;"><br>
                  <div class="row">

                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-form-label" for="banco"> BANCO</label>
                        <select [(ngModel)]="contabancaria.banco_id" class="form-control" name="banco_id">
                          <option [value]="null" selected>Selecione o Banco</option>
                          <option value="{{ item.id }}" *ngFor="let item of bancos">
                            {{ item.nome }}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label"><i class="fa fa-edit"></i> IBAN</label>
                        <input type="number" class="form-control" placeholder="IBAN"
                          [(ngModel)]="contabancaria.iban" name="iban">
                      </div>
                    </div>

                  </div>
                </div>
                <!-- /.card-body -->
              </div>
            </div>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"> Fechar</button>
            <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>


<app-setingsnavbar></app-setingsnavbar>
<app-footernavbar></app-footernavbar>