<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Relatórios Loja</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Operações</a></li>
              <li class="breadcrumb-item">Relatórios </li>
              <li class="breadcrumb-item">Financeira </li>
              <li class="breadcrumb-item active">Relatórios Loja</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="row">

        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title"> Filtro de Dados</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <!-- /.card-body -->
                  <form [formGroup]="simpleForm" (submit)="onSubmit();">
                    <div class="row">


                      <div class="col-md-2 col-xs-3">
                        <div class="form-group">
                          <label>Data Inicial</label>
                          <div class="input-group">


                            <input type="date" [ngClass]="{ 'is-invalid': submitted && f.data1.errors, 'is-valid': f.data1.touched && !f.data1.errors }" formControlName="data1" autocomplete="data1" class="form-control"
                           placeholder="">

                            <div *ngIf="submitted && f['data1'].errors" class="invalid-feedback">
                              <div *ngIf="f['data1'].errors.required">Data Inicial é obrigatório</div>
                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>

                      <div class="col-md-2 col-xs-3">
                        <div class="form-group">
                          <label>Data Final</label>
                          <div class="input-group">



                            <input type="date" formControlName="data2" autocomplete="data2" required class="form-control"
                            [ngClass]="{ 'is-invalid': f.data2.touched &&  f.data2.errors, 'is-valid': f.data2.touched && !f.data2.errors }">


                            <div *ngIf=" f.data2.errors" class="invalid-feedback">
                              <div *ngIf="f.data2.errors">Data Final deve ser igual ou superior a Data Inicial </div>
                            </div>

                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>

                      <div class="col-md-2 col-xs-3">
                        <div class="form-group">
                          <label>Município (Filial)</label>
                          <div class="input-group">
                            <select class="form-control" formControlName="filial" placeholder="filial"
                              autocomplete="loja" required (change)="this.getLojas();"
                              [ngClass]="{ 'is-invalid': submitted && f.filial.errors, 'is-valid': f.filial.touched && !f.filial.errors }">
                              <option value="null">Município</option>
                              <option value="T"> Todas</option>
                              <option *ngFor="let filial of filials" [value]="filial.id">{{filial.nome}}</option>
                            </select>
                            <div *ngIf="submitted && f['loja'].errors" class="invalid-feedback">
                              <div *ngIf="f['filial'].errors.required">Filial é obrigatório</div>
                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>

                      <div class="col-md-2 col-xs-3">
                        <div class="form-group">
                          <label>Agência</label>
                          <div class="input-group">
                            <select class="form-control" formControlName="loja" placeholder="Filiais" autocomplete="loja" required (change)="changeLoja()"
                              [ngClass]="{ 'is-invalid': submitted && f.loja.errors, 'is-valid': f.loja.touched && !f.loja.errors }">
                              <option value="null">{{ loadingLojas }}</option>
                              <option value="T"> Todas</option>
                              <option *ngFor="let loja of lojas" [value]="loja.id">{{loja.nome}}</option>
                            </select>
                            <div *ngIf="submitted && f['loja'].errors" class="invalid-feedback">
                              <div *ngIf="f['loja'].errors.required">Loja é obrigatório</div>
                            </div>

                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>

                      <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                          <label>Estado</label>
                          <div class="input-group">
                            <select class="form-control" formControlName="estado" placeholder="Filiais"
                              autocomplete="estado" required
                              [ngClass]="{ 'is-invalid': submitted && f.estado.errors, 'is-valid': f.estado.touched && !f.estado.errors }">
                              <option value="null">Estado</option>
                              <option value="T"> Todos</option>
                              <option value="1"> Pago</option>
                              <option value="0"> Não Pago</option>
                            </select>
                            <div *ngIf="submitted && f['estado'].errors" class="invalid-feedback">
                              <div *ngIf="f['estado'].errors.required">estado é obrigatório</div>
                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>

                      <div class="col-md-1 col-xs-2">
                        <div class="form-group">
                          <label style="color: #fff;">s</label>
                          <div class="input-group">
                            <button type="button" class="btn btn-info btn-flatt mr-1 btn-smm" type="submit"
                              [disabled]="simpleForm.pristine || simpleForm.invalid" data-style="expand-left"><i
                                class="fa fa-search"></i>
                              Filtrar</button>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>

                      <div class="col-md-2 col-xs-3">
                        <div class="form-group" style="float: right;">
                          <label style="color: #fff;">s</label>
                          <div class="input-group">
                            <div class="btn-group">

                              <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle dropdown-icon btn-flat"
                                  data-toggle="dropdown" aria-expanded="false" [disabled]="disabledButton"> <i
                                    class="fa fa-download"></i> Exportação
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start" style="left: 40px;">
                                  <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsPDF();"><i
                                      class="fa fa-file-pdf-o"></i> PDF</a>
                                  <a class="dropdown-item" href="javascript:void(0)" (click)="setTrue();"><i
                                      class="fa fa-file-excel-o"></i> Excel</a>
                                </div>
                              </div>
                              <button type="button" class="btn btn-info btn-flat" (click)="imprimirPDF()"
                                [disabled]="disabledButton"><i class="icon-printer"></i> Imprimir</button>

                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>



                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title"> Relatórios Loja</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <!-- /.card-body -->
                  <br>
                  <div class="table-responsive">


                    <ngx-loading [show]="loading"></ngx-loading>
                    <table class="table table-hover table-bordered table-stripedd text-center m-0 tableCobranca">
                      <tr>
                        <td colspan="5" style="border: 0; color:#fff;"> Relatórios Loja </td>
                      </tr>

                      <tr style="color: #fff; background: #0099FF;">
                        <th style="width: 260px;">NÚMERO FACTURA</th>
                        <th style="width: 190px;">DATA</th>
                        <th style="width: 190px;">NÚMERO CLIENTE</th>
                        <th>NOME CLIENTE</th>
                        <th style="background: #8a8484;">VALOR</th>
                        <th style="background: #8a8484;">VALOR PAGO</th>
                        <th style="background: #8a8484;">Agência</th>
                        <th style="background: #8a8484;">ESTADO</th>
                      </tr>

                      <tbody>
                        <tr *ngFor="let fact of cobrancas">
                          <td>{{  fact.factura_sigla }}</td>
                          <td>{{  fact.status_date | date: 'dd-MM-yyyy' }}</td>
                          <td>{{  fact.cliente_id }}</td>
                          <td style="text-align: left;">{{ fact.nome }}</td>
                          <td class="text-right">{{ this.configService.numberFormat(fact.total) }}</td>
                          <td class="text-right">{{ ( fact.pago == 1 ? this.configService.numberFormat(fact.total) : this.configService.numberFormat(fact.total-fact.valor_aberto)) }}</td>
                          <td>{{ fact.loja }}</td>
                          <td>
                            <span *ngIf="fact.pago ==0">Não Pago</span>
                            <span *ngIf="fact.pago ==1">Pago</span>
                          </td>
                        </tr>
                      </tbody>
                      <tr style="background: #eeeeeea8;">
                        <th colspan="4" class="text-right"><b>TOTAL</b></th>
                        <th class="text-right"><b>{{ this.configService.numberFormat(this.totais.total) }}</b></th>
                        <th class="text-right"><b>{{ this.configService.numberFormat(this.totais.valor_total_aberto)}}</b></th>
                        <th class="text-right"></th>
                      </tr>
                    </table>


                    <div style="height: 0px; overflow: auto;">
                    <table class="table table-hover table-bordered table-stripedd text-center m-0 tableCobranca">
                      <tr>
                        <td colspan="5" style="border: 0; color:#fff;"> Relatórios Loja </td>
                      </tr>

                      <tr style="color: #fff; background: #0099FF;">
                        <th style="width: 260px;">NÚMERO FACTURA</th>
                        <th style="width: 190px;">DATA</th>
                        <th style="width: 190px;">NÚMERO CLIENTE</th>
                        <th>NOME CLIENTE</th>
                        <th style="background: #8a8484;">VALOR</th>
                        <th style="background: #8a8484;">VALOR PAGO</th>
                        <th style="background: #8a8484;">ESTADO</th>
                      </tr>

                      <tbody>
                        <tr *ngFor="let fact of cobrancas">
                          <td>{{  fact.factura_sigla }}</td>
                          <td>{{  fact.status_date | date: 'dd-MM-yyyy' }}</td>
                          <td>{{  fact.cliente_id }}</td>
                          <td style="text-align: left;">{{ fact.nome }}</td>
                          <td class="text-right">{{ (fact.total) }}</td>
                          <td class="text-right">{{ ( fact.pago == 1 ? fact.total: fact.total-fact.valor_aberto) }}</td>
                          <td>
                            <span *ngIf="fact.pago ==0">Não Pago</span>
                            <span *ngIf="fact.pago ==1">Pago</span>
                          </td>
                        </tr>
                      </tbody>
                      <tr style="background: #eeeeeea8;">
                        <th colspan="4" class="text-right"><b>TOTAL</b></th>
                        <th class="text-right"><b>{{ this.totais.total }}</b></th>
                        <th class="text-right"><b>{{ (this.totais.valor_total_aberto)}}</b></th>
                        <th class="text-right"></th>
                      </tr>
                    </table>
                  </div>



                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- /.content -->
  </div>

  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>
