<div class="modal modal-info fade in" id="form_anular_pedido" data-backdrop="static">
  <div class="modal-dialog modal-lg " style="max-width: 800px;">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa icon fa-credit-card"></i> Dar Seguimento</h4>
        <button type="button" (click)="clearForm(); hideBotton()"  class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <app-loading></app-loading>
        <app-alert></app-alert>
        <h3 style="padding: 15px 10px; background: #0099FF; color: #ffffff;">Cliente: {{ cliente.cliente }} </h3>
        <hr>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="morada"><i class="fa fa-home" aria-hidden="true"></i> Observação</label>
              <textarea [(ngModel)]="pedido.observacao" name="observacao" value=""
                class="form-control" placeholder="Observação"></textarea>
            </div>
          </div>
        </div>



      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="clearForm(); hideBotton()"
          data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-outline-primary btn-sm" *ngIf="isFinalizar"
          (click)="finalizarPedido()">Finalizar</button>
         
      </div>

    </div>
  </div>
</div>
