agm-map {
    height: 500px;
  }

/* 
  .link_clicked {

    cursor: pointer;
    text-decoration: underline;
  }
 */
 
  .link_clicked:hover {

    cursor: pointer;
    text-decoration: underline;
    color: #0099FF;
  }