<div class="modal modal-info fade in" id="modalCreateOrEditLocalInstalacao" data-backdrop="static"
  [ngStyle]="{'display': local_instalacaoModal ? 'block' : 'none', 'opacity': 1}">
  <div class="modal-dialog" style="max-width: 2000px;">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-map-marker nav-icon"></i> {{ title }}</h4>
        <button class="close" type="reset" (click)="onReset()" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="padding: 2rem;">
        <ngx-loading [show]="loading"></ngx-loading>
        <app-loading></app-loading>


        <div class="row">
          <!-- /.col -->
          <div class="col-12">

            <div class="alert alert-success alert-dismissible" *ngIf="local_instalacaoRowValid && !geolocation_updated"
              style="border: 0;border-radius: 0; margin: 8px;">
              <h5>
                <i class="icon fa fa-check"></i>
                {{((local_instalacaoRow.is_predio) ? 'Prédio ' + local_instalacaoRow.predio_nome + ', ' + local_instalacaoRow.predio_andar + 'ºAndar - Porta ' : 'Residência ') + local_instalacaoRow.moradia_numero}}
                adicionado a lista
              </h5>
            </div>
            <div class="alert alert-success alert-dismissible"
              *ngIf="local_instalacaoRowValid && geolocation_flag && geolocation_updated"
              style="border: 0;border-radius: 0; margin: 8px;">
              <h5>
                <i class="icon fa fa-check"></i>
                Geolocalização actualizada para
                {{((local_instalacaoRow.is_predio) ? 'o Prédio ' + local_instalacaoRow.predio_nome + ', ' + local_instalacaoRow.predio_andar + 'ºAndar - Porta' : 'a Residência ') + local_instalacaoRow.moradia_numero}}
              </h5>
            </div>
            <div class="alert alert-danger alert-dismissible"
              *ngIf="local_instalacaoRowValid == false && local_instalacaosArray.length > 0 && addRows == true && !geolocation_flag"
              style="border: 0;border-radius: 0; margin: 8px;">
              <h5>
                <i class="icon fa fa-ban"></i>
                {{((local_instalacaoRow.is_predio) ? 'Prédio ' + local_instalacaoRow.predio_nome + ', ' + local_instalacaoRow.predio_andar + 'ºAndar - Porta ' : 'Residência ') + local_instalacaoRow.moradia_numero}}
                já existente na lista
              </h5>
            </div>

            <div class="col-md-12 row">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="morada">Província</label>
                  <select [(ngModel)]="local_instalacao.provincia_id" class="form-control" required
                    (change)="selectBoxMunicipiosByProvincia()" [disabled]="!provincias">
                    <option [value]="null">Província</option>
                    <option *ngFor="let i of provincias" [value]="i.id">
                      {{i.abreviatura}} - {{i.nome}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="morada">Município</label>
                  <select [(ngModel)]="local_instalacao.municipio_id" class="form-control" required
                    (change)="selectBoxDistritosByMunicipio()" [disabled]="!municipios">
                    <option [value]="null">Município</option>
                    <option *ngFor="let i of municipios" [value]="i.id">
                      {{i.nome}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="morada">Comunas</label>
                  <div *ngIf="!distritos">
                    <i style="padding: 3px 5px; border-radius: 5px;" class="fa fa-close alert-danger"></i>
                  </div>
                  <select *ngIf="local_instalacao.has_distrito == true" [(ngModel)]="local_instalacao.distrito_id"
                    class="form-control" required (change)="selectBoxBairrosByMunicipio()" [disabled]="!distritos">
                    <option [value]="null">Comuna</option>
                    <option *ngFor="let i of distritos" [value]="i.id">
                      {{i.nome}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="morada">Bairro</label>
                  <select [(ngModel)]="local_instalacao.bairro_id" class="form-control" required
                    (change)="selectBoxQuarteiraosByBairro()" [disabled]="!bairros">
                    <option [value]="null">Bairro</option>
                    <option *ngFor="let i of bairros" [value]="i.id">
                      {{i.nome}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="morada">Quarteirão</label>
                  <div *ngIf="!quarteiraos">
                    <i style="padding: 3px 5px; border-radius: 5px;" class="fa fa-close alert-danger"></i>
                  </div>
                  <select *ngIf="local_instalacao.has_quarteirao" [(ngModel)]="local_instalacao.quarteirao_id"
                    class="form-control" required (change)="selectBoxRuasByQuarteirao()">
                    <option [value]="null">Quarteirão</option>
                    <option *ngFor="let i of quarteiraos" [value]="i.id">
                      {{i.nome}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="morada">Rua</label>
                  <select [(ngModel)]="local_instalacao.rua_id" class="form-control" required
                    (change)="selectBoxRuasByBairro()" [disabled]="!bairros">
                    <option [value]="null">Rua</option>
                    <option *ngFor="let i of ruas" [value]="i.id">
                      {{i.nome}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="morada">
                    <input type="checkbox" name="exemplo" id="radio" [(ngModel)]="predio_flag" checked
                      (click)="setPredioValue()" [disabled]="!local_instalacao.rua_id"> Prédio</label>

                  <div *ngIf="!predio_flag">
                    <i style="padding: 3px 5px; border-radius: 5px;" class="fa fa-close alert-danger"></i>
                  </div>
                  <input class="form-control" required autofocus id="predio_nome" type="text"
                    [(ngModel)]="local_instalacao.predio_nome" placeholder="Nome do Prédio" autocomplete="given-name"
                    *ngIf="predio_flag" />
                </div>
              </div>

              <div class="col-md-3 row">

                <div *ngIf="predio_flag" class="col-md-6">
                  <div class="form-group">
                    <label for="morada">Andar</label>
                    <input class="form-control" required autofocus id="predio_andar" type="text"
                      [(ngModel)]="local_instalacao.predio_andar" placeholder="Andar"
                      autocomplete="given-name" [disabled]="!local_instalacao.predio_nome" />
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="morada">{{ moradia_title }}</label>
                    <input class="form-control" required autofocus id="moradia_numero" type="text" (keyup)="loadCIL()" [(ngModel)]="local_instalacao.moradia_numero" 
                      placeholder="{{ moradia_title }}" autocomplete="given-name" [disabled]="!local_instalacao.rua_id" />
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="morada">CIL</label>
                  <input class="form-control" required autofocus id="cil" type="text"
                    [(ngModel)]="local_instalacao.cil" placeholder="CIL" autocomplete="given-name"
                    [disabled]="!local_instalacao.moradia_numero" />
                </div>
              </div>

              <div class="col-md-12 row" *ngIf="local_instalacao.cil">

                <hr>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Tipos de Abastecimentos</label>
                    <select class="form-control" [(ngModel)]="local_instalacao.abastecimento_cil_id" name="abastecimento_cil_id">
                      <option [value]="null">Tipo de Abastecimento</option>
                      <option value="{{ item.id }}" *ngFor="let item of abastecimento_cils">
                        {{ item.nome }}
                      </option>
                    </select>
                  </div>
                </div>
  
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Saneamento </label>&nbsp;&nbsp;
                    <label class="switch-toggle">
                      <input type="checkbox" [(ngModel)]="local_instalacao.saneamento_flag">
                      <span class="slider-toggle round"></span>
                    </label>
  
                    <select *ngIf="local_instalacao.saneamento_flag" class="form-control"
                      [(ngModel)]="local_instalacao.estado_caixa_contador_id"
                      name="campo_jardim_id">
                      <option [value]="null">Objecto de Contrato</option>
                      <option value="{{ item.id }}" *ngFor="let item of objecto_contratos">
                        {{ item.nome }}
                      </option>
                    </select>
                  </div>
                </div>
  
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Instalações Sanitárias(Qtd)</label>
                    <input class="form-control" required autofocus id="instalacao_sanitaria_qtd" type="text"
                      [(ngModel)]="local_instalacao.instalacao_sanitaria_qtd" placeholder=""
                      autocomplete="given-name" />
                  </div>
                </div>
  
                <div class="col-md-3 row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Reservatório</label>&nbsp;&nbsp;
                      <label class="switch-toggle-sm">
                        <input type="checkbox" [(ngModel)]="local_instalacao.reservatorio_flag">
                        <span class="slider-toggle-sm round"></span>
                      </label>
                      <input *ngIf="local_instalacao.reservatorio_flag" class="form-control" required autofocus
                        id="reservatorio_capacidade" type="text"
                        [(ngModel)]="local_instalacao.reservatorio_capacidade" placeholder="Capacitdade(m³)"
                        autocomplete="given-name" />
  
                    </div>
                  </div>
  
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Piscina</label>&nbsp;&nbsp;
                      <label class="switch-toggle-sm">
                        <input type="checkbox" [(ngModel)]="local_instalacao.piscina_flag">
                        <span class="slider-toggle-sm round"></span>
                      </label>
                      <input *ngIf="local_instalacao.piscina_flag" class="form-control" required autofocus
                        id="piscina_capacidade" type="text" [(ngModel)]="local_instalacao.piscina_capacidade"
                        placeholder="Capacitdade(m³)" autocomplete="given-name" />
  
                    </div>
                  </div>
                </div>
  
                <div class="col-md-3 row">
  
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Anexo</label>&nbsp;&nbsp;
                      <label class="switch-toggle-sm">
                        <input type="checkbox" [(ngModel)]="local_instalacao.anexo_flag">
                        <span class="slider-toggle-sm round"></span>
                      </label>
                      <input *ngIf="local_instalacao.anexo_flag" class="form-control" required autofocus
                        id="anexo_quantidade" type="text" [(ngModel)]="local_instalacao.anexo_quantidade"
                        placeholder="Quantidade" autocomplete="given-name" />
  
                    </div>
                  </div>
  
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Poço Alternativo</label>
                      <br>
  
                      <label class="switch-toggle">
                        <input type="checkbox" [(ngModel)]="local_instalacao.poco_alternativo_flag">
                        <span class="slider-toggle round"></span>
                      </label>
                    </div>
                  </div>
                </div>
  
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Caixa de Contador</label>&nbsp;&nbsp;
                    <label class="switch-toggle">
                      <input type="checkbox" [(ngModel)]="local_instalacao.caixa_contador_flag">
                      <span class="slider-toggle round"></span>
                    </label>
  
                    <select *ngIf="local_instalacao.caixa_contador_flag" class="form-control"
                      [(ngModel)]="local_instalacao.estado_caixa_contador_id"
                      name="campo_jardim_id">
                      <option [value]="null">Estado</option>
                      <option value="{{ item.id }}" *ngFor="let item of estado_caixa_contadors">
                        {{ item.nome }}
                      </option>
                    </select>
                  </div>
                </div>
  
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Jardins</label>&nbsp;&nbsp;
                    <label class="switch-toggle-sm">
                      <input type="checkbox" [(ngModel)]="local_instalacao.jardim_flag" >
                      <span class="slider-toggle-sm round"></span>
                    </label>
  
                    <select *ngIf="local_instalacao.jardim_flag" class="form-control" [(ngModel)]="local_instalacao.campo_jardim_id"
                      name="campo_jardim_id">
                      <option [value]="null">Jardim</option>
                      <option value="{{ item.id }}" *ngFor="let item of campo_jardims">
                        {{ item.nome }}
                      </option>
                    </select>
                  </div>
                </div>
  
                <div class="col-md-3 row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Fossa</label>&nbsp;&nbsp;
                      <label class="switch-toggle-sm">
                        <input type="checkbox" [(ngModel)]="local_instalacao.fossa_flag">
                        <span class="slider-toggle-sm round"></span>
                      </label>
                      <input *ngIf="local_instalacao.fossa_flag" class="form-control" required autofocus
                        id="fossa_capacidade" type="text" [(ngModel)]="local_instalacao.fossa_capacidade"
                        placeholder="Capacitdade(m³)" autocomplete="given-name" />
  
                    </div>
                  </div>
  
                  <div *ngIf="local_instalacao.fossa_flag" class="col-md-6">
                    <div class="form-group">
                      <label>Acesso de Camião</label>
                      <br>
  
                      <label class="switch-toggle">
                        <input type="checkbox" [(ngModel)]="local_instalacao.acesso_camiao_flag">
                        <span class="slider-toggle round"></span>
                      </label>
                    </div>
                  </div>
                </div>
  
              </div>

              <div class="col-md-3 row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="morada">
                      <input type="checkbox" name="exemplo" id="radio" [(ngModel)]="geolocation_flag" checked
                        (click)="setGeolocationFlag()"> Geolocalização</label>

                    <div *ngIf="!geolocation_flag">
                      <i style="padding: 3px 5px; border-radius: 5px;" class="fa fa-close alert-danger"></i>
                    </div>
                    <div *ngIf="geolocation_flag">
                      <i style="padding: 3px 5px; border-radius: 5px;" class="fa fa-check alert-success"></i>
                    </div>
                  </div>
                </div>

                <div *ngIf="addRows" class="col-md-6">
                  <label for="morada"></label><br />

                  <button *ngIf="geolocation_flag && local_instalacao.rua_id && local_instalacao.moradia_numero"
                    (click)="setGeolocationValues()" type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#modalGeolocation"><i class="fa fa-globe"></i>
                    Buscar</button>

                  <button *ngIf="!geolocation_flag && local_instalacao.rua_id && local_instalacao.moradia_numero"
                    class="btn btn-success" type="button" title="Adicionar Item" data-toggle="modal"
                    data-target="#modalPontoLigacao"><i class="fa fa-plus"></i> Adicionar</button>


                  <!--
                  <button class="btn btn-success" type="button" title="Adicionar Item" data-toggle="modal"
                    data-target="#modalPontoLigacao"><i class="fa fa-plus"></i> Adicionar</button>-->
                </div>

              </div>

            </div>

            <div class="table-responsive">
              <div class="col-md-12 row" style="padding: 0px; margin: 0px;" *ngIf="addRows">
                <h5 class="col-md-10" style="padding: 10px; background: #0099FF; color: #fff;">Locais de Instalação para
                  Processamento</h5>
                <h5 class="col-md-2 text-right" style="padding: 10px; background: #0099FF; color: #fff;">
                  {{local_instalacaosArray.length}}</h5>

              </div>

              <div *ngIf="addRows">
                <table *ngIf="local_instalacaosArray.length > 0 && addRows == true;else emptyList"
                  class="table table-hover table-bordered table-stripedd text-center m-0">
                  <tbody>
                    <tr style="color: #fff; background: #0099FF;">
                      <th>Província</th>
                      <th>Município</th>
                      <th>Comuna</th>
                      <th>Bairro</th>
                      <th>Quarteirão</th>
                      <th>Alocação</th>
                      <th>Geolocalização</th>
                      <th>Ligação Ramal</th>
                      <th width="150px">#</th>
                    </tr>

                    <tr *ngFor="let item of local_instalacaosArray">
                      <td>{{ item.provincia }}</td>
                      <td>{{ item.municipio }}</td>
                      <td *ngIf="item.distrito != null;else dataEmpty">{{ item.distrito }}</td>
                      <td>{{ (item.quarteirao != null) ? item.quarteirao : '------' }}</td>
                      <td>{{ item.bairro }}</td>
                      <td>
                        {{ ((item.is_predio) ? 'Prédio ' + item.predio_nome + ', ' + item.predio_andar + 'ºAndar - Porta ' : 'Residência ') + item.moradia_numero }}
                      </td>
                      <td>
                        <span *ngIf="item.latitude != null && item.longitude != null;else dataEmpty"
                          class="link_clicked" data-toggle="modal" data-target="#modalGeolocation"
                          (click)="setGeolocationValues(); setGeolocationUpdate(true)">{{ '[' + item.latitude + '] [' + item.longitude + ']' }}</span>
                      </td>
                      <td>
                        <div>
                          <i style="padding: 3px; border-radius: 5px;" *ngIf="item.ligacao_ramal_id != null"
                            class="fa fa-check alert-success"></i>
                          <i style="padding: 3px 5px; border-radius: 5px;" *ngIf="item.ligacao_ramal_id == null"
                            class="fa fa-close alert-danger"></i>
                        </div>
                      </td>
                      <td>
                        <button type="button" class="btn btn-danger" (click)="deleteRowLocalInstalacaoAppended(item)">
                          <i class="fa fa-trash"></i> Remover</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>

          <!-- /.col -->
        </div>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button class="btn btn-outline-danger btn-sm mr-1" data-dismiss="modal">Fechar</button>
        <button class="btn btn-danger btn-sm" type="reset" (click)="resetLigacao()">Limpar</button>
        <button class="btn btn-primary mr-1 btn-sm" type="submit" data-style="expand-left" (click)="save()">
          <i class="fa fa-save"></i>
          Registar</button> </div>
    </div>
  </div>
</div>




<div class="modal modal-info fade in" id="modalGeolocation" data-backdrop="static">
  <div class="modal-dialog" style="max-width: 1500px;">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-map-marker nav-icon"></i> Geolocalização para
          {{((local_instalacaoRow.is_predio) ? 'Prédio ' + local_instalacaoRow.predio_nome + ', ' + local_instalacaoRow.predio_andar + 'ºAndar - Porta ' : 'Residência ') + local_instalacaoRow.moradia_numero}}
        </h4>
        <button class="close" type="reset" (click)="onReset()" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="padding: 2rem;">

        <div class="row">
          <!-- /.col -->
          <div class="col-12">
            <!-- 
            <div class="alert alert-success alert-dismissible" *ngIf="local_instalacaoRowValid == true"
              style="border: 0;border-radius: 0; margin: 8px;">
              <h5>
                <i class="icon fa fa-check"></i>
                {{((local_instalacaoRow.is_predio) ? 'Prédio ' + local_instalacaoRow.predio_nome + ', ' + local_instalacaoRow.predio_andar + 'ºAndar - Porta ' : 'Residência ') + local_instalacaoRow.moradia_numero}}
                adicionado a lista
              </h5>
            </div>
            <div class="alert alert-danger alert-dismissible"
              *ngIf="local_instalacaoRowValid == false && local_instalacaosArray.length > 0 && addRows == true"
              style="border: 0;border-radius: 0; margin: 8px;">
              <h5>
                <i class="icon fa fa-ban"></i>
                {{((local_instalacaoRow.is_predio) ? 'Prédio ' + local_instalacaoRow.predio_nome + ', ' + local_instalacaoRow.predio_andar + 'ºAndar - Porta ' : 'Residência ') + local_instalacaoRow.moradia_numero}}
                já existente na lista
              </h5>
            </div> -->

            <div class="col-md-12 row">


              <div class="col-md-6">

                <div class="row invoice-info">
                  <div class="col-sm-8 invoice-col row">

                    <div class="col-md-12">
                      <b>LOCALIZAÇÃO</b>
                    </div>

                    <div class="row">

                      <div class="col-md-6">
                        <address>
                          <strong>Província: </strong>{{ local_instalacaoRow.provincia }}<br>
                          <strong>Município: </strong>{{ local_instalacaoRow.municipio }}<br>
                          <strong *ngIf="local_instalacaoRow.distrito">Comuna:
                          </strong>{{ local_instalacaoRow.distrito }}<br>
                        </address>
                      </div>
                      <div class="col-md-6">
                        <address>
                          <strong>Bairro: </strong>{{ local_instalacaoRow.bairro }}<br>
                          <strong>Rua: </strong>{{ local_instalacaoRow.rua }}<br>
                          <strong *ngIf="local_instalacaoRow.predio_nome">Prédio:
                          </strong>{{ local_instalacaoRow.predio_nome }}<br>
                          <strong>Número: </strong>{{ local_instalacaoRow.moradia_numero }}<br>
                        </address>
                      </div>
                    </div>

                  </div>
                </div>

              </div>


              <div class="col-md-6">
                <div class="col-md-12">
                  <div class="form-group has-warning">
                    <label class="col-form-label">Latitude</label>
                    <input class="form-control" required autofocus id="latitude" type="latitude"
                      [(ngModel)]="local_instalacaoRow.latitude" placeholder="Latitude" autocomplete="given-name" />

                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group has-warning">
                    <label class="col-form-label">Longitude</label>
                    <input class="form-control" required autofocus id="longitude" type="text"
                      [(ngModel)]="local_instalacaoRow.longitude" placeholder="Longitude" autocomplete="given-name" />
                  </div>
                </div>
              </div>


            </div>

            <agm-map [disableDefaultUI]="false" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom"
              (mapClick)="mapClicked($event)">
              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>


          </div>

          <!-- /.col -->
        </div>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button class="btn btn-outline-danger btn-sm mr-1" (click)="setGeolocationUpdate(false)"
          data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-success" (click)="appendGeolocationValues()" data-dismiss="modal">
          <i class="fa fa-plus"></i> Adicionar</button>
      </div>
    </div>
  </div>
</div>



<div class="modal modal-info fade in" id="modalPontoLigacao" data-backdrop="static">
  <div class="modal-dialog" style="max-width: 1500px;">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-map-marker nav-icon"></i> Ligação {{ selected_local_instalacao }}
        </h4>
        <button class="close" type="reset" (click)="onReset()" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body" style="padding: 2rem;">

        <div class="row">
          <div class="col-12">
            <div class="col-md-12 row">

              <div class="col-md-4">
                <div class="form-group">
                  <label for="morada">Tipo de Ligação</label>
                  <select [(ngModel)]="local_instalacao.tipo_objecto_id" class="form-control" required
                    (change)="selectBoxObjectoLigacao();">
                    <option [value]="null">Tipos de ligação</option>
                    <option *ngFor="let i of tipo_objectos" [value]="i.id">
                      {{ i.descricao }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="morada">Ponto de Ligação</label>
                  <select [(ngModel)]="local_instalacao.objecto_ligacao_id" class="form-control" required
                    (change)="getLigacaoRamals()" [disabled]="!tipo_objectos">
                    <option [value]="null">Pontos de Ligação</option>
                    <option *ngFor="let i of objectos_ramais" [value]="i.id">
                      {{i.descricao}}
                    </option>
                  </select>
                </div>
              </div>

              <!--
              <div class="col-md-4">
                <div class="form-group">
                  <label>Filtro de Texto</label>
                  <br>
                  <div class="form-group">
                    <input type="text" name="search" [(ngModel)]="this.http.filters.search"
                      placeholder="" class="form-control"
                      (keyup)="getPageFilterData($event)">
                    <i class="fa fa-search" style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                  </div>
                </div>
              </div> -->
            </div>

            <app-loading></app-loading>

            <div class="col-md-12 row" *ngIf="data_ligacao_flag">
              <hr>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="morada">Diâmetro Nominal</label>
                  <input class="form-control" required autofocus id="diamentro" type="text"
                    [(ngModel)]="local_instalacao.diamentro" placeholder="Diâmetro Nominal" autocomplete="given-name" />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="morada">Comprimento</label>
                  <input class="form-control" required autofocus id="comprimento" type="text"
                    [(ngModel)]="local_instalacao.comprimento" placeholder="Comprimento" autocomplete="given-name"
                    [disabled]="!local_instalacao.diamentro" />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="morada">Profundidade</label>
                  <input class="form-control" required autofocus id="profundidade" type="text"
                    [(ngModel)]="local_instalacao.profundidade" placeholder="Profundidade" autocomplete="given-name"
                    [disabled]="!local_instalacao.comprimento" />
                </div>
              </div>

            </div>


            <table class="table table-hover table-bordered table-striped text-center">
              <thead>
                <tr style="color: #fff; background: #0099FF;">
                  <th>Ponto Inicial</th>
                  <th>Ponto Final</th>
                  <th>Comprimento</th>
                  <th>Diâmetro Nominal</th>
                  <th>Profundidade</th>
                  <th width="150px">CIL</th>
                  <th width="150">#</th>
                  <th><i class="fa fa-check"></i></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let item of ligacao_ramals | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                  <td>{{ item.ponto_a_tipo_objecto }} - {{ item.ponto_a }}</td>
                  <td>
                    <span *ngIf="item.local_instalacao_id == null">{{ item.ponto_b_tipo_objecto }} -
                      {{ item.ponto_b }}</span>
                    <span
                      *ngIf="item.local_instalacao_id != null">{{ ((item.is_predio) ? 'Prédio ' + item.predio_nome + ', ' + item.predio_andar + 'ºAndar - Porta ' : 'Residência ') + item.moradia_numero }}</span>
                  </td>
                  <td>{{ item.comprimento }}</td>
                  <td>{{ item.diamentro }}</td>
                  <td>{{ item.profundidade }}</td>
                  <td>
                    <div>
                      <i style="padding: 3px; border-radius: 5px;" *ngIf="item.local_instalacao_id != null"
                        class="fa fa-check alert-success"></i>
                      <i style="padding: 3px 5px; border-radius: 5px;" *ngIf="item.local_instalacao_id == null"
                        class="fa fa-close alert-danger"></i>
                    </div>
                  </td>
                  <td>

                    <button class="btn btn-blockk btn-primary btn-sm"
                      (click)="setLigacaoRamal(item);">Selecionar</button>

                  </td>
                  <td class="text-center">

                    <i style="padding: 3px; border-radius: 5px;" *ngIf="local_instalacao.ligacao_ramal_id == item.id"
                      class="fa fa-check alert-success"></i>
                  </td>
                </tr>
              </tbody>
            </table>


            <div class="row" style="width: 100%;">
              <div class="col-sm-12 col-md-5">
                <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                  {{this.http.filters.pagination.perPage}} de
                  {{this.http.filters.pagination.total}} Registos
                </div>
              </div>
              <div class="col-sm-12 col-md-7">
                <div class="pull-right">
                  <pagination-controls (pageChange)="getPageFilterLigacaoRamal($event)" previousLabel="Anterior"
                    maxSize="6" nextLabel="Proximo" directionLinks="true" responsive="true">
                  </pagination-controls>
                </div>
              </div>
            </div>

          </div>

          <!-- /.col -->
        </div>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button class="btn btn-outline-danger btn-sm mr-1" (click)="setGeolocationUpdate(false)"
          data-dismiss="modal">Fechar</button>
        <button class="btn btn-primary mr-1 btn-sm" (click)="appendRowLocalInstalacao()"
          data-dismiss="modal">Terminar</button>
      </div>
    </div>
  </div>
</div>

<!-- 
<div class="modal modal-info fade" id="pontoBResidenciaModal" data-backdrop="static">
  <div class="modal-dialog modal-lg" style="max-width: 1000px;">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-map-marker"></i> Ponto de ligação</h4>
        <button type="button" class="close" (click)="cleanFormsData()" data-dismiss="modal">&times;</button>
      </div>

      <app-loading></app-loading>

      <div class="modal-body">
        <app-alert></app-alert>
        <div class="col-md-12">
          <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label"><i class="fa fa-edit"></i> Diâmetro Nominal</label>
              <input type="text" class="form-control" placeholder="Diâmetro Nominal"
                [(ngModel)]="ligacao_ramal.diamentro" name="Diametro_nominal">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label"><i class="fa fa-edit"></i> Comprimento</label>
              <input type="text" class="form-control" placeholder="Comprimento"
                [(ngModel)]="ligacao_ramal.comprimento" name="Comprimento">
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label"><i class="fa fa-edit"></i> Profundidade</label>
              <input type="text" class="form-control" placeholder="Profundidade"
                [(ngModel)]="ligacao_ramal.profundidade" name="Profundidade">
            </div>
          </div>

        </div>


          <h3 class="col-md-12" style="padding: 15px 10px; background: #0099FF; color: #fff;">
            Local de Instalação</h3>

          <div class="row">

            <div class="col-md-4">
              <div class="form-group">
                <label>Província</label>


                <select [(ngModel)]="residencia.provincia_id" class="form-control"
                  (change)="selectBoxMunicipiosByProvincia()">
                  <option [value]="null">Província</option>
                  <option *ngFor="let i of provincias" [value]="i.id">
                    {{i.abreviatura}} - {{i.nome}}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>Município</label>


                <select [(ngModel)]="residencia.municipio_id" class="form-control"
                  (change)="selectBoxDistritosByMunicipio()" [disabled]="!municipios">
                  <option [value]="null">Município</option>
                  <option *ngFor="let i of municipios" [value]="i.id">
                    {{i.nome}}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-4" *ngIf="distritos">
              <div class="form-group">
                <label>Comunas</label>

                <select *ngIf="residencia.has_distrito == true" [(ngModel)]="residencia.distrito_id"
                  class="form-control" required (change)="selectBoxBairrosByMunicipio()">
                  <option [value]="null">Comuna</option>
                  <option *ngFor="let i of distritos" [value]="i.id">
                    {{i.nome}}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>Bairro</label>


                <select [(ngModel)]="residencia.bairro_id" class="form-control" required
                  (change)="selectBoxRuasByBairro()" [disabled]="!bairros">
                  <option [value]="null">Bairro</option>
                  <option *ngFor="let i of bairros" [value]="i.id">
                    {{i.nome}}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>Rua</label>


                <select [(ngModel)]="residencia.rua_id" class="form-control" (change)="getSelectBoxResidenciasByRua()"
                  [disabled]="!ruas">
                  <option [value]="null">Rua</option>
                  <option *ngFor="let i of ruas" [value]="i.id">
                    {{i.nome}}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>Local de Instalação</label>
                <div class="input-group">
                  <input type="text" placeholder="Digite o número da casa" [(ngModel)]="residencia.nome"
                    [disabled]="!residencias" class="form-control" (keyup)="getResidencia()">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-flat"
                      style="background-color: #0099FF; color: #ffffff; margin: 3.5px;"><i
                        class="fa fa-search"></i></button>
                  </span>
                </div>

                <div class="autocomplete-container" *ngIf="view_residencia">
                  <ul>
                    <li *ngFor="let residencia of residencias">
                      <a href="javascript:void(0)"
                        (click)="setResidencia(residencia.id, residencia.moradia_numero, residencia.predio_nome, residencia.is_predio)">
                        {{ ((residencia.is_predio) ? 'Prédio ' + residencia.predio_nome + ', ' + residencia.predio_andar + 'ºAndar - Porta ' : 'Residência ') + residencia.moradia_numero }}
                      </a>
                    </li>
                  </ul>
                </div>

              </div>
            </div>


          </div>


        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="cleanFormsData()" data-dismiss="modal"> Fechar</button>

        <button *ngIf="residencia.id != null" class="btn btn-success" type="button" title="Adicionar Item"
          (click)="addLinha()"><i class="fa fa-plus"></i> Adicionar</button>

      </div>


    </div>
  </div>
</div> -->


<ng-template #emptyList>
  <div align="center">
    <h2>Sem resultados</h2>
    <span></span>
  </div>
</ng-template>

<ng-template #dataEmpty>------</ng-template>