<div class="row">
  <div class="col-md-12" style="padding: 0 17px;width: 1831px;">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Menu</h3>
          <div class="card-tools"> 
            <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button> 
            <button type="button" class="btn btn-tool" data-widget="remove"><i class="fa fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <a class="btn btn-app"   (click)="addList()">
            <i class="fa fa-plus"></i> Criar
          </a>
          <a class="btn  btn-app"   (click)="saveBoard()">
            <i class="fa fa-save"></i> Salvar
          </a> 
          
          <a class="btn btn-app" (click)="listTarefas()"> 
            <i class="fa fa-file-archive-o"></i> Tarefas
          </a>
          <!--
          <a class="btn btn-app"> 
            <i class="fa fa-inbox"></i> Importar
          </a>
          <a class="btn btn-app">
            <span class="badge bg-purple">891</span>
            <i class="fa fa-users"></i> Users
          </a>  
          <a class="btn btn-app">
            <span class="badge bg-danger">531</span>
            <i class="fa fa-heart"></i> Likes
          </a>-->
        </div>
        <!-- /.card-body -->
      </div>
  </div>
</div>


<!--
<button class="btn btn-primary" (click)="addList()"><i class="fa fa-plus"></i> Adicionar nova item</button>
<button class="btn btn-info" style="margin-left: 10px" (click)="saveBoard()"><i class="fa fa-save"></i> Guardar</button>-->
 
<div class="container" style="max-width:inherit;width:auto;height:100%;">
  <div class="row" style="height:inherit;">
    <app-list *ngFor="let list of lists;let i = index" [list]="list" [listIndex]="i"
      (moveCardAcrossList)="moveCardAcrossList($event)" (deleteList)="deleteList($event)" attr.listIndex="{{i}}">
    </app-list>
  </div>
</div>