<div class="wrapper">
	<app-topnavbar></app-topnavbar>
	<app-asidenavbar></app-asidenavbar>
	<div class="content-wrapper" style="min-height: 768px;">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0 text-dark">Gerar Recibo</h1>
					</div><!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Vendas</a></li>
							<li class="breadcrumb-item">Gerar</li>
							<li class="breadcrumb-item active">Gerar Recibo</li>
						</ol>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->


		<!-- The Modal gerar recibo-->
		<div class="modall modal-info fadee" id="gerarReciboModal" data-backdrop="static">
			<div class="modal-dialog nota-credito-modal-lg" style="max-width: 95%;">
				<div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title"><i class="fa fa-plus-circle"></i> Gerar Recibo</h4>
					</div>
					<form [formGroup]="reciboForm" (submit)="onSubmit();">
						<!-- Modal body  -->
						<div class="modal-body">
							<div class="row">
								<div class="col-md-5 col-sm-6 col-xs-6">
									<div class="form-groupp">
										<div class="input-group">
											<input type="text" placeholder="Digite o nome ou a identificação do cliente"
												formControlName="nome" class="form-control" (keyup)="getCliente()">
											<div class="input-group-append">
												<div class="input-group-text" style="background-color: transparent;"><i
														class="fa fa-search"></i></div>
											</div>
										</div>

										<div class="autocomplete-container" *ngIf="view_client">
											<ul>
												<li *ngFor="let cliente of clientes">
													<a href="javascript:void(0)"
														(click)="setCliente(cliente)">{{cliente.nome}}</a>
												</li>
											</ul>
										</div>
										<!-- /.input group -->
									</div>
								</div>
								<div class="col-md-1 col-sm-1 col-xs-1">
									<button type="button" class="btn btn-info"> Pesquisar</button>
								</div>
							</div>
							<hr>
							<app-alert></app-alert>
							<ngx-loading [show]="loadingFacturacao"></ngx-loading>
							<div class="row" *ngIf="view_facturas">

								<div class="col-md-6 col-sm-12 col-xs-12" style="background: #f8f9fa;">
									<h5 class="p-10">Facturas Em Abertas</h5>
									<div style="overflow-y: auto; height: 368px;">
										<table
											class="table table-hover table-bordered table-striped table-valign-middle text-center">
											<thead>
												<tr>
													<th style="width: 8px;">Seleccionar</th>
													<th>Nº Factura</th>
													<th>V.Total</th>
													<th>V.Aberto</th>
													<th>Estado</th>
													<th>Data</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let factura of facturas">
													<td style="padding-left: 68px;">
														<input type="checkbox" name="exemplo" id="radio"
															*ngIf="factura.status=='N' || factura.status==null"
															(click)="selecionarFactura(factura);">
														<!--<span></span>-->
													</td>
													<td>{{ (factura.factura_sigla ==null ? factura.numero :
														factura.factura_sigla ) }}
													</td>
													<td>{{configService.numberFormat(factura.total)}}</td>
													<td>{{configService.numberFormat((factura.valor_aberto == null &&
														factura.pago==0 ? factura.total : factura.valor_aberto))}}</td>
													<td>
														<span class="btn bg-danger btn-block"
															*ngIf="factura.status =='A'">Anulado</span>
														<span class="btn bg-info btn-block"
															*ngIf="factura.status =='N' || factura.status==null">Normal</span>
													</td>
													<td>{{factura.created_at | date:'dd-MM-yyyy'}}</td>
												</tr>
											</tbody>
										</table>
									</div>

								</div>

								<div class="col-md-6 col-xs-12" style="background: #f4f4f5;">
									<div class="row">

										<div class="col-md-4">
											<div class="form-group">
												<label class="col-form-label">Serie</label>
												<select class="form-control" formControlName="serie_id"
													placeholder="Serie" autocomplete="serie_id">
													<option value="null"> Selecionar serie </option>
													<option value="{{ serie.id }}" *ngFor="let serie of series"> Serie: {{ serie.nome }} - {{ serie.documento }} </option>
												</select>
											</div>
										</div>

										<div class="col-md-4">
											<label class="col-form-label">Forma de pagamento</label>
											<div class="form-group">

												<select class="form-control" formControlName="forma_pagamento_id"
													placeholder="Serie" autocomplete="forma pagamento"
													(change)="handleChangeFormaPagamento()"
													[ngClass]="{ 'is-invalid': submitted && f.forma_pagamento_id.errors, 'is-valid': f.forma_pagamento_id.touched && !f.forma_pagamento_id.errors }">
													<option value="null">{{ carregando.forma_pagamento }} </option>
													<option value="{{ forma.id }}"
														*ngFor="let forma of formasPagamentos">
														{{ forma.designacao }}</option>
												</select>

												<div *ngIf="submitted && f['forma_pagamento_id'].errors"
													class="invalid-feedback">
													<div *ngIf="f['forma_pagamento_id'].errors.required">forma de
														pagamento é
														obrigatório</div>
												</div>
											</div>

										</div>

										<div class="col-md-4">
											<label class="col-form-label" for="">Valor de Entrada</label>
											<div class="input-group">
												<input class="form-control" id="numero" type="number"
													(keyup)="totalApagar();calcularTroco();"
													formControlName="valor_recebido" placeholder="Valor de Entrada"
													autocomplete="valor_recebido"
													[ngClass]="{ 'is-invalid': submitted && f.valor_recebido.errors, 'is-valid': f.valor_recebido.touched && !f.valor_recebido.errors }" />
												<span class="input-group-append">
													<button type="button" title="Adicionar Item" (click)="addLinhaPagamentos()" class="btn btn-info btn-flat">Adicionar</button>
												</span>
												<div *ngIf="submitted && f['valor_recebido'].errors" class="invalid-feedback">
													<div *ngIf="f['valor_recebido'].errors.required">Valor de Entrada é obrigatório</div>
												</div>
											</div>
										</div>


										<div class="col-md-4">
											<div class="form-group">
												<label class="col-form-label">Nº conta da bancaria</label>
												<select class="form-control" formControlName="banco_id"
													placeholder="Serie" autocomplete="Nº conta da bancaria"
													[ngClass]="{ 'is-invalid': submitted && f.banco_id.errors, 'is-valid': f.banco_id.touched && !f.banco_id.errors }">
													<option value="null">Selecione a Nº conta da bancaria</option>
													<option value="{{ banco.id }}"
														*ngFor="let banco of configService.bancos">
														{{ banco.abreviatura }} - {{ banco.numero_conta }}
													</option>
												</select>
												<div *ngIf="submitted && f['banco_id'].errors" class="invalid-feedback">
													<div *ngIf="f['banco_id'].errors.required">Nº conta da bancaria é
														obrigatório</div>
												</div>
											</div>
										</div>


										<div class="col-md-4">
											<div class="form-group">
												<label class="col-form-label" for="">Refêrencia</label>
												<input class="form-control" type="text" formControlName="referencia"
													placeholder="Refêrencia" autocomplete="Refêrencia"
													[ngClass]="{ 'is-invalid': submitted && f.referencia.errors, 'is-valid': f.referencia.touched && !f.referencia.errors }" />
												<div *ngIf="submitted && f['referencia'].errors"
													class="invalid-feedback">
													<div *ngIf="f['referencia'].errors.required">Refêrencia é obrigatório</div>
												</div>
											</div>
										</div>

										<div class="col-md-4">
											<div class="form-group">
												<label class="col-form-label" for="">Data de Pagamento</label>
												<input class="form-control" id="data_pagamento" type="date"
													formControlName="data_pagamento" placeholder="Data de Pagamento"
													autocomplete="data_pagamento"
													[ngClass]="{ 'is-invalid': submitted && f.data_pagamento.errors, 'is-valid': f.data_pagamento.touched && !f.data_pagamento.errors }" />
												<div *ngIf="submitted && f['data_pagamento'].errors"
													class="invalid-feedback">
													<div *ngIf="f['data_pagamento'].errors.required">Data de Pagamento é
														obrigatório</div>
												</div>
											</div>
										</div>


										<div class="col-md-4">
											<div class="form-group">
												<label class="col-form-label" for="">Troco</label>
												<input class="form-control" id="troco" type="number"
													formControlName="troco" disabled placeholder="Troco"
													autocomplete="troco"
													[ngClass]="{ 'is-invalid': submitted && f.troco.errors, 'is-valid': f.troco.touched && !f.troco.errors }" />
												<div *ngIf="submitted && f['troco'].errors" class="invalid-feedback">
													<div *ngIf="f['troco'].errors.required">Troco é obrigatório</div>
												</div>
											</div>
										</div>

										<div class="col-md-4">
											<div class="form-group">
												<label class="col-form-label" for="">Total Valor de Entrada</label>
												<input class="form-control" id="numero" type="number" disabled
													formControlName="total_valor_recebido"
													placeholder="Total Valor de Entrada"
													autocomplete="total_valor_recebido"
													[ngClass]="{ 'is-invalid': submitted && f.total_valor_recebido.errors, 'is-valid': f.total_valor_recebido.touched && !f.total_valor_recebido.errors }" />
												<div *ngIf="submitted && f['total_valor_recebido'].errors"
													class="invalid-feedback">
													<div *ngIf="f['total_valor_recebido'].errors.required">Total Valor
														de Entrada é obrigatório</div>
												</div>
											</div>
										</div>

										<div class="col-md-4">
											<div class="form-group">
												<label class="col-form-label" for="">Total Facturas Selecionada</label>
												<input class="form-control" id="total_pago" type="number"
													formControlName="total_pago" placeholder="Total a Pagar"
													autocomplete="total_pago" required disabled
													[ngClass]="{ 'is-invalid': submitted && f.total_pago.errors, 'is-valid': f.total_pago.touched && !f.total_pago.errors }" />
												<div *ngIf="submitted && f['total_pago'].errors"
													class="invalid-feedback">
													<div *ngIf="f['total_pago'].errors.required">Total a Pagar é
														obrigatório
													</div>
												</div>
											</div>
										</div>

										<div class="col-md-4">
											<div class="form-group">
												<label class="col-form-label" for="">Total a Pagar</label>
												<input class="form-control" id="total_saldado" type="number"
													formControlName="total_saldado" placeholder="Total Saldado"
													autocomplete="total_saldado" required disabled
													[ngClass]="{ 'is-invalid': submitted && f.total_saldado.errors, 'is-valid': f.total_saldado.touched && !f.total_saldado.errors }" />
												<div *ngIf="submitted && f['total_saldado'].errors"
													class="invalid-feedback">
													<div *ngIf="f['total_saldado'].errors.required">Total a Pagar é
														obrigatório
													</div>
												</div>
											</div>
										</div>

										<div class="col-md-12" *ngIf="linha_pagamentos.length > 0">
											<h5 style="padding: 10px;background: #0099FF;color: #fff;"><i class="fa fa-money"></i> Forma de Pagamento Selecionada</h5>
											<table class="table text-center table-striped table-bordered">
												<tbody>
													<tr>
														<th>Nº</th>
														<th>Meio Pagamento</th>
														<th>V. Entrada</th>
														<th>Banco</th>
														<th>Referência Bancaria</th>
														<th>Data Pagamento</th>
														<th>Excluir Item</th>
													</tr>
													<tr *ngFor="let linha of linha_pagamentos; index as i">
														<td>{{(i+1)}}</td>
														<td>{{linha.designacao}}</td>
														<td>{{configService.numberFormat(linha.valor_entrada)}}</td>
														<td>{{linha.banco_nome}}</td>
														<td>{{linha.referencia_banco}}</td>
														<td>{{linha.data_pagament}}</td>
														<td>
															<div class="btn-group">
																<button type="button" class="btn  btn-info" id="remove" (click)="deleteRowFormaPagamento(linha)">Exluir</button>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>

									</div>
								</div>

							</div>
						</div>
						<!-- Modal footer -->
						<div class="modal-footer" style="display: block;" *ngIf="view_facturas">
							<button class="btn btn-danger btn-sm " type="reset" data-dismiss="modal"
								(click)="onReset(); createForm()" *ngIf="view_facturas">Cancelar</button>
							<!--<button class="btn btn-danger btn-sm" type="reset" [disabled]="reciboForm.pristine && !submitted"
						(click)="onReset()" *ngIf="view_facturas">Limpar</button>-->
							<button class="btn btn-success btn-sm mr-1" type="submit" [disabled]="reciboForm.valid" *ngIf="view_facturas">Validar</button>
							<button class="btn btn-primary mr-1 btn-sm" type="submit" data-style="expand-left" *ngIf="view_facturas"><i class="fa fa-save"></i> Finalizar</button>

							<!--<button class="btn bg-gradient-secondary mr-1 btn-sm" type="button" (click)="btnImprimirRecibo()"
						[disabled]="printer_recibo" data-style="expand-left" *ngIf="view_facturas"><i
							class="fa fa-print"></i> Imprimir</button>-->
						</div>
					</form>
				</div>
			</div>
		</div>

		<app-setingsnavbar></app-setingsnavbar>
		<app-footernavbar></app-footernavbar>
	</div>
