<!-- The Modal -->
<div class="modal modal-info fade" id="{{documentsModal}}" data-backdrop="static">
  <div class="modal-dialog modal-lg" style="max-width: 1326px;">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-book nav-icon"></i> Documentos</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div> 
        <!-- Modal body -->
        <div class="card">
          <div class="card-header border-transparent">
            <h3 class="card-title">Lista de documentos</h3>
        
            <div class="card-tools">
              <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#documentsRegistarModal" (click)="this.createForm()">
                <i class="fa fa-plus"></i> Registar
              </button>
              <button type="button" class=" btn btn-outline-primary btn-sm"  (click)="configService.listarDocumentos();">
                <i class="fa icon-refresh"></i> Recarregar Dados
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <app-loading></app-loading>
            <div class="table-responsive">
              <table class="table table-hover table-bordered table-striped text-center">
                <tbody>
                  <tr>
                    <th>#</th>
                    <th>Documento</th>
                    <th>Sigla</th>
                    <th>Data</th>
                    <th width="90">Acção</th>
                  </tr>
                  <tr *ngFor="let documento of configService.documents">
                    <td>{{ documento.id }}</td>
                    <td><span class="btn bg-info">{{ documento.nome }}</span></td>
                    <td>{{ documento.sigla }}</td>
                    <td>{{  documento.created_at | date: 'dd-MM-yyyy' }} </td>
                    <td>
                      <div class="btn-group">
                        <button type="button" class="btn btn-default btn-flat" data-toggle="modal" data-target="#documentsRegistarModal" (click)="editar(documento)"><i class="fa fa-edit"></i></button>
                        <button type="button" class="btn btn-default btn-flat"><i class="fa fa-trash-o"></i></button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.card-body --> 
        </div>
    </div>
  </div>
</div>







<!-- The Modal -->
<div class="modal modal-info fade" id="documentsRegistarModal" data-backdrop="static">
  <div class="modal-dialog modal-lg " style="max-width: 900px;">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-book nav-icon"></i> {{ title_modal }} Documento</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <form [formGroup]="docsRegistarForm" (submit)="onSubmit();">
        <!-- Modal body -->
        <div class="modal-body"> 
          <app-loading></app-loading>

          <div class="row"> 

            <div class="col-md-6">
              <div class="form-group">
                <label class="col-form-label" for="nome">Nome</label>
                <input class="form-control" id="nome" type="text" formControlName="nome"
                  placeholder="Nome do documento, Ex: FACTURA" autocomplete="given-name" required autofocus
                  [ngClass]="{ 'is-invalid': submitted && f.nome.errors, 'is-valid': f.nome.touched && !f.nome.errors }" />
                <div *ngIf="submitted && f['nome'].errors" class="invalid-feedback">
                  <div *ngIf="f['nome'].errors.required">O campo Nome é obrigatório</div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="col-form-label" for="sigla">Sigla</label>
                <input class="form-control" id="sigla" type="text" formControlName="sigla"
                  placeholder="Nome do sigla, Ex: FT" autocomplete="given-name" required autofocus
                  [ngClass]="{ 'is-invalid': submitted && f.sigla.errors, 'is-valid': f.sigla.touched && !f.sigla.errors }" />
                <div *ngIf="submitted && f['sigla'].errors" class="invalid-feedback">
                  <div *ngIf="f['sigla'].errors.required">O campo Sigla é obrigatório</div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="btn btn-danger btn-sm" type="reset" [disabled]="docsRegistarForm.pristine && !submitted" (click)="onReset()">Limpar</button>
          <button class="btn btn-success btn-sm mr-1" type="submit" [disabled]="docsRegistarForm.valid">Validar</button>
          <button class="btn btn-primary mr-1 btn-sm" type="submit"
            [disabled]="docsRegistarForm.pristine || docsRegistarForm.invalid" data-style="expand-left"><i class="fa fa-save"></i>
            Registar</button>
        </div>
      </form>
    </div>
  </div>
</div>