
<section class="content">
  <div class="row">

    <div class="col-lg-12 col-12">
      <div class="modall modal-info fadee" data-backdrop="static">
        <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
          <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">

            <div class="modal-header"><h4 class="modal-title">Processar Facturação</h4></div>

            <div class="modal-body">
              <div class="row">

                <div class="col-md-3 col-xs-3">
                  <div class="form-group">
                    <select name="roteiro" class="form-control" (change)="_getRoteirosByRotaId($event.target.value)">
                      <option value="0" selected>Selecionar rota</option>
                      <option *ngFor="let rota of rotas" [value]="rota.id">{{ rota.descricao }}</option>
                    </select>
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-lg-12 col-12">
                  <div class="modall modal-info fadee" data-backdrop="static">
                    <div class="modal-dialog" style="max-width: 100%;">
                      <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">

                        <div class="card-header">
                          <h3 class="card-title" *ngIf="rota">
                            <span class="mr-2">{{rota.descricao}} - </span>
                            <span class="mr-2">De {{rota.data_inicio}} à {{rota.data_fim}} </span>
                          </h3>
                          <div class="card-tools">
                            <button (click)="_initProcess()" [disabled]="!rotas.length" type="button" class="btn btn-info btn-flatt mr-1 btn-smm" type="button">
                              <i class="fa fa-save"></i> Facturar ...
                            </button>
                          </div>
                        </div>

                        <div class="modal-body">
                          <div class="table-responsivee">
                            <ngx-loading [show]="loading"></ngx-loading>


                            <table class="table table-hover table-bordered table-stripedd text-center m-0" *ngIf="charges.length;else emptyList">
                              <tbody>
                                <tr style="color: #fff; background: #0099FF;">
                                  <th>#</th>
                                  <th>CIL</th>
                                  <th>Cliente</th>
                                  <th>Tarifário</th>

                                  <th>Data da Última Leitura</th>
                                  <th>Última Leitura</th>

                                  <th>Data da Leitura</th>
                                  <th>Leitura</th>
                                  <th>Consumo</th>
                                </tr>
                                <tr *ngFor="let item of charges; index as i" [style.background-color]="item.nao_leitura ? '#ff000024': '#ffffff'" >
                                  <td>{{ i + 1 }}</td>
                                  <td>{{ item.cil }}</td>
                                  <td>{{ item.cliente }}</td>
                                  <td>{{ item.tarifario_descricao }}</td>

                                  <td>{{ item.data_ultima_leitura | date: 'dd-MM-yyyy' }}</td>
                                  <td>{{ item.nao_leitura ? 'Não leitura' : item.ultima_leitura  }}</td>

                                  <td>{{ item.data_leitura | date: 'dd-MM-yyyy' }}</td>
                                  <td>{{ item.nao_leitura ? 'Não leitura' : item.leitura  }}</td>
                                  <td>{{ item.consumo }}</td>
                                </tr>
                              </tbody>
                            </table>

                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>



<ng-template #emptyList>
  <div align="center">
    <h2>Sem resultados</h2>
    <span></span>
  </div>
</ng-template>
