<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><i class="fa fa-file-text-o"></i> Produto Classe Tarifário</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <!--   <li class="breadcrumb-item"><a href="#">Configuração</a></li> -->
              <li class="breadcrumb-item active">Produto Classe Tarifário</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

      <div class="row">

        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title"> Filtro de Dados</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <div class="row">


                    <div class="col-md-1 col-xs-3">
                      <div class="form-group">
                        <!--<label style="color: #fff;">Entrada</label>-->
                        <select name="perPage" (change)="getPageFilterData($event)"
                          [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
                          <option value="5" selected>Entrada</option>
                          <option value="5">5</option>
                          <option value="10">10</option>
                          <option value="15">15</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                        </select>
                      </div>
                      <!-- /.input group -->
                    </div>


                    <div class="col-md-5 col-xs-3">
                      <div class="form-group">
                        <input type="text" name="search" [(ngModel)]="this.http.filters.search" class="form-control"
                          (keyup)="getPageFilterData($event)" placeholder="Pesquisar..." class="form-control">
                        <i class="fa fa-search"
                          style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                        <!-- <small>Pesquisar por Slug</small> -->
                      </div>
                      <!-- /.input group -->
                    </div>


                    <div class="col-md-1 col-xs-3">
                      <div class="form-group">
                        <select name="orderBy" (change)="getPageFilterData($event)"
                          [(ngModel)]="this.http.filters.orderBy" class="form-control">
                          <option [ngValue]="null">Ordernar</option>
                          <option value="descricao">Descrição</option>
                          <option value="produto_classe_tarifarios.created_at">Data</option>
                        </select>
                      </div>
                      <!-- /.input group -->
                    </div>


                    <div class="col-md-1 col-xs-3">
                      <div class="form-group">
                        <div class="input-group">
                          <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-flat mr-1 btn-smm" type="button"
                              (click)="getPageFilterData($event)"><i class="fa fa-search"></i> Filtrar</button>


                          </div>
                        </div>
                        <!-- /.input group -->
                      </div>
                    </div>


                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <app-loading></app-loading>
                <div class="modal-header">
                  <h4 class="modal-title">Listagem de Produto Classe Tarifário</h4>
                  <div class="card-tools">
                    <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-toggle="modal"
                      data-target="#newModal" (click)="ini(); getTarifarios();"><i class="fa fa-plus"></i> Registar</button>
                  </div>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <!-- /.card-body -->
                  <div class="table-responsivee">


                    <ngx-loading [show]="loading"></ngx-loading>

                    <table class="table table-hover table-bordered table-stripedd text-center m-0 exportAsXLSXCliente">

                      <tr style="color: #fff; background: #0099FF;">
                        <th width="60">#</th>
                        <th width="550">Tarifário</th>
                        <th width="550">Produto</th>
                        <th width="550">Descrição</th>
                        <th width="550">Valor Fixo</th>
                        <th width="550">Valor Variável</th>
                        <th width="550">Consumo Mínimo</th>
                        <th width="550">Consumo Máximo</th>
                      <!--   <th width="5">Acção</th> -->
                      </tr>
                      <tr
                        *ngFor="let item of items | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                        <td>{{ i + 1}}</td>
                        <td>{{ item.tarifario }}</td>
                        <td>{{ item.produto }}</td>
                        <td>{{ item.descricao }}</td>
                        <td>{{ configService.numberFormat(item.valor_fixo )}}</td>
                        <td>{{ configService.numberFormat(item.valor )}}</td>
                        <td>{{ item.consumo_minimo }}</td>
                        <td>{{ item.consumo_maximo }}</td>


                       <!--  <td>
                          <div class="btn-group btn-block">
                            <button type="button" class="btn btn-info btn-flat btn-sm btn-block"
                              data-toggle="dropdown">Opções</button>
                            <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown"
                              aria-expanded="false">
                              <span class="caret"></span>
                              <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                              style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(67px, 38px, 0px);">

                              <a href="javascript:void(0)" class="dropdown-item btn-sm"
                                (click)="refresh(item.id, item.classe_tarifario_id, item.produto_id, item.valor); getClasseTarifariobyTarifario(item.tarifario_id)"
                                data-widget="chat-pane-toggle" data-toggle="modal" data-target="#editarModal"> <i
                                  class="fa fa-edit"></i> Editar
                              </a>

                            </div>
                          </div>
                        </td> -->



                      </tr>
                      </tbody>
                    </table>


                  </div>
                </div>
                <div class="card-footer clearfix">
                  <div class="row">
                    <div class="col-sm-12 col-md-5">
                      <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                        {{this.http.filters.pagination.perPage}} de
                        {{this.http.filters.pagination.total}} Registos
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                      <div class="pull-right">
                        <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior"
                          maxSize="6" nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- /.content -->

    <!-- The Modal -->
    <div class="modal modal-info fade" id="newModal" data-backdrop="static">
      <div class="modal-dialog modal-lg" style="max-width: 935px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-file-text-o"></i> Novo</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <app-loading></app-loading>
          <form (submit)="register($event)">
            <div class="modal-body">
              <app-alert></app-alert>
              <!-- <div class="row"> -->
                <div class="row">

                  <div class="col-md-6">
                    <label class="control-label"> Tarifário</label>
                    <select class="form-control" [(ngModel)]="produtoclasseTarifario.tarifario_id" (change)="classeTarifarioBytarifario()" name="id">
                      <option [value]="null" selected>{{ carregando.tarifario }}</option>
                      <option value="{{ item.id }}" *ngFor="let item of tarifarios ">
                        {{ item.descricao }}
                      </option>
                    </select>
                  </div>

                  <div class="col-md-6">
                    <label class="control-label"> Classe Tarifário</label>
                    <select class="form-control" [(ngModel)]="produtoclasseTarifario.classe_tarifario_id" name="id">
                      <option [value]="null" selected>{{ carregando.classeTarifario }}</option>
                      <option value="{{ item.id }}" *ngFor="let item of classeTarifarios">
                        Desc: {{ item.descricao }} Valor: {{ item.valor }} C.Minímo: {{ item.consumo_minimo }} C.Máximo: {{ item.consumo_maximo }}
                      </option>
                    </select>
                  </div>

       
                  <!--<div class="col-md-12">
                    <label class="control-label"><i class="fa fa-edit"></i> Produto</label>

                     <ng-multiselect-dropdown-angular7 class="col-md-12"
                     [placeholder]="'Produtos'"
                     [data]="produtos" 
                     [settings]="dropdownSettings"
                     (onSelect)="onItemSelect($event)" 
                     (onSelectAll)="onSelectAll($event)">
                    </ng-multiselect-dropdown-angular7> 
                  </div> -->

                <br/>
                <br/>
                <br/>
                <br/>


                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label"> Produto</label>
                      <select class="form-control" [(ngModel)]="produtoclasseTarifario.produto_id" (change)="ValorByProduto()" name="produto">
                        <option [value]="null" selected>{{loadingData.produto}}</option>
                        <option value="{{ item.id }}" *ngFor="let item of produtos ">
                          {{ item.nome }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label"> Valor Fixo</label>
                      <input type="text" class="form-control" placeholder="Valor Fixo"
                        [(ngModel)]="produtoclasseTarifario.valor_fixo" name="valor_fixo">
                    </div>
                  </div>


                  <!-- /.card-body -->
                </div>
              </div>
       <!--      </div> -->
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"> Fechar</button>
              <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
            </div>
          </form>

        </div>
      </div>
    </div>


    <!-- The Modal -->
    <div class="modal modal-info fade" id="editarModal" data-backdrop="static">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-edit"></i> Editar</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <app-loading></app-loading>
          <form (submit)="editar($event)">
            <div class="modal-body">
              <app-alert></app-alert>
              <div class="col-md-12">
                <div class="card card-default">

                  <!-- /.card-header -->
                  <div class="card-body" style="padding: 9px;"><br>
                    <div class="row">

                      <div class="col-md-12">
                        <label class="control-label"><i class="fa fa-edit"></i> Tarifário</label>
                        <select class="form-control" [(ngModel)]="produtoclasseTarifario.tarifario_id" name="id">
                          <option [value]="null" selected>Selecione o Tarifário</option>
                          <option value="{{ item.id }}" *ngFor="let item of tarifarios ">
                            {{ item.valor }}
                          </option>
                        </select>
                      </div>

                      <div class="col-md-12">
                        <label class="control-label"><i class="fa fa-edit"></i> Classe Tarifário</label>
                        <select class="form-control" [(ngModel)]="produtoclasseTarifario.classe_tarifario_id" name="id">
                          <option [value]="null" selected>Selecione o Valor da Classe Tarifário</option>
                          <option value="{{ item.id }}" *ngFor="let item of classetarifarios ">
                            {{ item.valor }}
                          </option>
                        </select>
                      </div>

                      <div class="col-md-12">
                        <label class="control-label"><i class="fa fa-edit"></i> Produto</label>
                        <select class="form-control" [(ngModel)]="produtoclasseTarifario.produto_id" name="id">
                          <option [value]="null" selected>Selecione o Produto</option>
                          <option value="{{ item.id }}" *ngFor="let item of produtos ">
                            {{ item.nome }}
                          </option>
                        </select>
                      </div>


                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"> Fechar</button>
              <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>


</div>


<app-setingsnavbar></app-setingsnavbar>
<app-footernavbar></app-footernavbar>