<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Projectos</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Operações</a></li>
              <li class="breadcrumb-item active">Projectos</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Listar Projectos</h3>
              <div class="card-tools">
                <button class=" btn btn-primary btn-sm"><i class="fa fa-arrow-left"></i> Voltar</button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="refreshData()"><i
                    class="icon-refresh"></i>
                  Recarregar Dados</button>

                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#novoModal"><i
                    class="fa fa-plus"></i> Novo</button>
                <button type="button" class="btn btn-outline-default btn-sm"><i class="icon-printer"></i>
                  Imprimir</button>

              </div>
            </div>
          </div>

          <div class="card">
            <app-loading></app-loading>
            <div class="card-header">
              <h3 class="card-title">Listar Projectos</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsivee">
              <div class="row">
                <div class="col-1">
                  <select (change)="mostrarResultados()" #mostrarResultado class="form-control">
                    <option value="5">Entrada</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                  </select>
                </div>
                <div class="col-md-5">
                  <input type="text" value="" #search placeholder="Pesquisar..." class="form-control"
                    (keyup)="searchDados($event)">
                  <i class="fa fa-search"
                    style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                </div>
                <div class="col-2">
                  <select (change)="searchDados($event)" #orderBy class="form-control">
                    <option value="projectos.created_at">Adicionar filtro</option>
                    <option value="projectos.descricao">Projecto</option>
                  </select>
                </div>
              </div>
              <br>
              <table class="table table-hover table-bordered table-striped text-center" style="font-size:12px">
                <tbody>
                  <tr style="background: #dee2e6;">
                    <th>Código do Projecto</th>
                    <th style=" width: 483px;">Projecto</th>
                    <th>Morada Projecto</th>
                    <th>Muncipio</th>
                    <th>Provincia</th>
                    <th>Telefone</th>
                    <th>Valor Orçamental</th>
                    <th>Data Inicio</th>
                    <th>Data Fim</th>
                    <th>Acção</th>
                  </tr>
                  <tr *ngFor="let projecto of projectos; index as i">
                    <td>{{(i+1)}}</td>
                    <td style="text-align: justify">{{ projecto.descricao }}</td>
                    <td>{{ projecto.morada_projecto }}</td>
                    <td>{{ projecto.municipio }}</td>
                    <td>{{ projecto.provincia }}</td>
                    <td>{{ projecto.telefone }}</td>
                    <td> {{ configService.numberFormat(projecto.custo_total) }}</td>
                    <td>{{ projecto.data_inicio | date: 'dd-MM-yyyy' }}</td>
                    <td>{{ projecto.data_fim | date: 'dd-MM-yyyy' }}</td>

                    <td>
                      <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#novoModal" (click)="refreshProjecto(projecto.id)"><i class="fa fa-edit"></i> Editar</button>
                      <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal"
                        (click)="refreshProjecto(projecto.id)"><i class="fa fa-trash"></i> Eliminar</button>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalSerieProjecto"
                          (click)="refreshProjecto(projecto.id); listarSeriesProjecto()"><i class="fa fa-book"></i> Series</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer clearfix">
              <div class="row">
                <div class="col-sm-12 col-md-5">
                  <div class="dataTables_info">Mostrando de {{pagination.page}} a {{pagination.perPage}} de
                    {{pagination.total}} Projectos
                  </div>
                </div>
                <div class="col-sm-12 col-md-7">
                  <div class="dataTables_paginate paging_simple_numbers">
                    <ul class="pagination" style="float: right;">
                      <li class="page-item"><a href="javascricpt:void(0)" class="page-link">Anterior</a></li>
                      <div *ngFor="let page of pages">
                        <li class="page-item active" *ngIf="(page == pagination.page)"><a href="javascricpt:void(0)"
                            (click)="refreshPaginate(page)" title="{{ page }}" class="page-link">{{ page }}</a></li>

                        <li class="page-item " *ngIf="(page != pagination.page)"><a href="javascricpt:void(0)"
                            (click)="refreshPaginate(page)" title="{{ page }}" class="page-link">{{ page }}</a></li>
                      </div>
                      <li class="page-item"><a href="javascricpt:void(0)" class="page-link">Próximo</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->

    <!-- The Modal -->
    <div class="modal modal-info fade" id="novoModal">
      <div class="modal-dialog " style="max-width: 60%;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-edit"></i> Registar novo projecto</h4>
            <button type="button" (click)="closeModal()" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->

          <form (submit)="createOrUpdate($event)">
            <div class="modal-body">
              <app-loading></app-loading>
              <app-alert></app-alert>

                <div class="row">
                  <!--<div class="col-md-3">
                    <div class="form-group">
                      <label>Serie</label>
                      <select class="form-control" [(ngModel)]="projecto.serie_id" name="serie_id">
                        <option [value]="null">SERIE</option>
                        <option value="{{ serie.id }}" *ngFor="let serie of series">
                          Serie: {{ serie.nome }} - {{ serie.documento }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Cliente</label>
                      <select class="form-control" [(ngModel)]="projecto.cliente_id" name="cliente_id">
                        <option selected [value]="null">CLIENTE</option>
                        <option value="{{ cliente.id }}" *ngFor="let cliente of clientes">{{ cliente.nome }} -
                          {{ cliente.nome }}
                        </option>
                      </select>
                    </div>
                  </div>-->
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="control-label">Projecto</label>
                        <textarea class="form-control" rows="2"  name="descricao" [(ngModel)]="projecto.descricao"  placeholder="Breve descrição sobre o projecto"></textarea>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="control-label">Telefone/Fax</label>
                      <input type="number" name="telefone" [(ngModel)]="projecto.telefone" class="form-control" placeholder="Telefone/Fax">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="control-label">Valor Orçamental</label>
                      <input type="number" name="custo_total" [(ngModel)]="projecto.custo_total" class="form-control"
                        placeholder="Proximo Número">
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label class="control-label">Data Inicio</label>
                      <input type="date" name="data_inicio" [(ngModel)]="projecto.data_inicio" class="form-control" >
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label class="control-label">Data Fim</label>
                      <input type="date" name="data_fim" [(ngModel)]="projecto.data_fim" class="form-control" >
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="control-label">Morada do Projecto</label>
                      <input type="text" name="morada_projecto" [(ngModel)]="projecto.morada_projecto" class="form-control" placeholder="Morada do projecto">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="control-label">Muncipio</label>
                      <input type="text" name="municipio" [(ngModel)]="projecto.municipio" class="form-control" placeholder="Municipio">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="control-label">Provincia</label>
                      <input type="text" name="provincia" [(ngModel)]="projecto.provincia" class="form-control" placeholder="Provincia">
                    </div>
                  </div>

                </div>

            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"> Fechar</button>
              <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
            </div>
          </form>

        </div>
      </div>
    </div>

    <!-- The Modal -->
    <div class="modal modal-info fade" id="deleteModal">
      <div class="modal-dialog " style="max-width: 50%;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-trash"></i> Eliminar projecto</h4>
            <button type="button" (click)="closeModal()" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->

          <form (submit)="delete($event)">
            <div class="modal-body">
              <app-loading></app-loading>
              <app-alert></app-alert>
              <div class="alert alert-info alert-dismissible">
                <h5><i class="icon fa fa-info"></i> Alerta!</h5>
                Tens a certeza de que desejas eliminar isto?
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"> Fechar</button>
              <button type="submit" class="btn btn-primary btn-sm">Eliminar</button>
            </div>
          </form>

        </div>
      </div>
    </div>


    <!-- -    ----------------------------------------------------------------  -->


    <!-- The Modal -->
    <div class="modal modal-info fade" id="modalSerieProjecto">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <div class="card-tools">
              <button style="margin-right: 21px;" type="button" class="btn btn-primary" data-toggle="modal"
                data-target="#modalNewSerie" (click)="listarseries()"><i class="fa fa-plus"></i></button>
            </div>

            <h4 class="modal-title"><i class="fa fa-book"></i> Lista de series de projecto </h4>

            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <app-loading></app-loading>
             <h5 style="padding: 14px; background: #0099FF; color: #ffffff;">Projecto: {{ this.projecto.descricao }}</h5>
            <table class="table table-hover table-bordered table-striped text-center">
              <tbody>
                <tr>
                  <th>#</th>
                  <th>Documento</th>
                  <th>Doc. Sigla</th>
                  <th>Serie</th>
                  <th>Número</th>
                  <th width="169">Movimento ?</th>
                  <th width="179">Tipo Movimento</th>
                  <th>Activo</th>
                  <th>Data</th>
                  <th>Acção</th>
                </tr>
                <tr *ngFor="let item of series_projecto">
                  <td>{{ item.id }}</td>
                  <td>{{ item.documento }}</td>
                  <td>{{ item.sigla }}</td>
                  <td style="background: #0099FF1f;"><span>{{ item.nome }}</span></td>
                  <td>{{ item.proximo_numero }}</td>
                  <td style="background: #ff5f6e42;" *ngIf="item.movimento == 'N'">NÃO </td>
                  <td style="background: #0099FF36;" *ngIf="item.movimento == 'S'">SIM </td>
                  <td style="background: #28a74536;" *ngIf="item.tipo_movimento == 'S'">SAIDA </td>
                  <td style="background: #28a74536;" *ngIf="item.tipo_movimento == 'E'">ENTRADA </td>
                  <td style="background: #ffc10726;" *ngIf="item.tipo_movimento == null"> - </td>
                  <td>
                    <span *ngIf="item.activo == 1" class="badge badge-info">SIM</span>
                    <span *ngIf="item.activo == 0" class="badge badge-danger">NÃO</span>
                  </td>
                  <td>
                    {{item.created_at | date: 'dd-MM-yyyy'}}
                  </td>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn btn-default btn-flat"><i class="fa fa-trash-o"></i></button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"> Fechar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- The Modal -->
    <div class="modal modal-info fade modal-p" id="modalNewSerie">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-plus"></i> Projecto: Adicionar serie</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <app-alert></app-alert>
            <app-loading></app-loading>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label"><i class="fa fa-edit"></i> Projecto</label>
                  <input type="text" name="nome" [(ngModel)]="projecto.descricao" disabled  class="form-control" placeholder="Projecto">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label"><i class="fa fa-edit"></i> Seire</label>
                  <div class="col-md-12">
                    Serie
                    <select class="form-control" [(ngModel)]="projecto_serie.serie_id" name="serie_id">
                      <option [value]="null" selected> Selecionar serie</option>
                      <option value="{{ serie.id }}" *ngFor="let serie of series">
                        Serie: {{ serie.nome }} - {{ serie.documento }}
                      </option>
                    </select>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"> Fechar</button>
            <button type="button" class="btn btn-primary btn-sm" (click)="createOrSerieProjecto()">Salvar</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>
