

.unig-logo {
    width: 100%;
}


.unig-logo img {
    height: 40px;
    margin: 0;
    padding: 0;
}

#logout-btn {
    font-size: 45px;
    margin-top: -30px;
}

#logout-btn:hover {
    cursor: pointer;
}