<ngx-spinner bdOpacity=0.4 bdColor="#0099FF" size="large" color="#fff" type="ball-scale-multiple" fullScreen="true">
  <div align="center" style="height: 120px; margin-top: -400px; margin-bottom: 50px;">
    <img src="assets/dist/img/unig_white.png">
  </div>
  <p style="color:white; font-size: 22px"> Carregando... </p>
</ngx-spinner>
<nav class="main-header navbar navbar-expand border-bottom navbar-dark bg-info">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
    </li>
  </ul>

  
  <div class="unig-logo" align="center">
    <img src="assets/dist/img/unig_white.png">
  </div>


  <ul class="navbar-nav ml-auto">
    <!-- Messages Dropdown Menu -->
    
    <!-- Notifications Dropdown Menu -->  
    
    <li class="nav-item dropdown">
      <div class="user-panel d-flex">
        <div class="image">
          <img src="assets/dist/img/user_image.png" class="img-circle elevation-0" alt="User Image">
        </div>
        <div class="info">
          <!--<a href="#" class="d-block">{{ details?.nome }}</a>-->
          <a href="javascript:void(0)"
            routerLink="/config/controle-acesso/utilizador/perfil/{{currentUser.user.id}}/{{currentUser.user.nome.replace(' ','.') | titlecase}}"
            routerLinkActive="active"><span>{{currentUser.user.nome | titlecase}}</span></a>
        </div>
      </div>
      
    </li>
  
    <li class="nav-item">
      <a id="logout-btn" (click)="logout()" class="nav-link" data-toggle="dropdown" aria-expanded="false">
        <i  class="fa fa-sign-out" title="Sair"></i>
      </a>
    </li>
  </ul>
 
</nav>
 