<style>
  .form-group {
    margin-bottom: 0;
  }

</style>
<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Artigos</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Operações</a></li>
              <li class="breadcrumb-item active">Artigo</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div *ngIf="alert.show" class="col-md-12">
              <div class="alert {{ alert.class }} alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fa fa-ban"></i> Alerta!</h5>
                {{alert.message}}
              </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-7">
              <div class="card card-info card-outline">
                <div #loadding class="overlay d-none">
                  <i class="fa fa-spinner fa-spin text-danger" aria-hidden="true"></i>
                </div>
                <div class="card-header">
                  <h3 class="card-title">Registo de Artigo</h3>
                </div>
                <form (submit)="register($event)">
                  <!-- /.card-header -->

                  <div class="card-body" style="display: block;padding: 5px 21px;">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="control-label"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i> Tipo</label>
                              <select class="form-control" [(ngModel)]="produto.tipo" name="first" (change)="showBarcode()">
                                <option [value]="null">Tipo</option>
                                <option *ngFor="let o of options">
                                  {{o.name}}
                                </option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-8">
                            <div class="form-group">
                              <label class="control-label"><i class="fa fa-th"></i> Nome</label>
                              <input type="text" #nome [(ngModel)]="produto.nome" name="nome" class="form-control"
                                id="nome" placeholder="Artigo">
                            </div>
                          </div>
                          
                        </div>

                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="control-label"><i class="fa fa-money"></i> Valor</label>
                              <input type="number" #valor [(ngModel)]="produto.valor" name="valor" class="form-control" id="valor"
                                placeholder="Valor Unitario">
                            </div>
                          </div>
                          <div class="col-md-4" *ngIf="barcode">
                            <div  class="form-group has-warning">
                              <label class="control-label" for="barcode"><i class="fa fa-barcode"></i> Código de
                                Barra</label>
                              <input type="text" class="form-control" [(ngModel)]="produto.barcode" name="barcode"
                                placeholder="Código de Barra">
                            </div>
                          </div>
                          <div *ngIf="barcode" class="col-md-4">
                            <div class="form-group">
                              <label class="control-label"><i class="fa fa-pie-chart"></i> Quantidade</label>
                              <input type="number" #quantidade [(ngModel)]="produto.quantidade" name="quantidate"
                                class="form-control" id="quantidade" placeholder="Quantidade">
                            </div>
                          </div>


                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="control-label">Selecionar Impostos</label>
                              <select class="form-control" #imposto [(ngModel)]="produto.imposto" name="imposto">
                                <option [value]="null">Seleciona o Imposto</option>
                                <option *ngFor="let i of imponstos" [value]="i.id">
                                  {{i.descricao}} - {{i.valor}}
                                </option>
                              </select>
                            </div>
                          </div>
                          
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="control-label">Selecionar moeda</label>
                              <select class="form-control" [(ngModel)]="produto.moeda_id" name="moeda_id">
                                <option [value]="null">Selecione a moeda</option>
                                <option *ngFor="let i of configService.moedas" [value]="i.id">
                                  {{i.nome}}
                                </option>
                              </select>
                            </div>
                          </div>
                          
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="control-label">Executar Trigger?</label>
                              <select class="form-control" [(ngModel)]="produto.is_trigger" name="moeda_id">
                                <option [value]="null">Selecione o estado</option>
                                <option value="0">Não</option>
                                <option value="1">Sim</option>
                              </select>
                            </div>
                          </div>

                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="control-label"><i class="fa fa-home" aria-hidden="true"></i> Observacao</label>
                              <textarea [(ngModel)]="produto.observacao" name="observacao" value="" class="form-control" id="observacao"
                                placeholder="Observação"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                      

                    </div>
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer clearfix">
                    <button type="submit" class="btn btn-sm btn-success float-right">Submeter</button>
                    <a href="javascript:void(0)" (click)="generateAlert()"
                      class="btn btn-sm btn-danger float-right">Limpar</a>
                  </div>
                </form>
                <!-- /.card-footer -->
              </div>
              <!-- /.card -->
            </div>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-7" *ngIf="adidcionado">
                  <div class="card card-primary card-outline">
                    <div class="card-header">
                      <h3 class="card-title">
                        <i class="fa fa-bullhorn"></i>
                        Produtos adicionados
                      </h3>
                      <div class="card-tools">
                        <button type="button" class="btn btn-tool text-primary">
                          <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-tool text-danger">
                          <i class="fa fa-trash"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-widget="remove">
                          <i class="fa fa-times"></i>
                        </button>
                      </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                      <table class="table">
                        <tbody>
                          <tr>
                            <th>Nome</th>
                            <th>Valor</th>
                            <th>Quantidade</th>
                            <th>Código de Barra</th>
                            <th>Tipo</th>
                            <th>Observação</th>
                          </tr>
                          <tr *ngFor="let item of items">
                            <td>{{ item.nome }}</td>
                            <td>{{ item.valor }}</td>
                            <td>{{ item.quantidade }}</td>
                            <td>{{ item.barcode }}</td>
                            <td>{{ item.tipo }}</td>
                            <td>{{ item.observacao }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                
                </div>
            </div>
            


          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
    </section>
    <!-- /.content -->
  </div>
  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>
