<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Inventariação</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Inventarios</a></li>
              <li class="breadcrumb-item">Gestão de Stock</li>
              <li class="breadcrumb-item active">Inventariação</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <img id='itf' />
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <!-- /.card-header -->
            <div class="card-body" style="padding: 13px 10px 4px 10px;">
              <div class="row">
                <div class="col-2">
                  <select (change)="mostrarResultados()" #mostrarResultado class="form-control">
                    <option value="5">Mostrar Resultados</option>
                    <option value="5">5 - resultados</option>
                    <option value="10">10 - resultados</option>
                  </select>
                  <small>Mostrar resultados</small>
                </div>
                <div class="col-md-5">
                  <input type="text" value="" #search placeholder="Pesquisar..." class="form-control"
                    (keyup)="searchStockMovimento($event)">
                  <i class="fa fa-search"
                    style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                  <small>Pesquisar </small>
                </div>
                <div class="col-2">
                  <input type="date" class="form-control" #searchData placeholder="Número">
                  <small>Data da facturação</small>
                </div>
                <div class="col-2">
                  <select (change)="searchStockMovimento($event)" #orderBy class="form-control">
                    <option value="stoke_movimentos.created_at">Ordernar por</option>
                    <option value="stoke_movimentos.created_at">Data Facturação</option>
                  </select>
                  <small>Ordernação</small>
                </div>
                <div class="col-1">
                  <button type="button" class="btn btn-block btn-info  "><i class="fa fa-search"></i>
                    Filtrar</button>
                </div>
              </div>
            </div>
          </div>


          <div class="card">
            <app-loading></app-loading>
            <div class="card-header">
              <h3 class="card-title">Inventarios</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newInventario"><i
                    class="fa fa-plus"></i> Registar Inventariação</button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsivee p-0">
              <table class="table table-hover table-bordered table-striped text-center">
                <tbody>
                  <tr>

                    <th>Tipo Doc.</th>
                    <th>Documento</th>
                    <th>Artigo</th>
                    <th>Quantidade</th>
                    <th>Movimento</th>
                    <th>Armazem</th>
                    <th>Data</th>
                    <th>Acção</th>
                  </tr>
                  <tr *ngFor="let movimento of movimentos">
 
                    
                    <td>{{ movimento.tipo_doc }}</td>
                    <td>{{ movimento.documento }}</td>
                    <td>{{ movimento.produto }}</td>
                    <td>{{ movimento.quantidade }}</td>
                    <td>
                      <span class="btn btn-block" *ngIf="movimento.movimento =='S'">SAIDA</span>
                      <span class="btn btn-block" *ngIf="movimento.movimento =='E'">ENTRADA</span>
                    </td>
                    <td><span class="btn btn-block" *ngIf="movimento.armazem ==null">--------</span>
                      {{ movimento.armazem }} </td>
                    <td>{{ movimento.created_at | date: 'dd-MM-yyyy' }} </td>


                    <td> </td> 
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer clearfix">
              <div class="row">
                <div class="col-sm-12 col-md-5">
                  <div class="dataTables_info">Mostrando de {{pagination.page}} a {{pagination.perPage}} de
                    {{pagination.total}} Facturações
                  </div>
                </div>
                <div class="col-sm-12 col-md-7">
                  <div class="dataTables_paginate paging_simple_numbers">
                    <ul class="pagination" style="float: right;">
                      <li class="page-item"><a href="javascricpt:void(0)" class="page-link">Anterior</a></li>
                      <div *ngFor="let page of pages">
                        <li class="page-item active" *ngIf="(page == pagination.page)"><a href="javascricpt:void(0)"
                            (click)="refreshPaginate(page)" title="{{ page }}" class="page-link">{{ page }}</a></li>

                        <li class="page-item " *ngIf="(page != pagination.page)"><a href="javascricpt:void(0)"
                            (click)="refreshPaginate(page)" title="{{ page }}" class="page-link">{{ page }}</a></li>
                      </div>
                      <li class="page-item"><a href="javascricpt:void(0)" class="page-link">Próximo</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->

    <!-- The Modal -->
    <!-- The Modal -->
    <div class="modal modal-info fade" id="newInventario">
      <div class="modal-dialog modal-lg" style="max-width: 1300px;">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-plus"></i> Registar Inventariação</h4>
            <button type="button" (click)="closeModal()" class="close" data-dismiss="modal">&times;</button>
          </div>
    
          <!-- Modal body -->
          <app-loading></app-loading> 
            <div class="modal-body">
              <app-alert></app-alert>
              <div class="col-md-12">
                <div class="card card-default inv">
                  <div class="card-header">
                    <h3 class="card-title">Dados da Inventariação</h3> 
                    <!-- /.card-tools -->
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body" style="padding: 9px;"><br>
                    <div class="row">
                      <div class="col-md-6">
                        <!-- /.card -->
                        <div class="card card card-widget">
                          <div class="card-header">
                            <div class="user-block">
                              <div class="col-md-12"> 
                                <select class="form-control" #serie (change)="refreshSerieId()">
                                  <option [value]="null" selected >Selecionar serie</option>
                                  <option value="{{ serie.id }}" *ngFor="let serie of series">
                                    Serie: {{ serie.nome }} - {{ serie.documento }}
                                  </option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <!-- /.card-header --> 
                          <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                        <!-- /.card -->
                        <div class="card card card-widget">
                          <div class="card-header">
                            <div class="user-block">
                              <div class="col-md-12">
                                <input type="text" value="" #search placeholder="Nome do produto" class="form-control"
                                  (keyup)="getProduto($event)">
                                <i class="fa fa-search" style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                                <small>Digite o nome do produto</small>
                              </div>
                            </div>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body p-0" *ngIf="items_produtos">
                            <app-loading></app-loading>
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th class="col-md-8">Nome</th>
                                  <th class="col-md-2">Valor</th>
                                  <th class="col-md-2">Acção</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let produto of items_produtos">
                                  <td>{{ produto.nome }}</td>
                                  <td>{{ produto.valor }}</td>
                                  <th><button class="btn btn-block btn-outline-primary btn-sm" *ngIf="produto.id" data-toggle="modal"
                                      data-target="#myModal" (click)="refreshProdutoId(produto.id)">
                                      <i class="fa fa-plus"></i></button>
                                  </th>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                      </div>
                    
                      <div class="col-md-6">
                        <div class="card card-default">
                          <div class="card-header">
                            <h3 class="card-title">Produtos selecionados</h3>
                    
                            <!-- /.card-tools -->
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body">
                            <div style="height: 273px; overflow: auto;">
                              <table class="table table-hover table-bordered table-striped text-center">
                                <tbody>
                                  <tr>
                                    <th width="100">#</th>
                                    <th width="368">Produto</th>
                                    <th width="125">Qtd</th>
                                    <th width="137">Valor</th>  
                                    <th style="width: 16%;">Acção</th>
                                  </tr>
                                  <tr *ngFor="let produt of produts; index as i">
                                    <td>{{i+1}}</td>
                                    <td>{{ produt.nome }}</td>
                                    <td>{{ produt.quantidade }}</td>
                                    <td>{{ configService.numberFormat(produt.valor) }}</td>  
                                    <td>
                                      <div class="btn-group">
                                        <button class="btn" id="remove" (click)="deleteRow(produt.id)">Exluir</button>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div> 
                          </div>
                          <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"> Fechar</button>
              <button type="submit" class="btn btn-primary btn-sm" (click)="register()">Registar</button>
            </div> 
    
        </div>
      </div>
    </div>
  </div>
  <!-- The Modal -->
  <div class="modal modal-info fade in" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Quantidade do produto</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <div class="form-group">
            <label for="exampleInputEmail1">Quantidade</label>
            <input type="number" class="form-control" id="exampleQunatidade" placeholder="Quantidade" #qtd>
          </div> 
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-outline-primary btn-sm" data-dismiss="modal"
            (click)="getAddProduto()">Adicionar</button>
        </div>
  
      </div>
    </div>
  </div>
  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>