<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>

  <div class="content-wrapper" style="min-height: 768px;">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Reporting & BI</h1>
          </div><!-- /.col -->

          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
              <li class="breadcrumb-item active">Reporting & BI</li>
            </ol>
          </div><!-- /.col -->

        </div>
      </div>
    </div>

    <section class="content">
      <!-- 
      <app-chart-report></app-chart-report>
      -->
      <div class="content">
        <div class="row">

          <div class="col-md-4">
            <h3 class="m-0" style="color: #7d8184" >Categorias</h3>
            <hr>
            <app-sidebar-reporting (ChangedMenuEmitter)="MenuReporting($event)"></app-sidebar-reporting>
          </div>

          <div class="col-md-8">
            <h3 class="m-0" style="color: #7d8184" >{{ title }}</h3>
            <hr>

            <div class="row">
              <div class="col-md-12" *ngFor="let item of itensMenu">

                <ul class="products-list product-list-in-box">
                  <li class="item">
                    <div class="product-img">
                      <i class="fa fa-line-chart icon-report"></i>
                    </div>

                    <div class="product-info">
                      <a routerLink="{{item.url}}" class="product-title">{{item.name}}</a>
                      <span class="product-description">{{ title }}</span>
                    </div>
                  </li>
                </ul>

              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
  </div>

  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>