<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Listar Recibo</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Venda</a></li>
              <li class="breadcrumb-item">Recibo</li>
              <li class="breadcrumb-item active">Listar Recibo</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="col-lg-12 col-12">
            <div class="modall modal-info fadee" data-backdrop="static">
              <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
                <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title"> Filtro de Dados</h4>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                    <div class="row">
  
  
                      <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                          <!--<label style="color: #fff;">Entrada</label>-->
                          <select name="perPage" (change)="getPageFilterData($event)"
                            [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
                            <option value="1">Entrada</option>
                            <option value="5" selected>5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                          </select>
                        </div>
                        <!-- /.input group -->
                      </div>
  
                      <div class="col-md-4 col-xs-3">
                        <div class="form-group"> 
                          <input type="text" name="search" [(ngModel)]="this.http.filters.search"
                            placeholder="Pesquisar..." class="form-control" (keyup)="getPageFilterData($event)">
                          <i class="fa fa-search"
                            style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                        </div>
                        <!-- /.input group -->
                      </div>
  
                      <div class="col-md-1 col-xs-3">
                        <div class="form-group"> 
                          <select name="orderBy" (change)="getPageFilterData($event)" [(ngModel)]="this.http.filters.orderBy" class="form-control">
                            <option [ngValue]="null">Ordernar</option>
                            <option [value]="null">Ordernar</option>
                            <option value="clientes.nome">Nome do cliente</option>
                            <option value="recibos.created_at" selected>Data Recibo</option>
                            <option value="recibos.sigla">Recibo Sigla</option>
                            <option value="recibos.total">Total Facturado</option>
                            <option value="recibos.pago">Pagamento</option>
                            <option value="recibos.status">Status</option>
                            <option value="recibos.nome">Serie</option>
                            <option value="documentos.nome">Documento</option>
                          </select>
                        </div>
                        <!-- /.input group -->
                      </div>
  
  
                      <div class="col-md-2 col-xs-3 ml-4">
                        <div class="form-group" style="float: right;"> 
                          <div class="input-group">
                            <div class="btn-group">
  
                              <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle dropdown-icon btn-flat"
                                  data-toggle="dropdown" aria-expanded="false" [disabled]="disabledButton"> <i
                                    class="fa fa-download"></i> Exportação
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start" style="left: 40px;">
                                  <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsPDF();"><i
                                      class="fa fa-file-pdf-o"></i>
                                    PDF</a>
                                  <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsXLSX();"><i
                                      class="fa fa-file-excel-o"></i> Excel</a>
                                </div>
                              </div>
                              <button type="button" class="btn btn-info btn-flat" (click)="imprimirPDF()" [disabled]="disabledButton"><i
                                  class="icon-printer"></i> Imprimir</button> 
                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>
  
  
                    </div> 
                  </div>
  
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-12 col-12">
            <div class="modall modal-info fadee" data-backdrop="static">
              <div class="modal-dialog" style="max-width: 100%;">
                <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">LISTAGEM DE RECIBOS</h4>
                  
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                    <!-- /.card-body --> 
                    <div class="table-responsivee">
  
  
                      <ngx-loading [show]="loadingListarFacturacao" ></ngx-loading>
  
                      <table class="table table-hover table-bordered table-stripedd text-center m-0 exportAsXLSXCliente">
                        <tbody>
                          <tr style="color: #fff; background: #0099FF;">
                            <th>#</th>
                            <th>Cliente</th> 
                            <th>Serie</th> 
                            <th>Doc.</th>
                            <th>Nº recibo</th>
                            <th>R. Sigla</th>
                            <th>Total</th>
                            <th>Estado</th>
                            
                            <th>Data</th>
                            <!--<th>Data Facturação</th>-->
                            <th style="width: 160px;">Acção</th>
                          </tr>
                          <tr
                            *ngFor="let recibo of recibos | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                            <td>{{i+1}}</td>
                          <td>{{ recibo.clienteNome }}</td>
                          <td>{{ recibo.serie }}</td>
                          <td>{{ recibo.sigla }} - {{ recibo.documento }}</td>
        
                          <td>{{ recibo.numero }}</td>
                          <td>{{ recibo.recibo_sigla }}</td>
        
        
                          <td>
                            {{ configService.numberFormat(recibo.total) }}
                          </td>
                          <td>
                            <span class="btn bg-danger btn-block btn-flat" *ngIf="recibo.status =='A'">Anulado</span>
                            <span class="btn bg-info btn-block btn-flat" *ngIf="recibo.status =='N'">Emitido</span>
                          </td>
                          <td>{{ recibo.created_at | date: 'dd-MM-yyyy H:m'}} </td>
        
                         
                            <!--<td style="background: rgba(0,0,0,.1);">{{ fact.created_at | date: 'dd-MM-yyyy' }} </td>-->
                            <td>
        
                              <div class="btn-group">
                                <button type="button" class="btn btn-info btn-flat btn-sm" data-toggle="dropdown">Opções</button>
                                <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown"
                                  aria-expanded="false">
                                  <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                                  style="position: absolute; will-change: transform; top: 0px; left: -58px; transform: translate3d(67px, 38px, 0px);">
          
                                  <a *ngIf="recibo.status =='N' && http.canActivateRouterLink('anular_recibo')" href="javascript:void(0)" class="dropdown-item btn-sm"
                                    (click)="setRecibo(recibo)" data-toggle="tooltip" data-widget="chat-pane-toggle"
                                    title="Anular Recibo" data-toggle="modal" data-target="#anularReciboModal"> <i
                                      class="fa fa-edit"></i> Anular Recibo
                                  </a>
          
                                  <a href="javascript:void(0)" class="dropdown-item btn-sm" (click)="btnImprimirRecibo(recibo)"
                                    data-toggle="tooltip" data-widget="chat-pane-toggle" title="Imprimir"> <i
                                      class="fa fa-print"></i> Imprimir
                                  </a>
          
                                </div>
                              </div>
                            
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <div class="row" style="width: 100%;">
                      <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                          {{this.http.filters.pagination.perPage}} de
                          {{this.http.filters.pagination.total}} Recibos
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-7">
                        <div class="pull-right">
                          <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior"
                            maxSize="6" nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                        </div>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->

    <!-- The Modal -->
    
<!-- The Modal Anular Recibo -->
<div class="modal modal-info fade in" id="anularReciboModal">
  <div class="modal-dialog modal-lg " style="max-width: 994px;">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Anular Recibo</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="alert alert-info alert-dismissible" style="border-radius: 0; font-size: 12px;margin:0">
        <h5><i class="icon fa fa-info"></i> Informação!</h5>
        O processo de anulação de um recibo consiste em especificar o motivo e a descriação da anulação, alterar o
        estado de uma factura para Anulado.
      </div>
      <div class="modal-body">
        <app-loading></app-loading>
        <app-alert></app-alert>
      </div>
      <form (submit)="anularRecibo($event)" *ngIf="this.responseCode==0">
        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12" style="padding: 10px 0;margin-bottom: 10px; border-bottom: 1px solid #eee;">
              <h5>Recibo Nº.: {{ recibo.recibo_sigla }}</h5>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <div class="row">
                  <label class="col-sm-12 control-label">Motivo da anulação</label>
                  <div class="col-sm-12">
                    <textarea class="form-control" [(ngModel)]="recibo.status_reason" name="status_reason"
                      placeholder="Escreve aqui uma breve descrição sobre motivo da anulação"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-outline-primary btn-sm">
            <i class="fa fa-adn"></i> Anular
          </button>
        </div>
      </form>


    </div>
  </div>
</div>

<!--
<div class="modal modal-info fade" id="consultarReciboModal" data-backdrop="static">
  <div class="modal-dialog nota-credito-modal-lg" style="max-width: 65%;">
    <div class="modal-content">
     
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-search"></i> Consultar Recibo</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="close()">&times;</button>
      </div>
      
      <app-loading></app-loading>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6"> 
            <div class="form-groupp">
              <div class="input-group">
                <input type="text" placeholder="Digite o nome ou a identificação do cliente" [(ngModel)]="search"
                  class="form-control" (keyup)="getCliente()">
                <div class="input-group-append">
                  <div class="input-group-text" style="background-color: transparent;"><i class="fa fa-search"></i>
                  </div>
                </div>
              </div>

              <div class="autocomplete-container" *ngIf="view_client">
                <ul>
                  <li *ngFor="let cliente of clientes">
                    <a href="javascript:void(0)" (click)="setCliente(cliente)">{{cliente.nome}}</a>
                  </li>
                </ul>
              </div>
              
            </div>
          </div>
          <div class="col-1">
            <button type="button" class="btn btn-info"> Pesquisar</button>
          </div>
        </div>
        <hr>
        <app-alert></app-alert>
        <div class="row" *ngIf="recibos.length !=0">
          <div class="col-md-12">
            <h4>Recibos</h4>
          </div>
          <div class="col-md-12" style="overflow-y: auto;height: 260px;">
            <table class="table table-hover table-bordered table-striped text-center">
              <tbody>
                <tr>
                  <th>#</th>
                  <th>Serie</th>
                  <th>Doc.</th>
                  <th>Nº recibo</th>
                  <th>R. Sigla</th>
                  <th>Total</th>
                  <th>Estado</th>
                  <th>Data</th>
                  <th style="width: 160px;">Acção</th>
                </tr>
                <tr *ngFor="let recibo of recibos; index as i">
                  <td>{{i+1}}</td>
                  <td>{{ recibo.serie }}</td>
                  <td>{{ recibo.sigla }} - {{ recibo.documento }}</td>

                  <td>{{ recibo.numero }}</td>
                  <td>{{ recibo.recibo_sigla }}</td>


                  <td>
                    {{ configService.numberFormat(recibo.total) }}
                  </td>
                  <td>
                    <span class="btn bg-danger btn-block btn-flat" *ngIf="recibo.status =='A'">Anulada</span>
                    <span class="btn bg-info btn-block btn-flat" *ngIf="recibo.status =='N'">Normal</span>
                  </td>
                  <td>{{ recibo.created_at | date: 'dd-MM-yyyy H:m'}} </td>

                  <td>

                    <div class="btn-group">
                      <button type="button" class="btn btn-info btn-flat btn-sm" data-toggle="dropdown">Opções</button>
                      <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="false">
                        <span class="caret"></span>
                      </button>
                      <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                        style="position: absolute; will-change: transform; top: 0px; left: -58px; transform: translate3d(67px, 38px, 0px);">

                        <a *ngIf="recibo.status =='N' && http.canActivateRouterLink('anular_recibo')" href="javascript:void(0)" class="dropdown-item btn-sm"
                          (click)="setRecibo(recibo)" data-toggle="tooltip" data-widget="chat-pane-toggle"
                          title="Anular Recibo" data-toggle="modal" data-target="#anularReciboModal"> <i
                            class="fa fa-edit"></i> Anular Recibo
                        </a>

                        <a href="javascript:void(0)" class="dropdown-item btn-sm" (click)="btnImprimirRecibo(recibo)"
                          data-toggle="tooltip" data-widget="chat-pane-toggle" title="Imprimir"> <i
                            class="fa fa-print"></i> Imprimir
                        </a>

                      </div>
                    </div>
                  </td>

                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
      
      <div class="modal-footer">
        <button class="btn btn-default btn-sm " type="button" data-dismiss="modal" (click)="close()"> Fechar</button>
      </div>
    </div>
  </div>
</div>

-->


  </div>

  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>