


.label-container{
	position:fixed;
	bottom:48px;
	right:105px;
	display:table;
	visibility: hidden;
}

.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

.label-arrow{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}



.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:65px;
	right:26px;
	text-align:center;
	z-index:1000;
	animation: bot-to-top 2s ease-out;

}

.float-img {
    margin-top: -20px;
    height: 80px;    
    border-radius: 8px;
}

#list-float {
	position:fixed;
	right:40px;
	padding-bottom:20px;
	bottom: 125px;
	z-index:100;
}

#list-float li{
	list-style:none;
	margin-bottom:10px;
}

#list-float li a{
	color:#FFF;
	border-radius: 50px;
	text-align: center;
	width: 70px;
	height: 70px;
	display: block;
}

#list-float:hover{
	visibility:visible!important;
	opacity:1!important;
}


.my-float{
    margin-top:18px;
    left: -50px;
    width: 80px;   
    
}

/* a#menu-share {
  visibility: hidden;
} */

a#menu-share + ul{
  visibility: hidden;
}

a#menu-share:hover + ul{
  visibility: visible;
  animation: scale-in 0.5s;
}

a#menu-share i{
    animation: rotate-in 0.5s;
        
}

a#menu-share:hover > i{
	animation: rotate-out 0.5s;
}

@keyframes bot-to-top {
    0%   {bottom:-40px}
    50%  {bottom:40px}
}

@keyframes scale-in {
    from {transform: scale(0);opacity: 0;}
    to {transform: scale(1);opacity: 1;}
}

@keyframes rotate-in {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotate-out {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
} 