


  <a href="http://www-qas.unig-erp.com/" target="_blank" class="float" id="menu-share">
    <i class="fa">
      <img src="assets/dist/img/unig.png" alt="" class="float-img" style="margin-left: -26px;">
    </i>

  </a>
  <ul id="list-float">
    <li>
      <a href="https://ideiasdinamicas.com/" target="_blank">
        <i class="fa my-float">
          <img src="assets/dist/img/logo_id.png" alt="" class="float-img" style="height: 55px">
        </i>
      </a>
    </li>
    <li>
      <a href="https://itgest.co.ao/" target="_blank">
        <i class="fa my-float">
          <img src="assets/dist/img/favicon-itgest.png" alt="" class="float-img" >
        </i>
      </a>
    </li>
  </ul>