<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Imposto de Valor Acrescentado</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Operações</a></li>
              <li class="breadcrumb-item">Relatórios </li>
              <li class="breadcrumb-item">Financeira </li>
              <li class="breadcrumb-item active">Imposto de Valor Acrescentado</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="row">

        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title"> Filtro de Dados</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <!-- /.card-body -->
                  <form [formGroup]="simpleForm" (submit)="onSubmit();">
                    <div class="row">



                      <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                          <label>Ano</label>
                          <div class="input-group">
                            <select class="form-control" formControlName="ano" autocomplete="ano" required
                              [ngClass]="{ 'is-invalid': submitted && f.ano.errors, 'is-valid': f.ano.touched && !f.ano.errors }">
                              <option value="null">Ano</option>
                              <option value="{{ n }}" *ngFor="let n of anos">{{ n }}</option>
                            </select>
                            <div *ngIf="submitted && f['ano'].errors" class="invalid-feedback">
                              <div *ngIf="f['ano'].errors.required">Ano é obrigatório</div>
                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>

                      <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                          <label>Direcção</label>
                          <div class="input-group">
                      
                            <select class="form-control" formControlName="direccao" autocomplete="direccao" required
                              [ngClass]="{ 'is-invalid': submitted && f.direccao.errors, 'is-valid': f.direccao.touched && !f.direccao.errors }">
                              <option value="null">Direcção</option>
                              <option value="T"> Todas</option>
                              <option *ngFor="let direccao of direccaos">{{direccao.designacao}}</option>
                      
                            </select>
                            <div *ngIf="submitted && f['direccao'].errors" class="invalid-feedback">
                              <div *ngIf="f['direccao'].errors.required">Direcção é obrigatório</div>
                            </div>
                      
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>

                      <div class="col-md-2 col-xs-3">
                        <div class="form-group">
                          <label>Mês</label>
                          <div class="input-group">

                            <select class="form-control" formControlName="mes" autocomplete="mes" required
                              [ngClass]="{ 'is-invalid': submitted && f.mes.errors, 'is-valid': f.mes.touched && !f.mes.errors }">
                              <option value="null">Mês</option>
                              <option *ngFor="let mes of meses" value="{{mes.numero}}">{{mes.nome}}</option>

                            </select>
                            <div *ngIf="submitted && f['mes'].errors" class="invalid-feedback">
                              <div *ngIf="f['mes'].errors.required">Mês é obrigatório</div>
                            </div>

                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>

                      <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                          <label>Dia</label>
                          <div class="input-group">
                            <select class="form-control" formControlName="dia" autocomplete="dia" required
                              [ngClass]="{ 'is-invalid': submitted && f.dia.errors, 'is-valid': f.dia.touched && !f.dia.errors }">
                              <option value="null">Dia</option>
                              <option *ngFor="let dia of dias" value="{{dia}}">{{dia}}</option>
                            </select>
                            <div *ngIf="submitted && f['dia'].errors" class="invalid-feedback">
                              <div *ngIf="f['dia'].errors.required">Dia é obrigatório</div>
                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>




                      <div class="col-md-2 col-xs-3">
                        <div class="form-group">
                          <label>Documento</label>
                          <div class="input-group">
                            <select class="form-control" formControlName="documento" placeholder="documento"
                              autocomplete="loja" required [ngClass]="{ 'is-invalid': submitted && f.documento.errors, 'is-valid': f.documento.touched && !f.documento.errors }">
                              <option value="null">{{ loadingDocumentos }}</option>
                              <option value="T"> Todas</option> 
                              <option  [value]="documento.id" *ngFor="let documento of documentos">{{ documento.sigla }} - {{ documento.nome }}</option>
                            </select>
                            <div *ngIf="submitted && f['documento'].errors" class="invalid-feedback">
                              <div *ngIf="f['documento'].errors.required">documento é obrigatório</div>
                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>
 

                      <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                          <label>Estado</label>
                          <div class="input-group">
                            <select class="form-control" formControlName="estado" placeholder="Filiais"
                              autocomplete="estado" required
                              [ngClass]="{ 'is-invalid': submitted && f.estado.errors, 'is-valid': f.estado.touched && !f.estado.errors }">
                              <option value="null">Estado</option>
                              <option value="T"> Todos</option>
                              <option value="1"> Pago</option>
                              <option value="0"> Não Pago</option>
                            </select>
                            <div *ngIf="submitted && f['estado'].errors" class="invalid-feedback">
                              <div *ngIf="f['estado'].errors.required">estado é obrigatório</div>
                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>

                      <div class="col-md-1 col-xs-2">
                        <div class="form-group">
                          <label style="color: #fff;">s</label>
                          <div class="input-group">
                            <button type="button" class="btn btn-info btn-flatt mr-1 btn-smm" type="submit"
                              [disabled]="simpleForm.pristine || simpleForm.invalid" data-style="expand-left"><i
                                class="fa fa-search"></i>
                              Filtrar</button>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>

                      <div class="col-md-2 col-xs-3">
                        <div class="form-group" style="float: right;">
                          <label style="color: #fff;">s</label>
                          <div class="input-group">
                            <div class="btn-group">

                              <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle dropdown-icon btn-flat"
                                  data-toggle="dropdown" aria-expanded="false" [disabled]="disabledButton"> <i
                                    class="fa fa-download"></i> Exportação
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start" style="left: 40px;">
                                  <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsPDF();"><i
                                      class="fa fa-file-pdf-o"></i> PDF</a>
                                  <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsXLSX();"><i
                                      class="fa fa-file-excel-o"></i> Excel</a>
                                </div>
                              </div>
                              <button type="button" class="btn btn-info btn-flat" (click)="imprimirPDF()"
                                [disabled]="disabledButton"><i class="icon-printer"></i> Imprimir</button>

                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>



                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title"> Imposto de Valor Acrescentado</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <!-- /.card-body -->
                  <br>
                  <div class="table-responsive">


                    <ngx-loading [show]="loading"></ngx-loading>
                    <table class="table table-hover table-bordered table-stripedd text-center m-0">
                      <tr>
                        <td colspan="5" style="border: 0; color:#fff;"> Imposto de Valor Acrescentado </td>
                      </tr>

                      <tr style="color: #fff; background: #0099FF;">
                        <th style="width: 210px;">DIRECÇÃO</th>
                        <th style="width: 260px;">NÚMERO FACTURA</th>
                        <th style="width: 190px;">DATA FACTURA</th>
                        <th style="width: 190px;">DATA PAGAMENTO</th>
                        <th style="width: 190px;">TIPO DOCUMENTO</th> 
                        <th style="background: #8a8484;">VALOR FACTURA</th>
                        <th style="background: #8a8484;">IVA</th>
                        <th style="background: #8a8484;">VALOR PAGO</th>
                      </tr>

                      <tbody>
                        <tr *ngFor="let fact of cobrancas">
                          <td>{{  fact.direccao}}</td>
                          <td>{{  fact.factura_sigla }}</td>
                          <td>{{  fact.created_at | date: 'dd-MM-yyyy' }}</td>
                          <td>{{  fact.created_at | date: 'dd-MM-yyyy' }}</td> 
                          <td style="text-align: left;">{{ fact.sigla }}</td>
                          <td class="text-right">{{ this.configService.numberFormat(fact.total) }}</td>
                          <td class="text-right">{{ this.configService.numberFormat(fact.totalComImposto) }}</td>
                          <td class="text-right">{{ ( fact.pago == 1 ? this.configService.numberFormat(fact.total) : this.configService.numberFormat(fact.total-fact.valor_aberto)) }} </td> 
                        </tr>
                      </tbody>
                      <tr style="background: #eeeeeea8;">
                        <th colspan="5" class="text-right"><b>TOTAL</b></th>
                        <th class="text-right"><b>{{ this.configService.numberFormat(this.totais.total) }}</b></th>
                        <th class="text-right"><b>{{ this.configService.numberFormat(this.totais.total_iva) }}</b></th>
                        <th class="text-right"><b>{{this.configService.numberFormat(this.totais.valor_total_aberto)}}</b></th> 
                      </tr>
                    </table> 
                  </div>
                </div>

                <div style="height: 0px; overflow: auto;">
                    <table class="table table-hover table-bordered table-stripedd text-center m-0 tableCobranca">
                      <tr>
                        <td colspan="5" style="border: 0; color:#fff;"> Imposto de Valor Acrescentado </td>
                      </tr>
                    
                      <tr style="color: #fff; background: #0099FF;">
                        <th style="width: 210px;">DIRECÇÃO</th>
                        <th style="width: 260px;">NÚMERO FACTURA</th>
                        <th style="width: 190px;">DATA FACTURA</th>
                        <th style="width: 190px;">DATA PAGAMENTO</th>
                        <th style="width: 190px;">TIPO DOCUMENTO</th>
                        <th style="background: #8a8484;">VALOR FACTURA</th>
                        <th style="background: #8a8484;">IVA</th>
                        <th style="background: #8a8484;">VALOR PAGO</th>
                      </tr>
                    
                      <tbody>
                        <tr *ngFor="let fact of cobrancas">
                          <td>{{  fact.direccao}}</td>
                          <td>{{  fact.factura_sigla }}</td>
                          <td>{{  fact.created_at | date: 'dd-MM-yyyy' }}</td>
                          <td>{{  fact.created_at | date: 'dd-MM-yyyy' }}</td>
                          <td style="text-align: left;">{{ fact.sigla }}</td>
                          <td class="text-right">{{ (fact.total) }}</td>
                          <td class="text-right">{{ (fact.totalComImposto) }}</td>
                          <td class="text-right">
                            {{ ( fact.pago == 1 ? (fact.total) : (fact.total-fact.valor_aberto)) }} </td>
                        </tr>
                      </tbody>
                      <tr style="background: #eeeeeea8;">
                        <th colspan="4" class="text-right"><b>TOTAL</b></th>
                        <th class="text-right"><b>{{ (this.totais.total) }}</b></th>
                        <th class="text-right"><b>{{ (this.totais.total_iva) }}</b></th>
                        <th class="text-right"><b>{{(this.totais.valor_total_aberto)}}</b></th>
                      </tr>
                    </table>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- /.content -->
  </div>

  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>