<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper">
     <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard</h1>
          </div> 
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Operações</a></li> 
              <li class="breadcrumb-item">Reporting & BI </li>
              <li class="breadcrumb-item active">Pedidos</li>
            </ol>
          </div> 
        </div> 
      </div> 
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="row">
<!--
        <div class="col-lg-12 col-12">

          <div class="card">
            <app-loading></app-loading>
            <div class="card-footerr" style="padding: 16px;">
              <div class="row">

                <div class="col-sm-2 col-6">
                  <div class="description-block border-right text-right" style="padding-right: 14px;">

                    <h5 class="description-header" style="font-size: 21px;"><i class="fa fa-shopping-cart"
                        style="font-size: 44px;padding: 0 20px;"></i> Facturação</h5>
                    <span class="description-text" style="font-size: 12px;text-transform: none;">Facturação ao longo do
                      tempo</span>
                  </div>
                 
                </div>

                <div class="col-sm-2 col-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-success"><i class="fa fa-caret-up"></i> c/IVA
                      {{ configService.numberFormat(dash.facturaSumTotalComImpostoHoje)}} AOA</span>
                    <h5 class="description-header">
                      {{ configService.numberFormat(dash.facturaSumTotalSemImpostoHoje)}} AOA</h5>
                    <span class="description-text">Hoje</span>
                  </div>
                   
                </div>
                
                <div class="col-sm-2 col-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-warning"><i class="fa fa-caret-left"></i> c/IVA
                      {{ configService.numberFormat(dash.facturaSumTotalComImpostoOntem)}} AOA</span>
                    <h5 class="description-header">
                      {{ configService.numberFormat(dash.facturaSumTotalSemImpostoOntem)}} AOA</h5>
                    <span class="description-text">Ontem</span>
                  </div>
                  
                </div>
               
                <div class="col-sm-2 col-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-success"><i class="fa fa-caret-up"></i> c/IVA
                      {{ configService.numberFormat(dash.facturaSumTotalComImpostoMes)}} AOA</span>
                    <h5 class="description-header">
                      {{ configService.numberFormat(dash.facturaSumTotalSemImpostoMes)}} AOA</h5>
                    <span class="description-text">Mês</span>
                  </div>
                  
                </div>
               
                <div class="col-sm-2 col-6">
                  <div class="description-block">
                    <span class="description-percentage text-danger"><i class="fa fa-caret-down"></i> c/IVA
                      {{ configService.numberFormat(dash.facturaSumTotalComImpostoMesAnterior)}} AOA</span>
                    <h5 class="description-header">
                      {{ configService.numberFormat(dash.facturaSumTotalSemImpostoMesAnterior)}} AOA</h5>
                    <span class="description-text">Mês Anterior</span>
                  </div>
                 
                </div>
                <div class="col-sm-2 col-6">
                  <div class="description-block">
                    <span class="description-percentage text-danger"><i class="fa fa-caret-down"></i> c/IVA
                      {{ configService.numberFormat(dash.facturaSumTotalComImpostoGeral)}} AOA</span>
                    <h5 class="description-header">
                      {{ configService.numberFormat(dash.facturaSumTotalSemImpostoGeral)}} AOA</h5>
                    <span class="description-text">Geral</span>
                  </div>
                 
                </div>
              </div>
              
            </div>
          
          </div>

        </div>

      -->

        <div class="col-md-6">
          <div class="card">
            <!-- /.card-header -->
            <div class="card-body" style="padding: 13px 10px 4px 10px;">
              <div class="row">
                <div class="col-1">
                  <select name="perPage" (change)="getPageFilterData($event)"
                    [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
                    <option value="1">Entrada</option>
                    <option value="5" selected>5</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                  </select>
                  <small>Entradas</small>
                </div>
                <div class="col-md-5">
                  <input type="text" name="search" [(ngModel)]="this.http.filters.search" placeholder="Pesquisar..."
                    class="form-control" (keyup)="getPageFilterData($event)">
                  <i class="fa fa-search"
                    style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                  <small>Pesquisar por Nome, Telefone, Estado</small>
                </div>

                <div class="col-2">
                  <select (change)="getPageFilterData($event)" [(ngModel)]="this.http.filters.orderBy"
                    class="form-control">
                    <option [ngValue]="null">Ordernar</option>
                    <option value="pe.created_at">Data Pedido</option>
                    <option value="cli.nome">Nome Cliente</option>

                  </select>
                  <small>Ordernação</small>
                </div>

                <div class="col-2">

                  <select (change)="getPageFilterData($event)" [(ngModel)]="this.http.filters.search"
                    class="form-control">
                    <option selected [ngValue]="null">Filtrar</option>
                    <option value="{{ tipoPedido.slug }}" *ngFor="let tipoPedido of tipoPedidos">
                      {{ tipoPedido.descricao }}</option>

                  </select>

                  <small>Tipos de pedidos</small>
                </div>

                <div class="col-1">
                  <button type="button" class="btn btn-blockk btn-info" (click)="getPageFilterData($event)"><i
                      class="fa fa-search"></i> Filtrar</button>
                </div>
              </div>

            </div>
          </div>

          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <app-loading></app-loading>
                 <!--Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title"> Relatório - Pedidos</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body p-0">
                  <!-- /.card-body -->
                  <br>
                  <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped text-center m-0">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Nome</th>
                          <th>Telefone</th>
                          <th>Tipo de pedido</th>
                          <th>Estado</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of items | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                          
                          <td><a href="pages/examples/invoice.html">{{ i + 1 }}</a></td>
                          <td><a href="javascript:void(0)" (click)="getCliente(item.clienteNome)">{{ item.clienteNome }}</a></td>
                          <td>{{ item.pedidoTelefone }}</td>
                          <td>{{ item.tipoPedido == "COBRE_ADSL" ? "COBRE + ADSL" : item.tipoPedido }}</td>
                          <td>
                            <span *ngIf="item.siglaEstadoPedido == 'FN'" class="btn bg-success btn-block btn-flat">Finalizado</span>
                            <span *ngIf="item.siglaEstadoPedido == 'RJ'" class="btn bg-danger btn-block btn-flat">Rejeitado</span>
                            <span *ngIf="item.siglaEstadoPedido != 'RJ' && item.siglaEstadoPedido != 'FN'">
    
                              {{ item.estadoDesignacao }}
                            </span>
                          </td>
                        </tr>
                      
                      </tbody>
                    </table>
                  </div>
                  <div class="card-footer clearfix">
                    <div class="row">
                      <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                          {{this.http.filters.pagination.perPage}} de
                          {{this.http.filters.pagination.total}} Pedidos
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-7">
                        <div class="pull-right">
                          <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior" maxSize="6"
                            nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>



        <div class="col-md-6">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title"> Pedidos</h4>
                </div>
               <!--  Modal body -->
                <div class="modal-body">
                 <!--  /.card-body -->
                  <div class="chart">
                   <!--  Sales Chart Canvas -->
                    <canvas id="myChart" width="300" height="120"></canvas>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  <!--   /.content -->
  </div>
  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>
