<br><br><br><br><br><br>

<section class="content">
  <div class="error-page">
    <h2 class="headline text-danger"> 403</h2>

    <div class="error-content">
      <h3><i class="fa fa-exclamation-triangle text-danger"></i> Oops! Acesso Negado.</h3>

      <p>
        Acesso Negado. Não tem permissão para executar esta operação.<a href="/">retornar ao
          painel </a> ou tentar
        usar o formulário de pesquisa.

      </p>
      <div class="input-prepend input-group">
        <div class="input-group-prepend">
        </div>
        <span class="input-group">
          <button class="btn btn-info" [routerLink]="['/dashboard']" type="button">Regressar a página anterior</button>
        </span>
      </div>
    </div>
    <!-- /.error-content -->
  </div>
  <!-- /.error-page -->
</section>