<br><br><br><br><br><br>

<section class="content">
  <div class="error-page">
    <h2 class="headline text-warning"> 404</h2>

    <div class="error-content">
      <h3><i class="fa fa-exclamation-triangle text-warning"></i> Oops! Página não encontrada.</h3>

      <p> 
        Não foi possível encontrar a página que você estava procurando. Enquanto isso, você pode <a href="/">retornar ao painel </a> ou tentar
        usar o formulário de pesquisa.

      </p>

      <form class="search-form">
        <div class="input-group">
          <input type="text" name="search" class="form-control" placeholder="Search">

          <div class="input-group-append">
            <button type="submit" name="submit" class="btn btn-warning"><i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <!-- /.input-group -->
      </form>
    </div>
    <!-- /.error-content -->
  </div>
  <!-- /.error-page -->
</section>