<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><i class="fa fa-list nav-icon"></i> Listar Produtos/Serviços</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Operações</a></li>
              <li class="breadcrumb-item active">Listar produtos</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="content">
        <div class="row">

          <div class="col-lg-12 col-12">
            <div class="modall modal-info fadee" data-backdrop="static">
              <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
                <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title"> Filtro de Dados</h4>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                    <div class="row">
  
  
                      <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                          <!--<label style="color: #fff;">Entrada</label>-->
                          <select name="perPage" (change)="getPageFilterData($event)"
                            [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
                            <option value="1">Entrada</option>
                            <option value="5" selected>5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                          </select>
                        </div>
                        <!-- /.input group -->
                      </div>
  
                      <div class="col-md-4 col-xs-3">
                        <div class="form-group"> 
                          <input type="text" name="search" [(ngModel)]="this.http.filters.search"
                            placeholder="Pesquisar..." class="form-control" (keyup)="getPageFilterData($event)">
                          <i class="fa fa-search"
                            style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                        </div>
                        <!-- /.input group -->
                      </div>
  
                      <div class="col-md-1 col-xs-3">
                        <div class="form-group"> 
                          <select name="orderBy" (change)="getPageFilterData($event)" [(ngModel)]="this.http.filters.orderBy" class="form-control">
                            <option [ngValue]="null">Ordernar</option>
                            <option value="nome">Nome</option>
                            <option value="preco">Preço</option>
                            <option value="tipo">Tipo</option>
                            <option value="imposto">Imposto</option>
                            <option value="quantidade">Quantidade</option>
                          </select>
                        </div>
                        <!-- /.input group -->
                      </div>
  
  
  
                      <div class="col-md-1 col-xs-2">
                        <div class="form-group"> 
                          <div class="input-group">
                            <button type="button" class="btn btn-info btn-flatt mr-1 btn-smm" type="button"><i
                                class="fa fa-search"></i>
                              Filtrar</button>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>
  
                      <div class="col-md-2 col-xs-3">
                        <div class="form-group" style="float: right;"> 
                          <div class="input-group">
                            <div class="btn-group">
  
                              <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle dropdown-icon btn-flat"
                                  data-toggle="dropdown" aria-expanded="false" [disabled]="disabledButton"> <i
                                    class="fa fa-download"></i> Exportação
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start" style="left: 40px;">
                                  <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsPDF();"><i
                                      class="fa fa-file-pdf-o"></i>
                                    PDF</a>
                                  <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsXLSX();"><i
                                      class="fa fa-file-excel-o"></i> Excel</a>
                                </div>
                              </div>
                              <button type="button" class="btn btn-info btn-flat" (click)="imprimirPDF()" [disabled]="disabledButton"><i
                                  class="icon-printer"></i> Imprimir</button> 
                                    <button type="button" class="btn btn-primary btn-flat"
                                    data-toggle="modal" data-target="#modalprodutoCreateOrEdit" (click)="setDataProduto(undefined);"><i
                                        class="fa fa-plus"></i> Registar</button>
                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>
  
  
                    </div> 
                  </div>
  
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-12 col-12">
            <div class="modall modal-info fadee" data-backdrop="static">
              <div class="modal-dialog" style="max-width: 100%;">
                <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">TABELA DE PRODUTOS E SERVIÇOS</h4>
                  
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                    <!-- /.card-body --> 
                    <div class="table-responsivee">
  
  
                      <ngx-loading [show]="loading"></ngx-loading>
  
                      <table class="table table-hover table-bordered table-stripedd text-center m-0 exportAsXLSXCliente">
                        <tbody >
                          <tr style="color: #fff; background: #0099FF;">
                            <th>#</th>
                            <th width="35">Tipo</th>
                            <th width="350">Nome</th>
                            <th width="100">Preço</th>
                            <th>Observação</th>
                            <th>Moeda</th>
                            <th>Imposto</th>
                            <th>Data de Criação</th>
                            <th style="width: 9%;">Acção</th>
                          </tr> 
                          <tr *ngFor="let item of items | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                            <td>{{ item.id }}</td>
                            <td>{{ (item.tipo =='A'? 'Artigo': 'Serviço') }}</td>
                            <td>{{ item.nome }}</td>
                            <td>{{ item.valor }}</td>
<!--                             <td width="260px">{{ item.observacao }}</td> -->
                            <td width="260px">{{ item.observacao == null ? '------' : item.observacao }}</td>
                            <td>{{ item.moeda }}({{ item.codigo_iso }})</td>
                            <td>{{ configService.numberFormat(item.imposto_valor) }}</td>
                            <td>{{ item.created_at | date: 'dd-MM-yyyy' }}</td>
                              <td> 
                                <div class="btn-group btn-block">
                                  <button type="button" class="btn btn-info btn-flat btn-sm btn-block"
                                    data-toggle="dropdown">Opções</button>
                                  <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                  </button>
                                  <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                                    style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(67px, 38px, 0px);">
    
                                    <a href="javascript:void(0)" class="dropdown-item btn-sm"
                                    (click)="setDataProduto(item)"
                                      data-toggle="tooltip" data-widget="chat-pane-toggle" title="Editar"
                                      data-toggle="modal" data-target="#modalprodutoCreateOrEdit"> <i
                                        class="fa fa-edit"></i> Editar
                                    </a>
    
                                  </div>
                                </div>
                              </td>
                            </tr>  
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <div class="row" style="width: 100%;">
                      <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                          {{this.http.filters.pagination.perPage}} de
                          {{this.http.filters.pagination.total}} Produtos/Serviços
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-7">
                        <div class="pull-right">
                          <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior"
                            maxSize="6" nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                        </div>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
          </div>

         
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- The Modal -->
  <createOrEditproduto [produto]="produto" [tipoProduto]="TipoProduto" [modal]=""
      
  (loadListproduto)="getPageFilterData($event)">
  </createOrEditproduto>
  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>