<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Movimento Caixa</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Operações</a></li>
              <li class="breadcrumb-item">Caixa</li>
              <li class="breadcrumb-item active">Movimento Caixa</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="col-lg-12 col-12">
            <div class="modall modal-info fadee" data-backdrop="static">
              <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
                <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title"> Filtro de Dados</h4>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                    <div class="row">


                      <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                          <!--<label style="color: #fff;">Entrada</label>-->
                          <select name="perPage" (change)="getPageFilterData($event)"
                            [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
                            <option value="1">Entrada</option>
                            <option value="5" selected>5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                          </select>
                        </div>
                        <!-- /.input group -->
                      </div>

                      <div class="col-md-4 col-xs-3">
                        <div class="form-group">
                          <input type="text" name="search" [(ngModel)]="this.http.filters.search"
                            placeholder="Pesquisar..." class="form-control" (keyup)="getPageFilterData($event)">
                          <i class="fa fa-search"
                            style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                        </div>
                        <!-- /.input group -->
                      </div>

                      <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                          <select name="orderBy" (change)="getPageFilterData($event)" [(ngModel)]="this.http.filters.orderBy" class="form-control">
                            <option [ngValue]="null">Ordernar</option>
                            <option value="clientes.nome">Nome do cliente</option>
                            <option value="caixas.created_at">Data Facturação</option>
                            <option value="caixas.factura_sigla">Factura Sigla</option>
                            <option value="caixas.total">Total Facturado</option>
                            <option value="caixas.pago">Pagamento</option>
                            <option value="caixas.status">Status</option>
                            <option value="series.nome">Serie</option>
                            <option value="documentos.nome">Documento</option>
                          </select>
                        </div>
                        <!-- /.input group -->
                      </div>




                      <div class="col-md-2 col-xs-3 ml-4">
                        <div class="form-group" style="float: right;">
                          <div class="input-group">
                            <div class="btn-group">

                              <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle dropdown-icon btn-flat"
                                  data-toggle="dropdown" aria-expanded="false" [disabled]="disabledButton"> <i
                                    class="fa fa-download"></i> Exportação
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start" style="left: 40px;">
                                  <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsPDF();"><i
                                      class="fa fa-file-pdf-o"></i>
                                    PDF</a>
                                  <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsXLSX();"><i
                                      class="fa fa-file-excel-o"></i> Excel</a>
                                </div>
                              </div>
                              <button type="button" class="btn btn-info btn-flat" (click)="imprimirPDF()" [disabled]="disabledButton"><i
                                  class="icon-printer"></i> Imprimir</button>
                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>


                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-12 col-12">
            <div class="modall modal-info fadee" data-backdrop="static">
              <div class="modal-dialog" style="max-width: 100%;">
                <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">LISTA DE MOVIMENTOS DE CAIXA</h4>

                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                    <!-- /.card-body -->
                    <div class="table-responsivee">


                      <ngx-loading [show]="loading"></ngx-loading>

                      <table class="table table-hover table-bordered table-stripedd text-center m-0 exportAsXLSXCliente">
                        <tbody>
                          <tr  style="color: #fff; background: #0099FF;">

                            <th>#</th>
                            <th>Operador</th>
                            <th>Loja</th>
                            <th>Valor Abertura</th>
                            <th>Data/hora Abertura</th>
                            <th>Valor Fecho</th>
                            <th>Data/hora Fecho</th>
                            <th>Total de Cobranças</th>
                            <th>Valor Depositado</th>
                            <th>Data Deposito</th>
                            <th>Conta Bancaria</th>
                            <th>Referencia Bancaria</th>
                            <th>Estado</th>
                            <th style="width: 160px;">Acção</th>
                          </tr>

                          <tr
                            *ngFor="let caixa of caixas | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                            <td>{{i+1}}</td>
                            <td>{{ caixa.operador }}</td>
                            <td>{{ caixa.loja }}</td>
                            <td style="background: #28a7451f;">{{ configService.numberFormat(caixa.valor_abertura) }}</td>
                            <td style="background: #28a7451f;">{{ caixa.data_abertura | date: 'dd-MM-yyyy' }} {{ caixa.hora_abertura}}</td>
                            <td style="background: #17a2b838;">{{ configService.numberFormat(caixa.valor_fecho) }}</td>
                            <td style="background: #17a2b838;">{{ caixa.data_fecho | date: 'dd-MM-yyyy' }} {{ caixa.hora_fecho}}</td>
                            <td style="background: #fd7e1459;">{{ configService.numberFormat(caixa.valor_vendas) }}</td>
                            <td style="background: #20c9977d;">{{ configService.numberFormat(caixa.valor_deposito) }}</td>
                            <td style="background: #20c9977d;">{{ caixa.data_deposito | date: 'dd-MM-yyyy' }}</td>
                            <td style="background: #20c9977d;">{{ caixa.banco }}({{caixa.numero_conta}})</td>
                            <td style="background: #20c9977d;">{{ caixa.referencia_banco }}</td>

                            <td>
                              <span class="btn bg-success btn-block btn-flat" *ngIf="caixa.is_active ==1">Aberto</span>
                              <span class="btn bg-warning btn-block btn-flat" *ngIf="caixa.is_active ==0">Fechado</span>
                            </td>

                            <td>

                              <div class="btn-group">
                                <button type="button" class="btn btn-info btn-flat btn-sm"
                                  data-toggle="dropdown">Opções</button>
                                <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown"
                                  aria-expanded="false">
                                  <span class="caret"></span>
                                  <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                                  style="position: absolute; will-change: transform; top: 0px; left: -58px; transform: translate3d(67px, 38px, 0px);">


                                  <a href="javascript:void(0)" class="dropdown-item btn-sm"
                                    title="Visualizar detalhes da factura" ><i class="fa fa-clone"></i> Visualizar</a>
                                  <li class="dropdown-divider"></li>
                                  <a href="javascript:void(0)" class="dropdown-item btn-sm" title="Imprimir"
                                    (click)="btnImprimirMovimetocaixa(caixa.user_id, caixa.abertura, caixa.abertura, caixa.id)"
                                    ><i class="fa fa-print"></i>
                                    Imprimir Diario Vendas</a>

                                    <a href="javascript:void(0)" class="dropdown-item btn-sm" title="Imprimir"
                                    (click)="btnimprimirResumo(caixa.abertura, caixa.user_id)"
                                    ><i class="fa fa-print"></i>
                                    Imprimir Resumo Recebimentos</a>

                                    
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <div class="row" style="width: 100%;">
                      <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                          {{this.http.filters.pagination.perPage}} de
                          {{this.http.filters.pagination.total}} Movimentos Caixa
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-7">
                        <div class="pull-right">
                          <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior"
                            maxSize="6" nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->

  </div>
  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>
