<div class="modal modal-info fade in" id="{{modal}}"  data-backdrop="static">
  <div class="modal-dialog modal-lg " style="max-width: 1150px;">
    <div class="modal-content">
      <!-- Modal Header -->
      <form [formGroup]="simpleFormprodutos" (submit)="onSubmit();">
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa fa-shopping-cart nav-icon"></i> {{ title }}</h4>
          <button class="close" type="reset" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body" style="padding: 2rem;">
          <ngx-loading [show]="loading"></ngx-loading>
          
         <!--  <div class="card-header">
            <h3 class="card-title"><i class="fa icon icon-user"></i> Dados pessoais</h3>
           
          </div> -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group has-warning">
                <label class="col-form-label">Descrição</label>
                <input class="form-control" required autofocus id="descricao" type="text" formControlName="descricao"
                  placeholder="descricao" autocomplete="given-name"
                  [ngClass]="{ 'is-invalid': submitted && f.descricao.errors, 'is-valid': f.descricao.touched && !f.descricao.errors }" />
                  <div *ngIf="submitted && f['descricao'].errors" class="invalid-feedback">
                  <div *ngIf="f['descricao'].errors.required">O campo descrição é obrigatório</div>
                </div>
              </div>
            </div>

           <!--  <div class="col-md-6">
              <div class="form-group has-warning">
                <label class="col-form-label">Valor</label>
                <input class="form-control" required autofocus id="valor" type="number" formControlName="valor"
                  placeholder="valor" autocomplete="given-name"
                  [ngClass]="{ 'is-invalid': submitted && f.valor.errors, 'is-valid': f.valor.touched && !f.valor.errors }" />
                  <div *ngIf="submitted && f['valor'].errors" class="invalid-feedback">
                  <div *ngIf="f['valor'].errors.required">O campo valor é obrigatório</div>
                </div>
              </div>
            </div> -->

            <div class="col-md-6">
              <div class="form-group has-warning">
                <label class="col-form-label" for="categoria_id">Categoria</label>
                <div class="input-group mb-6">
                  <select formControlName="categoria_id" class="form-control" required autofocus
                    [ngClass]="{ 'is-invalid': submitted && f.categoria_id.errors, 'is-valid': f.categoria_id.touched && !f.categoria_id.errors }">
                    <option selected [value]="null">Seleciona a categoria</option>
                    <option *ngFor="let categoria of categorias" [value]="categoria.id"> {{categoria.descricao}}</option>
                  </select>
                  <div *ngIf="submitted && f['categoria_id'].errors" class="invalid-feedback">
                    <div *ngIf="f['categoria_id'].errors.required">O campo Categoria é obrigatório</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group has-warning">
                <label class="col-form-label" for="status">Estado</label>
                <div class="input-group mb-6">
                  <select formControlName="status" class="form-control" required autofocus
                    [ngClass]="{ 'is-invalid': submitted && f.status.errors, 'is-valid': f.status.touched && !f.status.errors }">
                    <option value="null">Selecione</option>
                    <option [value]="1"> Activo </option>
                    <option [value]="0"> Inactivo </option>
                  </select>
                  <div *ngIf="submitted && f['status'].errors" class="invalid-feedback">
                    <div *ngIf="f['status'].errors.required">O campo estado é obrigatório</div>
                  </div>
                </div>
              </div>
            </div>

            

           
          </div>

        </div>


       

        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="btn btn-danger btn-sm" type="reset" [disabled]="simpleFormprodutos.pristine && !submitted"
            (click)="onReset()">Limpar</button>
          <button class="btn btn-success btn-sm mr-1" type="submit"
            [disabled]="simpleFormprodutos.valid">Validar</button>
          <button class="btn btn-primary mr-1 btn-sm" type="submit"
            [disabled]="simpleFormprodutos.pristine || simpleFormprodutos.invalid" data-style="expand-left"><i
              class="fa fa-save"></i>
            Registar</button>
        </div>
      </form>
    </div>
  </div>
</div>