<div class="wrapper">
    <app-topnavbar></app-topnavbar>
    <app-asidenavbar></app-asidenavbar>
    <div class="content-wrapper" style="min-height: 768px;">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Avenças</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Operações</a></li>
                <li class="breadcrumb-item active">Contabilidade</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="content"> 
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                      <h3 class="card-title"><b>Listagem de Contabilidade</b>
   
                      </h3>
                      
                    </div>
                    <!-- /.card-header --> 
  
                    <!-- /.card-body -->
                  </div>
            </div>
        </div>
      </section>
      <!-- /.content -->
    </div>
    <app-setingsnavbar></app-setingsnavbar>
    <app-footernavbar></app-footernavbar>
  </div>