<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><i class="fa fa-globe"></i> Recursos de Rede</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Configurar</a></li>
              <li class="breadcrumb-item active">Central</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="col-lg-12 col-12">
            <div class="modall modal-info fadee" data-backdrop="static">
              <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
                <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title"> Filtro de Dados</h4>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                    <div class="row">
  
  
                      <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                          <!--<label style="color: #fff;">Entrada</label>-->
                          <select name="perPage" (change)="getPageFilterData($event)"
                            [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
                            <option value="1">Entrada</option>
                            <option value="5" selected>5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                          </select>
                        </div>
                        <!-- /.input group -->
                      </div>
  
                      <div class="col-md-4 col-xs-3">
                        <div class="form-group"> 
                          <input type="text" name="search" [(ngModel)]="this.http.filters.search"
                            placeholder="Pesquisar..." class="form-control" (keyup)="getPageFilterData($event)">
                          <i class="fa fa-search"
                            style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                        </div>
                        <!-- /.input group -->
                      </div>
  
                      <div class="col-md-1 col-xs-3">
                        <div class="form-group"> 
                          <select name="orderBy" (change)="getPageFilterData($event)" [(ngModel)]="this.http.filters.orderBy" class="form-control">
                            <option [ngValue]="null">Ordernar</option>
                            <option value="descricao">Descrição</option>
                            <option value="created_at">Data</option>
                          </select>
                        </div>
                        <!-- /.input group -->
                      </div>


                      <div class="col-md-1 col-xs-2">
                        <div class="form-group"> 
                          <div class="input-group">
                            <button type="button" class="btn btn-info btn-flatt mr-1 btn-smm" type="button"><i
                                class="fa fa-search"></i>
                              Filtrar</button>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>


                      <div class="col-md-2 col-xs-3 ml-2">
                        <div class="form-group" style="float: right;"> 
                          <div class="input-group">
                            <div class="btn-group">
  
                              <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle dropdown-icon btn-flat"
                                  data-toggle="dropdown" aria-expanded="false" [disabled]="disabledButton"> <i
                                    class="fa fa-download"></i> Exportação
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start" style="left: 40px;">
                                  <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsPDF();"><i
                                      class="fa fa-file-pdf-o"></i>
                                    PDF</a>
                                  <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsXLSX();"><i
                                      class="fa fa-file-excel-o"></i> Excel</a>
                                </div>
                              </div>
                              <button type="button" class="btn btn-info btn-flat" (click)="imprimirPDF()" [disabled]="disabledButton"><i
                                  class="icon-printer"></i> Imprimir</button>
                                  <button type="button" class="btn btn-primary btn-flat"
                                  data-toggle="modal" (click)="getProvincias()" data-target="#centralModal"><i
                                      class="fa fa-plus"></i> Registar</button> 
                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>
  
  
                    </div> 
                  </div>
  
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-12 col-12">
            <div class="modall modal-info fadee" data-backdrop="static">
              <div class="modal-dialog" style="max-width: 100%;">
                <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">LISTAGEM DE CENTRAIS</h4>
                  
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                    <!-- /.card-body --> 
                    <div class="table-responsivee">
  
  
                      <ngx-loading [show]="loading"></ngx-loading>
  
                      <table class="table table-hover table-bordered table-stripedd text-center m-0 exportAsXLSXCliente">
                        <tbody>
                          <tr style="color: #fff; background: #0099FF;">
                            <th>#</th>
                            <th>Descrição</th>
                            
                            <th style="width: 258px;">Editar</th>
        
                            <th style="width: 258px;">Operações</th>
        
                          </tr>
                          <tr *ngFor="let item of items | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                            <td>{{ i + 1 }}</td>
                            <td style="background: rgba(23, 162, 184, 0.04)">{{ item.descricao }}</td>
                           
                            <td>
                              <button (click)=" refreshDataCentral(item.id, item.descricao, item.provincia_id); listCentral(); getProvincias()" type="button" class="btn btn-app btn-primary" data-toggle="tooltip" data-widget="chat-pane-toggle" title="Editar"
                                  type="button" data-toggle="modal" data-target="#editarModal">
                                <i class="fa fa-edit"></i> Editar
                              </button>
                            </td>
        
                            <td> 
                             
                            
                              <div class="btn-group btn-block">
                                <button type="button" class="btn btn-info  btn-flat btn-sm" data-toggle="dropdown">Opções</button>
                                <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                  <span class="caret"></span>
                                  <span class="sr-only">Menu Serviços</span>
                                </button>
                                <div class="dropdown-menu" role="menu" x-placement="bottom-start" > 
                                  
                                  <a href="javascript:void(0)" (click)="listarIdArmarioCentral(item)" class="dropdown-item btn-sm" title="Listar" data-toggle="modal" data-target="#idArmarioModal"><i class="fa fa-list"></i> Id do Armário</a>
                                
                                  <li class="divider"></li>
        
                                  <a href="javascript:void(0)" (click)="listarIdCaixa(item)" class="dropdown-item btn-sm" title="Listar" data-toggle="modal" data-target="#idCaixaModal"><i class="fa fa-list"></i> Id da Caixa</a>
                                
                                  <li class="divider"></li>
        
                                  <a href="javascript:void(0)" (click)="listarIdCabo(item)" class="dropdown-item btn-sm" title="Listar" data-toggle="modal" data-target="#idCaboModal"><i class="fa fa-list"></i> Id do Cabo</a>
                                
                                  <li class="divider"></li>
        
                                  <a href="javascript:void(0)" (click)="listarParCabo(item)" class="dropdown-item btn-sm" title="Listar" data-toggle="modal" data-target="#parCaboModal"><i class="fa fa-list"></i> Par do Cabo</a>
                                
                                  <li class="divider"></li>
        
                                  <a href="javascript:void(0)" (click)="listarArmarioPrimario(item)" class="dropdown-item btn-sm" title="Listar" data-toggle="modal" data-target="#armarioPrimarioModal"><i class="fa fa-list"></i> Par armário Primário</a>
                                
                                  <li class="divider"></li>
        
                                  <a href="javascript:void(0)" (click)="listarArmarioSecundario(item)" class="dropdown-item btn-sm" title="Listar" data-toggle="modal" data-target="#armarioSecundarioModal"><i class="fa fa-list"></i> Par armário Secundário</a>
                                
                                  <li class="divider"></li>
        
                                  <a href="javascript:void(0)" (click)="listarParCaixa(item)" class="dropdown-item btn-sm" title="Listar" data-toggle="modal" data-target="#parCaixaModal"><i class="fa fa-list"></i> Par da Caixa</a>
                                 
                                  <a href="javascript:void(0)" (click)="listarParADSL(item)" class="dropdown-item btn-sm" title="Listar" data-toggle="modal" data-target="#parADSLModal"><i class="fa fa-list"></i> Par ADSL</a>
                                
        
                                </div>
                              </div>
                               
        
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <div class="row" style="width: 100%;">
                      <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                          {{this.http.filters.pagination.perPage}} de
                          {{this.http.filters.pagination.total}} Centrais
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-7">
                        <div class="pull-right">
                          <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior"
                            maxSize="6" nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                        </div>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->

    <!-- The Modal -->
    <!-- The Modal -->
       <!-- The Modal -->
       <div class="modal modal-info fade in" id="editarModal">
        <div class="modal-dialog modal-lg " style="max-width: 1100px;">
          <div class="modal-content">
  
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title"><i class="fa fa-map-marker"></i> Editar Central</h4>
              <button type="button" class="close" (click)="clearCentral()" data-dismiss="modal">&times;</button>
            </div>
            <form (submit)="editarCentral($event)">
              <!-- Modal body -->
              <div class="modal-body">
                <app-alert></app-alert>
                <app-loading></app-loading>
                <div class="card card-default">
                  <div class="card-header">
                    <h3 class="card-title">Dados da Central</h3>
                    <!-- /.card-tools -->
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body" style="padding: 9px;">
                    <div class="row">
                      
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="nome"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Descrição</label>
                          <input type="text" [(ngModel)]="central.descricao" name="descricao" class="form-control" 
                            placeholder="Descrição">
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="nome"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Província</label>
                          <select class="form-control" name="provincia_id" [(ngModel)]="central.provincia_id">
                            <option selected [value]="null">Selecione</option>
                            <option *ngFor="let provincia of provincias" [value]="provincia.id"> {{ provincia.nome }} </option>
                          </select>
                        </div>
                      </div>
                    
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger btn-sm" (click)="clearCentral()" data-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-outline-primary btn-sm">Actualizar</button>
              </div>
            </form>
  
  
          </div>
        </div>
      </div>


        <!-- The Modal -->
    <div class="modal modal-info fade in" id="centralModal" data-backdrop="static">
      <div class="modal-dialog modal-lg " style="max-width: 1100px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-map-marker"></i> Registar Central</h4>
            <button type="button" class="close" (click)="clearCentral()" data-dismiss="modal">&times;</button>
          </div>
          <form (submit)="registerCentral($event)">
            <!-- Modal body -->
            <div class="modal-body">
              <app-alert></app-alert>
              <app-loading></app-loading>
              <div class="card card-default">
                <div class="card-header">
                  <h3 class="card-title">Dados da Central</h3>
                  <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body" style="padding: 9px;">
                  <div class="row">                 
                  
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="nome"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Descrição</label>
                        <input type="text" [(ngModel)]="central.descricao" name="descricao" class="form-control"
                          placeholder="Descrição">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="nome"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Província</label>
                        <select class="form-control" name="provincia_id" [(ngModel)]="central.provincia_id">
                          <option selected [value]="null">Selecione</option>
                          <option *ngFor="let provincia of provincias" [value]="provincia.id"> {{ provincia.nome }} </option>
                        </select>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="clearCentral()" data-dismiss="modal">Fechar</button>
              <button type="submit" class="btn btn-outline-primary btn-sm">Registar</button>
            </div>
          </form>


        </div>
      </div>
    </div>


            <!-- The Modal -->
    <div class="modal modal-info fade in" id="idArmarioModal" data-backdrop="static">
      <div class="modal-dialog modal-lg " style="max-width: 1700px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <div class="card-tools">
              <button type="button" class="btn btn-primary btn-smm" data-toggle="modal" data-target="#CriarIdArmarioModal" style="margin-right: 10px"> <i
                  class="fa fa-globe"></i> Novo Id do Armário</button>
            </div>
            <h4 class="modal-title"><i class="fa fa-globe"></i> Id do Armário</h4>
            
            <button type="button" class="close" (click)="clearCentral()" data-dismiss="modal">&times;</button>
          </div>
         
            <!-- Modal body -->
            <div class="modal-body"> 
              <app-loading></app-loading> 
              <h3 style="padding: 15px 10px; background: #0099FF; color: #fff;">Central: {{ central.descricao }}</h3>
              <hr>
              <table class="table table-hover table-bordered">
                  <thead>
                    <tr style="background: #0099FF; color: #ffffff;">
                      <th>#</th>
                      <th>Descrição</th>
                     
                      <th style="width: 142px;">Operações</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let idArmario of idArmarios index as i">
                      <td>{{ i + 1 }}</td>
                      <td>{{idArmario.descricao}}</td>
                      
                      <td>
                        <button  type="button" class="btn btn-app btn-primary" data-toggle="tooltip" data-widget="chat-pane-toggle" title="Editar"
                        type="button" data-toggle="modal">
                      <i class="fa fa-edit"></i> Editar
                    </button>
                       
                      </td>
                    </tr>  
                  </tbody>
                </table>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="clearCentral()" data-dismiss="modal">Fechar</button> 
            </div> 


        </div>
      </div>
    </div>

    <div class="modal modal-info fade in" id="idCaixaModal" data-backdrop="static">
      <div class="modal-dialog modal-lg " style="max-width: 1700px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <div class="card-tools">
              <button type="button" class="btn btn-primary btn-smm" data-toggle="modal" data-target="#CriarIdCaixaModal" style="margin-right: 10px"> <i
                  class="fa fa-globe"></i> Novo Id da Caixa</button>
            </div>
            <h4 class="modal-title"><i class="fa fa-globe"></i> Id da Caixa</h4>
            
            <button type="button" class="close" (click)="clearCentral()" data-dismiss="modal">&times;</button>
          </div>
         
            <!-- Modal body -->
            <div class="modal-body"> 
              <app-loading></app-loading> 
              <h3 style="padding: 15px 10px; background: #0099FF; color: #fff;">Central: {{ central.descricao }}</h3>
              <hr>
              <table class="table table-hover table-bordered">
                  <thead>
                    <tr style="background: #0099FF; color: #ffffff;">
                      <th>#</th>
                      <th>Descrição</th>
                     
                      <th style="width: 142px;">Operações</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let idCaixa of idCaixas index as i">
                      <td>{{ i + 1 }}</td>
                      <td>{{idCaixa.descricao}}</td>
                      
                      <td>
                        <button  type="button" class="btn btn-app btn-primary" data-toggle="tooltip" data-widget="chat-pane-toggle" title="Editar"
                        type="button" data-toggle="modal">
                      <i class="fa fa-edit"></i> Editar
                    </button>
                       
                      </td>
                    </tr>  
                  </tbody>
                </table>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="clearCentral()" data-dismiss="modal">Fechar</button> 
            </div> 


        </div>
      </div>
    </div>

    <div class="modal modal-info fade in" id="idCaboModal" data-backdrop="static">
      <div class="modal-dialog modal-lg " style="max-width: 1700px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <div class="card-tools">
              <button type="button" class="btn btn-primary btn-smm" data-toggle="modal" data-target="#CriarIdCaboModal" style="margin-right: 10px"> <i
                  class="fa fa-globe"></i> Novo Id do Cabo</button>
            </div>
            <h4 class="modal-title"><i class="fa fa-globe"></i> Id do Cabo</h4>
            
            <button type="button" class="close" (click)="clearCentral()" data-dismiss="modal">&times;</button>
          </div>
         
            <!-- Modal body -->
            <div class="modal-body"> 
              <app-loading></app-loading> 
              <h3 style="padding: 15px 10px; background: #0099FF; color: #fff;">Central: {{ central.descricao }}</h3>
              <hr>
              <table class="table table-hover table-bordered">
                  <thead>
                    <tr style="background: #0099FF; color: #ffffff;">
                      <th>#</th>
                      <th>Descrição</th>
                     
                      <th style="width: 142px;">Operações</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let idCabo of idCabos index as i">
                      <td>{{ i + 1 }}</td>
                      <td>{{idCabo.descricao}}</td>
                      
                      <td>
                        <button  type="button" class="btn btn-app btn-primary" data-toggle="tooltip" data-widget="chat-pane-toggle" title="Editar"
                        type="button" data-toggle="modal">
                      <i class="fa fa-edit"></i> Editar
                    </button>
                       
                      </td>
                    </tr>  
                  </tbody>
                </table>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="clearCentral()" data-dismiss="modal">Fechar</button> 
            </div> 


        </div>
      </div>
    </div>

    <div class="modal modal-info fade in" id="parCaboModal" data-backdrop="static">
      <div class="modal-dialog modal-lg " style="max-width: 1700px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <div class="card-tools">
              <button type="button" class="btn btn-primary btn-smm" data-toggle="modal" data-target="#CriarParCaboModal" style="margin-right: 10px"> <i
                  class="fa fa-globe"></i> Novo par cabo</button>
            </div>
            <h4 class="modal-title"><i class="fa fa-globe"></i> Par cabos</h4>
            
            <button type="button" class="close" (click)="clearCentral()" data-dismiss="modal">&times;</button>
          </div>
         
            <!-- Modal body -->
            <div class="modal-body"> 
              <app-loading></app-loading> 
              <h3 style="padding: 15px 10px; background: #0099FF; color: #fff;">Central: {{ central.descricao }}</h3>
              <hr>
              <table class="table table-hover table-bordered">
                  <thead>
                    <tr style="background: #0099FF; color: #ffffff;">
                      <th>#</th>
                      <th>Descrição</th>
                     
                      <th style="width: 142px;">Operações</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let parCabo of parCabos index as i">
                      <td>{{ i + 1 }}</td>
                      <td>{{parCabo.descricao}}</td>
                      
                      <td>
                        <button  type="button" class="btn btn-app btn-primary" data-toggle="tooltip" data-widget="chat-pane-toggle" title="Editar"
                        type="button" data-toggle="modal">
                      <i class="fa fa-edit"></i> Editar
                    </button>
                       
                      </td>
                    </tr>  
                  </tbody>
                </table>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="clearCentral()" data-dismiss="modal">Fechar</button> 
            </div> 


        </div>
      </div>
    </div>

    <div class="modal modal-info fade in" id="armarioPrimarioModal" data-backdrop="static">
      <div class="modal-dialog modal-lg " style="max-width: 1700px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <div class="card-tools">
              <button type="button" class="btn btn-primary btn-smm" data-toggle="modal" data-target="#CriarArmarioPrimarioModal" style="margin-right: 10px"> <i
                  class="fa fa-globe"></i> Novo armario Primário</button>
            </div>
            <h4 class="modal-title"><i class="fa fa-globe"></i> Armários Primários</h4>
            
            <button type="button" class="close" (click)="clearCentral()" data-dismiss="modal">&times;</button>
          </div>
         
            <!-- Modal body -->
            <div class="modal-body"> 
              <app-loading></app-loading> 
              <h3 style="padding: 15px 10px; background: #0099FF; color: #fff;">Central: {{ central.descricao }}</h3>
              <hr>
              <table class="table table-hover table-bordered">
                  <thead>
                    <tr style="background: #0099FF; color: #ffffff;">
                      <th>#</th>
                      <th>Descrição</th>
                     
                      <th style="width: 142px;">Operações</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let armarioPrimario of armarioPrimarios index as i">
                      <td>{{ i + 1 }}</td>
                      <td>{{armarioPrimario.descricao}}</td>
                      
                      <td>
                        <button  type="button" class="btn btn-app btn-primary" data-toggle="tooltip" data-widget="chat-pane-toggle" title="Editar"
                        type="button" data-toggle="modal">
                      <i class="fa fa-edit"></i> Editar
                    </button>
                       
                      </td>
                    </tr>  
                  </tbody>
                </table>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="clearCentral()" data-dismiss="modal">Fechar</button> 
            </div> 


        </div>
      </div>
    </div>

    <div class="modal modal-info fade in" id="armarioSecundarioModal" data-backdrop="static">
      <div class="modal-dialog modal-lg " style="max-width: 1700px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <div class="card-tools">
              <button type="button" class="btn btn-primary btn-smm" data-toggle="modal" data-target="#CriarArmarioSecundarioModal" style="margin-right: 10px"> <i
                  class="fa fa-globe"></i> Novo armario Secundário</button>
            </div>
            <h4 class="modal-title"><i class="fa fa-globe"></i> Armários Secundários</h4>
            
            <button type="button" class="close" (click)="clearCentral()" data-dismiss="modal">&times;</button>
          </div>
         
            <!-- Modal body -->
            <div class="modal-body"> 
              <app-loading></app-loading> 
              <h3 style="padding: 15px 10px; background: #0099FF; color: #fff;">Central: {{ central.descricao }}</h3>
              <hr>
              <table class="table table-hover table-bordered">
                  <thead>
                    <tr style="background: #0099FF; color: #ffffff;">
                      <th>#</th>
                      <th>Descrição</th>
                     
                      <th style="width: 142px;">Operações</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let armarioSecundario of armarioSecundarios index as i">
                      <td>{{ i + 1 }}</td>
                      <td>{{armarioSecundario.descricao}}</td>
                      
                      <td>
                        <button  type="button" class="btn btn-app btn-primary" data-toggle="tooltip" data-widget="chat-pane-toggle" title="Editar"
                        type="button" data-toggle="modal">
                      <i class="fa fa-edit"></i> Editar
                    </button>
                       
                      </td>
                    </tr>  
                  </tbody>
                </table>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="clearCentral()" data-dismiss="modal">Fechar</button> 
            </div> 


        </div>
      </div>
    </div>

    <div class="modal modal-info fade in" id="parCaixaModal" data-backdrop="static">
      <div class="modal-dialog modal-lg " style="max-width: 1700px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <div class="card-tools">
              <button type="button" class="btn btn-primary btn-smm" data-toggle="modal" data-target="#CriarParCaixaModal" style="margin-right: 10px"> <i
                  class="fa fa-globe"></i> Novo par Caixa</button>
            </div>
            <h4 class="modal-title"><i class="fa fa-globe"></i> Par Caixas</h4>
            
            <button type="button" class="close" (click)="clearCentral()" data-dismiss="modal">&times;</button>
          </div>
         
            <!-- Modal body -->
            <div class="modal-body"> 
              <app-loading></app-loading> 
              <h3 style="padding: 15px 10px; background: #0099FF; color: #fff;">Central: {{ central.descricao }}</h3>
              <hr>
              <table class="table table-hover table-bordered">
                  <thead>
                    <tr style="background: #0099FF; color: #ffffff;">
                      <th>#</th>
                      <th>Descrição</th>
                     
                      <th style="width: 142px;">Operações</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let parCaixa of parCaixas index as i">
                      <td>{{ i + 1 }}</td>
                      <td>{{parCaixa.descricao}}</td>
                      
                      <td>
                        <button  type="button" class="btn btn-app btn-primary" data-toggle="tooltip" data-widget="chat-pane-toggle" title="Editar"
                        type="button" data-toggle="modal">
                      <i class="fa fa-edit"></i> Editar
                    </button>
                       
                      </td>
                    </tr>  
                  </tbody>
                </table>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="clearCentral()" data-dismiss="modal">Fechar</button> 
            </div> 


        </div>
      </div>
    </div>

    <div class="modal modal-info fade in" id="parADSLModal" data-backdrop="static">
      <div class="modal-dialog modal-lg " style="max-width: 1700px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <div class="card-tools">
              <button type="button" class="btn btn-primary btn-smm" data-toggle="modal" data-target="#CriarParADSLModal" style="margin-right: 10px"> <i
                  class="fa fa-globe"></i> Novo par ADSL</button>
            </div>
            <h4 class="modal-title"><i class="fa fa-globe"></i> Par ADSL</h4>
            
            <button type="button" class="close" (click)="clearCentral()" data-dismiss="modal">&times;</button>
          </div>
         
            <!-- Modal body -->
            <div class="modal-body"> 
              <app-loading></app-loading> 
              <h3 style="padding: 15px 10px; background: #0099FF; color: #fff;">Central: {{ central.descricao }}</h3>
              <hr>
              <table class="table table-hover table-bordered">
                  <thead>
                    <tr style="background: #0099FF; color: #ffffff;">
                      <th>#</th>
                      <th>Descrição</th>
                     
                      <th style="width: 142px;">Operações</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let parADSL of parADSLs index as i">
                      <td>{{ i + 1 }}</td>
                      <td>{{parADSL.descricao}}</td>
                      
                      <td>
                        <button  type="button" class="btn btn-app btn-primary" data-toggle="tooltip" data-widget="chat-pane-toggle" title="Editar"
                        type="button" data-toggle="modal">
                      <i class="fa fa-edit"></i> Editar
                    </button>
                       
                      </td>
                    </tr>  
                  </tbody>
                </table>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="clearCentral()" data-dismiss="modal">Fechar</button> 
            </div> 


        </div>
      </div>
    </div>




    <div class="modal modal-info fade modal-p" id="CriarIdArmarioModal" data-backdrop="static">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-map-marker"></i> Adicionar Novo Id do Armário</h4>
            
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <h3 style="padding: 15px 10px; background: #0099FF; color: #fff;">Central: {{ central.descricao }}</h3>
            <hr>
            <app-alert></app-alert>
            <app-loading></app-loading>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Descrição</label>
                  <input type="text" name="descricao" [(ngModel)]="idArmario.descricao" class="form-control"
                    placeholder="Descrição">
                </div>
              </div>
              

            </div>

          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"> Fechar</button>
            <button type="submit" class="btn btn-primary btn-sm" (click)="registerIdArmario()">Adicionar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal modal-info fade modal-p" id="CriarIdCaixaModal" data-backdrop="static">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-map-marker"></i> Adicionar Novo Id da Caixa</h4>
            
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <h3 style="padding: 15px 10px; background: #0099FF; color: #fff;">Central: {{ central.descricao }}</h3>
            <hr>
            <app-alert></app-alert>
            <app-loading></app-loading>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Descrição</label>
                  <input type="text" name="descricao" [(ngModel)]="idCaixa.descricao" class="form-control"
                    placeholder="Descrição">
                </div>
              </div>
              

            </div>

          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"> Fechar</button>
            <button type="submit" class="btn btn-primary btn-sm" (click)="registerIdCaixa()">Adicionar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal modal-info fade modal-p" id="CriarIdCaboModal" data-backdrop="static">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-map-marker"></i> Adicionar Novo</h4>
            
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <h3 style="padding: 15px 10px; background: #0099FF; color: #fff;">Central: {{ central.descricao }}</h3>
            <hr>
            <app-alert></app-alert>
            <app-loading></app-loading>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Descrição</label>
                  <input type="text" name="descricao" [(ngModel)]="idCabo.descricao" class="form-control"
                    placeholder="Descrição">
                </div>
              </div>
              

            </div>

          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"> Fechar</button>
            <button type="submit" class="btn btn-primary btn-sm" (click)="registerIdCabo()">Adicionar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal modal-info fade modal-p" id="CriarParCaboModal" data-backdrop="static">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-map-marker"></i> Adicionar Novo</h4>
            
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <h3 style="padding: 15px 10px; background: #0099FF; color: #fff;">Central: {{ central.descricao }}</h3>
            <hr>
            <app-alert></app-alert>
            <app-loading></app-loading>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Descrição</label>
                  <input type="text" name="descricao" [(ngModel)]="parCabo.descricao" class="form-control"
                    placeholder="Descrição">
                </div>
              </div>
              

            </div>

          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"> Fechar</button>
            <button type="submit" class="btn btn-primary btn-sm" (click)="registerParCabo()">Adicionar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal modal-info fade modal-p" id="CriarArmarioPrimarioModal" data-backdrop="static">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-map-marker"></i> Adicionar Novo</h4>
            
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <h3 style="padding: 15px 10px; background: #0099FF; color: #fff;">Central: {{ central.descricao }}</h3>
            <hr>
            <app-alert></app-alert>
            <app-loading></app-loading>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Descrição</label>
                  <input type="text" name="descricao" [(ngModel)]="parArmarioPrimario.descricao" class="form-control"
                    placeholder="Descrição">
                </div>
              </div>
              

            </div>

          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"> Fechar</button>
            <button type="submit" class="btn btn-primary btn-sm" (click)="registerArmarioPrimario()">Adicionar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal modal-info fade modal-p" id="CriarArmarioSecundarioModal" data-backdrop="static">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-map-marker"></i> Adicionar Novo</h4>
            
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <h3 style="padding: 15px 10px; background: #0099FF; color: #fff;">Central: {{ central.descricao }}</h3>
            <hr>
            <app-alert></app-alert>
            <app-loading></app-loading>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Descrição</label>
                  <input type="text" name="descricao" [(ngModel)]="parArmarioSecundario.descricao" class="form-control"
                    placeholder="Descrição">
                </div>
              </div>
              

            </div>

          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"> Fechar</button>
            <button type="submit" class="btn btn-primary btn-sm" (click)="registerArmarioSecundario()">Adicionar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal modal-info fade modal-p" id="CriarParCaixaModal" data-backdrop="static">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-map-marker"></i> Adicionar Novo</h4>
            
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <h3 style="padding: 15px 10px; background: #0099FF; color: #fff;">Central: {{ central.descricao }}</h3>
            <hr>
            <app-alert></app-alert>
            <app-loading></app-loading>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Descrição</label>
                  <input type="text" name="descricao" [(ngModel)]="parCaixa.descricao" class="form-control"
                    placeholder="Descrição">
                </div>
              </div>
              

            </div>

          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"> Fechar</button>
            <button type="submit" class="btn btn-primary btn-sm" (click)="registerParCaixa()">Adicionar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal modal-info fade modal-p" id="CriarParADSLModal" data-backdrop="static">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-map-marker"></i> Adicionar Novo</h4>
            
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <h3 style="padding: 15px 10px; background: #0099FF; color: #fff;">Central: {{ central.descricao }}</h3>
            <hr>
            <app-alert></app-alert>
            <app-loading></app-loading>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Descrição</label>
                  <input type="text" name="descricao" [(ngModel)]="parADSL.descricao" class="form-control"
                    placeholder="Descrição">
                </div>
              </div>
              

            </div>

          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"> Fechar</button>
            <button type="submit" class="btn btn-primary btn-sm" (click)="registerParADSL()">Adicionar</button>
          </div>
        </div>
      </div>
    </div>

    





  </div>

  
  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>
