<div class="modal modal-info fade in" id="{{modal}}"  data-backdrop="static">
  <div class="modal-dialog modal-lg " style="max-width: 1150px;">
    <div class="modal-content">
      <!-- Modal Header -->
      <form [formGroup]="simpleFormArmazem" (submit)="onSubmit();">
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa icon-user nav-icon"></i> {{ title }}</h4>
          <button class="close" type="reset" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body" style="padding: 2rem;">
          <ngx-loading [show]="loading"></ngx-loading>
          
         <!--  <div class="card-header">
            <h3 class="card-title"><i class="fa icon icon-user"></i> Dados pessoais</h3>
           
          </div> -->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group has-warning">
                <label class="col-form-label">Nome</label>
                <input class="form-control" required autofocus id="nome" type="text" formControlName="nome"
                  placeholder="Nome" autocomplete="given-name"
                  [ngClass]="{ 'is-invalid': submitted && f.nome.errors, 'is-valid': f.nome.touched && !f.nome.errors }" />
                  <div *ngIf="submitted && f['nome'].errors" class="invalid-feedback">
                  <div *ngIf="f['nome'].errors.required">O campo Nome é obrigatório</div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group has-warning">
                <label class="col-form-label" for="status">Estado</label>
                <div class="input-group mb-6">
                  <select formControlName="status" class="form-control" required autofocus
                    [ngClass]="{ 'is-invalid': submitted && f.status.errors, 'is-valid': f.status.touched && !f.status.errors }">
                    <option value="null">Selecione</option>
                    <option [value]="1"> Activo </option>
                    <option [value]="0"> Inactivo </option>
                  </select>
                  <div *ngIf="submitted && f['status'].errors" class="invalid-feedback">
                    <div *ngIf="f['status'].errors.required">O campo Activação é obrigatório</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group has-warning">
                <label class="col-form-label">Localização</label>
                <input class="form-control" required autofocus id="localizacao" type="text" formControlName="localizacao"
                  placeholder="Localização" autocomplete="given-name"
                  [ngClass]="{ 'is-invalid': submitted && f.localizacao.errors, 'is-valid': f.localizacao.touched && !f.localizacao.errors }" />
                  <div *ngIf="submitted && f['localizacao'].errors" class="invalid-feedback">
                  <div *ngIf="f['localizacao'].errors.required">O campo Localização é obrigatório</div>
                </div>
              </div>
            </div>

           
          </div>

        </div>


       

        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="btn btn-danger btn-sm" type="reset" [disabled]="simpleFormArmazem.pristine && !submitted"
            (click)="onReset()">Limpar</button>
          <button class="btn btn-success btn-sm mr-1" type="submit"
            [disabled]="simpleFormArmazem.valid">Validar</button>
          <button class="btn btn-primary mr-1 btn-sm" type="submit"
            [disabled]="simpleFormArmazem.pristine || simpleFormArmazem.invalid" data-style="expand-left"><i
              class="fa fa-save"></i>
            Registar</button>
        </div>
      </form>
    </div>
  </div>
</div>
