<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><i class="fa icon fa-home"></i> Ciclo de Facturação</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Ciclo</a></li>
              <li class="breadcrumb-item"><a>Facturação</a></li>
              <!-- <li class="breadcrumb-item active">Facturação Automatica</li> -->
              <li class="breadcrumb-item active">Ciclo de Facturação</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">LISTA DE CICLO DE FATURAÇÃO</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <app-loading></app-loading>
                <div class="modal-header">
                  <h4 class="modal-title">LISTAGEM CICLO DE FACTURAÇÃO</h4>
                  <div class="card-tools">
                    <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-toggle="modal"
                      data-target="#newModal" (click)="ini(); getSelectBox()"><i class="fa fa-plus"></i>
                      Registar</button>
                  </div>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <!-- /.card-body -->
                  <div class="table-responsivee">

                    <ngx-loading [show]="loading"></ngx-loading>

                    <table *ngIf="items.length > 0;else emptyList"
                      class="table table-hover table-bordered table-stripedd text-center m-0 exportAsXLSXCliente">

                      <tr style="color: #fff; background: #0099FF;">
                        <th width="60">#</th>
                        <th>Ciclo</th>
                        <th width="550"> Dia da última Leitura</th>
                        <th width="550"> Série</th>
                        <th width="100"> Estado</th>
                        <th width="5">Operação</th>

                        <!--  <th width="5">Acção</th> -->
                      </tr>
                      <tr
                        *ngFor="let item of items | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                        <td>{{ i + 1}}</td>
                        <td>{{ item.ano }}/<span *ngIf="item.mes == 1">Janeiro</span>
                          <span *ngIf="item.mes == 2">Fevereiro</span>
                          <span *ngIf="item.mes == 3">Março</span>
                          <span *ngIf="item.mes == 4">Abril</span>
                          <span *ngIf="item.mes == 5">Maio</span>
                          <span *ngIf="item.mes == 6">Junho</span>
                          <span *ngIf="item.mes == 7">Julho</span>
                          <span *ngIf="item.mes == 8">Agosto</span>
                          <span *ngIf="item.mes == 9">Setembro</span>
                          <span *ngIf="item.mes == 10">Outubro</span>
                          <span *ngIf="item.mes == 11">Novembro</span>
                          <span *ngIf="item.mes == 12">Dezembro</span>/{{ item.dia_facturacao }}</td>
                        <td>{{ item.dia_ultima_leitura }}</td>
                        <td>{{ item.sigla }} {{ item.serieDescricao }}</td>
                        <td>
                          <span class="btn bg-danger btn-block btn-flat status-label"
                            *ngIf="!item.estado">Desactivo</span>
                          <span class="btn bg-success btn-block btn-flat status-label" *ngIf="item.estado">Activo</span>
                        </td>

                        <td>
                          <div class="btn-group btn-block">
                            <button type="button" class="btn btn-info btn-flat btn-sm btn-block"
                              data-toggle="dropdown">Opções</button>
                            <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown"
                              aria-expanded="false">
                              <span class="caret"></span>
                              <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                              style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(67px, 38px, 0px);">

                              <a href="javascript:void(0)" class="dropdown-item btn-sm"
                                (click)="getSelectBox(); setDataCicloFacturacao(item); " data-toggle="modal"
                                data-target="#newModal">
                                <i class="fa fa-edit"></i> Editar
                              </a>

                              <!--
                              <a href="#" class="dropdown-item btn-sm"
                                (click)="refresh(item.id,item.ano,item.mes, item.serie,item.estado)"
                                data-widget="chat-pane-toggle" data-toggle="modal" > <i
                                  class="fa fa-list"></i>Facturação Registada
                              </a>
-->

                              <a href="javascript:void(0)" class="dropdown-item btn-sm"
                                (click)="updateStateCicloFacturacao(item)">
                                <span class="label-danger" style="border-radius: 6px; padding: 2px 6px;"
                                  *ngIf="item.estado"><i class="fa fa-refresh"></i> Desactivar</span>
                                <span class="label-success" style="border-radius: 6px; padding: 2px 6px;"
                                  *ngIf="!item.estado"><i class="fa fa-refresh"></i> Activar</span>
                              </a>

                            </div>
                          </div>
                        </td>



                      </tr>
                    </table>


                  </div>
                </div>
                <div class="card-footer clearfix">
                  <div class="row">
                    <div class="col-sm-12 col-md-5">
                      <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                        {{this.http.filters.pagination.perPage}} de
                        {{this.http.filters.pagination.total}} Registos
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                      <div class="pull-right">
                        <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior"
                          maxSize="6" nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <!-- /.card-body --> 
            </div>

        </div>
      </div>
    </section>
    <!-- /.content -->

    <!-- The Modal -->
    <div class="modal modal-info fade" id="newModal" data-backdrop="static">
      <div class="modal-dialog modal-lg" style="max-width: 935px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-dot-circle-o nav-icon"></i> Registar Ciclo de Facturação</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <app-loading></app-loading>

          <div class="modal-body">
            <app-alert></app-alert>
            <div class="col-md-12">


              <!-- /.card-header -->
              <div class="card-body" style="padding: 9px;"><br>
                <div class="row">

                  <div class="col-md-3">
                    <div class="form-group">
                      <label> Ano</label>
                      <div class="input-group">
                        <select class="form-control" autocomplete="ano" required [(ngModel)]="ciclo_facturacao.ano">
                          <option value="null">Ano</option>
                          <option value="{{ n }}" *ngFor="let n of anos">{{ n }}</option>
                        </select>

                      </div>

                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label> Mês</label>
                      <div class="input-group">
                        <select class="form-control" autocomplete="mes" required [(ngModel)]="ciclo_facturacao.mes">
                          <option value="null">Mês</option>
                          <option value="{{ n.id }}" *ngFor="let n of meses">{{ n.nome }}</option>
                        </select>

                      </div>

                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="control-label"> Dia de Facturação</label>
                      <select class="form-control" [(ngModel)]="ciclo_facturacao.dia_facturacao" name="dia_facturacao">
                        <option value="null" selected>Dia de Facturação</option>
                        <option value="{{ n.dia }}" *ngFor="let n of dias">{{ n.dia }}</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="control-label"> Última Leitura</label>
                      <select class="form-control" [(ngModel)]="ciclo_facturacao.dia_ultima_leitura"
                        name="dia_ultima_leitura">
                        <option value="null" selected>Última Leitura</option>
                        <option value="{{ n.dia }}" *ngFor="let n of dias">
                          {{n.dia}}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label> Série</label>
                      <div class="input-group">
                        <input type="text" placeholder="Pesquisar..." [(ngModel)]="ciclo_facturacao.serie"
                          class="form-control" (keyup)="getSerie()">
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default btn-flat"
                            style="background-color: #0099FF; color: #ffffff; margin: 3.5px;"><i
                              class="fa fa-search"></i></button>
                        </span>
                      </div>

                      <div class="autocomplete-container" *ngIf="view_serie">
                        <ul>
                          <li *ngFor="let item of series ">
                            <a href="javascript:void(0)" (click)="setSerie(item.id, item.nome, item.sigla)">
                              {{ item.sigla }} {{ item.nome }}
                            </a>
                          </li>
                        </ul>
                      </div>

                    </div>
                  </div>




                  <!--
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label"> Estado</label>
                          <select class="form-control" [(ngModel)]="ciclo_facturacao.estado_id" name="estado">
                            <option value="null" selected>Estado</option>
                            <option value="{{ item.id }}" *ngFor="let item of estados">
                              {{ item.descricao }}
                            </option>
                          </select>
                        </div>
                      </div>
-->
                </div>
              </div>
              <!-- /.card-body -->

            </div>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"> Fechar</button>
            <button class="btn btn-primary btn-sm" (click)="register()">Salvar</button>
          </div>

          <!-- Modal fim -->
        </div>
      </div>
    </div>

    <ng-template #emptyList>
      <div align="center">
        <h2>Sem resultados</h2>
        <span></span>
      </div>
    </ng-template>

    <ng-template #dataEmpty>------</ng-template>

  </div>
  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>
