<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Terceiro</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Venda</a></li>
              <li class="breadcrumb-item active">Terceiros</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="content">
        <div class="row">
          <div class="col-md-12">

            <aw-wizard navBarLocation="top">
              <aw-wizard-step stepTitle="Listagem de Clientes">
                <div class="row">
                  <div class="col-12">
                      <div class="card card-danger">
                          <div class="card-body" style="padding: 9px 14px;">
                            <div class="row"> 
                              <div class="col-3">Nome</div>
                              <div class="col-2">Telefone</div>
                              <div class="col-2">Contribuente</div>
                              <div class="col-1">Morada</div>
                            </div>
                            <div class="row"> 
                              <div class="col-3">
                                <input type="text" class="form-control border-radius-0" placeholder="Nome">
                              </div>
                              <div class="col-2">
                                <input type="text" class="form-control border-radius-0" placeholder="Telefone">
                              </div>
                              <div class="col-2">
                                <input type="text" class="form-control border-radius-0" placeholder="Contribuente">
                              </div>
                              <div class="col-2">
                                <input type="text" class="form-control border-radius-0" placeholder="Morada">
                              </div>
                              <div class="col-1">
                                <button type="button" class="btn btn-block btn-default btn-flat"><i class="fa fa-search"></i>
                                  Filtrar</button>
                              </div>
                              <div class="col-2"> 
                                  <button type="button" class="btn btn-block btn-primary btn-flat" awNextStep><i class="fa fa-plus"></i> Registar
                                     </button>
                              </div>
                            </div>
                          </div>
                          <!-- /.card-body -->
                        </div>
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">Listagem de Clientes</h3>
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body table-responsive p-0">
                        <table class="table table-hover table-bordered">
                          <tbody>
                            <tr>
                              <th>#</th>
                              <th>Nome</th>
                              <th>Telefone</th>
                              <th>Contribuente</th>
                              <th>Morada</th>
                              <th>Acção</th>
                            </tr> 
                            <tr>
                                <td>1</td>
                                <td>João Manuel</td>
                                <td>94494</td>
                                <td><span class="badge bg-primary">44323323</span></td>
                                <td>Talatona, Belas, Luanda</td>
                                <td> 
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-flat"><i class="fa fa-edit"></i></button>
                                        <button type="button" class="btn btn-default btn-flat"><i class="fa fa-trash-o"></i></button>
                                        <button type="button" class="btn btn-default btn-flat"><i class="fa fa-eyes"></i></button>
                                      </div>
                                </td>
                              </tr> 
                            <tr *ngFor="let item of items">
                                <td>{{ item.id }}</td>
                                <td>{{ item.nome }}</td>
                                <td>{{ item.telefone }}</td>
                                <td><span class="badge bg-primary">{{ item.contribuente }}</span></td>
                                <td>{{ item.morada }}</td>
                                <td> 
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-flat"><i class="fa fa-edit"></i></button>
                                        <button type="button" class="btn btn-default btn-flat"><i class="fa fa-trash-o"></i></button>
                                        <button type="button" class="btn btn-default btn-flat"><i class="fa fa-eyes"></i></button>
                                      </div>
                                </td>
                              </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="card-footer clearfix">
                          <ul class="pagination pagination-sm m-0 float-right">
                            <li class="page-item"><a class="page-link" href="#">«</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">»</a></li>
                          </ul>
                        </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                  </div>
                </div>

                <div class="row">
                  <div class="col text-center">
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-default" awNextStep>Registar <i
                          class="fa fa-arrow-right"></i></button>
                    </div>
                  </div>
                </div>
              </aw-wizard-step>
              <aw-wizard-step stepTitle="Registar">

                  <div class="col-md-12">
                      <div class="card card-primary card-outline">
                        <div class="card-header">
                          <h3 class="card-title">Registo de Cliente</h3>
        
                          <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                          </div>
                          <!-- /.card-tools -->
                        </div>
                        <form (submit)="register($event)">
                          <!-- /.card-header -->
                          <div class="card-body" style="display: block;">

                             <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="nome"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Nome</label>
                                        <input type="text" #nome ngModel name="nome" class="form-control" id="nome" placeholder="Ex. Pedro António">
                                      </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="nome"><i class="fa fa-mobile" aria-hidden="true"></i> Telefone</label>
                                        <input type="text" #telefone ngModel name="telefone" class="form-control" id="nome" placeholder="Ex. +244 926 000 111">
                                      </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group has-warning">
                                      <label class="control-label" for="barcode"><i class="fa fa-sort-numeric-asc" aria-hidden="true"></i> Contribuente</label>
                                      <input type="number" class="form-control" id="barcode" placeholder="">
                                    </div>
                                  </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="morada"><i class="fa fa-home" aria-hidden="true"></i> Morada</label>
                                        <input type="text" #morada ngModel name="morada" class="form-control" id="morada" placeholder="Ex. Kicolo - Cacuaco, Luanda">
                                      </div>
                                </div> 
                             </div> 
                          </div>
                          <!-- /.card-body -->
                          <div class="card-footer clearfix">
                            <a href="javascript:void(0)" class="btn btn-sm btn-danger float-left">Limpar</a>
                            <button type="submit" class="btn btn-sm btn-success float-right">Registar</button>
                          </div>
                        </form>
                        <!-- /.card-footer -->
                      </div>
                      <!-- /.card -->
                    </div>


                <div class="row">
                  <div class="col text-center">
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-default" awPreviousStep><i class="fa fa-arrow-left"></i>
                        Listagem</button>
                    </div>
                  </div>
                </div>
              </aw-wizard-step>
            </aw-wizard>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>