<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">

    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><i class="fa icon fa-shopping-cart"></i> Pré Facturação</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Vendas</a></li>
              <li class="breadcrumb-item"><a href="#">Facturação</a></li>
              <li class="breadcrumb-item active">Facturação Automatica</li>
              <li class="breadcrumb-item active">Pré-Facturação</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <section class="content">
      <div class="row">

        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">

                <div class="modal-header"><h4 class="modal-title">Processo da Pré-Facturação</h4></div>

                <div class="modal-body">
                  <div class="row">

                    <div class="col-md-3 col-xs-3">
                      <div class="form-group">
                        <select name="roteiro" class="form-control" (change)="_getRoteirosByRotaId($event.target.value)">
                          <option value="0" selected>Selecionar rota</option>
                          <option *ngFor="let rota of rotas" [value]="rota.id">{{ rota.descricao }}</option>
                        </select>
                      </div>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col-lg-12 col-12">
                      <div class="modall modal-info fadee" data-backdrop="static">
                        <div class="modal-dialog" style="max-width: 100%;">
                          <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">

                            <div class="card-header">
                              <h3 class="card-title" *ngIf="rota">
                                <span class="mr-2">{{rota.descricao}} - </span>
                                <span class="mr-2">De {{rota.data_inicio}} à {{rota.data_fim}} </span>
                              </h3>
                              <div class="card-tools">
                                <button (click)="_initProcess()" [disabled]="!roteiros.length" type="button" class="btn btn-info btn-flatt mr-1 btn-smm" type="button">
                                  <i class="fa fa-save"></i> Processar ...
                                </button>
                              </div>
                            </div>

                            <div class="modal-body">
                              <div class="table-responsivee">
                                <ngx-loading [show]="loading"></ngx-loading>

                                <table class="table table-hover table-bordered table-stripedd text-center m-0" *ngIf="roteiros.length;else emptyList">
                                  <tbody>
                                    <tr style="color: #fff; background: #0099FF;">
                                      <th>#</th>
                                      <th>CIL</th>
                                      <th>Cliente</th>
                                      <th>Tarifário</th>

                                      <th>Data da Última Leitura</th>
                                      <th>Última Leitura</th>

                                      <th>Data da Leitura</th>
                                      <th>Leitura</th>
                                      <th>Consumo</th>
                                    </tr>
                                    <tr *ngFor="let item of roteiros; index as i" [style.background-color]="item.nao_leitura ? '#ff000024': '#ffffff'" >
                                      <td>{{ i + 1 }}</td>
                                      <td>{{ item.cil }}</td>
                                      <td>{{ item.cliente }}</td>
                                      <td>{{ item.tarifario_descricao }}</td>

                                      <td>{{ item.data_ultima_leitura | date: 'dd-MM-yyyy' }}</td>
                                      <td>{{ item.nao_leitura ? 'Não leitura' : item.ultima_leitura  }}</td>

                                      <td>{{ item.data_leitura | date: 'dd-MM-yyyy' }}</td>
                                      <td>{{ item.nao_leitura ? 'Não leitura' : item.leitura  }}</td>
                                      <td>{{ item.consumo }}</td>
                                    </tr>
                                  </tbody>
                                </table>

                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </section>


  </div>
  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>


<ng-template #emptyList>
  <div align="center">
    <h2>Sem resultados</h2>
    <span></span>
  </div>
</ng-template>

<button id="media_consumo_btn" type="button" data-toggle="modal" data-toggle="modal" data-target="#ModalUpdateMediaConsumo" style="visibility: hidden;"></button>

<div class="modal modal-info fade in" id="ModalUpdateMediaConsumo" data-backdrop="static">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">

          <div class="modal-header">
              <h4 class="modal-title"><i class="fa fa-user nav-icon"></i>Adicionar medias de consummos</h4>
              <button id="closeModalMediaConsumo" class="close" type="reset" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body" style="padding: 2rem;">
              <ngx-loading [show]="loading"></ngx-loading>
              <app-loading></app-loading>

              <table class="table table-hover table-bordered table-stripedd text-center">
                <tbody>
                  <tr style="color: #fff; background: #0099FF;">
                    <th>#</th>
                    <th>Nome do clinete</th>
                    <th>Telefone</th>
                    <th>Morada</th>
                    <th>Nº Contador</th>
                    <th>Ultima leitura</th>
                    <th>Média de consumo</th>
                  </tr>
                  <tr
                    *ngFor="let contrato of contratos; index as i">
                    <td>{{ i + 1 }}</td>
                    <td>{{contrato.nome}}</td>
                    <td>{{contrato.telefone}}</td>
                    <td>{{contrato.morada}}</td>
                    <td>{{contrato.numero_serie}}</td>
                    <td>{{contrato.ultima_leitura}}</td>
                    <td>
                      <input type="number" placeholder="Valor da média de consumo" [(ngModel)]="contrato.media_consumo" class="form-control">
                    </td>
                  </tr>
                </tbody>
              </table>


          </div>

          <div class="modal-footer">
              <button id="closeModalMediaConsumo" class="btn btn-outline-danger btn-sm mr-1" data-dismiss="modal">Fechar</button>
              <button (click)="_updateMediaConsumo()" class="ml-2 btn-sm btn btn-primary"><i class="fa fa-save mr-1"></i>Actualizar Medias de consumos</button>
          </div>
      </div>
  </div>
</div>
