<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Reclamações</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Listagem</a></li>
              <li class="breadcrumb-item active">Reclamações</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="content">
        <div class="row">

          <div class="col-lg-12 col-12">
            <div class="modall modal-info fadee" data-backdrop="static">
              <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
                <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title"> Filtro de Dados</h4>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                    <div class="row">
  
  
                      <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                          <!--<label style="color: #fff;">Entrada</label>-->
                          <select name="perPage" (change)="getPageFilterData($event)"
                            [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
                            <option value="1">Entrada</option>
                            <option value="5" selected>5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                          </select>
                        </div>
                        <!-- /.input group -->
                      </div>
  
                      <div class="col-md-4 col-xs-3">
                        <div class="form-group"> 
                          <input type="text" name="search" [(ngModel)]="this.http.filters.search"
                            placeholder="Pesquisar..." class="form-control" (keyup)="getPageFilterData($event)">
                          <i class="fa fa-search"
                            style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                        </div>
                        <!-- /.input group -->
                      </div>
  
                      <div class="col-md-1 col-xs-3">
                        <div class="form-group"> 
                          <select name="orderBy" (change)="getPageFilterData($event)" [(ngModel)]="this.http.filters.orderBy" class="form-control">
                            <option [ngValue]="null">Ordernar</option>
                            <option value="nome">Nome do cliente</option>
                            <option value="created_at">Data</option>
                            <option value="prioridade">Prioridade</option>
                            <option value="tipoReclamacao">Tipo</option>
                            <option value="telefone">Telefone</option>
                          </select>
                        </div>
                        <!-- /.input group -->
                      </div>
  
  
                      <div class="col-md-1 col-xs-2">
                        <div class="form-group"> 
                          <div class="input-group">
                            <button type="button" class="btn btn-info btn-flatt mr-1 btn-smm" type="button"><i
                                class="fa fa-search"></i>
                              Filtrar</button>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>
  
                      <div class="col-md-2 col-xs-3">
                        <div class="form-group" style="float: right;"> 
                          <div class="input-group">
                            <div class="btn-group">
  
                              <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle dropdown-icon btn-flat"
                                  data-toggle="dropdown" aria-expanded="false" [disabled]="disabledButton"> <i
                                    class="fa fa-download"></i> Exportação
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start" style="left: 40px;">
                                  <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsPDF();"><i
                                      class="fa fa-file-pdf-o"></i>
                                    PDF</a>
                                  <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsXLSX();"><i
                                      class="fa fa-file-excel-o"></i> Excel</a>
                                </div>
                              </div>
                              <button type="button" class="btn btn-info btn-flat" (click)="imprimirPDF()" [disabled]="disabledButton"><i
                                  class="icon-printer"></i> Imprimir</button> 
                                   <!-- <button type="button" class="btn btn-primary btn-flat"
                                    data-toggle="modal" data-target="#modalImpostoCreateOrEdit" (click)="setDataImposto(undefined);"><i
                                        class="fa fa-plus"></i> Registar</button>-->
                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>
  
  
                    </div> 
                  </div>
  
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-12 col-12">
            <div class="modall modal-info fadee" data-backdrop="static">
              <div class="modal-dialog" style="max-width: 100%;">
                <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">TABELA DE RECLAMAÇÕES</h4>
                  
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                    <!-- /.card-body --> 
                    <div class="table-responsivee">
  
  
                      <ngx-loading [show]="loading"></ngx-loading>
  
                      <table class="table table-hover table-bordered table-stripedd text-center m-0 exportAsXLSXCliente">
                        <tbody>
                          <tr style="color: #fff; background: #0099FF;">
                            <th>#</th>
                            <th>Nome Cliente</th>
                            <th>Telefone Cliente</th>
                            <th>Tipo de Reclamação</th>
                            <th>Prioridade</th>
                            <th>Estado</th>
                            <th>Observação</th>
                            <th>Data Reclamação</th>
                            <th width="50px">Operações</th>
      
                          </tr>
                          <tr
                            *ngFor="let item of items | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                            <td>{{ i + 1 }}</td>
                            <td>{{ item.clienteNome }}</td>
                            <td>{{ item.clienteTelefone }}</td>
                            <td>{{ item.tipoReclamacao }}</td>
                            <td>{{ item.prioridade }}</td>
                            <td>{{ item.estadoDesignacao }}</td>
                            <td>{{ item.observacao }}</td>
      
                            <td>
                              {{item.created_at | date: 'dd-MM-yyyy'}}
                            </td>
      
                            <td>
                              <div class="btn-group btn-block">
                                <button type="button" class="btn btn-info  btn-flat btn-sm"
                                  data-toggle="dropdown">Opções</button>
                                <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown"
                                  aria-expanded="false">
                                  <span class="caret"></span>
                                  <span class="sr-only">Menu Serviços</span>
                                </button>
                                <div  class="dropdown-menu" role="menu"
                                  x-placement="bottom-start">
                                  <a href="javascript:void(0)" *ngIf="item.siglaEstado!='FN'" data-toggle="modal" data-target="#editEstadoModal"
                                    (click)="getDadosModal(); getCliente(item.clienteNome, item.tipoReclamacao, item.created_at); getEstadoReclamacao(item.idReclamacao);"
                                    class="dropdown-item btn-sm"><i class="fa fa-pencil"></i> Actualizar Estado</a>
                                  <li class="divider"></li>
                                  <a href="javascript:void(0)" data-toggle="modal" data-target="#historicoModal"
                                    (click)="getHistoricoEstado(item.idReclamacao); getCliente(item.clienteNome, item.tipoReclamacao, item.created_at) "
                                    class="dropdown-item btn-sm"><i class="fa fa-eye"></i>
                                    Histório</a>
      
                                </div>
                              </div>
                            </td>
      
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <div class="row" style="width: 100%;">
                      <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                          {{this.http.filters.pagination.perPage}} de
                          {{this.http.filters.pagination.total}} Reclamações
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-7">
                        <div class="pull-right">
                          <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior"
                            maxSize="6" nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                        </div>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
          </div>

         
        </div>
      </div>
    </section>
    <!-- /.content -->
    <div class="modal modal-info fade in" id="editEstadoModal" data-backdrop="static">
      <div class="modal-dialog modal-lg " style="max-width: 1000px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa icon fa-pencil"></i> Editar estado</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <app-loading></app-loading>
            <app-alert></app-alert>
            <h3 style="padding: 15px 10px; background: #0099FF; color: #ffffff;">Cliente: {{ reclamacao.clienteNome }}</h3>
            <hr>

            <div class="row">

              <div class="col-md-12">
                <div class="form-group">
                  <label>Estado</label>
                  <select class="form-control" name="estado" [(ngModel)]="reclamacao.estado_reclamacao_id">
                    <option selected [value]="null">Selecione o estado</option>
                    <option *ngFor="let estado of estados" [value]="estado.id"> {{estado.designacao}} </option>
                  </select>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label for="morada"><i class="fa fa-home" aria-hidden="true"></i> Observacao</label>
                  <textarea [(ngModel)]="reclamacao.observacao" name="observacao" value="" class="form-control"
                    placeholder="Observação"></textarea>
                </div>
              </div>

            </div>



          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-outline-primary btn-sm"
              (click)="editarEstadoPedido()">Actualizar</button>
          </div>


        </div>
      </div>
    </div>

    <div class="modal modal-info fade in" id="historicoModal" data-backdrop="static">
      <div class="modal-dialog modal-lg " style="max-width: 1700px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <div class="card-tools">
             
            </div>
            <h4 class="modal-title"><i class="fa icon fa-credit-card"></i> HISTÓRICO ESTADOS RECLAMAÇÃO</h4>

            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <app-loading></app-loading>
            <h3 style="padding: 15px 10px; background: #0099FF; color: #ffffff;">Cliente: {{ reclamacao.clienteNome }} | Tipo de Reclamação: {{ reclamacao.tipoReclamacao }} | Data Reclamação: {{ reclamacao.dataReclamacao | date: 'dd-MM-yyyy' }}</h3>
            <hr>
            <table class="table table-hover table-bordered">
              <thead>
                <tr style="background: #0099FF; color: #ffffff;">
                  <th width="50px">#</th>
                  <th width="400px">Estado Anterior</th>
                  <th width="400px">Novo Estado</th>
                  <th width="200px">Observação Anterior</th>
                  <th>Nova Observação</th>
                  <th>Data</th>
                  <th>Operador(a)</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let historico of historicos index as i">
                  <td>{{i + 1}}</td>
                  <td>{{ historico.oldEstado }}</td>

                  <td>{{ historico.newEstado }}</td>
                  <td>{{ historico.observacao_old }}</td>
                  <td>{{ historico.observacao_new }}</td>
                  <td>{{ historico.created_at }}</td>
                  <td>{{ historico.operador }}</td>

                </tr>
              </tbody>
            </table>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
          </div>


        </div>
      </div>
    </div>

  </div>

  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>