/* You can add global styles to this file, and also import other style files */

@import url(assets/plugins/font-awesome/css/font-awesome.min.css);
@import url(assets/dist/css/adminlte.min.css);
@import url(assets/dist/css/simple-line-icons/simple-line-icons.css);
/*@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700); */

html,
body {
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
  zoom: 85%;
  background: #ecf0f5;
}
.aw-color{
  color: #ffffff;
  font-weight: normal;
  font-size: 18px;
}
 .terceiro{
  padding: 15px 10px;
  background: #0099FF;
  color:#ffffff;
  font-weight: 100;
 }
 .modal {
    z-index: 999999;
}

@media screen and (max-width: 600px) {
  html, body {
     zoom: 80%;
  }
}

.main-footer {
  /* margin-top: 22px; */
  position: static;
}
.toast-container .toast {
  opacity: 1;
}

.content-header {
  margin-bottom: 65px;
  border-bottom: 1px solid #c2c7d0;
  padding: 8px 0.5rem;
  background: #dee2e6c2;
}

input {

}

.border-radius-0 {
  border-radius: 0;
}
.main-sidebar {
  z-index: 1;
  height: unset;
}

.btn-app-mini {
  padding: 8px 5px !important;
  margin: 0 !important;
  min-width: 61px !important;
  height: 52px !important;
}

.toast-container > div {
  opacity: 1;
}
.horizontal ul.steps-indicator li a .label,
.vertical ul.steps-indicator li a .label {
  text-transform: capitalize !important;
}

.vertical.small ul.steps-indicator li .step-indicator {
  width: 23px !important;
  height: 23px !important;
  top: 8px !important;
}
.vertical ul.steps-indicator li {
  margin-bottom: 5px !important;
  border-radius: 3px;
  width: 233px;
  padding: 12px 8px;
  background: #0099FF;
}

.horizontal.small ul.steps-indicator {
  padding: 37px 0 17px 10px !important;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.horizontal ul.steps-indicator li a {
  /*box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 1px rgba(0,0,0,.2);*/
  cursor: pointer;
  padding: 38px 32px 10px 32px;
  border-radius: 3px;
  background: #0099FF;
}

.form-control:disabled {
  background-color: #f8f9fa;
  opacity: 1;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #B9B9B9
}
.form-control:disabled:hover {
  cursor: no-drop;
}

.nota-credito-modal-lg {
  max-width: 80%;
}

.overlay,
.overlay-wrapper .overlay {
  z-index: 50;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0.25rem;
}
.loading-img,
.overlay,
.overlay-wrapper > .loading-img,
.overlay-wrapper > .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay > .fa,
.overlay-wrapper .overlay > .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px;
}

.card {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
}
.card {
  /*box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: thin solid #0099FF*/
}
.card-header {
  color: #444;
  background: #ffffff;
  display: block;
  padding: 16px 18px;
  position: relative;
}

.card-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
  position: relative;
}

.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #0099FF;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
}

.content-wrapper {
  min-height: 100%;
  background-color: #ecf0f5;
  z-index: 800;
}
.breadcrumb {
  float: right;
  background: transparent;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  padding: 7px 5px;
  position: absolute;
  top: 15px;
  right: 10px;
  border-radius: 2px;
}
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.content-header h1 {
  font-size: 24px;
}
.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #6c757d;
  content: ">";
}

.pagination {
  margin: 0;
}

.card-footer {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
}

.dropdown-menu.show {
  z-index: 99999 !important;
}

.page-item:first-child .page-link {
  border-radius: 0;
}

.page-item:last-child {
  border-radius: 0;
}
.dropdown-menu {
  margin-left: -61px !important;
}
.card {
  border-top: 0px solid #d2d6de;
}

.table td,
.table th {
  padding: 8px 10px 5px;
  font-size: 15px;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.description-block > .description-text {
  text-transform: capitalize;
}

element.style {
  display: inline-block;
}
.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.swal2-container .btn {
  margin: 0 0.5rem;
}

.todo-list > li {
  margin: 2px 0;
  border: 1px solid #e6e7e8;
  color: #444;
}

.modal-xl {
  max-width: 1140px;
}

.sidebar-dark-info .nav-sidebar > .nav-item.menu-open > .nav-link,
.sidebar-dark-info .nav-sidebar > .nav-item:hover > .nav-link {
  color: #fff;
  background-color: #0099FF;
}
.btn {
  margin: 0 2px;
}

.modal-p {
  background: rgba(0, 0, 0, 0.44) !important;
  z-index: 9999;
}

.content-wrapper,
.main-footer,
.main-header {
  margin-left: 300px;
}

.main-sidebar,
.main-sidebar:before {
  width: 300px;
}
.content-wrapper > .content {
  padding: 0 1.5rem;
}

.btn-app {
  border-radius: 3px;
  padding: 6px 7px;
  margin: 0 3px;
  min-width: 43px;
  height: 50px;
  font-size: 12px;
}

.sidebar-dark-info {
  background-color: #02507C;
}

.main-sidebar,
.main-sidebar:before {
  width: 302px;
}

.content-wrapper,
.main-footer,
.main-header {
  margin-left: 302px;
}
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar-dark-info .nav-treeview > .nav-item > .nav-link.active,
.sidebar-dark-info .nav-treeview > .nav-item > .nav-link.active:hover {
  color: #02507C;
  border-left: 3px solid #0099FF !important;
  background-color: #ffffff;
}

.nav-sidebar > .nav-item .nav-icon,
.nav-sidebar > .nav-item i {
  font-size: 15px;
}

.nav-sidebar > .nav-item .nav-icon {
  font-size: 13px;
  padding: 8px 8px 8px 7px;
  /* background: #212529; */
  margin-right: 10px;
  border-radius: 2px;
}

.sidebar-dark-info .nav-treeview > .nav-item > .nav-link.active .nav-icon {
  color: #02507C;
}

.modal-content,
.modal-header {
  border-radius: 0;
}

.modal-title {
  font-size: 21px;
  color: #02507C !important;
}

.nav-link {
  padding: 12px 11px;
}

.nav-pills .nav-link {
  border-radius: 0;
}

.sidebar-dark-info .nav-sidebar > .nav-item > .nav-treeview {
  background: #2c3b4147;
}

.elevation-4 {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.25), 0 0 0 rgba(0, 0, 0, 0.22);
}

.small-box {
  border-radius: 2px;
  position: relative;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.small-box > .small-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.info-box {
  display: block;
  min-height: 90px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 15px;
  padding: 0;
}

.info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  height: 90px;
  width: 90px;
  text-align: center;
  font-size: 45px;
  line-height: 90px;
  background: rgba(0, 0, 0, 0.2);
}

.info-box-content {
  padding: 5px 10px;
  margin-left: 0px;
}
.info-box-text {
  text-transform: uppercase;
}

.progress-description,
.info-box-text {
  display: block;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 18px;
}

.bg-aqua {
  background-color: #00c0ef !important;
}
.bg-green {
  background-color: #00a65a !important;
}

.bg-yellow {
  background-color: #f39c12 !important;
}
.bg-red {
  background-color: #dd4b39 !important;
}

.info-box .progress {
  background: rgba(0, 0, 0, 0.2);
  margin: 5px -10px 5px -10px;
  height: 2px;
}

.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black,
.bg-red-active,
.bg-yellow-active,
.bg-aqua-active,
.bg-blue-active,
.bg-light-blue-active,
.bg-green-active,
.bg-navy-active,
.bg-teal-active,
.bg-olive-active,
.bg-lime-active,
.bg-orange-active,
.bg-fuchsia-active,
.bg-purple-active,
.bg-maroon-active,
.bg-black-active,
.callout.callout-danger,
.callout.callout-warning {
  color: #fff !important;
}

.progress-description {
  margin: 0;
}

.card-footer {
  padding: 12px 22px 0 22px;
  background-color: #f8f9fa;
}

.dropdown-menu > .divider {
  background-color: #0099FF;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: none;
}

.dropdown-item {
  padding: 9px 13px;
}

.dropdown-item .fa {
  margin-right: 6px;
}


.info-box .info-box-icon {
    border-radius: 0;
    width: 93px;
    background: rgba(0,0,0,0.2);
}

.info-box {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    padding: 0;
}

.treeview-menu .treeview-menu {
    padding-left: 20px;
}

.nav-sidebar .nav-treeview {
    background: #35454e9e
}



.sidebar::-webkit-scrollbar-track {
    background-color: #0099FF
}
.sidebar::-webkit-scrollbar {
    width: 8px;
    background: #0099FF
}
.sidebar::-webkit-scrollbar-thumb {
    background: #0099FF
}

body::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
body::-webkit-scrollbar {
    width: 8px;
    background: #F4F4F4;
}
body::-webkit-scrollbar-thumb {
    background: #dad7d7;
}



.content-wrapper{
  min-height: 1144.83px;
}


.form-control {
    border-radius: 0;
}

.unig-label {
  font-size: 9.5rem;
  margin: 0 auto;
  margin-top: 60px;
  color: rgba(52, 58, 64, 0.02);
  font-weight: 600;
}


aw-wizard-step  stepTitle {
  background-color: #0099FF;
  color: #ffffff;
}

.status-label {
  border-radius: 6px !important;
  cursor: context-menu !important;
}

.nav-child-indent .nav-treeview {
    margin-left: 1rem;
}

.modal{
  z-index: 1050;
}
.swal2-container { 
  z-index: 99999;
}