<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><i class="fa fa-calculator"></i> Contas Bancárias</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Configurações</a></li>
              <li class="breadcrumb-item active">Contas Bancárias</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body" style="padding: 13px 10px 4px 10px;">
                <div class="row">
                  <div class="col-1">
                    <select name="perPage" (change)="getPageFilterData($event)"
                      [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
                      <option value="1">Entrada</option>
                      <option value="5" selected>5</option>
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                    <small>Entradas</small>
                  </div>
                  <div class="col-md-5">
                    <input type="text" name="search" [(ngModel)]="this.http.filters.search" placeholder="Pesquisar..."
                      class="form-control" (keyup)="getPageFilterData($event)">
                    <i class="fa fa-search"
                      style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                    <small>Pesquisar por Banco, Município</small>
                  </div>

                  <div class="col-2">
                    <select (change)="getPageFilterData($event)" [(ngModel)]="this.http.filters.orderBy"
                      class="form-control">
                      <option [ngValue]="null">Ordernar</option>
                      <option value="conta_bancarias.created_at">Data</option>
                      <option value="bancos.nome">Banco</option>

                    </select>
                    <small>Ordernação</small>
                  </div>

                  <div class="col-1">
                    <button type="button" class="btn btn-blockk btn-info" (click)="getPageFilterData($event)"><i
                        class="fa fa-search"></i> Filtrar</button>
                  </div>
                </div>

              </div>
            </div>

            <!-- card-title  -->
            <div class="card">
              <app-loading></app-loading>
              <div class="card-header">
                <h4 class="modal-title">LISTA DE CONTAS BANCÁRIAS</h4>
                <div class="card-tools">
                  <button type="button" class="btn btn-primary btn-flat" data-toggle="modal"
                    data-target="#modalContaBancariaCreateOrEdit"><i class="fa fa-plus"></i>
                    Registar</button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive">
                <table class="table table-hover table-bordered table-stripedd text-center">
                  <tbody>
                    <tr style="color: #fff; background: #0099FF;">
                      <th>#</th>
                      <th>IBAN</th>
                      <th>Banco</th>
                      <th>Município</th>
                      <th width="150px">Estado</th>
                      <th width="80px">Acção</th>
                    </tr>
                    <tr
                      *ngFor="let item of items | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                      <td>{{ i + 1 }}</td>
                      <td> AO06 {{ item.iban }}</td>
                      <td>{{ item.banco }}</td>
                      <td>{{ item.municipio }}</td>
                      <td>
                        <span class="btn bg-danger btn-block btn-flat status-label"
                          *ngIf="item.is_active == false">Inactivo</span>
                        <span class="btn bg-success btn-block btn-flat status-label"
                          *ngIf="item.is_active == true">Activo</span>
                      </td>

                      <td>
                        <div class="btn-group btn-block">
                          <button type="button" class="btn btn-info btn-flat btn-sm btn-block"
                            data-toggle="dropdown">Opções</button>
                          <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(67px, 38px, 0px);">

                            <a href="javascript:void(0)" class="dropdown-item btn-sm"
                              (click)="SetDataContaBancaria(item); listarMunicipios()" data-widget="chat-pane-toggle"
                              data-toggle="modal" data-target="#modalContaBancariaCreateOrEdit"> <i class="fa fa-edit"></i>
                              Editar
                            </a>

                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer clearfix">
                <div class="row">
                  <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                      {{this.http.filters.pagination.perPage}} de
                      {{this.http.filters.pagination.total}} Registos
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-7">
                    <div class="pull-right">
                      <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior" maxSize="6"
                        nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->


  </div>

  <app-create-or-edit-conta-bancaria [modalContaBancariaCreateOrEdit]="" [contabancaria]="contabancaria"
    (loadListcontabancaria)="getPageFilterData(1)" [provincias]="Provincias" [municipios]="Municipios" [bancos]="Bancos">
  </app-create-or-edit-conta-bancaria>

  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>