<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Ligação Ramal</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Ramal</a></li>
              <li class="breadcrumb-item active">Ligação</li>
              <li class="breadcrumb-item active">Ramal</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <app-alert></app-alert>
          </div>

          <div class="col-md-3"></div>
         

          <div class="row">
            <div class="col-md-6">
              <!-- /.card -->
              <div class="card card card-widget">
                <div class="card-header">
                  <div class="user-block">
                    <div class="col-md-12">
                      Tipo de objecto
                      <select class="form-control" #serie (change)="selectedTipoObjecto()" [(ngModel)]="tipoObjecto.id"
                        name="serie_id">
                        <option [value]="null" selected *ngIf="(tipoObjecto.id == null)">Selecionar
                          o tipo de objecto</option>
                        <option value="{{ item.id }}" *ngFor="let item of tipo_objectos">
                          {{ item.descricao }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <div class="alert alert-info alert-dismissible" *ngIf="(tipoObjecto.id ==null)"
                    style="border: 0;border-radius: 0; margin: 8px;">
                    <h5><i class="icon fa fa-info"></i> Nenhum tipo selecionado! </h5>
                  </div>
                  <div class="alert alert-success alert-dismissible" *ngIf="(tipoObjecto.id != null)"
                    style="border: 0;border-radius: 0; margin: 8px;">
                    <h5><i class="icon fa fa-check"></i> Foi selecionado um tipo!</h5>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
              <!-- /.card -->
              <div class="card card card-widget">

                <div class="card-header">
                  <div class="user-block">
                    <div class="col-md-12">
                      <input type="text" value="" [(ngModel)]="objectoRamal.descricao" placeholder="Nome do objecto"
                        class="form-control" (keyup)="getObjectoRamal()">
                      <i class="fa fa-search"
                        style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0" *ngIf="items" style="height: 276px;overflow: auto;">
                  <app-loading></app-loading>
                  <table class="table table-hover table-bordered table-striped text-center">
                    <thead>
                      <tr>

                        <th>#</th>
                        <th>Descrição</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th style="width: 12%;">Acção</th>
                        <th style="width: 12%;"><i class="fa fa-check"></i></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of items; index as i">
                        <td>{{ i + 1 }}</td>
                        <td>{{ item.descricao }}</td>
                        <td>{{ item.latitude }}</td>
                        <td>{{ item.longitude }}</td>
                        <td><button class="btn btn-blockk btn-primary btn-sm" (click)="selectedObjectoRamal(item.id); getProvincias()">
                            Selecionar</button></td>

                        <td style="background: #28a745; color: #fff" *ngIf="selected_objecto.id==item.id">
                          <i class="fa fa-check"></i>
                        </td>

                        <td *ngIf="selected_objecto.id!=item.id">

                        </td>

                      </tr>

                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>

            <div class="col-md-6">
              <div class="card card-default">

                <div class="card-header">
                  <h3 class="card-title">Items selecionados para ligação</h3>

                  <div class="card-tools">
                    <button type="button" class="btn btn-primary btn-flat" data-toggle="modal"
                      data-target="#pontoBModal" *ngIf="selected_objecto.id != null"><i
                        class="fa fa-plus"></i> Adicionar</button>
                  </div>

                  <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <!--<div class="alert alert-info">
                    <ul class="margin-bottom-none padding-left-lg">
                      <li>All brand icons are trademarks of their respective owners.</li>
                      <li>The use of these trademarks does not indicate endorsement of the trademark holder by Font
                        Awesome, nor vice versa.
                      </li>
                    </ul>
                  </div>-->
                  <div style="height:  407px; overflow: auto;">
                    <table class="table table-hover table-bordered table-striped text-center">
                      <tbody>
                        <tr>
                          <th width="100">#</th>
                          <th width="700">Descrição</th>
                          <th width="400">Slug</th>
                          <th style="width: 16%;">Acção</th>
                        </tr>
                        <tr *ngFor="let item of itemList.item.linhas; index as i">
                          <td>{{i+1}}</td>
                          <td>{{ item.descricao }}</td>
                          <td>{{ item.slug }}</td>
                          <td>
                            <div class="btn-group">
                              <button class="btn" id="remove" (click)="deleteRow(item)">Exluir</button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                   <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <!-- <th width="150" style="background: #f2f2f2;"></th> -->
                          <td>
                            <button class="btn btn-success" (click)="guardarDados()" [disabled]="!isFinalizar" type="button" title="Finalizar" ><i class="fa fa-save"></i> Finalizar</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>



        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>

  <!-- The Modal -->
  <div class="modal modal-info fade in" id="pontoBModal" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="max-width: 1000px">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Escolher onde ligar</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="cancelarConta()">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <app-alert></app-alert>
          <app-loading></app-loading>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>PONTO FINAL</label>
                <select class="form-control" (change)="getRotaModal()" [(ngModel)]="pontoFinal.rota" name="rota">
                  <option selected [value]="null">Selecione onde ligar</option>
                  <option value="pontoBObjectoRamalModal">Objecto do Ramal</option>
                  <option value="pontoBResidenciaModal">Local de instalação</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"
            (click)="cancelarSelectedObject()">Cancelar</button>
          <button type="button" (click)="confirmarPontoB();" class="btn btn-outline-primary btn-sm"
            *ngIf="!activeButtom.cliente">Confirmar</button>
          <button type="button" class="btn btn-default" *ngIf="activeButtom.cliente" data-toggle="modal" data-dismiss="modal" id="test"
            [attr.data-target]="'#' + interest.id"> Avançar <i class="fa fa-forward"></i></button>
        </div>

      </div>
    </div>
  </div>


  <div class="modal modal-info fade" id="pontoBResidenciaModal" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="max-width: 1000px;">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa fa-map-marker"></i> Ponto de ligação</h4>
          <button type="button" class="close" (click)="cleanFormsData()" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <app-loading></app-loading>

        <div class="modal-body">
          <app-alert></app-alert>
          <div class="col-md-12">
            <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"><i class="fa fa-edit"></i> Diâmetro Nominal</label>
                <input type="text" class="form-control" placeholder="Diâmetro Nominal"
                  [(ngModel)]="ligacao_ramal.diamentro" name="Diametro_nominal">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"><i class="fa fa-edit"></i> Comprimento</label>
                <input type="text" class="form-control" placeholder="Comprimento"
                  [(ngModel)]="ligacao_ramal.comprimento" name="Comprimento">
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"><i class="fa fa-edit"></i> Profundidade</label>
                <input type="text" class="form-control" placeholder="Profundidade"
                  [(ngModel)]="ligacao_ramal.profundidade" name="Profundidade">
              </div>
            </div>

          </div>


            <h3 class="col-md-12" style="padding: 15px 10px; background: #0099FF; color: #fff;">
              Local de Instalação</h3>

            <div class="row">

              <div class="col-md-4">
                <div class="form-group">
                  <label>Província</label>


                  <select [(ngModel)]="residencia.provincia_id" class="form-control"
                    (change)="selectBoxMunicipiosByProvincia()">
                    <option [value]="null">Província</option>
                    <option *ngFor="let i of provincias" [value]="i.id">
                      {{i.abreviatura}} - {{i.nome}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Município</label>


                  <select [(ngModel)]="residencia.municipio_id" class="form-control"
                    (change)="selectBoxDistritosByMunicipio()" [disabled]="!municipios">
                    <option [value]="null">Município</option>
                    <option *ngFor="let i of municipios" [value]="i.id">
                      {{i.nome}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-md-4" *ngIf="distritos">
                <div class="form-group">
                  <label>Comunas</label>

                  <select *ngIf="residencia.has_distrito == true" [(ngModel)]="residencia.distrito_id"
                    class="form-control" required (change)="selectBoxBairrosByMunicipio()">
                    <option [value]="null">Comuna</option>
                    <option *ngFor="let i of distritos" [value]="i.id">
                      {{i.nome}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Bairro</label>


                  <select [(ngModel)]="residencia.bairro_id" class="form-control" required
                    (change)="selectBoxRuasByBairro()" [disabled]="!bairros">
                    <option [value]="null">Bairro</option>
                    <option *ngFor="let i of bairros" [value]="i.id">
                      {{i.nome}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Rua</label>


                  <select [(ngModel)]="residencia.rua_id" class="form-control" (change)="getSelectBoxResidenciasByRua()"
                    [disabled]="!ruas">
                    <option [value]="null">Rua</option>
                    <option *ngFor="let i of ruas" [value]="i.id">
                      {{i.nome}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Local de Instalação</label>
                  <div class="input-group">
                    <input type="text" placeholder="Digite o número da casa" [(ngModel)]="residencia.nome"
                      [disabled]="!residencias" class="form-control" (keyup)="getResidencia()">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default btn-flat"
                        style="background-color: #0099FF; color: #ffffff; margin: 3.5px;"><i
                          class="fa fa-search"></i></button>
                    </span>
                  </div>

                  <div class="autocomplete-container" *ngIf="view_residencia">
                    <ul>
                      <li *ngFor="let residencia of residencias">
                        <a href="javascript:void(0)"
                          (click)="setResidencia(residencia.id, residencia.moradia_numero, residencia.predio_nome, residencia.predio_andar, residencia.is_predio)">
                          {{ ((residencia.is_predio) ? 'Prédio ' + residencia.predio_nome + ', ' + residencia.predio_andar + 'ºAndar - Porta ' : 'Residência ') + residencia.moradia_numero }}
                        </a>
                      </li>
                    </ul>
                  </div>

                </div>
              </div>


            </div>

            <!-- /.card-body -->

          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm" (click)="cleanFormsData()" data-dismiss="modal"> Fechar</button>

          <button *ngIf="residencia.id != null" class="btn btn-success" type="button" title="Adicionar Item"
            (click)="addLinha()"><i class="fa fa-plus"></i> Adicionar</button>

        </div>


      </div>
    </div>
  </div>

  <div class="modal modal-info fade" id="pontoBObjectoRamalModal" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="max-width: 800px;">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa fa-map-marker"></i> Ponto de ligação</h4>
          <button type="button" class="close" (click)="cleanFormsData()" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <app-loading></app-loading>

        <div class="modal-body">
          <app-alert></app-alert>
          <div class="col-md-12">


            <h3 class="col-md-12" style="padding: 15px 10px; background: #0099FF; color: #fff;">
              Objecto do Ramal</h3>

            <div class="row">

              <div class="col-md-6">
                <div class="form-group">
                  <label>Tipo de objecto</label>


                  <select class="form-control" (change)="selectedTipoObjectoLigacaoB()"
                    [(ngModel)]="tipoObjecto.tipo_objecto_b_id" name="serie_id">
                    <option [value]="null" selected>Selecionar o tipo de objecto</option>
                    <option value="{{ item.id }}" *ngFor="let item of tipo_objectos">
                      {{ item.descricao }}
                    </option>
                  </select>
                </div>
              </div>


              <div class="col-md-6">
                <div class="form-group">
                  <label> Descrição</label>
                  <div class="input-group">
                    <input type="text" placeholder="Pesquisar..." [(ngModel)]="ligacao_ramal.pontoB"
                      class="form-control" (keyup)="getObjectoRamalLigacaoB()">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default btn-flat"
                        style="background-color: #0099FF; color: #ffffff; margin: 3.5px;"><i
                          class="fa fa-search"></i></button>
                    </span>
                  </div>

                  <div class="autocomplete-container" *ngIf="view_ponto_b">
                    <ul>
                      <li *ngFor="let item of pontoB ">
                        <a href="javascript:void(0)" (click)="setPontoB(item.id, item.descricao)">
                          {{item.descricao}}
                        </a>
                      </li>
                    </ul>
                  </div>

                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"><i class="fa fa-edit"></i> Diâmetro Nominal</label>
                  <input type="text" class="form-control" placeholder="Diâmetro Nominal"
                    [(ngModel)]="ligacao_ramal.diamentro" name="Diametro_nominal">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"><i class="fa fa-edit"></i> Comprimento</label>
                  <input type="text" class="form-control" placeholder="Comprimento"
                    [(ngModel)]="ligacao_ramal.comprimento" name="Comprimento">
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"><i class="fa fa-edit"></i> Profundidade</label>
                  <input type="text" class="form-control" placeholder="Profundidade"
                    [(ngModel)]="ligacao_ramal.profundidade" name="Profundidade">
                </div>
              </div>



            </div>

            <!-- /.card-body -->

          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm" (click)="cleanFormsData()" data-dismiss="modal"> Fechar</button>

          <button *ngIf="ligacao_ramal.pontoB != null" class="btn btn-success" type="button" title="Adicionar Item"
            (click)="addLinha()"><i class="fa fa-plus"></i> Adicionar</button>

        </div>


      </div>
    </div>
  </div>


  <br><br><br>

  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>