<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">ORDENS DE SERVIÇO</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Listagem</a></li>
              <li class="breadcrumb-item active">Ordens de serviço</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="col-lg-12 col-12">
              <div class="modall modal-info fadee" data-backdrop="static">
                <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
                  <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title"> Filtro de Dados</h4>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                      <div class="row">


                        <div class="col-md-1 col-xs-3">
                          <div class="form-group">
                            <!--<label style="color: #fff;">Entrada</label>-->
                            <select name="perPage" (change)="getPageFilterData($event)"
                              [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
                              <option value="1">Entrada</option>
                              <option value="5" selected>5</option>
                              <option value="10">10</option>
                              <option value="25">25</option>
                            </select>
                          </div>
                          <!-- /.input group -->
                        </div>

                        <div class="col-md-4 col-xs-3">
                          <div class="form-group">
                            <input type="text" name="search" [(ngModel)]="this.http.filters.search"
                              placeholder="Pesquisar..." class="form-control" (keyup)="getPageFilterData($event)">
                            <i class="fa fa-search"
                              style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                          </div>
                          <!-- /.input group -->
                        </div>

                        <div class="col-md-1 col-xs-3">
                          <div class="form-group">
                            <select name="orderBy" (change)="getPageFilterData($event)"
                              [(ngModel)]="this.http.filters.orderBy" class="form-control">
                              <option [ngValue]="null">Ordernar</option>
                              <option value="clientes.nome">Nome do cliente</option>
                              <option value="pedidos.created_at">Data</option>
                              <option value="clientes.telefone">Telefone</option>
                            </select>
                          </div>
                          <!-- /.input group -->
                        </div>

                        <!--
                        <div class="col-md-2 col-xs-3">
                          <div class="form-group">
                            <select (change)="getPageFilterData($event)" [(ngModel)]="this.http.filters.search"
                            class="form-control">
                            <option selected [ngValue]="null">Tipos de Pedidos</option>
                            <option value="{{ tipoPedido.slug }}" *ngFor="let tipoPedido of tipoPedidos">
                              {{ tipoPedido.descricao }}</option>
                          </select>
                          </div>

                        </div>

                         -->


                        <div class="col-md-2 col-xs-3 ml-4">
                          <div class="form-group" style="float: right;">
                            <div class="input-group">
                              <div class="btn-group">

                                <div class="btn-group">
                                  <button type="button" class="btn btn-info dropdown-toggle dropdown-icon btn-flat"
                                    data-toggle="dropdown" aria-expanded="false" [disabled]="disabledButton"> <i
                                      class="fa fa-download"></i> Exportação
                                  </button>
                                  <div class="dropdown-menu" x-placement="bottom-start" style="left: 40px;">
                                    <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsPDF();"><i
                                        class="fa fa-file-pdf-o"></i>
                                      PDF</a>
                                    <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsXLSX();"><i
                                        class="fa fa-file-excel-o"></i> Excel</a>
                                  </div>
                                </div>
                                <button type="button" class="btn btn-info btn-flat" (click)="imprimirPDF()"
                                  [disabled]="disabledButton"><i class="icon-printer"></i> Imprimir</button>
                              </div>
                            </div>
                            <!-- /.input group -->
                          </div>
                        </div>


                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>



            <div class="col-lg-12 col-12">
              <div class="modall modal-info fadee" data-backdrop="static">
                <div class="modal-dialog" style="max-width: 100%;">
                  <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">LISTA DE ORDENS DE SERVIÇO</h4>

                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                      <!-- /.card-body -->
                      <div class="table-responsivee">


                        <ngx-loading [show]="loading"></ngx-loading>

                        <table *ngIf="items.length > 0;else emptyList"
                          class="table table-hover table-bordered table-stripedd text-center m-0 exportAsXLSXCliente">
                          <tbody>
                            <tr style="color: #fff; background: #0099FF;">
                              <th>#</th>
                              <th>Cliente</th>
                              <th>Conta</th>
                              <th>Tipo de Ordem</th>
                              <th>Contrato</th>
                              <th>Tipo de Medição</th>
                              <th>Tipo de Contrato</th>
                              <th>Tarifário</th>
                              <th>Estado</th>
                              <th>Data Pedido</th>
                              <!--                                -->
                              <th width="50">Operações</th>

                            </tr>
                            <tr
                              *ngFor="let item of items | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                              <td>{{ i + 1 }}</td>
                              <td>{{ item.cliente }}</td>
                              <td>{{ item.numero_conta }}</td>
                              <td>{{ item.tipo_ordem_servico }}</td>
                              <td>{{ item.contrato_id }}</td>
                              <td>{{ item.tipo_medicao }}</td>
                              <td>{{ item.tipo_contrato }}</td>
                              <td>{{ item.tarifario }}</td>
                              <td>
                                <span class="btn btn-block btn-flat {{color}}">{{ item.estado_ordem_servico }}</span>
                              </td>

                              <!--              <td>
                                <a href="javascript:void(0)" title="Ver detalhes" data-toggle="modal"
                                  data-target="#detalheLocalInstalacaoModal"
                                  (click)="getCliente(item.cliente, item.contrato_id, item.conta_id); getInstalacaoDetalhe(item.local_instalacao_id) "
                                  class="dropdown-item btn-sm"><i class="fa fa-eye"></i>
                                </a>
                              </td> -->
                              <td>
                                {{item.created_at | date: 'dd-MM-yyyy'}}
                              </td>

                              <td>
                                <div class="btn-group btn-block">
                                  <button type="button" class="btn btn-info  btn-flat btn-sm"
                                    data-toggle="dropdown">Opções</button>
                                  <button type="button" class="btn btn-info btn-flat dropdown-toggle"
                                    data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Menu Serviços</span>
                                  </button>
                                  <div class="dropdown-menu" role="menu" x-placement="bottom-start">

                                    <a href="javascript:void(0)"
                                      *ngIf="item.estado_ordem_servico_slug !='FECHADA' && item.estado_ordem_servico_slug!='CANCELADA'"
                                      data-toggle="modal" data-target="#alServicoModal" (click)="setDataPedido(item)"
                                      class="dropdown-item btn-sm"><i class="fa fa-pencil"></i>
                                      Dar Seguimento</a>

                                    <li class="divider"
                                      *ngIf="item.estado_ordem_servico_slug!='FECHADA' && item.estado_ordem_servico_slug!='CANCELADA'">
                                    </li>

                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#detalheModal"
                                      (click)="getCliente(item.cliente, item.contrato_id, item.conta_id, item.observacao, item.tarifario) "
                                      class="dropdown-item btn-sm"><i class="fa fa-tag"></i>
                                      Detalhe do Pedido</a>

                                    <li class="divider">
                                    </li>

                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#historicoModal"
                                      (click)="getHistoricoEstado(item.idPedido, item.created_at); getCliente(item.cliente, item.contrato_id, item.conta_id) "
                                      class="dropdown-item btn-sm"><i class="fa fa-eye"></i>
                                      Histórico</a>

                                    <li class="divider">
                                    </li>

                                    <a href="javascript:void(0)" (click)="btnImprimirPedido(item.id)"
                                      class="dropdown-item btn-sm" title="Imprimir"><i
                                        class="fa fa-print"></i>Imprimir</a>


                                    <li class="divider">

                                      <a href="javascript:void(0)" class="dropdown-item btn-sm"
                                        (click)="updateStateLocalInstalacao(item)">
                                        <span class="label-danger" style="border-radius: 6px; padding: 2px 6px;"
                                          *ngIf="item.estado_ordem_servico_slug != 'ANULADA' || item.estado_ordem_servico_slug != 'FECHADO' "><i
                                            class="fa fa-refresh"></i> Anular</span>
                                        <span class="label-success" style="border-radius: 6px; padding: 2px 6px;"
                                          *ngIf="!item.is_active"><i class="fa fa-refresh"></i> A</span>
                                      </a>


                                  </div>
                                </div>
                              </td>

                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <div class="row" style="width: 100%;">
                        <div class="col-sm-12 col-md-5">
                          <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                            {{this.http.filters.pagination.perPage}} de
                            {{this.http.filters.pagination.total}} Pedidos
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                          <div class="pull-right">
                            <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior"
                              maxSize="6" nextLabel="Proximo" directionLinks="true" responsive="true">
                            </pagination-controls>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Modal Visualizar Serviço -->
    <div class="modal modal-info fade in" id="detalheLocalInstalacaoModal" data-backdrop="static">
      <div class="modal-dialog modal-lg " style="max-width: 1000px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <!--
            <h4 class="modal-title"><i class="fa icon fa-pencil"></i> Editar estado Pedido</h4>
             -->
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <app-loading></app-loading>
            <app-alert></app-alert>
            <h3 style="padding: 15px 10px; background: #0099FF; color: #ffffff;">Cliente: {{ pedido.cliente }} |
              Conta: {{ pedido.conta_id }}</h3>
            <h3 style="padding: 15px 10px;background: #0099FF;">Cliente: {{ pedido.cliente }} | Conta:
              {{ pedido.conta_id }}
            </h3>
            <hr>


            <div class="row invoice-info">


              <div class="col-sm-12 invoice-col">

                <b>MUNICÍPIO: </b> {{ localInstalacao.municipio }}<br>
                <b>DISTRITO / COMUNA : </b> {{ localInstalacao.distritoComuna }} <br>
                <b>BAIRRO : </b> {{ localInstalacao.bairro }} <br>
                <b>RUA : </b>{{ localInstalacao.rua }}<br>
                <b *ngIf="localInstalacao.residenciaNome!=null">RESIDÊNCIA NOME :
                </b>{{ localInstalacao.residenciaNome }}<br *ngIf="localInstalacao.residenciaNome!=null">
                <b>RESIDÊNCIA Nº: </b> {{ localInstalacao.residenciaNumero }}
              </div>


              <!-- /.col -->
            </div>

          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>

          </div>

        </div>
      </div>
    </div>


    <div class="modal modal-info fade in" id="alServicoModal" data-backdrop="static">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa icon fa-credit-card"></i> Dar Seguimento</h4>
            <button type="button" (click)="clearForm()" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <app-loading></app-loading>
            <h3 style="padding: 15px 10px; background: #0099FF; color: #ffffff;">Cliente: {{ pedido.cliente }} </h3>
            <hr>

            <div class="row">

              <div class="col-md-12">

                <label>Estado</label>
                <div class="form-group">
                  <select class="form-control" name="estado_ordem_servico_id" (change)="changeEstadoOrdem()"
                    [(ngModel)]="pedido.estado_ordem_servico_id">
                    <option selected [ngValue]="null"> {{ carregando.estado }}</option>
                    <!-- <option *ngFor="let estado of estado_ordem_servicos" [value]="estado.id"> {{estado.nome}} </option>-->
                    <optgroup label="{{ item.nome }}" *ngFor="let item of estado_ordem_servicos">
                      <option *ngIf="item.childs.length == 0" [value]="item.id"> {{item.nome}} </option>
                      <option value="{{ item_child.id }}" *ngFor="let item_child of item.childs">
                        {{ item_child.nome }}
                      </option>
                    </optgroup>

                  </select>
                </div>
              </div>

              <div class="col-md-12 row" *ngIf="pedido.tipo_medicao_slug =='LEITURA' && showContadorDetail && !estado_changed">

                <div class="col-md-12">
                  <label>Número Série do Contador <span class="required " style="color:red"> * </span></label>
                  <div class="input-group">
                    <input type="text" name="numero_serie" [(ngModel)]="contador.numero_serie" class="form-control"
                      placeholder="Número de Série do Contador">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default btn-flat" (click)="validateSerieContador()"
                        title="Click para validar"><i class="fa fa-search"></i></button>
                    </span>
                  </div>

                  <label>
                    <p class="{{ contadorClassMessage }}" *ngIf="contadorMessage">{{ contadorMessage }}</p>
                  </label>

                </div>

                <div class="row" *ngIf="showContadorDetail && pedido.tipo_medicao_slug == 'LEITURA'">

                  <div class="col-md-4">
                    <label>Marca </label>
                    <div class="input-group">
                      <input type="text" name="numero_serie" [(ngModel)]="contador.marca" readonly class="form-control"
                        placeholder="Modelo">

                    </div>

                  </div>

                  <div class="col-md-4">
                    <label>Modelo </label>
                    <div class="input-group">
                      <input type="text" name="numero_serie" [(ngModel)]="contador.modelo" readonly class="form-control"
                        placeholder="Marca">

                    </div>

                  </div>

                  <div class="col-md-4">
                    <label>Última leitura </label>
                    <div class="form-group">
                      <input type="text" name="ultima_leitura" [(ngModel)]="contador.ultima_leitura" readonly
                        class="form-control" placeholder="Última leitura">
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label for="morada"> Observação</label>
                    <textarea [(ngModel)]="pedido.observacao" name="observacao" value="" class="form-control"
                      placeholder="Observação"></textarea>
                  </div>
                </div>

              </div>


            </div>

          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="clearForm()"
              data-dismiss="modal">Fechar</button>

              <a class="btn btn-xs btn-link" *ngIf="estado_changed" (click)="getDetailEstadoOrdemServico()" >
                <button class="btn btn-sucess btn-sm">Validar <i class="fa fa-forward"></i></button>
              </a>

              
              <!-- <a class="btn btn-xs btn-link" *ngIf="showContadorDetail && !estado_changed" (click)="validateSerieContador()" >
                <button class="btn btn-outline-primary btn-sm">Avançar <i class="fa fa-forward"></i></button>
              </a> -->


              <button *ngIf="showContadorDetail && !estado_changed" class="btn btn-primary mr-1 btn-sm" type="submit" data-style="expand-left" (click)="savePedido()">
                <i class="fa fa-save"></i>
                Registar</button>

          </div>

        </div>
      </div>
    </div>



    <div class="modal modal-info fade in" id="detalheModal" data-backdrop="static">
      <div class="modal-dialog modal-lg " style="max-width: 1700px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <div class="card-tools">

            </div>
            <h4 class="modal-title"><i class="fa icon fa fa-tag"></i> DETALHE DO PEDIDO</h4>

            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <app-loading></app-loading>
            <h3 style="padding: 15px 10px; background: #0099FF; color: #ffffff;">Cliente: {{ pedido.cliente }}</h3>
            <hr>
            <table class="table table-hover table-bordered">
              <thead>
                <tr style="background: #0099FF; color: #ffffff;">
                <tr class="terceiro">
                  <th width="50px">#</th>
                  <th>Observação</th>
                  <th>Tarifário</th>
                  <!--                   <th>Data Pedido</th> -->

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>#</td>
                  <td>{{ pedido.observacao }}</td>
                  <td>{{ pedido.tarifario }}</td>
                  <!--                   <td>{{ pedido.dataPedido | date: 'dd-MM-yyyy' }}</td> -->


                </tr>
              </tbody>
            </table>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
          </div>


        </div>
      </div>
    </div>

    <div class="modal modal-info fade in" id="historicoModal" data-backdrop="static">
      <div class="modal-dialog modal-lg " style="max-width: 1700px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <div class="card-tools">

            </div>
            <h4 class="modal-title"><i class="fa icon fa fa-book"></i> HISTÓRICO ESTADOS PEDIDO</h4>

            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <app-loading></app-loading>
            <h3 style="padding: 15px 10px; background: #0099FF; color: #ffffff;">Cliente: {{ pedido.cliente }} |
              Data Pedido:
              <!-- <h3 class="terceiro">Cliente: {{ pedido.cliente }} | Data Pedido: -->
              {{ pedido.dataPedido | date: 'dd-MM-yyyy' }}</h3>
            <hr>
            <table class="table table-hover table-bordered">
              <thead>
                <tr style="background: #0099FF; color: #ffffff;">
                <tr class="terceiro">
                  <th width="50px">#</th>
                  <th width="400px">Estado Anterior</th>
                  <th width="400px">Novo Estado</th>
                  <th width="200px">Observação Anterior</th>
                  <th>Nova Observação</th>
                  <th>Data</th>
                  <th>Operador(a)</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let historico of historicos index as i">
                  <td>{{i + 1}}</td>
                  <td>{{ historico.oldEstado }}</td>
                  <td>{{ historico.newEstado }}</td>
                  <td>{{ historico.observacao_old }}</td>
                  <td>{{ historico.observacao_new }}</td>
                  <td>{{ historico.created_at }}</td>
                  <td>{{ historico.operador }}</td>

                </tr>
              </tbody>
            </table>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
          </div>


        </div>
      </div>
    </div>


    <!--   <app-cobre-form [cliente]="{ cliente: pedido.cliente}"
      [contrato]="{ tipo_medicao_slug: pedido.tipo_medicao_slug }"
      [pedidoObject]="{ pedido_id: pedido.id, residencia_id: pedido.residencia_id, conta_id: pedido.conta_id, contrato_id: pedido.contrato_id, estado_pedido_sigla: servico.estado_pedido }">
    </app-cobre-form> -->

    <app-reject-form [cliente]="{ cliente: pedido.cliente}"
      [pedidoObject]="{ pedido_id:pedido.id, residencia_id: pedido.residencia_id, conta_id: pedido.conta_id, contrato_id: pedido.contrato_id, estado_pedido_sigla: servico.estado_pedido }">
    </app-reject-form>

    <ng-template #emptyList>
      <div align="center">
        <h2>Sem resultados</h2>
        <span></span>
      </div>
    </ng-template>
  
    <ng-template #dataEmpty>------</ng-template>

  </div>

  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>


</div>