<div class="modal fade" id="{{modalUpdateFlateRate}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" style="max-width: 1700px;">
    <div class="modal-content">
      <div class="modal-header">
        <div class="card-tools">

        </div>
        <h4 class="modal-title"><i class="fa icon fa-credit-card"></i> Actualizar Flat Rate</h4>

        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <app-loading></app-loading>
        <h3 style="padding: 15px 10px; background: #0099FF; color: #fff;">Atualizar Flat Rate</h3>
        <hr>
  
          <form [formGroup]="flateRatForm" (ngSubmit)="updateFlate()">
               
        <div class="row">
          <div class="col-md-4">
     
           <div class="form-group has-warning">
             <label>Valor</label>
             <div class="input-group mb-3">
              <input type="text"  class="form-control" 
              placeholder="Valor" formControlName="valor" [ngClass]="{ 'is-invalid': submitted && formControl.valor.errors }" >
              <div *ngIf="submitted && formControl.valor.errors">
                <span style="color: red"> Introduza o valor</span>
              </div>
         
            </div> 
           </div>
             </div>
             <div class="col-md-4"> 
               <div class="form-group has-warning">
                 <label class="control-label" for="tipo_identidade_id">Origem </label>
                 <div class="input-group mb-3">
                  <input type="text"  class="form-control" 
                  placeholder="Origem"  formControlName="origem" [ngClass]="{ 'is-invalid': submitted && formControl.origem.errors }" >
                  <div *ngIf="submitted && formControl.origem.errors">
                    <span style="color: red"> Introduza a origem</span>
                  </div>
             
                </div>
 
               </div>
 
             </div>

             <div class="col-md-4"> 
               <div class="form-group has-warning">
                 <label class="control-label" for="tipo_identidade_id" > Capacidade</label>
                 <div class="input-group mb-3">
                   <input type="text"  class="form-control" 
                   placeholder="capcidade" formControlName="capacidade" [ngClass]="{ 'is-invalid': submitted && formControl.capacidade.errors }"  >
                   <div *ngIf="submitted && formControl.capacidade.errors">
                    <span style="color: red"> Introduza a Capacidade</span>
                  </div>
              
                 </div>
               </div>
 
             </div>
            </div>
             </form>
      

 
 </div>

 <div class="modal-footer">
   <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Cancelar</button>
   <button type="button" (click)="updateFlate();" class="btn btn-primary btn-sm"><i
       class="fa icon fa-credit-card"></i> Editar Flat Rate</button>
 </div>
      </div>
      <!-- Modal footer -->
      