<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Facturação Diária - {{this.tipoFacturacaoview}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Reporting & BI</a></li>
              <li class="breadcrumb-item">Facturação {{this.tipoFacturacaoview}} </li> 
              <li class="breadcrumb-item active">Diária - {{this.tipoFacturacaoview}}</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="row">

        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title"> Filtro de Dados</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <!-- /.card-body -->
                  <form [formGroup]="simpleForm" (submit)="onSubmit();">
                    <div class="row">



                      <div class="col-md-2 col-xs-3">
                        <div class="form-group">
                          <label>Data Inicial</label>
                          <div class="input-group">
                           

                            <input type="date" [ngClass]="{ 'is-invalid': submitted && f.data1.errors, 'is-valid': f.data1.touched && !f.data1.errors }" formControlName="data1" autocomplete="data1" class="form-control"
                    placeholder="">

                            <div *ngIf="submitted && f['data1'].errors" class="invalid-feedback">
                              <div *ngIf="f['data1'].errors.required">Data Inicial é obrigatório</div>
                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>

                      <div class="col-md-2 col-xs-3">
                        <div class="form-group">
                          <label>Data Final</label>
                          <div class="input-group">

                            

                            <input type="date" formControlName="data2" autocomplete="data2" required class="form-control"
                            [ngClass]="{ 'is-invalid': f.data2.touched &&  f.data2.errors, 'is-valid': f.data2.touched && !f.data2.errors }">

                           
                            <div *ngIf=" f.data2.errors" class="invalid-feedback">
                              <div *ngIf="f.data2.errors">Data Final deve ser igual ou superior a Data Inicial </div>
                            </div>

                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>

                      <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                          <label>Direcção</label>
                          <div class="input-group">
                      
                            <select class="form-control" formControlName="direccao" autocomplete="direccao" required
                              [ngClass]="{ 'is-invalid': submitted && f.direccao.errors, 'is-valid': f.direccao.touched && !f.direccao.errors }">
                              <option value="null">Direcção</option>
                              <option value="T"> Todas</option>
                              <option *ngFor="let direccao of direccaos">{{direccao.designacao}}</option>
                      
                            </select>
                            <div *ngIf="submitted && f['direccao'].errors" class="invalid-feedback">
                              <div *ngIf="f['direccao'].errors.required">Direcção é obrigatório</div>
                            </div>
                      
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>

                     

                      <div class="col-md-2 col-xs-3">
                        <div class="form-group">
                          <label>Província</label>
                          <div class="input-group">
                            <select class="form-control" formControlName="filial" placeholder="filial"
                              autocomplete="loja" required (change)="this.getLojas();"
                              [ngClass]="{ 'is-invalid': submitted && f.filial.errors, 'is-valid': f.filial.touched && !f.filial.errors }">
                              <option value="null">Província</option>
                              <option value="T"> Todas</option>
                              <option *ngFor="let filial of filials" [value]="filial.id">{{filial.nome}}</option>
                            </select>
                            <div *ngIf="submitted && f['loja'].errors" class="invalid-feedback">
                              <div *ngIf="f['filial'].errors.required">Filial é obrigatório</div>
                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>
 

                      <div class="col-md-2 col-xs-3">
                        <div class="form-group">
                          <label>Loja</label>
                          <div class="input-group">
                            <select class="form-control" formControlName="loja" placeholder="Filiais" autocomplete="loja" required
                              [ngClass]="{ 'is-invalid': submitted && f.loja.errors, 'is-valid': f.loja.touched && !f.loja.errors }">
                              <option value="null">{{ loadingLojas }}</option>
                              <option value="T"> Todas</option>
                              <option *ngFor="let loja of lojas" [value]="loja.id">{{loja.nome}}</option>
                            </select>
                            <div *ngIf="submitted && f['loja'].errors" class="invalid-feedback">
                              <div *ngIf="f['loja'].errors.required">Loja é obrigatório</div>
                            </div>

                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>

                      <div class="col-md-1 col-xs-2">
                        <div class="form-group">
                          <label style="color: #fff;">s</label>
                          <div class="input-group">
                            <button type="button" class="btn btn-info btn-flatt mr-1 btn-smm" type="submit"
                              [disabled]="simpleForm.pristine || simpleForm.invalid" data-style="expand-left"><i
                                class="fa fa-search"></i>
                              Filtrar</button>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>

                      <div class="col-md-2 col-xs-3">
                        <div class="form-group" style="float: right;">
                          <label style="color: #fff;">s</label>
                          <div class="input-group">
                            <div class="btn-group">

                              <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle dropdown-icon btn-flat"
                                  data-toggle="dropdown" aria-expanded="false" [disabled]="disabledButton"> <i
                                    class="fa fa-download"></i> Exportação
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start" style="left: 40px;">
                                  <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsPDF();"><i
                                      class="fa fa-file-pdf-o"></i> PDF</a>
                                  <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsXLSX();"><i
                                      class="fa fa-file-excel-o"></i> Excel</a>
                                </div>
                              </div>
                              <button type="button" class="btn btn-info btn-flat" (click)="imprimirPDF()"
                                [disabled]="disabledButton"><i class="icon-printer"></i> Imprimir</button>

                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>



                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title"> Facturação Diária - {{this.tipoFacturacaoview}}</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <!-- /.card-body -->
                  <br>
                  <div class="table-responsive">


                    <ngx-loading [show]="loading"></ngx-loading>
                    <table class="table table-hover table-bordered table-stripedd text-center m-0 tableCobrancaPDF">

                      <tr style="color: #fff; background: #17a2b8;">
                        <th style="width: 210px;">DIRECÇÃO</th>
                        <th style="width: 260px;">PROVÍNCIA</th>
                        <th>LOJA</th>
                        <th style="width: 190px;">DOCUMENTO</th>
                        <th style="width: 190px;">DATA</th> 
                        
                        <th style="background: #8a8484;">VALOR</th>
                      </tr>

                      <tbody>
                        <tr *ngFor="let fact of cobrancas">
                          <td>{{  fact.direccao }}</td>
                          <td>{{  fact.filial_nome }}</td>
                          <td>{{  fact.loja_nome }}</td>
                          <td>{{  fact.factura_sigla }}</td> 
                          <td>{{  fact.created_at | date: 'dd-MM-yyyy' }}</td>
                          <td class="text-right">{{ ( fact.pago == 1 ? this.configService.numberFormat(fact.total) : this.configService.numberFormat(fact.total-fact.valor_aberto)) }} </td> 
                        </tr>
                      </tbody>
                      <tr style="background: #eeeeeea8;">
                        <th colspan="5" class="text-right"><b>TOTAL</b></th>
                        <th class="text-right"><b>{{this.configService.numberFormat(this.totais.total)}}</b></th> 
                      </tr>
                    </table> 
                  </div>
                </div>

                <div style="height: 0px; overflow: auto;">
                  <table class="table table-hover table-bordered table-stripedd text-center m-0 tableCobranca">
                    <tr>
                      <td colspan="5" style="border: 0; color:#fff;"> Facturação Diária - {{this.tipoFacturacaoview}} </td>
                    </tr>

                    <tr style="color: #fff; background: #17a2b8;">
                      <th style="width: 210px;">DIRECÇÃO</th>
                      <th style="width: 260px;">PROVÍNCIA</th>
                      <th>LOJA</th>
                      <th style="width: 190px;">DOCUMENTO</th>
                      <th style="width: 190px;">DATA</th> 
                      
                      <th style="background: #8a8484;">VALOR</th>
                    </tr>

                    <tbody>
                      <tr *ngFor="let fact of cobrancas">
                        <td>{{  fact.direccao }}</td>
                        <td>{{  fact.filial_nome }}</td>
                        <td>{{  fact.loja_nome }}</td>
                        <td>{{  fact.factura_sigla }}</td> 
                        <td>{{  fact.created_at | date: 'dd-MM-yyyy' }}</td>
                        <td class="text-right">{{ ( fact.pago == 1 ? this.configService.numberFormat(fact.total) : this.configService.numberFormat(fact.total-fact.valor_aberto)) }} </td> 
                      </tr>
                    </tbody>
                    <tr style="background: #eeeeeea8;">
                      <th colspan="5" class="text-right"><b>TOTAL</b></th>
                      <th class="text-right"><b>{{this.configService.numberFormat(this.totais.total)}}</b></th> 
                    </tr>
                  </table> 
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- /.content -->
  </div>

  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>
