<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Listar Facturação</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Venda</a></li>
              <li class="breadcrumb-item">Facturação</li>
              <li class="breadcrumb-item active">Listar Facturação</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-shopping-cart "></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Facturação</span>
              <span class="info-box-number">{{ dashboard.countFacturas }}</span>

              <div class="progress">
                <div class="progress-bar" style="width: 75%"></div>
              </div>
              <span class="progress-description">
                Quantidade de facturação anual
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-yellow">
            <span class="info-box-icon"><i class="fa fa-calendar"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Facturas Vencidas</span>
              <span class="info-box-number">{{ dashboard.countFacturasVencidas }}</span>

              <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
              </div>
              <span class="progress-description">
                Facturas que sua data de vencimento já passo
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-red">
            <span class="info-box-icon"><i class="fa fa-file-archive-o"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Recibos</span>
              <span class="info-box-number">{{ dashboard.countRecibos }}</span>

              <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
              </div>
              <span class="progress-description">
                Quantidade de recibos gerados
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-usd"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Cliente - Conta Corrente</span>
              <span class="info-box-number">{{ dashboard.countFacturasContaCorrente }}</span>

              <div class="progress">
                <div class="progress-bar" style="width: 50%"></div>
              </div>
              <span class="progress-description">
                Clientes que possuem conta corrente
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>

      <br>
      <div class="row">

        <div class="col-md-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;margin-top:0">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title"> Filtro de Dados</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <div class="row">
            <mat-form-field appearance="outline" class="example-full-width col-md-1 col-xs-2 col-sm-2">
                <mat-label>Entrada</mat-label>
                <mat-select
                  name="perPage"
                  (selectionChange)="getPageFilterData($event)"
                  [(ngModel)]="this.pagination.perPage"

                  >
                  <mat-option [value]="5">5</mat-option>
                  <mat-option [value]="10">10</mat-option>
                  <mat-option [value]="25">25</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width col-md-1 col-xs-2 col-sm-2">
              <mat-label>Data Inicio</mat-label>
              <input matInput  [matDatepicker]="picker1" #picker1 placeholder="Data Inicio" [(ngModel)]="filter.startDate">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width col-md-1 col-xs-2 col-sm-2">
              <mat-label>Data Fim</mat-label>
              <input matInput [matDatepicker]="picker3" placeholder="Data Fim"  [(ngModel)]="filter.endDate">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
              <mat-form-field appearance="outline" class="example-full-width col-md-1 col-xs-2 col-sm-2">
                <mat-label>Filtro</mat-label>
                <mat-select name="type_filter" [(ngModel)]="this.filter.typeFilter" (selectionChange)="clearSearch()">
                    <mat-option value="" selected>Filtro</mat-option>
                    <mat-option value="Número da Factura">Nº da Factura</mat-option>
                    <mat-option value="Nome cliente">Nome Cliente</mat-option>
                    <mat-option value="Número de Contribuinte">Nº de Contribuinte</mat-option>
                    <mat-option value="Número de conta">Nº de conta</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width col-md-3 col-xs-2 col-sm-2">
              <mat-label>Pesquisar factura por {{(this.filter.typeFilter==null || this.filter.typeFilter=="null" ? "typeFilter" : this.filter.typeFilter)}}</mat-label>
              <input matInput  [(ngModel)]="this.filter.search" placeholder='Pesquisar factura por {{(this.filter.typeFilter==null || this.filter.typeFilter=="null" ? "typeFilter" : this.filter.typeFilter.toLowerCase())}}' (keyup)="getPageFilterData($event)">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width col-md-1 col-xs-2 col-sm-2">
                <mat-label>Ordenar por</mat-label>
                <mat-select name="orderBy" [(ngModel)]="this.filter.orderBy">
                  <mat-option value="created_at" >Data Facturação</mat-option>
                  <mat-option value="nome">Nome do cliente</mat-option>
                  <mat-option value="factura_sigla">Nº Factura</mat-option>
                  <mat-option value="status">Status</mat-option>
                  <mat-option value="pago">Saldado</mat-option>
                  <mat-option value="total">Total</mat-option>
                  <mat-option value="valor_aberto">Valor Em Aberto</mat-option>
                </mat-select>
            </mat-form-field>
              <div class="col-md-1 col-xs-2 col-sm-2">
                <mat-radio-group aria-label="Select an option" [(ngModel)]="this.filter.typeOrderBy">
                  <mat-radio-button value="ASC" > Crescente</mat-radio-button><br>
                  <mat-radio-button value="DESC" > Decrescente</mat-radio-button>
              </mat-radio-group>
           </div>


            <div class="col-md-1 col-xs-2 col-sm-2">
                <div class="form-group">
                  <div class="example-button-row">
                    <button type="button" (click)="listarFacturacao()" mat-raised-button   class="btn btn-info btn-flat" type="button" style="margin-top: 3px;padding: 4px 16px;"><i
                        class="fa fa-search"></i>
                      Filtrar</button>
                  </div>
                  <!-- /.input group -->
                </div>
            </div>


                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;margin:0">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">LISTA DE FACTURAÇÃO</h4>
                  <div class="card-tools">
              <!--

                <button  target="__blink"  *ngIf="http.canActivateRouterLink('gerar_recibos')" type="button" class="btn btn-default btn-tooll btn-sm" data-toggle="modal"
                  data-target="#consultarReciboModal"><i class="fa fa-search"></i> Consultar Recibo</button>
              -->
                <a routerLink="/vendas/recibo/gera-recibo" *ngIf="http.canActivateRouterLink('gerar_recibos')" type="button" class="btn btn-primary btn-tooll btn-sm btn-flat"  ><i class="fa fa-plus-circle"></i> Gerar Recibo</a>
                  <a *ngIf="http.canActivateRouterLink('registar_facturacao')" class="btn btn-info btn-sm btn-flat" target="__blink" type="button" routerLink="/facturacao"><i class="fa fa-shopping-cart"></i> Registar Factura</a>
                  <!--<a *ngIf="http.canActivateRouterLink('facturacao_automatica')" routerLink="#" class="btn btn-default btn-flat btn-sm" data-toggle="modal" data-target="#facturacaoContaClientesModal" (click)="listarseries(1, 10000)"><i
                      class="fa fa-plus-circle"></i> Facturação Automatica</a>-->
                  <button class="btn btn-outline-primary btn-sm btn-flat" type="button" (click)="listarFacturacao()"><i class="icon-refresh"></i> Recarregar Dados</button>

                  <div class="form-group" style="float: right;">
                    <div class="input-group">
                      <div class="btn-group">

                        <div class="btn-group">
                          <button type="button" class="btn btn-info dropdown-toggle dropdown-icon btn-sm btn-flat" data-toggle="dropdown"
                            aria-expanded="false" [disabled]="disabledButton"> <i class="fa fa-download"></i> Exportação
                          </button>
                          <div class="dropdown-menu" x-placement="bottom-start" style="left: 40px;">
                            <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsPDF();"><i class="fa fa-file-pdf-o"></i>
                              PDF</a>
                            <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsXLSX();"><i
                                class="fa fa-file-excel-o"></i> Excel</a>
                          </div>
                        </div>
                        <button type="button" class="btn btn-info btn-flat btn-sm" (click)="imprimirPDF()" [disabled]="disabledButton"><i
                            class="icon-printer"></i> Imprimir</button>
                      </div>
                    </div>
                    <!-- /.input group -->
                  </div>
              </div>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <!-- /.card-body -->
                   <div  >

                    <ngx-loading [show]="loading"></ngx-loading>

                    <table class="table table-hover table-bordered table-stripedd text-center m-0">
                      <tbody>
                        <tr style="color: #fff; background: #0099FF;">
                          <th width="20">#</th>
                          <th width="300">Cliente</th>
                          <th width="150">Nº Factura</th>
                          <th width="150">Status</th>
                          <th width="150">Saldado ?</th>
                          <th width="150">Saldado %</th>
                          <th width="160">Total</th>
                          <th width="160">Valor Em Aberto</th>

                          <th width="150">Data Facturação</th>
                          <!--<th>Data Facturação</th>-->
                          <th style="width: 160px;">Acção</th>
                        </tr>
                        <tr
                          *ngFor="let fact of facturas | paginate: { itemsPerPage: this.pagination.perPage, currentPage: this.pagination.page, id: 'listFact',totalItems: this.pagination.total }; index as i">
                          <td>{{i+1}}</td>
                          <td>{{ fact.nome }}</td>

                          <td style="background: rgba(0,0,0,.1);">{{ fact.factura_sigla }}</td>

                          <td>
                            <span class="btn bg-danger btn-block btn-flat" *ngIf="fact.status =='A'">Anulado</span>
                            <span class="btn bg-info btn-block btn-flat" *ngIf="fact.status =='N'">Normal</span>
                          </td>

                          <td>
                            <span *ngIf="fact.serie.documento.sigla =='NC'"> <span class="btn bg-success btn-block btn-flat">Saldado</span></span>
                            <span *ngIf="fact.serie.documento.sigla !='NC'">
                              <span class="btn bg-warning btn-block btn-flat" *ngIf="fact.pago ==0">Não Saldado</span>
                              <span class="btn bg-success btn-block btn-flat" *ngIf="fact.pago ==1">Saldado</span>
                            </span>
                          </td>
                          <td style="background: #c3f0f7;">
                            <progress-bar [progress]="calcularPercentual(fact)"
                              [color-degraded]="{'0': '#fd8c8e',  '25':'#00cbcb', '60':'#aed581' }"></progress-bar>

                          </td>
                          <td style="background: #c3f0f7;"> {{ configService.numberFormat(fact.total) }} {{fact.moeda_iso}}</td>
                          <td style="background: #c3f0f7;">
                            {{  (fact.pago === 0 && fact.status === 'N' && fact.valor_aberto == null ? configService.numberFormat(fact.total): configService.numberFormat(fact.valor_aberto))  }}
                            {{fact.moeda_iso}}
                          </td>
                          <td>{{ (fact.created_at==null ? fact.status_date: fact.created_at) | date: 'dd-MM-yyyy' }} </td>
                          <td>
                            <div class="btn-group">
                              <button type="button" class="btn btn-info btn-flat btn-sm" data-toggle="dropdown">Opções</button>
                              <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                              </button>
                              <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                                style="position: absolute; will-change: transform; top: 0px; left: -58px; transform: translate3d(67px, 38px, 0px);">

                                <a href="javascript:void(0)" class="dropdown-item btn-sm" title="Emitir Nota de Crédito"
                                  *ngIf="(fact.status =='N' && (fact.serie.documento.sigla =='FT')) && http.canActivateRouterLink('nota_credito_factura')"
                                  data-widget="chat-pane-toggle" (click)="goToPageCreateNotaCredito(fact)"><i class="fa fa-credit-card"></i>
                                  Emitir Nota de crédito</a>

                                  <a href="javascript:void(0)" class="dropdown-item btn-sm" title="Pagamento Parcelar de factura"
                                  (click)="showFactura(fact.id)" data-widget="chat-pane-toggle" data-toggle="modal" data-target="#gerarReciboParcialModal"
                                  *ngIf="(fact.status =='N' && fact.serie.documento.sigla =='FT' && fact.valor_aberto != 0) && http.canActivateRouterLink('gerar_recibos')"><i
                                    class="fa fa-money"></i> Pagamento</a>

                                    <a href="javascript:void(0)" class="dropdown-item btn-sm" title="Gerar Recibo" (click)="routerGerarRecibo(fact.cliente_id, fact.nome)"
                                  *ngIf="(fact.status =='N' && fact.serie.documento.sigla =='FT' && fact.valor_aberto != 0) && http.canActivateRouterLink('gerar_recibos')"><i
                                    class="fa fa-money"></i> Gerar Recibo</a>

                                <a href="javascript:void(0)" class="dropdown-item btn-sm" title="Anular Factura"
                                *ngIf="(fact.status =='N' && fact.mes == mes) && http.canActivateRouterLink('anular_factura')"
                                  data-widget="chat-pane-toggle" data-toggle="modal" data-target="#anularModal"
                                   (click)="showFactura(fact.id)"><i class="fa fa-adn"></i> Anular {{ fact.serie.documento.sigla }}</a>

                                <a href="javascript:void(0)" class="dropdown-item btn-sm" title="Visualizar detalhes da factura"
                                  (click)="imprimirFactura(fact.id)"><i class="fa fa-clone"></i> Visualizar</a>
                                <li class="divider"></li>
                                <a href="javascript:void(0)" class="dropdown-item btn-sm" title="Imprimir"
                                  (click)="imprimirFactura(fact.id)" *ngIf="http.canActivateRouterLink('imprimir_factura')"><i
                                    class="fa fa-print"></i> Imprimir</a>
                                    <li class="divider"></li>
                                <a href="javascript:void(0)" class="dropdown-item btn-sm" title="Download"
                                  (click)="DownloadFactura(fact.id)" *ngIf="http.canActivateRouterLink('imprimir_factura')"><i
                                    class="fa fa-download"></i> Download</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>


                  </div>
                </div>
                <div class="modal-footer">
                  <div class="row" style="width: 100%;">
                    <div class="col-sm-12 col-md-5">
                      <div class="dataTables_info">Mostrando de {{this.pagination.page}} a
                        {{this.pagination.perPage}} de
                        {{this.pagination.total}} factura{{ ( this.pagination.total > 1? 's':'')}}
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                      <div class="pull-right">
                        <pagination-controls
                          (pageChange)="getPageFilterData($event)"
                          previousLabel="Anterior"
                          maxSize="6"
                          nextLabel="Próximo"
                          directionLinks="true"
                          responsive="true"
                          id='listFact'
                          >
                        </pagination-controls>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->

    <!-- The Modal -->
    <div class="modal modal-info fade in" id="anularModal">
      <div class="modal-dialog modal-lg " style="max-width: 994px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Anular Factura</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="alert alert-info alert-dismissible" style="border-radius: 0; font-size: 12px;margin:0">
            <h5><i class="icon fa fa-info"></i> Informação!</h5>
            O processo de anulação de uma factura consiste em especificar o motivo e a descriação da anulação, alterar o estado de uma factura para Anulado.
          </div>

          <form (submit)="anularFactura($event)">
            <!-- Modal body -->
            <div class="modal-body">
               <ngx-loading [show]="loading_factura"></ngx-loading>
              <app-alert></app-alert>
              <div class="row" *ngIf="factura!=null">
               <div class="col-md-12 row" *ngIf= "ncLengthAnulado == 0">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="nome"> Nº Factura</label>
                    <input type="text" value="{{ factura.factura_sigla }}" class="form-control" placeholder="" disabled>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <label for="nome"> Cliente</label>
                    <input type="text" value="{{ factura.cliente.nome }}" class="form-control" placeholder="" disabled>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                  <div class="row">
                  <label  class="col-sm-12 control-label">Motivo</label>
                  <div class="col-sm-12">
<!--                     <input type="text" class="form-control" name="status_reason" [(ngModel)]="status_reason"  placeholder="Escreve aqui uma breve descrição sobre motivo da anulação"> -->
                    <textarea name="status_reason" value="" class="form-control" maxlength="50" [(ngModel)]="status_reason"
                    placeholder="Escreve aqui uma breve descrição sobre motivo da anulação"></textarea>
                 <!--    <div *ngIf="maxlength===50" class="invalid-feedback">
                      <div *ngIf="maxlength===50">O motivo da anulação deve ser breve</div>
                    </div> -->
                  </div>
                  </div>
                </div>
                </div>
              </div>

                <div class="col-md-12" *ngIf= "ncLengthAnulado > 0">
                    <div class="alert alert-danger alert-dismissible" style="border-radius: 0; font-size: 12px;">
                      <h5><i class="icon fa fa-book"></i> {{ factura.serie.documento.nome }}  nº {{ factura.factura_sigla }}  não pode ser anulada porque possui nota de crédito não anulada</h5>
                    </div>
                    <hr>
                    <div class="alert alert alert-dismissible" style="border-radius: 0; font-size: 12px;margin:0;">
                      <h5><i class="icon fa fa-book"></i>Lista de Nota de Crédito</h5>
                    </div>
                    <hr>
                    <table class="table table-hover table-bordered table-striped text-center">
                      <tbody>
                        <tr style="color: #fff; background: #0099FF;">
                          <th>#</th>
                          <th>Nº Factura</th>
                          <th>Status</th>
                          <th>Saldado ?</th>
                          <th>Total</th>
                          <th>Valor Em Aberto</th>
                          <th>Data Facturação</th>
                        </tr>
                        <tr
                          *ngFor="let fact of factura.notas_credito; index as i">
                          <td>{{i+1}}</td>

                          <td style="background: rgba(0,0,0,.1);">{{ fact.factura_sigla }}</td>

                          <td>
                          <span class="btn bg-danger btn-block btn-flat" *ngIf="fact.status =='A'">Anulado</span>
                          <span class="btn bg-info btn-block btn-flat" *ngIf="fact.status =='N'">Normal</span>
                          </td>

                          <td>
                            <span *ngIf="fact.serie.documento.sigla =='NC'"> <span class="btn bg-success btn-block btn-flat">Saldado</span></span>
                            <span *ngIf="fact.serie.documento.sigla !='NC'">
                              <span class="btn bg-warning btn-block btn-flat" *ngIf="fact.pago ==0">Não Saldado</span>
                              <span class="btn bg-success btn-block btn-flat" *ngIf="fact.pago ==1">Saldado</span>
                            </span>
                          </td>
                          <td style="background: #c3f0f7;"> {{ configService.numberFormat(fact.total) }} {{fact.moeda_iso}}</td>
                          <td style="background: #c3f0f7;">
                          {{  (fact.pago === 0 && fact.status === 'N' && fact.valor_aberto == null ? configService.numberFormat(fact.total): configService.numberFormat(fact.valor_aberto))  }}
                          {{fact.moeda_iso}}</td>

                          <td>{{  fact.status_date | date: 'dd-MM-yyyy' }} </td>
                        </tr>
                      </tbody>
                    </table>
                </div>

              </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer" *ngIf="factura!=null">
              <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
              <button type="submit" class="btn btn-outline-primary btn-sm" *ngIf= "ncLengthAnulado == 0">
                 <i class="fa fa-adn"></i> Anular
              </button>
            </div>
          </form>


        </div>
      </div>
    </div>




<!--<recibo></recibo>-->
<!---
<consultar-recibo></consultar-recibo>
-->
  </div>

<!--<app-facturacao-conta></app-facturacao-conta>-->
<app-pagamento-parcelar-factura (loadList)="listarFacturacao()" [factura]="factura" [loadingDataFactura]="loading_factura"></app-pagamento-parcelar-factura>



  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>
