<!-- The Modal -->
<div class="modal modal-info fade" id="modalBanco">
  <div class="modal-dialog modal-xl" style="max-width: 1688px">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <div class="card-tools">
          <button style="margin-right: 21px;" type="button" class="btn btn-primary" data-toggle="modal"
            data-target="#modalNewBanco" (click)="ini()" *ngIf="http.canActivateRouterLink('registar_conta_bancaria')"><i class="fa fa-plus"></i></button>
        </div>

        <h4 class="modal-title"><i class="fa fa-euro"></i> Lista de contas bancarias</h4>

        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <app-loading></app-loading>
        <div class="row">
          <div class="col-2">
            <select class="form-control" id="activo" name="mostrar" size="1" placeholder="Activo">
              <option selected>Mostrar</option>
              <option value="3">3</option>
              <option value="5">5</option>
            </select>
          </div>
          <div class="col-7">
          </div>
          <div class="col-3">
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="search" placeholder="Pesquisar">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-search"></i></span>
              </div>
            </div>
          </div>
        </div>
        <table class="table table-hover table-bordered table-striped text-center">
          <tbody>
            <tr>
              <th>Nº</th>
              <th>Banco</th>
              <th>Abreviação</th>
              <th>Nº Conta</th>
              <th>NIB/IBAN</th>
              <th>Activo</th>
              <th>Data</th>
              <th>Acção</th>
            </tr>
            <tr *ngFor="let banco of bancos; index as i">
              <td>{{(i+1)}}</td>
              <td>{{banco.nome}}</td>
              <td>{{banco.abreviatura}}</td>
              <td>{{banco.numero_conta}}</td>
              <td>{{banco.iban}}</td>
              <td>
                <span *ngIf="banco.activo == 1" class="badge badge-info">SIM</span>
                <span *ngIf="banco.activo == 0" class="badge badge-danger">NÃO</span>
              </td>
              <td>
                {{banco.created_at | date: 'dd-MM-yyyy'}}
              </td>
              <td class="project-actions text-right" style="width: 195px;">
                <!--<button class="btn btn-primary btn-sm"><i class="fa fa-folder"></i> Visualizar </button>-->
                <button class="btn btn-info btn-sm"><i class="fa fa-pencil"></i> Editar </button>
                <button class="btn btn-danger btn-sm"><i class="fa fa-trash"> </i> Eliminar </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer clearfix">
        <div class="row">
          <div class="col-sm-12 col-md-5">
            <div class="dataTables_info">Mostrando de 1 a 2 de
              {{bancos.length}} Contas
            </div>
          </div>
          <div class="col-sm-12 col-md-7">
            <div class="dataTables_paginate paging_simple_numbers">
              <ul class="pagination" style="float: right;">
                <li class="page-item"><a href="javascricpt:void(0)" class="page-link">Anterior</a></li>
                
                  <li class="page-item active"><a href="javascricpt:void(0)" title="1" class="page-link">1</a></li>
                  <li class="page-item "><a href="javascricpt:void(0)" title="2" class="page-link">2</a></li>
                
                <li class="page-item"><a href="javascricpt:void(0)" class="page-link">Próximo</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"> Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal modal-info fade modal-p" id="modalNewBanco">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-euro"></i> Nova conta bancaria</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <app-alert></app-alert>
        <app-loading></app-loading>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label"><i class="fa fa-edit"></i> Nome</label>
              <input type="text" name="nome" [(ngModel)]="banco.nome" class="form-control" placeholder="Nome do banco">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="control-label"><i class="fa fa-edit"></i> Abreviação</label>
              <input type="text" name="abreviatura" [(ngModel)]="banco.abreviatura" class="form-control"
                 placeholder="Sigla">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label"><i class="fa fa-sort-numeric-asc"></i> Conta bancaria nº</label>
              <input type="text" name="numero_conta" [(ngModel)]="banco.numero_conta" class="form-control"
                placeholder="Número da Conta bancaria">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label"><i class="fa fa-sort-numeric-asc"></i> IBAN</label>
              <input type="text" name="iban" [(ngModel)]="banco.iban" class="form-control"  
                placeholder="IBAN">
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label>Activo</label>
              <select class="form-control" id="activo" name="activo" size="1" placeholder="Activo"
                [(ngModel)]="banco.activo" name="activo">
                <option selected [value]="null">Activo ?</option>
                <option value="1">SIM</option>
                <option value="0">NÃO</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"> Fechar</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="register()">Salvar</button>
      </div>
    </div>
  </div>
</div>