<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Facturação Detalhada - {{this.tipoFacturacao.replace('E','É').toLowerCase()}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Operações</a></li>
              <li class="breadcrumb-item">Reporting & BI  </li>
              <li class="breadcrumb-item active">Facturação Detalhada - {{this.tipoFacturacao.replace('E','É').toLowerCase()}}</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="row">

        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title"> Filtro de Dados</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <!-- /.card-body -->
                  <form [formGroup]="simpleForm" (submit)="onSubmit();">
                    <div class="row">

                      <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                          <label>Ano</label>
                          <div class="input-group">
                            <select class="form-control" (change)="getMunicipios()" formControlName="ano" autocomplete="ano" required
                              [ngClass]="{ 'is-invalid': submitted && f.ano.errors, 'is-valid': f.ano.touched && !f.ano.errors }">
                              <option value="null">Ano</option>
                              <option value="{{ n }}" *ngFor="let n of anos">{{ n }}</option>
                            </select>
                            <div *ngIf="submitted && f['ano'].errors" class="invalid-feedback">
                              <div *ngIf="f['ano'].errors.required">Ano é obrigatório</div>
                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>

                      <!--<div class="col-md-1 col-xs-3">
                        <div class="form-group">
                          <label>Facturação</label>
                          <div class="input-group">
                            <select class="form-control" formControlName="tipoFacturacao"  autocomplete="tipoFacturacao" required
                              [ngClass]="{ 'is-invalid': submitted && f.tipoFacturacao.errors, 'is-valid': f.tipoFacturacao.touched && !f.tipoFacturacao.errors }">
                              <option [value]="'this.tipoFacturacao'" selected>{{this.tipoFacturacao}}</option>
                            </select>
                            <div *ngIf="submitted && f['tipoFacturacao'].errors" class="invalid-feedback">
                              <div *ngIf="f['tipoFacturacao'].errors.required">Tipo Facturação é obrigatório</div>
                            </div>
                          </div>
                        </div>
                      </div>-->

                      <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                          <label>Municipio</label>
                          <select class="form-control" required autofocus  formControlName="municipe" [ngClass]="{ 'is-invalid': submitted && f.municipe.errors, 'is-valid': f.municipe.touched && !f.municipe.errors }">
                            <option [value]="null">Municipio</option>
                            <option value="T"> Todas</option>
                            <option *ngFor="let municipio of municipios" [value]="municipio.id"> {{municipio.nome}} </option>
                          </select>
                          <div *ngIf="submitted && f['municipe'].errors" class="invalid-feedback">
                            <div *ngIf="f['municipe'].errors.required">O campo municipio é obrigatório</div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                          <label>Direcção</label>
                          <div class="input-group">

                            <select class="form-control" formControlName="direccao" autocomplete="direccao" required
                              [ngClass]="{ 'is-invalid': submitted && f.direccao.errors, 'is-valid': f.direccao.touched && !f.direccao.errors }">
                              <option value="null">Direcção</option>
                              <option value="T"> Todas</option>
                              <option *ngFor="let direccao of direccaos">{{direccao.designacao}}</option>

                            </select>
                            <div *ngIf="submitted && f['direccao'].errors" class="invalid-feedback">
                              <div *ngIf="f['direccao'].errors.required">Direcção é obrigatório</div>
                            </div>

                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>


                      <div class="col-md-2 col-xs-3">
                        <div class="form-group">
                          <label>Loja</label>
                          <div class="input-group">
                            <select class="form-control" formControlName="loja" placeholder="Filiais" autocomplete="loja" required (change)="changeLoja()"
                              [ngClass]="{ 'is-invalid': submitted && f.loja.errors, 'is-valid': f.loja.touched && !f.loja.errors }">
                              <option value="null">Loja</option>
                              <option value="T"> Todas</option>
                              <option *ngFor="let loja of lojas" [value]="loja.id">{{loja.nome}}</option>
                            </select>
                            <div *ngIf="submitted && f['loja'].errors" class="invalid-feedback">
                              <div *ngIf="f['loja'].errors.required">Loja é obrigatório</div>
                            </div>

                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>

                      <div class="col-md-2 col-xs-3">
                        <div class="form-group">
                          <label>Produto</label>
                          <div class="input-group">
                            <select class="form-control" formControlName="produto" placeholder="Filiais" autocomplete="produto" required (change)="changeProduto()"
                              [ngClass]="{ 'is-invalid': submitted && f.produto.errors, 'is-valid': f.produto.touched && !f.produto.errors }">
                              <option value="null">Produto</option>
                              <option value="T"> Todos</option>
                              <option *ngFor="let produto of produtos" [value]="produto.id">{{produto.nome}}</option>
                            </select>
                            <div *ngIf="submitted && f['produto'].errors" class="invalid-feedback">
                              <div *ngIf="f['produto'].errors.required">Produto é obrigatório</div>
                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>

                      <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                          <label style="color: #fff;">s</label>
                          <div class="input-group">
                            <button type="button" class="btn btn-info btn-flat  mr-1 btn-smm" type="submit" [disabled]="simpleForm.pristine || simpleForm.invalid" data-style="expand-left"><i class="fa fa-search"></i>
                              Filtrar</button>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>

                      <div class="col-md-2 col-xs-3">
                        <div class="form-group">
                          <label style="color: #fff;">s</label>
                          <div class="input-group">
                            <div class="btn-group">

                              <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle dropdown-icon btn-flat" data-toggle="dropdown"
                                  aria-expanded="false" [disabled]="disabledButton"> <i class="fa fa-download"></i> Exportação
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start" style="left: 40px;">
                                  <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsPDF();"><i class="fa fa-file-pdf-o"></i> PDF</a>
                                  <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsXLSX();"><i class="fa fa-file-excel-o"></i> Excel</a>
                                </div>
                              </div>
                              <button type="button" class="btn btn-info btn-flat" (click)="imprimirPDF()" [disabled]="disabledButton"><i class="icon-printer"></i> Imprimir</button>

                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>



                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title"> Facturação Detalhada -{{this.tipoFacturacao.replace('E','É').toLowerCase()}}</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <!-- /.card-body -->
                  <br>
                  <div class="table-responsive">


                    <ngx-loading [show]="loading"></ngx-loading>
                    <table class="table table-hover table-bordered table-stripedd text-center m-0">


                        <tr>
                          <td colspan="5" style="border: 0; color:#fff;"> Facturação Detalhada </td>
                        </tr>


                        <tr style="color: #fff; background: #0099FF;">
                          <th style="width: 260px;">Facturação</th>
                          <th style="width: 190px;">Direcção</th>
                          <th *ngFor="let mes of meses" style="width: 170px; background: #8a8484;">{{ mes }}</th>
                          <th style="width: 174px; background: #8a8484;">Total</th>
                        </tr>


                      <tbody *ngFor="let cobranca of cobrancas.facturacaos">
                        <tr style="background: #fff;">
                          <td style="background: #f2f2f2;"  [attr.rowspan]="cobranca.direccaos.length+1"> {{cobranca.tipoFacturacao}} </td>
                        </tr>
                        <tr *ngFor="let direccao of cobranca.direccaos">
                          <td style="background: #f2f2f2;">{{direccao.direccao}}</td>
                          <td *ngFor="let saldo of direccao.saldos" style="text-align: right;"> {{ configService.numberFormat(saldo.valor) }}</td>
                          <td>{{ configService.numberFormat(direccao.total) }}</td>
                        </tr>

                      </tbody>
                      <tr *ngIf="cobrancas.length!=0" style="background: #eeeeeea8;">
                        <th colspan="2">Total</th>
                        <th *ngFor="let saldo of cobrancas.mesesCalculoHorizontal" style="text-align: right;" >{{ configService.numberFormat(saldo.valor) }}</th>
                      </tr>

                    </table>
                    <div style="height: 0px; overflow: auto;">
                    <table class="table table-hover table-bordered table-stripedd text-center m-0 tableCobranca">


                      <tr>
                        <td colspan="5" style="border: 0; color:#fff;"> Facturação Detalhada </td>
                      </tr>


                      <tr style="color: #fff; background: #0099FF;">
                        <th style="width: 260px;">Facturação</th>
                        <th style="width: 190px;">Direcção</th>
                        <th *ngFor="let mes of meses" style="width: 170px; background: #8a8484;">{{ mes }}</th>
                        <th style="width: 174px; background: #8a8484;">Total</th>
                      </tr>


                      <tbody *ngFor="let cobranca of cobrancas.facturacaos">
                        <tr style="background: #fff;">
                          <td style="background: #f2f2f2;" [attr.rowspan]="cobranca.direccaos.length+1"> {{cobranca.tipoFacturacao}} </td>
                        </tr>
                        <tr *ngFor="let direccao of cobranca.direccaos">
                          <td style="background: #f2f2f2;">{{direccao.direccao}}</td>
                          <td *ngFor="let saldo of direccao.saldos" style="text-align: right;">
                            {{ (saldo.valor) }}</td>
                          <td>{{ (direccao.total) }}</td>
                        </tr>

                      </tbody>
                      <tr *ngIf="cobrancas.length!=0" style="background: #eeeeeea8;">
                        <th colspan="2">Total</th>
                        <th *ngFor="let saldo of cobrancas.mesesCalculoHorizontal" style="text-align: right;">
                          {{ (saldo.valor) }}</th>
                      </tr>

                    </table>
</div>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- /.content -->
  </div>

  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>
