<div class="modal modal-info fade in" id="{{modal}}"  data-backdrop="static">
  <div class="modal-dialog modal-lg " style="max-width: 1150px;">
    <div class="modal-content">
      <!-- Modal Header -->
      <form [formGroup]="simpleFormImposto" (submit)="onSubmit();">
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa fa-euro nav-icon"></i> {{ title }}</h4>
          <button class="close" type="reset" (click)="onReset()" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body" style="padding: 2rem;">
          <ngx-loading [show]="loading"></ngx-loading>
          <app-loading></app-loading>
          <div class="row">

            <div class="col-md-12">
              <div class="form-group has-warning">
                <label class="col-form-label">Descrição</label>
                <textarea formControlName="descricao" required placeholder="Escreve uma descricao" class="form-control"
                  autofocus autocomplete="given-name" [ngClass]="{ 'is-invalid': submitted && f.descricao.errors, 'is-valid': f.descricao.touched && !f.descricao.errors }" ></textarea>
                <div *ngIf="submitted && f['descricao'].errors" class="invalid-feedback">
                  <div *ngIf="f['descricao'].errors.required">O campo Observação é obrigatório</div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group has-warning">
                <label class="col-form-label" for="codigo">Código</label>
                <input class="form-control" required autofocus id="codigo" type="text" formControlName="codigo"
                  placeholder="codigo" autocomplete="given-name"
                  [ngClass]="{ 'is-invalid': submitted && f.codigo.errors, 'is-valid': f.codigo.touched && !f.codigo.errors }" />
                <div *ngIf="submitted && f['codigo'].errors" class="invalid-feedback">
                  <div *ngIf="f['codigo'].errors.required">O campo codigo é obrigatório</div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="col-form-label" for="valor">Valor</label>
                <input class="form-control" required autofocus id="valor" type="text" formControlName="valor"
                  placeholder="valor" autocomplete="given-name"
                  [ngClass]="{ 'is-invalid': submitted && f.valor.errors, 'is-valid': f.valor.touched && !f.valor.errors }" />
                <div *ngIf="submitted && f['valor'].errors" class="invalid-feedback">
                  <div *ngIf="f['valor'].errors.required">O campo valor é obrigatório</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group has-warning">
                <label class="col-form-label" for="activo"> activo</label>
                <div class="input-group mb-3">
                  <select formControlName="activo" class="form-control" required autofocus
                    [ngClass]="{ 'is-invalid': submitted && f.activo.errors, 'is-valid': f.activo.touched && !f.activo.errors }">
                    <option [value]="null">Estado</option>
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                  </select>
                  <div *ngIf="submitted && f['activo'].errors" class="invalid-feedback">
                    <div *ngIf="f['activo'].errors.required">O campo Estado é obrigatório</div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="btn btn-danger btn-sm" type="reset" [disabled]="simpleFormImposto.pristine && !submitted"
            (click)="onReset()">Limpar</button>
          <button class="btn btn-success btn-sm mr-1" type="submit"
            [disabled]="simpleFormImposto.valid">Validar</button>
          <button class="btn btn-primary mr-1 btn-sm" type="submit"
            [disabled]="simpleFormImposto.pristine || simpleFormImposto.invalid" data-style="expand-left"><i
              class="fa fa-save"></i>
            Registar</button>
        </div>
      </form>
    </div>
  </div>
</div>