<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><i class="fa fa-calculator"></i> Contadores</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Gestão</a></li>
              <li class="breadcrumb-item active">Contadores</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body" style="padding: 13px 10px 4px 10px;">
                <div class="row">
                  <div class="col-1">
                    <select name="perPage" (change)="getPageFilterData($event)"
                      [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
                      <option value="1">Entrada</option>
                      <option value="5" selected>5</option>
                      <option value="10">10</option>
                      <option value="25">25</option>
                    </select>
                    <small>Entradas</small>
                  </div>
                  <div class="col-md-5">
                    <input type="text" name="search" [(ngModel)]="this.http.filters.search" placeholder="Pesquisar..."
                      class="form-control" (keyup)="getPageFilterData($event)">
                    <i class="fa fa-search"
                      style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                    <small>Pesquisar por Nº Série</small>
                  </div>

                  <div class="col-2">
                    <select (change)="getPageFilterData($event)" [(ngModel)]="this.http.filters.orderBy"
                      class="form-control">
                      <option [ngValue]="null">Ordernar</option>
                      <option value="created_at">Data</option>
                      <option value="numero_serie">Nº Série</option>

                    </select>
                    <small>Ordernação</small>
                  </div>

                  <div class="col-1">
                    <button type="button" class="btn btn-blockk btn-info" (click)="getPageFilterData($event)"><i
                        class="fa fa-search"></i> Filtrar</button>
                  </div>
                </div>

              </div>
            </div>

            <!-- card-title  -->
            <div class="card">
              <app-loading></app-loading>
              <div class="card-header">
                <h4 class="modal-title">LISTA DE CONTADORES</h4>
                <div class="card-tools">
                  <button type="button" class="btn btn-primary btn-flat" data-toggle="modal"
                    data-target="#modalContadorCreateOrEdit" (click)="ini()"><i class="fa fa-plus"></i>
                    Registar</button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive">
                <table class="table table-hover table-bordered table-stripedd text-center">
                  <tbody>
                    <tr style="color: #fff; background: #0099FF;">
                      <th>#</th>
                      <!--<th>Descrição</th>-->
                      <th>Marca</th>
                      <th>Modelo</th>
                      <th>Nº Contador</th>
                      <th>Contador ID</th>
                      <!--<th>Filial</th>-->
                      <th width="80px">Estado</th>
                      <th>Classe Precisão</th>
                      <th>Medição</th>
                      <th>Calibre</th>
                      <th>Digítos</th>
                      <!--                       <th>Ano Fabrico</th> -->
                      <!-- <th>Ano Substituição</th> -->
                      <!-- <th>Validade</th> -->
                      <th>Fabricante</th>
                      <!--                       <th>Tipo Fabricação</th> -->
                      <th>Armazém</th>
                      <!-- <th>Especificações Técnicas</th> -->
                      <!--                       <th>Dados Selo</th> -->
                      <!--                       <th>Última Leitura</th> -->
                      <!--                       <th>Observação</th> -->
                      <th>Acção</th>
                    </tr>
                    <tr
                      *ngFor="let item of items | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                      <td>{{ i + 1 }}</td>
                      <!-- <td>{{ item.contador }}</td> -->
                      <td>{{ item.marca }}</td>
                      <td>{{ item.modelo }}</td>
                      <td>{{ item.numero_serie }}</td>
                      <td>{{ item.contador_ID }}</td>
                      <!-- <td>{{ item.filial }}</td> -->

                      <td>
                        <span class="btn bg-success btn-block btn-flat"
                          *ngIf="item.estadoContadorSlug == 'DISPONIVEL'">{{ item.estadoContadorDesc }}</span>
                        <span class="btn bg-warning btn-block btn-flat"
                          *ngIf="item.estadoContadorSlug == 'USADO'">{{ item.estadoContadorDesc }}</span>
                        <span class="btn bg-danger btn-block btn-flat"
                          *ngIf="item.estadoContadorSlug == 'DANIFICADO'">{{ item.estadoContadorDesc }}</span>
                        <span class="btn bg-black btn-block btn-flat"
                          *ngIf="item.estadoContadorSlug == 'PARADO'">{{ item.estadoContadorDesc }}</span>
                        <span class="btn bg-secondary btn-block btn-flat"
                          *ngIf="item.estadoContadorSlug == 'FUSCO'">{{ item.estadoContadorDesc }}</span>
                        <span class="btn bg-danger btn-block btn-flat"
                          *ngIf="item.estadoContadorSlug == 'VANDALIZADO'">{{ item.estadoContadorDesc }}</span>
                      </td>
                      <td>{{ item.classe_precisao }}</td>
                      <td>{{ item.medicao }}</td>
                      <td>{{ item.calibre }}</td>
                      <td>{{ item.digitos }}</td>
                      <!--                       <td>{{ item.ano_fabrico }}</td> -->
                      <!-- <td>{{ item.ano_substituicao }}</td> -->
                      <!-- <td>{{ item.validade }}</td> -->
                      <td>{{ item.fabricante }}</td>
                      <!--                       <td>{{ item.tipo_fabricacao }}</td> -->
                      <td>{{item.centro_distribuicao}}</td>
                      <!--   <td>{{ item.especificacao }}</td> -->
                      <!--                  <td>{{ item.dados_selo }}</td> -->
                      <!--                       <td>{{ item.ultima_leitura }}</td> -->
                      <!--                       <td>{{ item.observacao }}</td> -->
                      <td>
                        <div class="btn-group btn-block">
                          <button type="button" class="btn btn-info btn-flat btn-sm btn-block"
                            data-toggle="dropdown">Opções</button>
                          <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(67px, 38px, 0px);">

                            <a href="javascript:void(0)" class="dropdown-item btn-sm"
                              (click)="setDataContador(item); listarModelo()" data-widget="chat-pane-toggle"
                              data-toggle="modal" data-target="#modalContadorCreateOrEdit"> <i class="fa fa-edit"></i>
                              Editar
                            </a>

                            <li class="divider"></li>

                            <a href="javascript:void(0)" data-toggle="modal" data-target="#historicoModal"
                              (click)="setDataContador(item); getHistoricoEstado(item.id, item.created_at) "
                              class="dropdown-item btn-sm"><i class="fa fa-eye"></i>
                              Histórico</a>



                            <!--            
                              <li class="divider"></li>                
   <a href="javascript:void(0)" class="dropdown-item btn-sm"
                              (click)="setDataContador(item); LeiturabyContador(item.id)" data-widget="chat-pane-toggle"
                              data-toggle="modal" data-target="#newReadModal"> <i class="fa fa-map-marker"></i> Registar
                              Leitura
                            </a> -->

                            <li class="divider"></li>

                            <a href="javascript:void(0)" data-toggle="modal" data-target="#editEstadoModal"
                              *ngIf="item.estadoContadorSlug != 'DISPONIVEL'"
                              (click)="setDataContador(item); getEstadoFilhosByEstadoPai(item.id)"
                              class="dropdown-item btn-sm"><i class="fa fa-pencil"></i> Actualizar Estado</a>

                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer clearfix">
                <div class="row">
                  <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                      {{this.http.filters.pagination.perPage}} de
                      {{this.http.filters.pagination.total}} Registos
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-7">
                    <div class="pull-right">
                      <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior" maxSize="6"
                        nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->

    <!-- The Modal -->
    <div class="modal modal-info fade" id="newReadModal" data-backdrop="static">
      <div class="modal-dialog modal-lg" style="max-width: 1000px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">

            <div class="col-md-6">
              <b>Marca:</b> {{ contador.marca }}<br>
              <b>Modelo:</b> {{ contador.modelo }}<br>
              <b>Nº Série:</b> {{ contador.numero_serie }}
            </div>

            <button type="button" class="close" data-dismiss="modal">&times;</button>

          </div>

          <!-- Modal body -->
          <app-loading></app-loading>
          <form (submit)="registerleitura($event)">
            <div class="modal-body">
              <app-alert></app-alert>
              <div class="col-md-12">
                <div class="card card-default">

                  <!-- /.card-header -->
                  <div class="card-body" style="padding: 9px;"><br>
                    <div class="row">

                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="col-form-label" for="modelo"> Tipo Registo</label>
                          <select class="form-control" [(ngModel)]="contadores_leituras.tipo_registo_id" name="id">
                            <option [value]="null" selected>Selecione o Tipo Registo</option>
                            <option value="{{ item.id }}" *ngFor="let item of TipoRegisto">
                              {{ item.descricao }}
                            </option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="control-label"> Data</label>
                          <input type="date" [(ngModel)]="contadores_leituras.data" class="form-control"
                            placeholder="Data" name="data">
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="control-label"> Leitura Atual</label>
                          <input type="text" [(ngModel)]="contadores_leituras.ultima_leitura" class="form-control"
                            placeholder="Valor Atual" name="valor_atual">
                        </div>
                      </div>

                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal" (click)="onReset()">
                Fechar</button>
              <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
            </div>
          </form>

        </div>
      </div>
    </div>

    <div class="modal modal-info fade in" id="editEstadoModal" data-backdrop="static">
      <div class="modal-dialog modal-lg " style="max-width: 1000px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa icon fa-pencil"></i> Actualizar estado</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <app-loading></app-loading>
            <app-alert></app-alert>
            <h3 style="padding: 15px 10px;background: #0099FF; color: #ffffff;">Contador Nº Série:
              {{ contador.numero_serie }}</h3>
            <hr>

            <div class="row">

              <div class="col-md-12">
                <div class="form-group">
                  <label>Estado</label>
                  <select class="form-control" name="estado" [(ngModel)]="contadores_estado.estado_contador_id">
                    <option [value]="null"> {{ loadingEstado.estado  }}</option>
                    <option *ngFor="let estado of estadosContadores" [value]="estado.estado_filho"> {{estado.descricao}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label for="morada"><i class="fa fa-edit" aria-hidden="true"></i> Observação</label>
                  <textarea name="observacao" value="" class="form-control" [(ngModel)]="contadores_estado.observacao"
                    placeholder="Observação"></textarea>
                </div>
              </div>

            </div>

          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"
              (click)="onReset()">Fechar</button>
            <button type="submit" class="btn btn-outline-primary btn-sm"
              (click)="editarEstadoContador()">Actualizar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal modal-info fade in" id="historicoModal" data-backdrop="static">
      <div class="modal-dialog modal-lg " style="max-width: 1700px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <div class="card-tools">

            </div>
            <h4 class="modal-title"><i class="fa icon fa fa-book"></i> HISTÓRICO DO CONTADOR</h4>

            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <app-loading></app-loading>
            <h3 style="padding: 15px 10px; background: #0099FF; color: #ffffff;">Nº Série: {{ contador.numero_serie }}
            </h3>
            <hr>
            <table class="table table-hover table-bordered">
              <thead>
                <tr style="background: #0099FF; color: #ffffff;">
                <tr class="terceiro">
                  <th width="50px">#</th>
                  <th>Estado Atual</th>
                  <th>Leitura Atual</th>
                  <th>Tipo de Registo</th>
                  <th>Observação</th>
                  <th>Município</th>
                  <th>Comuna</th>
                  <th>Bairro</th>
                  <th>Rua</th>
                  <th>Nº Moradia</th>
                  <th>Prédio</th>
                  <th>Conta</th>
                  <th>Cliente</th>
                  <th>Usuário (a)</th>
                  <th>Data</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let historico of historicos index as i">
                  <td>{{i + 1}}</td>
                  <td>{{ historico.estado == null ? '------' : historico.estado }}</td>
                  <td>{{ historico.ultima_leitura == null ? '------' : historico.ultima_leitura }}</td>
                  <td>{{ historico.tipo_registo == null ? '------' : historico.tipo_registo }}</td>
                  <td>{{ historico.observacao_new == null ? '------' : historico.observacao_new }}</td>
                  <td>{{ historico.municipio == null ? '------' : historico.municipio }}</td>
                  <td>{{ historico.distrito == null ? '------' : historico.distrito }}</td>
                  <td>{{ historico.bairro == null ? '------' : historico.bairro }}</td>
                  <td>{{ historico.rua == null ? '------' : historico.rua }}</td>
                  <td>{{ historico.moradia_numero == null ? '------' : historico.moradia_numero }}</td>
                  <td>{{ historico.predio_nome == null ? '------' : historico.predio_nome }}</td>
                  <td>{{ historico.conta == null ? '------' : historico.conta }}</td>
                  <td>{{ historico.cliente == null ? '------' : historico.cliente }}</td>
                  <td>{{ historico.operador }}</td>
                  <td>{{ historico.created_at }}</td>

                </tr>
              </tbody>
            </table>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
          </div>

        </div>
      </div>
    </div>

  </div>

  <app-create-or-edit-contadores [modalContadorCreateOrEdit]="" [contador]="contador"
    (loadListContador)="getPageFilterData(1)" [marcas]="Marca" [medicao]="Medicao" [modelos]="Modelo"
    [classes]="ClassePrecisao" [armazem]="Armazen" [fabricantes]="Fabricante" [tipo_contadores]="TipoContador"
    [estado_contadores]="EstadoContadores" [calibre]="Calibre" [caudal]="Caudal">
  </app-create-or-edit-contadores>

  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>