<div class="card">
  <div class="card-header">
    <h3 class="card-title">
      <i class="fa fa-edit"></i> Visão Geral</h3>
  </div>
  <div class="card-body">
    <h4 style="background: #17a2b8;color:#fff; padding: 15px; border-radius: 3px;">:: {{tab_title}}</h4>
    <hr>
    <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist" style=" background: #222d32;">
      <li class="nav-item">
        <a class="nav-link active" id="custom-content-below-home-tab" data-toggle="pill"
          href="#custom-content-below-home" role="tab" aria-controls="custom-content-below-home" aria-selected="true"
          (click)="tabs('Conta Corrente')"><i class="fa  fa-calculator"></i> Conta Corrente</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="custom-content-below-profile-tab" data-toggle="pill"
          href="#custom-content-below-profile" role="tab" aria-controls="custom-content-below-profile"
          aria-selected="false" (click)="tabs('Facturas')"><i class="fa fa-shopping-cart"></i> Facturas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="custom-content-below-messages-tab" data-toggle="pill"
          href="#custom-content-below-messages" role="tab" aria-controls="custom-content-below-messages"
          aria-selected="false" (click)="tabs('Recibos')"><i class="fa fa-book"></i> Recibos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="custom-content-below-settings-tab" data-toggle="pill"
          href="#custom-content-below-settings" role="tab" aria-controls="custom-content-below-settings"
          aria-selected="false" (click)="tabs('Adiantamento / Movimentos')"><i class="fa fa-money"></i> Adiantamento</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="custom-content-below-settings-tab" data-toggle="pill"
          href="#custom-content-below-settings" role="tab" aria-controls="custom-content-below-settings"
          aria-selected="false" (click)="tabs('Dados Pessoais')"><i class="fa icon-user"></i> Dados Pessoais</a>
      </li>
    </ul>
    <div class="tab-content" id="custom-content-below-tabContent">
      <div class="tab-pane fade show active" id="custom-content-below-home" role="tabpanel"
        aria-labelledby="custom-content-below-home-tab">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada lacus ullamcorper dui molestie, sit
        amet congue quam finibus. Etiam ultricies nunc non magna feugiat commodo. Etiam odio magna, mollis auctor felis
        vitae, ullamcorper ornare ligula. Proin pellentesque tincidunt nisi, vitae ullamcorper felis aliquam id.
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin id orci eu
        lectus blandit suscipit. Phasellus porta, ante et varius ornare, sem enim sollicitudin eros, at commodo leo est
        vitae lacus. Etiam ut porta sem. Proin porttitor porta nisl, id tempor risus rhoncus quis. In in quam a nibh
        cursus pulvinar non consequat neque. Mauris lacus elit, condimentum ac condimentum at, semper vitae lectus. Cras
        lacinia erat eget sapien porta consectetur.
      </div>
      <div class="tab-pane fade" id="custom-content-below-profile" role="tabpanel"
        aria-labelledby="custom-content-below-profile-tab">
        Mauris tincidunt mi at erat gravida, eget tristique urna bibendum. Mauris pharetra purus ut ligula tempor, et
        vulputate metus facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis
        in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas sollicitudin, nisi a luctus interdum, nisl
        ligula placerat mi, quis posuere purus ligula eu lectus. Donec nunc tellus, elementum sit amet ultricies at,
        posuere nec nunc. Nunc euismod pellentesque diam.
      </div>
      <div class="tab-pane fade" id="custom-content-below-messages" role="tabpanel" aria-labelledby="custom-content-below-messages-tab">

        
        
      </div>
      <div class="tab-pane fade" id="custom-content-below-settings" role="tabpanel"
        aria-labelledby="custom-content-below-settings-tab">
        <div class="row">
          <div class="col-md-6">
            <br>
            <h3>Historico de Movimentos</h3>
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>User</th>
                  <th>Date</th>
                  <th>Status</th>
                  <th>Reason</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>183</td>
                  <td>John Doe</td>
                  <td>11-7-2014</td>
                  <td><span class="tag tag-success">Approved</span></td>
                  <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                </tr>
                <tr>
                  <td>219</td>
                  <td>Alexander Pierce</td>
                  <td>11-7-2014</td>
                  <td><span class="tag tag-warning">Pending</span></td>
                  <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                </tr>
                <tr>
                  <td>657</td>
                  <td>Bob Doe</td>
                  <td>11-7-2014</td>
                  <td><span class="tag tag-primary">Approved</span></td>
                  <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                </tr>
                <tr>
                  <td>175</td>
                  <td>Mike Doe</td>
                  <td>11-7-2014</td>
                  <td><span class="tag tag-danger">Denied</span></td>
                  <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <br>
            <h3>Adiantamento(Excesso)</h3>
            <!-- You can now use it in app.component.html -->
            <circle-progress [percent]="21385" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
              [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300" >
            </circle-progress>
          </div>
        
        </div>
      </div>
    </div>
  </div>

</div>