<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><i class="fa icon icon-users"></i> Fornecedores</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Vendas</a></li>
              <li class="breadcrumb-item active">Fornecedores</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12" style="padding: 30px;">



          <div class="card">
            <app-loading></app-loading>
            <div class="card-header">
              <h3 class="card-title">
                <div class="row">
                  <div class="col-md-5"><i class="fa icon icon-users"></i> Lista de Fornecedores</div>

                  <div class="col-md-5">
                    <input type="text" value="" #search placeholder="Pesquisar..." class="form-control"
                      (keyup)="pesquisarFornecedor($event)">
                    <i class="fa fa-search"
                      style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                  </div>
                  <div class="col-1">
                    <select (change)="mostrarResultados()" #mostrarResultado class="form-control">
                      <option value="5">Mostrar</option>
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="10">15</option>
                    </select>
                  </div>
                </div>

              </h3>
              <div class="card-tools" style="margin-top: 9px;">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#fornecedorModal"><i
                    class="fa fa-plus"></i> Registar</button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover table-bordered table-striped text-center">
                <tbody>
                  <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>NIF</th>
                    <th>localização</th>
                    <th>Data</th>
                    <th>Acção</th>
                  </tr>
                  <tr *ngFor="let item of items">
                    <td>{{ item.id }}</td>
                    <td style="background: rgba(23, 162, 184, 0.04)">{{ item.nome }}</td>
                    <td width="200" style="background: #ffc1071a;">{{ item.telefone }}</td>
                    <td width="200"> {{ item.nif }} </td>
                    <td width="300" style="background: #ffc1071a;">{{ item.localizacao }}</td>
                    <td>{{ item.created_at | date: 'dd-MM-yyyy' }} </td>
                    <td>
                      <div class="btn-group">
                        <button
                          (click)=" refreshDataFornecedor(item.id, item.nome, item.nif, item.telefone, item.localizacao) "
                          class="btn  text-info" data-toggle="tooltip" data-widget="chat-pane-toggle" title="Editar"
                          type="button" data-toggle="modal" data-target="#editarModal"><i
                            class="fa fa-edit"></i></button>

                        <button class="btn   text-danger" data-toggle="tooltip" data-widget="chat-pane-toggle"
                          title="Eliminar" type="button" data-toggle="modal" data-target="#myModal"><i
                            class="fa fa-trash-o"></i></button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer clearfix">
              <div class="row">
                <div class="col-sm-12 col-md-5">
                  <div class="dataTables_info">Mostrando de {{pagination.page}} a {{pagination.perPage}} de
                    {{pagination.total}} Facturações
                  </div>
                </div>
                <div class="col-sm-12 col-md-7">
                  <div class="dataTables_paginate paging_simple_numbers">
                    <ul class="pagination" style="float: right;">
                      <li class="page-item"><a href="javascricpt:void(0)" class="page-link">Anterior</a></li>
                      <div *ngFor="let page of pages">
                        <li class="page-item active" *ngIf="(page == pagination.page)"><a href="javascricpt:void(0)"
                            (click)="refreshPaginate(page)" title="{{ page }}" class="page-link">{{ page }}</a></li>

                        <li class="page-item " *ngIf="(page != pagination.page)"><a href="javascricpt:void(0)"
                            (click)="refreshPaginate(page)" title="{{ page }}" class="page-link">{{ page }}</a></li>
                      </div>
                      <li class="page-item"><a href="javascricpt:void(0)" class="page-link">Próximo</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->

    <!-- The Modal -->
    <!-- The Modal -->
    <div class="modal modal-info fade in" id="editarModal">
      <div class="modal-dialog modal-lg ">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa icon icon-note"></i> Editar
              Fornecedor
            </h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <form (submit)="editar($event)">
            <!-- Modal body -->
            <div class="modal-body">
              <app-alert></app-alert>
              <app-loading></app-loading>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="nome"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Nome</label>
                    <input type="text" #nome value="{{ fornecedor.nome }}" ngModel name="nome" class="form-control"
                      id="nome" placeholder="Ex. Pedro António">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="nome"><i class="fa fa-mobile" aria-hidden="true"></i> Telefone</label>
                    <input type="text" #telefone value="{{ fornecedor.telefone }}" ngModel name="telefone"
                      class="form-control" id="nome" placeholder="Ex. +244 926 000 111">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group has-warning">
                    <label class="control-label" for="barcode"><i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
                      Contribuinte</label>
                    <input type="text" value="{{ fornecedor.nif}}" class="form-control" id="barcode" placeholder="">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="localizacao"><i class="fa fa-home" aria-hidden="true"></i> localizacao</label>
                    <input type="text" #localizacao ngModel name="localizacao" value="{{ fornecedor.localizacao }}"
                      class="form-control" id="localizacao" placeholder="Ex. Kicolo - Cacuaco, Luanda">
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
              <button type="submit" class="btn btn-outline-primary btn-sm">Actualizar</button>
            </div>
          </form>


        </div>
      </div>
    </div>

    <!-- The Modal -->
    <div class="modal modal-info fade in" id="fornecedorModal">
      <div class="modal-dialog modal-lg " style="max-width: 900px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa icon icon-user"></i> Registar fornecedor</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <form (submit)="register($event)">
            <!-- Modal body -->
            <div class="modal-body">
              <app-alert></app-alert>
              <app-loading></app-loading>
              <div class="card card-default">
                <div class="card-header">
                  <h3 class="card-title">Dados pesssois</h3>
                  <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body" style="padding: 9px;">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group has-warning">
                        <label class="control-label" for="barcode"><i class="fa fa-sort-numeric-asc"
                            aria-hidden="true"></i>
                          Contribuinte</label>
                        <input type="text" [(ngModel)]="fornecedor.nif" name="nif" (keyup)="preenchAuto()"
                          class="form-control" placeholder="Nº de identificação Fiscal">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="nome"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Nome</label>
                        <input type="text" [(ngModel)]="fornecedor.nome" name="nome" class="form-control" id="nome"
                          placeholder="Nome Completo">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="nome"><i class="fa fa-mobile" aria-hidden="true"></i> Telefone</label>
                        <input type="text" [(ngModel)]="fornecedor.telefone" name="telefone" class="form-control"
                          id="nome" placeholder="Nº Telefone">
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="localizacao"><i class="fa fa-home" aria-hidden="true"></i> localizacao</label>
                        <textarea [(ngModel)]="fornecedor.localizacao" name="localizacao" class="form-control"
                          placeholder="localizacao"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
              <button type="submit" class="btn btn-outline-primary btn-sm">Registar</button>
            </div>
          </form>


        </div>
      </div>
    </div>
  </div>
  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>