<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Stock</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Inventarios</a></li>
              <li class="breadcrumb-item">Gestão de Stock</li>
              <li class="breadcrumb-item active">Stock</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <img id='itf' />
      <div class="row">
        <div class="col-md-12">
          

          <div class="card">
            <app-loading></app-loading>
            <div class="card-header">
              <h3 class="card-title">Lista de quantidades de produtos em stock</h3> 
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsivee p-0">
              <table class="table table-hover table-bordered table-striped text-center">
                <tbody>
                  <tr>
                    <th>#</th> 
                    <th>ID</th>
                    <th>Produto</th> 
                    <th style="width: 181px;">Qtd Entrada</th>
                    <th style="width: 181px;">Qtd Saida</th>
                    <th style="width: 181px;">Qtd Total</th>   
                  </tr>
                  <tr *ngFor="let stock of stocks; index as i"> 
                    <td>{{ (i+1)}}</td>
                    <td>{{ stock.id }}</td>
                    <td>{{ stock.nome }}</td>
                    <td><span class="btn btn-info btn-blockk">{{ stock.somaE }}</span> </td>
                    <td><span class="btn btn-warning btn-blockk">{{ stock.somaS }}</span></td> 
                    <td *ngIf="stock.stock > 0"><span class="btn btn-success btn-blockk">{{ stock.stock }}</span></td>
                    <td *ngIf="stock.stock < 0"><span class="btn btn-danger btn-blockk">{{ stock.stock }}</span></td>
                     
                  </tr>
                </tbody>
              </table>
            </div>
            
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
 
  </div> 
  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>