<div #loadding class="overlay d-none">
  <div class="image">
  <!--   <img src="assets/dist/img/unig_white.png" class="img-circle elevation-0" alt="User Image"> -->
  </div>
  <i class="fa fa-spinner fa-spin text-danger" aria-hidden="true"></i>
  <!--<img src="assets/dist/img/loaders/loader6.gif" class="img-circle elevation-2" alt="carregando..." style="    margin-left: 50%;
  margin-top: 4%;width: 51px;">-->

</div>