<!-- The Modal -->
<div class="modal modal-info fade" id="modalMoeda">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <div class="card-tools">
          <button style="margin-right: 21px;" type="button" class="btn btn-primary" data-toggle="modal"
            data-target="#modalNewMoeda" (click)="ini()" *ngIf="http.canActivateRouterLink('registar_moeda')"><i class="fa fa-plus"></i></button>
        </div>

        <h4 class="modal-title"><i class="fa fa-euro"></i> Moedas</h4>

        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <app-loading></app-loading>
        <div class="row">
          <div class="col-2"> 
            <select class="form-control" id="activo" name="mostrar" size="1" placeholder="Activo" >
              <option selected >Mostrar</option>
              <option value="3">3</option>
              <option value="5">5</option>
            </select>
          </div>
          <div class="col-7"> 
          </div>
          <div class="col-3">
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="search" placeholder="Pesquisar">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-search"></i></span>
              </div>
            </div>
          </div>
        </div>
        <table class="table table-hover table-bordered table-striped text-center">
          <tbody>
            <tr>
              <th>Nº</th>
              <th>Nome</th>
              <th>Código ISO</th>
              <th>Unidade Fracionária</th>
              <th>Activo</th>
              <th>Data</th>
              <th>Acção</th>
            </tr>
            <tr *ngFor="let moeda of moedas; index as i">
              <td>{{(i+1)}}</td>
              <td>{{moeda.nome}}</td>
              <td>{{moeda.codigo_iso}}</td>
              <td>{{moeda.unidade_fracionaria}}</td>
              <td>
                <span *ngIf="moeda.activo == 1" class="badge badge-info">SIM</span>
                <span *ngIf="moeda.activo == 0" class="badge badge-danger">NÃO</span>
              </td>
              <td>
                {{moeda.created_at | date: 'dd-MM-yyyy'}}
              </td>
              <td class="project-actions text-right" style="width: 195px;">
                <!--<button class="btn btn-primary btn-sm"><i class="fa fa-folder"></i> Visualizar </button>-->
                <button class="btn btn-info btn-sm" data-toggle="modal"
            data-target="#modalNewMoeda" (click)="editarMoeda(moeda)"><i class="fa fa-pencil"></i> Editar </button>
                
                <button class="btn btn-success btn-sm" (click)="moedaSelectd(moeda)" data-toggle="modal"
            data-target="#modalCambios" *ngIf="moeda.codigo_iso !='AOA' || http.canActivateRouterLink('listar_cambios')"><i class="fa  fa-money" > </i> Cambio </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
 
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"> Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal modal-info fade modal-p" id="modalNewMoeda">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-euro"></i> Nova Moeda</h4>
        <button type="button" class="close" data-dismiss="modal" title="Registar Cambios">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <app-alert></app-alert>
        <app-loading></app-loading>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label"><i class="fa fa-sort-numeric-asc"></i> Nome</label>
              <input type="text" name="nome" [(ngModel)]="moeda.nome" class="form-control" placeholder="Nome do Serie">
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label"><i class="fa fa-sort-numeric-asc"></i> Código ISO</label>
              <input type="text" name="codigo_iso" [(ngModel)]="moeda.codigo_iso" class="form-control"
                 placeholder="Código ISO">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label"><i class="fa fa-sort-numeric-asc"></i> Unidade Fracionária</label>
              <input type="text" name="unidade_fracionaria" [(ngModel)]="moeda.unidade_fracionaria" class="form-control"
                  placeholder="Unidade Fracionária">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Activo</label>
              <select class="form-control" id="activo" name="activo" size="1" placeholder="Activo"
                [(ngModel)]="moeda.activo" name="activo">
                <option selected [value]="null">Activo ?</option>
                <option value="1">SIM</option>
                <option value="0">NÃO</option>
              </select>
            </div>
          </div>
          <div class="col-md-9">
            <div class="form-group">
              <label class="control-label"><i class="fa fa-sort-numeric-asc"></i> Descrição</label>
              <input type="text" name="descricao" [(ngModel)]="moeda.descricao" class="form-control"
                  placeholder="Abreviação">
            </div>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"> Fechar</button>
        <button type="submit" class="btn btn-primary btn-sm" (click)="register()">Salvar</button>
      </div>
    </div>
  </div>
</div>



<!-- The Modal -->
<div class="modal modal-info fade modal-p" id="modalNewCambio">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-money"></i> Config. câmbio</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <app-alert></app-alert>
        <app-loading></app-loading>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label"><i class="fa fa-sort-numeric-asc"></i> Valor câmbio</label>
              <input type="number" name="valor_cambio" [(ngModel)]="cambio.valor_cambio" class="form-control"
                placeholder="valor cambio">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label"><i class="fa fa-calendar"></i> Data câmbio</label>
              <input type="date" name="data_cambio" [(ngModel)]="cambio.data_cambio" class="form-control" placeholder="Data">
            </div>
          </div>
           
          <div class="col-md-3">
            <div class="form-group">
              <label>Activo</label>
              <select class="form-control" id="activo" name="activo" size="1" placeholder="Activo"
                [(ngModel)]="cambio.is_active" name="is_active">
                <option selected [value]="null">Activo ?</option>
                <option value="1">SIM</option>
                <option value="0">NÃO</option>
              </select>
            </div>
          </div> 
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"> Fechar</button>
        <button type="submit" class="btn btn-primary btn-sm" (click)="registerCambio()">Salvar</button>
      </div>
    </div>
  </div>
</div>












<!-- The Modal -->
<div class="modal modal-info fade" id="modalCambios">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <div class="card-tools">
          <button style="margin-right: 21px;" type="button" class="btn btn-primary" data-toggle="modal" title="Registar Cambios"
            data-target="#modalNewCambio" ><i class="fa fa-plus"></i></button>
        </div>

        <h4 class="modal-title"><i class="fa fa-money"></i> Câmbios</h4>

        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <app-loading></app-loading>
        <div class="row">
          <div class="col-2">
            <select class="form-control" id="activo" name="mostrar" size="1" placeholder="Activo">
              <option selected>Mostrar</option>
              <option value="3">3</option>
              <option value="5">5</option>
            </select>
          </div>
          <div class="col-7">
          </div>
          <div class="col-3">
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="search" placeholder="Pesquisar">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-search"></i></span>
              </div>
            </div>
          </div>
        </div>
        <table class="table table-hover table-bordered table-striped text-center">
          <tbody>
            <tr>
              <th>Nº</th>
              <th>Valor Câmbio</th>
              <th>Data Cambio</th>
              <th>Activo?</th>
              <th>Moeda</th>
              <th>User Operação</th> 
            </tr>
            <tr *ngFor="let cambio of cambios; index as i">
               
              <td>{{(i+1)}}</td>
              <td>{{cambio.valor_cambio}}</td>
              <td>{{cambio.data_cambio | date: 'dd-MM-yyyy'}}</td>
              <td>
                <span *ngIf="cambio.is_active == 1" class="badge badge-info">SIM</span>
                <span *ngIf="cambio.is_active == 0" class="badge badge-danger">NÃO</span>
              </td>
              <td>{{cambio.moeda.nome}}</td>
              
              <td>
                {{cambio.user.nome}}
              </td> 
            </tr>
          </tbody>
        </table>
      </div> 
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"> Fechar</button>
      </div>
    </div>
  </div>
</div>