<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><i class="fa icon icon-users"></i> Utilizadores</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Operações</a></li>
              <li class="breadcrumb-item active">Controle Acesso</li>
              <li class="breadcrumb-item active">Utilizadores</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          <a href="javascricpt:void(0)" style="color: #333">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><i class="fa fa-gear"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Logs</span>
                <span class="info-box-number">
                  10
                  <small>%</small>
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
          </a>

          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
          <a href="javascricpt:void(0)" style="color: #333">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-danger elevation-1"><i class="fa fa-book"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Roles</span>
                <span class="info-box-number">41,410</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </a>
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix hidden-md-up"></div>

        <div class="col-12 col-sm-6 col-md-3">
          <a href="javascricpt:void(0)" style="color: #333">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><i class="fa fa-lock"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Permissions</span>
                <span class="info-box-number">760</span>
              </div>
              <!-- /.info-box-content -->
            </div>
          </a>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
          <a href="javascricpt:void(0)" style="color: #333">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><i class="fa icon-users"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Utilizadores</span>
                <span class="info-box-number">{{ this.http.filters.pagination.total }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </a>
        </div>
        <!-- /.col -->
      </div>
        <div class="row">

          <div class="col-lg-12 col-12">
            <div class="modall modal-info fadee" data-backdrop="static">
              <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
                <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title"> Filtro de Dados</h4>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                    <div class="row">
  
  
                      <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                          <!--<label style="color: #fff;">Entrada</label>-->
                          <select name="perPage" (change)="getPageFilterData($event)"
                            [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
                            <option value="1">Entrada</option>
                            <option value="5" selected>5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                          </select>
                        </div>
                        <!-- /.input group -->
                      </div>
  
                      <div class="col-md-4 col-xs-3">
                        <div class="form-group"> 
                          <input type="text" name="search" [(ngModel)]="this.http.filters.search"
                            placeholder="Pesquisar..." class="form-control" (keyup)="getPageFilterData($event)">
                          <i class="fa fa-search"
                            style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                        </div>
                        <!-- /.input group -->
                      </div>
  
                      <div class="col-md-1 col-xs-3">
                        <div class="form-group"> 
                          <select name="orderBy" (change)="getPageFilterData($event)" [(ngModel)]="this.http.filters.orderBy" class="form-control">
                            <option [ngValue]="null">Ordernar</option>
                            <option value="nome">Nome</option>
                            <option value="created_at">Data</option>
                            <option value="nome">Nome</option>
                            <option value="username">Username</option>
                          </select>
                        </div>
                        <!-- /.input group -->
                      </div>
  

                      <div class="col-md-1 col-xs-2">
                        <div class="form-group"> 
                          <div class="input-group">
                            <button type="button" class="btn btn-info btn-flatt mr-1 btn-smm" type="button"><i
                                class="fa fa-search"></i>
                              Filtrar</button>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>
  
                      <div class="col-md-2 col-xs-3">
                        <div class="form-group" style="float: right;"> 
                          <div class="input-group">
                            <div class="btn-group">
  
                              <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle dropdown-icon btn-flat"
                                  data-toggle="dropdown" aria-expanded="false" [disabled]="disabledButton"> <i
                                    class="fa fa-download"></i> Exportação
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start" style="left: 40px;">
                                  <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsPDF();"><i
                                      class="fa fa-file-pdf-o"></i>
                                    PDF</a>
                                  <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsXLSX();"><i
                                      class="fa fa-file-excel-o"></i> Excel</a>
                                </div>
                              </div>
                              <button type="button" class="btn btn-info btn-flat" (click)="imprimirPDF()" [disabled]="disabledButton"><i
                                  class="icon-printer"></i> Imprimir</button> 
                                    <button type="button" class="btn btn-primary btn-flat"
                                    data-toggle="modal" data-target="#modalutilizadorCreateOrEdit" (click)="setDataUtilizador(undefined);"><i
                                        class="fa fa-plus"></i> Registar</button>
                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                      </div>
  
                    </div> 
                  </div>
  
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-12 col-12">
            <div class="modall modal-info fadee" data-backdrop="static">
              <div class="modal-dialog" style="max-width: 100%;">
                <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">TABELA DE UTILIZADORES</h4>
                  
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                    <!-- /.card-body --> 
                    <div class="table-responsivee">
  
  
                      <ngx-loading [show]="loading"></ngx-loading>
                      

                      <table class="table table-hover table-bordered table-stripedd text-center m-0 exportAsXLSXCliente">
                        <tbody>
                          <tr style="color: #fff; background: #0099FF;">
                            <th>#</th>
                            <th>Nome</th>
                            <th>username</th>
                            <!--<th>Telefone</th>-->
                            <!--<th>Email</th>
                            <th>Morada</th>-->
                            <!--<th>Empresa</th>-->
                            <th>Loja</th>
                            <th>Filial</th>
                            <th>Perfil</th>
                            <th>Status</th>
                            <th>Data Criação</th>
                            <th>Data Update</th>
                            <th width="50px">Operações</th>
                          </tr>
                          <tr *ngFor="let item of items | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                            <td>{{(i+1)}}</td>
                            <td class="text-left">{{ item.nome }}</td>
                            <td class="text-left">{{ item.username }}</td>
                            <!--<td>{{ item.telefone }}</td>-->
                            <!--<td>{{ item.email }}</td>
                            <td>{{ item.morada }}</td>-->
                            <!--<td>{{item.companyName}}</td>-->
                            <td class="text-left">{{item.loja}}</td>
                            <td class="text-left">{{item.filial}}</td>
                            <td class="text-left">{{item.role}}</td>
                            <td><span class="btn bg-success btn-block btn-flat status-label"
                               *ngIf="item.status">Activo</span>
                            <span class="btn bg-danger btn-block btn-flat status-label"
                             *ngIf="!item.status">Inactivo</span></td>
                            <td>{{ item.created_at | date: 'dd-MM-yyyy' }}</td>
                            <td>{{ item.updated_at | date: 'dd-MM-yyyy | H:mm' }}</td>
                            <td>
                              <div class="btn-group btn-block">
                                <button type="button" class="btn btn-info btn-flat btn-sm btn-block"
                                  data-toggle="dropdown">Opções</button>
                                <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown"
                                  aria-expanded="false">
                                  <span class="caret"></span>
                                  <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(67px, 37px, 0px);">
                                <a class="dropdown-item" href="#"><i class="fa icon-user"></i> Perfil</a>

                                  <a href="javascript:void(0)" class="dropdown-item btn-sm"
                                   (click)="setDataUtilizador(item)"
                                    data-toggle="tooltip" data-widget="chat-pane-toggle" title="Editar"
                                    data-toggle="modal" data-target="#modalutilizadorCreateOrEdit"> <i
                                      class="fa fa-edit"></i> Editar
                                  </a>

                                <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Bloquear</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)" (click)="setDataUtilizador(item);" data-toggle="modal" data-target="#redefinirPasswordModal"><i class="fa fa-asterisk"></i> Redefinir Password</a>
                                <a href="javascript:void(0)"   class="dropdown-item btn-sm" title="Visualizar detalhes da Loja" ><i class="fa fa-clone"></i> Visualizar</a>
                              </div>
                                
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                     
                    </div>
                  </div>
                  <div class="modal-footer">
                    <div class="row" style="width: 100%;">
                      <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                          {{this.http.filters.pagination.perPage}} de
                          {{this.http.filters.pagination.total}} Utilizadores
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-7">
                        <div class="pull-right">
                          <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior"
                            maxSize="6" nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                        </div>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <!-- /.content -->

  </div>

    <createOrEditutilizador [utilizador]="utilizador" [modal]=""
      
    (loadListutilizador)="getPageFilterData(this.http.filters.pagination.page)">
    </createOrEditutilizador>

    <app-redefinir-password [user]="utilizador"></app-redefinir-password>
    <app-setingsnavbar></app-setingsnavbar>
    <app-footernavbar></app-footernavbar>
  </div>