<div class="modal modal-info fade in" id="{{modal}}" data-backdrop="static">
  <div class="modal-dialog modal-lg " style="max-width: 1150px;">
    <div class="modal-content">
      <!-- Modal Header -->
      <form [formGroup]="simpleFormproduto" (submit)="onSubmit();">
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa fa-beer nav-icon"></i> {{ title }}</h4>
          <button class="close" type="reset" (click)="onReset()" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body" style="padding: 2rem;">
          <ngx-loading [show]="loading"></ngx-loading>
          <app-loading></app-loading>
          <div class="row">


            <div class="col-md-2">
              <div class="form-group has-warning">
                <label class="col-form-label" for="tipo_produto_id">Tipo</label>
                <div class="input-group mb-3">
                  <select formControlName="tipo_produto_id" class="form-control" required autofocus
                    [ngClass]="{ 'is-invalid': submitted && f.tipo_produto_id.errors, 'is-valid': f.tipo_produto_id.touched && !f.tipo_produto_id.errors }">
                    <option [value]="null">Tipo</option>
                    <option value="{{ item.id }}" *ngFor="let item of tipoProduto">
                      {{ item.descricao }}
                    </option>
                  </select>
                  <div *ngIf="submitted && f['tipo_produto_id'].errors" class="invalid-feedback">
                    <div *ngIf="f['tipo_produto_id'].errors.required">O campo Tipo é obrigatório</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group has-warning">
                <label class="col-form-label" for="nome">Nome</label>
                <input class="form-control" required autofocus id="nome" type="text" formControlName="nome"
                  placeholder="Nome" autocomplete="given-name"
                  [ngClass]="{ 'is-invalid': submitted && f.nome.errors, 'is-valid': f.nome.touched && !f.nome.errors }" />
                <div *ngIf="submitted && f['nome'].errors" class="invalid-feedback">
                  <div *ngIf="f['nome'].errors.required">O campo Nome é obrigatório</div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group has-warning">
                <label class="col-form-label" for="classificacao_produto_id">Tipo de classificação</label>
                <div class="input-group mb-3">
                  <select 
                    formControlName="classificacao_produto_id" 
                    class="form-control" 
                    required
                    [ngClass]="{ 'is-invalid': submitted && f.classificacao_produto_id.errors, 'is-valid': f.classificacao_produto_id.touched && !f.classificacao_produto_id.errors }">
                    <option [value]="null">Seleciona o tipo</option>
                    <option value="{{ item.id }}" *ngFor="let item of classificacoes">
                      {{ item.descricao }}
                    </option>
                  </select>
                  <div *ngIf="submitted && f['classificacao_produto_id'].errors" class="invalid-feedback">
                    <div *ngIf="f['classificacao_produto_id'].errors.required">O campo Tipo é obrigatório</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="col-form-label" for="valor">Valor</label>
                <input class="form-control" required autofocus id="valor" type="number" formControlName="valor"
                  placeholder="Valor" autocomplete="given-name"
                  [ngClass]="{ 'is-invalid': submitted && f.valor.errors, 'is-valid': f.valor.touched && !f.valor.errors }" />
                <div *ngIf="submitted && f['valor'].errors" class="invalid-feedback">
                  <div *ngIf="f['valor'].errors.required">O campo valor é obrigatório</div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group has-warning">
                <label class="col-form-label" for="imposto_id">Imposto</label>
                <div class="input-group mb-3">
                  <select formControlName="imposto_id" class="form-control" required autofocus
                    [ngClass]="{ 'is-invalid': submitted && f.imposto_id.errors, 'is-valid': f.imposto_id.touched && !f.imposto_id.errors }">
                    <option [value]="null">Imposto</option>
                    <option *ngFor="let i of imponstos" [value]="i.id">
                      {{i.descricao}} - {{ configService.numberFormat(i.valor) }}
                    </option>
                  </select>
                  <div *ngIf="submitted && f['imposto_id'].errors" class="invalid-feedback">
                    <div *ngIf="f['imposto_id'].errors.required">O campo Imposto é obrigatório</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group has-warning">
                <label class="col-form-label" for="moeda_id">Moeda</label>
                <div class="input-group mb-3">
                  <select formControlName="moeda_id" class="form-control" required autofocus
                    [ngClass]="{ 'is-invalid': submitted && f.moeda_id.errors, 'is-valid': f.moeda_id.touched && !f.moeda_id.errors }">
                    <option [value]="null">Moeda</option>
                    <option *ngFor="let i of configService.moedas" [value]="i.id">
                      {{i.nome}}
                    </option>
                  </select>
                  <div *ngIf="submitted && f['moeda_id'].errors" class="invalid-feedback">
                    <div *ngIf="f['moeda_id'].errors.required">O campo moeda é obrigatório</div>
                  </div>
                </div>
              </div>
            </div> 

<!--             <div class="col-md-3">
              <div class="form-group has-warning">
                <label class="col-form-label" for="tipo">Executar Trigger?</label>
                <div class="input-group">
                  <select formControlName="is_trigger" class="form-control" required autofocus
                    [ngClass]="{ 'is-invalid': submitted && f.is_trigger.errors, 'is-valid': f.is_trigger.touched && !f.is_trigger.errors }">
                    <option [value]="null">Selecione o estado</option>
                    <option value="1">Sim</option>
                    <option value="0">Não</option>
                  </select>
                  <div *ngIf="submitted && f['is_trigger'].errors" class="invalid-feedback">
                    <div *ngIf="f['is_trigger'].errors.required">O campo trigger é obrigatório</div>
                  </div>
                </div>
              </div>

              <div class="form-group has-warning">
                <label class="col-form-labell" for="is_active">Estado</label>
                <div class="input-group">
                  <select formControlName="is_active" class="form-control" required autofocus
                    [ngClass]="{ 'is-invalid': submitted && f.is_active.errors, 'is-valid': f.is_active.touched && !f.is_active.errors }">
                    <option [value]="null">Estado</option>
                    <option value="1">Activo?, Sim</option>
                    <option value="0">Activo?, Não</option>
                  </select>
                  <div *ngIf="submitted && f['is_active'].errors" class="invalid-feedback">
                    <div *ngIf="f['is_active'].errors.required">O campo estado é obrigatório</div>
                  </div>
                </div>
              </div>

            </div>  -->

            <div class="col-md-12">
              <div class="form-group has-warning">
                <label class="col-form-label">Observação</label>
                <textarea formControlName="observacao"  placeholder="Escreve uma Observação" class="form-control"
                  autofocus autocomplete="given-name" style="height: 123px;"
                  [ngClass]="{ 'is-invalid': submitted && f.observacao.errors, 'is-valid': f.observacao.touched && !f.observacao.errors }"></textarea>
                <div *ngIf="submitted && f['observacao'].errors" class="invalid-feedback">
                  <div *ngIf="f['observacao'].errors.required">O campo Observação é obrigatório</div>
                </div>
              </div>
            </div>

          </div>
 

            

          

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="btn btn-danger btn-sm" type="reset" [disabled]="simpleFormproduto.pristine && !submitted"
            (click)="onReset()">Limpar</button>
          <button class="btn btn-success btn-sm mr-1" type="submit"
            [disabled]="simpleFormproduto.valid">Validar</button>
          <button class="btn btn-primary mr-1 btn-sm" type="submit"
            [disabled]="simpleFormproduto.pristine || simpleFormproduto.invalid" data-style="expand-left"><i
              class="fa fa-save"></i>
            Registar</button>
        </div>
      </form>
    </div>
  </div>
</div>