<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><i class="fa fa-map-marker"></i> Rotas</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Gestão</a></li>
              <li class="breadcrumb-item active">Rotas</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body" style="padding: 13px 10px 4px 10px;">
                <div class="row">
                  <div class="col-1">
                    <select name="perPage" (change)="getPageFilterData($event)"
                      [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
                      <option value="1">Entrada</option>
                      <option value="5" selected>5</option>
                      <option value="10">10</option>
                      <option value="25">25</option>
                    </select>
                    <small>Entradas</small>
                  </div>
                  <div class="col-md-5">
                    <input type="text" name="search" [(ngModel)]="this.http.filters.search" placeholder="Pesquisar..."
                      class="form-control" (keyup)="getPageFilterData($event)">
                    <i class="fa fa-search"
                      style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                    <small>Pesquisar por..</small>
                  </div>

                  <div class="col-2">
                    <select (change)="getPageFilterData($event)" [(ngModel)]="this.http.filters.orderBy"
                      class="form-control">
                      <option [ngValue]="null">Ordernar</option>
                      <option value="estado">Estado</option>
                    </select>
                    <small>Ordernação</small>
                  </div>

                  <div class="col-1">
                    <button type="button" class="btn btn-blockk btn-info" (click)="getPageFilterData($event)"><i
                        class="fa fa-search"></i> Filtrar</button>
                  </div>
                </div>

              </div>
            </div>


            <div class="card">
              <app-loading></app-loading>
              <div class="card-header">
                <h3 class="card-title">Listagem</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-primary btn-flat" data-toggle="modal"
                    data-target="#newRotaHeaderModal" (click)="ini(); selectBox(); getConfiguracaos();"><i
                      class="fa fa-plus"></i>
                    Registar</button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive">
                <table *ngIf="items.length > 0;else emptyList"
                  class="table table-hover table-bordered table-striped text-center">
                  <tbody>
                    <tr style="color: #fff; background: #0099FF;">
                      <th>#</th>
                      <th>Descrição</th>
                      <th>Província</th>
                      <th>Município</th>
                      <th>Período de</th>
                      <th>Período até</th>
                      <th>Leitor</th>
                      <th width="5">Acção</th>
                    </tr>
                    <tr
                      *ngFor="let item of items | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                      <td>{{ i + 1 }}</td>
                      <td>{{ item.descricao }}</td>
                      <td>
                        <span *ngIf="item.provincia != null;else dataEmpty">{{ item.provincia }}</span>
                      </td>
                      <td>
                        <span *ngIf="item.municipio != null;else dataEmpty">{{ item.municipio }}</span>
                      </td>
                      <td>{{ item.data_inicio }}</td>
                      <td>{{ item.data_fim }}</td>
                      <td>{{ item.userNome }}</td>

                      <td>
                        <div class="btn-group btn-block">
                          <button type="button" class="btn btn-info  btn-flat btn-sm"
                            data-toggle="dropdown">Opções</button>
                          <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Menu Serviços</span>
                          </button>
                          <div class="dropdown-menu" role="menu" x-placement="bottom-start">

                            <a href="javascript:void(0)" class="dropdown-item btn-sm"
                              (click)="ini(); selectBox(); setDataRotaHeader(item);" data-toggle="modal"
                              data-target="#newRotaHeaderModal">
                              <i class="fa fa-edit"></i> Editar
                            </a>

                            <a href="javascript:void(0)" class="dropdown-item btn-sm" data-widget="chat-pane-toggle"
                              data-toggle="modal" data-target="#showRotaRunModal"
                              class="btn btn-block btn-outline-primary btn-sm"
                              (click)="setDataRotaHeader(item); selectBox(); listarRotaRun(item.id)">
                              <i class="fa fa-map-marker"></i> Roteiros
                            </a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer clearfix">
                <div class="row">
                  <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                      {{this.http.filters.pagination.perPage}} de
                      {{this.http.filters.pagination.total}} Registos
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-7">
                    <div class="pull-right">
                      <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior" maxSize="6"
                        nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->



    <!-- The Modal -->
    <div class="modal modal-info fade" id="newRotaHeaderModal" data-backdrop="static">
      <div class="modal-dialog modal-lg" style="max-width: 935px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-map-marker"></i> {{ title }}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <app-loading></app-loading>
          <div class="modal-body">
            <app-alert></app-alert>
            <div class="col-md-12">
              <div class="card card-default">

                <!-- /.card-header -->
                <div class="card-body" style="padding: 9px;"><br>
                  <div class="row">

                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="control-label"><i class="fa fa-edit"></i> Nome</label>
                        <input type="text" class="form-control" placeholder="Nome" [(ngModel)]="rota_header.descricao">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Província</label>
                        <select [(ngModel)]="rota_header.provincia_id" class="form-control"
                          (change)="selectBoxMunicipiosByProvincia(rota_header.provincia_id)">
                          <option [value]="null">Província</option>
                          <option *ngFor="let i of provincias" [value]="i.id">
                            {{i.abreviatura}} - {{i.nome}}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Município</label>
                        <select [(ngModel)]="rota_header.municipio_id" class="form-control" [disabled]="!municipios">
                          <option [value]="null">Município</option>
                          <option *ngFor="let i of municipios" [value]="i.id">
                            {{i.nome}}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="control-label"> Período de</label>
                        <select class="form-control" (click)="gerarPeriodoFinal()"
                          [(ngModel)]="rota_header.data_inicio">
                          <option [value]="null">Selecione o Início</option>
                          <option value="{{ periodo }}" *ngFor="let periodo of periodo_inicio">{{ periodo }}</option>

                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="control-label"> Período até</label>
                        <select class="form-control" [(ngModel)]="rota_header.data_fim">
                          <option [value]="null">{{ carregando.periodo  }}</option>
                          <option value="{{ periodo }}" *ngFor="let periodo of periodo_fim">{{ periodo }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label"> Estado</label>
                        <select class="form-control" [(ngModel)]="rota_header.estado">
                          <option [value]="null">Selecione o Estado</option>
                          <option value="1"> Activo</option>
                          <option value="0"> Inactivo</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="form-groupp">
                        <label>Leitor</label>
                        <div class="input-group">
                          <input type="text" placeholder="Nome do Utilizador" [(ngModel)]="rota_header.user_nome"
                            class="form-control" (keyup)="getUtilizador()">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-flat"
                              style="background-color: transparent;"><i class="fa fa-search"></i></button>
                          </span>
                        </div>

                        <div class="autocomplete-container" *ngIf="view_user">
                          <ul>
                            <li *ngFor="let user of users">
                              <a href="javascript:void(0)"
                                (click)="setUtilizador(user.id, user.nome)">{{ user.nome }}</a>
                            </li>
                          </ul>
                        </div>

                      </div>
                    </div>

                  </div>
                </div>
                <!-- /.card-body -->
              </div>
            </div>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"> Fechar</button>
            <button type="submit" (click)="saveRotaHeader($event)" class="btn btn-primary btn-sm">Salvar</button>
          </div>

        </div>
      </div>
    </div>

    <!-- The Modal -->

    <div class="modal modal-info fade in" id="showRotaRunModal" data-backdrop="static">
      <div class="modal-dialog modal-lg " style="max-width: 1500px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <div class="card-tools">
              <a
                (click)="_closeModal()"
                [routerLink]="['/criar-roteiros', rota_header.id]"
                href="#"
                class="btn btn-primary btn-sm"
                style="margin-right: 10px"
              >
                <i class="fa fa-plus"></i> Criar Roteiro
              </a>
            </div>
            <h4 class="modal-title"><i class="nav-icon fa fa-home"></i> Roteiros da Rota {{ rota_header.descricao }} |
              {{ rota_header.data_inicio | date: 'dd-MM-yyyy' }} - {{ rota_header.data_fim | date: 'dd-MM-yyyy' }}</h4>

            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <app-loading></app-loading>

            <div class="col-md-12 row" style="padding: 0px; margin: 0px;">
              <h3 class="col-md-10 text-left" style="padding: 15px 10px;background: #0099FF; color: #ffffff;">Rota:
                {{ rota_header.descricao }} | {{ rota_header.data_inicio | date: 'dd-MM-yyyy' }} -
                {{ rota_header.data_fim | date: 'dd-MM-yyyy' }}
              </h3>
              <div *ngIf="leituraToProcess" class="col-md-2 text-right"
                style="padding: 10px; background: #0099FF; color: #fff; margin-bottom: 8px;">
                <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#addLeiturasRotaRunModal" (click)="setDataLeiturasRotaRun()">
                  <i class="fa fa-arrow-top"></i> Processar Leituras
                </button>
              </div>
            </div>
            <hr>
            <table *ngIf="rotaRuns.length > 0;else emptyList" class="table table-hover table-bordered">
              <thead>
                <tr style="color: #fff; background: #0099FF;">
                  <th>Cliente</th>
                  <th>CIL</th>
                  <th>Morada</th>
                  <th>Contador</th>
                  <th>Estado</th>
                  <th>Leitura</th>
                  <th>Data</th>
                  <th>Não leitura?</th>
                  <th>Motivo</th>
                  <!--  <th>Operações</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of rotaRuns index as i">
                  <td>{{ item.cliente }}</td>
                  <td>{{ item.cil }}</td>
                  <td>{{ item.cliente_morada }}</td>
                  <td>{{ item.numero_serie }}</td>
                  <td>
                    <span class="btn bg-danger btn-block btn-flat status-label" *ngIf="item.estado_rota_slug =='CANCELADA'">{{ item.estado_rota }}</span>
                    <span class="btn bg-yellow btn-block btn-flat status-label" *ngIf="item.estado_rota_slug =='PENDENTE'">{{ item.estado_rota }}</span>
                    <span class="btn bg-success btn-block btn-flat status-label" *ngIf="item.estado_rota_slug =='REALIZADA'">{{ item.estado_rota }}</span>
                  </td>
                  <td>
                    <input [disabled]="item.nao_leitura" *ngIf="item.estado_rota_slug =='PENDENTE'" type="number" placeholder="Leitura" [(ngModel)]="item.leitura" class="form-control">
                    <span *ngIf="item.estado_rota_slug =='REALIZADA' ">{{ item.nao_leitura ? 'Não leitura' : item.leitura }}</span>
                  </td>
                  <td>
                    <input *ngIf="item.estado_rota_slug =='PENDENTE'" type="date" placeholder="Data da Leitura" [(ngModel)]="item.data_leitura" class="form-control">
                    <span *ngIf="item.estado_rota_slug =='REALIZADA' ">{{ item.data_leitura | date: 'dd-MM-yyyy' }}</span>
                  </td>

                  <td>
                    <input [disabled]="item.estado_rota_slug =='REALIZADA'" [(ngModel)]="item.nao_leitura" type="checkbox">
                  </td>
                  <td>
                    <span *ngIf="item.nao_leitura && item.estado_rota_slug =='REALIZADA'">{{ item.motivo }}</span>
                    <select class="form-control" [(ngModel)]="item.motivo" *ngIf="item.nao_leitura && item.estado_rota_slug =='PENDENTE'" >
                      <option *ngFor="let motivo of motivos_nao_leitura_list" [value]="motivo.nome">{{ motivo.nome }}</option>
                    </select>
                  </td>

                </tr>
              </tbody>
            </table>

          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
          </div>

        </div>
      </div>
    </div>


    <div class="modal modal-info fade" id="addLeiturasRotaRunModal" data-backdrop="static">
      <div class="modal-dialog modal-lg" style="max-width: 1500px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-markbook"></i> Processamento de Leituras</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <app-loading></app-loading>

          <div class="modal-body">
            <app-alert></app-alert>
            <div class="col-md-12">


              <div class="card-body" style="padding: 9px;"><br>
                <div class="row">

                  <div class="col-md-6">
                  </div>
                  <div class="col-md-6">
                  </div>

                  <div class="table-responsive">
                    <div class="col-md-12 row" style="padding: 0px; margin: 0px;" *ngIf="addRows">
                      <h5 class="col-md-10" style="padding: 10px; background: #0099FF; color: #fff;">Leituras para Processamento</h5>
                      <h5 class="col-md-2 text-right" style="padding: 10px; background: #0099FF; color: #fff;"> {{corridasLeiturasArray.length}}</h5>
                    </div>

                    <table *ngIf="corridasLeiturasArray.length > 0;else emptyList"
                      class="table table-hover table-bordered">
                      <thead>
                        <tr style="color: #fff; background: #0099FF;">
                          <th>Rota</th>
                          <th>Cliente</th>
                          <th>Telefone</th>
                          <th>Morada</th>
                          <th>Conta</th>
                          <th>Contador</th>
                          <th>Última Leitura</th>
                          <th>Leitura</th>
                          <th>Data</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of corridasLeiturasArray index as i">
                          <td>{{ item.rota_header }}</td>
                          <td>{{ item.cliente }}</td>
                          <td>{{ item.cliente_telefone }}</td>
                          <td>{{ item.cliente_morada }}</td>
                          <td>{{ item.conta_id }}</td>
                          <td>{{ item.numero_serie }}</td>
                          <td>{{ (item.ultima_leitura != null) ? item.ultima_leitura : '------' }}</td>
                          <td>{{ item.nao_leitura ? 'Não leitura' : item.leitura }}</td>
                          <td>{{ item.data_leitura }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-sm"
              data-dismiss="modal"> Fechar</button>
            <button type="button" (click)="saveLeiturasRotaRun()" class="btn btn-primary btn-sm">Processar</button>
          </div>


        </div>
      </div>
    </div>
  </div>


  <ng-template #emptyList>
    <div align="center">
      <h2>Sem resultados</h2>
      <span></span>
    </div>
  </ng-template>

  <ng-template #dataEmpty>------</ng-template>


  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>
