<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><i class="fa fa-building"></i>Ligação Ramais</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Configuração</a></li>
              <li class="breadcrumb-item active">Ligação Ramais</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

      <div class="row">

        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">

                <!-- Modal body -->
                <div class="modal-body">
                  <div class="row">


                    <div class="col-md-1 col-xs-3">
                      <div class="form-group">
                        <!--<label style="color: #fff;">Entrada</label>-->
                        <select name="perPage" (change)="getPageFilterData($event)"
                          [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
                          <option value="5" selected>Entrada</option>
                          <option value="5">5</option>
                          <option value="10">10</option>
                          <option value="15">15</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                        </select>
                      </div>
                      <!-- /.input group -->
                    </div>


                    <div class="col-md-5 col-xs-3">
                      <div class="form-group">
                        <input type="text" name="search" [(ngModel)]="this.http.filters.search" class="form-control"
                          (keyup)="getPageFilterData($event)" placeholder="Pesquisar..." class="form-control">
                        <i class="fa fa-search"
                          style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                        <small>Pesquisar por Material</small>
                      </div>
                      <!-- /.input group -->
                    </div>


                    <div class="col-md-1 col-xs-3">
                      <div class="form-group">
                        <select name="orderBy" (change)="getPageFilterData($event)"
                          [(ngModel)]="this.http.filters.orderBy" class="form-control">
                          <option [ngValue]="null">Ordernar</option>
                          <option value="ponto_a">Descrição</option>
                          <option value="ponto_a.created_at">Data</option>
                        </select>
                      </div>
                      <!-- /.input group -->
                    </div>


                    <div class="col-md-1 col-xs-3">
                      <div class="form-group">
                        <div class="input-group">
                          <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-flat mr-1 btn-smm" type="button"
                              (click)="getPageFilterData($event)"><i class="fa fa-search"></i> Filtrar</button>


                          </div>
                        </div>
                        <!-- /.input group -->
                      </div>
                    </div>


                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <app-loading></app-loading>
                <div class="modal-header">
                  <h4 class="modal-title">Listagem de Ligação Ramais</h4>
                  <div class="card-tools">
                   <!--  <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-toggle="modal"
                      data-target="#newModal" (click)="ini()"><i class="fa fa-plus"></i> Registar</button> -->
                  </div>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <!-- /.card-body -->
                  <div class="table-responsivee">

                    <ngx-loading [show]="loading"></ngx-loading>

                    <table class="table table-hover table-bordered table-stripedd text-center m-0 exportAsXLSXCliente">

                      <tr style="color: #fff; background: #0099FF;">
                        <th width="60">#</th>
                        <th width="550">Ponto inicial</th>
                        <th width="550">Ponto final</th>
                        <th width="550">Nome do Prédio</th>
                        <th width="550">Moradia</th>
                        <th width="550">Diâmetro Nominal</th>
                        <th width="550">Comprimento</th>
                        <th width="550">Profundidade</th>
                        <!-- <th width="5">Acção</th> -->
                      <tr
                        *ngFor="let item of items | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                        <td>{{ i + 1}}</td>
                        <td>{{ item.ponto_a }}</td>
                        <td>{{ item.ponto_b == null ? "-----" :  item.ponto_b }}</td>
                        <td>{{ item.predio_nome == null ? "-----" : item.predio_nome }}</td>
                        <td>{{ item.moradia_numero == null ? "-----" : item.moradia_numero }}</td>
                        <td>{{ item.diamentro == null ? "-----" : item.diamentro }}</td>
                        <td>{{ item.comprimento == null ? "-----" : item.comprimento}}</td>
                        <td>{{ item.profundidade == null ? "-----" : item.profundidade}}</td>
                        <!--      <td>
                          <div class="btn-group btn-block">
                            <button type="button" class="btn btn-info btn-flat btn-sm btn-block"
                              data-toggle="dropdown">Opções</button>
                            <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown"
                              aria-expanded="false">
                              <span class="caret"></span>
                              <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                              style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(67px, 38px, 0px);">

                              <a href="javascript:void(0)" class="dropdown-item btn-sm"
                                (click)="refresh(item.id, item.ponto_a, item.ponto_b,item.diamentro,item.comprimento,
                                item.profundidade,item.moradia_numero,item.predio_nome,item.ponto_a_id,item.ponto_b_id,item.local_instalacao_id)"
                                data-widget="chat-pane-toggle" data-toggle="modal" data-target="#editarModal"> <i
                                  class="fa fa-edit"></i> Editar
                              </a>

                            </div>
                          </div>
                        </td> -->
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="card-footer clearfix">
                  <div class="row">
                    <div class="col-sm-12 col-md-5">
                      <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                        {{this.http.filters.pagination.perPage}} de
                        {{this.http.filters.pagination.total}} Registos
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                      <div class="pull-right">
                        <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior"
                          maxSize="6" nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- /.content -->

    <!-- The Modal -->
    <div class="modal modal-info fade" id="newModal" data-backdrop="static">
      <div class="modal-dialog modal-lg" style="max-width: 1500px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-building"></i>Registar Ligação Ramal</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <app-loading></app-loading>

          <div class="modal-body">
            <app-alert></app-alert>
            <div class="col-md-12">
              <div class="card card-default">

                <!-- /.card-header -->
                <div class="card-body" style="padding: 9px;"><br>
                  <div class="row">

                    <!-- <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label"><i class="fa fa-edit"></i> Ponto A</label>
                        <select class="form-control" [(ngModel)]="ligacao_ramal.ponto_a" name="id">
                          <option [value]="null" selected>Selecione Ponto A</option>
                          <option value="{{ item.id }}" *ngFor="let item of ponto_a">
                            {{item.descricao}}
                          </option>
                        </select>
                      </div>
                    </div> -->

                    <div class="col-md-4">
                      <div class="form-group">
                        <label> Ponto A</label>
                        <div class="input-group">
                          <input type="text" placeholder="Digite o número da casa" [(ngModel)]="ligacao_ramal.ponto_a"
                            class="form-control" (keyup)="getPontoA()">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-flat"
                              style="background-color: #0099FF; color: #ffffff; margin: 3.5px;"><i
                                class="fa fa-search"></i></button>
                          </span>
                        </div>

                        <div class="autocomplete-container" *ngIf="view_ponto_a">
                          <ul>
                            <li *ngFor="let item of ponto_a ">
                              <a href="javascript:void(0)" (click)="setPontoA(item.id, item.descricao)">
                                {{item.descricao}}
                              </a>
                            </li>
                          </ul>
                        </div>

                      </div>
                    </div>

                    <!-- <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label"><i class="fa fa-edit"></i>Ponto B</label>
                        <select class="form-control" [(ngModel)]="ligacao_ramal.ponto_b" name="id">
                          <option [value]="null" selected>Selecione Ponto B</option>
                          <option value="{{ item.id }}" *ngFor="let item of ponto_b">
                            {{item.descricao}}
                          </option>
                        </select>
                      </div>
                    </div> -->

                    <div class="col-md-4">
                      <div class="form-group">
                        <label> Ponto B</label>
                        <div class="input-group">
                          <input type="text" placeholder="Digite o número da casa" [(ngModel)]="ligacao_ramal.ponto_b"
                            class="form-control" (keyup)="getPontoB()">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-flat"
                              style="background-color: #0099FF; color: #ffffff; margin: 3.5px;"><i
                                class="fa fa-search"></i></button>
                          </span>
                        </div>

                        <div class="autocomplete-container" *ngIf="view_ponto_b">
                          <ul>
                            <li *ngFor="let item of ponto_b ">
                              <a href="javascript:void(0)" (click)="setPontoB(item.id, item.descricao)">
                                {{item.descricao}}
                              </a>
                            </li>
                          </ul>
                        </div>

                      </div>
                    </div>


                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label"><i class="fa fa-edit"></i> Diâmetro Nominal</label>
                        <input type="text" class="form-control" placeholder="Diâmetro Nominal"
                          [(ngModel)]="ligacao_ramal.diamentro" name="Diametro_nominal">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label"><i class="fa fa-edit"></i> Comprimento</label>
                        <input type="text" class="form-control" placeholder="Comprimento"
                          [(ngModel)]="ligacao_ramal.comprimento" name="Comprimento">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label"><i class="fa fa-edit"></i> Profundidade</label>
                        <input type="text" class="form-control" placeholder="Profundidade"
                          [(ngModel)]="ligacao_ramal.profundidade" name="Profundidade">
                      </div>
                    </div>

                    <h3 class="col-md-12" style="padding: 15px 10px; background: #0099FF; color: #fff;">
                      Local de Instalação</h3>


                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Província</label>


                        <select [(ngModel)]="residencia.provincia_id" class="form-control"
                          (change)="selectBoxMunicipiosByProvincia()">
                          <option [value]="null">Província</option>
                          <option *ngFor="let i of provincias" [value]="i.id">
                            {{i.abreviatura}} - {{i.nome}}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Município</label>


                        <select [(ngModel)]="residencia.municipio_id" class="form-control"
                          (change)="selectBoxDistritosByMunicipio()" [disabled]="!municipios">
                          <option [value]="null">Município</option>
                          <option *ngFor="let i of municipios" [value]="i.id">
                            {{i.nome}}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-4" *ngIf="distritos">
                      <div class="form-group">
                        <label>Comunas</label>

                        <select *ngIf="residencia.has_distrito == true" [(ngModel)]="residencia.distrito_id"
                          class="form-control" required (change)="selectBoxBairrosByMunicipio()">
                          <option [value]="null">Comuna</option>
                          <option *ngFor="let i of distritos" [value]="i.id">
                            {{i.nome}}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Bairro</label>


                        <select [(ngModel)]="residencia.bairro_id" class="form-control" required
                          (change)="selectBoxRuasByBairro()" [disabled]="!bairros">
                          <option [value]="null">Bairro</option>
                          <option *ngFor="let i of bairros" [value]="i.id">
                            {{i.nome}}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Rua</label>


                        <select [(ngModel)]="residencia.rua_id" class="form-control"
                          (change)="getSelectBoxResidenciasByRua()" [disabled]="!ruas">
                          <option [value]="null">Rua</option>
                          <option *ngFor="let i of ruas" [value]="i.id">
                            {{i.nome}}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Local de Instalação</label>
                        <div class="input-group">
                          <input type="text" placeholder="Digite o número da casa" [(ngModel)]="residencia.nome"
                            [disabled]="!residencias" class="form-control" (keyup)="getResidencia()">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-flat"
                              style="background-color: #0099FF; color: #ffffff; margin: 3.5px;"><i
                                class="fa fa-search"></i></button>
                          </span>
                        </div>

                        <div class="autocomplete-container" *ngIf="view_residencia">
                          <ul>
                            <li *ngFor="let residencia of residencias">
                              <a href="javascript:void(0)"
                                (click)="setResidencia(residencia.id, residencia.moradia_numero, residencia.predio_nome, residencia.is_predio)">
                                {{ ((residencia.is_predio) ? 'Prédio ' + residencia.predio_nome + ', ' + item.predio_andar + 'ºAndar - Porta ' : 'Residência ') + residencia.moradia_numero }}
                              </a>
                            </li>
                          </ul>
                        </div>

                      </div>
                    </div>


                  </div>
                </div>
                <!-- /.card-body -->
              </div>
            </div>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"> Fechar</button>
            <button type="button" (click)="register()" class="btn btn-primary btn-sm">Salvar</button>
          </div>


        </div>
      </div>
    </div>


    <!-- The Modal -->
    <div class="modal modal-info fade" id="editarModal" data-backdrop="static">
      <div class="modal-dialog modal-lg" style="max-width: 1500px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-edit"></i> Editar Ligação Ramal</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <app-loading></app-loading>

          <div class="modal-body">
            <app-alert></app-alert>
            <div class="col-md-12">
              <div class="card card-default">

                <!-- /.card-header -->
                <div class="card-body" style="padding: 9px;"><br>
                  <div class="row">

                    <!-- <div class="col-md-4">
                        <div class="form-group">
                          <label class="control-label"><i class="fa fa-edit"></i> Ponto A</label>
                          <select class="form-control" [(ngModel)]="ligacao_ramal.ponto_a" name="id">
                            <option [value]="null" selected>Selecione Ponto A</option>
                            <option value="{{ item.id }}" *ngFor="let item of ponto_a">
                              {{item.descricao}}
                            </option>
                          </select>
                        </div>
                      </div> -->

                    <div class="col-md-4">
                      <div class="form-group">
                        <label> Ponto A</label>
                        <div class="input-group">
                          <input type="text" placeholder="Digite o número da casa" [(ngModel)]="ligacao_ramal.ponto_a"
                            class="form-control" (keyup)="getPontoA()">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-flat"
                              style="background-color: #0099FF; color: #ffffff; margin: 3.5px;"><i
                                class="fa fa-search"></i></button>
                          </span>
                        </div>

                        <div class="autocomplete-container" *ngIf="view_ponto_a">
                          <ul>
                            <li *ngFor="let item of ponto_a ">
                              <a href="javascript:void(0)" (click)="setPontoA(item.id, item.descricao)">
                                {{item.descricao}}
                              </a>
                            </li>
                          </ul>
                        </div>

                      </div>
                    </div>

                    <!-- <div class="col-md-4">
                        <div class="form-group">
                          <label class="control-label"><i class="fa fa-edit"></i>Ponto B</label>
                          <select class="form-control" [(ngModel)]="ligacao_ramal.ponto_b" name="id">
                            <option [value]="null" selected>Selecione Ponto B</option>
                            <option value="{{ item.id }}" *ngFor="let item of ponto_b">
                              {{item.descricao}}
                            </option>
                          </select>
                        </div>
                      </div> -->

                    <div class="col-md-4">
                      <div class="form-group">
                        <label> Ponto B</label>
                        <div class="input-group">
                          <input type="text" placeholder="Digite o número da casa" [(ngModel)]="ligacao_ramal.ponto_b"
                            class="form-control" (keyup)="getPontoB()">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-flat"
                              style="background-color: #0099FF; color: #ffffff; margin: 3.5px;"><i
                                class="fa fa-search"></i></button>
                          </span>
                        </div>

                        <div class="autocomplete-container" *ngIf="view_ponto_b">
                          <ul>
                            <li *ngFor="let item of ponto_b ">
                              <a href="javascript:void(0)" (click)="setPontoB(item.id, item.descricao)">
                                {{item.descricao}}
                              </a>
                            </li>
                          </ul>
                        </div>

                      </div>
                    </div>


                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label"><i class="fa fa-edit"></i> Diâmetro Nominal</label>
                        <input type="text" class="form-control" placeholder="Diâmetro Nominal"
                          [(ngModel)]="ligacao_ramal.diamentro" name="Diametro_nominal">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label"><i class="fa fa-edit"></i> Comprimento</label>
                        <input type="text" class="form-control" placeholder="Comprimento"
                          [(ngModel)]="ligacao_ramal.comprimento" name="Comprimento">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label"><i class="fa fa-edit"></i> Profundidade</label>
                        <input type="text" class="form-control" placeholder="Profundidade"
                          [(ngModel)]="ligacao_ramal.profundidade" name="Profundidade">
                      </div>
                    </div>

                    <h3 class="col-md-12" style="padding: 15px 10px; background: #0099FF; color: #fff;">
                      Local de Instalação</h3>


                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Província</label>


                        <select [(ngModel)]="residencia.provincia_id" class="form-control"
                          (change)="selectBoxMunicipiosByProvincia()">
                          <option [value]="null">Província</option>
                          <option *ngFor="let i of provincias" [value]="i.id">
                            {{i.abreviatura}} - {{i.nome}}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Município</label>


                        <select [(ngModel)]="residencia.municipio_id" class="form-control"
                          (change)="selectBoxDistritosByMunicipio()" [disabled]="!municipios">
                          <option [value]="null">Município</option>
                          <option *ngFor="let i of municipios" [value]="i.id">
                            {{i.nome}}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-4" *ngIf="distritos">
                      <div class="form-group">
                        <label>Comunas</label>

                        <select *ngIf="residencia.has_distrito == true" [(ngModel)]="residencia.distrito_id"
                          class="form-control" required (change)="selectBoxBairrosByMunicipio()">
                          <option [value]="null">Comuna</option>
                          <option *ngFor="let i of distritos" [value]="i.id">
                            {{i.nome}}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Bairro</label>


                        <select [(ngModel)]="residencia.bairro_id" class="form-control" required
                          (change)="selectBoxRuasByBairro()" [disabled]="!bairros">
                          <option [value]="null">Bairro</option>
                          <option *ngFor="let i of bairros" [value]="i.id">
                            {{i.nome}}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Rua</label>


                        <select [(ngModel)]="residencia.rua_id" class="form-control"
                          (change)="getSelectBoxResidenciasByRua()" [disabled]="!ruas">
                          <option [value]="null">Rua</option>
                          <option *ngFor="let i of ruas" [value]="i.id">
                            {{i.nome}}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Local de Instalação</label>
                        <div class="input-group">
                          <input type="text" placeholder="Digite o número da casa" [(ngModel)]="residencia.nome"
                            [disabled]="!residencias" class="form-control" (keyup)="getResidencia()">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-flat"
                              style="background-color: #0099FF; color: #ffffff; margin: 3.5px;"><i
                                class="fa fa-search"></i></button>
                          </span>
                        </div>

                        <div class="autocomplete-container" *ngIf="view_residencia">
                          <ul>
                            <li *ngFor="let residencia of residencias">
                              <a href="javascript:void(0)"
                                (click)="setResidencia(residencia.id, residencia.moradia_numero, residencia.predio_nome, residencia.predio_andar, residencia.is_predio)">
                                {{ ((residencia.is_predio) ? 'Prédio ' + residencia.predio_nome + ', ' + residencia.predio_andar + 'ºAndar - Porta ' : 'Residência ') + residencia.moradia_numero }}
                              </a>
                            </li>
                          </ul>
                        </div>

                      </div>
                    </div>


                  </div>
                </div>
                <!-- /.card-body -->
              </div>
            </div>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"> Fechar</button>
            <button type="submit" (click)="editar()" class="btn btn-primary btn-sm">Salvar</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<app-setingsnavbar></app-setingsnavbar>
<app-footernavbar></app-footernavbar>
