<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><i class="fa fa-users"></i> Tipologia de Clientes</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Configuração</a></li>
              <li class="breadcrumb-item active">Tipologia de Clientes</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

      <div class="row">

        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title"> Filtro de Dados</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <div class="row">


                    <div class="col-md-1 col-xs-3">
                      <div class="form-group">
                        <select name="perPage" (change)="getPageFilterData($event)"
                          [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
                          <option value="5" selected>Entrada</option>
                          <option value="5">5</option>
                          <option value="10">10</option>
                          <option value="15">15</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                        </select>
                      </div>
                      <!-- /.input group -->
                    </div>

                    <div class="col-md-5 col-xs-3">
                      <div class="form-group">
                        <input type="text" name="search" [(ngModel)]="this.http.filters.search" class="form-control"
                          (keyup)="getPageFilterData($event)" placeholder="Pesquisar..." class="form-control">
                        <i class="fa fa-search"
                          style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                        <small>Pesquisar por Descrição</small>
                      </div>
                      <!-- /.input group -->
                    </div>

                    <div class="col-md-1 col-xs-3">
                      <div class="form-group">
                        <select name="orderBy" (change)="getPageFilterData($event)"
                          [(ngModel)]="this.http.filters.orderBy" class="form-control">
                          <option [ngValue]="null">Ordernar</option>
                          <option value="descricao">descricao</option>
                          <option value="created_at">Data</option>
                        </select>
                      </div>
                      <!-- /.input group -->
                    </div>

                    <div class="col-md-1 col-xs-3">
                      <div class="form-group">
                        <div class="input-group">
                          <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-flat mr-1 btn-smm" type="button"
                              (click)="getPageFilterData($event)"><i class="fa fa-search"></i> Filtrar</button>

                          </div>
                        </div>
                        <!-- /.input group -->
                      </div>
                    </div>


                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-12">
          <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;">
              <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                <!-- Modal Header -->
                <app-loading></app-loading>
                <div class="modal-header">
                  <h4 class="modal-title">Listagem</h4>
                  <div class="card-tools">
                    <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-toggle="modal"
                      data-target="#newModal" (click)="ini()"><i class="fa fa-plus"></i> Registar</button>
                  </div>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <!-- /.card-body -->
                  <div class="table-responsivee">

                    <ngx-loading [show]="loading"></ngx-loading>

                    <table class="table table-hover table-bordered table-stripedd text-center m-0 exportAsXLSXCliente">

                      <tr style="color: #fff; background: #0099FF;">
                        <th width="60">#</th>
                        <th width="550">Descrição</th>
                        <th width="550">Sujeito a Corte</th>
                        <th width="550">Juros de Mora</th>
                        <th width="550">Caução</th>
                        <th width="550">Nível de Sensibilidade</th>
                        <!--                         <th width="550">Slug</th> -->
                        <th width="5">Acção</th>
                      </tr>
                      <tr
                        *ngFor="let item of items | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                        <td>{{ i + 1}}</td>
                        <td>{{ item.descricao }}</td>
                        <td>
                          <div align="center">
                            <i style="padding: 3px; border-radius: 5px;" *ngIf="item.sujeito_corte == 1"
                              class="fa fa-check alert-success"></i>
                            <i style="padding: 3px 5px; border-radius: 5px;" *ngIf="item.sujeito_corte == 0"
                              class="fa fa-close alert-danger"></i>
                          </div>
                        </td>
                        <td>{{ configService.numberFormat(item.juro_mora) }}%</td>
                        <td>{{ configService.numberFormat(item.caucao) }}</td>
                        <td>{{ item.nivelsensibilidade }}</td>
                        <!--                         <td>{{ item.slug }}</td> -->

                        <td>
                          <div class="btn-group btn-block">
                            <button type="button" class="btn btn-info btn-flat btn-sm btn-block"
                              data-toggle="dropdown">Opções</button>
                            <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown"
                              aria-expanded="false">
                              <span class="caret"></span>
                              <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                              style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(67px, 38px, 0px);">

                              <a href="javascript:void(0)" class="dropdown-item btn-sm"
                                (click)="refresh(item.id, item.descricao, item.slug, item.caucao, item.sujeito_corte, item.juro_mora, item.nivel_sensibilidade_id)"
                                data-widget="chat-pane-toggle" data-toggle="modal" data-target="#editarModal"> <i
                                  class="fa fa-edit"></i> Editar
                              </a>

                              <li class="divider"></li>

                              <a href="javascript:void(0)" class="dropdown-item btn-sm"
                                (click)="refresh(item.id, item.descricao, item.sujeito_corte, item.juro_mora, item.nivel_sensibilidade_id); getTiposbyTipologia(item.id)"
                                data-widget="chat-pane-toggle" data-toggle="modal" data-target="#AssociarEstadosModal">
                                <i class="fa fa-edit"></i> Tipos de Tipologia
                              </a>

                            </div>
                          </div>
                        </td>

                      </tr>
                    </table>

                  </div>
                </div>
                <div class="card-footer clearfix">
                  <div class="row">
                    <div class="col-sm-12 col-md-5">
                      <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                        {{this.http.filters.pagination.perPage}} de
                        {{this.http.filters.pagination.total}} Registos
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                      <div class="pull-right">
                        <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior"
                          maxSize="6" nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- /.content -->

    <!-- The Modal -->
    <div class="modal modal-info fade" id="newModal" data-backdrop="static">
      <div class="modal-dialog modal-lg" style="max-width: 935px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-users"></i> Novo</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <app-loading></app-loading>
          <form (submit)="register($event)">
            <div class="modal-body">
              <app-alert></app-alert>
              <div class="col-md-12">
                <div class="card card-default">

                  <!-- /.card-header -->
                  <div class="card-body" style="padding: 9px;"><br>
                    <div class="row">

                      <div class="col-md-6">
                        <div class="form-group has-warning">
                          <label class="col-form-label" for="descricao"> Descrição</label>
                          <div class="form-group mb-4">
                            <input type="text" [(ngModel)]="tipologiacliente.descricao" class="form-control"
                              placeholder="Descrição" name="descricao">
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group has-warning">
                          <label class="col-form-label" for="nivel_sensibilidade_id">Nível de Sensibilidade</label>
                          <div class="input-group mb-2">
                            <select class="form-control" name="nivel_sensibilidade_id"
                              [(ngModel)]="tipologiacliente.nivel_sensibilidade_id">
                              <option [value]="null">Selecione o Nível Sensibilidade</option>
                              <option value="{{ item.id }}" *ngFor="let item of NivelSensibilidade">
                                {{ item.descricao }}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group has-warning">
                          <label class="col-form-label" for="sujeito_corte">Sujeito a Corte?</label>
                          <div class="input-group mb-2">
                            <select class="form-control" [(ngModel)]="tipologiacliente.sujeito_corte"
                              name="sujeito_corte">
                              <option [value]="null">Selecione</option>
                              <option value="1">Sim</option>
                              <option value="0">Não</option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <label class="control-label" style="margin-top: 6px; margin-left: 24px"><input
                            style="margin-top: 27px;" type="checkbox" (change)="setJuro()" class="form-check-input">
                          Juros de Mora</label>
                        <input *ngIf="has_juro" type="number" [(ngModel)]="tipologiacliente.juro_mora"
                          class="form-control" placeholder="Juros de Mora" name="juro">
                      </div>

                      <div class="col-md-4">
                        <label class="control-label" style="margin-top: 6px; margin-left: 24px"><input
                            style="margin-top: 27px;" type="checkbox" (change)="setCaucao()" class="form-check-input">
                          Caução</label>
                        <input *ngIf="has_caucao" [(ngModel)]="tipologiacliente.caucao" type="number"
                          class="form-control" placeholder="Caução" name="caucao">
                      </div>

                      <!--                       <div class="col-md-4">
                <label class="control-label" style="padding: 16px 0px 0px 21px;"><input style="margin-top: 27px;"
                    type="checkbox" (change)="setCorte()" [(ngModel)]="tipologiacliente.sujeito_corte" class="form-check-input"> Sujeito a Corte?</label>
              </div> -->
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"> Fechar</button>
              <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
            </div>
          </form>

        </div>
      </div>


    </div>

    <!-- The Modal -->
    <div class="modal modal-info fade" id="editarModal" data-backdrop="static">
      <div class="modal-dialog modal-lg" style="max-width: 935px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-users"></i> Editar</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <app-loading></app-loading>
          <form (submit)="editar($event)">
            <div class="modal-body">
              <app-alert></app-alert>
              <div class="col-md-12">
                <div class="card card-default">

                  <!-- /.card-header -->
                  <div class="card-body" style="padding: 9px;"><br>
                    <div class="row">

                      <div class="col-md-6">
                        <div class="form-group has-warning">
                          <label class="col-form-label" for="descricao"> Descrição</label>
                          <div class="form-group mb-4">
                            <input type="text" [(ngModel)]="tipologiacliente.descricao" class="form-control"
                              placeholder="Descrição" name="descricao">
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group has-warning">
                          <label class="col-form-label" for="nivel_sensibilidade_id">Nível de Sensibilidade</label>
                          <div class="input-group mb-2">
                            <select class="form-control" name="nivel_sensibilidade_id"
                              [(ngModel)]="tipologiacliente.nivel_sensibilidade_id">
                              <option [value]="null">Selecione o Nível Sensibilidade</option>
                              <option value="{{ item.id }}" *ngFor="let item of NivelSensibilidade">
                                {{ item.descricao }}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group has-warning">
                          <label class="col-form-label" for="sujeito_corte">Sujeito a Corte?</label>
                          <div class="input-group mb-2">
                            <select class="form-control" [(ngModel)]="tipologiacliente.sujeito_corte"
                              name="sujeito_corte">
                              <option [value]="null">Selecione</option>
                              <option value="1">Sim</option>
                              <option value="0">Não</option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <label class="control-label" style="margin-top: 6px; margin-left: 24px"><input
                            style="margin-top: 27px;" type="checkbox" (change)="setJuro()" class="form-check-input">
                          Juros de Mora</label>
                        <input *ngIf="has_juro" type="number" [(ngModel)]="tipologiacliente.juro_mora"
                          class="form-control" placeholder="Juros de Mora" name="juro">
                      </div>

                      <div class="col-md-4">
                        <label class="control-label" style="margin-top: 6px; margin-left: 24px"><input
                            style="margin-top: 27px;" type="checkbox" (change)="setCaucao()" class="form-check-input">
                          Caução</label>
                        <input *ngIf="has_caucao" [(ngModel)]="tipologiacliente.caucao" type="number"
                          class="form-control" placeholder="Caução" name="caucao">
                      </div>

                      <!--                       <div class="col-md-4">
                <label class="control-label" style="padding: 16px 0px 0px 21px;"><input style="margin-top: 27px;"
                    type="checkbox" (change)="setCorte()" [(ngModel)]="tipologiacliente.sujeito_corte" class="form-check-input"> Sujeito a Corte?</label>
              </div> -->
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"> Fechar</button>
              <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
            </div>
          </form>

        </div>
      </div>

    </div>

    <div class="modal modal-info fade in" id="AssociarEstadosModal" data-backdrop="static">
      <div class="modal-dialog modal-lg " style="max-width: 1100px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-users"></i>
              <b> Tipologia</b>: {{ tipologiacliente.descricao }}<br>
            </h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <app-loading></app-loading>
            <section class="content">
              <div class="content">
                <div class="row">
                  <div class="col-md-12">

                    <div class="card">

                      <div class="card-header">
                        <h3 class="card-title">Tipos de Tipologia</h3>
                        <div class="card-tools">
                          <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-toggle="modal"
                            data-target="#estadoModal"><i class="fa fa-plus"></i> Registar</button>
                        </div>
                      </div>


                      <!-- /.card-header -->
                      <div class="card-body table-responsiveee">
                        <table
                          class="table table-hover table-bordered table-striped text-center m-0 exportAsXLSXDisponiveis">
                          <tbody>
                            <tr style="color: #fff; background: #0099FF;">
                              <th>#</th>
                              <th width="550">Descrição</th>
                              <th width="550">Sujeito a Corte</th>
                              <th width="550">Juros de Mora</th>
                              <th width="550">Caução</th>
                              <th width="550">Nível de Sensibilidade</th>

                            </tr>
                            <tr *ngFor="let item of TiposbyTipologias index as i">
                              <td>{{ i + 1}}</td>
                              <td>{{ item.descricao }}</td>
                              <td>
                                <div align="center">
                                  <i style="padding: 3px; border-radius: 5px;" *ngIf="item.sujeito_corte == 1"
                                    class="fa fa-check alert-success"></i>
                                  <i style="padding: 3px 5px; border-radius: 5px;" *ngIf="item.sujeito_corte == 0"
                                    class="fa fa-close alert-danger"></i>
                                </div>
                              </td>
                              <td>{{ configService.numberFormat(item.juro_mora) }}%</td>
                              <td>{{ configService.numberFormat(item.caucao) }}</td>
                              <td>{{ item.nivelsensibilidade }}</td>

                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- /.card-body -->
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
          </div>


        </div>
      </div>
    </div>

    <!-- The Modal -->
    <div class="modal modal-info fade" id="estadoModal" data-backdrop="static">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-users"></i> Tipo de Tipologia</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <app-loading></app-loading>
          <form (submit)="cadastrar($event)">
            <div class="modal-body">
              <app-alert></app-alert>
              <div class="col-md-12">
                <div class="card card-default">

                  <!-- /.card-header -->
                  <div class="card-body" style="padding: 9px;"><br>
                    <div class="row">

                      <div class="col-md-6">
                        <div class="form-group has-warning">
                          <label class="col-form-label" for="descricao"> Descrição</label>
                          <div class="form-group mb-4">
                            <input type="text" class="form-control" placeholder="Descrição"
                              [(ngModel)]="tipostipologia.descricao" name="descricao">
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group has-warning">
                          <label class="col-form-label" for="tipo_produto_id">Nível de Sensibilidade</label>
                          <div class="input-group mb-2">
                            <select class="form-control" name="nivel_sensibilidade_id"
                              [(ngModel)]="tipostipologia.nivel_sensibilidade_id">
                              <option [value]="null">Selecione</option>
                              <option value="{{ item.id }}" *ngFor="let item of NivelSensibilidade">
                                {{ item.descricao }}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <label class="control-label" style="margin-top: 6px; margin-left: 24px"><input
                            style="margin-top: 27px;" type="checkbox" (change)="setJuro()" class="form-check-input">
                          Juros de Mora</label>
                        <input *ngIf="has_juro" type="number" [(ngModel)]="tipostipologia.juro_mora"
                          class="form-control" placeholder="Juros de Mora" name="juro">
                      </div>

                      <div class="col-md-4">
                        <label class="control-label" style="margin-top: 6px; margin-left: 24px"><input
                            style="margin-top: 27px;" type="checkbox" (change)="setCaucao()" class="form-check-input">
                          Caução</label>
                        <input *ngIf="has_caucao" [(ngModel)]="tipostipologia.caucao" type="number" class="form-control"
                          placeholder="Caução" name="caucao">
                      </div>

                      <div class="col-md-4">
                        <label class="control-label" style="padding: 16px 0px 0px 21px;"><input
                            style="margin-top: 27px;" type="checkbox" (change)="setCorte()" class="form-check-input">
                          Sujeito a Corte?</label>
                      </div>

                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"> Fechar</button>
              <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
            </div>
          </form>

        </div>
      </div>
    </div>


    <app-setingsnavbar></app-setingsnavbar>
    <app-footernavbar></app-footernavbar>