
  <div class="wrapper">
    <app-topnavbar></app-topnavbar>
    <app-asidenavbar></app-asidenavbar>
    <div class="content-wrapper" style="min-height: 768px;">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Business Intelligence</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right"> 
                <li class="breadcrumb-item active">Business Intelligence</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-md-12" style="padding: 30px;">
  
  <iframe src="#" frameborder="0"
    width="100%" height="800" allowtransparency></iframe>

          </div>
        </div>
      </section>
      <!-- /.content -->
  
      <!-- The Modal --> 
    </div>
    <app-setingsnavbar></app-setingsnavbar>
    <app-footernavbar></app-footernavbar>
  </div>