<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper" style="min-height: 768px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Numeração</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Gestão</a></li>
              <li class="breadcrumb-item active">Numeração</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body" style="padding: 13px 10px 4px 10px;">
                <div class="row">
                  <div class="col-1">
                    <select name="perPage" (change)="getPageFilterData($event)"
                      [(ngModel)]="this.http.filters.pagination.perPage" class="form-control">
                      <option value="1">Entrada</option>
                      <option value="5" selected>5</option>
                      <option value="10">10</option>
                      <option value="25">25</option>
                    </select>
                    <small>Entradas</small>
                  </div>
                  <div class="col-md-5">
                    <input type="text" name="search" [(ngModel)]="this.http.filters.search" placeholder="Pesquisar..."
                      class="form-control" (keyup)="getPageFilterData($event)">
                    <i class="fa fa-search"
                      style="float: right;margin:-30px 10px 0 0px; font-size: 22px; color: #777;"></i>
                    <small>Pesquisar por número, tecnologia, filial</small>
                  </div>
                  
                  <div class="col-2">
                    <select (change)="getPageFilterData($event)" [(ngModel)]="this.http.filters.orderBy" class="form-control">
                        <option [ngValue]="null">Ordernar</option>
                      <option value="numeracaos.created_at">Data</option>
                      <option value="numeracaos.numero">Número</option>
                      <option value="tecnologias.nome">Tecnologia</option>
                      <option value="filials.nome">Filial</option>
                     
                    </select>
                    <small>Ordernação</small>
                  </div>

                  <div class="col-1">
                    <button type="button" class="btn btn-blockk btn-info" (click)="getPageFilterData($event)"><i
                        class="fa fa-search"></i> Filtrar</button>
                  </div>
                </div>

              </div>
            </div>


            <div class="card">
              <app-loading></app-loading>
              <div class="card-header">
                <h3 class="card-title">NUMERAÇÃO INVENTÁRIO DE REDE</h3>
                <div class="card-tools">
                  <button *ngIf="http.canActivateRouterLink('register_tipo_reclamacao')" type="button" class="btn btn-primary"
                    data-toggle="modal" data-target="#newModal" (click)="ini();selectBox()"><i class="fa fa-plus"></i> NOVO</button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive">
                <table class="table table-hover table-bordered table-striped text-center">
                  <tbody>
                    <tr>
                      <th>#</th>
                      <th>Número</th>
                      <th>Tecnologia</th>
                      <th>Filial</th>
                      <th width="150px">Estado</th>
                      <th width="200px">Acção</th>
                    </tr>
                    <tr
                      *ngFor="let item of items | paginate: { itemsPerPage: this.http.filters.pagination.perPage, currentPage: this.http.filters.pagination.page, totalItems: this.http.filters.pagination.total }; index as i">
                      <td>{{ i + 1 }}</td>
                      <td>{{ item.numero }}</td>
                      <td>{{ item.tecnologiaNome }}</td>
                      <td>{{ item.filialNome }}</td>
                      <td>
                        <span class="btn bg-success btn-block btn-flat" *ngIf="!item.status">Não Disponibilizado</span>
                        <span class="btn bg-warning btn-block btn-flat" *ngIf="item.status">Disponibilizado</span>
                      </td>
                     
                      <td>
                        <div class="btn-group">
                          <button type="button" data-widget="chat-pane-toggle" data-toggle="modal"
                            data-target="#editarModal" title="Editar" class="btn btn-info btn-flat"
                            (click)="refresh(item.id, item.numero, item.tecnologia_id, item.filial_id); selectBox()"><i class="fa fa-edit"></i></button>

                          <button type="button" data-widget="chat-pane-toggle" data-toggle="modal"
                            data-target="#disponibilizarModal" title="Disponibilizar" class="btn btn-info btn-flat"
                            (click)="refreshDisponibilizar(item.id, item.numero, item.tecnologiaNome, item.filialNome)"><i class="fa fa-send-o"></i></button>
                            <!--
                          <button type="button" class="btn btn-flat btn-danger"><i class="fa fa-trash-o"></i></button>
                        -->
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer clearfix">
                <div class="row">
                  <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info">Mostrando de {{this.http.filters.pagination.page}} a
                      {{this.http.filters.pagination.perPage}} de
                      {{this.http.filters.pagination.total}} Registos
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-7">
                    <div class="pull-right">
                      <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior" maxSize="6"
                        nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->



    <!-- The Modal -->
    <div class="modal modal-info fade" id="newModal" data-backdrop="static">
      <div class="modal-dialog modal-lg" style="max-width: 935px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-credit-card"></i> NOVO NÚMERO</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <app-loading></app-loading>
          <form (submit)="register($event)">
            <div class="modal-body">
              <app-alert></app-alert>
              <div class="col-md-12">
                <div class="card card-default">
                  <div class="card-header">
                    <h3 class="card-title">DADOS DO FORMULÁRIO</h3>

                    <!-- /.card-tools -->
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body" style="padding: 9px;"><br>
                    <div class="row">
                     

                      <div class="col-md-6">
                        <label>Tecnologia</label>
                        <div class="form-group ">
                          <select class="form-control" name="tecnologia_id" [(ngModel)]="numeracao.tecnologia_id">
                            <option [value]="null"> {{ carregando.tecnologia  }}</option>
                            <option value="{{ tecnologia.id }}" *ngFor="let tecnologia of tecnologias"> {{ tecnologia.nome }}</option>
                          </select>
                          <span class="input-group-btn">
                          </span>
                        </div>
                      </div>
                      

                      <div class="col-md-6">
                        <label>Filial</label>
                        <div class="form-group ">
                          <select class="form-control" (change)="getPhoneIndicativo()" name="filial_id" [(ngModel)]="numeracao.filial_id">
                            <option [value]="null"> {{ carregando.filial  }}</option>
                            <option value="{{ filial.id }}" *ngFor="let filial of filiais"> {{ filial.nome }}</option>
                          </select>
                          <span class="input-group-btn">
                          </span>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="control-label"><i class="fa fa-edit"></i> Número</label>
                          <input type="text" class="form-control" prefix="{{ indicativo }}" mask="{{ phoneMask }}" (keyup)="getPhoneMask($event)" placeholder="Número" [(ngModel)]="numeracao.numero"
                            name="numero">
                        </div>
                      </div>

                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"> Fechar</button>
              <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
            </div>
          </form>

        </div>
      </div>
    </div>

    <!-- The Modal -->
    <div class="modal modal-info fade" id="editarModal" data-backdrop="static">
      <div class="modal-dialog modal-lg" style="max-width: 935px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-credit-card"></i> EDITAR NÚMERO: {{ numeracao.numeroEdit }}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <app-loading></app-loading>
          <form (submit)="editar($event)">
            <div class="modal-body">
              <app-alert></app-alert>
              <div class="col-md-12">
                <div class="card card-default">
                  <div class="card-header">
                    <h3 class="card-title">DADOS DO FORMULÁRIO</h3>

                    <!-- /.card-tools -->
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body" style="padding: 9px;"><br>
                    <div class="row">
                     

                      <div class="col-md-6">
                        <label>Tecnologia</label>
                        <div class="form-group ">
                          <select class="form-control" name="tecnologia_id" [(ngModel)]="numeracao.tecnologia_id">
                            <option [value]="null"> {{ carregando.tecnologia  }}</option>
                            <option value="{{ tecnologia.id }}" *ngFor="let tecnologia of tecnologias"> {{ tecnologia.nome }}</option>
                          </select>
                          <span class="input-group-btn">
                          </span>
                        </div>
                      </div>
                      

                      <div class="col-md-6">
                        <label>Filial</label>
                        <div class="form-group ">
                          <select class="form-control" name="filial_id" [(ngModel)]="numeracao.filial_id">
                            <option [value]="null"> {{ carregando.filial  }}</option>
                            <option value="{{ filial.id }}" *ngFor="let filial of filiais"> {{ filial.nome }}</option>
                          </select>
                          <span class="input-group-btn">
                          </span>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="control-label"><i class="fa fa-edit"></i> Número</label>
                          <input type="text" class="form-control" placeholder="Número" [(ngModel)]="numeracao.numero"
                            name="numero">
                        </div>
                      </div>

                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"> Fechar</button>
              <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
            </div>
          </form>

        </div>
      </div>
    </div>

     <!-- The Modal -->
     <div class="modal modal-info fade" id="disponibilizarModal" data-backdrop="static">
      <div class="modal-dialog modal-lg" style="max-width: 935px;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-credit-card"></i> DISPONIBILIZAR NÚMERO</h4>
            <button type="button" class="close" (click)="closeForm()" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <app-loading></app-loading>
          <form (submit)="disponibilizar($event)">
            <div class="modal-body">
              <app-alert></app-alert>
              <div class="col-md-12">
                <div class="card card-default">
                  <div class="card-header">
                    <h3 class="card-title">{{numeracao.numero}}</h3>

                    <!-- /.card-tools -->
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body" style="padding: 9px;"><br>
                    <div class="row">

                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="control-label"><i class="fa fa-edit"></i> Número</label>
                          <input type="text" class="form-control" readonly placeholder="" [(ngModel)]="numeracao.numero"
                            name="numero">
                        </div>
                      </div>
                     

                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label"><i class="fa fa-edit"></i> Tecnologia</label>
                          <input type="text" class="form-control" readonly placeholder="" [(ngModel)]="numeracao.tecnologia"
                            name="tecnologia">
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label"><i class="fa fa-edit"></i> Filial</label>
                          <input type="text" class="form-control" readonly placeholder="" [(ngModel)]="numeracao.filial"
                            name="filial">
                        </div>
                      </div>
                      

                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" (click)="closeForm()" class="btn btn-outline-danger btn-sm" data-dismiss="modal"> Fechar</button>
              <button type="submit" *ngIf="isFinalizar" class="btn btn-primary btn-sm"><i class="fa fa-send-o"></i> Enviar</button>
            </div>
          </form>

        </div>
      </div>
    </div>


    
  </div>

  <app-setingsnavbar></app-setingsnavbar>
  <app-footernavbar></app-footernavbar>
</div>
